.game-info
  display flex
  flex-direction column
  box-sizing border-box
  margin-bottom 1.3rem

  &__game-title
    display flex
    align-items center
    box-sizing border-box
    width 100%
    font-weight bold
    font-style normal
    font-size 1.3rem

  &__details
    display flex
    flex-wrap wrap
    box-sizing border-box
    width 100%

  &__hall-title
    margin-left 0.3rem
    width 100%

  &__front-desk
    margin-left 0.3rem

  &__front-desk, &__shoe-number, &__round-number
    margin-right 0.5rem

  &__details-group
    display flex
    margin-top 0.5rem

  &__horizon-line
    margin 1rem 0
    width 100%
    border-top 1px solid
    color #000000

  &__vertical-line
    margin 0 1rem
    border-right 1px solid
    color #000000
