.fancy-game-result
  &__modal
    box-sizing border-box
    margin auto
    padding 1rem
    width 400px
    border-width 1px
    border-style solid
    border-color rgba(121, 121, 121, 1)
    background-color rgba(228, 228, 228, 1)

.game-result
  display flex
  justify-content space-around
  align-items center

  &__board
    width 110px
    text-align center

  &__title
    margin-bottom 5px
    font-weight 700
    font-style normal
    font-size 16px

  &__content
    display flex
    justify-content space-evenly
    width 100%
