button()
  display flex
  justify-content center
  align-items center
  box-sizing border-box
  padding 0.5rem 1rem
  height 2rem
  border 1px solid #cccccc
  border-radius 0.2rem
  cursor pointer

primaryButton()
  button()
  border 1px solid #000000
  background-color #666666
  color #ffffff

secondaryButton()
  button()
  border 1px solid #000000
  background-color #ffffff
  color #000000
