centerPosition()
  top 50%
  right initial
  bottom initial
  left 50%
  transform translate(-50%, -50%)

leftCenterPosition(space)
  top 50%
  right initial
  bottom initial
  left space
  transform translate(0, -50%)

rightCenterPosition(space)
  top 50%
  right space
  bottom initial
  left initial
  transform translate(0, -50%)

letfTopPosition(space)
  top space
  right initial
  bottom initial
  left space
  transform none

letfBottomPosition(space)
  top initial
  right initial
  bottom space
  left space
  transform none

rightTopPosition(space)
  top space
  right space
  bottom initial
  left initial
  transform none

rightBottomPosition(space)
  top initial
  right space
  bottom space
  left initial
  transform none
