<template>
  <div class="container t2">
    <div class="eleTitle" id="labThirdSubTitleInBasicitem">遊戲伺服器管理</div>
    <div class="eleContent">
      <div class="filterbar">
        <div class="_item c_address">
          <div class="_t">連結位置</div>
          <input
            type="text"
            id="iptGameServerIP"
            v-model="s_address"
            v-validate="{AlphaNumSymbol:true,required:true,min:1,max:50}"
            name="LinkAddress"
            v-bind:class="{'_input':true,'v_error':V_err.has('LinkAddress')}"
          />
        </div>
        <div class="_item c_remark">
          <div class="_t">備註</div>
          <input type="text" id="iptGameServerPS" v-model="s_remark" />
        </div>
        <div class="_btn_c" id="btnAddGameServer" @click="addD()">新增</div>
      </div>
      <div id="tabGameServer">
        <div class="t_f">
          <div class="_col">連結位置</div>
          <div class="_col">備註</div>
          <div class="_col _del">操作</div>
        </div>

        <div class="t_d" v-for="item in serverData">
          <div class="_col">{{item.address}}</div>
          <div class="_col">{{item.remark}}</div>
          <div class="_col _del">
            <div class="_btn_c b_del" @click="delD(item.uid)">刪除</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"

export default {
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      serverAlias: "GAME",
      s_address: "",
      s_remark: ""
    }
  },
  computed: {
    serverData() {
      var re = this.$store.getters["game/Get_serverSetting"](this.$data.serverAlias)

      return re
    }
  },
  methods: {
    delD(uid) {
      var _this = this
      GameManager.serverSettings_del(this.loginToken, uid)
        .then(function(res) {
          var d = res.basicItems.serverSettings
          _this.$store.dispatch("game/Set_serverSettings", d)
        })
        .catch(function(error) {})
    },
    addD() {
      var _this = this

      var serverAlias = this.$data.serverAlias

      var d = {
        serverTypesUid: this.$store.getters["game/Get_serverTypesUid"](serverAlias),
        alias: serverAlias,
        address: this.$data.s_address,
        remark: this.$data.s_remark
      }
      _this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        GameManager.serverSettings_add(this.loginToken, d)
          .then(function(res) {
            var d = res.basicItems.serverSettings
            _this.$store.dispatch("game/Set_serverSettings", d)
            _this.$data.s_address = ""
            _this.$data.s_remark = ""
            _this.$validator.reset()
          })
          .catch(function(error) {})
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "../../../styles/less/BasicManage.less";

@w : 850px;

.c_address {
  width: 450px;
  input {
    width: 99%;
  }
}
.c_remark {
  width: 300px;
  input {
    width: 99%;
  }
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;
}
</style>
