<template>
  <div class="container">
    <div class="eleTitle" id="labFirstSubTitleInBasicItem">基本項目命名</div>
    <div class="eleContent">
      <div class="filterbar">
        <div class="_item">
          <div class="_t">類別</div>
          <select id="selItemTypeInBasicItem">
            <option>平台</option>
            <!--<option>桌種</option>-->
          </select>
        </div>
        <div class="_item">
          <div class="_t">新增項目</div>
          <input
            type="text"
            id="iptItemNameInBasicitem"
            v-model="itemTitle"
            v-bind:class="{'_input':true,'v_error':V_err.has('item')}"
            v-validate="{alpha_num:true,required:true,min:2,max:30}"
            name="item"
          />
        </div>
        <div class="_btn_c" id="btnAddBasicItem" @click="addGameVendor">新增</div>
      </div>
      <div id="tabBasicItem">
        <div class="t_f">
          <div class="_col _platform">平台</div>
          <div class="_col _tableType">桌種</div>
        </div>
        <div class="t_d">
          <div class="_col">
            <div v-for="item in C_gameVendor">
              <div class="icon_del" @click="delGameVendor(item.uid)"></div>
              <div class="_i">{{item.title}}</div>
            </div>
          </div>
          <div class="_col">
            <div v-for="item in C_tableTypes">
              <div class="_i">{{item.title}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"

export default {
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      itemTitle: ""
    }
  },
  computed: {
    C_tableTypes() {
      var re = this.$store.getters["game/Get_tableTypes"]

      return re
    },
    C_gameVendor() {
      var re = this.$store.getters["game/Get_gameVendor"]

      return re
    }
  },
  methods: {
    delGameVendor(uid) {
      var _this = this
      GameManager.gameVendor_del(this.loginToken, uid)
        .then(function(res) {
          var d = res.basicItems.gameVendor
          _this.$store.dispatch("game/Set_gameVendor", d)
        })
        .catch(function(error) {})
    },
    addGameVendor() {
      var _this = this
      var itemTitle = this.$data.itemTitle
      // if(_.trim(itemTitle) == "") return;
      _this.$validator.validate().then(result => {
        if (!result) {
          return
        }

        GameManager.gameVendor_add(this.loginToken, itemTitle)
          .then(function(res) {
            var d = res.basicItems.gameVendor
            _this.$store.dispatch("game/Set_gameVendor", d)
            _this.$data.itemTitle = ""
            _this.$validator.reset()
          })
          .catch(function(error) {})
      })
    }
  },
  created: function() {}
}
</script>

<style lang="less" scoped>
@import "../../../styles/less/BasicManage.less";

@w : 260px;

.t_f {
  width: @w;
}

.t_d {
  width: @w;
  min-height: 200px;

  ._col {
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    height: auto;

    > div {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      box-sizing: border-box;
      align-items: flex-start;
      margin-bottom: 10px;
    }
    ._i {
      margin-left: 10px;
      max-width: 85px;
    }
  }
}
</style>
