<template>
  <div class="container t2">
    <div class="eleTitle" id="labSecondSubTitleInBasicitem">現場位置管理</div>
    <div class="eleContent">
      <div class="filterbar">
        <div class="_item">
          <div class="_t">現場位置</div>
          <input
            type="text"
            id="iptLivePlaceInBasicitem"
            v-model="LocationTitle"
            v-validate="{AlphaNumChineseUnderline:true,required:true,min:3,max:20}"
            name="LocationTitle"
            v-bind:class="{'_input':true,'v_error':V_err.has('LocationTitle')}"
          />
        </div>
        <div class="_item">
          <div class="_t">代號</div>
          <input
            type="text"
            id="iptLivePlaceIdInBasicitem"
            v-model="LocationCode"
            maxlength="7"
            v-validate="{alpha_underline:true,required:true,min:3,max:7}"
            name="LocationCode"
            v-bind:class="{'_input':true,'v_error':V_err.has('LocationCode')}"
            placeholder="{平台}_{現場}，ex : xxx_xxx"
          />
        </div>
        <div class="_item">
          <div class="_t">平台</div>
          <select id="selPlatformInBasicitem" v-model="gameVendorUid">
            <option v-for="item in C_gameVendor" :value="item.uid">{{item.title}}</option>
          </select>
        </div>
        <div class="_btn_c" id="btnAddLivePlace" @click="DoAdd()">新增</div>
      </div>
      <div id="tabLivePlace">
        <div class="t_f">
          <div class="_col _livePlace">現場位置</div>
          <div class="_col _livePlaceId">代號</div>
          <div class="_col _platform">平台</div>
          <div class="_col _del _operate">操作</div>
        </div>

        <div class="t_d" v-for="item in C_casinoLocations">
          <div class="_col _livePlace">{{item.title}}</div>
          <div class="_col _livePlaceId">{{item.code}}</div>
          <div class="_col _platform">{{item.gameVendorTitle}}</div>
          <div class="_col _del _operate">
            <div class="_btn_c b_del" @click="delCasinoLocations(item.uid)">刪除</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"

export default {
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      LocationTitle: "",
      LocationCode: "",
      gameVendorUid: ""
    }
  },
  computed: {
    C_gameVendor() {
      var re = this.$store.getters["game/Get_gameVendor"]
      if (re.length > 0) {
        var t = _.cloneDeep(re[0].uid)
        this.gameVendorUid = t
      }
      return re
    },
    C_casinoLocations() {
      var re = this.$store.getters["game/Get_casinoLocations"]
      return re
    }
  },
  methods: {
    DoAdd() {
      var vm = this

      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        vm.addCasinoLocations()
      })
    },
    delCasinoLocations(uid) {
      var _this = this
      GameManager.casinoLocations_del(this.loginToken, uid)
        .then(function(res) {
          var d = res.basicItems.casinoLocations
          _this.$store.dispatch("game/Set_casinoLocations", d)
        })
        .catch(function(error) {})
    },
    addCasinoLocations() {
      var _this = this
      var LocationTitle = this.$data.LocationTitle
      var gameVendorUid = this.$data.gameVendorUid
      var LocationCode = this.$data.LocationCode

      if (_.trim(LocationTitle) == "") return

      GameManager.casinoLocations_add(this.loginToken, gameVendorUid, LocationTitle, LocationCode)
        .then(function(res) {
          var d = res.basicItems.casinoLocations
          _this.$store.dispatch("game/Set_casinoLocations", d)
          _this.$data.LocationTitle = ""
          _this.$data.LocationCode = ""
          _this.$validator.reset()
        })
        .catch(function(error) {})
    }
  }
}
</script>

<style lang="less" scoped>
@import "../../../styles/less/BasicManage.less";

@w : 800px;

.t_f {
  width: @w;
}

.t_d {
  width: @w;
}
</style>
