<template lang="pug">
header.header
  .header__logo
    router-link(:to="{name:'index'}")
      img(src="/img/home.png")
      span {{ title.key }}

  .header__list
    #labUserInfo.header__item {{userAccount}} 您好
    #btnEditPwd.header__item.is-clickable(@click="showModifyPasswordDialog") 修改密碼
    #btnLogout.header__item.is-clickable(@click="logout") 登出

  el-dialog(
    :visible.sync="dialogVisible"
    v-if="dialogVisible"
    width="500px"
    custom-class="general-modal"
    :before-close="hidePasswordDialog"
    :show-close="false"
    :append-to-body="true"
    center
  )
    #divModifyPwdInModifyPwd
      .modal__title 修改密碼

      .modal__row.header__row
        .modal__label 舊密碼* :
        UserPasswordInput(
          :isRequired="true"
          domId="iptOldPwdInEditPwd"
          @input="setOldPassword"
          ref="userPasswordInput"
        )

      .modal__row.header__row
        .modal__label 新密碼* :
        UserPasswordInput(
          :isRequired="true"
          domId="iptNewPwdInEditPwd"
          placeholder="須使用英文或數字6-12位"
          @input="setNewPassword"
          ref="userNewPasswordInput"
        )

      .modal__row.header__row
        .modal__label 確認密碼* :
        UserPasswordInput(
          :isRequired="true"
          domId="iptConfirmPwdInEditPwd"
          placeholder="請再輸入ㄧ次新密碼"
          :recheckPassword="newPassword"
          ref="userNewPasswordConfirmInput"
        )

      .modal__action-bar.header__action-bar
        #btnCancelInEditPwd.secondary-button.modal__item(@click="hidePasswordDialog") 取消
        #btnOKInEditPwd.primary-button.modal__item(@click="changeUserPassword") 儲存
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { userLogout, changePassword } from "@/api/User.js"
import { mapState } from "vuex"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"

export default {
  components: {
    UserPasswordInput
  },
  mixins: [ErrorMessageMixin],
  data: () => ({ dialogVisible: false, oldPassword: "", newPassword: "" }),
  computed: {
    ...mapState("project", ["title"]),
    ...mapState("member", { userAccount: state => state.id }),
    ...mapState("member", ["loginToken"])
  },
  methods: {
    setOldPassword(data) {
      this.oldPassword = data
    },
    setNewPassword(data) {
      this.newPassword = data
    },
    async logout() {
      try {
        const res = await userLogout(this.loginToken)
        if (res.exitCode !== true) {
          throw new Error(this.parseErrorMessage(res))
        } else {
          this.$store.dispatch("member/removeUserLoginData")
          this.$destroy()
          window.location.replace("/login.html")
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    showModifyPasswordDialog() {
      this.$validator.resume()
      this.dialogVisible = true
    },
    hidePasswordDialog() {
      this.dialogVisible = false
      this.cleanUpInputs()
      this.$validator.pause()
    },
    cleanUpInputs() {
      this.oldPassword = ""
      this.newPassword = ""
      this.retypedPassword = ""
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userPasswordInput"].validate(),
        this.$refs["userNewPasswordInput"].validate(),
        this.$refs["userNewPasswordConfirmInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async changeUserPassword() {
      const validResult = await this.validInputs()
      if (validResult !== true) return

      try {
        const payload = { oldPassword: this.oldPassword, newPassword: this.newPassword, loginToken: this.loginToken }
        const res = await changePassword(payload)

        if (res.exitCode === true) {
          this.$alert(`修改密碼成功`, {
            showClose: false,
            customClass: "_c_MsgBox",
            callback: () => {
              this.dialogVisible = false
            },
            showCancelButton: false,
            confirmButtonText: "確定",
            closeOnPressEscape: false
          })
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    }
  }
}
</script>

<style scoped lang="stylus">
$header-height = 3rem
$header-logo-width = 10%

.header
  display flex
  align-items center
  width 100%
  height $header-height
  background-color #515151

  &__row
    grid-template-columns 50% 50%

  &__action-bar
    margin-top 2rem

  &__logo
    display flex
    justify-content center
    align-items center
    min-width 12rem
    width $header-logo-width
    color #ffffff
    font-weight bold
    font-style normal
    font-size 1.4rem
    font-family "微軟正黑體 Bold", "微軟正黑體"

  &__list
    display flex
    justify-content flex-start
    width 90%

  &__item
    display flex
    justify-content center
    align-items center
    padding 0 1rem
    min-width 6.5rem
    height $header-height
    color #ffffff
    text-align center
    font-weight bold
    font-size 0.75rem
</style>
