<template lang="pug">
.loading-lock
</template>

<script>
export default {
  props: {
    isStartLoadingLock: { type: Boolean, default: false }
  },
  data: () => ({
    loadingModal: undefined
  }),
  watch: {
    isStartLoadingLock(value) {
      if (value === true) {
        this.start()
      } else if (this.loadingModal !== undefined) {
        this.stop()
      }
    }
  },
  methods: {
    stop() {
      this.loadingModal.close()
      this.loadingModal = undefined
    },
    start() {
      const loadingModal = this.$loading({
        lock: true,
        background: "rgba(0, 0, 0, 0.7)"
      })

      this.loadingModal = loadingModal
    }
  }
}
</script>
