<template lang="pug">
.main-side-menu
  template(v-for="menuGroup in menu")
    .main-side-menu__group(
      v-if="menuGroup.isActive"
      :key="menuGroup.domId.menu"
    )
      .main-side-menu__group-header(:id="menuGroup.domId.menu") {{ menuGroup.key }}
      template(v-for="menu in menuGroup.items")
        router-link.main-side-menu__link(
          v-if="menu.isActive"
          :id="menu.domId.menu"
          :to="{ name: menu.routeName, params: { apiName: menu.apiName } }"
          :key="menu.routeName"
          @click.native="reloadMenu(menu.routeName)"
        ) {{ menu.key }}
</template>

<script>
import { mapState } from "vuex"

export default {
  computed: {
    ...mapState("menu", ["menu"])
  },
  methods: {
    reloadMenu(menuName) {
      const currentRouteName = this.$route.name
      if (currentRouteName === menuName) {
        this.$router.go()
      }
    }
  }
}
</script>

<style lang="stylus">
.main-side-menu
  box-sizing border-box
  padding-top 0.5rem
  padding-bottom 3rem
  min-width 12rem
  min-height calc(100vh - 3rem)
  width 10%
  background-color #515151
  font-weight normal
  font-style normal
  font-size 1rem

  &__group
    display flex
    flex-direction coulumn
    flex-wrap wrap
    font-size 0.8rem

  &__group-header
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    margin 0
    padding-right 20%
    width 100%
    height 2rem
    border-bottom 1px solid
    color #cccccc
    font-size 0.8rem
    cursor pointer

  &__link
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    margin-top 0.15rem
    width 100%
    height 2rem
    background rgba(228, 228, 228, 0.4)
    color #ffffff
    font-size 0.8rem

    &:hover, &.router-link-exact-active
      background #ffffff
      color #000000
</style>

