<template lang="pug">
.breadcrumb(:id="domId")
  .breadcrumb__list(
    v-for="(x, index) in prop_nav"
    :key="x.title"
  )

    a.breadcrumb__item.breadcrumb__link(
      v-if="x.islink && prop_nav.length > 2"
      :href="x.path"
      :class="{ islink: x.islink }"
    ) {{ x.title }}

    .breadcrumb__item(
      v-else
    ) {{ x.title }}

    .breadcrumb__separator(v-if="index !== (prop_nav.length-1)") /
</template>

<script>
export default {
  props: { prop_nav: { type: Array, required: true }, domId: { type: String, default: "labBreadcrumbTrail" } }
}
</script>

<style lang="stylus">
.breadcrumb
  margin-top 1rem

  &__list
    display inline-flex
    color #000000

  &__link
    display inline-flex
    color #000000
    text-decoration underline

  &__separator
    padding 0 0.5rem
</style>

