<template>
  <div class="paginationBar">
    <div :id="domIdList.firstPage" :class="{_first:true,_disabled:IsFirst}" @click="ToFirst()">
      <div class="el-icon-caret-left"></div>
      <div class="el-icon-caret-left"></div>
    </div>

    <div :id="domIdList.previousPage" :class="{_prev:true,_disabled:IsPrev}" @click="ToPrev()">
      <div class="el-icon-caret-left"></div>
    </div>

    <div class="_goto">
      <input
        :id="domIdList.inputPage"
        type="text"
        class="_gotoPage"
        maxlength="5"
        style="width:50px;text-align:center;"
        @keyup.enter="ToPage()"
        v-model="w_currentPage"
        v-bind:class="{'_input':true,'v_error':V_err.has('NgotoPage')}"
        v-validate="{max_value:w_pageNum,min_value:1}"
        name="NgotoPage"
      />
      <span>/</span>
      <span>{{w_pageNum}}</span>
      <div :id="domIdList.actionButton" class="_btn_c" @click="ToPage()">Go</div>
    </div>

    <div :id="domIdList.nextPage" :class="{_next:true,_disabled:IsNext}" @click="ToNext()">
      <div class="el-icon-caret-right"></div>
    </div>
    <div :id="domIdList.lastPage" :class="{_end:true,_disabled:IsEnd}" @click="ToEnd()">
      <div class="el-icon-caret-right"></div>
      <div class="el-icon-caret-right"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: { pageNum: {}, currentPage: {}, domIdList: { type: Object } },
  data() {
    return {
      w_currentPage: this.currentPage,
      w_pageNum: this.pageNum
    }
  },
  computed: {
    IsFirst() {
      return this.currentPage == 1
    },
    IsEnd() {
      return this.currentPage == this.pageNum
    },
    IsNext() {
      return this.currentPage == this.pageNum
    },
    IsPrev() {
      return this.currentPage == 1
    }
  },
  methods: {
    ToFirst() {
      if (this.$data.w_currentPage == 1) return

      this.$data.w_currentPage = 1
      this.infoChange()
    },
    ToEnd() {
      if (this.$data.w_currentPage == this.$data.w_pageNum) return

      this.$data.w_currentPage = this.$data.w_pageNum
      this.infoChange()
    },
    ToNext() {
      if (this.currentPage == this.pageNum) return

      this.$data.w_currentPage++
      this.infoChange()
    },
    ToPrev() {
      if (this.currentPage == 1) return

      this.$data.w_currentPage--
      this.infoChange()
    },
    ToPage() {
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        _this.infoChange()
      })
    },
    infoChange() {
      this.$emit("update-currentPage", this.$data.w_currentPage)
    }
  },
  watch: {
    w_currentPage(val) {
      //this.$emit("update-currentPage",val);
    },
    currentPage(val) {
      this.w_currentPage = val
    },
    pageNum(val) {
      this.w_pageNum = val
    }
  }
}
</script>


<style scoped lang="less">
.paginationBar {
  display: inline-flex;
  align-items: center;

  ._disabled {
    .el-icon-caret-left,
    .el-icon-caret-right {
      color: #cccccc;
      cursor: text;
    }
  }

  ._btn_c {
    display: inline-flex;
    width: 40px;
    height: 20px;
  }

  .el-icon-caret-left,
  .el-icon-caret-right {
    color: #606060;
    font-size: 18px;
    cursor: pointer;
  }

  ._goto {
    margin: auto 10px;
  }

  ._first {
    position: relative;

    .el-icon-caret-left:nth-child(2) {
      position: relative;
      left: -10px;
    }
  }

  ._end {
    position: relative;
    .el-icon-caret-right:nth-child(2) {
      position: absolute;
      left: 8px;
    }
  }
}
</style>

