<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-for="{ uid, address } in list"
    :key="uid"
    :value="uid"
  ) {{ address }}
</template>

<script>
import { mapState } from "vuex"
import { getCasinoStreamCDNList } from "@/api/Casino.js"

export default {
  props: {
    domId: { type: String, required: true },
    casinoLocationUid: { type: String, required: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.fetchCasinoStreamCDNList()

    if (this.list.length > 0) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].uid
      }
    }

    this.onSelect()
  },
  methods: {
    async fetchCasinoStreamCDNList() {
      try {
        const payload = { casinoLocationUid: this.casinoLocationUid }
        const res = await getCasinoStreamCDNList(this.loginToken, payload)

        if (res.exitCode === true) {
          const result = res.data.length > 0 ? res.data : []
          this.list = result
        } else {
          throw new Error(res)
        }
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
