<template lang="pug">
select.search-bar__select(
  :id="domId"
  @change="onChange($event)"
)
  option(
    v-for="{ uid, title } in list"
    :key="uid"
    :value="uid"
  ) {{ title }}
</template>

<script>
import { mapState } from "vuex"

export default {
  props: {
    domId: { type: String, required: true }
  },
  data: () => ({
    casinoLocation: {
      uid: "",
      code: ""
    },
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("casino", ["casinoLocations"])
  },
  async mounted() {
    try {
      await this.$store.dispatch("casino/fetchCasinoLocations")
      this.list = this.casinoLocations
      const { uid, code } = this.list[0]
      this.casinoLocation.uid = uid
      this.casinoLocation.code = code

      this.onSelect()
    } catch (err) {
      console.log(err)
    }
  },
  methods: {
    onChange(event) {
      const selectedIndex = event ? event.target.selectedIndex : 0
      const target = this.list[selectedIndex]

      if (event) {
        this.casinoLocation.uid = target.uid
        this.casinoLocation.code = target.code
      }

      this.onSelect()
    },
    onSelect() {
      this.$emit("select", this.casinoLocation.uid, this.casinoLocation.code)
    },
    setValue(value, casinoLocationValue) {
      this.selected = value
      this.casinoLocation = casinoLocationValue
      this.onSelect()
    },
    resetValue() {
      this.selected = this.list[0].uid
    }
  }
}
</script>
