<template lang="pug">
select.client-language-select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-for="{ title, code } in list"
    :key="code"
    :value="code"
  ) {{ title }}
</template>

<script>
import { mapState } from "vuex"
import { getClientLanguageList } from "@/api/ClientLanguage.js"

export default {
  props: {
    domId: { type: String, required: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getClientLanguages()
    if (this.list.length > 0 && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].code
      }
    } else {
      this.selected = "zh-cn"
    }

    this.onSelect()
  },
  methods: {
    async getClientLanguages() {
      try {
        const res = await getClientLanguageList(this.loginToken)
        if (res.exitCode === true) {
          this.list = res.data
        }
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>

<style lang="stylus">
.client-language-select
  box-sizing border-box
  padding 0 0.4rem
  min-width 10rem
  max-width 18rem
  height 2rem
</style>
