<template lang="pug">
.currency-and-top-agent-selects
  .filter-controllers__group(:class="[parentClassesGroup]")
    label.filter-controllers__label--top(:class="[parentClassesLabel]") 幣別
    select.currency-and-top-agent-selects__currency-select(
      v-model="currency.selected"
      :id="currencyDomId"
      @change="onSelectCurrency"
    )
      option(
        v-for="{ currencyId, country, name, code } in currency.list"
        :key="currencyId"
        :value="currencyId"
      ) {{ `${country}(${name})(${code})` }}

  .filter-controllers__group(:class="[parentClassesGroup]")
    label.filter-controllers__label--top(:class="[parentClassesLabel]") 最高代理帳號
    select.currency-and-top-agent-selects__top-agent-select(
      v-model="topAgent.selected"
      :id="topAgentDomId"
      @change="onSelectTopAgent"
    )
      option(
        v-if="isEnabledSelectAll === true"
        value=""
      ) 全部

      option(
        v-for="{ account , agentGroupUid } in topAgent.groupedList"
        :key="agentGroupUid"
        :value="agentGroupUid"
      ) {{ account }}
</template>

<script>
import { mapState } from "vuex"
import { getTopAgenBasicList } from "@/api/Agent.js"

export default {
  props: {
    topAgentDomId: { type: String, required: true },
    currencyDomId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true },
    parentClassesGroup: {
      type: Array,
      default: () => {
        return []
      }
    },
    parentClassesLabel: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data: () => ({
    topAgent: {
      selected: "",
      list: [],
      groupedList: []
    },
    currency: {
      selected: "",
      list: []
    }
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("currency", ["currencies"])
  },
  async mounted() {
    await this.fetchSelectOptions()

    if (this.currency.list.length > 0 && this.isSelectDefault === true) {
      // Select first option
      if (!this.currency.selected) {
        this.currency.selected = this.currency.list[0].currencyId
      }
    }

    this.onSelectCurrency()
  },
  watch: {
    "currency.selected": function(value) {
      if (value !== "") {
        // Switch group
        const currentCurrencyId = this.currency.selected
        this.updateTopAgentGroupByCurrency(currentCurrencyId)

        if (this.isEnabledSelectAll === false && this.isSelectDefault === true) {
          if (this.topAgent.groupedList.length > 0) {
            this.topAgent.selected = this.topAgent.groupedList[0].agentGroupUid
          } else {
            this.topAgent.selected = false
          }
        } else if (this.isEnabledSelectAll === true && this.isSelectDefault === true) {
          this.topAgent.selected = ""
        }

        this.onSelectTopAgent()
      }
    },
    "topAgent.list": function(value) {
      if (value.length > 0) {
        // Switch group
        const currentCurrencyId = this.currency.selected
        this.updateTopAgentGroupByCurrency(currentCurrencyId)
      }
    }
  },
  methods: {
    updateTopAgentGroupByCurrency(currencyId) {
      const result = this.topAgent.list.filter(x => x.currencyId === currencyId)
      this.topAgent.groupedList = result
    },
    async fetchSelectOptions() {
      try {
        const responses = await Promise.all([
          getTopAgenBasicList(this.loginToken),
          this.$store.dispatch("currency/fetchCurrencyList")
        ])

        // Only check top agent reqeust
        const { exitCode, data } = responses[0]

        if (exitCode === true && data.length > 0) {
          const validCurrencyIdList = [...new Set(data.flatMap(x => x.currencyId))]
          const filteredCurrencies = this.currencies.filter(x => validCurrencyIdList.includes(x.currencyId))
          this.currency.list = filteredCurrencies
          this.topAgent.list = data
        } else {
          this.topAgent.list = []
          this.currency.list = []
        }
      } catch (err) {
        console.log(err)
      }
    },
    onSelectTopAgent() {
      this.$emit("selectTopAgent", this.topAgent.selected)
    },
    onSelectCurrency() {
      this.$emit("selectCurrency", this.currency.selected)
    },
    setTopAgentValue(value) {
      this.topAgent.selected = value
      this.onSelectTopAgent()
    },
    setCurrencyValue(value) {
      this.currency.selected = value
      this.onSelectCurrency()
    }
  }
}
</script>

<style lang="stylus">
.currency-and-top-agent-selects
  display flex
  box-sizing border-box

  &__top-agent-select
    box-sizing border-box
    padding 0 0.4rem
    min-width 7rem
    height 2rem

  &__currency-select
    box-sizing border-box
    padding 0 0.4rem
    min-width 7rem
    max-width 12rem
    height 2rem
</style>>
