<template lang="pug">
select.currency-select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-for="{ currencyId, country, name, code } in list"
    :key="currencyId"
    :value="currencyId"
  ) {{ `${country}(${name})(${code})` }}
</template>

<script>
import { mapState } from "vuex"

export default {
  props: {
    domId: { type: String, required: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("currency", ["currencies"])
  },
  async mounted() {
    await this.getCurrencies()

    if (this.list.length > 0 && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].currencyId
      }
    }

    this.onSelect()
  },
  methods: {
    async getCurrencies() {
      try {
        await this.$store.dispatch("currency/fetchCurrencyList")
        this.list = this.currencies
      } catch (err) {
        console.log(err)
      }
    },
    async selectOption(index) {
      const isValidIndex = index > 0 && index <= this.list.length

      if (this.list.length > 0 && isValidIndex === true) {
        this.selected = this.list[index - 1].currencyId
        this.onSelect()
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>

<style lang="stylus">
.currency-select
  box-sizing border-box
  padding 0 0.4rem
  min-width 10rem
  max-width 18rem
  height 2rem
</style>>
