<template lang="pug">
ValidationProvider(
  :rules="{ required: true }"
  v-slot="{ classes }"
  ref="vee"
)
  el-date-picker(
    v-model="selected"
    :type="datePickerType"
    :placeholder="placeholder"
    size="small"
    :format="timeFormat"
    :picker-options="pickerOptions"
    :class="[...extraCss,...classes]"
    :name="name"
    :id="domId"
    @change="onSelect"
  )

</template>

<script>
import { ValidationProvider } from "vee-validate"
import { getDateWithStartTime, getDateWithEndTime } from "@/libs/time.js"

export default {
  components: { ValidationProvider },
  props: {
    domId: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: "選擇日期"
    },
    pickerOptions: {
      type: Object,
      default: () => {
        return {}
      }
    },
    isDisplayTime: {
      type: Boolean,
      default: false
    },
    isDateWithStartTime: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    selected: "",
    name: "date-range-select"
  }),
  mounted() {
    this.selected = this.isDateWithStartTime ? getDateWithStartTime() : getDateWithEndTime()
    this.onSelect()
  },
  computed: {
    extraCss() {
      return [
        {
          "search-bar__datetime-picker": this.isDisplayTime === true,
          "search-bar__date-picker": this.isDisplayTime !== true
        }
      ]
    },
    timeFormat() {
      if (this.isDisplayTime === true) {
        return "yyyy/MM/dd HH:mm:ss"
      } else {
        return "yyyy/MM/dd"
      }
    },
    datePickerType() {
      if (this.isDisplayTime === true) {
        return "datetime"
      } else {
        return "date"
      }
    }
  },
  methods: {
    async validate() {
      return await this.$refs["vee"].validate()
    },
    setDate(date) {
      this.selected = date
      this.onSelect()
    },
    onSelect() {
      if (this.selected) {
        this.$emit("select", new Date(this.selected).toISOString())
      } else {
        this.$emit("select", null)
      }
    }
  }
}
</script>
