<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
	option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) 全部

	option(
    v-for="{ label ,uid } in list"
    :key="uid"
    :value="uid"
  ) {{ label }}
</template>

<script>
import { mapState } from "vuex"
import { getGameHallList } from "@/api/Game.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getGameHalls()

    if (this.list.length > 0 && this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].uid
      }
    }

    this.onSelect()
  },
  methods: {
    async getGameHalls() {
      try {
        const result = await getGameHallList(this.loginToken)

        const target = result.data.themes.map(x => {
          return { label: x.title, uid: x.uid }
        })

        this.list = target

        this.$emit("getGameHallList", target)
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
