<template lang="pug">
.game-type-with-game-table
  .filter-controllers__group
    label.filter-controllers__label--top 遊戲類型
    select.search-bar__select(
      :id="gameTypeDomId"
      v-model="gameType.selected"
      @change="onSelectGameType"
    )
      option(
        v-if="isEnabledSelectAll === true"
        value=""
      ) 全部

      option(
        v-for="{ uid, title } in gameType.list"
        :key="uid"
        :value="uid"
      ) {{ title }}

  .filter-controllers__group
    label.filter-controllers__label--top 桌種
    select.search-bar__select(
      :id="gameTableDomId"
      v-model="gameTable.selected"
      @change="onSelectGameTable"
    )
      option(
        v-if="isEnabledSelectAll === true"
        value=""
      ) 全部

      option(
        v-for="{ uid, title } in gameTable.list"
        :key="uid"
        :value="uid"
      ) {{ title }}


</template>

<script>
import { mapState } from "vuex"
import { getGameTypeWithGameTableList } from "@/api/Game.js"

export default {
  props: {
    gameTypeDomId: { type: String, required: true },
    gameTableDomId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    gameType: {
      selected: "",
      list: []
    },
    gameTable: {
      selected: "",
      list: []
    },
    gameTableSet: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getGameTypeWithGameTableRelations()
  },
  methods: {
    async getGameTypeWithGameTableRelations() {
      try {
        const result = await getGameTypeWithGameTableList(this.loginToken)

        const {
          master: gameTypes,
          relations: { tableSpecies: gameTableSet }
        } = result.data

        const formatGameTableSet = gameTableSet.map(x => {
          return { title: x.title, uid: x.uid }
        })

        this.gameType.list = gameTypes
        this.gameTable.list = formatGameTableSet
        this.gameTableSet = formatGameTableSet

        if (this.isEnabledSelectAll === false) {
          this.selectGameTypeFirstOption()
        } else {
          this.onSelectGameType()
        }
      } catch (err) {
        console.log(err)
      }
    },
    getGameTableListByGameType(gameTypeUid) {
      const [target] = this.gameType.list.filter(x => x.uid === gameTypeUid)

      if (target !== undefined) {
        const result = this.gameTableSet.filter(x => target.tableSpecies.includes(x.uid))

        return result
      } else {
        // undefined is select all
        return this.gameTableSet
      }
    },
    onSelectGameType() {
      this.$emit("selectGameType", this.gameType.selected)

      // Change game table type options
      this.gameTable.list = this.getGameTableListByGameType(this.gameType.selected)
      this.selectGameTableFirstOption()
    },
    onSelectGameTable() {
      this.$emit("selectGameTable", this.gameTable.selected)
    },
    selectGameTypeFirstOption() {
      if (this.isSelectDefault === true) {
        if (this.isEnabledSelectAll === true) {
          this.setGameTypeValue("")
        } else {
          this.setGameTypeValue(this.gameType.list[0].uid)
        }
      }
    },
    selectGameTableFirstOption() {
      if (this.isSelectDefault === true) {
        if (this.isEnabledSelectAll === true) {
          this.selectGameTableValue("")
        } else {
          this.selectGameTableValue(this.gameTable.list[0].uid)
        }
      }
    },
    setGameTypeValue(value) {
      this.gameType.selected = value
      this.onSelectGameType()
    },
    selectGameTableValue(value) {
      this.gameTable.selected = value
      this.onSelectGameTable()
    }
  }
}
</script>

<style lang="stylus">
.game-type-with-game-table
  display flex
</style>
