<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(:value="[]") (全部)
  option(
    v-for="{ title ,alias } in list"
    :key="alias"
    :value="[alias]"
  ) {{ title }}
</template>

<script>
import { mapState } from "vuex"
import { getGameStateList } from "@/api/Game.js"

export default {
  props: {
    domId: { type: String, required: true }
  },
  data: () => ({
    selected: [],
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getGameOrderStates()
    this.onSelect()
  },
  methods: {
    async getGameOrderStates() {
      try {
        const result = await getGameStateList(this.loginToken)
        this.list = result.data.gameResultState
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
