<template lang="pug">
.multiple-select(
  :id="domId"
  ref="select"
)
  .multiple-select__select-bar(
    @click="switchOpenState"
    :class="[isSelecteNone ? 'is-error' : '']"
  )
    .multiple-select__text(v-if="isAllSelected === true") (全部)
    .multiple-select__text(v-else) {{ selectedLabelList }}

    .multiple-select__indicator
      span.el-icon-caret-top(v-if="isOpen === true")
      span.el-icon-caret-bottom(v-else)

  .multiple-select__container(:class="[isOpen ? 'is-open' : '']")
    .multiple-select__option(@click="switchAllOptions")
      input(
        type="checkbox"
        v-model="selectedAll"
        :value="true"
      )
      .multiple-select__option-label 全部

    hr.multiple-select__separate

    label.multiple-select__option(
      v-for="{ title ,alias } in list"
      :for="title"
    )
      input(
        type="checkbox"
        v-model="selectedList"
        :key="alias"
        :value="alias"
        @change="changeOptionChecked"
        :id="title"
      )
      .multiple-select__option-label {{ title }}
</template>

<script>
import { mapState } from "vuex"
import { getGameStateList } from "@/api/Game.js"

export default {
  props: {
    domId: { type: String, required: true },
    isDefaultSelectedAll: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    selectedAll: "",
    selectedList: [],
    list: [],
    isOpen: false
  }),
  watch: {
    isAllSelected(value) {
      if (value === true) {
        this.selectedAll = true
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    isAllSelected() {
      return this.selectedList.length === this.list.length
    },
    isSelecteNone() {
      return this.selectedList.length === 0
    },
    selectedLabelList() {
      if (this.selectedList.length > 0) {
        const filtered = this.list.filter(x => {
          return this.selectedList.includes(x.alias)
        })

        const result = [].concat(...filtered.map(x => x.title))
        return result
      } else {
        return []
      }
    },
    valueList() {
      if (this.list.length > 0) {
        const result = [].concat(...this.list.map(x => x.alias))
        return result
      } else {
        return []
      }
    }
  },
  created() {
    document.addEventListener("click", this.documentClick)
  },
  destroyed() {
    document.addEventListener("click", this.documentClick)
  },
  async mounted() {
    await this.getGameOrderStates()

    if (this.isDefaultSelectedAll === true) {
      this.selectedList = this.valueList
      this.selectedAll = true
    }

    this.onSelect()
  },
  methods: {
    documentClick(event) {
      const el = this.$refs.select
      const target = event.target

      if (el !== undefined && el !== target && !el.contains(target)) {
        this.isOpen = false
      }
    },
    switchAllOptions() {
      if (this.isAllSelected === true) {
        this.selectedList = []
        this.selectedAll = false
      } else {
        this.selectedList = this.valueList
        this.selectedAll = true
      }

      this.onSelect()
    },
    changeOptionChecked() {
      if (this.isAllSelected === true) {
        this.selectedAll = true
      } else {
        this.selectedAll = false
      }

      this.onSelect()
    },
    switchOpenState() {
      this.isOpen = !this.isOpen
    },
    async getGameOrderStates() {
      try {
        const result = await getGameStateList(this.loginToken)
        this.list = result.data.gameResultState
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selectedList)
    },
    setValue(value) {
      this.selectedList = value
      this.onSelect()
    }
  }
}
</script>

<style lang="stylus" scoped>
.multiple-select
  display block
  min-width 7rem
  width 9rem
  height 2rem

  &__container
    position relative
    display none
    box-sizing border-box
    padding 0.5rem 0
    border 1px solid #cccccc
    border-top none
    background #ffffff

  &__select-bar
    display flex
    justify-content space-between
    align-items center
    box-sizing border-box
    padding 0 0.5rem
    height 2rem
    border 1px solid #cccccc
    cursor pointer

  &__option
    display flex
    align-items center
    padding 0 0.5rem
    height 2rem
    cursor pointer

  &__separate
    width 80%

  &__option-label
    margin-left 0.5rem

.is-open
  display block

.is-error
  border 1px solid red
</style>
