<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) 全部

  option(
    v-for="{ groupUid, account } in list"
    :key="account"
    :value="groupUid"
  ) {{ account }}
</template>

<script>
import { mapState } from "vuex"
import { getTopAgentList, getTopAgentListByWalletId } from "@/api/Agent.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true },
    userWalletId: { type: Number, default: -1 }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getTopAgents()

    if (this.list.length > 0 && this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].groupUid
      }
      this.onSelect()
    }
  },
  methods: {
    async getTopAgents() {
      try {
        let result = []

        if (this.userWalletId > 0) {
          const payload = { userWalletId: this.userWalletId }
          result = await getTopAgentListByWalletId(this.loginToken, payload)
          this.list = result.data.agentGroup
        } else {
          result = await getTopAgentList(this.loginToken)
          this.list = result.data
        }
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
