<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) (全部)

  option(
    v-for="{ alias, title } in list"
    :key="title"
    :value="alias"
  ) {{ title }}
</template>

<script>
import { mapState } from "vuex"
import { getGameTransactionTypeList } from "@/api/Game.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getTransactionTypes()

    if (this.list.length > 0 && this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].alias
      }
    }

    this.onSelect()
  },
  methods: {
    async getTransactionTypes() {
      try {
        const result = await getGameTransactionTypeList(this.loginToken)
        this.list = result.data.transferTypes
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
