<template lang="pug">
.top-agent-manage-add(v-if="isDisplay === true")
  .frame.frame--general
    .frame__title 新增代理

    .frame__row
      .frame__label.is-required 代理帳號* :

      UserAccountInput(
        domId="iptAgentAcctInAddTopAgent"
        :isRequired="true"
        @input="setUserAccount"
        placeholder="英、數字6-20位，英文開頭"
        ref="userAccountInput"
      )

    .frame__row
      .frame__label.is-required 代理暱稱* :

      UserNicknameInput(
        domId="iptNickNameInAddTopAgent"
        :isRequired="true"
        @input="setUserNickname"
        placeholder="中、英、數字1-20位"
        ref="userNicknameInput"
      )

    .frame__row
      .frame__label.is-required 密碼* :

      .top-agent-manage-add__password-fields
        UserPasswordInput(
          domId="iptPwdInAddTopAgent"
          :isReadonly="true"
          :isRequired="true"
          inputType="text"
          @input="setPassword"
          ref="newRandomPasswordInput"
        )

        .primary-button(
          id="btnGeneratePwdInAddTopAgent"
          @click="getNewRandomPassword"
        ) 生成密碼

        .primary-button(
          id="btnCopyPwdInAddTopAgent"
          @click="copyNewRandomPassword"
        ) 複製密碼

    .frame__row
      .frame__label.is-required 識別代碼* :

      AccountIdentityCodeInput(
        domId="iptAgentCodeInAddTopAgent"
        :isRequired="true"
        @input="setAccountIdentityCode"
        placeholder="英、數，0000不可使用，長度 : 4"
        ref="accountIdentityCodeInput"
      )

    .frame__row
      .frame__label.is-required 手機號碼* :

      .top-agent-manage__phone-fields

        .top-agent-manage__phone-icon +

        PhoneCountryCodeInput(
          domId="iptAreaCodeInAddTopAgent"
          :parentClasses="['top-agent-manage__country-code-input']"
          :isRequired="true"
          inputType="text"
          @input="setPhoneCountryCode"
          ref="phoneCountryCodeInput"
        )

        .top-agent-manage__phone-icon -

        PhoneNumberInput(
          domId="iptCellphoneInAddTopAgent"
          :isRequired="true"
          inputType="text"
          @input="setPhoneNumber"
          ref="phoneNumberInput"
        )

    .frame__row
      .frame__label.is-required 電子郵件* :

      EmailInput(
        domId="iptEmailInAddTopAgent"
        :isRequired="true"
        @input="setEmail"
        ref="emailInput"
      )

    .frame__row
      .frame__label 帳務查看權限 :

      .top-agent-manage__query-fields
        input.input(
          minlength="6"
          maxlength="20"
          type="text"
          v-model="associateAccountInput"
          id="iptSearchAccessInAddTopAgent"
        )

        .icon__search(
          id="btnSearchAccessInAddTopAgent"
          @click="fetchTopAgentAssociateAccount"
        )

    .frame__row
      .frame__label
      .top-agent-manage__associate-account-area
        .top-agent-manage__query-account-fields(v-for="x in associateAccountList")
          .icon__delete(
            @click="removeAssociateAccountList(x.uid)"
          )
          span {{ x.account }}

    .frame__row
      .frame__label.is-required 錢包類型* :

      .top-agent-manage__wallet-fields

        .top-agent-manage__wallet-button(
          id="btnSingleWalletInAddTopAgent"
          :class="{ 'top-agent-manage__wallet-button--active': isSingleWallet }"
          @click="switchWallet(1)"
        ) 單一錢包

        .top-agent-manage__wallet-button(
          id="btnMultiWalletInAddTopAgent"
          :class="{ 'top-agent-manage__wallet-button--active': isSingleWallet === false }"
          @click="switchWallet(2)"
        ) 多錢包

    .top-agent-manage-add__row
      .top-agent-manage__wallet-url(v-if="isSingleWallet === true")

        AdvancedInput(
          domId="iptURLInAddTopAgent"
          placeholder="請輸入URL"
          @input="setApiUrl"
          :parentClasses="['top-agent-manage-add__wallet-url']"
          ref="agentApiUrlInput"
        )

    .frame__row
      .frame__label.is-required(id="labCharInAddChar") 幣別* :

      .top-agent-manage-add__currency-select

        CurrencySelect(
          domId="selCurrencyInAddTopAgent"
          @select="setCurrency"
        )

    .frame__row
      .frame__label.is-required 遊戲端預設語系* :

      .top-agent-manage-add__client-language-select

        ClientLanguageSelect(
          domId="selLanguageInAddTopAgent"
          @select="setClientLanguage"
        )

    .frame__row
      .frame__label API IP白名單 :

      .top-agent-manage-add__white-list
        AdvancedInput(
          domId="iptAPIWhiteListInAddTopAgent"
          :minlength="7"
          :maxlength="15"
          :regex="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/"
          @input="setgameAPIIPWhiteList"
          ref="gameAPIIPWhiteListInput"
        )

        .primary-button(
          id="btnAddAPIWhiteListInAddTopAgent"
          @click="createWhiteList('gameAPI')"
        ) 添加

    .frame__row
      .frame__label
      .top-agent-manage__associate-account-area
        .top-agent-manage__query-account-fields(v-for="x in gameAPIIPWhiteListGroup")
          .icon__delete(
            @click="removeWhiteList(x,'gameAPI')"
          )
          span {{ x }}

    .frame__row
      .frame__label 代理後台IP白名單 :

      .top-agent-manage-add__white-list
        AdvancedInput(
          domId="iptBackendWhiteListInAddTopAgent"
          :minlength="7"
          :maxlength="15"
          :regex="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/"
          @input="setAgentIPWhiteList"
          ref="agentIPWhiteListInput"
        )

        .primary-button(
          id="btnAddBackendWhiteListInAddTopAgent"
          @click="createWhiteList('agent')"
        ) 添加

    .frame__row
      .frame__label
      .top-agent-manage__associate-account-area
        .top-agent-manage__query-account-fields(v-for="x in agentIPWhiteListGroup")
          .icon__delete(
            @click="removeWhiteList(x,'agent')"
          )
          span {{ x }}

    .frame__row
      .frame__label 遊戲域名 :

      .top-agent-manage__wallet-url
        AdvancedInput(
          domId="iptURLInAddTopAgentUrl"
          placeholder="請輸入URL"
          :parentClasses="['top-agent-manage-add__wallet-url']"
          @input="setAgentGameUrl"
          ref="agentGameUrlInput"
        )

    .frame__row
      .frame__action-bar
        .action-bar__alt-button(
          @click="onClose"
          id="btnCancelInAddTopAgent"
        ) 取消

        .action-bar__button(
          @click="submitRequest"
          id="btnSaveInAddTopAgent"
        ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { randomPassword } from "@/libs/random.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { ValidationProvider } from "vee-validate"
import EmailInput from "@/components/inputs/Email.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import UserAccountInput from "@/components/inputs/UserAccount.vue"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"
import PhoneNumberInput from "@/components/inputs/PhoneNumber.vue"
import PhoneCountryCodeInput from "@/components/inputs/PhoneCountryCode.vue"
import AccountIdentityCodeInput from "@/components/inputs/AccountIdentityCode.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import CurrencySelect from "@/components/selects/Currency.vue"
import ClientLanguageSelect from "@/components/selects/ClientLanguage.vue"
import { mapState } from "vuex"
import { addTopAgent } from "@/api/Agent.js"
import {
  methods as TopAgentMethodsMixin,
  watch as TopAgentWatchMixin
} from "@/components/common/TopAgentManage/mixins/TopAgent.js"

export default {
  props: { isDisplay: { type: Boolean, default: false } },
  components: {
    LoadingLock,
    ValidationProvider,
    EmailInput,
    UserNicknameInput,
    UserAccountInput,
    UserPasswordInput,
    AccountIdentityCodeInput,
    PhoneNumberInput,
    PhoneCountryCodeInput,
    AdvancedInput,
    CurrencySelect,
    ClientLanguageSelect
  },
  mixins: [ErrorMessageMixin, TopAgentMethodsMixin, TopAgentWatchMixin],
  data: () => ({
    current: {
      topAgentAccount: "",
      nickname: "",
      password: "",
      phoneCountryCode: "",
      email: "",
      walletTypeId: 1,
      apiUrl: "",
      phoneNumber: "",
      associateAccounts: [],
      currency: "",
      languageSetCode: "",
      GameAPIIPWhiteList: [],
      AgentIPWhiteList: [],
      agentGameUrl: ""
    },
    associateAccountList: [],
    associateAccountInput: "",
    gameAPIIPWhiteListGroup: [],
    gameAPIIPWhiteList: "",
    agentIPWhiteListGroup: [],
    agentIPWhiteList: "",
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    isSingleWallet() {
      return this.current.walletTypeId === 1
    }
  },
  methods: {
    setUserAccount(data) {
      this.current.topAgentAccount = data
    },
    setUserNickname(data) {
      this.current.nickname = data
    },
    setEmail(data) {
      this.current.email = data
    },
    setPassword(data) {
      this.current.password = data
    },
    setAccountIdentityCode(data) {
      this.current.code = data
    },
    setPhoneNumber(data) {
      this.current.phoneNumber = data
    },
    setPhoneCountryCode(data) {
      this.current.phoneCountryCode = data
    },
    setApiUrl(data) {
      this.current.apiUrl = data
    },
    setCurrency(data) {
      this.current.currency = data
    },
    setClientLanguage(data) {
      this.current.languageSetCode = data
    },
    setgameAPIIPWhiteList(data) {
      this.gameAPIIPWhiteList = data
    },
    setAgentIPWhiteList(data) {
      this.agentIPWhiteList = data
    },
    setAgentGameUrl(data) {
      this.current.agentGameUrl = data
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    resetToDefault() {
      this.current.topAgentAccount = ""
      this.current.nickname = ""
      this.current.password = ""
      this.current.code = ""
      this.current.phoneCountryCode = ""
      this.current.phoneNumber = ""
      this.current.email = ""
      this.current.walletTypeId = 1
      this.current.apiUrl = ""
      this.current.associateAccounts = ""
      this.current.gameAPIIPWhiteList = ""
      this.current.agentIPWhiteList = ""
      this.current.currency = ""
      this.current.languageSetCode = ""
      this.associateAccountList = []
      this.associateAccountInput = ""
      this.gameAPIIPWhiteListGroup = []
      this.gameAPIIPWhiteList = ""
      this.agentIPWhiteListGroup = []
      this.agentIPWhiteList = ""
      this.current.agentGameUrl = ""
    },
    switchWallet(id) {
      this.current.walletTypeId = parseInt(id)
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userAccountInput"].validate(),
        this.$refs["userNicknameInput"].validate(),
        this.$refs["newRandomPasswordInput"].validate(),
        this.$refs["emailInput"].validate(),
        this.$refs["accountIdentityCodeInput"].validate(),
        this.$refs["phoneCountryCodeInput"].validate(),
        this.$refs["phoneNumberInput"].validate()
      ])

      const isAllValid = result.every(x => x.valid === true)

      if (this.isSingleWallet === true) {
        const result = await this.$refs["agentApiUrlInput"].validate()
        return result.valid && isAllValid
      } else {
        return isAllValid
      }
    },
    async submitRequest() {
      const isValid = await this.validInputs()
      if (isValid !== true) return

      try {
        const payload = {
          topAgentAccount: this.current.topAgentAccount,
          nickname: this.current.nickname,
          password: this.current.password,
          code: this.current.code,
          phoneCountryCode: this.current.phoneCountryCode,
          phoneNumber: this.current.phoneNumber,
          email: this.current.email,
          walletTypeId: this.current.walletTypeId,
          currencyId: this.current.currency,
          apiUrl: this.current.apiUrl,
          reportUids: this.current.associateAccounts,
          languageSetCode: this.current.languageSetCode,
          gameAPIWhiteListIP: this.current.gameAPIIPWhiteList,
          agentWhiteListIP: this.current.agentIPWhiteList,
          agentGameUrl: this.current.agentGameUrl
        }

        const res = await addTopAgent(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    getNewRandomPassword() {
      const password = randomPassword()
      this.$refs["newRandomPasswordInput"].setValue(password)
    },
    copyNewRandomPassword() {
      this.$refs["newRandomPasswordInput"].copyValue()
    },
    async createWhiteList(whiteListType) {
      const whiteListValid = whiteListType === "gameAPI" ? "gameAPIIPWhiteListInput" : "agentIPWhiteListInput"
      const whiteListGroup = whiteListType === "gameAPI" ? this.gameAPIIPWhiteListGroup : this.agentIPWhiteListGroup
      const whiteListInput = whiteListType === "gameAPI" ? this.gameAPIIPWhiteList : this.agentIPWhiteList

      const result = await this.$refs[whiteListValid].validate()
      if (result.valid !== true) return

      const isDuplicate = whiteListGroup.filter(x => x === whiteListInput).length > 0
      if (isDuplicate === true) return

      const isNumberLimit = whiteListGroup.length >= 10
      if (isNumberLimit === true) return

      const list = whiteListGroup
      list.push(whiteListInput)

      this.$refs[whiteListValid].setValue("")
    },
    removeWhiteList(value, whiteListType) {
      if (whiteListType === "gameAPI") {
        const result = this.gameAPIIPWhiteListGroup.filter(x => x !== value)
        this.gameAPIIPWhiteListGroup = result
      } else {
        const result = this.agentIPWhiteListGroup.filter(x => x !== value)
        this.agentIPWhiteListGroup = result
      }
    }
  },
  watch: {
    gameAPIIPWhiteListGroup(value) {
      if (value.length > 0) {
        const result = value.map(x => x)
        this.current.gameAPIIPWhiteList = result
      } else {
        this.current.gameAPIIPWhiteList = []
      }
    },
    agentIPWhiteListGroup(value) {
      if (value.length > 0) {
        const result = value.map(x => x)
        this.current.agentIPWhiteList = result
      } else {
        this.current.agentIPWhiteList = []
      }
    }
  }
}
</script>

<style lang="stylus">
.top-agent-manage-add
  &__password-fields
    display flex
    justify-content space-between
    grid-column span 3

  &__row
    display grid
    margin-top 1rem
    padding 0 2rem
    height 2rem
    grid-template-columns repeat(4, 25%)

  &__currency-select
    grid-column span 2 / 2 span

  &__white-list
    display flex
    justify-content space-between
    grid-column span 2

  &__wallet-url
    width 100%
</style>
