<template lang="pug">
.top-agent-manage-api-key
  el-dialog(
    title="金鑰管理"
    :visible="isDisplay"
    width="600px"
    custom-class="top-agent-manage__api-key-modal"
    :before-close="onClose"
    :close-on-click-modal="true"
    :destroy-on-close="true"
    @open="fetchAPIKeyData"
    center
  )
    .top-agent-manage-api-key__modal(id="divKeyManageInEditTopAgent")
      .top-agent-manage-api-key__list
        .secondary-button.top-agent-manage-api-key__item(
          id="btnRefreshKeyInEditTopAgent"
          :class="{'is-disabled':(current.isAccountJailed || current.isAPIEnabled === false)}"
          @click="openGenerateAPI"
        ) 重新產生

        .secondary-button.top-agent-manage-api-key__item(
          id="btnExportKeyInEditTopAgent"
          @click="exportAPIkeyFile"
        ) 匯出

      .top-agent-manage-api-key__row
        .modal__label EncryptKey :
        .modal__item(id="labEncryptKeyInEditTopAgent") {{ current.encryptKey }}

      .top-agent-manage-api-key__row
        .modal__label EncryptIV :
        .modal__item(id="labEncryptIVInEditTopAgent") {{ current.salt }}

      .top-agent-manage-api-key__row
        .modal__label SignKey :
        .modal__item(id="labSignKeyInEditTopAgent") {{ current.signKey }}

      .top-agent-manage-api-key__row
        .modal__label 金鑰狀態 :
        .top-agent-manage-api-key__list
          template(v-if="current.isAPIEnabled === true")
            .top-agent-manage-api-key__button-text 啟用

            .primary-button.modal__item(
              id="btnChangeKeyStatusInEditTopAgent"
              @click="openDisableAPI"
            )  停用

          template(v-if="current.isAPIEnabled === false")
            .top-agent-manage-api-key__button-text 停用

            .primary-button.modal__item(
              id="btnChangeKeyStatusInEditTopAgent"
              :class="{'is-disabled':current.isAccountJailed}"
              @click="openEnableAPI"
            ) 啟用

  GenerateAPIKey(
    :isDisplay="isDisplayGenerateAPI"
    :targetData="current"
    @close="closeGenerateAPI"
    @requestSuccess="fetchAPIKeyData"
  )

  EnableAPIKey(
    :isDisplay="isDisplayEnableAPI"
    :targetData="current"
    @close="closeEnableAPI"
    @requestSuccess="fetchAPIKeyData"
  )

  DisableAPIKey(
    :isDisplay="isDisplayDisableAPI"
    :targetData="current"
    @close="closeDisableAPI"
    @requestSuccess="fetchAPIKeyData"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import GenerateAPIKey from "@/components/common/TopAgentManage/GenerateAPIKey.vue"
import EnableAPIKey from "@/components/common/TopAgentManage/EnableAPIKey.vue"
import DisableAPIKey from "@/components/common/TopAgentManage/DisableAPIKey.vue"
import { getTopAgentAPIKeyData } from "@/api/Agent.js"
import { mapState } from "vuex"

export default {
  props: { isDisplay: { type: Boolean, default: true }, targetData: { type: Object, required: true } },
  data: () => ({
    current: {
      salt: "",
      encryptKey: "",
      signKey: "",
      isAPIEnabled: "",
      isAccountJailed: "",
      topAgentUid: "",
      topAgentGroupUid: "",
      topAgentAccount: ""
    },
    isDisplayGenerateAPI: false,
    isDisplayDisableAPI: false,
    isDisplayEnableAPI: false,
    isLoading: false
  }),
  components: { LoadingLock, GenerateAPIKey, EnableAPIKey, DisableAPIKey },
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    async fetchAPIKeyData() {
      try {
        const payload = { topAgentGroupUid: this.targetData.topAgentGroupUid }
        const res = await getTopAgentAPIKeyData(this.loginToken, payload)

        if (res.exitCode === true) {
          this.assignDefaultValues(res.data)
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    openGenerateAPI() {
      if (this.current.isAccountJailed || this.current.isAPIEnabled === false) return

      this.isDisplayGenerateAPI = true
    },
    closeGenerateAPI() {
      this.isDisplayGenerateAPI = false
    },
    openEnableAPI() {
      if (this.current.isAccountJailed === true) return

      this.isDisplayEnableAPI = true
    },
    closeEnableAPI() {
      this.isDisplayEnableAPI = false
    },
    openDisableAPI() {
      this.isDisplayDisableAPI = true
    },
    closeDisableAPI() {
      this.isDisplayDisableAPI = false
    },
    assignDefaultValues(data) {
      this.current.salt = data.encryptIV
      this.current.encryptKey = data.encryptKey
      this.current.signKey = data.signKey
      this.current.isAPIEnabled = parseInt(data.isEnable) > 0
      this.current.topAgentGroupUid = data.groupUid
      this.current.isAccountJailed =
      this.targetData.isAccountDisabled === true || this.targetData.isAccountLocked === true
      this.current.topAgentUid = this.targetData.topAgentUid
      this.current.topAgentAccount = this.targetData.topAgentAccount
      this.current.systemCode = this.targetData.systemCode
    },
    resetCurrentData() {
      this.current.salt = ""
      this.current.encryptKey = ""
      this.current.signKey = ""
      this.current.isAPIEnabled = ""
      this.current.isAccountJailed = ""
      this.current.topAgentUid = ""
      this.current.topAgentGroupUid = ""
      this.current.topAgentAccount = ""
      this.current.systemCode = ""
    },
    exportAPIkeyFile() {
      const apiContent = [
        `EncryptKey = ${this.current.encryptKey}`,
        `EncryptIV = ${this.current.salt}`,
        `SignKey = ${this.current.signKey}`
      ]

      const fileContent = apiContent.join("\n")
      const fileName = `${this.current.topAgentAccount}${this.current.systemCode}key`
      const fileLink = document.createElement("a")
      fileLink.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(fileContent))
      fileLink.setAttribute("download", fileName)
      fileLink.style.display = "none"
      document.body.appendChild(fileLink)
      fileLink.click()
      document.body.removeChild(fileLink)
    },
    onClose() {
      this.resetCurrentData()
      this.$emit("close", true)
    }
  }
}
</script>

<style lang="stylus">
.top-agent-manage-api-key
  &__list
    display flex

  &__row
    display grid
    align-items center
    margin 1rem 0
    grid-template-columns 25% 1fr

  &__button-text
    display flex
    align-items center
    margin-right 0.5rem
    padding 0 0.5rem

  &__item
    margin-right 0.5rem
</style>
