<template lang="pug">
.top-agent-manage-edit
  el-dialog(
    :visible="isDisplay"
    width="600px"
    custom-class="general-modal"
    :show-close="false"
    :before-close="onClose"
    :close-on-click-modal="true"
    :destroy-on-close="true"
    @open="getDetailDate"
    center
  )
    .top-agent-manage-edit__modal(id="divDeleteChar")
      .top-agent-manage-edit__modal-header
        .top-agent-manage-edit__modal-header-text 編輯代理
        .top-agent-manage-edit__modal-header-actions
          .top-agent-manage-edit__modal-header-text 金鑰狀態 :

          .top-agent-manage-edit__modal-header-status.is-ok(
            id="labKeyStatusInEdit"
            v-if="apiKeyStatus === true"
          ) 啟用
          .top-agent-manage-edit__modal-header-status.is-danger(
            id="labKeyStatusInEdit"
            v-else-if="apiKeyStatus === false"
          ) 停用

          .top-agent-manage-edit__modal-header-button(
            id="btnManageKeyInEdit"
            @click="displayAPIKeyManage"
          ) 管理金鑰

      .modal__row
        .modal__label 代理帳號* :
        .modal__text {{ current.topAgentAccount }}

      .modal__row
        .modal__label.is-required(id="labCharInAddChar") 代理暱稱* :

        UserNicknameInput(
          domId="iptNickNameInEditTopAgent"
          :isRequired="true"
          @input="setUserNickname"
          placeholder="中、英、數字1-20位"
          ref="userNicknameInput"
        )

      .modal__row
        .modal__label 識別代碼* :
        .modal__text(id="labAgentCodeInEditTopAgent") {{ current.systemCode }}

      .modal__row
        .modal__label.is-required(id="labCharInAddChar") 手機號碼* :

        .top-agent-manage__phone-fields

          .top-agent-manage__phone-icon +

          PhoneCountryCodeInput(
            domId="iptAreaCodeInEditTopAgent"
            :parentClasses="['top-agent-manage__country-code-input']"
            :isRequired="true"
            inputType="text"
            @input="setPhoneCountryCode"
            ref="phoneCountryCodeInput"
          )

          .top-agent-manage__phone-icon -

          PhoneNumberInput(
            domId="iptCellphoneInEditTopAgent"
            :isRequired="true"
            inputType="text"
            @input="setPhoneNumber"
            ref="phoneNumberInput"
          )

      .modal__row
        .modal__label.is-required 電子郵件* :

        EmailInput(
          domId="iptEmailInEditTopAgent"
          :isRequired="true"
          @input="setEmail"
          ref="emailInput"
        )

      .modal__row
        .modal__label 帳務查看權限 :

        .top-agent-manage__query-fields

          input.input(
            id="iptSearchAccessInEditTopAgent"
            minlength="6"
            maxlength="20"
            type="text"
            v-model="associateAccountInput"
          )

          .icon__search(@click="fetchTopAgentAssociateAccount")


      .modal__row
        .modal__label
        .top-agent-manage__associate-account-area
          .top-agent-manage__query-account-fields(v-for="x in associateAccountList")
            .icon__delete(
              @click="removeAssociateAccountList(x.uid)"
            )
            span {{ x.account }}

      .modal__row
        .modal__label.is-required(id="labCharInAddChar") 錢包類型* :

        .top-agent-manage__wallet-fields

          .top-agent-manage__wallet-button(
            id="btnSingleWalletInEditTopAgent"
            :class="singleWalletCSS"
          ) 單一錢包

          .top-agent-manage__wallet-button(
            id="btnMultiWalletInEditTopAgent"
            :class="multipleWalletCSS"
          ) 多錢包

      .modal__row
        .top-agent-manage__wallet-url(v-if="isSingleWallet === true")

          ValidationProvider(
            :rules="{ required: true }"
            v-slot="{ errors, classes, validate }"
            ref="agentApiUrlInput"
          )

            input.input.top-agent-manage__wallet-url-input(
              id="iptURLInEditTopAgent"
              type="text"
              v-model="current.apiEndpoint"
              :class="classes"
              placeholder="請輸入URL"
            )

      .modal__row(v-if="isSingleWallet === true")
        .modal__label Sign Key :
        .top-agent-manage-edit__wallet-api-key-text(id="labWalletKeyInEditTopAgent") {{ current.apiSignKey }}
        .secondary-button.modal__item(
          id="btnRegenerateInEditTopAgent"
          @click="fetchRandomWalletAPISignKey"
        ) 重新產生

      .modal__row
        .modal__label 幣別 :
        .modal__text(id="labCurrencyInEditTopAgent") {{ `${current.currencyName} (${current.currencyCode})` }}

      .modal__row
        .modal__label 遊戲端預設語系 :
        ClientLanguageSelect(
          domId="selLanguageInEditTopAgent"
          @select="setClientLanguage"
          ref="clientLanguageSelect"
        )

      .modal__row
        .modal__label API IP白名單 :

        .top-agent-manage-edit__white-list
          AdvancedInput(
            domId="iptAPIWhiteListInEditTopAgent"
            :minlength="7"
            :maxlength="15"
            :regex="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/"
            @input="setgameAPIIPWhiteList"
            ref="gameAPIIPWhiteListInput"
          )

          .primary-button(
            id="btnAddAPIWhiteListInEditTopAgent"
            @click="createWhiteList('gameAPI')"
          ) 添加

      .modal__row
        .modal__label
        .top-agent-manage__associate-account-area
          .top-agent-manage__query-account-fields(v-for="x in gameAPIIPWhiteListGroup")
            .icon__delete(
              @click="removeWhiteList(x,'gameAPI')"
            )
            span {{ x }}

      .modal__row
        .modal__label 代理後台IP白名單 :

        .top-agent-manage-edit__white-list
          AdvancedInput(
            domId="iptBackendWhiteListInEditTopAgent"
            :minlength="7"
            :maxlength="15"
            :regex="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/"
            @input="setAgentIPWhiteList"
            ref="agentIPWhiteListInput"
          )

          .primary-button(
            id="btnAddBackendWhiteListInEditTopAgent"
            @click="createWhiteList('agent')"
          ) 添加

      .modal__row
        .modal__label
        .top-agent-manage__associate-account-area
          .top-agent-manage__query-account-fields(v-for="x in agentIPWhiteListGroup")
            .icon__delete(
              @click="removeWhiteList(x,'agent')"
            )
            span {{ x }}

      .modal__row
        .modal__label 遊戲域名 :

        .top-agent-manage__wallet-url
          AdvancedInput(
            domId="iptURLInAddTopAgentUrl"
            placeholder="請輸入URL"
            :parentClasses="['top-agent-manage-add__wallet-url']"
            @input="setAgentGameUrl"
            ref="agentGameUrlInput"
          )

      .modal__action-bar
        .secondary-button.modal__item(
          id="btnCancelInEditTopAgent"
          @click="onClose"
        ) 取消

        .primary-button.modal__item(
          id="btnSaveInEditTopAgent"
          @click="submitRequest"
        ) 儲存

  APIKeyManage(
    :isDisplay="isDisplayAPIKeyManage"
    :targetData="current"
    @close="closeAPIKeyManage"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import APIKeyManage from "@/components/common/TopAgentManage/APIKeyManage.vue"
import LoadingLock from "../../basic/LoadingLock.vue"
import { getTopAgentDetail, editTopAgent, generateWalletAPISignKey } from "@/api/Agent.js"
import {
  getGameAPIIPWhiteList,
  addGameAPIIPWhiteList,
  deleteGameAPIIPWhiteList,
  getAgentIPWhiteList,
  addAgentIPWhiteList,
  deleteAgentIPWhiteList
} from "@/api/WhiteList.js"
import { ValidationProvider } from "vee-validate"
import { mapState } from "vuex"
import EmailInput from "@/components/inputs/Email.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import PhoneNumberInput from "@/components/inputs/PhoneNumber.vue"
import PhoneCountryCodeInput from "@/components/inputs/PhoneCountryCode.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import ClientLanguageSelect from "@/components/selects/ClientLanguage.vue"
import {
  methods as TopAgentMethodsMixin,
  watch as TopAgentWatchMixin
} from "@/components/common/TopAgentManage/mixins/TopAgent.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  data: () => ({
    current: {
      topAgentAccount: "",
      topAgentUid: "",
      topAgentGroupUid: "",
      systemCode: "",
      nickname: "",
      email: "",
      walletTypeId: "",
      isAccountDisabled: "",
      isAccountLocked: "",
      apiIsEnabled: "",
      apiSignKey: "",
      apiEndpoint: "",
      phoneNumber: "",
      phoneCountryCode: "",
      currencyName: "",
      currencyCode: "",
      associateAccounts: [],
      languageSetCode: "",
      GameAPIIPWhiteList: [],
      AgentIPWhiteList: []
    },
    associateAccountInput: "",
    associateAccountList: [],
    gameAPIIPWhiteListGroup: [],
    gameAPIIPWhiteList: "",
    agentIPWhiteListGroup: [],
    agentIPWhiteList: "",
    isDisplayAPIKeyManage: false,
    isLoading: false
  }),
  components: {
    LoadingLock,
    ValidationProvider,
    APIKeyManage,
    EmailInput,
    UserNicknameInput,
    PhoneNumberInput,
    PhoneCountryCodeInput,
    AdvancedInput,
    ClientLanguageSelect
  },
  mixins: [ErrorMessageMixin, TopAgentMethodsMixin, TopAgentWatchMixin],
  computed: {
    ...mapState("member", ["loginToken"]),
    isSingleWallet() {
      return this.current.walletTypeId === 1
    },
    apiKeyStatus() {
      return this.current.apiIsEnabled
    },
    singleWalletCSS() {
      return {
        "top-agent-manage__wallet-button--selected": this.isSingleWallet,
        "top-agent-manage__wallet-button--disabled": this.isSingleWallet === false
      }
    },
    multipleWalletCSS() {
      return {
        "top-agent-manage__wallet-button--selected": this.isSingleWallet === false,
        "top-agent-manage__wallet-button--disabled": this.isSingleWallet === true
      }
    }
  },
  watch: {
    gameAPIIPWhiteListGroup(value) {
      if (value.length > 0) {
        const result = value.map(x => x)
        this.current.gameAPIIPWhiteList = result
      } else {
        this.current.gameAPIIPWhiteList = []
      }
    },
    agentIPWhiteListGroup(value) {
      if (value.length > 0) {
        const result = value.map(x => x)
        this.current.agentIPWhiteList = result
      } else {
        this.current.agentIPWhiteList = []
      }
    }
  },
  methods: {
    async fetchRandomWalletAPISignKey() {
      try {
        this.isLoading = true

        const res = await generateWalletAPISignKey(this.loginToken)

        if (res.exitCode === true) {
          this.current.apiSignKey = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    getDetailDate() {
      this.fetchTopAgentDetailData()
      this.fetchGameAPIIPWhiteListData()
      this.fetchAgentIPWhiteListData()
    },
    async fetchTopAgentDetailData() {
      try {
        const payload = { topAgentUid: this.targetData.topAgentUid }
        const res = await getTopAgentDetail(this.loginToken, payload)

        if (res.exitCode === true) {
          this.assignDefaultValues(res.data)
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    async fetchGameAPIIPWhiteListData() {
      try {
        const payload = { agentGroupUid: this.targetData.topAgentGroupUid }
        const res = await getGameAPIIPWhiteList(this.loginToken, payload)

        if (res.exitCode === true) {
          this.gameAPIIPWhiteListGroup = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    async fetchAgentIPWhiteListData() {
      try {
        const payload = { agentGroupUid: this.targetData.topAgentGroupUid }
        const res = await getAgentIPWhiteList(this.loginToken, payload)

        if (res.exitCode === true) {
          this.agentIPWhiteListGroup = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },

    setDefaultInputValues() {
      this.$refs["userNicknameInput"].setValue(this.current.nickname)
      this.$refs["emailInput"].setValue(this.current.email)
      this.$refs["phoneCountryCodeInput"].setValue(this.current.phoneCountryCode)
      this.$refs["phoneNumberInput"].setValue(this.current.phoneNumber)
      this.$refs["clientLanguageSelect"].setValue(this.current.languageSetCode)
      this.$refs["agentGameUrlInput"].setValue(this.current.agentGameUrl)
    },
    assignDefaultValues(data) {
      this.current.topAgentAccount = data.account
      this.current.nickname = data.nickname
      this.current.topAgentUid = data.uid
      this.current.topAgentGroupUid = data.groupUid
      this.current.walletTypeId = parseInt(data.walletId)
      this.current.isAccountDisabled = data.groupDisabled
      this.current.isAccountLocked = data.locked
      this.current.email = data.email
      this.current.systemCode = data.code
      this.current.phoneNumber = data.mobile
      this.current.phoneCountryCode = data.countryCode
      this.current.apiIsEnabled = parseInt(data.keyIsEnable) > 0
      this.current.apiSignKey = data.apiSignKey
      this.current.apiEndpoint = data.apiUrl
      this.current.currencyCode = data.currencyCode
      this.current.currencyName = data.currencyName
      this.current.languageSetCode = data.languageSetCode
      this.associateAccountList = data.reportUids
      this.current.agentGameUrl = data.agentGameUrl

      this.setDefaultInputValues()
    },
    resetCurrentData() {
      this.current.topAgentAccount = ""
      this.current.topAgentUid = ""
      this.current.topAgentGroupUid = ""
      this.current.nickname = ""
      this.current.email = ""
      this.current.walletTypeId = ""
      this.current.isAccountDisabled = ""
      this.current.isAccountLocked = ""
      this.current.phoneNumber = ""
      this.current.phoneCountryCode = ""
      this.current.apiIsEnabled = ""
      this.current.apiSignKey = ""
      this.current.apiEndpoint = ""
      this.current.systemCode = ""
      this.current.currencyCode = ""
      this.current.currencyName = ""
      this.current.languageSetCode = ""
      this.associateAccountList = []
      this.associateAccountInput = ""
      this.current.agentGameUrl = ""
    },
    setUserNickname(data) {
      this.current.nickname = data
    },
    setEmail(data) {
      this.current.email = data
    },
    setPhoneNumber(data) {
      this.current.phoneNumber = data
    },
    setPhoneCountryCode(data) {
      this.current.phoneCountryCode = data
    },
    displayAPIKeyManage() {
      this.isDisplayAPIKeyManage = true
    },
    setClientLanguage(data) {
      this.current.languageSetCode = data
    },
    setgameAPIIPWhiteList(data) {
      this.gameAPIIPWhiteList = data
    },
    setAgentIPWhiteList(data) {
      this.agentIPWhiteList = data
    },
    setAgentGameUrl(data) {
      this.current.agentGameUrl = data
    },
    async closeAPIKeyManage() {
      await this.fetchTopAgentDetailData()
      this.isDisplayAPIKeyManage = false
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userNicknameInput"].validate(),
        this.$refs["emailInput"].validate(),
        this.$refs["phoneCountryCodeInput"].validate(),
        this.$refs["phoneNumberInput"].validate()
      ])

      const isAllValid = result.every(x => x.valid === true)

      if (this.isSingleWallet === true) {
        const result = await this.$refs["agentApiUrlInput"].validate()
        return result.valid && isAllValid
      } else {
        return isAllValid
      }
    },
    onClose() {
      this.resetCurrentData()
      this.$emit("close", true)
    },
    async submitRequest() {
      const isValid = await this.validInputs()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          topAgentUid: this.current.topAgentUid,
          nickname: this.current.nickname,
          phoneCountryCode: this.current.phoneCountryCode,
          phoneNumber: this.current.phoneNumber,
          email: this.current.email,
          walletTypeId: this.current.walletTypeId,
          apiEndpoint: this.current.apiEndpoint,
          apiSignKey: this.current.apiSignKey,
          languageSetCode: this.current.languageSetCode,
          associateAccounts: this.current.associateAccounts ? this.current.associateAccounts : [],
          agentGameUrl: this.current.agentGameUrl
        }

        const res = await editTopAgent(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async createWhiteList(whiteListType) {
      const whiteListValid = whiteListType === "gameAPI" ? "gameAPIIPWhiteListInput" : "agentIPWhiteListInput"
      const whiteListGroup = whiteListType === "gameAPI" ? this.gameAPIIPWhiteListGroup : this.agentIPWhiteListGroup
      const whiteListInput = whiteListType === "gameAPI" ? this.gameAPIIPWhiteList : this.agentIPWhiteList

      const result = await this.$refs[whiteListValid].validate()
      if (result.valid !== true) return

      const isDuplicate = whiteListGroup.filter(x => x === whiteListInput).length > 0
      if (isDuplicate === true) return

      const isNumberLimit = whiteListGroup.length >= 10
      if (isNumberLimit === true) return

      try {
        this.isLoading = true

        const payload = {
          agentGroupUid: this.targetData.topAgentGroupUid,
          ip: whiteListInput
        }
        const addWhiteList = whiteListType === "gameAPI" ? addGameAPIIPWhiteList(this.loginToken, payload) : addAgentIPWhiteList(this.loginToken, payload)
        const res = await addWhiteList

        if (res.exitCode === true) {
          const list = whiteListGroup
          list.push(whiteListInput)

          this.$refs[whiteListValid].setValue("")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async removeWhiteList(value, whiteListType) {
      const whiteListGroup = whiteListType === "gameAPI" ? this.gameAPIIPWhiteListGroup : this.agentIPWhiteListGroup

      try {
        this.isLoading = true

        const payload = {
          agentGroupUid: this.targetData.topAgentGroupUid,
          ip: value
        }
        const deleteWhiteList = whiteListType === "gameAPI" ? deleteGameAPIIPWhiteList(this.loginToken, payload) : deleteAgentIPWhiteList(this.loginToken, payload)
        const res = await deleteWhiteList

        if (res.exitCode === true) {
          const result = whiteListGroup.filter(x => x !== value)

          if (whiteListType === "gameAPI") {
            this.gameAPIIPWhiteListGroup = result
          } else {
            this.agentIPWhiteListGroup = result
          }
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
@import "../../../styles/stylus/mixin/button.styl"

.top-agent-manage-edit
  &__modal-header
    display flex
    justify-content space-between
    align-items center
    padding 0.5rem 0
    border-bottom 1px solid #000000

  &__modal-header-actions
    display flex
    align-items center

  &__modal-header-text
    font-weight bold

  &__modal-header-status
    margin 0 1rem

  &__modal-header-button
    primaryButton()
    padding 0.5rem

  &__wallet-api-key-text
    grid-column span 2

  &__white-list
    display flex
    justify-content space-between
    grid-column span 2
</style>
