<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="450px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  center
)
  .permission-manage-delete(id="divEnableTopAgentAcct")
    .modal__list
      .modal__text
        .modal__word 您即將
        .modal__word.is-danger 啟用
        .modal__word.is-ok {{ displayAccountLabel }}
        .modal__word ，但金鑰仍為停用。
      
    .modal__list
      .modal__text 確認完畢，請在下方輸入您的使用者密碼：

    .modal__list
      ValidationProvider(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="userPasswordInput"
      )
        input.modal__input(
          id="iptPasswordInEnableTopAgentAcct"
          type="password"
          placeholder="請輸入您的使用者密碼"
          v-model="current.userPassword"
          :class="classes"
          @blur="validate"
        )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInEnableTopAgentAcct"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnConfirmInEnableTopAgentAcct"
        @click="submitRequest"
      ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { enableTopAgent } from "@/api/Agent.js"
import { ValidationProvider } from "vee-validate"
import { mapState } from "vuex"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  data: () => ({
    current: { userPassword: "" },
    isLoading: false
  }),
  components: { LoadingLock, ValidationProvider },
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapState("member", ["loginToken"]),
    displayAccountLabel() {
      return `${this.targetData.topAgentAccount} (${this.targetData.nickname})`
    }
  },
  methods: {
    async validate() {
      return await this.$refs["userPasswordInput"].validate()
    },
    resetToDefault() {
      this.current.userPassword = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    async submitRequest() {
      const { valid: isValid } = await this.validate()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          userPassword: this.current.userPassword,
          topAgentUid: this.targetData.topAgentUid
        }

        const res = await enableTopAgent(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.onClose()
      }
    }
  }
}
</script>
