<template>
    <div>
	  <div class="panel _c_dialog">
			<h2 v-if="addMode">新增遊戲</h2>
			<h2 v-if="editMode">編輯遊戲</h2>
			<hr>
			<div class="panel_basic">
				<div class="_subtitle active">
					基本設定
				</div>
				<div class="inEdit">
					<div class="_row">
						<div class="_title">遊戲名稱 * : </div>
						<div class="_input">
							<input
								v-if="addMode"
								type="text"
								v-model="editData.title"
								v-bind:class="{'_input':true,'v_error':V_err.has('gameType.gameTitle')}"
								v-validate="{AlphaNumChinese:true,required:true,min:1,max:20}"
								name="gameTitle"
								placeholder="英、數、中，1~20位"
								maxlength = "20"
								data-vv-scope= "gameType"
								id="iptGameNameInAddGameSet"
								>
							<span v-if="editMode" id="labGameNameInEditGameSet">{{editData.title}}</span>
						</div>
					</div>
					<div class="_row">
						<div class="_title">遊戲別名 * : </div>
						<div class="_input">
							<input
								v-if="addMode"
								type="text"
								v-model="editData.alias"
								v-bind:class="{'_input':true,'v_error':V_err.has('gameType.gameAlias')}"
								v-validate="{bigAlphaUnderline:true,required:true,min:1,max:20}"
								name="gameAlias"
								placeholder="全英文大寫包含_，1~20位"
								maxlength = "20"
								data-vv-scope= "gameType"
								id="iptGameNickInAddGameSet"
								>
							<span v-if="editMode" id="labGameNickInEditGameSet">{{editData.alias}}</span>
						</div>
					</div>
					<div class="_row">
						<div class="_title">遊戲ID * : </div>
						<div class="_input">
							<input
								v-if="addMode"
								type="text"
								v-model="editData.code"
								v-bind:class="{'_input':true,'v_error':V_err.has('gameType.gameCode')}"
								v-validate="{integer:true,required:true,min:1,max:4,min_value:0}"
								name="gameCode"
								placeholder="數字，最大4位"
								maxlength = "4"
								data-vv-scope= "gameType"
								id="iptGameIDInAddGameSet"
								>
							<span v-if="editMode" id="labGameIDInEditGameSet">{{editData.code}}</span>
						</div>
					</div>
					<div class="_row">
						<div class="_title">桌種權限 * : </div>
						<div
							:class="{_input:true,v_error:(editData.tableTypes.length == 0) && editData.tableTypesValidOnce}"
							:id="!editMode?('divTableTypePermissionInAddGameSet'):('divTableTypePermissionInEditGameSet')">
							<label v-for="(item, index) in D_TableTypeList" class="_TableType">
								<input type="checkbox" :value="item.uid" v-model="editData.tableTypes">  {{item.title}}
							</label>
						</div>
					</div>

					<div class="opBar" v-if="editMode">
						<div :class="{_btn_c:true,_cancel:true,disabled:!isChangeGameType}" @click="resetGameType();" id="btnBaseSetCancelInEditGameSet">取消</div>
						<div :class="{_btn_c:true,_primary:true,disabled:!isChangeGameType}" @click="doUpdateGame();" id="btnBaseSetOKInEditGameSet">儲存</div>
					</div>


				</div>
			</div>
			<div class="panel_playType">
				<div :class="{_subtitle:true,active:item.active}" v-for="(item, index) in D_playTypes" @click="switchPlayType(item);" >
					{{item.title}}
					<span v-if="item.locked" class="stateLocked">關閉</span>
				</div>
				<div class="iconAddPlayType" @click="AddPlayType();" v-if="editMode" id="btnAddPlay">+</div>
				<div class="inEdit">
					<div class="_row">
						<div class="_title">玩法狀態 * : </div>
						<div class="_input" v-if="!editData.playType.editMode" id="labPlayStatusInAddGameSet">
							關閉
						</div>
						<div class="_input" v-if="editData.playType.editMode">
							<div :class="{isOn:true,active:!editData.playType.locked}" @click="editData.playType.locked=false;" id="btnPlayStatusOpenInEditGameSet">開啟</div>
							<div :class="{isOff:true,active:editData.playType.locked}" @click="editData.playType.locked=true;" id="btnPlayStatusCloseInEditGameSet">關閉</div>
						</div>

					</div>
					<div class="_row">
						<div class="_title">玩法名稱 * : </div>
						<div class="_input">
							<input
								type="text"
								v-model="editData.playType.title"
								v-bind:class="{'_input':true,'v_error':V_err.has('playType.playTypeTitle')}"
								v-validate="{AlphaNumChinese:true,required:true,min:1,max:20}"
								name="playTypeTitle"
								placeholder="英、數、中，1~20位"
								maxlength = "20"
								data-vv-scope= "playType"
								v-show="!editData.playType.editMode"
								id="iptPlayNameInAddGameSet"
								>
							<span v-if="editData.playType.editMode" id="labPlayNameInEditGameSet">{{editData.playType.title}}</span>
						</div>
					</div>
					<div class="_row">
						<div class="_title">玩法別名 * : </div>
						<div class="_input">
							<input
								type="text"
								v-model="editData.playType.alias"
								v-bind:class="{'_input':true,'v_error':V_err.has('playType.playTypeAlias')}"
								v-validate="{bigAlphaUnderline:true,required:true,min:1,max:20}"
								name="playTypeAlias"
								placeholder="全英文大寫包含_，1~20位"
								maxlength = "20"
								data-vv-scope= "playType"
								v-show="!editData.playType.editMode"
								id="iptPlayNickInAddGameSet"
								>
							<span v-if="editData.playType.editMode" id="labPlayNickInEditGameSet">{{editData.playType.alias}}</span>
						</div>
					</div>
					<div class="_row">
						<div class="_title">玩法ID * : </div>
						<div class="_input">
							<input
								type="text"
								v-model="editData.playType.code"
								v-bind:class="{'_input':true,'v_error':V_err.has('playType.playTypeCode')}"
								v-validate="{integer:true,required:true,min:1,max:5,min_value:0}"
								name="playTypeCode"
								placeholder="數字，最大5位"
								maxlength = "5"
								data-vv-scope= "playType"
								v-show="!editData.playType.editMode"
								id="iptPlayIDInAddGameSet"
								>
							<span v-if="editData.playType.editMode" id="labPlayIDInAddGameSet">{{editData.playType.code}}</span>
						</div>
					</div>
					<div class="_row">
						<div class="_title">玩法限紅 * : </div>
						<div :class="{_input:true,v_error:(editData.playType.betAreas.length==0) && editData.playType.ValidOnce}" >
							<div class="addBet" :id="!editMode?('divPlayBetLimitInAddGameSet'):('divPlayBetLimitInEditGameSet')">
								<div class="_f">
									<div class="_f_title">注區名稱</div>
									<input
										class="_f_val"
										v-model="D_betAreas.title"
										type="text"
										v-bind:class="{'_input':true,'v_error':V_err.has('betarea.betTitle')}"
										v-validate="{AlphaNumChineseSymbol:true,required:true,min:1,max:20}"
										name="betTitle"
										placeholder="英、數、中、全部符號，1~20位"
										maxlength = "20"
										data-vv-scope= "betarea"
										:id="!editMode?('iptBetAreaName'):('iptBetAreaNameInEditGame')"
										>
								</div>
								<div class="_f">
									<div class="_f_title">注區別名</div>
									<input
										class="_f_val"
										v-model="D_betAreas.alias"
										type="text"
										v-bind:class="{'_input':true,'v_error':V_err.has('betarea.betAlias')}"
										v-validate="{bigAlphaUnderlineNum:true,required:true,min:1,max:30}"
										name="betAlias"
										placeholder="全英文大寫、數字包含_，1~30位"
										maxlength = "30"
										data-vv-scope= "betarea"
										:id="!editMode?('iptBetAreaNickName'):('iptBetAreaNickNameInEditGame')"
										>
								</div>
								<div class="_f">
									<div class="_f_title">注區ID</div>
									<input
										class="_f_val"
										v-model="D_betAreas.code"
										type="text"
										v-bind:class="{'_input':true,'v_error':V_err.has('betarea.betCode')}"
										v-validate="{integer:true,required:true,min:1,max:5,min_value:0}"
										name="betCode"
										placeholder="數字，最大5位"
										maxlength = "5"
										data-vv-scope= "betarea"
										:id="!editMode?('iptBetAreaID'):('iptBetAreaIDInEditGame')"
										>
								</div>
								<div class="_f">
									<div class="_f_title">注區賠率</div>
									<input
										class="_f_val"
										v-model="D_betAreas.rate"
										type="text"
										v-bind:class="{'_input':true,'v_error':V_err.has('betarea.betRate')}"
										v-validate="{required:true,min:1,max:10,is_not:'0',decimal:5,max_value:9999.99999,min_value:0.00001}"
										name="betRate"
										maxlength = "10"
										data-vv-scope= "betarea"
										:id="!editMode?('iptBetAreaOdds'):('iptBetAreaOddsInEditGame')"
										>
								</div>
								<div class="_f">
									<div class="_f_title">限紅賠率</div>
									<input
										class="_f_val"
										v-model="D_betAreas.limitRate"
										type="text"
										v-bind:class="{'_input':true,'v_error':V_err.has('betarea.limitRate')}"
										v-validate="{integer:true,required:true,min:1,max:4,is_not:'0',min_value:0}"
										name="limitRate"
										maxlength = "4"
										data-vv-scope= "betarea"
										:id="!editMode?('iptLimitOdds'):('iptLimitOddsInEditGame')"
										>
								</div>
								<div class="_f">
									<div
										:class="{_btn_c:true,_primary:true,disabled:!isAddBetEnable}"
										@click="appendBetArea();"
										:id="!editMode?('btnAddPlayLimit'):('btnAddPlayLimitInEditGame')"
										>新增</div>
								</div>
							</div>
							<div class="listBet">
								<div class="t_f">
									<div class="_col f_a">注區名稱</div>
									<div class="_col f_b">注區別名</div>
									<div class="_col f_c">注區ID</div>
									<div class="_col f_d">注區賠率</div>
									<div class="_col f_e">限紅賠率</div>
									<div class="_col f_f">操作</div>
								</div>
								<div class="t_d" v-for="(item, index) in editData.playType.betAreas">
									<div class="_col f_a">{{item.title}}</div>
									<div class="_col f_b">{{item.alias}}</div>
									<div class="_col f_c">{{item.code}}</div>
									<div class="_col f_d">{{item.rate}}</div>
									<div class="_col f_e">{{item.limitRate}}</div>
									<div class="_col f_f">
										<div class="_btn_c _primary" @click="delBetArea(index);">刪除</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!--編輯狀態下，新增玩法-->
					<div class="opBar" v-if="editMode && !editData.playType.editMode">
						<div class="_btn_c _cancel" @click="cancelAddPlayType();">取消</div>
						<div :class="{_btn_c:true,_primary:true,disabled:!isAddPlayType}" @click="saveAddPlayType();">儲存</div>
					</div>
					<!--編輯狀態下，編輯玩法-->
					<div class="opBar" v-if="editMode && editData.playType.editMode">
						<div :class="{_btn_c:true,_cancel:true,disabled:!isChangePlayType}" @click="resetEditPlayType();" id="btnPlayTypeCancelInEditGameSet">取消</div>
						<div :class="{_btn_c:true,_primary:true,disabled:!isEditPlayType}" @click="doUpdatePlayType();" id="btnPlayTypeOKInEditGameSet">儲存</div>
					</div>

				</div>

				<div class="opBar" v-if="addMode">
					<div :class="{_btn_c:true,_cancel:true}" @click="toExit();" id="btnCancelInAddGameSet">取消</div>
					<div :class="{_btn_c:true,_primary:true}" @click="doAddGame();" id="btnOKInAddGameSet">儲存</div>
				</div>

				<div v-if="editMode" :class="{_btn_c:true,_primary:true,toClose:true}" @click="toExit();" id="btnCloseInEditGameSet">關閉</div>

			</div>
	  </div>
    </div>
</template>

<script>

	import TableTypeManager from '@/services/TableTypeManager';
	import GameTypeManager from '@/services/GameTypeManager';
	import PlayTypeManager from '@/services/PlayTypeManager';
	export default {
		components : {

		},
		props : ['prop_mode','prop_loginToken','prop_gameTypeUid'],
		data(){
			return {
				loginToken : this.prop_loginToken,
				editMode : this.prop_mode.edit,
				addMode : this.prop_mode.add,
				postd : {},
				_addData : {
					title : '',
					alias : '',
					code : '',
					tableTypes : [],
					tableTypesValidOnce:false,
					playType : {

					}
				},
				addData : {},
				editData : {},
				_playType : {
						title : '新增玩法',
						alias : '',
						code : '',
						locked : true,
						betAreas : [],
						editMode : false,
						active : true,
						ValidOnce:false,
					},
				D_playTypes : [],
				_D_playTypes : [],
				D_TableTypeList : [],
				D_activePlayTypeUid : '',
				D_betAreas:{},
				_D_betAreas:{
					//uid : '',
					title : '',
					alias : '',
					code : '',
					rate : '',
					limitRate : ''
				},
				BeforeEditData:{
					GameType:{

					},
					PlayType:{

					}
				},
				addFlag:{
					gameType : false,
					playType : true
				}
			}
		},
		filters: {
		  stateText1 : function (value) {
			var t = (value === '0')?'開放':'關閉';
			return t;
		  }
		},
		methods:{
			init(){
				this.get_TableTypeList();
				this.init_D_betAreas();
				var a = _.cloneDeep(this.$data._addData);
				a.playType = _.cloneDeep(this.$data._playType);
				this.$data.editData = _.cloneDeep(a);


				switch(true){

					case (this.$data.editMode):
						this.initEdit();
					break;


					case (this.$data.addMode):
						this.initAdd();
					break;

				}

			},
			init_D_betAreas(){
				this.$data.D_betAreas = _.cloneDeep(this.$data._D_betAreas);
				this.clearErrors('betarea');
			},
			initAdd(){

				this.$data.D_playTypes.push(this.$data.editData.playType);
			},
			initEdit(){

				var _this = this;


				GameTypeManager.getGameTypeDetail(this.loginToken,this.prop_gameTypeUid)
					.then(function(res){

						var aa  = _.cloneDeep(res);
						aa.playType = _.cloneDeep(res).playModes;
						aa.tableTypes = _.cloneDeep(res).tableSpecies;

						aa.playType.betAreas = [];
						aa.tableTypesValidOnce = true;
						_this.$data.D_playTypes = [];
						var _t = res.playModes;
						var i = 0;
						_.forEach(_t,function(v,k){


							_this.$data.D_activePlayTypeUid = _this.$data.D_activePlayTypeUid || v.uid;


							_this.$data._D_playTypes.push({
								title : v.title,
								uid : v.uid,
								active : (i == 0),
								editMode : true,
								locked : v.locked
							});

							i++;

						});
						_this.$data.editData = _.cloneDeep(aa);
						_this.BeforeEditData.GameType = _.cloneDeep(aa);

					})
					.catch(function(err){

						console.log(err);

					});

			},
			//設定Active 的P layTypeUid
			setActivePlayTypeUid(uid){
				this.$data.D_activePlayTypeUid = uid;
			},
			//切換玩法
			switchPlayType(item){

				switch(true){

					case (!item.editMode):
					case (item.active):
						return false;
					break;

					case (!this.$data.editData.playType.editMode):
						var r = confirm("是否放棄新增玩法");
						if(r == false) {
							return false;
						}
						else
						{
							this.$data.D_activePlayTypeUid = item.uid;
						}
					break;

					case (!this.$data.editData.playType.editMode && this.isChangePlayType):
					case (this.isChangePlayType):
						var r = confirm("資料未儲存，是否確定離開!!");
						if(r == false) {
							return false;
						}
						else
						{
							this.$data.D_activePlayTypeUid = item.uid;
						}
					break;



					default:
						this.$data.D_activePlayTypeUid = item.uid;
					break;

				}


			},
			//新增UI的注區
			appendBetArea(){
				if(!this.isAddBetEnable) return;

				var a = _.cloneDeep(this.$data.D_betAreas);
				this.$data.editData.playType.betAreas.push(a);
				this.init_D_betAreas();

			},
			//移除UI的注區
			delBetArea(index){

					var a = _.cloneDeep(this.$data.editData.playType.betAreas);
					 a.splice(index, 1);
					 this.$data.editData.playType.betAreas = _.cloneDeep(a);

			},
			clearErrors(scope){
				var _this = this;
				setTimeout(function(){
					//_this.V_err.clear(scope);
					let matcher = {
						scope: scope
					}
					_this.$validator.reset(matcher);
				}, 5);
			},
			completeAddGame(){
				this.$emit("toExit");
			},

			completeUpdatePlayType(){

				this.$data._D_playTypes = _.cloneDeep(this.$data.D_playTypes);
				this.get_playTypeDetail();
			},
			comoleteSaveAddPlayType(uid){


				this.$data.editData.playType.uid = uid;
				this.$data._D_playTypes = _.cloneDeep(this.$data.D_playTypes);
				this.setActivePlayTypeUid(uid);
			},
			saveAddPlayType(){


				if(!this.isAddPlayType) return;

				var _this = this;
				var a = this.$data.editData.playType;
				var d = {
					gameSetUid : this.prop_gameTypeUid,
					title : a.title,
					alias : a.alias,
					code : a.code,
					locked : a.locked,
					betAreas : a.betAreas
				};

				PlayTypeManager.addPlayType(this.loginToken,d)
					.then(function(res){

						var uid = res;
						_this.comoleteSaveAddPlayType(uid);

					})
					.catch(function(err){
						console.log(err);
					});


			},
			doUpdatePlayType(){

				if(!this.isEditPlayType)	return;

				var _this = this;
				var editData = this.$data.editData;
				var a = editData.playType;
				var b = this.$data.BeforeEditData.PlayType;


				var d = {
					uid : a.uid,
					title : a.title,
					alias : a.alias,
					code : a.code,
					locked : a.locked,
					betAreas : (function(){
						let _add = [] ,_delete = [];

						_.forEach(a.betAreas,function(v,k){
							let r = (v.uid || false);
							if(!r) {
								_add.push(v);
							}
						});

						_.forEach(b.betAreas,function(v,k){
							var r = _.filter(a.betAreas,{uid:v.uid});
							if(r.length == 0) {
								_delete.push(v.uid);
							}
						});


						return {
							'add' : _add,
							'delete' : _delete
						};

					})()
				};


				PlayTypeManager.updatePlayType(this.loginToken,d)
					.then(function(res){
						_this.completeUpdatePlayType();

					})
					.catch(function(err){

						console.log(err);

					});


			},
			doAddGame(){ //新增遊戲
				var _this = this;

				if(this.isAddGameEnable)
				{
					this.AddGame();

				}
				else
				{
					this.$data.editData.playType.ValidOnce = true;
					this.$data.editData.tableTypesValidOnce = true;

					this.$validator.validateAll("gameType").then((result) => {


					  });

					this.$validator.validateAll("playType").then((result) => {


					 });
				}

			},
			AddGame(){
				var _this = this;
				var editData = this.$data.editData;
				var d = {
					title	:	editData.title,
					alias	:	editData.alias,
					code	:	editData.code,
					tableSpecies	:	editData.tableTypes,
					playMode : editData.playType
				}



				GameTypeManager.addGameType(this.loginToken,d)
					.then(function(res){
						_this.completeAddGame();

						//_this.$data.D_TableTypeList = _.cloneDeep(res.rows);


					})
					.catch(function(err){

						console.log(err);

					});
			},
			doUpdateGame(){				//更新遊戲


				var _this = this;
				var editData = this.$data.editData;

				var d = {
					uid : editData.uid,
					tableSpecies : editData.tableTypes
				}

				GameTypeManager.updateGameType(this.loginToken,d)
					.then(function(res){

						var r = _.cloneDeep(_this.BeforeEditData.GameType);
						r.tableTypes = _.cloneDeep(_this.$data.editData.tableTypes);
						_this.BeforeEditData.GameType = _.cloneDeep(r);

					})
					.catch(function(err){
						console.log(err);
					});



			},
			toExit(){
				this.$emit("toExit");
			},
			cancelAddPlayType(){

				var item = this.$data.D_playTypes[this.$data.D_playTypes.length-2];
				this.switchPlayType(item);
			},
			AddPlayType(){	//新增一個玩法 UI


				if(!this.$data.editData.playType.editMode){
					alert("請先儲存!!");
					return;
				}

				if(this.isChangePlayType)
				{
					var r = confirm("您的資料尚未儲存，請問您確定要離開此分頁!!");
					if(r == false) {
						return false;
					}
					else
					{
						this.$data.D_playTypes = _.cloneDeep(this.$data._D_playTypes);
						}
				}



				var a = _.cloneDeep(this.$data.editData);
				var b = _.cloneDeep(this.$data.D_playTypes);
				a.playType = _.cloneDeep(this.$data._playType);
				this.$data.editData = _.cloneDeep(a);

				_.forEach(b,function(v,k){
					b[k].active = false;
				});
				this.$data.D_playTypes = _.cloneDeep(b);
				this.$data.D_playTypes.push(this.$data.editData.playType);

				this.clearErrors('playType');
				this.$data.D_activePlayTypeUid = '';
			},
			get_TableTypeList(){
				var _this = this;
				TableTypeManager.getTableTypeList(this.loginToken)
					.then(function(res){

						_this.$data.D_TableTypeList = _.cloneDeep(res.rows);


					})
					.catch(function(err){

						console.log(err);

					});
			},
			get_playTypeDetail(){
				var _this = this;
				var uid = this.$data.D_activePlayTypeUid;
				var a = _.cloneDeep(_this.$data.editData);
				PlayTypeManager.getPlayTypeDetail(this.loginToken,uid)
					.then(function(res){

						a.playType = res;
						a.playType.active = true;
						a.playType.ValidOnce = true;
						_this.$data.editData = _.cloneDeep(a);




						_this.$data.D_playTypes = _this.$data._D_playTypes;
						var temp = _.cloneDeep(_this.$data.D_playTypes);

						_.forEach(_this.$data.D_playTypes,function(v,k){



							if(v.uid == uid) {
								temp[k] = _this.$data.editData.playType;
							}
							else

							{
								temp[k] = _.cloneDeep(
										{
											title : v.title,
											uid : v.uid,
											active : false,
											locked : v.locked
										}
									)
							}


							temp[k].editMode = true;

						});


						//儲存原始資料
						_this.$data.BeforeEditData.PlayType = _.cloneDeep(_this.$data.editData.playType);

						_this.$data.D_playTypes = temp;
						_this.clearErrors('playType');
						_this.clearErrors('betarea');

					})
					.catch(function(err){

						console.log(err);

					});
			},
			//在編輯狀態，回復異動的遊戲內容，目前只有開放 [ 桌種權限 ]編輯
			resetGameType(){
				this.$data.editData.tableTypes = _.cloneDeep(this.BeforeEditData.GameType.tableTypes);
			},
			//在編輯狀態，回復異動的遊戲玩法內容
			resetEditPlayType(){
				this.$data.editData.playType = _.cloneDeep(this.$data.BeforeEditData.PlayType);
			}

		},
		computed:{
			isAddGameEnable(){

				var state = true;

				_.forEach(this.V_fields.$gameType,function(v,k){

						if(!v.required && v.untouched)
						{
							return true;
						}

						if(!v.valid){
							state = false;
							return false;
						}

				});


				_.forEach(this.V_fields.$playType,function(v,k){
						if(!v.required && v.untouched)
						{
							return true;
						}

						if(!v.valid){
							state = false;
							return false;
						}
				});


				if(this.$data.editData.playType.betAreas.length == 0)
				{
					state = false;
				}

				if(this.$data.editData.tableTypes.length == 0)
				{
					state = false;
				}




				return state;
			},
			isAddBetEnable(){

				var state = true;
				_.forEach(this.V_fields.$betarea,function(v,k){

						if(!v.required && v.untouched)
						{
							return true;
						}

						if(!v.valid){
							state = false;
							return false;
						}

				});




				return state;
			},
			isAddPlayType(){

				var state = true;
				_.forEach(this.V_fields.$playType,function(v,k){

						if(!v.required && v.untouched)
						{
							return true;
						}

						if(!v.valid){
							state = false;
							return false;
						}

				});

				if(this.$data.editData.playType.betAreas.length == 0)
				{
					state = false;
				}

				return state;
			},
			isEditPlayType(){

				var state = true;


				if(this.$data.editData.playType.betAreas.length == 0)
				{
					state = false;
				}

				if(!this.isChangePlayType)
				{
					state = false;
				}

				return state;
			},
			isChangePlayType(){
				var state = false;

				var a = _.cloneDeep(this.$data.BeforeEditData.PlayType);
				var b = _.cloneDeep(this.$data.editData.playType);

				state = !(JSON.stringify(a) == JSON.stringify(b));

				return state;
			},
			isChangePlayType2(){
				var state = false;
				_.forEach(this.V_fields.$playType,function(v,k){

						if(v.dirty){
							state = true;
						}
				});



				return state;
			},
			//在編輯狀態，是否有異動遊戲內容，目前只有開放 [ 桌種權限 ]編輯
			isChangeGameType(){
				var state = false;
				var a = _.cloneDeep(this.BeforeEditData.GameType.tableTypes);
				var b = _.cloneDeep(this.editData.tableTypes);

				state = !(JSON.stringify(a) == JSON.stringify(b));

				return state;
			}
		},
		beforeCreate(){

		},
		created(){

			this.init();
		},
		watch:{
			D_activePlayTypeUid(val){

				this.init_D_betAreas();
				if(val == "") return;

				this.get_playTypeDetail();
			}
		}
	}
</script>

<style lang="less">

</style>



<style lang="less" scoped>

	@w : 1000px;


	.panel_basic{
		text-align:left;
	}


	.filter_bar{
		width:@w;
		justify-content: flex-end;
	}


	._btn_c{

		width:50px;
		background-color:#ffffff;
		color:#000000;

		&._add {
			width:90px;
			background-color:#606060;
			color:#ffffff;
		}

		&._save {
			width:90px;
			background-color:#ffffff;
			color:#000000;
		}

		&._edit {
			background-color:#606060;
			color:#ffffff;
		}



		&._doAdd{
			background-color:#606060;
			color:#ffffff;
		}



	}

	.t_f{
		width:@w;
	}


	.t_d{
		width:@w;

		._col{
			height:auto;
			min-height:35px;
			justify-content:center;
		}
	}

	.f_a{flex:1 0;}
	.f_b{flex:1 0;}
	.f_c{flex:1 0;}
	.f_e{flex:1 0;}
	.f_sort{
		flex:1 0;
	}

	._srot(){
			background-image:url('../../../img/u3262.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 14px 17px;
			display:inline-flex;
			width:28px;
			height:25px;
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(204, 204, 204, 1);
			margin:0px 3px;
			cursor:pointer;
		}

	._disabled(){
			background-image:url('../../../img/u3259.png');
			background-color: rgba(242, 242, 242, 1);
			cursor:not-allowed;
	}



	.btnDisabled{
		opacity: 0.3;
		cursor:not-allowed;
	}

	.sortUp{
			._srot();
			&._disabled {
				._disabled();
			}
		}

	.sortDown{
			._srot();
			background-position: center 2px;
			transform:rotate(180deg);
			&._disabled {
				._disabled();
			}
		}


	.f_h{flex:1 0;}



	._col.active{
		color:#0000FF;
	}

	.isset{
		background-image:url('../../../img/isset.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30px;
	}


	.panel{
		background-color: rgba(242, 242, 242, 1);
		border:1px solid rgba(121, 121, 121, 1);
		width:800px;
		min-height:489px;
		padding:10px 30px;
		text-align:center;

		.opBar{
			margin-top:50px;
			width:100%;
			display:flex;
			justify-content:center;
			margin-bottom:50px;
		}

		.t_f{
			width:100%;
		}

		.t_d{
			width:100%;
			background-color:#ffffff;
		}

		._col.f_a{
			max-width:60px;
		}

		._col.f_d{
			flex:1 0;
		}


	}


	h2{
		text-align:left;
		margin-bottom: 0px;
	}

	._row{
		width:90%;
		display:flex;
		margin: 20px auto;
		text-align: left;

		._title{
			width:20%;
			font-weight:bold;
			color:#324243;
			display:inline-flex;
			align-items:center;
		}

		._input{
			width:80%;
			display: flex;
			flex-wrap: wrap;

			input[type=text]
			{
				width: 200px;
				height: 30px;
				font-weight: 400;
				font-style: normal;
				font-size: 13px;
				text-decoration: none;
				box-sizing: border-box;
			}
		}
	}


	._subtitle{
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		text-align: left;
		min-width: 150px;
		height: 25px;
		display:inline-flex;
		justify-content:flex-start;
		align-items:center;
		color: #FFFFFF;
		background-color: rgba(204, 204, 204, 1);
		border-color: rgba(204, 204, 204, 1);
		margin-right:1px;
		cursor:pointer;
		padding-left:10px;
		position:relative;

		&.active	{
			background-color: rgba(102, 102, 102, 1);
			border-color: rgba(102, 102, 102, 1);
			cursor:default;
		}

		.stateLocked{
			position:absolute;
			right : 10px;
			font-size: 12px;
			color: #000000;
			background-color: rgba(228, 228, 228, 1);
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(0, 0, 0, 1);
			display: flex;
			justify-content: center;
			align-items: center;
			width:35px;
			height:18px;
		}

	}

	.inEdit{
		background-color: rgba(228, 228, 228, 1);
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		border-color: rgba(102, 102, 102, 1);
	}

	label._TableType{
		min-width: 100px;
		cursor: pointer;
		display: inline-flex;
		height: 30px;
		align-items: center;
	}

	._switch(){
		background-color: rgba(153, 153, 153, 1);
		border-color: rgba(121, 121, 121, 1);
		border-width: 1px;
		border-style: solid;
		border-color: rgba(121, 121, 121, 1);
		border-radius: 3px;
		width: 66px;
		height: 30px;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		cursor:pointer;
		color:#ffffff;
		&.active {
			background-color:#ffffff;
			color:#000000;
			cursor:default;
		}
	}

	.isOn{
		._switch();
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;

	}
	.isOff{
		._switch();
		border-left-width:0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.panel_playType{

		margin-top:50px;
		text-align:left;

		.opBar{
			display:flex;
			justify-content:center;
			margin-bottom:30px;
		}

	}

	.addBet{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 10px;

		._f {
			flex:1 0;
			max-width:90px;
		}

		input[type=text]._f_val{
			width:100%;
			height:25px;
		}

	}

	.panel .listBet {
		width:95%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom:50px;

		._col {
			flex:1 0;
			max-width:none;
		}
	}


	._btn_c{
		margin:auto 3px;
		background-color: rgba(255, 255, 255, 1);
		color: #000000;
		._disabled(){
			background-color: rgba(153, 153, 153, 1);
			border-color: rgba(121, 121, 121, 1);
			color: rgb(204, 204, 204);
			cursor:not-allowed;
		}

		&._primary {
			color: #FFFFFF;
			background-color: rgba(102, 102, 102, 1);

			&.disabled {
				._disabled();
			}

		}

		&.disabled {
			._disabled();
		}
	}

	.toClose{
		margin:50px auto;
	}


	.iconAddPlayType{
		width:18px;
		height:18px;
		border:2px solid #828282;
		border-radius:50%;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		cursor:pointer;
	}


</style>
