<template lang="pug">
.game-records-result__game-details
  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.resultBlock") 遊戲結果
    .game-records-edit__block-content
      .game-records-edit__dragon-tiger-card-block
        template(v-for="x in ['banker', 'player']")
          .game-records-edit__poker-card.game-records-edit__dragon-tiger-poker-card(
            v-for="(card, index) in originGameResult[x]"
            :class="x === 'banker'? 'Dragon' : 'Tiger' "
          )
            .game-records-edit__poker-card-title {{ cardTitleLabels[x][index] }}
            .poker-card
              .poker-card__value(:class="`poker-card__value--${card.suitClass}`") {{ card.value }}
              .poker-card__board(:class="`poker-card__board--${card.suitClass}`")

  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.modifyResultBlock") 修改遊戲結果
    .game-records-edit__block-content
      .game-records-edit__dragon-tiger-card-block
        template(v-for="x in ['banker', 'player']")
          .game-records-edit__poker-card.game-records-edit__dragon-tiger-poker-card(
            v-for="(card, index) in modifiedGameResult[x]"
            :class="x === 'banker'? 'Dragon' : 'Tiger' "
          )
            .game-records-edit__poker-card-title {{ cardTitleLabels[x][index] }}
            .poker-card.is-clickable(
               v-if="isReadOnly === false"
              @click="openPorkerCardModal(x, index)"
            )
              .poker-card__value(:class="`poker-card__value--${card.suitClass}`") {{ card.value }}
              .poker-card__board(:class="`poker-card__board--${card.suitClass}`")

            .poker-card.is-clickable(v-else)
              .poker-card__value(:class="`poker-card__value--${card.suitClass}`") {{ card.value }}
              .poker-card__board(:class="`poker-card__board--${card.suitClass}`")

  PokerCardModal(
    :isDisplay="isOpenPorkerCardModal"
    :selectedCardCode="selectedCardCode"
    :isEnableBlankCard="isEnableBlankCard"
    @selected="setCardCode"
    @close="closePorkerCardModal"
  )
</template>

<script>
import {
  computed as GameRecordsComputedMixin,
  methods as GameRecordsMethodsMixin
} from "@/components/common/GameRecords/mixins/GameRecordsPorker.js"
import PokerCardModal from "@/components/common/PokerCardModal.vue"

export default {
  props: {
    gameData: { type: Object },
    domIdList: { type: Object, required: true },
    isReadOnly: { type: Boolean, default: false }
  },
  components: {
    PokerCardModal
  },
  mixins: [GameRecordsComputedMixin, GameRecordsMethodsMixin],
  data: () => ({
    selectedCardCode: "",
    isOpenPorkerCardModal: false
  }),
  computed: {
    current() {
      return Object.assign({}, this.gameData)
    }
  }
}
</script>

<style lang="stylus">
.game-records-edit
  &__dragon-tiger-poker-card
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin-bottom 1rem
    grid-row 2

  &__dragon-tiger-card-block
    display grid
    grid-template-columns 1fr 1fr
    grid-template-rows 1fr
</style>
