<template lang="pug">
.game-records-result__game-details
  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.resultBlock") 遊戲結果
    .game-records-edit__block-content
      .game-records-edit__fantan-block
        .game-records-edit__fantan.Fantan(
          v-for="(value, index) in originGameResult"
        )
          .game-records-edit__fantan-element
            span {{ value }}
            .game-records-edit__point-icon-row
              template(v-for="n in value")
                .game-records-edit__point-icon

  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.modifyResultBlock") 修改遊戲結果
    .game-records-edit__block-content
      .game-records-edit__fantan-block
        .game-records-edit__fantan.Fantan(
          v-for="(value, index) in modifiedGameResult"
        )
         .game-records-edit__fantan-element.is-clickable(
            v-if="isReadOnly === false"
           @click="openEditModal"
         )
            span {{ value }}
            .game-records-edit__point-icon-row
              template(v-for="n in value")
                .game-records-edit__point-icon

         .game-records-edit__fantan-element(
            v-else
         )
            span {{ value }}
            .game-records-edit__point-icon-row
              template(v-for="n in value")
                .game-records-edit__point-icon

  FantanModal(
    :isDisplay="isOpenEditModal"
    :selectTarget="selected"
    @selected="setSelected"
    @close="closeEditModal"
  )
</template>

<script>
import {
  computed as GameRecordsComputedMixin,
  methods as GameRecordsMethodsMixin
} from "@/components/common/GameRecords/mixins/GameRecordsFantan.js"
import FantanModal from "@/components/common/FantanModal.vue"

export default {
  props: {
    gameData: { type: Object },
    domIdList: { type: Object, required: true },
    isReadOnly: { type: Boolean, default: false }
  },
  components: { FantanModal },
  mixins: [GameRecordsComputedMixin, GameRecordsMethodsMixin],
  data: () => ({
    selected: "",
    isOpenEditModal: false
  }),
  computed: {
    current() {
      return Object.assign({}, this.gameData)
    }
  }
}
</script>

<style lang="stylus">
.game-records-edit
  &__fantan
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto
    width 33.3%

  &__fantan-block
    width 100%
    color #000
    text-align center
    font-weight bold
    font-size 2.5rem

  &__fantan-element
    width 100%

  &__point-icon-row
    display flex
    justify-content space-evenly
    margin-top 1rem
    width 100%

  &__point-icon
    width 1rem
    height 1rem
    border 1px solid #333
    border-radius 50%
    background-color #fff
</style>
