<template lang="pug">
.game-records-result__display-area
  component(
    :key="gameData.gameTypeCode"
    :is="gameData.gameTypeCode"
    :isReadOnly="isReadOnly"
    :gameData="gameData"
    :domIdList="domIdList"
  )
</template>

<script>
import BACCARAT from "@/components/common/GameRecords/results/BACCARAT.vue"
import DRAGONTIGER from "@/components/common/GameRecords/results/DRAGONTIGER.vue"
import SICBO from "@/components/common/GameRecords/results/SICBO.vue"
import FANTAN from "@/components/common/GameRecords/results/FANTAN.vue"
import ROULETTE from "@/components/common/GameRecords/results/ROULETTE.vue"

export default {
  props: {
    gameData: { type: Object },
    domIdList: { type: Object, required: true },
    isReadOnly: { type: Boolean, default: false }
  },
  components: {
    BACCARAT,
    DRAGONTIGER,
    SICBO,
    FANTAN,
    ROULETTE
  }
}
</script>

<style lang="stylus">
.game-records-result
  &__display-area
    display grid
    grid-column 2 / span 2

  &__game-details
    display grid
    grid-template-columns 1fr 1fr
</style>
