<template lang="pug">
.game-records-result__game-details
  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.resultBlock") 遊戲結果
    .game-records-edit__block-content
      .game-records-edit__roulette-block
        .game-records-edit__roulette.Roulette(
          v-for="(x, index) in originGameResult"
        )
          .fancy-roulette-result__section-icon(:class="`fancy-roulette-result--${x.color}`")
            span {{ x.value }}


  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.modifyResultBlock") 修改遊戲結果
    .game-records-edit__block-content
      .game-records-edit__roulette-block
        .game-records-edit__roulette.Roulette(
            v-for="(x, index) in modifiedGameResult"
         )
            .fancy-roulette-result__section-icon.is-clickable(
              v-if="isReadOnly === false"
              @click="openEditModal"
              :class="`fancy-roulette-result--${x.color}`"
            )
              span {{ x.value }}

            .fancy-roulette-result__section-icon(
              v-else
              :class="`fancy-roulette-result--${x.color}`"
            )
              span {{ x.value }}

  RouletteModal(
    :isDisplay="isOpenEditModal"
    :selectTarget="selected"
    @selected="setSelected"
    @close="closeEditModal"
  )
</template>

<script>
import {
  computed as GameRecordsComputedMixin,
  methods as GameRecordsMethodsMixin
} from "@/components/common/GameRecords/mixins/GameRecordsRoulette.js"
import RouletteModal from "@/components/common/RouletteModal.vue"

export default {
  props: {
    gameData: { type: Object },
    domIdList: { type: Object, required: true },
    isReadOnly: { type: Boolean, default: false }
  },
  components: { RouletteModal },
  mixins: [GameRecordsComputedMixin, GameRecordsMethodsMixin],
  data: () => ({
    selected: "",
    isOpenEditModal: false
  }),
  computed: {
    current() {
      return Object.assign({}, this.gameData)
    }
  }
}
</script>

<style lang="stylus">
.game-records-edit
  &__roulette
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto
    width 33.3%

  &__roulette-block
    width 100%
    color #000
    text-align center
    font-weight bold
    font-size 2.5rem
</style>
