<template lang="pug">
.game-records-result__game-details
  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.resultBlock") 遊戲結果
    .game-records-edit__block-content
      .game-records-edit__sicbo-block.Sicbo
        .game-records-edit__dice(
          v-for="(dice, index) in originGameResult"
        )
          .dice-face(
            :class="dice.class"
          )
            .dice-face__point(v-for="n in dice.value")

  .game-records-edit__block
    .game-records-edit__block-title(:id="domIdList.modifyResultBlock") 修改遊戲結果
    .game-records-edit__block-content
      .game-records-edit__sicbo-block.Sicbo
        .game-records-edit__dice(
          v-for="(dice, index) in modifiedGameResult"
        )
          .dice-face.is-clickable(
            v-if="isReadOnly === false"
            @click="openEditModal(dice.value, index)"
            :class="dice.class"
          )
            .dice-face__point(v-for="n in dice.value")

          .dice-face(
            v-else
            :class="dice.class"
          )
            .dice-face__point(v-for="n in dice.value")

  DiceModal(
    :isDisplay="isOpenEditModal"
    :selectedTarget="selected"
    @selected="setSelected"
    @close="closeEditModal"
  )
</template>

<script>
import {
  computed as GameRecordsComputedMixin,
  methods as GameRecordsMethodsMixin
} from "@/components/common/GameRecords/mixins/GameRecordsDice.js"
import DiceModal from "@/components/common/DiceModal.vue"

export default {
  props: {
    gameData: { type: Object },
    domIdList: { type: Object, required: true },
    isReadOnly: { type: Boolean, default: false }
  },
  components: { DiceModal },
  mixins: [GameRecordsComputedMixin, GameRecordsMethodsMixin],
  data: () => ({
    selected: "",
    isOpenEditModal: false
  }),
  computed: {
    current() {
      return Object.assign({}, this.gameData)
    }
  }
}
</script>

<style lang="stylus">
.game-records-edit
  &__dice
    display flex
    flex-direction column
    justify-content center
    align-items center

  &__sicbo-block
    display grid
    grid-template-columns 1fr 1fr 1fr
</style>
