<template>
  <div class="panel _c_dialog">
    <h1 v-if="nowState==1" class="subTitle" id="labTitleInEditGameRecord">{{prop_subTitle}}</h1>
    <h1 v-if="nowState!=1" class="subTitle" id="labTitleInViewGameRecord">{{prop_subTitle}}</h1>

    <div class="editArea">
      <div class="blockCard" v-if="nowState==1">
        <div class="_block _info">
          <div class="b_title" id="labGameInfoInEditGameRecord">遊戲資訊</div>
          <div class="b_content">
            <div class="rows">
              <div class="_f">廳館 :</div>
              <div class="_v" id="labRoomNameInEditGameRecord">{{viewData.themeName}}</div>
            </div>
            <div class="rows">
              <div class="_f">遊戲類型 :</div>
              <div class="_v" id="labGameTypeInEditGameRecord">{{viewData.gameSetTitle}}</div>
            </div>
            <div class="rows">
              <div class="_f">桌種 :</div>
              <div class="_v" id="labTableTypeInEditGameRecord">{{viewData.tableTypeTitle}}</div>
            </div>
            <div class="rows">
              <div class="_f">系統桌號 :</div>
              <div class="_v" id="labTableNoInEditGameRecord">{{viewData.tableId}}</div>
            </div>
            <div class="rows">
              <div class="_f _long">前台桌號 / 靴 / 局 :</div>
              <div
                id="labBootNoInEditGameRecord"
                class="_v"
              >{{viewData.tableFrontId}} / {{viewData.shoeNo}} / {{viewData.roundNo}}</div>
            </div>
            <div class="rows">
              <div class="_f">開局時間 :</div>
              <div id="labTimeInEditGameRecord" class="_v">{{viewData.gameRoundStartTime}}</div>
            </div>
          </div>
        </div>

        <div class="_block" v-if="nowState!==1">
          <div id="labGameResultInEditGameRecord" class="b_title">遊戲結果</div>
          <component :is="currentComponent" v-bind="{prop_isView:true,prop_data:D_gameResult}"></component>
        </div>
        <div class="_block _modify" v-if="nowState==1">
          <div id="labEditGameResultInEditGameRecord" class="b_title">修改遊戲結果</div>
          <component
            :is="currentComponent"
            v-bind="{prop_isEdit:true,prop_data:D_gameResult}"
            @setResult="setResult"
            @setOriginResult="setOriginResult"
          ></component>
        </div>
      </div>

      <div class="blockCard" v-if="nowState!=1">
        <div class="_block _info">
          <div class="b_title" id="labGameInfoInViewGameRecord">遊戲資訊</div>
          <div class="b_content">
            <div class="rows">
              <div class="_f">廳館 :</div>
              <div class="_v" id="labRoomNameInViewGameRecord">{{viewData.themeName}}</div>
            </div>
            <div class="rows">
              <div class="_f">遊戲類型 :</div>
              <div class="_v" id="labGameTypeInViewGameRecord">{{viewData.gameSetTitle}}</div>
            </div>
            <div class="rows">
              <div class="_f">桌種 :</div>
              <div class="_v" id="labTableTypeInViewGameRecord">{{viewData.tableTypeTitle}}</div>
            </div>
            <div class="rows">
              <div class="_f">系統桌號 :</div>
              <div class="_v" id="labTableNoInViewGameRecord">{{viewData.tableId}}</div>
            </div>
            <div class="rows">
              <div class="_f _long">前台桌號 / 靴 / 局 :</div>
              <div
                id="labBootNoInViewGameRecord"
                class="_v"
              >{{viewData.tableFrontId}} / {{viewData.shoeNo}} / {{viewData.roundNo}}</div>
            </div>
            <div class="rows">
              <div class="_f">開局時間 :</div>
              <div id="labTimeInViewGameRecord" class="_v">{{viewData.gameRoundStartTime}}</div>
            </div>
          </div>
        </div>

        <div class="_block" v-if="nowState !=1">
          <div id="labGameResultInViewGameRecord" class="b_title">遊戲結果</div>
          <component :is="currentComponent" v-bind="{prop_isView:true,prop_data:D_gameResultOld}"></component>
        </div>
        <div class="_block" v-if="nowState !=1">
          <div id="labEditGameResultInViewGameRecord" class="b_title">修改遊戲結果</div>
          <component :is="currentComponent" v-bind="{prop_isView:true,prop_data:D_gameResult}"></component>
        </div>
      </div>

      <div class="blockReason">
        <div class="r_title">原因*：</div>
        <textarea
          v-if="isEdit"
          id="txtReasonInEditGameRecord"
          class="_reason"
          v-bind:class="{'infoTime':true,'_input':true,'v_error':V_err.has('reason')}"
          v-validate="{required:true,max:600}"
          name="reason"
          v-model="postd.reason"
        ></textarea>
        <textarea
          v-if="!isEdit"
          id="txtReasonInViewGameRecord"
          class="_reason"
          :value="viewData.reason"
          disabled
        ></textarea>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button v-if="isEdit" id="btnCancelInEditGameRecord" @click="toCancel();">取消</el-button>
        <el-button v-if="!isEdit" id="btnCloseInViewGameRecord" @click="toCancel();">關閉</el-button>
        <el-button
          id="btnEditInEditGameRecord"
          type="primary"
          @click="toDoUpdate('modify');"
          v-if="isEdit && isChangeResult"
        >修改</el-button>
        <el-button
          id="btnEditInEditGameRecord"
          type="primary"
          v-if="isEdit && !isChangeResult"
          class="_disable"
          title="無異動遊戲結果"
        >修改</el-button>
        <el-button
          id="btnRefundInEditGameRecord"
          type="primary"
          @click="toDoUpdate('returnBet')"
          v-if="isEdit && !prop_ReturnBetDisable"
        >退押注</el-button>
        <el-button
          id="btnRefundInEditGameRecord"
          type="primary"
          v-if="isEdit && prop_ReturnBetDisable"
          class="_disable"
          title="此為無下注的遊戲局"
        >退押注</el-button>
      </span>
    </div>

    <el-dialog
      :visible.sync="reCheckPwd"
      v-if="reCheckPwd"
      width="480px"
      custom-class="panelEdit _c_dialog _noHeader reCheckPwdDialog"
      :show-close="false"
      center
    >
      <div v-if="doWhat.modify.active" id="divEditResultInEditGameRecord">
        <div class="c_note">
          <div>
            您即將
            <span class="_tofocus">修改</span> 此筆遊戲紀錄
          </div>
          <div>確認完畢，請在下方輸入您的使用者密碼：</div>
        </div>

        <div class="reCheckPwd">
          <input
            id="iptPwdInEditResultInEditGameRecord"
            type="password"
            v-model="postd.password"
            name="opPassword"
            v-bind:class="{'_input':true,'v_error':V_err.has('opPassword')}"
            v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}"
          />
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button id="btnCancelInEditResultInEditGameRecord" @click="CheckPwdPanel(false)">取消</el-button>
          <el-button
            id="btnConfirmInEditResultInEditGameRecord"
            type="primary"
            @click="doSubmit()"
          >確定</el-button>
        </span>
      </div>

      <div v-if="doWhat.returnBet.active" id="divRefundInEditGameRecord">
        <div class="c_note">
          <div>
            您即將對此筆遊戲紀錄進行
            <span class="_tofocus">退押注</span> 。
          </div>
          <div>確認完畢，請在下方輸入您的使用者密碼：</div>
        </div>

        <div class="reCheckPwd">
          <input
            id="iptPwdInRefundInEditGameRecord"
            type="password"
            v-model="postd.password"
            name="opPassword"
            v-bind:class="{'_input':true,'v_error':V_err.has('opPassword')}"
            v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}"
          />
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button id="btnCancelInRefundInEditGameRecord" @click="CheckPwdPanel(false)">取消</el-button>
          <el-button
            id="btnConfirmInRefundInEditGameRecord"
            type="primary"
            @click="doSubmit()"
          >確定</el-button>
        </span>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import common from "@/libs/common"
import BACCARAT from "../../common/GameRecord/BACCARAT.vue"
import SICBO from "../../common/GameRecord/SICBO.vue"
import DRAGONTIGER from "../../common/GameRecord/DRAGONTIGER.vue"
import FANTAN from "../../common/GameRecord/FANTAN.vue"
import ROULETTE from "../../common/GameRecord/ROULETTE.vue"

export default {
  components: { BACCARAT, SICBO, DRAGONTIGER, FANTAN, ROULETTE },
  props: ["P_gameTypeUid", "P_GameRecordUid", "prop_subTitle", "prop_loginToken", "P_state", "prop_ReturnBetDisable"],
  data() {
    return {
      loadingModal: undefined,
      loginToken: this.prop_loginToken,
      allBoardPanel: false,
      d_Boards: (function() {
        var re = _.cloneDeep(common.cards())
        return re
      })(),
      editCard: {
        Banker: [],
        Player: []
      },
      viewCard: {},
      viewData: {},
      TaCard: {},
      postd: {
        reason: "",
        password: ""
      },
      doWhat: {
        returnBet: {
          active: false,
          alias: "returnBet"
        },
        modify: {
          active: false,
          alias: "modify"
        }
      },
      reCheckPwd: false,
      doplay: false,
      videoPlay: {},
      initPlay: false,
      gameAlias: "",
      D_gameResult: {},
      _D_gameResult: {},
      D_gameResultOld: {},
      FinalGameResult: [],
      gameSetUid: "",
      nowState: this.P_state
    }
  },
  methods: {
    startLoading() {
      const loadingModal = this.$loading({
        lock: true,
        background: "rgba(0, 0, 0, 0.7)"
      })

      this.loadingModal = loadingModal
    },
    endLoading() {
      this.loadingModal.close()
      this.loadingModal = undefined
    },
    doSubmit() {
      this.CheckPwdPanel(false)

      var doWhat = this.$data.doWhat

      switch (true) {
        case doWhat.returnBet.active:
          this.DoReturnBet()
          break

        case doWhat.modify.active:
          this.DoUpdate()
          break
      }
    },
    CheckPwdPanel(enable) {
      this.$data.reCheckPwd = enable
    },
    getDetailGameRecords() {
      var d = {
        uid: this.P_GameRecordUid
      }

      var _this = this

      GameManager.gameResultDetail(this.loginToken, d)
        .then(function(res) {
          _this.$data.gameAlias = res.gameSetAlias
          _this.$data.gameSetUid = res.gameSetUid

          _this.$data.D_gameResult = res.result

          _this.$data.D_gameResultOld = res.oldResult || res.result

          var tmp = _.cloneDeep(res)
          _this.$data.viewData = {
            themeName: tmp.themeTitle["ZH-TW"],
            tableTypeTitle: tmp.tableSpeciesTitle,
            tableFrontId: tmp.tableFrontId,
            tableId: tmp.tableId,
            shoeNo: tmp.shoeNo,
            roundNo: tmp.roundNo,
            gameRoundStartTime: common.timeZoneApply(tmp.gameRoundStartTime, false),
            state: tmp.state,
            reason: tmp.reason,
            streamUrl: tmp.streamUrl,
            videoSource: "source=" + tmp.streamUrl,
            gameSetTitle: tmp.gameSetTitle
          }

          //_this.$data.editCard = _.cloneDeep(b);
          //_this.$data.viewCard = _.cloneDeep(b);

          //_this.initVideo(_this.$data.viewData.streamUrl);
        })
        .catch(function(err) {
          console.log("err :", err)
        })
    },
    setdoWhat(item) {
      var t = this.$data.doWhat
      _.forEach(t, function(v, k) {
        t[k].active = false
      })
      t[item].active = true
    },
    async DoReturnBet() {
      try {
        this.startLoading()

        const payload = {
          gameTypeUid: this.gameSetUid,
          uid: this.P_GameRecordUid,
          reason: this.postd.reason,
          password: this.postd.password
        }

        await GameManager.returnBet(this.loginToken, payload)

        this.endLoading()

        this.toExit()
      } catch (err) {
        this.endLoading()
      }
    },
    toDoUpdate(todo) {
      var _this = this

      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        _this.setdoWhat(todo)
        _this.CheckPwdPanel(true)
      })
    },
    async DoUpdate() {
      //判斷是否修改
      if (!this.isChangeResult) return

      try {
        this.startLoading()

        const payload = {
          gameTypeUid: this.gameSetUid,
          result: this.D_gameResult,
          reason: this.postd.reason,
          password: this.postd.password,
          uid: this.P_GameRecordUid
        }

        await GameManager.modifyGameRecords(this.loginToken, payload)

        this.endLoading()

        this.toExit()
      } catch (err) {
        this.endLoading()
      }
    },
    toExit() {
      this.$emit("toExit")
    },
    toCancel() {
      this.$emit("toCancel")
    },
    setResult(val) {
      this.$data.D_gameResult = val
    },
    setOriginResult(val) {
      this.$data._D_gameResult = val
    }
  },
  computed: {
    isChangeResult() {
      var re = JSON.stringify(this.$data.D_gameResult) == JSON.stringify(this.$data._D_gameResult)
      return !re
    },
    currentComponent() {
      var re
      re = this.$data.gameAlias

      return re
    },
    isEdit() {
      var state = this.$data.viewData.state || ""

      var re = state == "1" ? true : false

      this.$data.d_isEdit = re
      return re
    },
    domId() {
      //var state = this.$data.viewData.state || '';
      //var re  = (state == '1')?true:false;
      var state = this.$data.viewData.state || ""

      state = state == "1" ? true : false

      var t = ""
      if (state) {
        t = "InEditGameRecord"
      } else {
        t = "InViewGameRecord"
      }

      var re = {
        d: {},
        dialog: {}
      }

      var d = {
        labTitle: "",
        labGameInfo: "",
        labRoomName: "",
        labGameType: "",
        labTableNo: "",
        labBootNo: "",
        labGameNo: "",
        labTime: "",
        labGameResult: "",
        labEditGameResult: "",
        labVideo: "",
        txtReason: "",
        btnCancel: "",
        btnEdit: "",
        btnRefund: "",
        btnClose: ""
      }
      var dialog = {
        Refund: {
          a: "iptPwdInRefund",
          b1: "btnCancelInRefund",
          b2: "btnConfirmInRefund",
          c: "divRefund"
        },
        edit: {
          a: "iptPwdInEditResult",
          b1: "btnCancelInEditResult",
          b2: "btnConfirmInEditResult",
          c: "divEditResult"
        }
      }

      _.forEach(d, function(v, k) {
        re.d[k] = k + t
      })

      _.forEach(dialog, function(v, k) {
        _.forEach(v, function(v1, k1) {
          re.dialog[k1] = v1 + t
        })
      })

      return re
    }
  },
  watch: {},
  created() {
    this.getDetailGameRecords()
  },
  filters: {},
  beforeDestroy() {
    //this.$data.videoPlay.dispose();
    //this.dispose();
    //this.$refs.videojs.dispose();
  }
}
</script>

<style lang="less" scoped>
.panel {
  width: 90%;
  background: transparent;
}

.editArea {
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 1);
  border-radius: 5px;
}

.blockCard {
  width: 100%;
  display: flex;
  // justify-content: space-around;
  margin-top: 30px;

  ._block {
    margin-left: 40px;
    width: 20%;
    &._info {
      width: 25%;
    }
  }

  .b_title {
    width: 100%;
    height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .b_content {
    width: 100%;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    height: 260px;
    padding: 25px;
  }

  .rows {
    display: flex;
    width: 100%;
    margin: 10px 0px;
  }

  ._f {
    width: 30%;
    font-weight: bold;

    &._long {
      width: 50%;
    }
  }

  ._v {
    width: 70%;
  }
}

.blockReason {
  ._reason {
    width: 600px;
    height: 250px;
  }
}

.Banker,
.Player {
  display: flex;
  justify-content: space-around;
}

.Banker {
  margin-bottom: 20px;
}

._note {
  margin-bottom: 5px;
}

._modify {
  ._card {
    cursor: pointer;
  }
}

.suit {
  display: flex;
  ._card {
    cursor: pointer;
  }
}

.blockReason {
  width: 95%;
  margin: 20px auto 30px;

  .r_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.dialog-footer {
  width: 90%;
  display: flex;
  margin: 30px auto 50px;
  justify-content: center;
}

._block._video {
  .b_content {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
}

.isView._card {
  cursor: text;
}

.playIcon {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.playRecordVideo {
  background-color: #000000;
}

._disable {
  cursor: not-allowed;
  opacity: 0.5;
}
</style>

