<template lang="pug">
ValidationProvider(
  :rules="{ required: isRequired, regex: /^(?!0000)[0-9a-zA-Z]{4}$/ }"
  v-slot="{ errors, classes, validate }"
  ref="vee"
)
  input.search-bar__input(
    type="text"
    maxlength="4"
    v-model="inputText"
    :placeholder="placeholder"
    :class="[...parentClasses,...classes]"
    :id="domId"
    @blur="validate"
    @input="onInput"
  )
</template>

<script>
import { ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationProvider
  },
  props: {
    domId: { type: String, required: true },
    isRequired: { type: Boolean, default: false },
    placeholder: { type: String, default: "" },
    parentClasses: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data: () => ({
    inputText: ""
  }),
  mounted() {
    this.onInput()
  },
  methods: {
    async validate() {
      return await this.$refs["vee"].validate()
    },
    onInput() {
      this.$emit("input", this.inputText)
    },
    setValue(value) {
      this.inputText = value
      this.onInput()
    }
  }
}
</script>
