<template lang="pug">
ValidationProvider(
  :rules="{ required: isRequired, regex: /^(?=.*[1-9])(?=.*[a-np-zA-NP-Z])([a-np-zA-NP-Z1-9]{6,12})$/, is: recheckPassword }"
  v-slot="{ errors, classes, validate }"
  ref="vee"
)
  input.search-bar__input(
    :type="inputType"
    maxlength="12"
    minlength="6"
    v-model="inputText"
    :placeholder="placeholder"
    :class="[...parentClasses,...classes]"
    :id="domId"
    :readonly="isReadonly"
    @blur="validate"
    @input="onInput"
    ref="dataInput"
  )
</template>

<script>
import { ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationProvider
  },
  props: {
    domId: { type: String, required: true },
    isRequired: { type: Boolean, default: false },
    placeholder: { type: String, default: "" },
    inputType: { type: String, default: "password" },
    recheckPassword: { type: [String, Boolean], default: false },
    isReadonly: { type: Boolean, default: false },
    parentClasses: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data: () => ({
    inputText: ""
  }),
  mounted() {
    this.onInput()
  },
  methods: {
    async validate() {
      return await this.$refs["vee"].validate()
    },
    onInput() {
      this.$emit("input", this.inputText)
    },
    setValue(value) {
      this.inputText = value
      this.onInput()
    },
    copyValue() {
      this.$refs.dataInput.select()
      document.execCommand("copy")
    }
  }
}
</script>
