<template lang="pug">
  Main(:isActiveRobotArmOption="true")
</template>

<script>
import Main from "@/components/common/GameHallManage/Main.vue"

export default {
  components: { Main }
}
</script>

<style lang="stylus">
.game-hall-manage
  &__report-table
    margin-bottom 2rem

  &__table-row
    grid-template-columns 80px repeat(4, 150px) repeat(2, 100px)
</style>
