<template lang="pug">
.stream-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title 視訊管理

    .content
      .action-bar
        .action-bar__label 現場位置 :

        CasinoLocationSelect.action-bar__input(
          domId="xxx"
          @select="setCasinoLocation"
          ref="casinoLocationSelect"
        )

      .switch-tab

        .switch-tab__header
          .switch-tab__menu(
            v-for="(t, index) in tabs"
            :class="{'switch-tab__menu--is-active': selectedTabIndex === index}"
            @click="switchTab(index)"
          ) {{ t.label }}

        .switch-tab__body
          component.switch-tab__content.stream-manage__tab-content(
            v-for="(t, index) in tabs"
            :class="{'switch-tab__content--is-active': selectedTabIndex === index}"
            :key="t.componentName+index"
            v-if="selectedTabIndex === index && current.casinoLocationUid"
            :is="t.componentName"
            :casinoLocationUid="current.casinoLocationUid"
          )
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import CasinoLocationSelect from "@/components/selects/CasinoLocation.vue"
import CDN from "@/components/common/StreamManage/CDN.vue"
import StreamResolution from "@/components/common/StreamManage/StreamResolution.vue"
import GameTableStream from "@/components/common/StreamManage/GameTableStream.vue"
import StreamRecord from "@/components/common/StreamManage/StreamRecord.vue"
import StreamPlayer from "@/components/common/StreamManage/StreamPlayer.vue"
import WholeViewStream from "@/components/common/StreamManage/WholeViewStream.vue"
import GameTableDelay from "@/components/common/StreamManage/GameTableDelay.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "視訊管理 %s"
    }
  },
  components: {
    Navbar,
    CasinoLocationSelect,
    CDN,
    StreamResolution,
    GameTableStream,
    StreamRecord,
    StreamPlayer,
    WholeViewStream,
    GameTableDelay
  },
  data: () => ({
    pageTitle: "視訊管理",
    isLoading: false,
    tabs: [
      { label: "CDN管理", componentName: "CDN" },
      { label: "視訊解析度管理", componentName: "StreamResolution" },
      { label: "賭桌視訊管理", componentName: "GameTableStream" },
      { label: "錄影視訊管理", componentName: "StreamRecord" },
      { label: "播放視訊管理", componentName: "StreamPlayer" },
      { label: "全景管理", componentName: "WholeViewStream" },
      { label: "賭桌延遲時間", componentName: "GameTableDelay" }
    ],
    selectedTabIndex: 0,
    current: {
      casinoLocationUid: ""
    }
  }),
  computed: {
    navbarItems() {
      return [
        { title: "網管管理", islink: false, path: "" },
        { title: this.pageTitle, islink: true, path: this.$route.path }
      ]
    }
  },
  methods: {
    switchTab(index) {
      this.selectedTabIndex = index
    },
    setCasinoLocation(data) {
      this.current.casinoLocationUid = data
    }
  }
}
</script>

<style lang="stylus">
.stream-manage
  &__tab-title
    display block
    margin-top 1rem
    margin-right 1rem
    margin-bottom 2rem
    padding-bottom 0.5rem
    border-bottom 1px solid #000000
    font-weight bold
    font-size 1.3rem

  &__tab-title-area
    display inline-grid
    align-items center
    width 100%
    grid-template-columns 90% 10%

  &__tab-content
    min-width 800px

  &__label
    display flex
    align-items center

  &__row
    display grid
    margin 1rem 0
    grid-template-columns 1fr 1fr

  &__action-bar
    justify-content center
    align-items center
    margin-top 3rem
</style>
