<template lang="pug">
.stream-setting
  Navbar(:prop_nav="navbarItems")
  .header__title 視訊設定

  .stream-setting__group
    .stream-setting__label 重載項目 :
    select.stream-setting__select(
      v-model="current.filterTypeCode"
      @change="initialSelects"
    )
      option(
        v-for="{ code, label } in filterTypeList"
        :key="code"
        :value="code"
      ) {{ label }}

  .stream-setting__group
    .stream-setting__label 現場位置 :
    CasinoLocationSelect.stream-setting__select(
      domId="setCasinoLocation"
      @select="setCasinoLocation"
      ref="casinoLocationSelect"
    )

  template(v-if="current.filterTypeCode === 'RELOAD_GAME_TABLE_STREAM' || current.filterTypeCode === 'RELOAD_WHOLE_VIEW_STREAM' ")
    .stream-setting__group
      .stream-setting__label 廳館：
      select.stream-setting__select(
        v-if="isGameHallListEmpty === false"
        v-model="current.gameHallUid"
        @change="resetSelectedGameTableList"
      )
        option(value="") (全部)
        option(
          v-for="x in casinoGameHallList"
          :value="x.uid"
        ) {{ x.title }}

      select.stream-setting__select(
        v-else
        disabled
      )
        option(value="") 無資料

  template(v-if="current.filterTypeCode === 'RELOAD_GAME_TABLE_STREAM'")
    .stream-setting__group(v-if="reportTableRows.length > 0")
      .stream-setting__label 賭桌 :
      .stream-setting__validate(:class="{'is-invalid':isGameTableSelectEmpty}")
        .report-table.stream-setting__report-table
          .report-table__row.stream-setting__row
            .report-table__header-cell
              input(
                id="select-all-game-table"
                type="checkbox"
                @click="toggleGameTableSelectAll"
                :value="true"
                ref="selectAllGameTableCheckbox"
              )

            .report-table__header-cell(
              v-for="x in reportTableHeaders"
            ) {{ x.label }}

          .report-table__row.stream-setting__row(v-for="row, index in reportTableRows")
            .report-table__cell
              input(
                type="checkbox"
                v-model="current.gameTableUidList"
                :value="row.gameTableUid"
              )

            template(v-for="(value, key) in row")
              .report-table__cell(v-if="key !== 'gameTableUid' ") {{ value }}

  .action-bar
    template(v-if="current.filterTypeCode === 'RELOAD_GAME_TABLE_STREAM'")
      .action-bar__button.stream-setting__submit-button(
        v-if="(isGameHallListEmpty === false && isGameTableListEmpty === false) || current.gameHallUid.length === 0"
        @click="submitRequest"
      ) 重載視訊

      .action-bar__button.stream-setting__submit-button.is-disabled(v-else) 重載視訊

    template(v-else-if="current.filterTypeCode === 'RELOAD_WHOLE_VIEW_STREAM'")
      .action-bar__button.stream-setting__submit-button(
        v-if="isGameHallListEmpty === false || current.gameHallUid.length === 0"
        @click="submitRequest"
      ) 重載視訊

      .action-bar__button.stream-setting__submit-button.is-disabled(v-else) 重載視訊

    template(v-else)
      .action-bar__button.stream-setting__submit-button(
        @click="submitRequest"
      ) 重載視訊

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import CasinoLocationSelect from "@/components/selects/CasinoLocation.vue"
import {
  getCasinoGameHallList,
  getCasinoGameTableList,
  reloadCasinoGameTableStream,
  reloadCasinoWholeViewStream,
  reloadCasinoGameTableStreamDelay
} from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import MessageAlert from "@/mixins/MessageAlert.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "視訊設定 %s"
    }
  },
  components: {
    Navbar,
    LoadingLock,
    CasinoLocationSelect
  },
  mixins: [ErrorMessage, MessageAlert],
  data: () => ({
    pageTitle: "視訊設定",
    current: {
      filterTypeCode: "",
      casinoLocationUid: "",
      gameHallUid: "",
      gameTableUidList: []
    },
    isLoading: false,
    isGameTableSelectEmpty: false,
    casinoGameHallList: [],
    casinoGameTableList: []
  }),
  async mounted() {
    await this.initialSelects()
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  watch: {
    isSelectAllGameTable: function(value) {
      const selectAll = this.$refs["selectAllGameTableCheckbox"]
      selectAll.checked = value
    },
    "current.casinoLocationUid": async function(value) {
      if (!value) return

      await this.initialSelects()
    },
    "current.gameTableUidList": function() {
      this.isGameTableSelectEmpty = false
    },
    "current.gameHallUid": async function(value) {
      if (value) {
        await this.fetchCasinoGameTableList()
      } else {
        this.casinoGameTableList = []
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    navbarItems() {
      return [
        { title: "網管管理", islink: false, path: "" },
        { title: this.pageTitle, islink: true, path: this.$route.path }
      ]
    },
    reportTableHeaders() {
      return [{ label: "現場桌號" }, { label: "前台桌號" }]
    },
    reportTableRows() {
      if (this.casinoGameTableList.length > 0) {
        return this.casinoGameTableList.map(x => {
          return {
            gameTableUid: x.uid,
            gameTableSystemNumber: x.systemCode,
            gameTableNumber: x.frontCode
          }
        })
      } else {
        return []
      }
    },
    isGameHallListEmpty() {
      return this.casinoGameHallList.length === 0
    },
    isGameTableListEmpty() {
      return this.casinoGameTableList.length === 0
    },
    isSelectAllGameTable() {
      const gameTableUidList = this.reportTableRows.map(x => x.gameTableUid)
      if (gameTableUidList.length > 0) {
        return this.current.gameTableUidList.length === gameTableUidList.length
      } else {
        return false
      }
    },
    filterTypeList() {
      return [
        { code: "RELOAD_GAME_TABLE_STREAM", label: "重載賭桌視訊" },
        { code: "RELOAD_WHOLE_VIEW_STREAM", label: "重載全景視訊" },
        { code: "RELOAD_GAME_TABLE_DELAY", label: "重載賭桌延遲時間" }
      ]
    }
  },
  methods: {
    async initialSelects() {
      this.resetData()
      await this.fetchCasinoGameHallList()
    },
    resetData() {
      this.current.gameHallUid = ""
      this.current.gameTableUidList = []
      this.casinoGameHallList = []
      this.casinoGameTableList = []
    },
    setCasinoLocation(data) {
      this.current.casinoLocationUid = data
    },
    resetSelectedGameTableList() {
      this.current.gameTableUidList = []
    },
    toggleGameTableSelectAll() {
      const gameTableUidList = this.reportTableRows.map(x => x.gameTableUid)
      const result = this.current.gameTableUidList.length === gameTableUidList.length ? [] : gameTableUidList
      this.current.gameTableUidList = result
    },
    validateGameTableSelects() {
      const result = this.current.gameTableUidList.length > 0
      this.isGameTableSelectEmpty = result === false
      return result
    },
    submitRequest() {
      switch (this.current.filterTypeCode) {
        case "RELOAD_GAME_TABLE_STREAM":
          this.reloadCasinoGameTableStream()
          break
        case "RELOAD_WHOLE_VIEW_STREAM":
          this.reloadCasinoWholeViewStream()
          break
        case "RELOAD_GAME_TABLE_DELAY":
          this.reloadCasinGameTableStreamDelay()
          break
      }
    },
    async fetchCasinoGameHallList() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.current.casinoLocationUid,
          itemsPerPage: 100,
          pagingIndex: 0
        }

        const res = await getCasinoGameHallList(this.loginToken, payload)

        if (res.exitCode === true) {
          if (this.current.filterTypeCode === "RELOAD_WHOLE_VIEW_STREAM") {
            // Robot arm game hall only
            this.casinoGameHallList = res.data.rows.filter(x => x.tableType === "1")
          } else {
            this.casinoGameHallList = res.data.rows
          }
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch {
        this.casinoGameHallList = []
      } finally {
        this.isLoading = false
      }
    },
    async fetchCasinoGameTableList() {
      try {
        this.isLoading = true

        const payload = {
          gameHallUid: this.current.gameHallUid,
          itemsPerPage: 100,
          pagingIndex: 0
        }

        const res = await getCasinoGameTableList(this.loginToken, payload)

        if (res.exitCode === true) {
          this.casinoGameTableList = res.data.rows
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch {
        this.casinoGameTableList = []
      } finally {
        this.isLoading = false
      }
    },
    async reloadCasinoGameTableStream() {
      try {
        const validateResult = this.validateGameTableSelects()
        // Not Validate game table select when select all game hall
        if (this.current.gameHallUid !== "" && validateResult === false) return

        this.isLoading = true

        const payload = {
          casinoLocationUid: this.current.casinoLocationUid,
          gameTableUidList: this.current.gameTableUidList.length === 0 ? undefined : this.current.gameTableUidList
        }

        const res = await reloadCasinoGameTableStream(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("賭桌視訊重載成功")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async reloadCasinoWholeViewStream() {
      if (this.isDataExists === false) return

      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.current.casinoLocationUid,
          gameHallUid: this.current.gameHallUid === "" ? undefined : this.current.gameHallUid
        }
        const res = await reloadCasinoWholeViewStream(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("全景視訊重載成功")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async reloadCasinGameTableStreamDelay() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.current.casinoLocationUid
        }

        const res = await reloadCasinoGameTableStreamDelay(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("賭桌延遲時間重載成功")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-setting
  width fit-content
  width -moz-fit-content
  width intrinsic

  &__select
    box-sizing border-box
    padding 0 0.4rem
    min-width 15rem
    height 2rem

  &__row
    grid-template-columns 50px repeat(2, 120px)

  &__group
    display grid
    margin-bottom 1rem
    grid-template-columns 8rem 20rem

  &__label
    display flex
    align-self center
    font-weight bold

  &__submit-button
    margin 1rem auto

  &__report-table
    margin 1rem 0
</style>
