<template>
  <div class="panel">
    <c_nav :prop_nav="d_nav"></c_nav>
    <h1 id="labTitleInVideoSetting">視訊設定</h1>
    <div class="_leftSide">
      <div class="rows">
        <div class="c_f">重載項目：</div>
        <div class="c_v">
          <select v-model="reloadSel" id="selReloadItemInVideoSetting">
            <option :value="item.alias" v-for="(item, index) in reloadItems">{{ item.title }}</option>
          </select>
        </div>
      </div>

      <div class="rows">
        <div class="c_f">現場位置：</div>
        <div class="c_v">
          <select v-model="LocationSel" id="selLivePositionInVideoSetting">
            <option :value="item.uid" v-for="item in LocationItems">{{ item.title }}</option>
          </select>
        </div>
      </div>

      <div class="rows" v-if="reloadSel == 'table'" id="selRoomInVideoSetting">
        <div class="c_f">廳館：</div>
        <div class="c_v">
          <select v-model="ThemeSel" :disabled="themeItems.length == 0">
            <option :value="d_constant.selAll.val" v-if="themeItems.length != 0">{{ d_constant.selAll.title }}</option>
            <option :value="d_constant.nodata.val" v-if="themeItems.length == 0">{{ d_constant.nodata.title }}</option>
            <option :value="item.uid" v-for="item in themeItems">{{ item.title }}</option>
          </select>
        </div>
      </div>
      <!-- <div class="rows" v-if="reloadSel=='table'">
			<div class="c_f f_table">
				<div class="_topTitle">賭桌：</div>
			</div>
			<div class="c_v">
				<div class="_f">
					<div class="_col _sel">
						<input type="checkbox" value="true" v-model="tableSelAll" :disabled="d_table.length==0">
					</div>
					<div class="_col _casinoTableId">現場桌號(coolDown時間為5分鐘)</div>
				</div>
				<div :class="{_d:true,coolDown:item.coolDown}" v-for="item in d_table">
					<div class="_col _sel">
						<input type="checkbox" :value="item.uid" v-model="tableSel" :disabled="item.coolDown">
					</div>
					<div class="_col _casinoTableId">{{item.casinoTableId}}</div>
				</div>
			</div>
      </div>-->
    </div>

    <div class="_rightSide">
      <div :class="{ _btn_c: true, _forbid: noDoReload }" id="btnReloadVideo" @click="videoReLoad()">重載視訊</div>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import VideoManager from "@/services/VideoManager"
import c_nav from "@/components/basic/nav.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "視訊設定 %s"
    }
  },
  components: {
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "網管管理", islink: false, path: "" },
        { title: "視訊設定", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      casinoLocationId: "",
      reloadItems: {
        table: {
          alias: "table",
          title: "重載賭桌視訊"
        },
        allView: {
          alias: "allView",
          title: "重載全景視訊"
        }
      },
      reloadSel: "table",
      LocationSel: "",
      ThemeSel: "",
      LocationItems: [],
      themeItems: [],
      d_constant: {
        selAll: {
          title: "全部",
          val: "all"
        },
        nodata: {
          title: "無資料",
          val: "none"
        }
      },
      d_table: [],
      tableSel: [],
      tableSelAll: false
    }
  },
  methods: {
    getLocations() {
      var _this = this
      var datatypes = ["casinoLocations"]
      GameManager.getBasicItems(this.$data.loginToken, datatypes)
        .then(function(res) {
          _this.$data.LocationItems = res.casinoLocations
        })
        .catch(function(error) {})
    },
    getThemes() {
      var _this = this
      var d = {
        casinoLocations: [this.$data.LocationSel],
        pageSize: 1000,
        pageIndex: 0
      }
      GameManager.getThemes(this.$data.loginToken, d)
        .then(function(res) {
          _this.$data.themeItems = _.filter(_.cloneDeep(res.rows), { locked: "0" })
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    getTables(ThemeId) {
      //console.log("getTables : ",ThemeId);

      if (ThemeId == this.$data.d_constant.selAll.val) return
      var _this = this
      var d = {
        themes: ThemeId == "" ? [] : [ThemeId],
        pageSize: 1000,
        pageIndex: 0
      }

      GameManager.betTable_list(this.$data.loginToken, d)
        .then(function(res) {
          _this.$data.d_table = _.filter(_.cloneDeep(res.rows), { locked: false, tableVideoSetting: true })
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    videoReLoad() {
      if (this.noDoReload) return false

      var _this = this
      switch (this.$data.reloadSel) {
        case this.reloadItems.table.alias:
          var d = {
            casinoLocationUid: this.$data.LocationSel,
            tableSettingUidList: this.$data.tableSel
          }

          VideoManager.videoReload(this.$data.loginToken, d)
            .then(function(res) {
              _this.$message({
                message: "已設定!!",
                type: "success",
                duration: 1500
              })
              _this.$data.tableSel = []
              _this.$data.tableSelAll = false
              _this.getTables(_this.$data.ThemeSel)
            })
            .catch(function(err) {
              console.log(err)
            })
          break

        case this.reloadItems.allView.alias:
          var uidList = [this.$data.LocationSel]
          VideoManager.videoAllViewReload(this.$data.loginToken, uidList)
            .then(function(res) {
              _this.$message({
                message: "已設定!!",
                type: "success",
                duration: 1500
              })
              console.log(res)
            })
            .catch(function(err) {
              console.log(err)
            })

          break
      }
    }
  },
  computed: {
    noDoReload() {
      var reloadItems = this.$data.reloadItems
      var re
      switch (this.$data.reloadSel) {
        case reloadItems.table.alias:
          switch (true) {
            case this.$data.ThemeSel == this.$data.d_constant.selAll.val:
              re = false
              break

            case this.$data.tableSel.length > 0:
              re = false
              break

            default:
              re = true
              break
          }

          break

        case reloadItems.allView.alias:
          re = false
          break
      }

      return re
    }
  },
  watch: {
    tableSelAll(val) {
      if (val) {
        var _this = this
        _.forEach(this.$data.d_table, function(v, k) {
          _this.$data.tableSel.push(v.uid)
        })
      } else {
        this.$data.tableSel = []
      }
    },
    reloadSel(val) {
      this.$data.LocationSel = this.$data.LocationItems[0].uid
    },
    LocationItems(val) {
      this.$data.LocationSel = val[0].uid
    },
    LocationSel(val) {
      if (this.$data.reloadSel == this.$data.reloadItems.table.alias) {
        this.getThemes()
      }
    },
    themeItems(val) {
      if (val.length == 0) {
        this.$data.ThemeSel = this.$data.d_constant.nodata.val
      } else {
        this.$data.ThemeSel = this.$data.d_constant.selAll.val
      }
    },
    ThemeSel(val) {
      this.$data.tableSel = []
      this.$data.tableSelAll = false
      var ThemeId
      switch (val) {
        case this.$data.d_constant.nodata.val:
          this.$data.d_table = []
          break

        case this.$data.d_constant.selAll.val:
          this.$data.d_table = []
          //ThemeId = "";
          //this.getTables(ThemeId);
          break

        default:
          ThemeId = val
          this.getTables(ThemeId)
          break
      }
    }
  },
  created() {
    var _this = this
    this.getLocations()
  }
}
</script>

<style lang="less" scoped>
.panel {
  width: 800px;
}

._leftSide {
  display: inline-block;
  width: 80%;
}

._rightSide {
  // display:inline-block;
  // vertical-align: top;

  margin: 30px 0 0 180px;
  width: 10%;
}

.rows {
  width: 400px;
  display: flex;
  margin: 10px 0px;
  font-size: 14px;
  align-items: center;

  .c_f {
    flex: 0.25;
    display: inline-flex;

    &.f_table {
      align-self: flex-start;
    }
  }

  .c_v {
    flex: 0.75;

    select {
      height: 30px;
      padding: 0px;
      width: 100%;
    }
  }
}

._f {
  background-color: #999999;
  display: flex;
}

._d {
  display: flex;
}

._col {
  border-color: #cccccc;

  &._sel {
    flex: 0.3;
    min-width: 35px;
  }

  &.casinoTableId {
    flex: 0.7;
  }
}

._topTitle {
  height: 35px;
  display: flex;
  align-items: center;
}

._btn_c {
  &._forbid {
    background-color: rgba(153, 153, 153, 1);
    color: #cccccc;
    cursor: not-allowed;
  }
}

.coolDown {
  background-color: #dcdcdc;
  input[type="checkbox"] {
    cursor: not-allowed;
  }
}
</style>
