<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <h1 id="labTitleInVideoManage">視訊管理</h1>現場位置 :
    <select v-model="casinoLocationId" class="casinoLocation" id="selLivePosInVideoManage">
      <option v-for="item in casinoLocation" :value="item.uid">{{item.title}}</option>
    </select>
    <div class="tabs">
      <div
        v-for="(item,key) in tabs"
        :class="{tab:true,active:item.active}"
        :id="item.domId"
        @click="changeTab(key)"
      >{{item.title}}</div>
    </div>
    <div class="tabArea">
      <c_cdn v-if="tabs.cdn.active" :casinoLocationId="casinoLocationId"></c_cdn>
      <c_resolution v-if="tabs.resolution.active" :casinoLocationId="casinoLocationId"></c_resolution>
      <c_table v-if="tabs.table.active" :casinoLocationId="casinoLocationId"></c_table>
      <c_record v-if="tabs.record.active" :casinoLocationId="casinoLocationId"></c_record>
      <c_play v-if="tabs.play.active" :casinoLocationId="casinoLocationId"></c_play>
      <c_allview v-if="tabs.allview.active" :casinoLocationId="casinoLocationId"></c_allview>
      <c_videodelay v-if="tabs.videoDelay.active" :casinoLocationId="casinoLocationId"></c_videodelay>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import c_cdn from "@/components/projects/real/VideoManage/VideoManage.cdn.vue"
import c_resolution from "@/components/projects/real/VideoManage/VideoManage.resolution.vue"
import c_table from "@/components/projects/real/VideoManage/VideoManage.table.vue"
import c_record from "@/components/projects/real/VideoManage/VideoManage.record.vue"
import c_play from "@/components/projects/real/VideoManage/VideoManage.play.vue"
import c_allview from "@/components/projects/real/VideoManage/VideoManage.allview.vue"
import c_videodelay from "@/components/projects/real/VideoManage/VideoManage.videodelay.vue"
import c_nav from "@/components/basic/nav.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "視訊管理 %s"
    }
  },
  components: {
    c_cdn: c_cdn,
    c_resolution: c_resolution,
    c_table: c_table,
    c_record: c_record,
    c_play: c_play,
    c_allview: c_allview,
    c_videodelay: c_videodelay,
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "網管管理", islink: false, path: "" },
        { title: "視訊管理", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      casinoLocationId: "",
      tabs: {
        cdn: {
          active: true,
          title: "CDN管理",
          domId: "btnCDNManageInVideoManage"
        },
        resolution: {
          active: false,
          title: "視訊解析度管理",
          domId: "btnResolutionManageInVideoManage"
        },
        table: {
          active: false,
          title: "賭桌視訊管理",
          domId: "btnTableVideoInVideoManage"
        },
        record: {
          active: false,
          title: "錄影視訊管理",
          domId: "btnRecordVideoInVideoManage"
        },
        play: {
          active: false,
          title: "播放視訊管理",
          domId: "btnVideoPlaybackInVideoManage"
        },
        allview: {
          active: false,
          title: "全景管理",
          domId: "btnPanoramicViewInVideoManage"
        },
        videoDelay: {
          active: false,
          title: "賭桌延遲時間",
          domId: "btnTableDelayTimeInVideoManage"
        }
      }
    }
  },
  methods: {
    changeTab(item) {
      _.forEach(this.$data.tabs, function(v, k) {
        v.active = false
      })
      this.$data.tabs[item].active = true
    }
  },
  computed: {
    casinoLocation() {
      var re = this.$store.getters["game/Get_casinoLocations"]
      if (re.length > 0) this.$data.casinoLocationId = re[0].uid

      return re
    }
  },
  watch: {},
  created() {
    var _this = this
    GameManager.getBasicItems(this.$data.loginToken, ["casinoLocations"])
      .then(function(res) {
        _this.$store.dispatch("game/Set_casinoLocations", _.cloneDeep(res.casinoLocations))
      })
      .catch(function(err) {})
  }
}
</script>

<style lang="less" scoped>
.tabs {
  display: flex;
  height: 30px;
  position: relative;
  margin: 20px 0px;

  .tab {
    height: 100%;
    position: relative;
    min-width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-right: 0px;
    background-color: #e4e4e4;

    font-size: 13px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;

    &:last-child {
      border-right: 1px solid #000000;
    }

    &.active {
      background-color: #ffffff;
    }
  }
}

.tabArea {
  max-width: 1200px;
  border: 1px solid #000000;
  padding: 15px;
  /*box-sizing: border-box;*/
}

.casinoLocation {
  width: 150px;
}
</style>

