<template>
  <div>
    <div class="_viewPanel">
      <div class="sub_title">近兩週維護排程：</div>
      <div class="t_f">
        <div class="_col _time">維護時間</div>
        <div class="_col _reason">維護原因</div>
        <div class="_col _range">維護範圍</div>
        <div class="_col _infoTime">前台通知</div>
        <div class="_col _status">狀態</div>
        <div class="_col _op">操作</div>
      </div>

      <div class="t_d" v-for="(item, index) in List_d" id="tabMaintainSchedule">
        <div class="_col _time">
          <span v-if="!item.isEdit">{{ item.startTime }}</span>
          <DatePicker2
            domId=""
            :isOnlyHoursOfTime="false"
            :defaultDate="item.startTime"
            :enabledRange="startDateEnabledRange"
            @select="setStartDate"
            ref="startDate"
            v-if="item.isEdit"
          ></DatePicker2>
        </div>
        <div class="_col _reason">{{ item.reason }}</div>
        <div class="_col _range">{{ item.range }}</div>
        <div class="_col _infoTime">{{ item.noticeTime }}分鐘</div>
        <div class="_col _status">{{ item.statusTitle }}</div>
        <div class="_col _op">
          <div
            class="_btn_c"
            :class="{ _forbid: item.isForbid, _doComplete: !item.isForbid }"
            @click="toRefresh(item.isForbid)"
            v-if="item.stateAlias == 'RUN' || item.stateAlias == 'START'"
          >
            重載
          </div>

          <div
            class="_btn_c"
            :class="{ _forbid: item.isForbid, _doComplete: !item.isForbid }"
            @click="toComplete(item.uid, item.isForbid)"
            v-if="item.stateAlias == 'RUN' || item.stateAlias == 'START'"
          >
            結束
          </div>

          <div
            :class="{ _btn_c: true, _forbid: item.isForbid }"
            @click="
              item.isEdit = !item.isForbid
              toUpdate_step1(item.uid, item.isForbid)
            "
            v-if="item.stateAlias != 'RUN' && item.stateAlias != 'START' && !item.isEdit"
          >
            更改
          </div>

          <div
            :class="{ _btn_c: true, _cancel: true }"
            @click="
              item.isEdit = false
              item.startTime = item.oldStartTime
            "
            v-if="item.isEdit"
          >
            取消
          </div>

          <div :class="{ _btn_c: true, _forbid: item.isForbid }" @click="toUpdate_step2(item)" v-if="item.isEdit">
            確認
          </div>

          <div
            :class="{ _btn_c: true, _forbid: item.isForbid }"
            @click="toDel(item)"
            v-if="item.stateAlias != 'RUN' && item.stateAlias != 'START' && !item.isEdit"
          >
            刪除
          </div>
        </div>
      </div>
    </div>

    <el-dialog
      :visible.sync="reCheckPwd"
      v-if="reCheckPwd"
      width="480px"
      custom-class="panelEdit _c_dialog _noHeader"
      :show-close="false"
      center
    >
      <div class="c_note" v-if="doWhat.Complete.active">
        您即將結束維護排程。
        <br />確認完畢，請在下方輸入您的使用者密碼：
      </div>

      <div class="c_note" v-if="doWhat.Refresh.active">
        您即將重載維護資料。
      </div>

      <div class="c_note" v-if="doWhat.Update.active">
        <div>
          您即將調整維護
          <span class="_tofocus">{{ note.range }}</span> 的設定
        </div>
        <div>
          開始時間更改為
          <span class="_tofocus">{{ note.startTime }}</span>
        </div>
        確認完畢，請在下方輸入您的使用者密碼：
      </div>

      <div class="c_note" v-if="doWhat.Del.active">
        <div>請確認是否要刪除此筆系統維護申請？</div>
        <div class="_block">
          <div class="nr">
            <div class="n_f">維護時間</div>
            <div class="n_v">{{ note.startTime }}</div>
          </div>
          <div class="nr">
            <div class="n_f">維護範圍</div>
            <div class="n_v">{{ note.range }}</div>
          </div>
          <div class="nr">
            <div class="n_f">維護原因</div>
            <div class="n_v">{{ note.reason }}</div>
          </div>
        </div>
        <div class="_block">確認完畢，請在下方輸入您的使用者密碼：</div>
      </div>

      <div class="reCheckPwd" v-if="!doWhat.Refresh.active">
        <input
          type="password"
          v-model="opPassword"
          name="opPassword"
          v-bind:class="{ _input: true, v_error: V_err.has('opPassword') }"
          v-validate="{ requiredAllowSpace, required: true, min: 6, max: 12 }"
          id="iptPwd"
        />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="CheckPwdPanel(false)" id="btnCancel">取消</el-button>
        <el-button type="primary" @click="doSubmit()" id="btnSave">確定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import MaintainManager from "@/services/MaintainManager"
import common from "@/libs/common"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import { getLocalTimeString } from "@/libs/time.js"

export default {
  components: {
    DatePicker2
  },
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      List_d: [],
      tableUid: [],
      postd: {
        uid: "",
        startTime: ""
      },
      mainTainStatus: {
        READY: {
          alias: "READY",
          title: "準備中"
        },
        NOTICE: {
          alias: "NOTICE",
          title: "已通知"
        },
        START: {
          alias: "START",
          title: "執行中"
        },
        RUN: {
          alias: "RUN",
          title: "維護中"
        },
        FINISH: {
          alias: "FINISH",
          title: "已完成"
        }
      },
      reCheckPwd: false,
      opPassword: "",
      doWhat: {
        Complete: {
          alias: "Complete",
          active: false
        },
        Del: {
          alias: "Del",
          active: false
        },
        Update: {
          alias: "Update",
          active: false
        },
        Refresh: {
          alias: "Refresh",
          active: false
        }
      },
      note: {}
    }
  },
  computed: {
    startDateEnabledRange() {
      const specificDate = new Date()
      const oneDay = 1000 * 60 * 60 * 24
      const DateRange = specificDate.getTime() - oneDay
      return [
        function(date) {
          return date.getTime() >= DateRange
        }
      ]
    }
  },
  methods: {
    CheckPwdPanel(todo) {
      this.$data.reCheckPwd = todo
      this.$data.opPassword = ""
    },
    setdoWhat(item) {
      var t = this.$data.doWhat
      _.forEach(t, function(v, k) {
        t[k].active = false
      })
      t[item].active = true
    },
    toComplete(uid, isForbid) {
      if (isForbid) {
        return false
      }

      this.$data.postd.uid = uid
      this.CheckPwdPanel(true)
      this.setdoWhat("Complete")
    },
    toRefresh(isForbid) {
      if (isForbid) {
        return false
      }

      this.CheckPwdPanel(true)
      this.setdoWhat("Refresh")
    },
    toUpdate_step1(uid, isForbid) {
      if (isForbid) {
        return false
      }

      this.$data.postd.uid = uid
      this.setdoWhat("Update")
    },
    toUpdate_step2(item) {
      this.$data.note = _.cloneDeep(item)
      this.$data.note.startTime = getLocalTimeString(this.$data.postd.startTime)
      this.CheckPwdPanel(true)
    },
    toDel(item) {
      if (item.isForbid) {
        return false
      }

      this.$data.postd.uid = item.uid
      this.$data.note = _.cloneDeep(item)
      this.CheckPwdPanel(true)
      this.setdoWhat("Del")
    },
    doSubmit() {
      var _this = this
      var _postd = this.$data.postd
      var d = {
        uid: _postd.uid,
        password: this.$data.opPassword
      }

      var doWhat = this.$data.doWhat
      switch (true) {
        case doWhat.Complete.active:
          MaintainManager.doComplete(this.loginToken, d)
            .then(function(res) {
              _this.CheckPwdPanel(false)
              _this.getList()
            })
            .catch(function(err) {
              console.log(err)
            })
          break

        case doWhat.Refresh.active:
          MaintainManager.doRefresh(this.loginToken)
            .then(function(res) {})
            .catch(function(err) {
              console.log(err)
            })

          _this.CheckPwdPanel(false)
          _this.getList()
          break

        case doWhat.Update.active:
          d.startTime = common.timeZoneApply(_postd.startTime, true)

          MaintainManager.doUpdate(this.loginToken, d)
            .then(function(res) {
              _this.CheckPwdPanel(false)
              _this.getList()
            })
            .catch(function(err) {
              console.log(err)
            })
          break

        case doWhat.Del.active:
          MaintainManager.doDel(this.loginToken, d)
            .then(function(res) {
              _this.CheckPwdPanel(false)
              _this.getList()
            })
            .catch(function(err) {
              console.log(err)
            })
          break
      }
    },
    getList() {
      var _this = this
      var name = "agent"
      MaintainManager.getList(this.loginToken, name)
        .then(function(res) {
          var tmp = []

          _.forEach(res, function(v, k) {
            if (v.stateId === "20" || v.stateId === "30") {
              v.isForbid = true
            }

            var t = JSON.parse(v.rangeData)
            v.range = t.range[0].account + "(" + t.range[0].nickname + ")"
            _this.$data.tableUid.push(t.range[0].uid)

            v.statusTitle = _this.$data.mainTainStatus[v.stateAlias].title
            v.startTime = common
              .timeZoneApply(v.startTime, false)
              .slice(0, 19)
              .replace(/\//g, "/")
            v.oldStartTime = v.startTime
            v.isEdit = false
            tmp.push(v)
          })
          _this.$data.List_d = _.cloneDeep(tmp)
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.postd.startTime = result
    }
  },
  created() {
    this.getList()
  },
  filters: {
    showText(val) {
      var re

      try {
        re = this.$data.mainTainStatus[val]
      } catch (err) {
        re = ""
      }

      return re
    }
  }
}
</script>

<style lang="less" scoped>
@import "../../../styles/less/videoManager.less";

._col {
  &._time {
    min-width: 180px;
  }
  &._reason {
    min-width: 250px;
  }
  &._range {
    min-width: 100px;
  }
  &._infoTime {
    max-width: 100px;
  }
  &._status {
    max-width: 100px;
  }
  &._op {
    max-width: 150px;
    min-width: unset;
  }
}

._tofocus {
  color: #0000ff;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.sub_title {
  font-size: 16px;
  margin: 20px 0px 20px 0px;
}

._btn_c {
  margin: auto 5px;

  &._forbid {
    background-color: rgba(153, 153, 153, 1);
    color: #cccccc;
    cursor: not-allowed;
  }

  &._doComplete {
    background-color: #ffffff;
    color: #000000;
  }

  &._cancel {
    background-color: #ffffff;
    color: #000000;
  }
}

.c_note {
  > div {
    margin: 10px 0px;
    word-wrap: break-word;
    word-break: break-all;
  }

  ._block {
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    padding: 20px;
    .nr {
      margin: 5px 0px;
      display: flex;
    }

    .n_f {
      display: inline-flex;
      width: 30%;
    }
    .n_v {
      display: inline-flex;
      width: 70%;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

._c_dialog .reCheckPwd input {
  width: 100%;
}
</style>
