<template>
  <div class="panel _c_dialog">
    <div class="subTitle">維護申請</div>
    <hr />

    <div class="row">
      <div class="f_t">前台通知：</div>
      <div class="f_v">
        <input
          type="text"
          v-bind:class="{ infoTime: true, _input: true, v_error: V_err.has('infoTime') }"
          v-validate="{ integer: true, required: true, min_value: 1, max_value: 30 }"
          name="infoTime"
          v-model="postd.infoTime"
          id="iptInfoMinuteInMaintain"
        />
        分鐘
      </div>
    </div>

    <div class="row">
      <div class="f_t">維護時間：</div>
      <div class="f_v">
        <DatePicker2
          domId=""
          :isOnlyHoursOfTime="false"
          :enabledRange="startDateEnabledRange"
          @select="setStartDate"
          ref="startDate"
        ></DatePicker2>
      </div>
    </div>

    <div class="row _top theme_sel">
      <div class="f_t">維護範圍：</div>
      <div class="f_v">
        <el-button type="primary" @click="showThemeSel = !showThemeSel" id="btnChooseRoom">選擇代理</el-button>
        <div :class="{ themeContainer: true }" v-if="showThemeSel" id="divChooseRoom">
          <label class="c_list" v-for="item in agentList" v-if="item.isEnable == '1'">
            <input type="checkbox" :value="item.uid" v-model="themeIdSelected" />
            {{ item.agentName }}
          </label>
        </div>
        <textarea class="themeList" rows="4" cols="50" readonly v-model="themeTitleSelected.title"></textarea>
      </div>
    </div>

    <div class="row _top">
      <div class="f_t _reason">維護原因：</div>
      <div class="f_v">
        <textarea
          rows="4"
          cols="50"
          v-bind:class="{ reasonTextarea: true, _input: true, v_error: V_err.has('reason') }"
          v-validate="{ required: true, max: 600 }"
          name="reason"
          v-model="postd.reason"
          id="txtMaintainReasonInMaintain"
        ></textarea>
      </div>
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button @click="cancel()" id="btnCancel">取消</el-button>
      <el-button type="primary" @click="toDoApply()" id="btnSave">確定</el-button>
    </span>
  </div>
</template>

<script>
import MaintainManager from "@/services/MaintainManager"
import AgentManager from "@/services/AgentManager"
import common from "@/libs/common"
import DatePicker2 from "@/components/selects/DatePicker2.vue"

export default {
  components: {
    DatePicker2
  },
  props: [],
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      postd: {
        uid: "",
        infoTime: "",
        reason: "",
        startTime: ""
      },
      mTypeActiveId: "",
      mTypeActiveAlias: "",
      mType: {},
      showThemeSel: false,
      showTableSel: false,
      d_tableList: [],
      selThemeIdFromTable: "",
      pageNum: 0,
      currentPage: 1,
      pageSize: 20,
      themeIdSelected: [],
      themeTitleSelected: {},
      mTypeShow: false,
      agentList: []
    }
  },
  computed: {
    startDateEnabledRange() {
      const specificDate = new Date()
      const oneDay = 1000 * 60 * 60 * 24
      const DateRange = specificDate.getTime() - oneDay
      return [
        function(date) {
          // return true to enable
          return date.getTime() >= DateRange
        }
      ]
    }
  },
  methods: {
    toDoApply() {
      var _this = this

      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        _this.doApply()
      })
    },
    doApply() {
      var _d = this.$data

      var _this = this
      var postd = _d.postd

      var d = {
        typeId: 4,
        noticeTime: postd.infoTime,
        startTime: postd.startTime,
        // startTime: common.timeZoneApply(postd.startTime, true),
        reason: postd.reason,
        targetData: (function() {
          var re = []

          _.forEach(_d.themeTitleSelected.list, function(v, k) {
            re.push({
              uid: v.groupUid,
              account: v.account,
              nickname: v.nickname
            })
          })

          return re
        })()
      }

      MaintainManager.toApply(this.loginToken, d)
        .then(function(res) {
          _this.toExit()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    toExit() {
      this.$emit("toExit")
    },
    cancel() {
      this.toExit()
    },
    getAgentList() {
      var _this = this
      AgentManager.getTopAgentList(this.loginToken)
        .then(function(res) {
          _this.$data.agentList = res

          _.forEach(_this.$data.agentList, function(v, k) {
            v.agentName = v.account + "(" + v.nickname + ")"
          })
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.postd.startTime = result
    }
  },
  watch: {
    themeIdSelected(val) {
      var d_agentList = this.$data.agentList
      var t = { title: [], list: [] }

      _.forEach(d_agentList, function(v, k) {
        if (val.indexOf(v.uid) != -1) {
          t.title.push(v.agentName)
          t.list.push(v)
        }
      })

      this.$data.themeTitleSelected = {
        title: t.title.join(" " + " "),
        list: t.list
      }
    }
  },
  created() {
    this.getAgentList()
  }
}
</script>

<style lang="less" scoped>
textarea {
  width: 90%;
  display: flex;
}

.themeList,
.tableList {
  margin-top: 5px;
}

.row {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin: 15px 0px;
  position: relative;

  .f_t {
    width: 100px;
    color: #324243;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;

    ._reason {
      display: flex;
      align-items: flex-start;
    }
  }

  .f_v {
    width: 500px;
  }

  &._top {
    align-items: flex-start;
  }
}

.subTitle {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.panel {
  width: 50%;
  border: 1px solid #000000;
  padding: 60px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #333333;
}

.mType {
  border: 1px solid rgba(121, 121, 121, 1);
  padding: 8px 20px;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  // border-right:0px;
  border-radius: 3px;

  &.active {
    background-color: #797979;
    color: #ffffff;
  }
}

.infoTime {
  height: 28px;
  width: 80px;
  padding: 0px;
  text-align: center;
  padding-right: 5px;
  box-sizing: border-box;
}

.dialog-footer {
  display: flex;
  justify-content: center;
}

.table_sel,
.theme_sel {
  position: relative;
  z-index: 10;
}

.themeContainer {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  max-height: 500px;
  overflow: auto;

  .c_list {
    margin: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
}

._col._sel {
  max-width: 50px;
}

.selThemeIdFromTable {
  margin-bottom: 10px;
}
</style>
