<template lang="pug">
.stream-manage-stream-resolution-edit(v-if="isDisplay === true")
  .stream-manage__tab-title 編輯視訊解析度

  .stream-manage__row
    .stream-manage__label.is-required 項目* ：
    .stream-manage__label.is-required {{ current.streamResolutionTypeLabel }}

  .stream-manage__row
    .stream-manage__label.is-required 解析度說明* ：
    AdvancedInput(
      domId="1"
      :isDisabled="true"
      :isReadonly="true"
      ref="commentInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 解析度* ：
    AdvancedInput(
      domId="2"
      :maxlength="50"
      :minlength="1"
      :regex="/.{1,50}/"
      @input="setStreamResolution"
      ref="streamResolutionInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__alt-button(
      @click="onClose"
    ) 取消

    .action-bar__button(
      @click="submitRequest"
    ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { editCasinoStreamResolution } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetData: { type: Object, required: true }
  },
  components: { AdvancedInput, LoadingLock },
  mixins: [ErrorMessage],
  data: () => ({
    current: {
      comment: "",
      streamResolution: "",
      streamResolutionUid: "",
      streamResolutionTypeLabel: ""
    },
    isLoading: false
  }),
  watch: {
    isDisplay(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.setDefaultValue()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    setDefaultValue() {
      this.current.streamResolutionUid = this.targetData.streamResolutionUid
      this.current.streamResolutionTypeLabel = this.targetData.streamResolutionTypeLabel

      this.$refs["commentInput"].setValue(this.targetData.comment)
      this.$refs["streamResolutionInput"].setValue(this.targetData.streamResolution)
    },
    resetToDefault() {
      this.current.comment = ""
      this.current.streamResolution = ""
      this.current.streamResolutionUid = ""
      this.current.streamResolutionTypeLabel = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setStreamResolution(data) {
      this.current.streamResolution = data
    },
    async validates() {
      const result = await Promise.all([
        this.$refs["commentInput"].validate(),
        this.$refs["streamResolutionInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          streamResolutionUid: this.current.streamResolutionUid,
          streamResolution: this.current.streamResolution
        }

        const res = await editCasinoStreamResolution(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
