<template lang="pug">
.stream-manage-stream-resolution__type-list(v-if="streamResolutionTypes.length > 0")
  .stream-manage-stream-resolution__type-item(
    v-for="(row, index) in streamResolutionTypes"
    :class="{'stream-manage-stream-resolution__type-item--is-active': row.uid === current.streamResolutionTypeUid }"
    @click="switchStreamResolutionTypes(index)"
  ) {{ row.label }}
</template>

<script>
import { mapState } from "vuex"
import { getCasinoStreamResolutionTypes } from "@/api/Casino.js"
import ErrorMessage from "@/mixins/ErrorMessage.js"

export default {
  async mounted() {
    await this.fetchCasinoStreamResolutionTypes()

    // Select first stream resolution type option
    this.selectMenuByIndex(this.defaultSelectIndex)
    this.onChange()
  },
  mixins: [ErrorMessage],
  props: {
    casinoLocationUid: { type: String, required: true },
    defaultSelectIndex: { type: Number, default: 0 }
  },
  data: () => ({
    current: { streamResolutionTypeUid: "", menuIndex: 0 },
    resultRows: []
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    streamResolutionTypes() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return { label: x.title, uid: x.uid }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    async fetchCasinoStreamResolutionTypes() {
      try {
        const res = await getCasinoStreamResolutionTypes(this.loginToken)

        if (res.exitCode === true) {
          this.resultRows = res.data.videoReceiver
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    switchStreamResolutionTypes(index) {
      const target = this.streamResolutionTypes[index]
      this.current.streamResolutionTypeUid = target.uid
      this.current.menuIndex = index
      this.onChange()
    },
    onChange() {
      const payload = {
        menuIndex: this.current.menuIndex,
        streamResolutionTypeUid: this.current.streamResolutionTypeUid
      }
      this.$emit("change", payload)
    },
    selectMenuByIndex(index = 0) {
      this.current.streamResolutionTypeUid = this.streamResolutionTypes[index].uid
    },
    getCurrentMenuLabel() {
      return this.streamResolutionTypes[this.current.menuIndex].label
    }
  }
}
</script>
