<template lang="pug">
.fancy-baccarat-result.layout-one-column-game-result.fancy-game-result__modal(:id="domIdList.wrapper")
  .fancy-baccarat-result__game-info
    .fancy-baccarat-result__game-title(:id="domIdList.gameTitle") {{ displayData.gameType }}

    .game-info__vertical-line

    .game-info__details.fancy-baccarat-result__details
      .game-info__hall-title(:id="domIdList.gameHallTitle") {{ displayData.gameHall }}

      .game-info__details-group
        .game-info__front-desk(:id="domIdList.gameTableTitle") {{ `${displayData.gameTableCode}桌` }}
        .game-info__shoe-number(:id="domIdList.gameShoeTitle") {{ `${displayData.gameShoeNumber}靴` }}
        .game-info__round-number(:id="domIdList.gameRoundTitle") {{ `${displayData.gameRoundNumber}局` }}

  .game-result
    .game-result__board
      .game-result__title 閒家
      .game-result__content
        .poker-card(
          v-for="card in playerResultViews"
        )
          .poker-card__value(:class="`poker-card__value--${card.suitClass}`") {{ card.value }}
          .poker-card__board(:class="`poker-card__board--${card.suitClass}`")

    .game-result__board
      .game-result__title 莊家
      .game-result__content
        .poker-card(
          v-for="card in bankerResultViews"
        )
          .poker-card__value(:class="`poker-card__value--${card.suitClass}`") {{ card.value }}
          .poker-card__board(:class="`poker-card__board--${card.suitClass}`")
</template>

<script>
import { mappingCardItems } from "@/libs/poker.js"

export default {
  props: { gameData: {}, domIdList: {} },
  computed: {
    displayData() {
      const data = this.gameData
      if (Object.keys(data).length > 0) {
        return {
          gameType: data.gameType,
          gameHall: data.gameHall,
          gameTableCode: data.gameTableCode,
          gameShoeNumber: data.gameShoeNumber,
          gameRoundNumber: data.gameRoundNumber,
          gameResult: data.gameResult
        }
      } else {
        return {}
      }
    },
    bankerResult() {
      return this.displayData.gameResult.value.slice(3, 6)
    },
    playerResult() {
      const data = this.displayData.gameResult.value.slice(0, 3)
      return [data[2], data[0], data[1]]
    },
    bankerResultViews() {
      const result = this.bankerResult.map(mappingCardItems)
      return result
    },
    playerResultViews() {
      const result = this.playerResult.map(mappingCardItems)
      return result
    }
  }
}
</script>

<style scoped lang="stylus">
.fancy-baccarat-result
  &__game-title
    display flex
    align-items center
    box-sizing border-box
    padding-bottom 0.5rem
    word-break keep-all
    font-weight bold
    font-style normal
    font-size 1.3rem

  &__game-info
    display flex
    margin-bottom 1rem
    border-bottom 1px solid

  &__details
    padding-bottom 0.5rem
</style>

