<template lang="pug">
.fancy-dragontiger-result.layout-two-column-game-result.fancy-game-result__modal(:id="domIdList.wrapper")

  .game-info
    .game-info__game-title(:id="domIdList.gameTitle") {{ displayData.gameType }}

    .game-info__horizon-line

    .game-info__details
      .game-info__hall-title(:id="domIdList.gameHallTitle") {{ displayData.gameHall }}
      .game-info__details-group
        .game-info__front-desk(:id="domIdList.gameTableTitle") {{ `${displayData.gameTableCode}桌` }}
        .game-info__shoe-number(:id="domIdList.gameShoeTitle") {{ `${displayData.gameShoeNumber}靴` }}
        .game-info__round-number(:id="domIdList.gameRoundTitle") {{ `${displayData.gameRoundNumber}局` }}

  .game-result
    .game-result__board
      .game-result__title 龍
      .game-result__content
        .poker-card
          .poker-card__value(:class="`poker-card__value--${dragonResultViews.suitClass}`") {{ dragonResultViews.value }}
          .poker-card__board(:class="`poker-card__board--${dragonResultViews.suitClass}`")

    .game-result__board
      .game-result__title 虎
      .game-result__content
        .poker-card
          .poker-card__value(:class="`poker-card__value--${tigerResultViews.suitClass}`") {{ tigerResultViews.value }}
          .poker-card__board(:class="`poker-card__board--${tigerResultViews.suitClass}`")
</template>

<script>
import { mappingCardItems } from "@/libs/poker.js"

export default {
  props: { gameData: {}, domIdList: {} },
  computed: {
    displayData() {
      const data = this.gameData
      if (Object.keys(data).length > 0) {
        return {
          gameType: data.gameType,
          gameHall: data.gameHall,
          gameTableCode: data.gameTableCode,
          gameShoeNumber: data.gameShoeNumber,
          gameRoundNumber: data.gameRoundNumber,
          gameResult: data.gameResult
        }
      } else {
        return {}
      }
    },
    dragonResult() {
      const [result] = this.displayData.gameResult.value.slice(0, 1)
      return result
    },
    tigerResult() {
      const [result] = this.displayData.gameResult.value.slice(1, 2)
      return result
    },
    dragonResultViews() {
      const result = mappingCardItems(this.dragonResult)
      return result
    },
    tigerResultViews() {
      const result = mappingCardItems(this.tigerResult)
      return result
    }
  }
}
</script>

