<template lang="pug">
.fancy-fantan-result.layout-two-column-game-result.fancy-game-result__modal(:id="domIdList.wrapper")

  .game-info
    .game-info__game-title(:id="domIdList.gameTitle") {{ displayData.gameType }}

    .game-info__horizon-line

    .game-info__details
      .game-info__hall-title(:id="domIdList.gameHallTitle") {{ displayData.gameHall }}
      .game-info__details-group
        .game-info__front-desk(:id="domIdList.gameTableTitle") {{ `${displayData.gameTableCode}桌` }}
        .game-info__shoe-number(:id="domIdList.gameShoeTitle") {{ `${displayData.gameShoeNumber}靴` }}
        .game-info__round-number(:id="domIdList.gameRoundTitle") {{ `${displayData.gameRoundNumber}局` }}

  .game-result
    .game-result__board
      .game-result__content
        .fancy-fantan-result__point-result
          span {{ resultView.value }}
          .fancy-fantan-result__point-icon-row
            template(v-for="n in resultView.value")
              .fancy-fantan-result__point-icon
</template>

<script>
export default {
  props: { gameData: {}, domIdList: {} },
  computed: {
    displayData() {
      const data = this.gameData
      if (Object.keys(data).length > 0) {
        return {
          gameType: data.gameType,
          gameHall: data.gameHall,
          gameTableCode: data.gameTableCode,
          gameShoeNumber: data.gameShoeNumber,
          gameRoundNumber: data.gameRoundNumber,
          gameResult: data.gameResult
        }
      } else {
        return {}
      }
    },
    resultView() {
      const [value] = this.displayData.gameResult.value.slice(0, 1)
      return { value }
    }
  }
}
</script>


<style lang="stylus">
.fancy-fantan-result
  &__point-result
    width 100%
    color #000000
    text-align center
    font-weight bold
    font-size 2.5rem

  &__point-icon-row
    display flex
    justify-content space-evenly
    margin-top 1rem
    width 100%

  &__point-icon
    width 1rem
    height 1rem
    border 1px solid #333333
    border-radius 50%
    background-color #ffffff
</style>

