<template lang="pug">
.fancy-sicbo-result.layout-two-column-game-result.fancy-game-result__modal(:id="domIdList.wrapper")

  .game-info
    .game-info__game-title(:id="domIdList.gameTitle") {{ displayData.gameType }}

    .game-info__horizon-line

    .game-info__details
      .game-info__hall-title(:id="domIdList.gameHallTitle") {{ displayData.gameHall }}
      .game-info__details-group
        .game-info__front-desk(:id="domIdList.gameTableTitle") {{ `${displayData.gameTableCode}桌` }}
        .game-info__shoe-number(:id="domIdList.gameShoeTitle") {{ `${displayData.gameShoeNumber}靴` }}
        .game-info__round-number(:id="domIdList.gameRoundTitle") {{ `${displayData.gameRoundNumber}局` }}

  .game-result
    .game-result__board.fancy-sicbo-result__board
      .game-result__content
        .dice-face(
          v-for="dice in resultView"
          :class="dice.class"
        )
          .dice-face__point(v-for="n in dice.value")
</template>

<script>
export default {
  props: { gameData: {}, domIdList: {} },
  computed: {
    displayData() {
      const data = this.gameData
      if (Object.keys(data).length > 0) {
        return {
          gameType: data.gameType,
          gameHall: data.gameHall,
          gameTableCode: data.gameTableCode,
          gameShoeNumber: data.gameShoeNumber,
          gameRoundNumber: data.gameRoundNumber,
          gameResult: data.gameResult
        }
      } else {
        return {}
      }
    },
    resultView() {
      const targets = this.gameData.gameResult.value.slice(0, 3)
      const result = targets.map(x => {
        return { class: `dice-face--${x}`, value: x }
      })
      return result
    }
  }
}
</script>

<style lang="stylus">
.fancy-sicbo-result
  &__board
    width 100%
</style>

