@import "../mixin/button.styl"

body
  font-weight 400
  font-style normal
  font-size 14px
  font-family "Arial Normal", "Arial"

a
  color #ffffff
  text-decoration none

.card-result-modal
  background #cccccc

.error-message-box
  &__global
    background #f2f2f2

    .el-button--default
      secondaryButton()
      display inline-block

    .el-button--primary
      primaryButton()
      display inline-block

.notice-modal
  .el-button--default
    secondaryButton()
    display inline-block

  .el-button--primary
    primaryButton()
    display inline-block

.general-modal, .notice-modal
  .el-dialog__header
    display none
