<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="600px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :destroy-on-close="true"
  center
)
  .game-hall-manage(id="divAddRoom")
    .modal__title 新增廳館

    .modal__row
      .modal__label 廳館名稱 :

      AdvancedInput(
        domId="iptRoomNameInAddRoom"
        :minlength="4"
        :maxlength="10"
        :regex="/^[0-9a-zA-Z\u4e00-\u9eff]{4,10}$/"
        @input="setGameHallName"
        ref="gameHallNameInput"
      )

    .modal__row
      .modal__label 現場位置名稱 :
      CasinoLocationSelect(
        domId="selSitePosNameInAddRoom"
        @select="setCasinoLocation"
        ref="casinoLocationSelect"
      )

    .modal__row
      .modal__label 現場位置代號 :
      .modal__text-item(id="labSitePosNoInAddRoom") {{ current.casinoLocationCode }}

    .modal__row(v-if="isActiveRobotArmOption === true")
      .modal__label 是否為手臂廳 :
      input(
        type="checkbox"
        v-model="current.isRobotArmGameHall"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInAddRoom"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnCreateInAddRoom"
        @click="submitRequest"
      ) 新增

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import CasinoLocationSelect from "@/components/selects/CasinoLocation.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { addGameHall } from "@/api/Game.js"
import { mapState } from "vuex"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    gameHallList: { type: Array },
    isActiveRobotArmOption: { type: Boolean, required: true }
  },
  components: {
    LoadingLock,
    AdvancedInput,
    CasinoLocationSelect
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: {
      gameHallName: "",
      casinoLocationUid: "",
      casinoLocationCode: "",
      isRobotArmGameHall: false
    },
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken", "topAgentUid"])
  },
  methods: {
    setGameHallName(data) {
      this.current.gameHallName = data
    },
    setCasinoLocation(uid, code) {
      this.current.casinoLocationUid = uid
      this.current.casinoLocationCode = code
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    resetToDefault() {
      this.current.gameHallName = ""
      this.current.isRobotArmGameHall = false
    },
    getNextIndexByGameHallList() {
      const { sorting: result } = this.gameHallList.reduce((acc, ele) => {
        return acc.sorting >= ele.sorting ? acc : ele
      })

      return result + 1
    },
    async validInputs() {
      const result = await Promise.all([this.$refs["gameHallNameInput"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const isAllValid = await this.validInputs()
      if (isAllValid !== true) return

      try {
        this.isLoading = true

        const nextIndex = this.getNextIndexByGameHallList()

        const payload = {
          casinoLocationUid: this.current.casinoLocationUid,
          gameHallName: this.current.gameHallName,
          isRobotArmGameHall: this.current.isRobotArmGameHall,
          index: nextIndex
        }

        const res = await addGameHall(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
