<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="600px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :destroy-on-close="true"
  center
)
  .game-hall-manage(id="divEditRoom")
    .modal__title 編輯廳館

    .modal__row
      .modal__label 廳館名稱 :

      AdvancedInput(
        domId="iptRoomNameInEditRoom"
        :minlength="4"
        :maxlength="10"
        :regex="/^[0-9a-zA-Z\u4e00-\u9eff]{4,10}$/"
        @input="setGameHallName"
        ref="gameHallNameInput"
      )

    .modal__row
      .modal__label 現場位置名稱 :
      .modal__text-item(id="labSitePosNameInEditRoom") {{ targetData.casinoLocationName }}

    .modal__row
      .modal__label 現場位置代號 :
      .modal__text-item(id="labSitePosNoInEditRoom") {{ targetData.casinoLocationCode }}

    .modal__row(v-if="isActiveRobotArmOption === true")
      .modal__label 是否為手臂廳 :
      input.input(
        type="checkbox"
        disabled="disabled"
        v-model="targetData.themeTypeId"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInEditRoom"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnCreateInEditRoom"
        @click="submitRequest"
      ) 儲存

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { mapState } from "vuex"
import { modifyGameHall } from "@/api/Game.js"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetData: { type: Object, required: true },
    isActiveRobotArmOption: { type: Boolean, required: true }
  },
  components: { LoadingLock, AdvancedInput },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { gameHallName: "" },
    isLoading: false
  }),
  watch: {
    isDisplay(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.assignDefaultValues()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    assignDefaultValues() {
      this.$refs["gameHallNameInput"].setValue(this.targetData.gameHallName)
    },
    setGameHallName(payload) {
      this.current.gameHallName = payload
    },
    resetToDefault() {
      this.current.gameHallName = ""
    },
    onClose() {
      this.$emit("close", true)
      this.resetToDefault()
    },
    async validateInputs() {
      const result = await this.$refs["gameHallNameInput"].validate()
      return result.valid
    },
    async submitRequest() {
      const validResult = await this.validateInputs()
      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.targetData.casinoLocationUid,
          gameHallName: this.current.gameHallName,
          gameHallUid: this.targetData.gameHallUid
        }

        const res = await modifyGameHall(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
