<template lang="pug">
.game-hall-manage
  Navbar(:prop_nav="navbarItems")
  .header__title(id="labRoomManageTitle") 廳館管理

  .content
    .action-bar
      .action-bar__button(
        id="btnAddRoom"
        @click="openAddGameHallModal"
      ) 新增廳館

      template(v-for="x in gameHallStatusItems")
        .action-bar__alt-button(
          :id="x.domId"
          v-if="isGameHallSelected === true"
          @click="gameHallActionSwitch(x.key)"
        ) {{ x.label }}

        .action-bar__alt-button.is-disabled(
          v-else
          :id="x.domId"
        ) {{ x.label }}

    .report-table.game-hall-manage__report-table(
      id="tabRoom"
      v-if="reportTableRows.length > 0"
    )
      .report-table__row.game-hall-manage__table-row.t_f
        template(v-for="x in reportTableHeaders")

          .report-table__header-cell(
            v-if="x.name === 'sortingOrder'"
            :class="x.QA_CSS"
          )
            .secondary-button(
              id="btnSaveCurrencySort"
              v-if="isSortingGameHallOrder === true"
              @click="saveSortingOrder"
            ) 儲存排序

            .secondary-button(
              id="btnEditSortInCurrencySetting"
              v-else
              @click="activeSortingGameHallOrder"
            ) 編輯排序

          .report-table__header-cell(
            v-else
            :class="x.QA_CSS"
          ) {{ x.label }}

      .report-table__row.game-hall-manage__table-row.t_d(v-for="row, index in reportTableRows")
        template(v-for="(value, key) in row")

          .report-table__cell(
            v-if="key === 'checkBox'"
            :class="getCSSForQA(key, reportTableHeaders)"
          )
            input(
              type="checkbox"
              :value="value"
              v-model="current.gameHallUidList"
            )

          .report-table__cell(
            v-else-if="key === 'status'"
            :class="getCSSForQA(key, reportTableHeaders)"
          )
            span(
              :class="{ 'is-ok': value.isEnabled === true }"
            ) {{ value.label }}

          .report-table__cell(
            v-else-if="key === 'sortingOrder'"
            :class="getCSSForQA(key, reportTableHeaders)"
          )
            template(v-if="isSortingGameHallOrder === true")
              .sorting-icon__up._up(
                :class="{ 'sorting-icon--disabled': index === 0 }"
                @click="sortingUp(index)"
              )

              .sorting-icon__down.__down(
                :class="{ 'sorting-icon--disabled': index === resultRows.length - 1 }"
                @click="sortingDown(index)"
              )

            template(v-else)
              .sorting-icon__up.sorting-icon--disabled._up

              .sorting-icon__down.sorting-icon--disabled.__down

          .report-table__cell(
            v-else-if="key === 'operates'"
            :class="getCSSForQA(key, reportTableHeaders)"
          )
            .action-bar__table-bar
              template(v-for="x in value")
                .action-bar__table-button(
                  @click="actionHandler(x.name, index)"
                ) {{ x.label }}


          .report-table__cell(
            v-else
            :class="getCSSForQA(key, reportTableHeaders)"
          ) {{ value }}

  AddGameHall(
    :isDisplay="isOpenAddGameHallModal"
    :isActiveRobotArmOption="isActiveRobotArmOption"
    :gameHallList="resultRows"
    @close="closeAddGameHallModal"
    @requestSuccess="fetchGameHallList"
  )

  EditGameHall(
    :isDisplay="isOpenEditGameHallModal"
    :isActiveRobotArmOption="isActiveRobotArmOption"
    :targetData="current"
    @close="closeEditGameHallModal"
    @requestSuccess="fetchGameHallList"
  )

  ConfirmModal(
    :isDisplay="isShowConfirmModal"
    :config="confirmModalConfig"
    @close="closeConfirmModal"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import Navbar from "@/components/basic/nav.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { methods as ReportPageMethodsMixin } from "@/mixins/ReportPage.js"
import AddGameHall from "@/components/common/GameHallManage/AddGameHall.vue"
import EditGameHall from "@/components/common/GameHallManage/EditGameHall.vue"
import { mapState, mapGetters } from "vuex"
import { getGameHallList, modifyGameHallOrder } from "@/api/Game.js"
import ConfirmModal from "@/components/common/ConfirmModal.vue"
import { deleteGameHall, disableGameHall, enableGameHall } from "@/api/Game.js"

export default {
  metaInfo() {
    return {
      titleTemplate: `廳館管理 %s`
    }
  },
  props: {
    isActiveRobotArmOption: { type: Boolean, required: true }
  },
  components: {
    LoadingLock,
    Navbar,
    AddGameHall,
    EditGameHall,
    ConfirmModal
  },
  mixins: [ErrorMessageMixin, ReportPageMethodsMixin],
  async mounted() {
    await this.fetchGameHallList()
  },
  data: () => ({
    isLoading: false,
    isOpenAddGameHallModal: false,
    isOpenEditGameHallModal: false,
    isShowConfirmModal: false,
    isOpenStatusGameHallModal: false,
    isSortingGameHallOrder: false,
    resultRows: [],
    confirmModalConfig: {},
    current: {
      gameHallUidList: []
    }
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("member", ["loginToken"]),
    isGameHallSelected() {
      return this.current.gameHallUidList.length > 0
    },
    gameHallStatusItems: () => {
      return [
        { key: "DELETE_GAME_HALL", label: "刪除", domId: "btnDeleteInRoomManage" },
        { key: "UNLOCK_GAME_HALL", label: "開放", domId: "btnOpenInRoomManage" },
        { key: "LOCK_GAME_HALL", label: "關閉", domId: "btnCloseInRoomManage" }
      ]
    },
    navbarItems() {
      return [
        { title: "遊戲管理", islink: false, path: "" },
        { title: "廳館管理", islink: true, path: this.$route.path }
      ]
    },
    reportTableHeaders() {
      return [
        { label: "勾選", name: "checkBox", QA_CSS: "_checkList" },
        { label: "廳館名稱", name: "gameHallName", QA_CSS: "_roomName" },
        { label: "現場位置名稱", name: "casinoLocationName", QA_CSS: "_livePlace" },
        { label: "現場位置代號", name: "casinoLocationCode", QA_CSS: "_livePlaceID" },
        { label: "排序", name: "sortingOrder", QA_CSS: "_arrange" },
        { label: "狀態", name: "status", QA_CSS: "_status" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    },
    gameHallActionItems() {
      return [{ name: "EDIT", label: "編輯" }]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const isEnabled = x.locked === "0" ? true : false
          const statusLabel = isEnabled ? "開放" : "關閉"

          return {
            checkBox: x.uid,
            gameHallName: x.title,
            casinoLocationName: x.casinoLocationTitle,
            casinoLocationCode: x.casinoLocationCode,
            sortingOrder: "",
            status: { isEnabled: isEnabled, label: statusLabel },
            operates: this.gameHallActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    openAddGameHallModal() {
      this.isOpenAddGameHallModal = true
    },
    closeAddGameHallModal() {
      this.isOpenAddGameHallModal = false
    },
    openEditGameHallModal() {
      this.isOpenEditGameHallModal = true
    },
    closeEditGameHallModal() {
      this.isOpenEditGameHallModal = false
    },
    closeConfirmModal() {
      this.confirmModalConfig = {}
      this.isShowConfirmModal = false
    },
    openDeleteGameHallModal() {
      const payload = {
        gameHallUidList: this.current.gameHallUidList
      }

      this.confirmModalConfig = {
        request: deleteGameHall,
        payload: payload,
        message: "請確認是否執行，請輸入您的使用者密碼。",
        isRequiredPassword: true,
        domIdList: {
          frame: "divDeleteRoom",
          password: "iptPwdInDeleteRoom",
          cancel: "btnCancelInDeleteRoom",
          confirm: "btnSaveInDeleteRoom"
        }
      }

      this.isShowConfirmModal = true
    },
    openEnableGameHallModal() {
      const payload = {
        gameHallUidList: this.current.gameHallUidList
      }

      this.confirmModalConfig = {
        request: enableGameHall,
        payload: payload,
        message: "請確認是否執行，請輸入您的使用者密碼。",
        isRequiredPassword: true,
        domIdList: {
          frame: "divOpenRoom",
          password: "iptPwdInOpenRoom",
          cancel: "btnCancelInOpenRoom",
          confirm: "btnSaveInOpenRoom"
        }
      }

      this.isShowConfirmModal = true
    },
    openDisableGameHallModal() {
      const payload = {
        gameHallUidList: this.current.gameHallUidList
      }

      this.confirmModalConfig = {
        request: disableGameHall,
        payload: payload,
        message: "請確認是否執行，請輸入您的使用者密碼。",
        isRequiredPassword: true,
        domIdList: {
          frame: "divCloseRoom",
          password: "iptPwdInCloseRoom",
          cancel: "btnCancelInCloseRoom",
          confirm: "btnSaveInCloseRoom"
        }
      }

      this.isShowConfirmModal = true
    },
    async fetchGameHallList() {
      try {
        this.isLoading = true

        const res = await getGameHallList(this.loginToken)

        if (res.exitCode === true) {
          this.resultRows = res.data.themes
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.resultRows = []
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    activeSortingGameHallOrder() {
      this.isSortingGameHallOrder = true
    },
    sortingUp(index) {
      if (typeof index !== "number" || this.resultRows.length < 2) return

      const current = this.resultRows[index]
      const target = this.resultRows[index - 1]

      this.$set(this.resultRows, index - 1, current)
      this.$set(this.resultRows, index, target)
    },
    sortingDown(index) {
      if (typeof index !== "number" || this.resultRows.length < 2) return

      const current = this.resultRows[index]
      const target = this.resultRows[index + 1]

      this.$set(this.resultRows, index + 1, current)
      this.$set(this.resultRows, index, target)
    },
    async saveSortingOrder() {
      try {
        this.isLoading = true
        this.isSortingGameHallOrder = false

        const payload = this.resultRows.map((x, index) => ({ uid: x.uid, sorting: index }))

        const res = await modifyGameHallOrder(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchGameHallList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.isSortingGameHallOrder = false
      }
    },
    gameHallActionSwitch(key) {
      switch (key) {
        case "DELETE_GAME_HALL":
          this.openDeleteGameHallModal()
          break
        case "UNLOCK_GAME_HALL":
          this.openEnableGameHallModal()
          break
        case "LOCK_GAME_HALL":
          this.openDisableGameHallModal()
          break
      }
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT":
          this.editGameHall(index)
          break
      }
    },
    editGameHall(index) {
      const target = this.resultRows[index]
      this.current.gameHallUid = target.uid
      this.current.gameHallName = target.title
      this.current.themeTypeId = parseInt(target.themeTypeId) === 1 ? true : false
      this.current.casinoLocationName = target.casinoLocationTitle
      this.current.casinoLocationCode = target.casinoLocationCode
      this.current.casinoLocationUid = target.casinoLocationUid

      this.openEditGameHallModal()
    }
  }
}
</script>


