<template lang="pug">
.stream-manage-cdn-edit(v-if="isDisplay === true")
  .stream-manage__tab-title 編輯CDN

  .stream-manage__row
    .stream-manage__label.is-required CDN說明* ：
    AdvancedInput(
      domId="1"
      :minlength="1"
      :maxlength="100"
      :regex="/.{1,100}/"
      @input="setComment"
      ref="commentInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 頻道* ：
    AdvancedInput(
      domId="2"
      :minlength="1"
      :maxlength="3"
      :regex="/^[1-9]{1}[0-9]{0,2}$/"
      @input="setChannelId"
      ref="channelInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required CDN位址* ：
    AdvancedInput(
      domId="3"
      :minlength="1"
      :maxlength="100"
      :regex="/^[a-zA-Z0-9-.]{1,100}$/"
      @input="setCDNAddress"
      ref="CDNAddressInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__alt-button(
      @click="onClose"
    ) 取消

    .action-bar__button(
      @click="submitRequest"
    ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { editCasinoStreamCDN } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetData: { type: Object, required: true }
  },
  components: { AdvancedInput, LoadingLock },
  mixins: [ErrorMessage],
  data: () => ({
    current: {
      CDNUid: "",
      channelId: "",
      CDNAddress: "",
      comment: ""
    },
    isLoading: false
  }),
  watch: {
    isDisplay(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.setDefaultValue()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    setDefaultValue() {
      this.current.CDNUid = this.targetData.CDNUid
      this.current.channelId = this.targetData.channelId

      this.$refs["commentInput"].setValue(this.targetData.comment)
      this.$refs["channelInput"].setValue(this.targetData.channelId)
      this.$refs["CDNAddressInput"].setValue(this.targetData.CDNAddress)
    },
    resetToDefault() {
      this.current.CDNUid = ""
      this.current.channelId = ""
      this.current.CDNAddress = ""
      this.current.comment = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setComment(data) {
      this.current.comment = data
    },
    setChannelId(data) {
      this.current.channelId = data
    },
    setCDNAddress(data) {
      this.current.CDNAddress = data
    },
    async validates() {
      const result = await Promise.all([
        this.$refs["commentInput"].validate(),
        this.$refs["CDNAddressInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          CDNUid: this.current.CDNUid,
          CDNAddress: this.current.CDNAddress,
          channelId: this.current.channelId,
          comment: this.current.comment
        }

        const res = await editCasinoStreamCDN(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
