<template lang="pug">
.stream-manage-record-add(v-if="isDisplay === true")
  .stream-manage__tab-title 編輯全景視訊

  .stream-manage__row
    .stream-manage__label.is-required 全景名稱* :
    AdvancedInput(
      domId="2"
      :minlength="1"
      :maxlength="50"
      :regex="/.{1,50}/"
      @input="setwholeViewName"
      ref="wholeViewNameInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 手臂間 ：
    SingleSelectList(
      :list="selectableList"
      @selected="setRobotArmGameHallUid"
      ref="robotArmGameHallSelect"
    )

  .stream-manage__row
    .stream-manage__label.is-required 串流位址* ：
    AdvancedInput(
      domId="5"
      :minlength="1"
      :maxlength="100"
      :regex="/^[a-zA-Z0-9-.]{1,100}$/"
      @input="setStreamUrl"
      ref="streamUrlInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 應用名稱* ：
    AdvancedInput(
      domId="6"
      :minlength="1"
      :maxlength="50"
      :regex="/.{1,50}/"
      @input="setAppName"
      ref="appNameInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 串流名稱* ：
    AdvancedInput(
      domId="7"
      :minlength="1"
      :maxlength="50"
      :regex="/.{1,50}/"
      @input="setStreamName"
      ref="streamNameInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__alt-button(
      @click="onClose"
    ) 取消

    .action-bar__button(
      @click="submitRequest"
    ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { editCasinoStreamWholeView } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import SingleSelectList from "@/components/common/SingleSelectList.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetData: { type: Object, required: true },
    robotArmGameHallList: { type: Array, required: true }
  },
  components: { AdvancedInput, LoadingLock, SingleSelectList },
  mixins: [ErrorMessage],
  watch: {
    isDisplay(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.setDefaultValue()
        })
      }
    }
  },
  data: () => ({
    current: {
      streamWholeViewUid: "",
      wholeViewName: "",
      robotArmGameHallUid: "",
      streamUrl: "",
      appName: "",
      streamName: ""
    },
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    selectableList() {
      const selected = this.targetData.robotArmGameHallUid
      const result = this.robotArmGameHallList.map(x => {
        if (x.uid === selected) {
          return { ...x, isAlreadyAssigned: false }
        } else {
          return x
        }
      })
      return result
    }
  },
  methods: {
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setRobotArmGameHallUid(data) {
      this.current.robotArmGameHallUid = data
    },
    setwholeViewName(data) {
      this.current.wholeViewName = data
    },
    setStreamUrl(data) {
      this.current.streamUrl = data
    },
    setAppName(data) {
      this.current.appName = data
    },
    setStreamName(data) {
      this.current.streamName = data
    },
    setDefaultValue() {
      this.current.streamWholeViewUid = this.targetData.streamWholeViewUid
      this.current.robotArmGameHallUid = this.targetData.robotArmGameHallUid

      this.$refs["robotArmGameHallSelect"].setValue(this.targetData.robotArmGameHallUid)
      this.$refs["wholeViewNameInput"].setValue(this.targetData.wholeViewName)
      this.$refs["streamUrlInput"].setValue(this.targetData.streamUrl)
      this.$refs["appNameInput"].setValue(this.targetData.appName)
      this.$refs["streamNameInput"].setValue(this.targetData.streamName)
    },
    resetToDefault() {
      this.current.wholeViewName = ""
      this.current.robotArmGameHallUid = ""
      this.current.streamUrl = ""
      this.current.appName = ""
      this.current.streamName = ""
    },
    async validates() {
      const result = await Promise.all([
        this.$refs["wholeViewNameInput"].validate(),
        this.$refs["streamUrlInput"].validate(),
        this.$refs["appNameInput"].validate(),
        this.$refs["streamNameInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          streamWholeViewUid: this.current.streamWholeViewUid,
          wholeViewName: this.current.wholeViewName,
          robotArmGameHallUid: this.current.robotArmGameHallUid,
          streamUrl: this.current.streamUrl,
          appName: this.current.appName,
          streamName: this.current.streamName
        }

        const res = await editCasinoStreamWholeView(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
