@import "../mixin/button.styl"
@import "../mixin/input.styl"

.action-bar
  display flex
  margin-bottom 1rem

  &--center
    justify-content center

  &__button
    primaryButton()
    margin-right 0.5rem

  &__alt-button
    secondaryButton()
    margin-right 0.5rem

  &__input
    input()
    margin-right 0.5rem

  &__label
    display flex
    justify-content center
    align-items center
    margin-right 0.5rem

  &__table-bar
    display flex
    justify-content space-evenly
    align-items center
    width 100%

  &__table-button
    primaryButton()

  &__table-alt-button
    secondaryButton()

  &--disabled
    opacity 0.5
    cursor not-allowed
