@import "./mixin/input.styl"
@import "./mixin/button.styl"
@import "./mixin/font.styl"

.form
  formFont()
  display flex
  justify-content center
  align-items center
  width 600px

  &__content
    display flex
    flex-direction column
    justify-content center
    padding 4rem 0px
    width 100%
    background-color rgba(215, 215, 215, 1)
    text-align center

  &__input
    input()
    margin 0 auto
    width 50%

  &__button
    button()
    margin 0 auto
    width 50%

  &__item
    margin-top 1rem

    &:last-child
      margin-bottom 1rem

  &__title
    margin 2rem auto
    font-weight bold
    font-style normal
    font-size 2rem
    font-family "Arial Negreta", "Arial"
