@import "../mixin/input.styl"

.general-modal
  background #f2f2f2

.notice-modal
  background #cccccc

.modal
  display block

  &__list
    margin-top 1rem

  &__row
    display grid
    margin-top 1rem
    grid-template-columns repeat(4, 25%)

  &__column-2
    grid-template-columns repeat(2, 50%)

  &__action-bar
    display flex
    justify-content center
    align-items center
    margin-top 1rem

  &__item
    margin 0 0.5rem

  &__text
    font-size 1rem

  &__word
    display inline-block
    margin-right 1rem

  &__text-item
    height 2rem
    line-height 2rem

  &__input
    input()
    width 100%

  &__title
    padding 0.5rem 0
    border-bottom 1px solid #333333
    color #000000
    font-weight bold
    font-size 1rem

  &__label
    display flex
    align-items center
    margin-right 1rem
    font-weight bold

  &--text-center
    text-align center
