.switch-tab
  width fit-content
  width -moz-fit-content
  width intrinsic

  &__header
    display flex
    box-sizing border-box

  &__menu
    box-sizing border-box
    margin-right -1px
    padding 0.5rem 1rem
    border 1px solid #000000
    border-bottom none
    background #e4e4e4
    cursor pointer

    &--is-active
      margin-bottom -1px
      background #ffffff
      color #000000
      font-weight bold

  &__body
    display block
    padding 2rem
    border 1px solid #000000

  &__content
    overflow auto
    box-sizing border-box
    height 0

    &--is-active
      height fit-content
      height -moz-fit-content
      height intrinsic
