<template lang="pug">
.game-records-edit(v-if="isDisplay === true")
  .header
    h1.header__title(id="labTitleInEditGameRecord") 修改遊戲紀錄

  .game-records-edit__frame
    .game-records-edit__block
      .game-records-edit__block-title(id="labGameInfoInEditGameRecord") 遊戲資訊
      .game-records-edit__block-content
        .game-records-edit__block-row
          .game-records-edit__block-label 廳館 :
          .game-records-edit__block-data(id="labRoomNameInEditGameRecord") {{ current.gameHall }}
        .game-records-edit__block-row
          .game-records-edit__block-label 遊戲類型 :
          .game-records-edit__block-data(id="labGameTypeInEditGameRecord") {{ current.gameType }}
        .game-records-edit__block-row
          .game-records-edit__block-label 桌種 :
          .game-records-edit__block-data(id="labTableTypeInEditGameRecord") {{ current.gameTable }}
        .game-records-edit__block-row
          .game-records-edit__block-label 系統桌號 :
          .game-records-edit__block-data(id="labTableNoInEditGameRecord") {{ current.gameSystemTableCode }}
        .game-records-edit__block-row
          .game-records-edit__block-label 前台桌號 / 靴 / 局 :
          .game-records-edit__block-data(id="labBootNoInEditGameRecord") {{ `${current.gameTableCode} / ${current.gameShoeNumber} / ${current.gameRoundNumber}` }}
        .game-records-edit__block-row
          .game-records-edit__block-label 開局時間 :
          .game-records-edit__block-data(id="labTimeInEditGameRecord") {{ current.gameRoundStartTime }}

        .game-records-edit__block-row(v-if="isActiveVideoColumn === true")
          .game-records-edit__block-label 視訊 :
          .secondary-button.game-records-edit__stream-button(@click="openStreamModal") {{ current.stream.label }}

    GameResult(
      :gameData="current"
      :domIdList="domIdList"
    )

    .game-records-edit__reason-of-modify-block
      .game-records-edit__block-title 原因*：
      ValidationProvider(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="reasonOfModifyInput"
      )
         textarea.game-records-edit__reason-of-modify(
          id="txtReasonInEditGameRecord"
          type="text"
          v-model="current.reasonOfModify"
          :class="classes"
          @blur="validate"
        )

    .action-bar.game-records-edit__action-bar
      .action-bar__alt-button(
        id="btnCancelInEditGameRecord"
        @click="onClose"
      ) 取消

      .action-bar__button(
        id="btnEditInEditGameRecord"
        :class="{'game-records-edit--disabled':!isGameResultModified}"
        @click="openModifyGameRecord"
      ) 修改

      .action-bar__button(
        id="btnRefundInEditGameRecord"
        :class="{'game-records-edit--disabled':!isReturnBetsEnabled}"
        @click="openReturnGameBets"
      ) 退押注

  ModifyGameResultModal(
    :isDisplay="isOpenModifyGameRecord"
    :targetData="current"
    @close="closeModifyGameRecord"
    @requestSuccess="requestSuccess"
  )

  ReturnGameBetsModal(
    :isDisplay="isOpenReturnGameBets"
    :targetData="current"
    @close="closeReturnGameBets"
    @requestSuccess="requestSuccess"
  )

  VideoStreamModal(
    :isDisplay="isOpenStreamModal"
    :stream="current.stream"
    @close="closeStreamModal"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"
import { getGameResultDetail } from "@/api/Game.js"
import { parseAPIString } from "@/libs/string.js"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import { ValidationProvider } from "vee-validate"
import ModifyGameResultModal from "@/components/common/GameRecords/ModifyGameResultModal.vue"
import ReturnGameBetsModal from "@/components/common/GameRecords/ReturnGameBetsModal.vue"
import GameResult from "@/components/common/GameRecords/results/GameResult.vue"
import VideoStreamModal from "@/components/common/GameRecords/VideoStreamModal.vue"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetUid: { required: true },
    isActiveVideoColumn: { type: Boolean, default: false }
  },
  components: {
    LoadingLock,
    ValidationProvider,
    ModifyGameResultModal,
    ReturnGameBetsModal,
    GameResult,
    VideoStreamModal
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: {
      gameHall: "",
      gameType: "",
      gameTypeCode: "",
      gameTable: "",
      gameSystemTableCode: "",
      gameTableCode: "",
      gameShoeNumber: "",
      gameRoundNumber: "",
      gameRoundStartTime: "",
      originGameResult: [],
      modifiedGameResult: [],
      reasonOfModify: "",
      gameResultUid: "",
      totalBets: "",
      stream: { label: "影片", url: "/media/dummy.mp4" }
    },
    isOpenReturnGameBets: false,
    isOpenModifyGameRecord: false,
    isOpenStreamModal: false,
    isLoading: false
  }),
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(async () => {
          await this.fetchGameResultDetail()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    domIdList() {
      return { resultBlock: "labGameResultInEditGameRecord", modifyResultBlock: "labEditGameResultInEditGameRecord" }
    },
    isGameResultModified() {
      if (this.current.modifiedGameResult.length > 0 && this.current.originGameResult.length > 0) {
        const result = this.current.modifiedGameResult.every((x, i) => x === this.current.originGameResult[i])
        return result === false
      } else {
        return false
      }
    },
    isReturnBetsEnabled() {
      const result = parseInt(this.current.totalBets)
      if (result > 0) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    closeStreamModal() {
      this.isOpenStreamModal = false
    },
    openStreamModal() {
      this.isOpenStreamModal = true
    },
    requestSuccess() {
      this.$emit("requestSuccess")
      this.onClose()
    },
    async openModifyGameRecord() {
      if (this.isGameResultModified !== true) return

      const isValid = await this.validateInputs()

      if (isValid !== true) return

      this.isOpenModifyGameRecord = true
    },
    closeModifyGameRecord() {
      this.isOpenModifyGameRecord = false
    },
    async openReturnGameBets() {
      if (this.isReturnBetsEnabled !== true) return

      const isValid = await this.validateInputs()

      if (isValid !== true) return

      this.isOpenReturnGameBets = true
    },
    closeReturnGameBets() {
      this.isOpenReturnGameBets = false
    },
    async fetchGameResultDetail() {
      this.isLoading = true

      try {
        const payload = {
          gameResultUid: this.targetUid
        }

        const { exitCode, data } = await getGameResultDetail(this.loginToken, payload)

        if (exitCode === true) {
          this.assignDefaultValues(data)
        } else {
          throw new Error(this.parseErrorMessage({ error: data }))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    parseGameResult(gameType, apiData) {
      const parseData = parseAPIString(apiData)
      switch (gameType) {
        case "BACCARAT":
          return parseData.slice(0, 6)
        case "DRAGONTIGER":
          return parseData.slice(0, 6)
        case "SICBO":
          return parseData.slice(0, 3)
        case "FANTAN":
          return parseData
        case "ROULETTE":
          return parseData
        default:
          return null
      }
    },
    assignDefaultValues(data) {
      const gameHall = parseAPIString(data.themeTitle)["ZH-TW"]
      const gameTable = parseAPIString(data.tableTitle)["ZH-TW"]
      const gameResult = this.parseGameResult(data.gameSetAlias, data.result)

      this.current.gameHall = gameHall
      this.current.gameType = data.gameSetTitle
      this.current.gameTypeCode = data.gameSetAlias
      this.current.gameTable = gameTable
      this.current.gameSystemTableCode = data.tableId
      this.current.gameTableCode = data.tableFrontId
      this.current.gameShoeNumber = data.shoeNo
      this.current.gameRoundNumber = data.roundNo
      this.current.gameRoundStartTime = getLocalTimeString(formatToUTCTimeString(data.gameRoundStartTime))
      this.current.originGameResult = [...gameResult]
      this.current.modifiedGameResult = [...gameResult]
      this.current.reasonOfModify = data.reason
      this.current.gameResultUid = this.targetUid
      this.current.totalBets = data.totalBet
    },
    resetToDefault() {
      this.current.gameHall = ""
      this.current.gameType = ""
      this.current.gameTypeCode = ""
      this.current.gameTable = ""
      this.current.gameSystemTableCode = ""
      this.current.gameTableCode = ""
      this.current.gameShoeNumber = ""
      this.current.gameRoundNumber = ""
      this.current.gameRoundStartTime = ""
      this.current.originGameResult = ""
      this.current.modifiedGameResult = ""
      this.current.reasonOfModify = ""
      this.current.gameResultUid = ""
      this.current.totalBets = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    async validateInputs() {
      const result = await Promise.all([this.$refs["reasonOfModifyInput"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    }
  }
}
</script>
