<template lang="pug">
.game-records
  Navbar(:prop_nav="navbarItems")
  .main(v-show="isDisplayMainPage === true")
    .header
      h1.header__title(id="labGameRecordTitle") 遊戲紀錄

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
          :id="domId"
        ) {{ label }}

      .filter-contents
        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              :timeMenu="dateRangeSwitchMenu"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 開始日期
            DatePicker2(
              domId="btnStartTimeInGameRecord"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 結束日期
            DatePicker2(
              domId="btnEndTimeInGameRecord"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 廳館
            GameHallSelect(
              domId="selRoomInGameRecord"
              :isEnabledSelectAll="false"
              @select="setGameHall"
            )

          GameTypeWithGameTableSelect(
            gameTypeDomId="selGameTypeInGameRecord"
            gameTableDomId="selTableTypeInGameRecord"
            :isEnabledSelectAll="false"
            @selectGameType="setGameType"
            @selectGameTable="setGameTable"
          )

        .filter-controllers(v-if="current.filterTypeCode === 'GAME_ROUND' ")

          .filter-controllers__group
            label.filter-controllers__label--top 廳館
            GameHallSelect(
              domId="selRoomInGameNo"
              :isEnabledSelectAll="false"
              @select="setGameHall"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 前台桌號*
            GameDeskCodeInput(
              domId="iptTableNo"
              @input="setGameDeskCode"
              ref="gameDeskCode"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 靴號*
            GameShoesNumberInput(
              domId="iptBootNo"
              @input="setGameShoesNumber"
              ref="gameShoesNumber"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 局號*
            GameRoundNumberInput(
              domId="iptGameNo"
              @input="setGameRoundNumber"
              ref="gameRoundNumber"
            )

        .search-bar__search-button(
          :id="current.filterTypeCode === 'TIME_RANGE' ? 'btnSearchInGameRecord':'btnSearchInGameNo'"
          @click="submitSearch"
        ) 搜尋

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) 查無資料

        .search-result__default-content(v-else) 請輸入搜尋條件

      template(v-else)
        .report-table(id="tabGameRecord")

          .report-table__row.game-records__row.t_f
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.game-records__row.t_d(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'gameState'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value.label }}

              .report-table__cell(
                v-else-if="key === 'operates'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                .action-bar__table-bar
                  template(
                    v-for="(x, actionRowIndex) in value"
                  )
                    .action-bar__table-alt-button(
                      v-if="x.name === 'VIEW_GAME_RESULT' && x.stateCode > 2"
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else-if="x.name === 'EDIT_GAME_RESULT' && x.stateCode === 1"
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

                    .empty-result(v-else-if="x.stateCode === 2 && actionRowIndex === 0") &nbsp;

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  EditGameResult(
    :isDisplay="isDisplayEditGameResult"
    :targetUid="current.gameResultUid"
    :isActiveVideoColumn="isActiveVideoColumn"
    @close="closeEditGameResult"
    @requestSuccess="modifySuccess"
  )

  ViewGameResult(
    :isDisplay="isDisplayViewGameResult"
    :targetUid="current.gameResultUid"
    :isActiveVideoColumn="isActiveVideoColumn"
    @close="closeViewGameResult"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import GameShoesNumberInput from "@/components/inputs/GameShoesNumber.vue"
import GameRoundNumberInput from "@/components/inputs/GameRoundNumber.vue"
import GameDeskCodeInput from "@/components/inputs/GameDeskCode.vue"
import GameTypeWithGameTableSelect from "@/components/selects/GameTypeWithGameTable.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import FancyGameResultTableColumn from "@/components/common/FancyGameResult/TableColumn.vue"
import {
  getLocalTimeString,
  formatToUTCTimeString,
  getDateWithStartTime,
  getDateWithEndTime,
  getPreviousDateByDays
} from "@/libs/time.js"
import { getGameRecordsByTimeRange, getGameRecordsByGameRound } from "@/api/Report.js"
import GameResultMixin from "@/mixins/GameResult.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import SearchConditionCacheMixin from "@/mixins/SearchConditionCache.js"
import { parseAPIString } from "@/libs/string.js"
import EditGameResult from "@/components/common/GameRecords/EditGameResult.vue"
import ViewGameResult from "@/components/common/GameRecords/ViewGameResult.vue"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "遊戲紀錄 %s"
    }
  },
  props: {
    reportTableHeaders: { type: Array, required: true },
    isActiveVideoColumn: { type: Boolean, default: false }
  },
  mixins: [GameResultMixin, ReportPageMixinComputed, ReportPageMixinMethods, SearchConditionCacheMixin],
  components: {
    Navbar,
    Pagination,
    GameHallSelect,
    GameTypeWithGameTableSelect,
    DatePicker2,
    DateRangeSwitch,
    GameShoesNumberInput,
    GameRoundNumberInput,
    GameDeskCodeInput,
    FancyGameResultTableColumn,
    EditGameResult,
    ViewGameResult,
    LoadingLock,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  beforeDestroy() {
    this.clearCacheSearchConditions()
  },
  created() {
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      gameHall: "",
      gameType: "",
      gameTable: "",
      startDate: undefined,
      endDate: undefined,
      gameShoesNumber: "",
      gameRoundNumber: "",
      gameDeskCode: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1,
      gameResultUid: ""
    },
    isDisplayEditGameResult: false,
    isDisplayViewGameResult: false,
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    searchRangeDays: 1,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("cache", {
      searchConditionCache: state => {
        return state.searchConditions.gameRecords.list
      }
    }),
    endDateEnabledRange() {
      const maxPreviousDate = getPreviousDateByDays(90)

      if (this.current.startDate > 0) {
        const rangeLimitDays = 1

        const startDate = new Date(this.current.startDate)
        startDate.setTime(getDateWithStartTime(startDate).getTime())

        const endDate = new Date(this.current.startDate)
        endDate.setDate(endDate.getDate() + rangeLimitDays)

        const today = getDateWithEndTime()
        const result = endDate.getTime() > today.getTime() ? today : endDate

        return [{ from: startDate, to: result }]
      } else {
        const endOfToday = getDateWithEndTime()

        return [{ from: maxPreviousDate, to: endOfToday }]
      }
    },
    isDisplayMainPage() {
      if ((this.isDisplayEditGameResult === false) & (this.isDisplayViewGameResult === false)) {
        return true
      } else {
        return false
      }
    },
    gameFancyResult() {
      return {
        domId: {
          wrapper: "divGameResultInGameRecord",
          gameTitle: "labGameTypeInGameResultInGameRecord",
          gameHallTitle: "labRoomInGameResultInGameRecord",
          gameTableTitle: "labTableInGameResultInGameRecord",
          gameShoeTitle: "labShoeInGameResultInGameRecord",
          gameRoundTitle: "labRoundInGameResultInGameRecord"
        }
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInGameRecord",
          previousPage: "btnPrevPageInGameRecord",
          inputPage: "iptPageInGameRecord",
          actionButton: "btnSearchPageInGameRecord",
          nextPage: "btnNextPageInGameRecord",
          lastPage: "btnLastPageInGameRecord"
        }
      }
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const gameHall = parseAPIString(x.themeTitle)["ZH-TW"]
          const gameResultStateCode = parseInt(x.state)

          const result = {
            gameHall: gameHall,
            gameType: x.gameSetTitle,
            gameTable: x.tableSpeciesTitle,
            gameSystemTableCode: x.tableId,
            gameTableCode: x.tableFrontId,
            gameShoeNumber: x.shoeNo,
            gameRoundNumber: x.roundNo,
            gameRoundStartTime: getLocalTimeString(formatToUTCTimeString(x.gameRoundStartTime)),
            gameState: { label: x.stateTitle, stateCode: gameResultStateCode },
            operates: [
              {
                name: "EDIT_GAME_RESULT",
                label: "編輯",
                data: { gameResultUid: x.uid },
                stateCode: gameResultStateCode
              },
              {
                name: "VIEW_GAME_RESULT",
                label: "詳情",
                data: { gameResultUid: x.uid },
                stateCode: gameResultStateCode
              }
            ]
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      if (this.isDisplayEditGameResult === true) {
        return [
          { title: "遊戲管理", islink: false, path: "" },
          { title: "遊戲紀錄", islink: true, path: this.$route.path },
          { title: "修改遊戲紀錄", islink: false, path: "" }
        ]
      } else if (this.isDisplayViewGameResult === true) {
        return [
          { title: "遊戲管理", islink: false, path: "" },
          { title: "遊戲紀錄", islink: true, path: this.$route.path },
          { title: "檢視遊戲紀錄", islink: false, path: "" }
        ]
      } else {
        return [
          { title: "遊戲管理", islink: false, path: "" },
          { title: "遊戲紀錄", islink: true, path: this.$route.path }
        ]
      }
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: "今天" },
        { code: "YESTERDAY", label: "昨天" }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInGameRecord",
        YESTERDAY: "btnYesterdayInGameRecord"
      }
    },
    filterTypeList() {
      return [
        { code: "TIME_RANGE", label: "時間/遊戲", domId: "btnTimeGameInGameRecord" },
        { code: "GAME_ROUND", label: "遊戲局號", domId: "btnGameNoInGameRecord" }
      ]
    }
  },
  methods: {
    async modifySuccess() {
      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_GAME_RESULT":
          this.editGameResult(index)
          break
        case "VIEW_GAME_RESULT":
          this.viewGameResult(index)
          break
      }
    },
    async editGameResult(index) {
      const [target] = this.reportTableRows[index].operates.filter(x => x.name === "EDIT_GAME_RESULT")
      this.current.gameResultUid = target.data.gameResultUid
      this.isDisplayEditGameResult = true
    },
    async viewGameResult(index) {
      const [target] = this.reportTableRows[index].operates.filter(x => x.name === "VIEW_GAME_RESULT")
      this.current.gameResultUid = target.data.gameResultUid
      this.isDisplayViewGameResult = true
    },
    closeViewGameResult() {
      this.isDisplayViewGameResult = false
    },
    closeEditGameResult() {
      this.isDisplayEditGameResult = false
    },
    changeDateRangeOfStartDay(date) {
      this.$refs["startDate"].setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs["endDate"].setDate(date)
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.startDate = result
    },
    setEndDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.endDate = result
    },
    setGameRoundNumber(payload) {
      this.current.gameRoundNumber = payload
    },
    setGameDeskCode(payload) {
      this.current.gameDeskCode = payload
    },
    setGameShoesNumber(payload) {
      this.current.gameShoesNumber = payload
    },
    setGameType(payload) {
      this.current.gameType = payload
    },
    setGameTable(payload) {
      this.current.gameTable = payload
    },
    setGameHall(payload) {
      this.current.gameHall = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setGameRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeGameRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterGameRound() {
      const result = await Promise.all([
        this.$refs["gameRoundNumber"].validate(),
        this.$refs["gameShoesNumber"].validate(),
        this.$refs["gameDeskCode"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async validFilterTimeRange() {
      const result = await Promise.all([this.$refs["startDate"].validate(), this.$refs["endDate"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "GAME_ROUND":
          return await this.validFilterGameRound()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TIME_RANGE":
          return await getGameRecordsByTimeRange(loginToken, payload)
        case "GAME_ROUND":
          return await getGameRecordsByGameRound(loginToken, payload)
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.game-records
  &__column-result, &__column-video-link
    color #303f9f
    text-decoration underline
    font-weight bold
    cursor pointer

  &__video-modal
    display flex
    justify-content center
    align-items center
    background #cccccc

.game-records-edit
  &__frame
    display grid
    min-width 1024px
    max-width calc(100% - 1rem)
    border 1px solid #797979
    background #f2f2f2
    grid-template-columns 1fr 1fr 1fr

  &__block
    display flex
    flex-direction column
    padding 2rem

  &__block-content
    display flex
    flex-direction column
    justify-content center
    padding 1rem
    height 255px
    border 1px solid #797979
    background #d7d7d7

  &__block-label
    font-weight bold

  &__block-row
    display grid
    margin-bottom 1rem
    grid-template-columns 150px 1fr

  &__block-title
    margin-bottom 1rem
    font-size 1.2rem

  &__poker-card-title
    margin-bottom 0.5rem

  &__action-bar
    margin 2rem auto
    grid-column span 3

  &__reason-of-modify-block
    padding 2rem
    grid-column span 2

  &__reason-of-modify
    min-height 6rem
    max-width 100%
    max-height 12rem
    width 70%

  &__stream-button
    max-width 4rem

  &--disabled
    opacity 0.4
    cursor not-allowed
</style>
