<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="450px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  center
)
  .game-records-modify-return-game-bets-modal(id="divRefundInEditGameRecord")
    .modal__list
      .modal__label.modal__text 您即將 修改 此筆遊戲紀錄

    .modal__list
      .modal__label.modal__text 確認完畢後，請在下方輸入您的使用者密碼

    .modal__list
      ValidationProvider(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="userPasswordInput"
      )
        input.modal__input(
          id="iptPwdInRefundInEditGameRecord"
          type="password"
          placeholder="請輸入您的使用者密碼"
          v-model="current.userPassword"
          :class="classes"
          @blur="validate"
        )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInRefundInEditGameRecord"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnConfirmInRefundInEditGameRecord"
        @click="submitRequest"
      ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { ValidationProvider } from "vee-validate"
import { mapState } from "vuex"
import { returnGameBets } from "@/api/Game.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  data: () => ({
    current: { userPassword: "" },
    isLoading: false
  }),
  components: { LoadingLock, ValidationProvider },
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    async validate() {
      return await this.$refs["userPasswordInput"].validate()
    },
    resetToDefault() {
      this.current.userPassword = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    async submitRequest() {
      const { valid: isValid } = await this.validate()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          userPassword: this.current.userPassword,
          gameResultUid: this.targetData.gameResultUid,
          reasonOfModify: this.targetData.reasonOfModify
        }

        const res = await returnGameBets(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.onClose()
      }
    }
  }
}
</script>
