<template lang="pug">
el-dialog(
  v-if="isDisplay === true "
  :visible="isDisplay === true"
  width="850px"
  custom-class="game-records__video-modal"
  :close-on-click-modal="true"
  :show-close="true"
  @close="close"
  center
)
  // Load stream url and auto play
  video(
    controls
    width="750"
    :autoplay="true"
  )
    source(
      :src="stream.url"
      type="video/mp4"
    )
</template>

<script>
export default {
  props: { isDisplay: { type: Boolean, default: false }, stream: { type: Object } },
  methods: {
    close() {
      this.$emit("close")
    }
  }
}
</script>
