<template lang="pug">
.game-records-edit(v-if="isDisplay === true")
  .header
    h1.header__title(id="labTitleInViewGameRecord") 檢視遊戲紀錄

  .game-records-edit__frame
    .game-records-edit__block
      .game-records-edit__block-title(id="labGameInfoInViewGameRecord") 遊戲資訊
      .game-records-edit__block-content
        .game-records-edit__block-row
          .game-records-edit__block-label 廳館 :
          .game-records-edit__block-data(id="labRoomNameInViewGameRecord") {{ current.gameHall }}
        .game-records-edit__block-row
          .game-records-edit__block-label 遊戲類型 :
          .game-records-edit__block-data(id="labGameTypeInViewGameRecord") {{ current.gameType }}
        .game-records-edit__block-row
          .game-records-edit__block-label 桌種 :
          .game-records-edit__block-data(id="labTableTypeInViewGameRecord") {{ current.gameTable }}
        .game-records-edit__block-row
          .game-records-edit__block-label 系統桌號 :
          .game-records-edit__block-data(id="labTableNoInViewGameRecord") {{ current.gameSystemTableCode }}
        .game-records-edit__block-row
          .game-records-edit__block-label 前台桌號 / 靴 / 局 :
          .game-records-edit__block-data(id="labBootNoInViewGameRecord") {{ `${current.gameTableCode} / ${current.gameShoeNumber} / ${current.gameRoundNumber}` }}
        .game-records-edit__block-row
          .game-records-edit__block-label 開局時間 :
          .game-records-edit__block-data(id="labTimeInViewGameRecord") {{ current.gameRoundStartTime }}

        .game-records-edit__block-row(v-if="isActiveVideoColumn === true")
          .game-records-edit__block-label 視訊 :
          .secondary-button.game-records-edit__stream-button(@click="openStreamModal") {{ current.stream.label }}

    GameResult(
      :gameData="current"
      :domIdList="domIdList"
      :isReadOnly="true"
    )

    .game-records-edit__reason-of-modify-block
      .game-records-edit__block-title 原因*：
      textarea.game-records-edit__reason-of-modify(
        id="txtReasonInViewGameRecord"
        type="text"
        v-model="current.reasonOfModify"
        disabled
      )

    .action-bar.game-records-edit__action-bar
      .action-bar__alt-button(
        id="btnCloseInViewGameRecord"
        @click="onClose"
      ) 關閉

  VideoStreamModal(
    :isDisplay="isOpenStreamModal"
    :stream="current.stream"
    @close="closeStreamModal"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"
import { getGameResultDetail } from "@/api/Game.js"
import { parseAPIString } from "@/libs/string.js"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import GameResult from "@/components/common/GameRecords/results/GameResult.vue"
import VideoStreamModal from "@/components/common/GameRecords/VideoStreamModal.vue"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetUid: { required: true },
    isActiveVideoColumn: { type: Boolean, default: false }
  },
  components: { LoadingLock, GameResult, VideoStreamModal },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: {
      gameHall: "",
      gameType: "",
      gameTypeCode: "",
      gameTable: "",
      gameSystemTableCode: "",
      gameTableCode: "",
      gameShoeNumber: "",
      gameRoundNumber: "",
      gameRoundStartTime: "",
      originGameResult: [],
      modifiedGameResult: [],
      reasonOfModify: "",
      gameResultUid: "",
      totalBets: "",
      stream: { label: "影片", url: "/media/dummy.mp4" }
    },
    isOpenStreamModal: false,
    isLoading: false
  }),
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(async () => {
          await this.fetchGameResultDetail()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    domIdList() {
      return { resultBlock: "labGameResultInViewGameRecord", modifyResultBlock: "labEditGameResultInViewGameRecord" }
    }
  },
  methods: {
    closeStreamModal() {
      this.isOpenStreamModal = false
    },
    openStreamModal() {
      this.isOpenStreamModal = true
    },
    async fetchGameResultDetail() {
      this.isLoading = true

      try {
        const payload = {
          gameResultUid: this.targetUid
        }

        const { exitCode, data } = await getGameResultDetail(this.loginToken, payload)

        if (exitCode === true) {
          this.assignDefaultValues(data)
        } else {
          throw new Error(this.parseErrorMessage({ error: data }))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    parseGameResult(gameType, apiData) {
      const parseData = parseAPIString(apiData)
      switch (gameType) {
        case "BACCARAT":
          return parseData.slice(0, 6)
        case "DRAGONTIGER":
          return parseData.slice(0, 6)
        case "SICBO":
          return parseData.slice(0, 3)
        case "FANTAN":
          return parseData
        case "ROULETTE":
          return parseData
        default:
          return null
      }
    },
    assignDefaultValues(data) {
      const gameHall = parseAPIString(data.themeTitle)["ZH-TW"]
      const gameTable = parseAPIString(data.tableTitle)["ZH-TW"]
      const gameResult = this.parseGameResult(data.gameSetAlias, data.result)
      const originGameResult = this.parseGameResult(data.gameSetAlias, data.oldResult)

      this.current.gameHall = gameHall
      this.current.gameType = data.gameSetTitle
      this.current.gameTypeCode = data.gameSetAlias
      this.current.gameTable = gameTable
      this.current.gameSystemTableCode = data.tableId
      this.current.gameTableCode = data.tableFrontId
      this.current.gameShoeNumber = data.shoeNo
      this.current.gameRoundNumber = data.roundNo
      this.current.gameRoundStartTime = getLocalTimeString(formatToUTCTimeString(data.gameRoundStartTime))
      this.current.originGameResult = [...originGameResult]
      this.current.modifiedGameResult = [...gameResult]
      this.current.reasonOfModify = data.reason
      this.current.gameResultUid = this.targetUid
      this.current.totalBets = data.totalBet
    },
    resetToDefault() {
      this.current.gameHall = ""
      this.current.gameType = ""
      this.current.gameTypeCode = ""
      this.current.gameTable = ""
      this.current.gameSystemTableCode = ""
      this.current.gameTableCode = ""
      this.current.gameShoeNumber = ""
      this.current.gameRoundNumber = ""
      this.current.gameRoundStartTime = ""
      this.current.originGameResult = ""
      this.current.modifiedGameResult = ""
      this.current.reasonOfModify = ""
      this.current.gameResultUid = ""
      this.current.totalBets = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    }
  }
}
</script>
