<template lang="pug">
.abnormal-result-records
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInBillAbnormalSearch") 結算異常查詢

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
          :id="domId"
        ) {{ label }}

      .filter-contents
        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 開始日期
            DatePicker2(
              domId="btnStartTimeInBillAbnormalSearch"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 結束日期
            DatePicker2(
              domId="btnEndTimeInBillAbnormalSearch"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          CurrencyAndTopAgentSelect(
            topAgentDomId="selTopAgentInBillAbnormalSearch"
            currencyDomId="selCurrencyInBillAbnormalSearch"
            @selectTopAgent="setTopAgentAccount"
            @selectCurrency="setCurrency"
            :isEnabledSelectAll="true"
            ref="currencyAndTopAgentSelect"
          )

        .filter-controllers(v-if="current.filterTypeCode === 'GAME_ROUND' ")

          CurrencyAndTopAgentSelect(
            topAgentDomId="selTopAgentInGameNoInBillAbnormalSearch"
            currencyDomId="selCurrencyInGameNoInBillAbnormalSearch"
            @selectTopAgent="setTopAgentAccount"
            @selectCurrency="setCurrency"
            :isEnabledSelectAll="true"
            ref="currencyAndTopAgentSelect"
          )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 系統桌號*
            GameDeskSystemCodeInput(
              domId="iptTableNoInBillAbnormalSearch"
              :isRequired="true"
              @input="setGameTableSystemCode"
              ref="gameTableSystemCode"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 靴號*
            GameShoesNumberInput(
              domId="iptBootNoInBillAbnormalSearch"
              @input="setGameShoesNumber"
              ref="gameShoesNumber"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 局號*
            GameRoundNumberInput(
              domId="iptGameNoInBillAbnormalSearch"
              @input="setGameRoundNumber"
              ref="gameRoundNumber"
            )

        .search-bar__search-button(
          id="btnSearchInBillAbnormalSearch"
          @click="submitSearch"
        ) 搜尋

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) 查無資料

        .search-result__default-content(v-else) 請輸入搜尋條件

      template(v-else)
        .report-table(id="tabAbnormalListInBillAbnormalSearch")

          .report-table__row.abnormal-result-records__row.t_f
            template(v-for="headerSection in reportTableHeaders")

              template(v-if="headerSection.main && headerSection.main.length > 0")
                .report-table__header-cell(
                  v-for="h in headerSection.main"
                  :class="h.QA_CSS"
                ) {{ h.label }}

              template(v-else-if="headerSection.extra && headerSection.extra.length > 0")
                .report-table__header-cell(
                  v-for="h in headerSection.extra"
                  :class="h.QA_CSS"
                ) {{ h.label }}

          .report-table__row.abnormal-result-records__row.t_d(
            v-if="reportTableRows.length > 0"
            v-for="row, index in reportTableRows"
          )
            template(v-for="(section, sectionKey) in row")

              template(
                v-if="sectionKey === 'main'"
                v-for="(x, key) in section"
              )
                .report-table__cell(
                  v-if="key === 'currencyId'"
                  :class="getCSSForQA(key, reportTableHeaders[0].main)"
                ) {{ getCurrencyLabel(x) }}

                .report-table__cell(
                  v-else-if="key === 'gameStateText'"
                  :class="getCSSForQA(key, reportTableHeaders[0].main)"
                ) {{ getStateText(x) }}

                .report-table__cell(
                  v-else
                  :class="getCSSForQA(key, reportTableHeaders[0].main)"
                ) {{ x }}

              template(
                v-if="sectionKey === 'extra'"
                v-for="(x, key) in section"
              )
                .report-table__cell.no-right-border(
                  v-if="key === 'troggleExtraRecords'"
                  :class="getCSSForQA(key, reportTableHeaders[1].extra)"
                )
                  template(v-if="extraTableIndex === index")
                    .button.abnormal-result-records__action-button(
                      @click="showExtraTable(index)"
                    ) {{ x.labelForClose }}

                  template(
                    v-else
                    :class="getCSSForQA(key, reportTableHeaders[3].extra)"
                  )
                    .button.abnormal-result-records__action-button(
                      @click="showExtraTable(index); fetchAbnormalResultModifiedRecords(x.uid)"
                    ) {{ x.labelForOpen }}

            .abnormal-result-records__extra-table-area(v-if="extraTableIndex === index && extraTableRows.length > 0")

              .abnormal-result-records__extra-happy-land
                .abnormal-result-records__extra-table-title 下注結算資料

                .report-table(id="tabMemberOrderInBillAbnormal")

                  .report-table__row.abnormal-result-records__extra-table-row
                    template(v-for="headerSection in extraTableHeaders")

                      template(v-if="headerSection.main && headerSection.main.length > 0")
                        .report-table__header-cell(
                          v-for="h in headerSection.main"
                          :class="h.QA_CSS"
                        ) {{ h.label }}


                  .report-table__row.abnormal-result-records__extra-table-row(
                    v-for="row, index in extraTableRows"
                  )
                    template(v-for="(x, key) in row")
                      .report-table__cell.abnormal-result-records__extra-table {{ x }}

            .abnormal-result-records__extra-table-area(v-else-if="extraTableIndex === index && extraTableRows.length === 0")
              .abnormal-result-records__extra-table-no-result 查無資料

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import CurrencyAndTopAgentSelect from "@/components/selects/CurrencyAndTopAgent.vue"
import PlayerAccountInput from "@/components/inputs/PlayerAccount.vue"
import GameShoesNumberInput from "@/components/inputs/GameShoesNumber.vue"
import GameRoundNumberInput from "@/components/inputs/GameRoundNumber.vue"
import GameDeskSystemCodeInput from "@/components/inputs/GameDeskSystemCode.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import FancyGameResultTableColumn from "@/components/common/FancyGameResult/TableColumn.vue"
import {
  getAbnormalResultByTimeRange,
  getAbnormalResultModifiedRecords,
  getAbnormalResultByGameRound
} from "@/api/Report.js"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import GameResultMixin from "@/mixins/GameResult.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import SearchConditionCacheMixin from "@/mixins/SearchConditionCache.js"
import { parseAPIString } from "@/libs/string.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "結算異常查詢 %s"
    }
  },
  mixins: [GameResultMixin, ReportPageMixinComputed, ReportPageMixinMethods, SearchConditionCacheMixin],
  components: {
    Navbar,
    Pagination,
    DateRangeSwitch,
    CurrencyAndTopAgentSelect,
    PlayerAccountInput,
    GameShoesNumberInput,
    GameRoundNumberInput,
    GameDeskSystemCodeInput,
    FancyGameResultTableColumn,
    LoadingLock,
    DatePicker2,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  created() {
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  beforeDestroy() {
    this.clearCacheSearchConditions()
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      startDate: undefined,
      endDate: undefined,
      gameShoesNumber: "",
      gameRoundNumber: "",
      gameTableSystemCode: "",
      currencyId: "",
      topAgentAccount: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    extraTableIndex: -1,
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    extraResultRows: [],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("cache", {
      searchConditionCache: state => {
        return state.searchConditions.abnormalResultRecords.list
      }
    }),
    ...mapState("currency", ["currencies"]),
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInBillAbnormalSearch",
          previousPage: "btnPrevPageInBillAbnormalSearch",
          inputPage: "iptPageInBillAbnormalSearch",
          actionButton: "btnSearchPageInBillAbnormalSearch",
          nextPage: "btnNextPageInBillAbnormalSearch",
          lastPage: "btnLastPageInBillAbnormalSearch"
        }
      }
    },
    reportTableHeaders() {
      return [
        {
          main: [
            { label: "代理帳號", name: "agentAccount", QA_CSS: "_agent" },
            { label: "幣別", name: "currencyId", QA_CSS: "_currency" },
            { label: "識別代碼", name: "agentCode", QA_CSS: "_agentCode" },
            { label: "發生時間", name: "createTime", QA_CSS: "_happentime" },
            { label: "狀態", name: "gameStateText", QA_CSS: "_status" },
            { label: "遊戲類型", name: "gameType", QA_CSS: "_gameType" },
            { label: "桌種", name: "gameTable", QA_CSS: "_tableType" },
            { label: "系統桌號", name: "gameTableSystemCode", QA_CSS: "_systemId" },
            { label: "前台桌號", name: "tableCode", QA_CSS: "_tableId" },
            { label: "賭桌名稱", name: "tableName", QA_CSS: "_tableName" },
            { label: "遊戲局號", name: "gameRoundNumber", QA_CSS: "_gameNo" },
            { label: "靴號", name: "gameShoeNumber", QA_CSS: "_shoeNo" },
            { label: "局號", name: "roundNumber", QA_CSS: "_roundNo" },
            { label: "遊戲局開始時間", name: "gameStartTime", QA_CSS: "_gameStartTIme" },
            { label: "遊戲局結束時間", name: "gameEndTime", QA_CSS: "_gameEndTIme" },
            { label: "遊戲結果", name: "gameResult", QA_CSS: "_gameResult" }
          ]
        },
        {
          extra: [
            { label: "詳情", name: "troggleExtraRecords", QA_CSS: "_detail", extraCss: "abnormal-records__m-4-th-1" }
          ]
        }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const tableCode = parseAPIString(x.errorData)
          const result = {
            main: {
              agentAccount: x.agentAccount,
              currencyId: parseInt(x.currencyId),
              agentCode: x.agentCode,
              createTime: getLocalTimeString(formatToUTCTimeString(x.createTime)),
              gameStateText: x.state,
              gameType: x.gameTypeTitle,
              gameTable: x.tableTypeTitle,
              gameTableSystemCode: x.tableId,
              tableCode: tableCode.tableCode,
              tableName: x.tableName,
              gameRoundNumber: x.gameRoundNo,
              gameShoeNumber: x.shoeNo,
              roundNumber: x.roundNo,
              gameStartTime: getLocalTimeString(formatToUTCTimeString(x.gameRoundStartTime)),
              gameEndTime: getLocalTimeString(formatToUTCTimeString(x.gameRoundEndTime)),
              gameResult: x.gameResult
            },
            extra: {
              troggleExtraRecords: {
                labelForOpen: "展開",
                labelForClose: "收合",
                uid: x.uid
              }
            }
          }

          return result
        })
      } else {
        return []
      }
    },
    extraTableHeaders() {
      return [
        {
          main: [
            { label: "會員帳號", name: "playerAccount", QA_CSS: "_account" },
            { label: "訂單號", name: "gameOrderNumber", QA_CSS: "_betNo" },
            { label: "玩法", name: "playTypeTitle", QA_CSS: "_playTypeTitle" },
            { label: "總投注", name: "totalBets", QA_CSS: "_betAmount" },
            { label: "總贏金", name: "profit", QA_CSS: "_profit" },
            { label: "派彩", name: "payout", QA_CSS: "_winLossAmount" },
            { label: "有效投注", name: "validBets", QA_CSS: "_validBetAmount" }
          ]
        }
      ]
    },
    extraTableRows() {
      if (this.extraResultRows.length > 0) {
        return this.extraResultRows.map(x => {
          const result = {
            playerAccount: x.playerAccount,
            gameOrderNumber: x.betNo,
            playTypeTitle: x.betAreaTitle,
            totalBets: x.betAmount,
            profit: x.winAmount,
            payout: x.winLoss,
            validBets: x.validBet
          }
          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: "報表功能", islink: false, path: "" },
        { title: "結算異常查詢", islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInBillAbnormalSearch",
        YESTERDAY: "btnYesterdayInBillAbnormalSearch",
        THIS_WEEK: "btnThisWeekInBillAbnormalSearch",
        LAST_WEEK: "btnLastWeekInBillAbnormalSearch"
      }
    },
    filterTypeList() {
      return [
        { code: "TIME_RANGE", label: "時間", domId: "btnTimeInBillAbnormalSearch" },
        { code: "GAME_ROUND", label: "遊戲局號", domId: "btnGameNoInBillAbnormalSearch" }
      ]
    }
  },
  methods: {
    async fetchAbnormalResultModifiedRecords(uid) {
      this.isLoading = true

      try {
        const payload = { uid }

        const result = await getAbnormalResultModifiedRecords(this.loginToken, payload)

        if (result.exitCode === false) {
          throw new Error("backend api error")
        } else {
          this.extraResultRows = result.data.bets || []
        }
      } catch (err) {
        this.extraResultRows = []
      } finally {
        this.isLoading = false
      }
    },
    showExtraTable(index) {
      if (this.extraTableIndex === index) {
        this.extraTableIndex = -1
      } else {
        this.extraTableIndex = index
      }
    },
    setTopAgentAccount(payload) {
      this.current.topAgentAccount = payload
    },
    setCurrency(payload) {
      this.current.currencyId = payload
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.startDate = result
    },
    setEndDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.endDate = result
    },
    setGameRoundNumber(payload) {
      this.current.gameRoundNumber = payload
    },
    setGameTableSystemCode(payload) {
      this.current.gameTableSystemCode = payload
    },
    setGameShoesNumber(payload) {
      this.current.gameShoesNumber = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setAbnormalResultRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeAbnormalResultRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterGameRound() {
      const result = await Promise.all([
        this.$refs["gameRoundNumber"].validate(),
        this.$refs["gameShoesNumber"].validate(),
        this.$refs["gameTableSystemCode"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async validFilterTimeRange() {
      const result = await Promise.all([this.$refs["startDate"].validate(), this.$refs["endDate"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "GAME_ROUND":
          return await this.validFilterGameRound()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TIME_RANGE":
          return await getAbnormalResultByTimeRange(loginToken, payload)
        case "GAME_ROUND":
          return await getAbnormalResultByGameRound(loginToken, payload)
      }
    },
    getStateText(stateId) {
      switch (stateId) {
        case "1":
          return "同步成功"
        case "0":
          return "同步失敗"
        default:
          return `State type ${stateId} undefined`
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            const currencyId = parseInt(data.rows[0].currencyId)
            this.saveCacheSearchConditions({ ...payload, currencyId })
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.abnormal-result-records
  &__row
    grid-template-columns 99px 99px 73px 147px 77px 73px 60px 73px 73px 88px 169px 56px 54px 147px 147px 252px 80px

  &__action-button
    border 1px solid #000000

  &__extra-table-area
    border-top 1px solid #000000
    background #f2f2f2
    grid-column 1 / 19

  &__extra-table-title
    margin 1rem 0
    font-weight bold
    font-size 1.2rem

  &__extra-happy-land
    padding 2rem

  &__extra-table-row
    grid-template-columns 150px 200px repeat(5, 110px)

  &__extra-table-wrapper
    overflow-x hidden
    overflow-y auto
    margin-top 66px
    padding-right 1.1rem
    max-height 500px
    width -webkit-min-content
    width -moz-min-content
    width min-content

  &__extra-table-no-result
    display flex
    justify-content center
    align-items center
    min-height 8rem
    background #f2f2f2
    font-weight bold
    font-size 1rem

  &__extra-table-row
    background #fff
</style>
