<template lang="pug">
.c_panel
  c_nav(:prop_nav="d_nav")
  h1(id="labTitleInBackUser") 後台使用者管理

  .filter_bar
    | 搜尋帳號 ：
    input(
      id="iptSearchAccInBackUser"
      type="text"
      v-model="serachAccount"
    )
    ._btn_c(
      id="btnSearchInBackUser"
      @click="getList()"
    ) 搜尋

    ._btn_c(
      id="btnAddAccInBackUser"
      @click="switchPanel('add')"
    ) 新增帳號

  #tabBackUser
    .t_f(v-if="showList")
      ._col._account 帳號
      ._col._character 角色
      ._col._email 電子郵件
      ._col._status 狀態
      ._col._operate 操作

    .t_d(v-for="(item, index) in List_d")
      ._col._account {{item.account}} ( {{item.nickname}} )
      ._col._character {{item.permissionList}}
      ._col._email {{item.email}}
      ._col._status {{item.locked | showText}}
      ._col._operate.align-right
        ._btn_c(@click="switchPanel('edit',item.uid)") 編輯
        ._btn_c(
          v-if="(item.locked === '0') && userAccount !== item.account"
          @click="disable(item.uid)"
        ) 停用
        ._btn_c.toEnable(
          v-if="!(item.locked === '0')"
          @click="enable(item.uid)"
        ) 啟用
        ._btn_c(
          v-if="userAccount !== item.account"
          @click="recheckPwdPanel(item.uid)"
        ) 刪除

    .NoResult(v-if="!showList") 查無資料

  el-dialog(
    id="divAddAccInBackUser"
    :visible.sync="mode.add"
    v-if="mode.add"
    width="800px"
    custom-class="panelAdd_Am _c_dialog _noHeader"
    :show-close="false"
    center
  )
    .d_header
      ._title 新增帳號
    hr
    .c_f
      .input_t 帳號* :
      ValidationProvider.input_d(
        :rules="{beginWithAlphaV1:true,required:true,min:6,max:20}"
        v-slot="{ errors, classes, validate }"
        ref="account"
      )
        input(
          id="iptAccInAddBackUser"
          type="text"
          v-model="postd.account"
          placeholder="英、數字6-20位，請以英文開頭"
          :class="classes"
          @blur="validate"
        )

    .c_f
      .input_t 暱稱* :
      ValidationProvider.input_d(
        :rules="{AlphaNumChinese:true,required:true,min:1,max:20}"
        v-slot="{ errors, classes, validate }"
        ref="nickname"
      )
        input(
          id="iptNickInAddBackUser"
          type="text"
          v-model="postd.nickname"
          placeholder="中、英、數字1-20位"
          :class="classes"
          @blur="validate"
        )

    .c_f
      .input_t 密碼* :
      ValidationProvider.input_d(
        :rules="{required: true, regex: /^(?=.*[1-9])(?=.*[a-np-zA-NP-Z])([a-np-zA-NP-Z1-9]{6,12})$/,min:6,max:12}"
        v-slot="{ errors, classes, validate }"
        ref="password"
      )
        input(
          id="iptPwdInAddBackUser"
          maxlength="12"
          minlength="6"
          type="text"
          readonly
          v-model="postd.password"
          :class="classes"
          @blur="validate"
        )

      ._btn_c._generate_pwd(
        id="btnGeneratePwdInAddBackUser"
        @click="generatePwd"
      ) 生成密碼

      ._btn_c._copy_pwd(
        id="btnCopyPwdInAddBackUser"
        @click="copyPwd('iptPwdInAddBackUser')"
      ) 複製密碼

    .c_f
      .input_t 角色* :
      .input_r(
        id="divCharInAddBackUser"
        :class="{_input:true,v_error:(selectStatus == false)}"
      )
        ._checkBox(
          v-for="(item, i) in characterList"
          :key="i"
        )
          label
            input(
              type="checkbox"
              v-model="item.isSelect"
              @change="changeItem(i)"
            )
            span {{item.name}}

    .c_f
      .input_t 電子郵件* :
      ValidationProvider.input_d(
        :rules="{required:true,email:true,min:3,max:50}"
        v-slot="{ errors, classes, validate }"
        ref="email"
      )
        input(
          id="iptEmailInAddBackUser"
          type="text"
          v-model="postd.email"
          :class="classes"
          @blur="validate"
        )

    span.dialog-footer(slot="footer")
      el-button(
        id="btnCancelInAddBackUser"
        @click="switchPanel('view')"
      ) 取消

      el-button(
        id="btnOKInAddBackUser"
        type="primary"
        @click="addAccount"
      ) 確定

  el-dialog(
    id="divEditAccInBackUser"
    :visible.sync="mode.edit"
    v-if="mode.edit"
    width="800px"
    custom-class="panelEdit_Am _c_dialog _noHeader"
    :show-close="false"
    center
  )
    .d_header
      ._title 編輯帳號

    hr

    .c_f
      .input_t 帳號* :
      .input_d(id="labAccInEditBackUser") {{userDetail.account}}

    .c_f
      .input_t 暱稱* :
      ValidationProvider.input_d(
        :rules="{AlphaNumChinese:true,required:true,min:1,max:20}"
        v-slot="{ errors, classes, validate }"
        ref="nickname"
      )
        input(
          id="iptNickInEditBackUser"
          type="text"
          v-model="userDetail.nickname"
          placeholder="中、英、數字1-20位"
          :class="classes"
          @blur="validate"
        )

    .c_f
      .input_t 角色* :
      .input_r(
        id="divCharInEditBackUser"
        :class="{_input:true,v_error:(selectStatus == false)}"
      )
        ._checkBox(
          v-for="(item, i) in characterList"
          :key="i"
        )
          label
            input(
              type="checkbox"
              v-model="item.isSelect"
              @change="changeItem(i)"
            )
            span {{item.name}}

    .c_f
      .input_t 電子郵件* :
      ValidationProvider.input_d(
        :rules="{required:true,email:true,min:3,max:50}"
        v-slot="{ errors, classes, validate }"
        ref="email"
      )
        input(
          id="iptEmailInEditBackUser"
          type="text"
          v-model="userDetail.email"
          :class="classes"
          @blur="validate"
        )

    span.dialog-footer(slot="footer")
      el-button(
        id="btnCancelInEditBackUser"
        @click="switchPanel('view')"
      ) 取消

      el-button(
        id="btnSaveInEditBackUser"
        type="primary"
        @click="editAccount"
      ) 確定

  el-dialog(
    id="divDelectAccInBackUser"
    :visible.sync="reCheckPwd"
    v-if="reCheckPwd"
    width="480px"
    custom-class="panelEdit _c_dialog _noHeader"
    :show-close="false"
    center
  )
    .c_note
      .message 您即將 刪除 帳號 {{postd.account}} ({{postd.nickname}})。
      .message 確認完畢，請在下方輸入您的使用者密碼：

    .reCheckPwd
      input(
        id="iptPwdInDelectAcc"
        type="password"
        v-model="opPassword"
        name="opPassword"
        :class="{'_input':true,'v_error':V_err.has('opPassword')}"
        v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}"
      )

    span.dialog-footer(slot="footer")
      el-button(
        id="btnCancelInDelectAcc"
        @click="cancelrecheckPwd"
      )  取消

      el-button(
        id="btnOKInDelectAcc"
        type="primary"
        @click="delCheck('opPassword')"
      ) 確定
</template>

<script>
import AccountManager from "@/services/AccountManager"
import AuthorizeManage from "@/services/AuthorizeManage"
import c_nav from "@/components/basic/nav.vue"
import { ValidationProvider } from "vee-validate"
import { mapState } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: "後台使用者管理 %s"
    }
  },
  components: {
    c_nav,
    ValidationProvider
  },
  computed: {
    ...mapState("member", { userAccount: state => state.id })
  },
  data() {
    return {
      d_nav: [
        { title: "系統管理", islink: false, path: "" },
        { title: "後台使用者管理", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      serachAccount: "",
      showList: true,
      List_d: [],
      mode: {
        view: true,
        add: false,
        edit: false
      },
      postd: {
        uid: "",
        nickname: "",
        account: "",
        email: "",
        password: "",
        permissionList: [],
        num: 0
      },
      opPassword: "",
      reCheckPwd: false,
      selectStatus: true,
      characterList: [],
      userDetail: {}
    }
  },
  methods: {
    cancelrecheckPwd() {
      this.$data.postd.account = ""
      this.$data.postd.nickname = ""
      this.$data.postd.email = ""
      this.$data.reCheckPwd = false
    },
    recheckPwdPanel(uid) {
      this.opPassword = ""
      this.reCheckPwd = true
      const [target] = this.List_d.filter(x => x.uid === uid)
      this.postd = Object.assign({ ...this.postd }, { ...target }, { permissionList: [] })
    },
    clearData() {
      var _this = this
      _.forEach(this.$data.postd, function(v, k) {
        _this.$data.postd[k] = ""
      })
      _this.$data.postd.num = 0
      _this.$data.postd.permissionList = []
    },
    toDoEdit(uid) {
      var _this = this
      _.forEach(this.$data.List_d, function(v, k) {
        if (v.uid == uid) {
          _this.$data.postd = _.cloneDeep(v)
          return false
        }
      })

      this.switchPanel("edit")
    },
    switchPanel(ta, i) {
      var _this = this

      _.forEach(this.$data.mode, function(v, k) {
        _this.$data.mode[k] = false
      })

      if (ta == "add") {
        _this.get_RolePermissions()
        this.$data.mode[ta] = true
      } else if (ta == "edit") {
        var _Loading = _this.$Loading.service({ customClass: "_loading" })
        _this.get_RolePermissions()

        setTimeout(() => {
          this.$data.mode[ta] = true
          _this.get_AccountDetail(i)
          _Loading.close()
        }, 500)
      } else {
        _this.selectStatus = true
        this.$data.mode[ta] = true
      }
    },
    getList() {
      var _this = this
      this.switchPanel("view")
      var account = this.$data.serachAccount
      AccountManager.getAccountList(this.loginToken, account)
        .then(function(res) {
          _this.$data.List_d = res
          for (var i = 0; i < _this.$data.List_d.length; i++) {
            var t = Object.values(_this.$data.List_d[i].permissionList)
            _this.$data.List_d[i].permissionList = t.toString()
          }
          if (_this.$data.List_d.length === 0) {
            _this.$data.showList = false
          } else {
            _this.$data.showList = true
          }
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    generatePwd() {
      var t1 = _.random(10, 35).toString(36)
      var t2 = _.random(1, 9)
      var t = t1 + "" + t2 + "" + _.times(_.random(5, 10), () => _.random(35).toString(36)).join("")
      t = t.replace(/0|o|O/g, "a")
      t = t.toLowerCase()
      this.postd.password = t
    },
    copyPwd(DomId) {
      document.getElementById(DomId).select()
      document.execCommand("copy")
    },
    async checkAddAccount() {
      const result = await Promise.all([
        this.$refs["account"].validate(),
        this.$refs["nickname"].validate(),
        this.$refs["password"].validate(),
        this.$refs["email"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async addAccount() {
      const isValid = await this.checkAddAccount()
      if (isValid === true) {
        this.add()
      }
    },
    async checkEditAccount() {
      const result = await Promise.all([this.$refs["nickname"].validate(), this.$refs["email"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async editAccount() {
      const isValid = await this.checkEditAccount()
      if (isValid === true) {
        this.update()
      }
    },
    update() {
      var _this = this
      var userDetail = this.$data.userDetail

      if (_this.postd.num == 0) {
        _this.selectStatus = false
        _this.$validator.validateAll("editUser").then(result => {})
      } else {
        _this.$validator.validateAll("editUser").then(result => {
          if (!result) {
            return
          }
          var d = {
            nickname: userDetail.nickname,
            email: userDetail.email,
            uid: userDetail.uid,
            permissionList: userDetail.permissionList
          }

          AccountManager.updateAccount(this.loginToken, d)
            .then(function(res) {
              _this.getList()
            })
            .catch(function(err) {
              console.log(err)
            })
        })
      }
    },
    add() {
      var _this = this
      var postd = this.$data.postd
      if (_this.postd.num == 0) {
        _this.selectStatus = false
        _this.$validator.validateAll("addUser").then(result => {})
      } else {
        _this.$validator.validateAll("addUser").then(result => {
          if (!result) {
            return
          }

          var d = {
            nickname: postd.nickname,
            account: postd.account,
            email: postd.email,
            password: postd.password,
            permissionList: postd.permissionList
          }

          AccountManager.addAccount(this.loginToken, d)
            .then(function(res) {
              _this.getList()
            })
            .catch(function(err) {
              console.log(err)
            })
        })
      }
    },
    delCheck(checkName) {
      var _this = this
      this.$validator.validate(checkName).then(result => {
        if (!result) {
          return
        }
        _this.$data.reCheckPwd = false
        _this.delAccount()
        this.$data.postd.account = ""
        this.$data.postd.nickname = ""
        this.$data.postd.email = ""
      })
    },
    delAccount() {
      var _this = this
      var uid = this.$data.postd.uid

      AccountManager.delAccount(this.loginToken, uid, this.$data.opPassword)
        .then(function(res) {
          _this.getList()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    disable(uid) {
      var _this = this
      AccountManager.LockAccount(this.loginToken, uid)
        .then(function(res) {
          _this.getList()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    enable(uid) {
      var _this = this
      AccountManager.unLockAccount(this.loginToken, uid)
        .then(function(res) {
          _this.getList()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    get_RolePermissions() {
      var _this = this
      AuthorizeManage.getRolePermissions(_this.$data.loginToken)
        .then(function(res) {
          _this.characterList = _.cloneDeep(res) || []
          for (var i = 0; i < _this.characterList.length; i++) {
            _this.characterList[i].isSelect = false
          }
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    get_AccountDetail(i) {
      var _this = this
      var uid = i
      AccountManager.getAccountDetail(_this.$data.loginToken, uid)
        .then(function(res) {
          _this.userDetail = _.cloneDeep(res) || {}

          for (var i = 0; i < _this.userDetail.permissionList.length; i++) {
            _this.postd.num += 1
            for (var j = 0; j < _this.characterList.length; j++) {
              if (_this.userDetail.permissionList[i] == _this.characterList[j].uid) {
                _this.characterList[j].isSelect = true
              }
            }
          }
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    changeItem(i) {
      if (this.characterList[i].isSelect == true) {
        this.postd.num += 1
        this.selectStatus = true
        if (this.mode.add == true) {
          this.postd.permissionList.push(this.characterList[i].uid)
        } else {
          this.userDetail.permissionList.push(this.characterList[i].uid)
        }
      } else {
        this.postd.num -= 1
        if (this.mode.add == true) {
          let t = this.postd.permissionList.indexOf(this.characterList[i].uid)
          this.postd.permissionList.splice(t, 1)
        } else {
          let t = this.userDetail.permissionList.indexOf(this.characterList[i].uid)
          this.userDetail.permissionList.splice(t, 1)
        }
      }
    }
  },
  watch: {
    "mode.view": function(val) {
      if (val) {
        this.clearData()
      }
    }
  },
  created() {
    this.getList()
  },
  filters: {
    showText(val) {
      var re = val === "0" ? "啟用" : "停用"
      return re
    }
  }
}
</script>

<style>
.panelEdit_Am {
  background-color: rgba(242, 242, 242, 1);
}

.panelAdd_Am {
  background-color: rgba(242, 242, 242, 1);
}
</style>


<style lang="stylus" scoped>
$h = 30px

.c_panel
  width 60%

.filter_bar
  margin-bottom 15px

  ._btn_c
    display inline-flex
    margin-right 0.5rem
    width 80px
    height $h

  input[type="text"]
    margin-right 0.5rem
    padding 0px
    height $h - 2

._col
  flex 1

  &._character
    flex 0.5

  &._status
    flex 0.2

  &._operate
    ._btn_c
      margin auto 0.5rem

._operate
  max-width 245px

.align-right
  justify-content flex-start

.input_t, ._title
  font-weight bold

.input_r
  display flex
  flex-wrap wrap
  margin 10px 0
  // font-size:13px;
  width 70%

  ._checkBox
    margin-right 5px
    min-height 35px
    width 125px
    word-break break-all

    label
      display flex
      align-items flex-start

      input
        margin-right 5px

.pagination
  margin 15px 0px
  text-align right

._generate_pwd, ._copy_pwd
  margin auto 5px

._btn_c.toEnable
  background-color #ffffff
  color #000000

.message
  text-align left 
  margin 0 0 5px 40px
</style>

