<template lang="pug">
div
  c_nav(:prop_nav="d_nav")
  h1#labTopAgentManageTitle 最高代理管理
  .panelList(v-if="mode.list")
    .filter_bar
      div 代理帳號
      input#iptAcctInTopAgentManage(
        type="text"
        name="searchAaaount"
        v-model="searchAccount"
      )
      #btnSearchInTopAgentManage._btn_c._search(v-on:click="DoSearch") 搜尋代理
      #btnAddAgentInTopAgentManage._btn_c._add(v-on:click="switchPanel('add')") 新增代理

    #tabTopAgent(v-if="!C_isNoResult")
      .t_f
        ._col.f_b._account 代理帳號
        ._col.f_c._agentCode 識別代碼
        ._col.f_d._walletType 錢包類型
        ._col.f_e._status 狀態
        ._col.f_f._operate 操作

      .t_d(v-for="(item, index) in List_d")
        ._col.f_b._account {{item.account}}({{item.nickname}})
        ._col.f_c._agentCode {{item.code}}
        ._col.f_d._walletType {{item.walletId | stateText2}}

        ._status(
          :class="{'_col':true,'f_e':true,'_lock':(item.isEnable==0) || (item.isLock==1),'iSenable':(item.isEnable === 1)}"
        ) {{item.isEnable|stateText1(item.isLock)}}

        ._col.f_f._operate
          ._btn_c._op(v-on:click="postd.uid = item.uid;openEditPanel();") 編輯

          div(
            v-if="((item.isLock==0) && (item.isEnable==1))"
            :class="{'_btn_c':true,'_op':true}"
            @click="postd.uid=item.uid;doReCheckPwd('toDisable');"
          ) 停用

          div(
            v-if="item.isEnable==0"
            :class="{'_btn_c':true,'_op':true}"
            @click="postd.uid=item.uid;doReCheckPwd('toEnable');"
          ) 啟用

          div(
            v-if="(item.isLock==1) && (item.isEnable)"
            :class="{'_btn_c':true,'_op':true,_unlock:true}"
            @click="toUnLock(item.uid);"
          ) 解鎖

    .NoResult(v-if="C_isNoResult") 查無資料

    .pagination(v-if="pageNum > 1")
      pagination(
        :domIdList="paginations.domId"
        :pageNum="pageNum"
        :currentPage="currentPage"
        @update-currentPage="SetCurrentPage"
      )

  .panelAdd._c_dialog(v-if="mode.add")
    ._title 新增代理
    hr
    .c_f
      .input_t 代理帳號* :
      .input_d
        input#iptAgentAcctInAddTopAgent(
          type="text"
          :class="{'_input':true,'v_error':V_err.has('addAgent.agentAccount')}"
          v-validate="{beginWithAlphaV1:true,required:true,min:6,max:20}"
          name="agentAccount"
          data-vv-scope="addAgent"
          v-model="newAgent.account"
          placeholder="英、數字6-20位，請以英文開頭"
        )

    .c_f
      .input_t 代理暱稱* :
      .input_d
        input#iptNickNameInAddTopAgent(
          type="text"
          :class="{'_input':true,'v_error':V_err.has('addAgent.NickName')}"
          v-validate="{AlphaNumChinese:true,required:true,min:1,max:20}"
          name="NickName"
          data-vv-scope="addAgent"
          v-model="newAgent.nickname"
          placeholder="中、英、數字1-20位"
        )

    .c_f
      .input_t 密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;碼* :
      .input_d
        input#iptPwdInAddTopAgent(
          type="text"
          readonly
          v-model="newAgent.pwd"
          maxlength="12"
          minlength="6"
          :class="{'_input':true,'v_error':V_err.has('addAgent.Pwd')}"
          v-validate="{required:true,regex: /^(?=.*[1-9])(?=.*[a-np-zA-NP-Z])([a-np-zA-NP-Z1-9]{6,12})$/}"
          name="Pwd"
          data-vv-scope="addAgent"
        )

      #btnGeneratePwdInAddTopAgent._btn_c._generate_pwd(v-on:click="generatePwd") 生成密碼
      #btnCopyPwdInAddTopAgent._btn_c._copy_pwd(v-on:click="copyPwd") 複製密碼

    .c_f
      .input_t 識別代碼* :
      .input_d
        input#iptAgentCodeInAddTopAgent(
          type="text"
          v-model="newAgent.agentCode"
          maxlength="4"
          :class="{'_input':true,'v_error':V_err.has('addAgent.agentCode')}"
          v-validate="{alpha_num:true,length:4,required:true,is_not:'0000'}"
          name="agentCode"
          data-vv-scope="addAgent"
          placeholder="英、數，0000不可使用，長度 : 4"
        )

    .c_f
      .input_t 手機號碼* :
      .input_d._phone
        select#selAreaCodeInAddTopAgent(v-model="newAgent.telAreaCode")
          option(v-for="(item, index) in AreaList" :value="item.id") +{{item.code}}

        input#iptCellphoneInAddTopAgent(
          type="text"
          v-model="newAgent.phoneNumber"
          maxlength="11"
          :class="{'_input':true,'v_error':V_err.has('addAgent.phoneNumber')}"
          v-validate="{digits:11,required:true}"
          name="phoneNumber"
          data-vv-scope="addAgent"
        )

    .c_f
      .input_t 電子郵件* :
      .input_d
        input#iptEmailInAddTopAgent(
          type="text"
          v-model="newAgent.email"
          :class="{'_input':true,'v_error':V_err.has('addAgent.agentEmail')}"
          v-validate="{email:true,required:true,min:3,max:50}"
          name="agentEmail"
          data-vv-scope="addAgent"
        )

    .c_f
      .input_t 帳號查看權限 :
      .input_d
        input#iptSearchAccessInAddTopAgent(
          type="text"
          :class="{'_input':true,'v_error':V_err.has('queryReportPermissionAccount')}"
          v-validate="{beginWithAlphaV1:true,min:6,max:20}"
          name="queryReportPermissionAccount"
          v-model="newAgent.queryReportPermissionAccount"
        )

        #btnSearchAccessInAddTopAgent.icon_search(v-on:click="doQueryReportPermissionAccount")

    .c_f(v-show="permissionStatus == true")
      .input_t
      .input_d.PA_C
        .PermissionAccount(v-for="item in newAgent.reportPermissionAccountID")
          .icon_del(@click="delNewR_P(item.uid)")
          | {{item.account}}

    .c_f
      .input_t 錢包類型* :
      .input_e
        #btnSingleWalletInAddTopAgent(
          :class="{'_actionBtn':(walletStatus == false),'_btn':(walletStatus == true)}"
          @click="selectWallet('single')"
        ) 單一錢包

        #btnMultiWalletInAddTopAgent(
          :class="{'_actionBtn':(walletStatus == true),'_btn':(walletStatus == false)}"
          @click="selectWallet('plural')"
        ) 多錢包

    .c_f(v-show="walletStatus == false")
      .input_t
      .input_d
        input#iptURLInAddTopAgent(
          type="text"
          v-model="newAgent.url"
          :class="{'_input':true,'v_error':V_err.has('addAgentUrl')}"
          v-validate="{required:true}"
          name="addAgentUrl"
          placeholder="請輸入URL"
        )

    .opbar
      el-button#btnCancelInAddTopAgent(@click="switchPanel('list')") 取消
      el-button#btnSaveInAddTopAgent(type="primary" @click="DoAddAgent();") 儲存

  el-dialog(
    :visible.sync="dialogVisible"
    v-if="dialogVisible"
    width="650px"
    custom-class="panelEdit_308284 _c_dialog _noHeader"
    :show-close="false"
    center
  )
    .d_header
      ._title 編輯代理
      .apikey
        div 金鑰狀態 :
        #labKeyStatusInEdit(
          :class="{'ApiKeyState':true,'disabled':(editAgent.keyIsEnable==0)}"
        ) {{(editAgent.keyIsEnable === "1") | apiEnableText}}
        #btnManageKeyInEdit._btn_c(@click="openKeyPanel") 管理金鑰
    hr
    .c_f
      .input_t 代理帳號* :
      #labAgentAcctInEditTopAgent.input_d {{editAgent.account}}
    .c_f
      .input_t 代理暱稱* :
      .input_d
        input#iptNickNameInEditTopAgent(
          type="text"
          :class="{'_input':true,'v_error':V_err.has('editAgent.NickName')}"
          v-validate="{AlphaNumChinese:true,required:true,min:1,max:20}"
          name="NickName"
          v-model="editAgent.nickname"
          data-vv-scope="editAgent"
          placeholder="中、英、數字1-20位"
        )

    .c_f
      .input_t 識別代碼* :
      #labAgentCodeInEditTopAgent.input_d {{editAgent.agentCode}}
    .c_f
      .input_t 手機號碼* :
      .input_d._phone
        select#selAreaCodeInEditTopAgent(v-model="editAgent.telAreaCode")
          option(v-for="(item, index) in AreaList" :value="item.id") +{{item.code}}

        input#iptCellphoneInEditTopAgent(
          type="text"
          v-model="editAgent.phoneNumber"
          maxlength="11"
          :class="{'_input':true,'v_error':V_err.has('editAgent.phoneNumber')}"
          v-validate="{digits:11,required:true}"
          name="phoneNumber"
          data-vv-scope="editAgent"
        )

    .c_f
      .input_t 電子郵件* :
      .input_d
        input#iptEmailInEditTopAgent(
          type="text"
          v-model="editAgent.email"
          :class="{'_input':true,'v_error':V_err.has('editAgent.agentEmail')}"
          v-validate="{email:true,required:true,min:3,max:50}"
          name="agentEmail"
          data-vv-scope="editAgent"
        )

    .c_f
      .input_t 帳號查看權限 :
      .input_d
        input#iptSearchAccessInEditTopAgent(
          type="text"
          :class="{'_input':true,'v_error':V_err.has('queryReportPermissionAccount')}"
          v-validate="{beginWithAlphaV1:true,min:6,max:20,is_not:editAgent.account}"
          name="queryReportPermissionAccount"
          v-model="editAgent.queryReportPermissionAccount"
        )

        #iptSearchAccessInEditTopAgent.icon_search(v-on:click="doQueryReportPermissionAccount")

    .c_f(v-show="permissionStatus == true")
      .input_t
      .input_d.PA_C
        .PermissionAccount(v-for="_item in editAgent.reportPermissionAccountID")
          .icon_del(@click="delNewR_P(_item.uid)")
          | {{_item.account}}

    .c_f
      .input_t 錢包類型* :
      .input_e
        #btnSingleWalletInEditTopAgent(:class="{'_actionBtnV2':editAgent.wallet == '1','_btnV2':editAgent.wallet == '2'}") 單一錢包
        #btnMultiWalletInEditTopAgent(:class="{'_actionBtnV2':editAgent.wallet == '2','_btnV2':editAgent.wallet == '1'}") 多錢包

    .c_f(v-show="editAgent.wallet == '1'")
      .input_t
      .input_d
        input#iptURLInEditTopAgent(
          type="text"
          v-model="editAgent.url"
          :class="{'_input':true,'v_error':V_err.has('editAgentUrl')}"
          v-validate="{required:true}"
          name="editAgentUrl"
          placeholder="請輸入URL"
        )

    .c_f(v-show="editAgent.wallet == '1'")
      .input_t Sign Key :
      .input_e
        #labWalletKeyInEditTopAgent._text {{editAgent.signKey}}
        #btnRegenerateInEditTopAgent._resetBtn(@click="createWalletKey()") 重新產生

    span.dialog-footer(slot="footer")
      el-button#btnCancelInEditTopAgent(@click="dialogVisible = false") 取消
      el-button#btnSaveInEditTopAgent(type="primary" @click="DoUpdateAgent") 儲存

  el-dialog#divKeyManageInEditTopAgent(
    title="金鑰管理"
    :visible.sync="dialogApiKeyVisible"
    v-if="dialogApiKeyVisible"
    width="600px"
    custom-class="dialogApiKey_308284 _c_dialog"
  )
    .opbarApiKey
      #btnRefreshKeyInEditTopAgent._btn_c.reGenerate.b_disable(v-if="apiKey.isEnable == 0") 重新產生
      #btnRefreshKeyInEditTopAgent._btn_c.reGenerate(
        v-if="apiKey.isEnable == 1"
        @click="doCreateApiKey(true)"
      ) 重新產生
      //- #btnExportKeyInEditTopAgent._btn_c.Export(@click="exportApiKey(apiKey.groupUid)") 匯出
      a#btnExportKeyInEditTopAgent._btn_c.Export(
        :href="apiKey.DownloadContent"
        target="_blank"
        :download="apiKey.DownloadFileName"
      ) 匯出

    .c_f
      .input_t EncryptKey :
      #labEncryptKeyInEditTopAgent.input_d {{apiKey.EncryptKey}}

    .c_f
      .input_t EncryptIV :
      #labEncryptIVInEditTopAgent.input_d {{apiKey.EncryptIV}}

    .c_f
      .input_t SignKey :
      #labSignKeyInEditTopAgent.input_d {{apiKey.SignKey}}

    .c_f
      .input_t 金鑰狀態 :
      div(:class="{input_d:true,disabled:(apiKey.isEnable==0),'ApiKeyState':true}") {{(apiKey.isEnable === 1) | apiEnableText}}

        #btnChangeKeyStatusInEditTopAgent._btn_c.b_switch(
          v-if="!editAgent.groupDisabled"
          @click="doReCheckPwd('apiKeySwitch');"
        ) {{!(apiKey.isEnable === 1) | apiEnableText}}

        #btnChangeKeyStatusInEditTopAgent._btn_c.b_switch.b_disable(v-if="editAgent.groupDisabled") {{!(apiKey.isEnable === 1) | apiEnableText}}

  el-dialog(
    :visible.sync="pwdVisible"
    v-if="pwdVisible"
    width="480px"
    custom-class="panelEdit_308284 _c_dialog _noHeader"
    :show-close="false"
    center
  )
    #divRefreshKey
      .c_note
        | 您確定
        span.isImportant 重新產生金鑰
        |嗎？這將使原金鑰失效。 確認完畢，請在下方輸入您的使用者密碼

      .reCheckPwd
        input#iptPasswordInRefreshKey(type="password" v-model="usePassword")

      span.dialog-footer.butBar_c(slot="footer")
        el-button#btnCancelInRefreshKey(@click="doCreateApiKey(false);") 取消
        el-button#btnConfirmInRefreshKey(type="primary" @click="createApiKey();") 確定

  el-dialog(
    :visible.sync="D_reCheckPwd.panel"
    v-if="D_reCheckPwd.panel"
    width="480px"
    custom-class="panelEdit_308284 _c_dialog _noHeader"
    :show-close="false"
    center
  )
    div(:id="D_dailogDomId.active.outId")
      .c_note 確認完畢後，請在下方輸入您的使用者密碼

      .reCheckPwd
        input(
          type="password"
          v-model="D_reCheckPwd.password"
          :id="D_dailogDomId.active.inputId"
        )

      span.dialog-footer.butBar_c(slot="footer")
        el-button(
          @click="D_reCheckPwd.panel = false"
          :id="D_dailogDomId.active.cancelId"
        ) 取消
        el-button(
          type="primary"
          @click="doSubmit"
          :id="D_dailogDomId.active.okId"
        ) 確定
</template>

<script>
import AgentManager from "@/services/AgentManager"
import c_nav from "@/components/basic/nav.vue"
import pagination from "@/components/basic/pagination.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "最高代理管理 %s"
    }
  },
  components: {
    pagination: pagination,
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "代理管理", islink: false, path: "" },
        { title: "最高代理管理", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      mode: {
        list: true,
        add: false
      },
      dialogVisible: false,
      dialogApiKeyVisible: false,
      pwdVisible: false,
      searchAccount: "",
      initFlag: false,
      walletStatus: false,
      permissionStatus: false,
      newAgent: {
        account: "",
        nickname: "",
        pwd: "",
        agentCode: "",
        telAreaCode: "",
        phoneNumber: "",
        email: "",
        reportPermissionAccountID: {},
        queryReportPermissionAccount: "",
        wallet: 1,
        url: ""
      },
      editAgent: {
        groupUid: "",
        uid: "",
        account: "",
        nickname: "",
        agentCode: "",
        telAreaCode: "",
        phoneNumber: "",
        email: "",
        reportPermissionAccountID: {},
        queryReportPermissionAccount: "",
        wallet: "",
        url: "",
        signKey: ""
      },
      apiKey: {
        EncryptKey: "",
        EncryptIV: "",
        SignKey: "",
        state: false,
        groupUid: ""
      },
      usePassword: "",
      AreaList: [],
      _defaultTelAreaCode: "",
      postd: {
        uid: ""
      },
      a: false,
      D_reCheckPwd: {
        panel: false,
        password: "",
        _from: {
          toEnable: false,
          toDisable: false,
          //apiKeyOn : false,
          //apiKeyOff : false,
          apiKeySwitch: false
        }
      },
      D_dailogDomId: {
        active: {
          outId: "",
          inputId: "",
          cancelId: "",
          okId: ""
        },
        toEnable: {
          outId: "divEnableTopAgentAcct",
          inputId: "iptPasswordInEnableTopAgentAcct",
          cancelId: "btnCancelInEnableTopAgentAcct",
          okId: "btnConfirmInEnableTopAgentAcct"
        },
        toDisable: {
          outId: "divDisableTopAgentAcct",
          inputId: "iptPasswordInDisableTopAgentAcct",
          cancelId: "btnCancelInDisableTopAgentAcct",
          okId: "btnConfirmInDisableTopAgentAcct"
        },
        apiKeyOn: {
          outId: "divEnableKey",
          inputId: "iptPasswordInEnableKey",
          cancelId: "btnCancelInEnableKey",
          okId: "btnConfirmInEnableKey"
        },
        apiKeyOff: {
          outId: "divDisableKey",
          inputId: "iptPasswordInDisableKey",
          cancelId: "btnCancelInDisableKey",
          okId: "btnConfirmInDisableKey"
        }
      },
      currentPage: 1,
      pageNum: 0,
      pageSize: 20
    }
  },
  computed: {
    List_d() {
      var d = this.$store.getters["agent/agentInfo"]
      return d
    },
    C_isNoResult() {
      var x = this.List_d
      var re = this.initFlag ? x.length === 0 : false
      this.initFlag = true
      return re
    },
    C_Verr(item) {
      _.forEach(this.V_fields.$addAgent, function(val, key) {})

      return true
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTopAgentManage",
          previousPage: "btnPrevPageInTopAgentManage",
          inputPage: "iptPageInTopAgentManage",
          actionButton: "btnSearchPageInTopAgentManage",
          nextPage: "btnNextPageInTopAgentManage",
          lastPage: "btnLastPageInTopAgentManage"
        }
      }
    }
  },
  filters: {
    stateText1: function(value, arg1) {
      var t = ""
      switch (true) {
        case value == 0:
          t = "停用"
          break

        case arg1 == 1:
          t = "上鎖"
          break

        default:
          t = "啟用"
          break
      }

      //var t = (value === "1")?'啟用':'上鎖';
      return t
    },
    stateText2: function(value) {
      var t = value === "1" ? "單一錢包" : "多錢包"
      return t
    },

    apiEnableText: function(value) {
      var t = value ? "啟用" : "停用"
      return t
    }
  },
  methods: {
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.getAgentList()
    },
    createApiKeyFile(d) {
      //apiKey.fileDownload;
      var contentType = "data:text/plain;"
      var charset = "charset=utf-8"
      var text = "",
        ary = []
      _.forEach(d, function(v, k) {
        ary.push(k + " = " + v)
        //text+=k+" = "+v+"\n";
      })

      text = ary.join("\n")
      var Agent = this.$data.editAgent

      this.$data.apiKey.DownloadFileName = Agent.account + Agent.agentCode + "key" + ".txt"
      this.$data.apiKey.DownloadContent = contentType + charset + "," + encodeURIComponent(text)
    },
    exportApiKey(groupUid) {
      var d = {
        uid: groupUid
      }

      AgentManager.exportfile(this.$data.loginToken, d)
        .then(function(res) {
          //console.log("exportApiKey - res :",res);
        })
        .catch(function(err) {
          console.log("exportApiKey - error :", err)
        })
    },
    changeApiKeyState() {
      var enable = this.$data.apiKey.isEnable
      var _this = this
      var state = enable == 1
      var d = {
        uid: this.$data.apiKey.groupUid,
        password: this.$data.D_reCheckPwd.password
      }

      switch (state) {
        case true:
          AgentManager.apiToDisable(this.$data.loginToken, d)
            .then(function(res) {
              _this.closeReCheckPwdPanel()
              //_this.getAgentList();
              _this.openKeyPanel()
              _this.openEditPanel()
            })
            .catch(function(err) {})

          break

        case false:
          AgentManager.apiToEnable(this.$data.loginToken, d)
            .then(function(res) {
              _this.closeReCheckPwdPanel()
              //_this.getAgentList();
              _this.openKeyPanel()
              _this.openEditPanel()
            })
            .catch(function(err) {})

          break
      }
    },
    doSubmit() {
      var D_reCheckPwd = this.$data.D_reCheckPwd
      var D_dailogDomId = this.$data.D_dailogDomId
      var postd = this.$data.postd
      D_reCheckPwd.panel = false

      switch (true) {
        case D_reCheckPwd._from.toEnable:
          this.toEnable(postd.uid)
          break

        case D_reCheckPwd._from.toDisable:
          this.toDisable(postd.uid)
          break

        case D_reCheckPwd._from.apiKeySwitch:
          this.changeApiKeyState()
          break
      }
    },
    closeReCheckPwdPanel() {
      this.$data.D_reCheckPwd.panel = false
    },
    doReCheckPwd(item) {
      var D_reCheckPwd = this.$data.D_reCheckPwd
      var D_dailogDomId = this.$data.D_dailogDomId
      _.forEach(D_reCheckPwd._from, function(v, k) {
        D_reCheckPwd._from[k] = false
      })

      D_reCheckPwd._from[item] = true
      D_reCheckPwd.password = ""
      D_reCheckPwd.panel = true

      switch (item) {
        case "toEnable":
          D_dailogDomId.active = _.cloneDeep(D_dailogDomId.toEnable)
          break

        case "toDisable":
          D_dailogDomId.active = _.cloneDeep(D_dailogDomId.toDisable)
          break

        case "apiKeySwitch":
          if (this.$data.apiKey.isEnable == 1) {
            D_dailogDomId.active = _.cloneDeep(D_dailogDomId.apiKeyOff)
          } else {
            D_dailogDomId.active = _.cloneDeep(D_dailogDomId.apiKeyOn)
          }

          //D_dailogDomId.active = _.cloneDeep(D_dailogDomId.toDisable);

          break
      }

      //this.$data.postd.uid = uid;
    },
    toDisable(uid) {
      var _this = this
      var d = {
        uid: uid,
        password: this.$data.D_reCheckPwd.password
      }
      AgentManager.toDisable(this.$data.loginToken, d)
        .then(function(res) {
          _this.closeReCheckPwdPanel()
          _this.getAgentList()
        })
        .catch(function(err) {})
    },
    toEnable(uid) {
      var _this = this
      var d = {
        uid: uid,
        password: this.$data.D_reCheckPwd.password
      }
      AgentManager.toEnable(this.$data.loginToken, d)
        .then(function(res) {
          _this.closeReCheckPwdPanel()
          _this.getAgentList()
        })
        .catch(function(err) {})
    },
    toUnLock(uid) {
      var _this = this
      var d = {
        uid: uid
      }
      AgentManager.toUnLock(this.$data.loginToken, d)
        .then(function(res) {
          _this.getAgentList()
        })
        .catch(function(err) {})
    },
    doCreateApiKey(state) {
      this.$data.usePassword = ""
      this.$data.pwdVisible = state
    },
    createApiKey() {
      var _this = this
      var groupUid = this.$data.editAgent.groupUid
      var password = this.$data.usePassword
      AgentManager.CreateAgentKey(this.$data.loginToken, groupUid, password)
        .then(function(res) {
          _this.$data.apiKey.EncryptKey = res.encryptKey
          _this.$data.apiKey.EncryptIV = res.encryptIV
          _this.$data.apiKey.SignKey = res.signKey

          _this.createApiKeyFile({
            encryptKey: res.encryptKey,
            EncryptIV: res.encryptIV,
            SignKey: res.signKey
          })

          _this.doCreateApiKey(false)
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    openKeyPanel() {
      var _this = this
      var logintoken = this.$store.getters["member/loginToken"]
      var groupUid = this.$data.editAgent.groupUid
      AgentManager.getAgentKey(logintoken, groupUid)
        .then(function(res) {
          //var a = _this.$data.apiKey;
          _this.$data.apiKey = {
            EncryptKey: res.encryptKey,
            EncryptIV: res.encryptIV,
            SignKey: res.signKey,
            isEnable: res.isEnable,
            groupUid: res.groupUid
          }

          _this.createApiKeyFile({
            encryptKey: res.encryptKey,
            EncryptIV: res.encryptIV,
            SignKey: res.signKey
          })

          _this.$data.dialogApiKeyVisible = true
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })

      //getTopAgent
    },
    openEditPanel() {
      var _this = this
      var logintoken = this.$store.getters["member/loginToken"]
      var uid = this.postd.uid
      AgentManager.getTopAgent(logintoken, uid)
        .then(function(res) {
          var a = {}
          a.uid = res.uid
          a.account = res.account
          a.nickname = res.nickname
          a.agentCode = res.code
          a.telAreaCode = res.areaId
          a.phoneNumber = res.mobile
          a.email = res.email
          a.groupUid = res.groupUid
          a.wallet = res.walletId
          a.url = res.apiUrl
          a.signKey = res.apiSignKey
          a.keyIsEnable = res.keyIsEnable
          a.groupDisabled = res.groupDisabled
          a.reportPermissionAccountID = (function() {
            var temp = {},
              temp1 = {}
            _.forEach(res.reportUids, function(v, k) {
              v.uid = v.reportUid
              temp[v.reportUid] = v
            })

            temp = _.sortBy(temp, ["account"])

            _.forEach(temp, function(v, k) {
              temp1[v.uid] = v
            })

            return temp1
          })()

          _this.$data.editAgent = _.cloneDeep(a)

          if (Object.keys(a.reportPermissionAccountID).length === 0) {
            _this.$data.permissionStatus = false
          } else {
            _this.$data.permissionStatus = true
          }

          _this.$data.dialogVisible = true
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })

      // _this.$data.dialogVisible = true;
      //getTopAgent
    },
    delNewR_P(uid) {
      var _this = this
      if (this.$data.mode.add) var t = this.$data.newAgent
      else var t = this.$data.editAgent

      var a = _.cloneDeep(t.reportPermissionAccountID)

      delete a[uid]
      t.reportPermissionAccountID = a

      if (Object.keys(t.reportPermissionAccountID).length < 1) {
        _this.permissionStatus = false
      }
    },
    getAreaList() {
      var logintoken = this.$store.getters["member/loginToken"]
      var _this = this
      AgentManager.getAreaList(logintoken)
        .then(function(res) {
          _this.AreaList = _.cloneDeep(res)
          _this._defaultTelAreaCode = _this.AreaList[0].id
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    doQueryReportPermissionAccount() {
      var _this = this

      this.$validator.validate("queryReportPermissionAccount").then(result => {
        if (!result) {
          return
        }

        _this.queryReportPermissionAccount()
      })
    },
    queryReportPermissionAccount() {
      var _this = this
      var logintoken = this.$store.getters["member/loginToken"]
      if (this.$data.mode.add) {
        var _t = _this.$data.newAgent
      } else {
        var _t = _this.$data.editAgent
      }

      var account = _t.queryReportPermissionAccount
      AgentManager.queryReportPermissionAccount(logintoken, account)
        .then(function(res) {
          _t.queryReportPermissionAccount = ""

          if (res.length == 0) {
            _this.$message({
              message: "無此使用者",
              type: "warning",
              duration: 1000
            })

            return
          }

          var x = _.cloneDeep(_t.reportPermissionAccountID)
          x[res["uid"]] = res

          var y = {}
          x = _.sortBy(x, ["account"])

          _.forEach(x, function(v, k) {
            y[v.uid] = v
          })

          _t.reportPermissionAccountID = y
          _this.permissionStatus = true
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    switchPanel(panel) {
      var mode = this.$data.mode
      for (var index in mode) {
        mode[index] = false
      }

      mode[panel] = true
    },
    DoSearch() {
      var vm = this
      this.$data.currentPage = 1

      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        vm.getAgentList()
      })
    },
    generatePwd() {
      var t1 = _.random(10, 35).toString(36)
      var t2 = _.random(1, 9)
      var t = t1 + "" + t2 + "" + _.times(_.random(5, 10), () => _.random(35).toString(36)).join("")
      t = t.replace(/0|o|O/g, "a")
      t = t.toLowerCase()
      this.$data.newAgent.pwd = t
    },
    copyPwd() {
      document.getElementById("iptPwdInAddTopAgent").select()
      document.execCommand("copy")
    },
    selectWallet(i) {
      var vm = this
      if (i == "plural" && vm.walletStatus == false) {
        vm.walletStatus = true
        vm.newAgent.wallet = 2
        vm.newAgent.url = ""
        vm.$validator.reset()
      } else if (i == "single" && vm.walletStatus == true) {
        vm.walletStatus = false
        vm.newAgent.wallet = 1
      }
    },
    getAgentList() {
      var _this = this
      var logintoken = this.$store.getters["member/loginToken"]

      var d = {
        pageSize: this.$data.pageSize,
        pageIndex: this.$data.currentPage - 1,
        account: this.$data.searchAccount
      }

      //AgentManager.getTopAgentList(logintoken,this.$data.searchAccount)
      AgentManager.getTopAgentListV1(logintoken, d)

        .then(function(res) {
          _this.$store.dispatch("agent/setAgentInfo", res.rows)
          _this.$data.currentPage = res.pagination.pageIndex + 1
          _this.$data.pageNum = res.pagination.pageCount
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    DoAddAgent() {
      var _this = this

      this.$validator.validateAll("addAgent").then(result => {
        if (!result) {
          return
        }

        if (_this.walletStatus == false) {
          this.$validator.validate("addAgentUrl").then(result => {
            if (!result) {
              return
            }
            _this.addAgent()
          })
        } else {
          _this.addAgent()
        }
      })
    },
    addAgent() {
      var _this = this

      var d = {
        account: this.$data.newAgent.account,
        nickname: this.$data.newAgent.nickname,
        password: this.$data.newAgent.pwd,
        code: this.$data.newAgent.agentCode,
        areaId: this.$data.newAgent.telAreaCode,
        mobile: this.$data.newAgent.phoneNumber,
        email: this.$data.newAgent.email,
        walletId: this.$data.newAgent.wallet,
        apiUrl: this.$data.newAgent.url,
        reportUids: Object.keys(this.$data.newAgent.reportPermissionAccountID)
      }

      var logintoken = this.$store.getters["member/loginToken"]

      AgentManager.addAgent(logintoken, d)
        .then(function(res) {
          _this.switchPanel("list")
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    DoUpdateAgent() {
      var _this = this

      this.$validator.validateAll("editAgent").then(result => {
        if (!result) {
          return
        }

        if (_this.editAgent.wallet == "1") {
          this.$validator.validate("editAgentUrl").then(result => {
            if (!result) {
              return
            }
            _this.updateAgent()
          })
        } else {
          _this.updateAgent()
        }
      })
    },
    updateAgent() {
      var _this = this
      var t = this.$data.editAgent

      var d = {
        uid: t.uid,
        nickname: t.nickname,
        areaId: t.telAreaCode,
        mobile: t.phoneNumber,
        email: t.email,
        walletId: t.wallet,
        apiUrl: t.url,
        apiSignKey: t.signKey,
        reportUids: Object.keys(t.reportPermissionAccountID)
      }

      var logintoken = this.$store.getters["member/loginToken"]

      AgentManager.updateAgent(logintoken, d)
        .then(function(res) {
          _this.$data.dialogVisible = false
          _this.getAgentList()
          //_this.switchPanel('list');
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    createWalletKey() {
      var _this = this
      var logintoken = this.$store.getters["member/loginToken"]
      AgentManager.createSignKey(logintoken)
        .then(function(res) {
          _this.editAgent.signKey = res
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    }
  },
  watch: {
    "mode.add": function(value) {
      var t = this.$data.newAgent
      t.pwd = ""
      t.nickname = ""
      t.account = ""
      t.agentCode = ""
      t.phoneNumber = ""
      t.email = ""
      t.wallet = 1
      t.url = ""
      t.queryReportPermissionAccount = ""
      t.reportPermissionAccountID = {}
      t.telAreaCode = this._defaultTelAreaCode

      if (value) {
        this.$data.d_nav.push({ title: "新增代理", islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    },
    "mode.list": function(value) {
      if (value) {
        this.$data.searchAccount = ""
        this.getAgentList()
      }
    }
  },
  created: function() {
    this.getAgentList()
  },
  mounted: function() {
    this.getAreaList()
  }
}
</script>
<style lang="less">
.panelEdit_308284 {
  background-color: #f2f2f2;
  font-weight: 700;
  ._title {
    display: inline-flex;
  }

  .apikey {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
  }

  .d_header {
    display: flex;
    justify-content: space-between;
  }
}

.dialogApiKey_308284 {
  background-color: #d7d7d7;

  .el-dialog__header {
    background-color: #666666;
    padding: 0px 5px;
    box-sizing: content-box;
  }

  .el-dialog__title {
    font-size: 12px;
    color: #ffffff;
  }

  .el-dialog__headerbtn {
    top: 5px;
    right: 10px;
  }

  .el-dialog__close {
    color: #ffffff;
  }

  .opbarApiKey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 15px;
  }

  .reGenerate {
    background-color: #ffffff;
    color: #000000;
    width: 80px;
  }

  .Export {
    background-color: #ffffff;
    color: #000000;
    width: 50px;
  }

  .c_f {
    padding: 0 0 20px 20px;
    margin: 0px;
  }

  .input_d {
    width: 450px;
  }
}
</style>


<style lang="less" scoped>
.reCheckPwd1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  input {
    padding: 5px;
    width: 80%;
  }
}
.c_note {
  text-align: center;
}

.c_note1 {
  margin-top: 20px;
  font-size: 16px;

  .isImportant {
    color: red;
  }
}

input {
  padding-left: 5px;
}

.w {
  width: 80px;
}

@tableW: 700px;

._table_w {
  width: @tableW;
}

.pagination {
  width: @tableW;
  margin-top: 20px;
  text-align: right;
}

.filter_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;

  div,
  input {
    margin: auto 3px;
  }

  input {
    height: 24px;
  }
}

._search,
._add {
  .w();
}

.t_f {
  ._table_w();
}

.t_d {
  ._table_w();
}

._op {
  width: 50px;
}

._btn_c {
  height: 25px;

  .btn_1() {
    width: 80px;
    font-weight: normal;
    margin: auto;
  }

  .btn_2() {
    .btn_1();
    height: 30px;
    margin: auto 20px;
  }

  &._generate_pwd {
    .btn_1();
  }
  &._copy_pwd {
    .btn_1();
    margin: 0 20px 0 0;
  }

  &._doCancel {
    .btn_2();
    background-color: #ffffff;
    color: #000000;
  }

  &._doAdd {
    .btn_2();
  }
}

.iSenable {
  color: #0000ff;
}

.f_b {
  flex: 2 0;
}
.f_c {
  flex: 1 0;
}
.f_d {
  flex: 1 0;
}
.f_e {
  flex: 1 0;
}
.f_f {
  flex: 1.5 0;

  &._col {
    justify-content: space-evenly;
  }
}

._col._lock {
  color: red;
}

._unlock {
  background-color: #ffffff;
  color: #000000;
}

.panelAdd {
  width: 600px;
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(121, 121, 121, 1);
  font-weight: 700;
  font-style: normal;
  color: #324243;
  padding: 40px;
  ._title {
    color: #333333;
  }

  .c_f {
    width: 95%;
  }
}

.dialogApiKey {
  .c_f {
    width: 95%;
  }
}

.icon_search {
  background-image: url("../img/search.png");
  position: absolute;
  right: 5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.b_switch {
  margin-left: 10px;
  width: 50px;
}

.b_disable {
  cursor: not-allowed;
}

.input_d._phone {
  justify-content: space-between;

  input[type="text"] {
    width: 135px;
  }
  select {
    width: 60px;
  }
}

.icon_del {
  position: absolute;
  left: 0px;
}

@OneRowH: 30px;

.input_d.PA_C {
  max-height: @OneRowH * 10;
  display: block;
  overflow: auto;
}

.PermissionAccount {
  align-self: flex-start;
  height: @OneRowH;
  padding-left: 20px;
  box-sizing: content-box;
  position: relative;
  display: flex;
  align-items: center;
}

@b: 1px gray solid;
.input_e {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: normal;
  margin-top: 5px;
  ._actionBtn {
    border: @b;
    color: black;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  ._actionBtnV2 {
    ._actionBtn();
    cursor: default;
  }
  ._btn {
    ._actionBtn();
    color: white;
    background-color: rgba(153, 153, 153, 1);
  }
  ._btnV2 {
    ._actionBtn();
    color: white;
    background-color: rgba(153, 153, 153, 1);
    cursor: not-allowed;
  }
  ._text {
    margin-right: 10px;
    width: 200px;
    font-weight: bold;
    word-break: break-all;
  }
  ._resetBtn {
    border: @b;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
  }
}
</style>
