<template lang="pug">
  div
    c_nav(:prop_nav="d_nav")
    h1(id="labCharPermissionTitle") 角色權限管理

    ._panelList
      <!-- 列表模式 -->
      ._panelContent(v-show="listMode")
        ._addBtn(
          id="btnAddChar"
          @click="changeMode('add','')"
        ) 新增角色
        ._tableContent(id="tabCharPermission")
          ._titleRow
            ._titleItem._role 角色
            ._titleItem._remarks 備註
            ._titleItem_a._operate 操作

          ._tableRow(v-for="(item, i) in characterList")
            ._tableItem._role {{item.name}}
            ._tableItem._remarks {{item.remark}}
            ._tableItem_a._operate
              ._tableBtn(@click="changeMode('edit',item.uid)") 編輯
              ._tableBtn(@click="deletleCheckPwd(i)") 刪除

      <!-- 新增模式 -->
      ._addContent(v-show="addMode")
        ._title(id="labCreatInAddChar") 新增角色
        hr
        ._infoList
          ._infoRow
            ._infotitle(id="labCharInAddChar") 角色*：
            ._infoItem
              input(
                id="iptCharInAddChar"
                type="text"
                class="_input"
                v-model="addCharacterItem.name"
                :class="{'_input':true,'v_error':V_err.has('addCharacter.name')}"
                v-validate="{required:true,min:1,max:20}"
                data-vv-scope="addCharacter"
                name="name"
                maxlength="20"
              )

          ._infoRow
            ._infotitle(id="labPSInAddChar") 備註：
            ._infoItem
              input(
                id="iptPSInAddChar"
                type="text"
                class="_input"
                v-model="addCharacterItem.remark"
                maxlength="20"
              )

          ._infoRow_a
            ._infotitle(id="labPermissionInAddChar") 權限*：
            ._infoItem(:class="{_input:true,v_error:(selectStatus == false)}")
              ._btn(
                id="btnChooseAllInAddUser"
                v-if="selectMode"
                @click="changeAll('select')"
              ) 全選

              ._btn(
                id="btnClearAllInAddChar"
                v-else @click="changeAll('clear')"
              ) 清除

              #tabPermissionInAddChar
                ._titleRow
                  ._titleItem._mainItem 項目
                  ._titleItem._subItem 子項目

                ._tableRow
                  ._tableItem(v-for="(groups, i) in menuList" v-if="groups.isActive")
                    ._tableItemV2._mainItem
                      label
                        input(type="checkbox" v-model="groups.isSelect" @change="changeGroups(i)")
                        | {{groups.key}}

                    ._tableItemV2._subItem
                      ._tableSubItem(
                        v-for="(item, j) in groups.items"
                        v-if="item.isActive"
                      )
                        label
                          input(type="checkbox" v-model="item.isSelect" @change="changeItem(i,j)")
                          | {{item.key}}

        ._btnList
          ._cancelBtn(
            id="btnCancelInAddChar"
            @click="changeMode('list','')"
          ) 取消

          ._confirmBtn(
            id="btnOKInAddChar"
            @click="add_Character()"
          ) 確認

      <!-- 編輯模式 -->
      ._addContent(v-show="editMode")
        ._title 編輯角色
        hr
        ._infoList
          ._infoRow
            ._infotitle(id="labCharInEditChar") 角色*：
            ._infoItem
              input._input(
                id="iptCharInEditChar"
                type="text"
                v-model="editCharacter.name"
                :class="{'_input':true,'v_error':V_err.has('editCharacter.name')}"
                v-validate="{required:true,min:1,max:20}"
                data-vv-scope="editCharacter"
                name="name"
                maxlength="20"
              )

          ._infoRow
            ._infotitle(id="labPSInEditChar") 備註：
            ._infoItem
              input._input(
                id="iptPSInEditChar"
                type="text"
                v-model="editCharacter.remark"
                maxlength="20"
              )

          ._infoRow_a
            ._infotitle(id="labPermissionInEditChar") 權限*：
            ._infoItem(:class="{_input:true,v_error:(selectStatus == false)}")
              ._btn(
                id="btnChooseAllInEditChar"
                v-if="selectMode"
                @click="changeAll('select')"
              ) 全選

              ._btn(
                id="btnClearAllInEditChar"
                v-else @click="changeAll('clear')"
              ) 清除

              #tabPermissionInEditChar
                ._titleRow
                  ._titleItem._mainItem 項目
                  ._titleItem._subItem 子項目

                ._tableRow
                  ._tableItem(v-for="(groups, i) in menuList" v-if="groups.isActive")
                    ._tableItemV2._mainItem
                      label
                        input(type="checkbox" v-model="groups.isSelect" @change="changeGroups(i)")
                        | {{groups.key}}

                    ._tableItemV2._subItem
                      ._tableSubItem(
                        v-for="(item, j) in groups.items"
                        v-if="item.isActive"
                      )
                        label
                          input(type="checkbox" v-model="item.isSelect" @change="changeItem(i,j)")
                          | {{item.key}}

        ._btnList
          ._cancelBtn(
            id="btnCancelInEditChar"
            @click="changeMode('list','')"
          ) 取消

          ._confirmBtn(
            id="btnSaveInEditChar"
            @click="edit_Character()"
          ) 確認

    el-dialog(
      :visible.sync="checkPwd"
      width="500px"
      :show-close="false"
      :before-close="cancelCheckPwd"
    )
      ._d_content(
        v-show="deleteMode == true"
        id="divDeleteChar"
      )
        ._d_note
          | 你確定
          span._disable  刪除
          span._enable  角色 {{changePart.name}}
          br
          | 確認完畢，請在下方輸入您的使用者密碼：

        ._d_input
          input(
            id="iptPwdInDeletChar"
            type="password"
            v-model="changePart.password"
            :class="{'_input':true,'v_error':V_err.has('deleteCharacter.pwd')}"
            v-validate="{required:true}"
            data-vv-scope="deleteCharacter"
            name="pwd"
          )

        ._d_btnList
          ._d_cancelBtn(
            id="btnCancelInDelectAcc"
            @click="cancelCheckPwd()"
          ) 取消

          ._d_confirmBtn(
            id="btnOKInDelectAcc"
            @click="del_Character()"
          ) 確認
</template>

<script>
import c_nav from "@/components/basic/nav.vue"
import AuthorizeManage from "@/services/AuthorizeManage"

export default {
  metaInfo() {
    return {
      titleTemplate: "角色權限管理 %s"
    }
  },
  components: {
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "系統管理", islink: false, path: "" },
        { title: "角色權限管理", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      listMode: true,
      addMode: false,
      editMode: false,
      deleteMode: false,
      selectMode: true,
      characterList: [],
      editCharacter: [],
      addCharacterItem: {
        name: "",
        remark: "",
        group: [],
        num: 0
      },
      menuList: [],
      menuListCopy: [],
      menuListNum: 0,
      selectStatus: true,
      checkPwd: false,
      changePart: {
        uid: "",
        name: "",
        password: ""
      },
      insideNum: 0
    }
  },
  methods: {
    changeMode(v, k) {
      var vm = this
      if (v == "add") {
        vm.addMode = true
        vm.editMode = false
        vm.listMode = false
        vm.selectMode = true
        vm.addCharacterItem.name = ""
        vm.addCharacterItem.remark = ""
        vm.addCharacterItem.num = 0
        vm.addCharacterItem.group = []
        vm.menuList = _.cloneDeep(vm.menuListCopy)
        vm.$validator.reset()
        vm.d_nav.push({ title: "新增角色", islink: false, href: "" })
      } else if (v == "edit") {
        vm.addMode = false
        vm.editMode = true
        vm.listMode = false
        vm.selectMode = true
        vm.addCharacterItem.num = 0
        vm.menuList = _.cloneDeep(vm.menuListCopy)
        vm.get_PermissionsDetail(k)
        vm.$validator.reset()
        vm.d_nav.push({ title: "編輯角色", islink: false, href: "" })
      } else {
        vm.addMode = false
        vm.editMode = false
        vm.listMode = true
        vm.selectStatus = true
        vm.get_RolePermissions()
        vm.d_nav.pop()
      }
    },
    get_RolePermissions() {
      var vm = this
      AuthorizeManage.getRolePermissions(vm.$data.loginToken)
        .then(function(res) {
          vm.characterList = _.cloneDeep(res) || []
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    setMenuList() {
      var vm = this
      vm.menuList = _.cloneDeep(this.$store.getters["menu/Rows"])
      vm.menuListCopy = _.cloneDeep(this.$store.getters["menu/Rows"])
      for (var i = 0; i < vm.menuList.length; i++) {
        vm.menuList[i].isSelect = false
        for (var j = 0; j < vm.menuList[i].items.length; j++) {
          vm.menuList[i].items[j].isSelect = false
        }
      }
      vm.menuListNum = [].concat(...vm.menuList.map(x => x.items)).length
    },
    deletleCheckPwd(i) {
      var vm = this
      vm.changePart.uid = vm.characterList[i].uid
      vm.changePart.name = vm.characterList[i].name
      vm.checkPwd = true
      vm.deleteMode = true
    },
    cancelCheckPwd() {
      var vm = this
      vm.checkPwd = false
      vm.deleteMode = false
      vm.usedMode = false
      vm.changePart.uid = ""
      vm.changePart.title = ""
      vm.changePart.password = ""
      vm.$validator.reset()
    },
    del_Character() {
      var vm = this
      var d = {
        password: vm.changePart.password,
        uid: vm.changePart.uid
      }
      AuthorizeManage.DelRolePermissions(vm.$data.loginToken, d)
        .then(function(res) {
          vm.get_RolePermissions()
          vm.cancelCheckPwd()
        })
        .catch(function(error) {
          vm.cancelCheckPwd()
          console.log("outside error:", error)
        })
    },
    changeAll(i) {
      var vm = this
      vm.addCharacterItem.num = 0
      if (vm.editMode == true) {
        vm.editCharacter.groupList = []
      }
      if (i == "select") {
        vm.selectMode = false
        for (var i = 0; i < vm.menuList.length; i++) {
          vm.menuList[i].isSelect = true
          for (var j = 0; j < vm.menuList[i].items.length; j++) {
            vm.menuList[i].items[j].isSelect = true
            if (vm.menuList[i].items[j].isSelect == true && vm.menuList[i].items[j].isActive == true) {
              vm.addCharacterItem.num += 1
              vm.selectStatus = true
              if (vm.addMode == true) {
                vm.addCharacterItem.group.push(vm.menuList[i].items[j].apiName)
              } else {
                vm.editCharacter.groupList.push(vm.menuList[i].items[j].apiName)
              }
            }
          }
        }
      } else {
        vm.selectMode = true
        for (var i = 0; i < vm.menuList.length; i++) {
          vm.menuList[i].isSelect = false
          for (var j = 0; j < vm.menuList[i].items.length; j++) {
            vm.menuList[i].items[j].isSelect = false
          }
        }
        if (vm.addMode == true) {
          vm.addCharacterItem.group = []
        } else {
          vm.editCharacter.groupList = []
        }
      }
    },
    changeGroups(i) {
      var vm = this
      vm.insideNum = 0
      if (vm.menuList[i].isSelect == true) {
        for (var j = 0; j < vm.menuList[i].items.length; j++) {
          if (vm.menuList[i].items[j].isSelect == true && vm.editMode == true) {
            vm.insideNum += 1
            var t = vm.editCharacter.groupList.indexOf(vm.menuList[i].items[j].apiName)
            vm.editCharacter.groupList.splice(t, 1)
          }

          vm.menuList[i].items[j].isSelect = true
          if (vm.menuList[i].items[j].isSelect == true && vm.menuList[i].items[j].isActive == true) {
            vm.addCharacterItem.num += 1
            vm.selectStatus = true
            if (vm.addMode == true) {
              vm.addCharacterItem.group.push(vm.menuList[i].items[j].apiName)
            } else {
              vm.editCharacter.groupList.push(vm.menuList[i].items[j].apiName)
            }

            if (vm.addCharacterItem.num == vm.menuListNum) {
              vm.selectMode = false
            }
          }
        }

        vm.addCharacterItem.num = vm.addCharacterItem.num - vm.insideNum
      } else {
        for (var j = 0; j < vm.menuList[i].items.length; j++) {
          if (vm.addMode == true) {
            vm.menuList[i].items[j].isSelect = false
            if (vm.menuList[i].items[j].isSelect == false && vm.menuList[i].items[j].isActive == true) {
              vm.addCharacterItem.num -= 1
            }
            var t = vm.addCharacterItem.group.indexOf(vm.menuList[i].items[j].apiName)
            vm.addCharacterItem.group.splice(t, 1)
          } else {
            if (vm.menuList[i].items[j].isSelect == true) {
              vm.menuList[i].items[j].isSelect = false
              vm.addCharacterItem.num -= 1
              var t = vm.editCharacter.groupList.indexOf(vm.menuList[i].items[j].apiName)
              vm.editCharacter.groupList.splice(t, 1)
            }
          }
          if (vm.addCharacterItem.num < vm.menuListNum) {
            vm.selectMode = true
          }
        }
      }
      vm.listMode = true
      vm.listMode = false
    },
    changeItem(i, j) {
      var vm = this
      if (vm.menuList[i].items[j].isSelect == true) {
        vm.addCharacterItem.num += 1
        vm.selectStatus = true
        if (vm.addMode == true) {
          vm.addCharacterItem.group.push(vm.menuList[i].items[j].apiName)
        } else {
          vm.editCharacter.groupList.push(vm.menuList[i].items[j].apiName)
        }

        if (vm.addCharacterItem.num == vm.menuListNum) {
          vm.selectMode = false
        }
      } else {
        vm.addCharacterItem.num -= 1
        if (vm.addMode == true) {
          var t = vm.addCharacterItem.group.indexOf(vm.menuList[i].items[j].apiName)
          vm.addCharacterItem.group.splice(t, 1)
        } else {
          var t = vm.editCharacter.groupList.indexOf(vm.menuList[i].items[j].apiName)
          vm.editCharacter.groupList.splice(t, 1)
        }

        if (vm.addCharacterItem.num < vm.menuListNum) {
          vm.selectMode = true
        }
      }

      var r = vm.menuList[i].items.length
      var rr = 0
      for (var k = 0; k < vm.menuList[i].items.length; k++) {
        if (vm.menuList[i].items[k].isSelect == true) {
          rr += 1
        }
      }

      if (r == rr) {
        vm.menuList[i].isSelect = true
      } else {
        vm.menuList[i].isSelect = false
      }

      vm.listMode = true
      vm.listMode = false
    },
    add_Character() {
      var vm = this
      if (vm.addCharacterItem.num == 0) {
        vm.selectStatus = false
        vm.$validator.validateAll("addCharacter").then(result => {})
      } else {
        vm.$validator.validateAll("addCharacter").then(result => {
          if (!result) {
            return
          }
          for (var i = 0; i < vm.addCharacterItem.group.length; i++) {
            if (vm.addCharacterItem.group[i] == "basic") {
              vm.addCharacterItem.group.splice(i, 1)
              vm.addCharacterItem.group.push("gameVendor", "casinoLocations", "serverSettings")
              break
            }
          }
          var d = {
            name: vm.addCharacterItem.name,
            permission: vm.addCharacterItem.group,
            remark: vm.addCharacterItem.remark
          }
          AuthorizeManage.addRolePermissions(vm.$data.loginToken, d)
            .then(function(res) {
              vm.changeMode("list", "")
            })
            .catch(function(error) {
              console.log("outside error:", error)
            })
        })
      }
    },
    get_PermissionsDetail(i) {
      var vm = this
      var d = i
      AuthorizeManage.RolePermissionsDetail(vm.$data.loginToken, d)
        .then(function(res) {
          vm.editCharacter = _.cloneDeep(res) || []

          for (var i = 0; i < vm.editCharacter.groupList.length; i++) {
            if (
              vm.editCharacter.groupList[i] === "gameVendor" ||
              vm.editCharacter.groupList[i] === "casinoLocations" ||
              (vm.editCharacter.groupList[i] === "serverSettings" && vm.editCharacter.groupList[i] === "basic")
            ) {
              vm.editCharacter.groupList.splice(i, 1)
            } else if (
              vm.editCharacter.groupList[i] === "gameVendor" ||
              vm.editCharacter.groupList[i] === "casinoLocations" ||
              (vm.editCharacter.groupList[i] === "serverSettings" && vm.editCharacter.groupList[i] !== "basic")
            ) {
              vm.editCharacter.groupList.splice(i, 1, "basic")
            }

            for (var j = 0; j < vm.menuList.length; j++) {
              var p = vm.menuList[j].items.length
              var pp = 0

              for (var k = 0; k < vm.menuList[j].items.length; k++) {
                if (vm.editCharacter.groupList[i] == vm.menuList[j].items[k].apiName) {
                  vm.menuList[j].items[k].isSelect = true
                  vm.addCharacterItem.num += 1
                }

                if (vm.menuList[j].items[k].isSelect == true) {
                  pp += 1
                }
              }

              if (p == pp) {
                vm.menuList[j].isSelect = true
              } else {
                vm.menuList[j].isSelect = false
              }
            }
          }

          if (vm.addCharacterItem.num === vm.menuListNum) {
            vm.selectMode = false
          }
        })
        .catch(function(error) {
          console.log("outside error:", error)
        })
    },
    edit_Character() {
      var vm = this
      if (vm.addCharacterItem.num == 0) {
        vm.selectStatus = false
        vm.$validator.validateAll("editCharacter").then(result => {})
      } else {
        vm.$validator.validateAll("editCharacter").then(result => {
          if (!result) {
            return
          }
          for (var i = 0; i < vm.editCharacter.groupList.length; i++) {
            if (vm.editCharacter.groupList[i] == "basic") {
              var t = vm.editCharacter.groupList.indexOf("basic")
              vm.editCharacter.groupList.splice(t, 1)
              vm.editCharacter.groupList.push("gameVendor", "casinoLocations", "serverSettings")
              break
            }
          }
          var d = {
            uid: vm.editCharacter.uid,
            name: vm.editCharacter.name,
            group: vm.editCharacter.groupList,
            remark: vm.editCharacter.remark
          }
          AuthorizeManage.editRolePermissions(vm.$data.loginToken, d)
            .then(function(res) {
              vm.changeMode("list", "")
            })
            .catch(function(error) {
              console.log("outside error:", error)
            })
        })
      }
    }
  },
  created() {
    this.setMenuList()
    this.get_RolePermissions()
  }
}
</script>

<style scoped lang="less">
@b: 1px black solid;
._panelContent {
  width: 550px;
  ._addBtn {
    border: @b;
    color: white;
    background-color: #606060;
    border-radius: 3px;
    padding: 7px 10px;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 0;
    margin-left: 470px;
  }
  ._tableContent {
    margin-top: 10px;
    ._titleRow {
      display: flex;
      border: @b;
      border-right: 0;
      background-color: #606060;
      ._titleItem {
        border-right: @b;
        color: white;
        flex: 1 0;
        text-align: center;
        padding: 10px 0px;
      }
      ._titleItem_a {
        border-right: @b;
        color: white;
        text-align: center;
        padding: 10px 0px;
        width: 120px;
      }
    }
    ._tableRow {
      display: flex;
      border: @b;
      border-right: 0;
      border-top: 0;
      background-color: white;
      ._tableItem {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: @b;
        flex: 1 0;
        text-align: center;
        padding: 7px 0;
      }
      ._tableItem_a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: @b;
        width: 120px;
        text-align: center;
        padding: 7px 0;
        ._tableBtn {
          border: @b;
          color: white;
          background-color: #606060;
          border-radius: 3px;
          padding: 5px 10px;
          cursor: pointer;
          margin-right: 5px;
        }
      }
    }
  }
}
._addContent {
  width: 600px;
  border: @b;
  background: #f2f2f2;
  padding: 30px 20px;
  ._title {
    font-size: 18px;
    font-weight: bold;
  }
  ._infoList {
    padding: 0px 40px;
    ._infoRow_a {
      ._infoRow();
      align-items: flex-start;
    }
    ._infoRow {
      display: flex;
      align-items: center;
      margin: 25px 0;
      ._infotitle {
        width: 20%;
        font-size: 16px;
        font-weight: bold;
      }
      ._infoItem {
        width: 80%;
        font-size: 16px;
        ._input {
          width: 200px;
          height: 25px;
          margin-right: 5px;
          padding-left: 5px;
          font-size: 14px;
        }
        ._btn {
          border: @b;
          background-color: white;
          width: 50px;
          border-radius: 3px;
          padding: 5px 0;
          margin-bottom: 7px;
          font-size: 12px;
          text-align: center;
          cursor: pointer;
        }
        ._titleRow {
          display: flex;
          border: @b;
          border-right: 0;
          background-color: #999;
          width: 350px;
          ._titleItem {
            border-right: @b;
            color: white;
            flex: 1 0;
            font-size: 13px;
            text-align: center;
            padding: 7px 0px;
          }
        }
        ._tableRow {
          display: flex;
          flex-direction: column;
          border-left: @b;
          background-color: white;
          width: 350px;
          ._tableItem {
            display: flex;
            align-items: center;
            border-right: @b;
            border-bottom: @b;
            flex: 1 0;
            font-size: 13px;
            text-align: center;
            ._tableItemV2 {
              flex: 1 0;
              input {
                margin-right: 5px;
              }
              ._tableSubItem:first-child {
                border-top: 0;
              }
              ._tableSubItem {
                border-left: @b;
                border-top: @b;
                padding: 5px 0 5px 30px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  ._btnList {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    ._confirmBtn {
      border: @b;
      color: white;
      background-color: #606060;
      border-radius: 3px;
      padding: 7px 15px;
      margin-right: 10px;
      cursor: pointer;
    }
    ._cancelBtn {
      ._confirmBtn();
      color: black;
      background-color: white;
    }
  }
}
._d_content {
  padding: 30px 40px;
  ._d_note {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
  }
  ._d_note_a {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  ._d_input {
    input {
      width: 400px;
      height: 20px;
      margin-bottom: 15px;
    }
  }
  ._d_btnList {
    display: flex;
    justify-content: center;
    ._d_confirmBtn {
      border: @b;
      color: white;
      background-color: #606060;
      border-radius: 3px;
      padding: 7px 15px;
      margin: 10px 10px 0 0;
      cursor: pointer;
    }
    ._d_cancelBtn {
      ._d_confirmBtn();
      background-color: white;
      color: black;
    }
  }
}
._enable {
  color: #0000ff;
}
._disable {
  color: red;
}
</style>
