<template lang="pug">
  #panel_basicManager
    c_nav(:prop_nav="d_nav")
    h1#labBasicItemTitle 基本項目
    base_panel
    location_panel
    gameserver_panel
    chat_panel
</template>

<script>
import BasePanel from "../components/common/BasicManage/BasicManage.basic.vue"
import LocationPanel from "../components/common/BasicManage/BasicManage.location.vue"
import GameServerPanel from "../components/common/BasicManage/BasicManage.gameserver.vue"
import ChatPanel from "../components/common/BasicManage/BasicManage.chat.vue"
import GameManager from "@/services/GameManager"
import c_nav from "@/components/basic/nav.vue"

export default {
    metaInfo() {
    return {
      titleTemplate: '基本項目管理 %s',
    }
  },
  components: {
    base_panel: BasePanel,
    location_panel: LocationPanel,
    gameserver_panel: GameServerPanel,
    chat_panel: ChatPanel,
    c_nav
  },
  data() {
    return {
      d_nav: [{ title: "遊戲管理", islink: false, path: "" }, { title: "基本項目", islink: false, path: "" }]
    }
  },
  created: function() {
    var logintoken = this.$store.getters["member/loginToken"]
    var _this = this
    var datatypes = ["gameVendor", "tableTypes", "serverTypes", "casinoLocations", "serverSettings"]
    GameManager.getBasicItems(logintoken, datatypes)
      .then(function(res) {
        _this.$store.dispatch("game/Set_gameVendor", res.gameVendor)
        _this.$store.dispatch("game/Set_tableTypes", res.tableTypes)
        _this.$store.dispatch("game/Set_casinoLocations", res.casinoLocations)
        _this.$store.dispatch("game/Set_serverTypes", res.serverTypes)
        _this.$store.dispatch("game/Set_serverSettings", res.serverSettings)
      })
      .catch(function(error) {})
  }
}
</script>

<style lang="less" scoped>
</style>
