<template lang="pug">
  div
    c_nav(:prop_nav="d_nav")
    h1#labTableManageTitle 賭桌管理
    div(v-if="mode.list")
      .filterbar._c_filterbar
        ._item
          ._t 廳館
          select#selRoomInTableManage(v-model="s.theme")
            option(value) 全部
            option(v-for="item in C_themes" :value="item.uid") {{item.title}}

        GameTypeWithTableType(
          @ChangeGameTypeId="setGameTypeId"
          @ChangeTableTypeId="setTableTypeId"
          :prop_DomId="{GameTypeId:'selGameTypeInTableManage',TableTypeId:'selTableTypeInTableManage'}"
          :prop_loginToken="loginToken"
        )

        #btnSearchInTableManage._btn_c(@click="DoSearch()") 搜尋
        #btnAddTable._btn_c(@click="switchMode('add')") 新增賭桌
        #btnDeleteTable._btn_c_v1(@click="del();") 刪除
        #btnOpenTable._btn_c_v1(@click="unlock();") 開放
        #btnCloseTable._btn_c_v1(@click="lock();") 關閉

      #tabTable
        .t_f(v-if="C_BetTables.length > 0")
          ._col.f_a._checkList
            input(type="checkbox" v-model="selecteAllStatus" @change="selectAll()")

          ._col.f_b._roomName 廳館
          ._col.f_c._gameType 遊戲類型
          ._col.f_d._tableType 桌種
          ._col.f_e._systemId 系統桌號
          ._col.f_e._tableId 前台桌號
          ._col.f_f._tableName 賭桌名稱(繁)
          ._col.f_g._platform 平台
          ._col.f_h._livePlaceTableId 現場桌號
          ._col.f_i._livePlace 現場位置
          ._col.f_j._status 狀態
          ._col.f_k._operate 操作

        .t_d(v-for="(item, index) in C_BetTables")
          ._col.f_a._checkList
            input(type="checkbox" v-model="itemsSelected" :value="item.uid" @change="selectItem()")

          ._col.f_b._roomName {{item.themeTitle}}
          ._col.f_c._gameType {{item.gameSetTitle}}
          ._col.f_d._tableType {{item.tableSpeciesTitle}}
          ._col.f_e._systemId {{item.systemCode}}
          ._col.f_e._tableId {{item.frontCode}}
          ._col.f_f._tableName {{item.tableTitle}}
          ._col.f_g._platform {{item.gameVendorTitle}}
          ._col.f_h._livePlaceTableId {{item.siteCode}}
          ._col.f_i._livePlace {{item.casinoLocationTitle}}
          div(:class="{_col:true,f_j:true,_status:true,active:(item.locked == 0)}") {{item.locked | stateText1}}
          ._col.f_k._operate
            ._btn_c._edit(v-on:click="doEdit(item.uid)") 編輯

      .NoResult(v-if="C_BetTables.length==0") 查無資料

      .pagination(v-if="pageNum > 1")
        pagination(
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
          :domIdList="paginations.domId"
        )

    BetTableManag_add(
      v-if="mode.add || mode.edit"
      :props_themes="C_themes"
      :prop_isEdit="mode.edit"
      :prop_editUid="editUid"
      :prop_D_tableTypes="D_tableTypes"
      :prop_D_gameTypes="D_gameTypes"
      @returnPanel="switchMode('list')"
      @completeAdd="completeAdd();"
      @completeEdit="completeEdit();"
    )

    el-dialog(
      :visible.sync="recheckPwd.active"
      v-if="recheckPwd.active"
      width="480px"
      custom-class="panelEdit _c_dialog _noHeader"
      :show-close="false"
      center
    )
      div(:id="D_dailogDomId.active.outId")
        .c_note 確認完畢後，請在下方輸入您的使用者密碼：

        .reCheckPwd
          input(
            type="password"
            v-model="recheckPwd.password"
            name="opPassword"
            :class="{'_input':true,'v_error':V_err.has('opPassword')}"
            v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}"
            :id="D_dailogDomId.active.inputId"
          )

        span.dialog-footer.butBar_c(slot="footer")
          el-button(@click="recheckPwd.active= false;" :id="D_dailogDomId.active.cancelId") 取消
          el-button(type="primary" @click="checkPwdComplete();" :id="D_dailogDomId.active.okId") 確定
</template>

<script>
import c_nav from "@/components/basic/nav.vue"
import GameManager from "@/services/GameManager"
import BetTableManager from "@/services/BetTableManager"
import GameTypeManager from "@/services/GameTypeManager"
import pagination from "@/components/basic/pagination.vue"
import BetTableManag_add from "@/components/common/BetTableManage/BetTableManag_add.vue"

import GameTypeWithTableType from "@/components/filters/GameTypeWithTableType.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "賭桌管理 %s"
    }
  },
  components: {
    pagination: pagination,
    BetTableManag_add: BetTableManag_add,
    c_nav,
    GameTypeWithTableType: GameTypeWithTableType
  },
  data() {
    return {
      d_nav: [
        { title: "遊戲管理", islink: false, path: "" },
        { title: "賭桌管理", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      mode: {
        list: true,
        add: false,
        edit: false
      },
      selecteAllStatus: false,
      itemsSelected: [],
      s: {
        theme: "",
        tableType: "",
        gameType: ""
      },
      currentPage: 1,
      pageNum: 0,
      pageSize: 20,
      selAllTable: false,
      recheckPwd: {
        password: "",
        active: false,
        completed: false,
        callback: {
          fun: {},
          params: []
        }
      },
      editUid: "",
      D_dailogDomId: {
        active: {
          outId: "",
          inputId: "",
          cancelId: "",
          okId: ""
        },
        del: {
          outId: "divDeleteTable",
          inputId: "iptPwdInDeleteTable",
          cancelId: "btnCancelInDeleteTable",
          okId: "btnOKInDeleteTable"
        },
        lock: {
          outId: "divCloseTable",
          inputId: "iptPwdInCloseTable",
          cancelId: "btnCancelInCloseTable",
          okId: "btnOKInCloseTable"
        },
        unlock: {
          outId: "divOpenTable",
          inputId: "iptPwdInOpenTable",
          cancelId: "btnCancelInOpenTable",
          okId: "btnOKInOpenTable"
        }
      },
      D_tableTypes: [],
      D_gameTypes: []
    }
  },
  computed: {
    C_BetTables() {
      var re = this.$store.getters["game/Get_betTables"]
      return re
    },
    /*
			C_gameTypes(){
				var re = this.$store.getters["game/Get_gameTypes"];
				return re;
			},
			C_gameTypes2(){
				var re = [];
				re = this.$data.D_gameTypes;
				return re;
			},
			*/
    C_themes() {
      var re = this.$store.getters["game/Get_halls"]
      return re
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTableManage",
          previousPage: "btnPrevPageInTableManage",
          inputPage: "iptPageInTableManage",
          actionButton: "btnSearchPageInTableManage",
          nextPage: "btnNextPageInTableManage",
          lastPage: "btnLastPageInTableManage"
        }
      }
    }
    /*
			C_tableTypes(){
				var re = this.$store.getters["game/Get_tableTypes"];
				return re;
			},
			C_tableTypes2(){
				var re = [];
				var tableTypes = _.cloneDeep(this.$data.D_tableTypes);
				var gameTypes = this.$data.D_gameTypes;
				var ta_tableUid = [];
				var uid = this.$data.s.gameType;
				var all_usedTableTypeID = [];
				var all_usedTableType = [];

				console.log(_.cloneDeep(tableTypes));
				console.log(_.cloneDeep(gameTypes));


				_.forEach(gameTypes,function(v,k){
					if(v.uid == uid)
					{
						ta_tableUid = v.tableSpecies;
						//return false;
					}

					all_usedTableTypeID = _.merge(all_usedTableTypeID,_.cloneDeep(v.tableSpecies));
				});

				//console.log(_.cloneDeep(all));

				_.forEach(tableTypes,function(v,k){
					if(ta_tableUid.indexOf(v.uid) != -1)
						{
							re.push(v);
						}

					if(all_usedTableTypeID.indexOf(v.uid) != -1)
						{
							all_usedTableType.push(v);
						}

				});

				console.log("uid :",uid);

				if(uid == "")
				{
					re = all_usedTableType;
				}


				console.log(_.cloneDeep(all_usedTableType));
				return re;
			},
			*/
  },
  filters: {
    stateText1: function(value) {
      var t = value == 0 ? "開放" : "關閉"
      return t
    }
  },
  methods: {
    init() {
      this.getGameTableRelation()
    },
    setGameTypeId(val) {
      this.$data.s.gameType = val
    },
    setTableTypeId(val) {
      this.$data.s.tableType = val
    },
    getGameTableRelation() {
      var _this = this
      GameTypeManager.getGameTableRelation(this.loginToken)
        .then(function(res) {
          _this.$data.D_tableTypes = res.relations.tableSpecies
          _this.$data.D_gameTypes = res.master
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    doEdit(uid) {
      this.$data.editUid = uid
      this.switchMode("edit")
    },
    checkPwd(funName, params = []) {
      var recheckPwd = this.$data.recheckPwd
      if (recheckPwd.active) return true

      recheckPwd.callback = {
        funName: funName,
        params: params
      }

      recheckPwd.active = true

      return false
    },
    checkPwdComplete() {
      var recheckPwd = this.$data.recheckPwd
      this[recheckPwd.callback.funName]()
      recheckPwd.active = false
      recheckPwd.password = ""
      recheckPwd.callback = {
        funName: "",
        params: []
      }
    },
    switchMode(item) {
      var mode = this.$data.mode
      _.forEach(mode, function(v, k) {
        mode[k] = false
      })

      mode[item] = true
    },
    completeAdd() {
      this.getBetTables()
      this.switchMode("list")
    },
    completeEdit() {
      this.getBetTables()
      this.switchMode("list")
    },
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.getBetTables()
    },
    getFilters() {
      var _this = this

      var datatypes = ["themes", "tableTypes", "gameTypes"]

      GameManager.getBasicItems(this.loginToken, datatypes)
        .then(function(res) {
          //console.log(_.cloneDeep(res));

          //_this.$store.dispatch("game/Set_gameTypes",res.gameTypes);
          _this.$store.dispatch("game/Set_halls", res.themes)
          //_this.$store.dispatch("game/Set_tableTypes",res.tableTypes);
        })
        .catch(function(error) {})
    },
    clearFilterData() {
      _.forEach(this.$data.s, function(v, k) {
        this.$data.s[k] = ""
      })
    },
    DoSearch() {
      this.$data.currentPage = 1
      this.getBetTables()
    },
    getBetTables() {
      var _this = this
      var s = this.$data.s
      var d = {
        pageSize: this.$data.pageSize,
        pageIndex: this.$data.currentPage - 1,
        themeUid: s.theme == "" ? [] : [s.theme],
        tableSpeciesUid: s.tableType == "" ? [] : [s.tableType],
        gameSetUid: s.gameType == "" ? [] : [s.gameType]
      }
      BetTableManager.getTableList(this.loginToken, d)
        .then(function(res) {
          _this.$store.dispatch("game/Set_betTables", res.rows)
          _this.$data.currentPage = res.pagination.pageIndex + 1
          _this.$data.pageNum = res.pagination.pageCount
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    resetData() {
      this.$data.itemsSelected = []
    },
    del() {
      if (this.$data.itemsSelected.length == 0) {
        return
      }
      var D_dailogDomId = this.$data.D_dailogDomId
      D_dailogDomId.active = _.cloneDeep(D_dailogDomId.del)

      if (!this.checkPwd("del")) return

      var _this = this
      var d = {
        uidList: this.$data.itemsSelected,
        password: this.$data.recheckPwd.password
      }

      BetTableManager.delTable(this.loginToken, d)
        .then(function(res) {
          _this.getBetTables()
          _this.resetData()
        })
        .catch(function(error) {})
    },
    lock() {
      if (this.$data.itemsSelected.length == 0) {
        return
      }
      var D_dailogDomId = this.$data.D_dailogDomId
      D_dailogDomId.active = _.cloneDeep(D_dailogDomId.lock)

      if (!this.checkPwd("lock")) return

      var _this = this
      var tmpUid = this.$data.itemsSelected

      var d = {
        uidList: [],
        password: this.$data.recheckPwd.password
      }

      _.forEach(this.C_BetTables, function(v, k) {
        _.forEach(tmpUid, function(v1, k1) {
          if (v1 == v.uid && v.locked == 0) {
            d.uidList.push(v1)
          }
        })
      })

      if (d.uidList.length == 0) return
      BetTableManager.lockTable(this.loginToken, d)
        .then(function(res) {
          _this.getBetTables()
          _this.resetData()
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    unlock() {
      if (this.$data.itemsSelected.length == 0) {
        return
      }

      var D_dailogDomId = this.$data.D_dailogDomId
      D_dailogDomId.active = _.cloneDeep(D_dailogDomId.unlock)

      if (!this.checkPwd("unlock")) return

      var _this = this
      var tmpUid = this.$data.itemsSelected

      var d = {
        uidList: [],
        password: this.$data.recheckPwd.password
      }

      _.forEach(this.C_BetTables, function(v, k) {
        _.forEach(tmpUid, function(v1, k1) {
          if (v1 == v.uid && v.locked == 1) {
            d.uidList.push(v1)
          }
        })
      })
      if (d.uidList.length == 0) return

      BetTableManager.unlockTable(this.loginToken, d)
        .then(function(res) {
          _this.getBetTables()
          _this.resetData()
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    selectAll() {
      var _this = this
      if (_this.selecteAllStatus == true) {
        for (var i = 0; i < _this.C_BetTables.length; i++) {
          _this.itemsSelected.push(_this.C_BetTables[i].uid)
        }
      } else {
        _this.itemsSelected = []
      }
    },
    selectItem() {
      var _this = this
      var t = _this.C_BetTables.length
      var tt = _this.itemsSelected.length
      if (t == tt) {
        _this.selecteAllStatus = true
      } else {
        _this.selecteAllStatus = false
      }
    }
  },
  created() {
    this.getFilters()
    this.getBetTables()
    this.init()
  },
  watch: {
    "s.gameType": function(val) {
      var s = _.cloneDeep(this.$data.s)
      s.tableType = ""
      this.$data.s = _.cloneDeep(s)
    },
    "recheckPwd.active": function(val) {
      if (!val) {
        this.$data.recheckPwd.password = ""
      }
    },
    "mode.add": function(val) {
      if (val) {
        this.$data.d_nav.push({ title: "新增賭桌", islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    },
    "mode.edit": function(val) {
      if (val) {
        this.$data.d_nav.push({ title: "編輯賭桌", islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    }
  }
}
</script>

<style lang="less" scoped>
@w : 1200px;

.pagination {
  width: @w;
  margin-top: 20px;
  text-align: right;
}

.filterbar {
  ._item {
    min-width: 140px;
  }
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;

  ._col {
    height: auto;
    min-height: 35px;
    justify-content: center;
  }
}

._btn_c._edit {
  width: 50px;
}

.NoResult {
  width: @w;
}

.f_a {
  flex: 1 0;
  max-width: 50px;
}
.f_b {
  flex: 2 0;
  max-width: 120px;
}
.f_c {
  flex: 2 0;
  max-width: 80px;
}
.f_d {
  flex: 2 0;
  max-width: 60px;
}
.f_e {
  flex: 1.5 0;
  max-width: 80px;
}
.f_f {
  flex: 3 0;
}
.f_g {
  flex: 2.5 0;
  max-width: 130px;
}
.f_h {
  flex: 2.5 0;
  max-width: 150px;
}
.f_i {
  flex: 2.5 0;
  max-width: 150px;
}
.f_j {
  flex: 2 0;
  max-width: 60px;
}
.f_k {
  flex: 2 0;
  max-width: 80px;
}

._col.active {
  color: #0000ff;
}
</style>
