<template lang="pug">
.credit-changes
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInAccountChange") 帳變報表

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-contents
        .filter-controllers

          .filter-controllers__group
            label.filter-controllers__label--top 開始日期
            DatePicker2(
              domId="btnStartTimeInAccountChange"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 結束日期
            DatePicker2(
              domId="btnEndTimeInAccountChange"
              :isOnlyHoursOfTime="false"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          .filter-controllers__group
            CurrencyAndTopAgent(
              topAgentDomId="selTopAgentInAccountChange"
              currencyDomId="selCurrencyInAccountChange"
              :isEnabledSelectAll="false"
              @selectTopAgent="setTopAgentAccount"
              @selectCurrency="setCurrency"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required 會員帳號*
            PlayerAccountInput(
              domId="iptMemberAcctInAccountChange"
              :isRequired="true"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

        .search-bar__search-button(
          id="btnSearchInAccountChange"
          @click="submitSearch"
        ) 搜尋

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) 查無資料

        .search-result__default-content(v-else) 請輸入搜尋條件

      template(v-else)
        .report-table(
          id="tabAccountChange"
        )

          .report-table__row.credit-changes__table-row.t_f
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.credit-changes__table-row.t_d(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'currencyId'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ getCurrencyLabel(value) }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import GameTypeSelect from "@/components/selects/GameType.vue"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import PlayerAccountInput from "@/components/inputs/PlayerAccount.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import CurrencyAndTopAgent from "@/components/selects/CurrencyAndTopAgent.vue"
import { getCreditChangesOverview } from "@/api/Report.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import SearchConditionCacheMixin from "@/mixins/SearchConditionCache.js"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "帳變報表 %s"
    }
  },
  mixins: [ReportPageMixinComputed, ReportPageMixinMethods, SearchConditionCacheMixin],
  components: {
    Navbar,
    Pagination,
    GameHallSelect,
    GameTypeSelect,
    DatePicker2,
    PlayerAccountInput,
    CurrencyAndTopAgent,
    LoadingLock,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  data: () => ({
    current: {
      topAgentAccount: "",
      currencyId: "",
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("currency", ["currencies"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("cache", {
      searchConditionCache: state => {
        return state.searchConditions.creditChanges.list
      }
    }),
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInAccountChange",
          previousPage: "btnPrevPageInAccountChange",
          inputPage: "iptPageInAccountChange",
          actionButton: "btnSearchPageInAccountChange",
          nextPage: "btnNextPageInAccountChange",
          lastPage: "btnLastPageInAccountChange"
        }
      }
    },
    reportTableHeaders() {
      return [
        { label: "時間", name: "createDate", QA_CSS: "_changeTime" },
        { label: "類型", name: "transferType", QA_CSS: "_changeType" },
        { label: "帳變前金額", name: "beforeChangeCredit", QA_CSS: "_amountInBefore" },
        { label: "帳變後金額", name: "afterChangeCredit", QA_CSS: "_amountInAfter" },
        { label: "幣別", name: "currencyId", QA_CSS: "_currency" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            createDate: getLocalTimeString(formatToUTCTimeString(x.createDate)),
            transferType: x.transferType,
            beforeChangeCredit: parseFloat(x.beforeRealCredit).toFixed(2),
            afterChangeCredit: parseFloat(x.afterRealCredit).toFixed(2),
            currencyId: parseInt(x.currencyId)
          }
          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: "報表功能", islink: false, path: "" },
        { title: "帳變報表", islink: true, path: this.$route.path }
      ]
    }
  },
  methods: {
    processCreditNumberDisplay(value) {
      const target = parseFloat(value)

      if (Number.isNaN(target) === false) {
        return target.toFixed(2)
      } else {
        return "-"
      }
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.startDate = result
    },
    setEndDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.endDate = result
    },
    setTopAgentAccount(payload) {
      this.current.topAgentAccount = payload
    },
    setCurrency(payload) {
      this.current.currencyId = payload
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setCreditChangesListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeCreditChangesListSearchConditions")
    },
    async validFilter() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async submitSearch() {
      const validResult = await this.validFilter()

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await getCreditChangesOverview(this.loginToken, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)
          if (isSearchWithCacheConditions === false) {
            const currencyId = parseInt(data.rows[0].currencyId)
            this.saveCacheSearchConditions({ ...payload, currencyId })
          }
        } else {
          throw new Error("No return data")
        }
      } catch {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.credit-changes
  &__table-row
    grid-template-columns 200px 150px repeat(3, 200px)
</style>
