<template lang="pug">
.finance-statistic
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInTotal") 帳務統計
    
    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )     

    .search-bar
      .filter-contents
        .filter-controllers

          .filter-controllers__group
            DateRangeSwitch(
              :timeMenu="dateRangeSwitchMenu"
              :domIdMap="dateRangeSwitchDomIdList"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 開始日期
            DatePicker2(
              domId="btnStartTimeInTotal"
              :isLockSelectMinutes="true"
              :isLockSelectSeconds="true"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 結束日期
            DatePicker2(
              domId="btnEndTimeInTotal"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :isLockSelectMinutes="true"
              :isLockSelectSeconds="true"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          CurrencyAndTopAgentSelect(
            topAgentDomId="selTopAgentInTotal"
            currencyDomId="selCurrencyInTotal"
            @selectTopAgent="setTopAgentAccount"
            @selectCurrency="setCurrency"
            :isEnabledSelectAll="false"
          )

          .filter-controllers__group
            label.filter-controllers__label--top 會員帳號
            PlayerAccountInput(
              domId="iptMemberAcctInTotal"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 注單狀態
            GameOrderStateSelect(
              domId="selBetOrderStatusInTotal"
              @select="setGameOrderState"
              ref="gameResultState"
              :isDefaultSelectedAll="isSelectAllGameOrderStatesOnStart"
            )

        .search-bar__search-button(
          id="btnSearchInTotal"
          @click="submitSearch"
        ) 搜尋

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    BetStatisticBar(
      :totalBets="betStatisticData.totalBets"
      :validBets="betStatisticData.validBets"
      :payout="betStatisticData.payout"
      :winLossAmount="betStatisticData.winLossAmount"
      :profit="betStatisticData.profit"
      :domIdList="betStatisticBar.domId"
    )

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) 查無資料

        .search-result__default-content(v-else) 請輸入搜尋條件

      template(v-else)
        .report-table(
          v-if="current.filterTypeCode === 'TOP_AGENT_OVERVIEW'"
          id="tabTotalAccountingInTotal"
        )

          .report-table__row.finance-statistic__table-row.t_f
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.finance-statistic__table-row.t_d(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'topAgentAccount'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span.finance-statistic__clickable(@click="fetchPlayerListResult") {{ value.label }}

              .report-table__cell(
                v-else-if="key === 'currencyId'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ getCurrencyLabel(value) }}

              .report-table__cell(
                v-else-if="noticeColorColumns.includes(key) === true"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span(:class="getPayoutColorClass(value)")
                  | {{ value }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        .report-table(
          v-else-if="current.filterTypeCode === 'PLAYER_LIST' || current.filterTypeCode === 'PLAYER_LIST_SINGLE'"
          id="tabTotalMemberInTotal"
        )

          .report-table__row.finance-statistic__extra-table-row
            .report-table__header-cell(
              v-for="h in extraTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.finance-statistic__extra-table-row(v-for="row, index in extraTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'playerAccount'"
                :class="getCSSForQA(key, extraTableHeaders)"
              )
                span {{ value.label }}

              .report-table__cell(
                v-else-if="key === 'currencyId'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ getCurrencyLabel(value) }}

              .report-table__cell(
                v-else-if="noticeColorColumns.includes(key) === true"
                :class="getCSSForQA(key, extraTableHeaders)"
              )
                span(:class="getPayoutColorClass(value)")
                  | {{ value }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, extraTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import CurrencyAndTopAgentSelect from "@/components/selects/CurrencyAndTopAgent.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import GameTypeSelect from "@/components/selects/GameType.vue"
import GameOrderStateSelect from "@/components/selects/GameOrderState.vue"
import PlayerAccountInput from "@/components/inputs/PlayerAccount.vue"
import BetStatisticBar from "@/components/common/BetStatisticBar.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getFinanceStatisticOverview, getFinanceStatisticPerPlayer } from "@/api/Report.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import SearchConditionCacheMixin from "@/mixins/SearchConditionCache.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "帳務統計 %s"
    }
  },
  mixins: [ReportPageMixinComputed, ReportPageMixinMethods, SearchConditionCacheMixin],
  components: {
    Navbar,
    Pagination,
    DateRangeSwitch,
    GameHallSelect,
    GameTypeSelect,
    GameOrderStateSelect,
    PlayerAccountInput,
    CurrencyAndTopAgentSelect,
    BetStatisticBar,
    LoadingLock,
    DatePicker2,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      topAgentAccount: "",
      currencyId: "",
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      gameOrderStates: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    searchRangeDays: 31,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false,
    currencyLabel: "",
    isLoading: false,
    isSearchResultEmpty: false,
    isSelectAllGameOrderStatesOnStart: true,
    resultRows: [],
    noticeColorColumns: ["winLossAmount", "payout", "profit"],
    betStatisticData: { totalBets: 0, validBets: 0, payout: 0, winLossAmount: 0, profit: 0 }
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("currency", ["currencies"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("cache", {
      searchConditionCache: state => {
        return state.searchConditions.financeStatistics.list
      }
    }),
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTotal",
          previousPage: "btnPrevPageInTotal",
          inputPage: "iptPageInTotal",
          actionButton: "btnSearchPageInTotal",
          nextPage: "btnNextPageInTotal",
          lastPage: "btnLastPageInTotal"
        }
      }
    },
    reportTableHeaders() {
      return [
        { label: "最高代理帳號", name: "topAgentAccount", QA_CSS: "_account" },
        { label: "幣別", name: "currencyId", QA_CSS: "_currency" },
        { label: "總筆數", name: "totalRecords", QA_CSS: "_count" },
        { label: "總投注", name: "totalBets", QA_CSS: "_betAmount" },
        { label: "總有效投注", name: "validBets", QA_CSS: "_validBetAmount" },
        { label: "總派彩", name: "payout", QA_CSS: "_winLossAmount" },
        { label: "總盈虧", name: "winLossAmount", QA_CSS: "temp" },
        { label: "總損益", name: "profit", QA_CSS: "totalProfit" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            topAgentAccount: { label: x.agentAccount, uid: x.uid },
            currencyId: parseInt(x.currencyId),
            totalRecords: x.count,
            totalBets: this.getLocaleNumberFormat(x.betAmount),
            validBets: this.getLocaleNumberFormat(x.validBetAmount),
            payout: this.getPayoutFormatString(x.winAmount),
            winLossAmount: this.getPayoutFormatString(x.winLossAmount),
            profit: this.getPayoutFormatString(Number(x.winLossAmount * -1))
          }

          return result
        })
      } else {
        return []
      }
    },
    extraTableHeaders() {
      return [
        { label: "最高代理帳號", name: "topAgentAccount", QA_CSS: "_account" },
        { label: "幣別", name: "currencyLabel", QA_CSS: "_currency" },
        { label: "會員帳號", name: "playerAccount", QA_CSS: "_account" },
        { label: "總筆數", name: "totalRecords", QA_CSS: "_count" },
        { label: "總投注", name: "totalBets", QA_CSS: "_betAmount" },
        { label: "總有效投注", name: "validBets", QA_CSS: "_validBetAmount" },
        { label: "總派彩", name: "payout", QA_CSS: "_winLossAmount" },
        { label: "總盈虧", name: "winLossAmount", QA_CSS: "temp" },
        { label: "總損益", name: "profit", QA_CSS: "totalProfit" }
      ]
    },
    extraTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            topAgentAccount: x.agentAccount,
            currencyId: parseInt(x.currencyId),
            playerAccount: { label: x.account, uid: x.uid },
            totalRecords: x.count,
            totalBets: this.getLocaleNumberFormat(x.betAmount),
            validBets: this.getLocaleNumberFormat(x.validBetAmount),
            payout: this.getPayoutFormatString(x.winAmount),
            winLossAmount: this.getPayoutFormatString(x.winLossAmount),
            profit: this.getPayoutFormatString(Number(x.winLossAmount) * -1)
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: "報表功能", islink: false, path: "" },
        { title: "帳務統計", islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: "今天" },
        { code: "YESTERDAY", label: "昨天" },
        { code: "THIS_WEEK", label: "本周" },
        { code: "LAST_WEEK", label: "上周" },
        { code: "THIS_MONTH", label: "本月" },
        { code: "LAST_MONTH", label: "上月" }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInTotal",
        YESTERDAY: "btnYesterdayInTotal",
        THIS_WEEK: "btnThisWeekInTotal",
        LAST_WEEK: "btnLastWeekInTotal",
        THIS_MONTH: "btnThisMonInTotal",
        LAST_MONTH: "btnLastMonInTotal"
      }
    },
    betStatisticBar() {
      return {
        domId: {
          totalBets: "labBetAmountInTotal",
          validBets: "labValueBetInTotal",
          payout: "labResultAmountInTotal"
        }
      }
    },
    filterTypeList() {
      return [{ code: "TOP_AGENT_OVERVIEW" }, { code: "PLAYER_LIST" }, { code: "PLAYER_LIST_SINGLE" }]
    }
  },
  methods: {
    changeTimeMenu(code) {
      this.current.filterTypeCode = code
    },
    searchResultOnMemberbetRecordPage(playerAccount) {
      const payload = Object.assign(
        {},
        { ...this.searchConditionCache },
        { filterTypeCode: "TIME_RANGE", playerAccount: playerAccount, pagingIndex: 0 }
      )

      this.clearCacheSearchConditions()
      this.$store.dispatch("cache/setMemberBetRecordsListSearchConditions", payload)

      this.$router.replace({ name: "MemberBetRecords" })
    },
    setBetStatisticData(payload) {
      this.betStatisticData.totalBets = payload.betAmount
      this.betStatisticData.validBets = payload.validBetAmount
      this.betStatisticData.payout = payload.winAmount
      this.betStatisticData.winLossAmount = payload.winLossAmount
      this.betStatisticData.profit = Number(payload.winLossAmount * -1)
    },
    resetBetStatisticData() {
      const defaultValue = 0
      this.betStatisticData.totalBets = defaultValue
      this.betStatisticData.validBets = defaultValue
      this.betStatisticData.payout = defaultValue
      this.betStatisticData.winLossAmount = defaultValue
      this.betStatisticData.profit = defaultValue
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.startDate = result
    },
    setEndDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.endDate = result
    },
    setGameOrderState(payload) {
      this.current.gameOrderStates = payload
    },
    setTopAgentAccount(payload) {
      this.current.topAgentAccount = payload
    },
    setCurrency(payload) {
      this.current.currencyId = payload
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setFinanceStatisticsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeFinanceStatisticsListSearchConditions")
    },
    async validFilter() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
      this.resetBetStatisticData()
    },
    async submitSearch() {
      const validResult = await this.validFilter()

      if (validResult === true) {
        const mode = this.current.playerAccount ? this.filterTypeList[2].code : this.filterTypeList[0].code
        this.current.filterTypeCode = mode
        await this.fetchSearchResult()
      }
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TOP_AGENT_OVERVIEW":
          return await await getFinanceStatisticOverview(loginToken, payload)
        case "PLAYER_LIST":
          return await getFinanceStatisticPerPlayer(loginToken, payload)
        case "PLAYER_LIST_SINGLE":
          return await await getFinanceStatisticOverview(loginToken, payload)
      }
    },
    async fetchPlayerListResult() {
      this.current.filterTypeCode = this.filterTypeList[1].code

      const cacheData = this.getFetchListPayload({ isFromCacheConditions: true })
      const payload = Object.assign({}, { ...cacheData }, { filterTypeCode: this.filterTypeList[1].code })

      this.saveCacheSearchConditions(payload)

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)
          this.setBetStatisticData(data.extra)

          if (isSearchWithCacheConditions === false) {
            const currencyId = parseInt(data.rows[0].currencyId)
            this.saveCacheSearchConditions({ ...payload, currencyId })
          }
        } else {
          throw new Error("No return data")
        }
      } catch {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.finance-statistic
  &__table-row
    grid-template-columns repeat(8, 180px)

  &__extra-table-row
    grid-template-columns repeat(9, 180px)

  &__clickable
    color #303f9f
    text-decoration underline
    font-weight bold
    cursor pointer
</style>
