<template lang="pug">
.forget-password
  .form
    .form__content
      .form__title {{ title.key }}

      ValidationProvider(
        :rules="{ email:true, required:true, min:3, max:50 }"
        v-slot="{ errors, classes, validate }"
        ref="email"
      )
        input#iptEmail.input.form__input.form__item(
          type="text"
          v-model="inputEmail"
          :class="classes"
          placeholder="請輸入您的信箱"
        )

      .form__item.forget-password__button-bar
        router-link#btnPrevious.form__button.forget-password__go-back(:to="{ name: 'Login' }") 回上一頁
        #btnSendVerifyLink.form__button.primary-button.forget-password__send-link(
          @click="sendResetPasswordLink"
        ) 寄送驗證連結

    el-dialog(
      :visible.sync="showBox"
      v-if="showBox"
      width="350px"
      custom-class="panelEdit _c_dialog"
      :show-close="false"
      center
    )
      #divConfirmInForgot
        p 已成功將驗證連結寄送至信箱，
        p 請至信箱點選驗證連結，再重新設定密碼。
        span.dialog-footer.butBar(slot="footer")
          el-button#btnConfirmInForgot(
            type="primary"
            @click="sendLinkComplete"
          ) 確定
</template>

<script>
import { mapState } from "vuex"
import { ValidationProvider } from "vee-validate"
import { sendPasswordResetLink } from "@/api/User.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"

export default {
  metaInfo() {
    return {
      titleTemplate: "忘記密碼 %s"
    }
  },
  components: {
    ValidationProvider
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    inputEmail: "",
    showBox: false
  }),
  computed: {
    ...mapState("project", ["title"])
  },
  methods: {
    async validateEmailString() {
      const result = await Promise.all([this.$refs["email"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async sendResetPasswordLink() {
      const validResult = await this.validateEmailString()

      if (validResult !== true) return

      try {
        const result = await sendPasswordResetLink(this.inputEmail)

        if (result.exitCode === true) {
          this.showBox = true
        } else {
          throw new Error(this.parseErrorMessage(result))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    sendLinkComplete() {
      this.showBox = false
      this.$router.push({ name: "index" })
    }
  }
}
</script>

<style lang="stylus">
.forget-password
  display flex
  justify-content center
  align-items center
  height 100vh

  &__button-bar
    display flex
    justify-content space-between
    align-self center
    align-items center
    width 50%

  &__go-back
    width 30%
    border 1px solid #000000
    background #ffffff
    color #000000

  &__send-link
    width 60%
</style>
