<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <h1 id="labGameSetTitle">遊戲設定</h1>
    <div class="panelList" v-if="D_Mode.list">
      <div class="filter_bar _c_filterbar">
        <div class="_btn_c _add" @click="modeChange('add')" id="btnAddGameInGameSet">新增遊戲</div>
      </div>
      <div id="tabGameSet">
        <div class="t_f">
          <div class="_col f_a _gameType">遊戲名稱</div>
          <div class="_col f_b _gameTypeNickName">遊戲別名</div>
          <div class="_col f_c _gameTypeID">遊戲ID</div>
          <div class="_col f_e _playmethod">玩法</div>
          <div class="_col f_sort _arrange">
            <div
              class="_btn_c btnOrder"
              @click="todoSort();"
              :id="!m_sort?('btnEditSortInGameSet'):('btnSaveGameSort')"
            >
              <span v-if="!m_sort">編輯排序</span>
              <span v-if="m_sort">儲存排序</span>
            </div>
          </div>
          <div class="_col f_op _operate">操作</div>
        </div>
        <div class="t_d" v-for="(item, index) in D_GameTypeList">
          <div class="_col f_a _gameType">{{item.title}}</div>
          <div class="_col f_b _gameTypeNickName">{{item.alias}}</div>
          <div class="_col f_c _gameTypeID">{{item.code}}</div>
          <div class="_col f_e _playmethod">{{item.playModes | arrayToString}}</div>
          <div class="_col f_sort _arrange">
            <div :class="{sortUp:true,_up:true,_disabled:!item.sort.up || !m_sort}" @click="sort(item,-1)"></div>
            <div
              :class="{sortDown:true,_down:true,_disabled:!item.sort.down || !m_sort}"
              @click="sort(item,1)"
            ></div>
          </div>
          <div class="_col f_op _operate">
            <div class="_btn_c _edit" v-on:click="doEdit(item.uid);">編輯</div>
            <div class="_btn_c _edit" v-on:click="doDelGame(item.uid)">刪除</div>
          </div>
        </div>
      </div>
    </div>
    <c_gametypesettingaddedit
      v-if="!D_Mode.list"
      :prop_mode="D_Mode"
      :prop_loginToken="loginToken"
      :prop_gameTypeUid="gameTypeUidInEdit"
      @toExit="init();"
    ></c_gametypesettingaddedit>
  </div>
</template>

<script>
import GameTypeManager from "@/services/GameTypeManager"
import c_nav from "@/components/basic/nav.vue"
import c_gametypesettingaddedit from "@/components/common/GameTypeSetting/GameTypeSettingAddEdit.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "遊戲設定 %s"
    }
  },
  components: {
    c_nav,
    c_gametypesettingaddedit
  },
  data() {
    return {
      d_nav: [
        { title: "基本設定", islink: false, path: "" },
        { title: "遊戲設定", islink: true, path: this.$route.path }
      ], //導覽
      loginToken: this.$store.getters["member/loginToken"],
      gameTypeUidInEdit: "",
      D_GameTypeList: [],
      D_Mode: {
        edit: false,
        add: false,
        list: true
      },
      m_sort: false,
      _m_sort: false,
      postd: {}
    }
  },
  filters: {
    arrayToString: function(value) {
      var t = value.join("、")
      return t
    }
  },
  methods: {
    init() {
      this.get_gameList()
      this.modeChange("list")
      this.m_sort = this._m_sort
    },
    modeChange(item) {
      //切換模式
      var m = _.cloneDeep(this.$data.D_Mode)
      Object.keys(m).map(function(key, index) {
        m[key] = false
      })
      m[item] = true
      this.$data.D_Mode = m
    },
    completeDel() {
      this.get_gameList()
    },
    completeSortUpdate() {
      this.get_gameList()
    },
    doDelGame(uid) {
      //刪除遊戲

      var _this = this

      GameTypeManager.delGameType(this.$data.loginToken, uid)
        .then(function(res) {
          _this.completeDel()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    todoSort() {
      this.$data.m_sort = !this.$data.m_sort

      if (!this.$data.m_sort) {
        this.updateSort()
      }
    },
    updateSort() {
      var _this = this
      var d = []

      _.forEach(this.$data.D_GameTypeList, function(v, k) {
        d.push({
          uid: v.uid,
          orderId: k
        })
      })

      GameTypeManager.updateGameSort(this.$data.loginToken, d)
        .then(function(res) {
          _this.completeSortUpdate()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    doEdit(uid) {
      this.$data.gameTypeUidInEdit = uid
      this.modeChange("edit")
    },
    sortDtype(d) {
      //console.log(_.cloneDeep(d));

      _.forEach(d, function(v, k) {
        d[k].orderNum = k + 1
        d[k].sort = {
          up: k == 0 ? false : true,
          down: k == d.length - 1 ? false : true
        }
      })

      //console.log("sort d : ",_.cloneDeep(d));

      return d
    },
    sort(item, todo) {
      var state = todo == -1 ? item.sort.up : item.sort.down
      if (!state) return
      if (!this.$data.m_sort) return

      var d = _.cloneDeep(this.$data.D_GameTypeList)
      var uid = item.uid
      _.forEach(d, function(v, k) {
        switch (true) {
          case v.uid == uid:
            d[k].orderNum += todo
            d[k + todo].orderNum -= todo
            break
        }
      })

      d = _.orderBy(d, ["orderNum"], ["asc"])
      this.$data.D_GameTypeList = _.cloneDeep(this.sortDtype(d))
    },
    get_gameList() {
      //取得遊戲列表

      var _this = this

      GameTypeManager.getGameTypeList(this.$data.loginToken)
        .then(function(res) {
          _this.$data.D_GameTypeList = _this.sortDtype(res.rows)
        })
        .catch(function(err) {
          console.log(err)
        })
    }
  },
  computed: {},
  beforeCreate() {},
  created() {
    this.init()
  },
  watch: {
    "D_Mode.edit": function(val) {
      if (val) {
        this.$data.d_nav.push({ title: "編輯遊戲", islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    },
    "D_Mode.add": function(val) {
      if (val) {
        this.$data.d_nav.push({ title: "新增遊戲", islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    }
  }
}
</script>

<style lang="less">
</style>



<style lang="less" scoped>
@w : 1000px;

.filter_bar {
  width: @w;
  justify-content: flex-end;
}

._btn_c {
  width: 50px;
  background-color: #ffffff;
  color: #000000;

  &._add {
    width: 90px;
    background-color: #606060;
    color: #ffffff;
  }

  &._save {
    width: 90px;
    background-color: #ffffff;
    color: #000000;
  }

  &._edit {
    background-color: #606060;
    color: #ffffff;
  }

  &._doAdd {
    background-color: #606060;
    color: #ffffff;
  }

  &.btnOrder {
    width: 100px;
  }
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;

  ._col {
    height: auto;
    min-height: 35px;
    justify-content: center;
  }
}

.f_a {
  flex: 1 0;
}
.f_b {
  flex: 1 0;
}
.f_c {
  flex: 1 0;
}
.f_e {
  flex: 1 0;
}
.f_sort {
  flex: 1 0;
}
.f_op {
  flex: 1 0;
  &._col {
    justify-content: space-evenly;
  }
}

._srot() {
  background-image: url("../img/u3262.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 17px;
  display: inline-flex;
  width: 28px;
  height: 25px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
  margin: 0px 3px;
  cursor: pointer;
}

._disabled() {
  background-image: url("../img/u3259.png");
  background-color: rgba(242, 242, 242, 1);
  cursor: not-allowed;
}

.btnDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.sortUp {
  ._srot();
  &._disabled {
    ._disabled();
  }
}

.sortDown {
  ._srot();
  background-position: center 2px;
  transform: rotate(180deg);
  &._disabled {
    ._disabled();
  }
}

.f_h {
  flex: 1 0;
}

._col.active {
  color: #0000ff;
}

.isset {
  background-image: url("../img/isset.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.panelAdd {
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(121, 121, 121, 1);
  width: 723px;
  height: 489px;
  padding: 10px 30px;
  text-align: center;

  .opBar {
    margin-top: 50px;
    width: 100%;
  }

  .t_f {
    width: 100%;
  }

  .t_d {
    width: 100%;
    background-color: #ffffff;
  }

  ._col.f_a {
    max-width: 60px;
  }

  ._col.f_d {
    flex: 1 0;
  }
}

h2 {
  text-align: left;
  margin-bottom: 0px;
}

._row {
  width: 90%;
  display: flex;
  margin: 20px auto;
  text-align: left;

  ._title {
    width: 20%;
    font-weight: bold;
    color: #324243;
    display: inline-flex;
    align-items: center;
  }

  ._input {
    width: 80%;

    input[type="text"] {
      width: 200px;
      height: 30px;
      font-weight: 400;
      font-style: normal;
      font-size: 13px;
      text-decoration: none;
      box-sizing: border-box;
    }
  }
}
</style>
