<template lang="pug">
.game-type-manage
  Navbar(:prop_nav="navbarItems")      
  .main
    .header__title 遊戲設定

    .content(v-show="isDisplayMainPage === true")
      .game-type-manage__button-row
        .action-bar
          .action-bar__button(
            id="btnAddChar"
            @click="displayAddGameType"
          ) 新增桌種
        
      .report-table(
        id="tabAccountListInSubAccount"
        v-if="reportTableRows.length > 0"
      )
        .report-table__row.game-type-manage__table-row
          template(v-for="x in reportTableHeaders")

            .report-table__header-cell(
              v-if="x.name === 'sortingOrder'"
              :class="x.QA_CSS"
            )
              .game-type-manage__sorting-button(
                id="btnSaveCurrencySort"
                v-if="isSortingGameTypeOrder === true"
                @click="saveSortingGameTypeOrder"
              ) 儲存排序

              .game-type-manage__sorting-button(
                id="btnEditSortInCurrencySetting"
                v-else
                @click="activeSortingGameTypeOrder"
              ) 編輯排序

            .report-table__header-cell(
              v-else
              :class="x.QA_CSS"
            ) {{ x.label }}

        .report-table__row.game-type-manage__table-row(v-for="row, index in reportTableRows")  
          template(v-for="(value, key) in row")

            .report-table__cell(
              v-if="key === 'operates'"
              :class="getCSSForQA(key, reportTableHeaders)"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    :class="{'action-bar--disabled': isTheLastGameTypeRecord }"
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else-if="key === 'sortingOrder'"
              :class="getCSSForQA(key, reportTableHeaders)"
            )
              template(v-if="isSortingGameTypeOrder === true")
                .sorting-icon__up._up(
                  :class="{ 'sorting-icon--disabled': (index === 0) }"
                  @click="sortingOrder('UP', index)"
                )

                .sorting-icon__down.__down(
                  :class="{ 'sorting-icon--disabled': (index === resultRows.length - 1 ) }"
                  @click="sortingOrder('DOWN', index)"
                )

              template(v-if="isSortingGameTypeOrder === false")
                .sorting-icon__up.sorting-icon--disabled._up

                .sorting-icon__down.sorting-icon--disabled.__down

            .report-table__cell(
              v-else
              :class="getCSSForQA(key, reportTableHeaders)"
            ) {{ value }}

  AddGameType(
    :isDisplay="isDisplayAddGameType"
    @close="closeAddGameType"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import Navbar from "@/components/basic/nav.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import { mapState, mapGetters } from "vuex"
import { getGameTypeSetList, deletetGameType, modifyGameTypeOrder } from "@/api/Game.js"
import AddGameType from "@/components/common/GameTypeManage/AddGameType.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `遊戲設定 %s`
    }
  },
  components: {
    LoadingLock,
    Navbar,
    AddGameType
  },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  async mounted() {
    await this.fetchGameTypeList()
  },
  data: () => ({
    isLoading: false,
    isDisplayAddGameType: false,
    isSortingGameTypeOrder: false,
    resultRows: [],
    current: {
      gameTypeUid: ""
    }
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if (this.isDisplayAddGameType === false) {
        return true
      } else {
        return false
      }
    },
    navbarItems() {
      if (this.isDisplayAddGameType === true) {
        return [
          { title: "基本設定", islink: false, path: "" },
          { title: "遊戲設定", islink: true, path: this.$route.path },
          { title: "新增遊戲", islink: false, path: "" }
        ]
      } else {
        return [
          { title: "基本設定", islink: false, path: "" },
          { title: "遊戲設定", islink: true, path: this.$route.path }
        ]
      }
    },
    reportTableHeaders() {
      return [
        { label: "遊戲名稱", name: "gameTypeName", QA_CSS: "_countryName" },
        { label: "遊戲別名", name: "gameTypeNickName", QA_CSS: "_currencyName" },
        { label: "遊戲ID", name: "gameTypeCode", QA_CSS: "_currencyCode" },
        { label: "玩法", name: "playMethods", QA_CSS: "_currencyCode" },
        { label: "排序", name: "sortingOrder", QA_CSS: "_arrange" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    },
    isTheLastGameTypeRecord() {
      return this.resultRows.length === 1
    },
    tableActionItems() {
      return [{ name: "EDIT_GAME_TYPE", label: "編輯" }, { name: "DELETE_GAME_TYPE", label: "刪除" }]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const target = x.playModes.join("、")
          return {
            gameTypeName: x.title,
            gameTypeNickName: x.alias,
            gameTypeCode: x.code,
            playMethods: target,
            sortingOrder: "",
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    displayAddGameType() {
      this.isDisplayAddGameType = true
    },
    closeAddGameType() {
      this.isDisplayAddGameType = false
    },
    async fetchGameTypeList() {
      try {
        const res = await getGameTypeSetList(this.loginToken)

        if (res.exitCode === true) {
          this.resultRows = res.data.rows
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    activeSortingGameTypeOrder() {
      this.isSortingGameTypeOrder = true
    },
    sortingOrder(sortingMode, index) {
      switch (sortingMode) {
        case "UP":
          this.sortingUp(index)
          break
        case "DOWN":
          this.sortingDown(index)
          break
      }
    },
    sortingUp(index) {
      const maxIndex = this.resultRows.length - 1
      if (maxIndex > 0 && parseInt(index) > 0) {
        const current = this.resultRows[index]
        const target = this.resultRows[index - 1]

        const sortedRows = this.resultRows.map((x, rowIndex) => {
          if (rowIndex === index - 1) {
            return current
          } else if (rowIndex === index) {
            return target
          } else {
            return x
          }
        })

        this.resultRows = sortedRows
      }
    },
    sortingDown(index) {
      const maxIndex = this.resultRows.length - 1
      if (maxIndex > 0 && index < maxIndex) {
        const current = this.resultRows[index]
        const target = this.resultRows[index + 1]

        const sortedRows = this.resultRows.map((x, rowIndex) => {
          if (rowIndex === index + 1) {
            return current
          } else if (rowIndex === index) {
            return target
          } else {
            return x
          }
        })

        this.resultRows = sortedRows
      }
    },
    async saveSortingGameTypeOrder() {
      try {
        this.isLoading = true
        const payload = this.resultRows.map((x, index) => {
          return {
            uid: x.uid,
            orderId: index
          }
        })

        const res = await modifyGameTypeOrder(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isSortingGameTypeOrder = false
        await this.fetchGameTypeList()
        this.isLoading = false
      }
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_GAME_TYPE":
          this.editGameType(index)
          break
        case "DELETE_GAME_TYPE":
          this.deleteGameType(index)
          break
      }
    },
    async deleteGameType(index) {
      if (this.isTheLastCurrencyRecord === true)
        try {
          this.isLoading = true
          this.current.gameTypeUid = this.resultRows[index].uid
          const payload = { uid: this.current.gameTypeUid }
          const res = await deletetGameType(this.loginToken, payload)

          if (res.exitCode !== true) {
            throw new Error(this.parseErrorMessage(res))
          }
        } catch (err) {
          this.isLoading = false
          this.showErrorMessage(err)
        } finally {
          await this.fetchGameTypeList()
          this.isLoading = false
        }
    }
  }
}
</script>

<style lang="stylus">
@import "../styles/stylus/mixin/button.styl"

.game-type-manage
  &__table-row
    grid-template-columns repeat(6, 170px)

  &__frame
    width 725px

  &__frame-row
    margin-top 1rem

  &__input-row
    display flex
    align-items flex-end
    margin-top 1rem

  &__input-fields
    display flex

  &__input-group
    display flex
    flex-direction column
    flex-wrap wrap
    margin-right 1rem

  &__input-label
    margin-right 0.5rem
    margin-bottom 0.5rem

  &__add-button
    secondaryButton()

  &__sorting-button
    secondaryButton()
</style>