<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <div class="_viewPanel" v-if="mode.list">
      <h1 id="labTitleInBetLimit">遊戲限紅</h1>

      <div class="tabBar">
        <div
          :class="{_tab:true,active:item.active}"
          v-for="item in d_tabs"
          @click="switchTab(item);"
          :id="item._id"
        >{{item.title}}</div>
      </div>

      <div class="subPanel">
        <component
          :is="currentTabComponent"
          v-bind="currentProperties"
          @doAdd="doAdd"
          @doEdit="doEdit"
          @doView="doView"
          :prop_assignAgent="TaAgentUid"
          @setTaAgent="setTaAgent"
        ></component>
      </div>
    </div>
    <div class="_editPanel" v-if="mode.edit">
      <div class="_area">
        <div class="subTitle">投注限紅</div>
        <div class="subEdit">
          <div class="_row">
            <div class="_fTitle">編號：</div>
            <div
              v-if="!detail_panel.add"
              :id="editData.code == '0'?'labNoInBetLimitDetail':'labNoInEditBetLimit'"
            >{{(editData.code == '0')?'預設':editData.code}}</div>
            <input
              id="iptNoInAddBetLimit"
              type="text"
              class="inputCode"
              v-bind:class="{'_input':true,'v_error':V_err.has('n_code')}"
              v-validate="{integer:true,required:true,min_value:1,max_value:99}"
              name="n_code"
              maxlength="2"
              v-model="editData.code"
              v-if="detail_panel.add"
            />
          </div>
          <div class="_row">
            <div class="_fTitle">範圍：</div>
            <div :class="{_range:true,isEdit:true}">
              <div class="_fTitle">下限：</div>
              <div v-if="detail_panel.view" id="labMinLimitInBetLimitDetail">{{editData.lowerLimit}}</div>
              <input
                type="text"
                v-bind:class="{'_input':true,'v_error':V_err.has('n_lowerLimit')}"
                v-validate="{integer:true,required:true,min_value:1,max_value:9999999999,beginNoZero:true}"
                name="n_lowerLimit"
                maxlength="10"
                v-model="editData.lowerLimit"
                v-if="!detail_panel.view"
                :id="detail_panel.add?'iptMinLimitInAddBetLimit':'iptMinLimitInEditBetLimit'"
              />
            </div>~
            <div :class="{_range:true,isEdit:true}">
              <div class="_fTitle">上限：</div>
              <div v-if="detail_panel.view" id="labMaxLimitInBetLimitDetail">{{editData.upperLimit}}</div>
              <input
                type="text"
                v-bind:class="{'_input':true,'v_error':V_err.has('n_upperLimit')}"
                v-validate="{integer:true,required:true,min_value:LimitMin,max_value:9999999999,beginNoZero:true}"
                name="n_upperLimit"
                maxlength="10"
                v-model="editData.upperLimit"
                v-if="!detail_panel.view"
                :id="detail_panel.add?'iptMaxLimitInAddLimit':'iptMaxLimetInEditLimit'"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="_area">
        <div class="subTitle">注區限紅</div>
        <div class="subEdit">
          <div id="divSeleteGameType" class="gameType">
            <div
              v-for="(item,index) in D_gameType"
              :class="{ gameTypeItem:true, active:item.active,['btn_'+(index+1)]:true }"
              @click="changeGameType(item);"
            >{{item.title}}</div>
          </div>
          <div :id="detail_panel.add?'divGameTypeInAddBetLimit':'divGameTypeInEditBetLimit'" class="gameBetArea">
            <div class="t_f">
              <div class="_col f_a">注區賠率</div>
              <div class="_col f_b">Min (最低限紅)</div>
              <div class="_col f_c">Max (最高限紅)</div>
            </div>
            <div class="t_d" v-for="(item, index) in D_gameBetArea" :id="DomId_BetAreaLimit">
              <div class="_col f_a">{{item.rateGroup}}</div>
              <div class="_col f_b">{{item.lowerLimit}}</div>
              <div class="_col f_c">{{item.upperLimit}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="opbar">
        <div
          :class="{_btnV3:true}"
          v-on:click="cancelEdit();"
          v-if="!detail_panel.view"
          :id="detail_panel.add?'btnCancelInAddBetLimit':'btnCancelInEditBetLimit'"
        >取消</div>
        <div
          :class="{_btnV3:true}"
          v-on:click="cancelEdit();"
          v-if="detail_panel.view"
          id="btnCloseInBetLimitDetail"
        >關閉</div>
        <div
          :class="{_btnV3:true,_primary:true,_disabled:!isSave}"
          v-if="detail_panel.add"
          v-on:click="addTableLimit();"
          id="btnOKInAddBetLimit"
        >確認</div>
        <div
          :class="{_btnV3:true,_primary:true,_disabled:!isSave}"
          v-if="detail_panel.edit"
          v-on:click="updateTableLimit();"
          id="btnSaveInEditBetLimit"
        >儲存</div>
      </div>
    </div>
  </div>
</template>

<script>
import c_nav from "@/components/basic/nav.vue"
import GameLimitManager from "@/services/GameLimitManager"
import GameTypeManager from "@/services/GameTypeManager"
import c_agent from "@/components/common/GameLimit/GameLimitV2.agent.vue"
import c_global from "@/components/common/GameLimit/GameLimitV2.global.vue"


export default {
  metaInfo() {
    return {
      titleTemplate: "遊戲限紅 %s"
    }
  },
  components: {
    c_nav,
    c_agent,
    c_global
  },
  data() {
    return {
      d_nav: [
        { title: "遊戲管理", islink: false, path: "" },
        { title: "遊戲限紅", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      d_tabs: [
        {
          title: "限紅",
          active: true,
          panel: "c_agent",
          _id: "btnBetLimit"
        },
        {
          title: "其他設定",
          active: false,
          panel: "c_global",
          _id: "btnOtherSet"
        }
      ],
      mode: {
        list: true,
        edit: false
      },
      detail_panel: {
        add: false,
        edit: false,
        view: false
      },
      D_gameBetArea: [],
      _D_gameBetArea: [],
      gameSetUid: "",
      _gameSetUid: "",
      D_gameType: [],
      editData: {
        uid: "",
        code: "",
        lowerLimit: 0,
        upperLimit: 0
      },
      _editData: {
        code: "",
        uid: "",
        lowerLimit: 0,
        upperLimit: 0
      },
      d_agentGroupUid: "",
      LimitMin: 0,
      LimitMax: 0,
      LimitMaxDisabled: false,
      LimitMinDisabled: false,
      TaAgentUid: "",
      DomId_GameType: "",
      DomId_BetAreaLimit: ""
    }
  },
  methods: {
    init() {},
    resetEdit() {
      this.$data.editData = _.cloneDeep(this.$data._editData)
      this.$data.gameSetUid = this.$data._gameSetUid
      this.$data.D_gameBetArea = _.cloneDeep(this.$data._D_gameBetArea)
    },
    cancelEdit() {
      this.changeMode("list")
    },
    setTaAgent(val) {
      this.$data.TaAgentUid = val
    },
    doEdit(ta, agentGroupUid) {
      this.$data.editData = _.cloneDeep(ta)
      this.$data.d_agentGroupUid = agentGroupUid
      this.$data.DomId_GameType = "divGameTypeInEditBetLimit"
      this.$data.DomId_BetAreaLimit = "divBetAreaLimitInEditBetLimit"
      this.changeDetail_panel("edit")
      this.changeMode("edit")
    },
    doAdd(agentGroupUid) {
      this.$data.d_agentGroupUid = agentGroupUid
      this.$data.DomId_GameType = "divGameTypeInAddBetLimit"
      this.$data.DomId_BetAreaLimit = "divBetAreaLimitInAddBetLimit"
      this.changeDetail_panel("add")
      this.changeMode("edit")
    },
    doView(ta) {
      this.$data.editData = _.cloneDeep(ta)
      this.$data.DomId_GameType = "divGameTypeInBetLimitDetail"
      this.$data.DomId_BetAreaLimit = "divBetAreaLimitInBetLimitDetail"
      this.changeDetail_panel("view")
      this.changeMode("edit")
    },
    addTableLimit() {
      if (!this.isSave) return

      var _this = this
      var d = {
        agentGroupUid: this.d_agentGroupUid,
        code: this.$data.editData.code,
        lowerLimit: this.$data.editData.lowerLimit,
        upperLimit: this.$data.editData.upperLimit
      }

      GameLimitManager.addTableLimit(this.loginToken, d)
        .then(function(res) {
          _this.changeMode("list")
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    updateTableLimit() {
      if (!this.isSave) return

      var _this = this
      var d = {
        uid: this.$data.editData.uid,
        lowerLimit: this.$data.editData.lowerLimit,
        upperLimit: this.$data.editData.upperLimit
      }

      GameLimitManager.updateTableLimit(this.loginToken, d)
        .then(function(res) {
          _this.changeMode("list")
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    changeDetail_panel(item) {
      var detail_panel = _.cloneDeep(this.$data.detail_panel)
      _.forEach(detail_panel, function(v, k) {
        detail_panel[k] = false
      })
      detail_panel[item] = true

      this.$data.detail_panel = _.cloneDeep(detail_panel)
    },
    changeMode(item) {
      var mode = _.cloneDeep(this.$data.mode)
      _.forEach(mode, function(v, k) {
        mode[k] = false
      })
      mode[item] = true

      this.$data.mode = _.cloneDeep(mode)
    },
    switchTab(item) {
      if (item.active) return
      var tabs = _.cloneDeep(this.$data.d_tabs)

      _.forEach(tabs, function(v, k) {
        tabs[k].active = false
        if (JSON.stringify(item) == JSON.stringify(v)) {
          tabs[k].active = true
        }
      })

      this.$data.d_tabs = _.cloneDeep(tabs)
      this.$data.TaAgentUid = ""
    },
    changeGameType(item) {
      this.$data.gameSetUid = item.uid
    },
    getGameType() {
      var _this = this
      GameTypeManager.getGameTypeList(this.loginToken)
        .then(function(res) {
          _this.$data.D_gameType = _.cloneDeep(res.rows)
          _this.$data.gameSetUid = res.rows[0].uid
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    getTrialLimit() {
      this.$data.D_gameBetArea = _.cloneDeep(this.$data._D_gameBetArea)

      if (!this.isGetTrial) return
      if (this.$data.gameSetUid == "") return

      var d = {
        gameSetUid: this.$data.gameSetUid,
        lowerLimit: this.$data.editData.lowerLimit,
        upperLimit: this.$data.editData.upperLimit
      }

      var _this = this
      var _Loading = this.$Loading.service({ customClass: "_loading" })
      this.$data.LimitMinDisabled = true
      this.$data.LimitMaxDisabled = true

      GameLimitManager.getTrialLimit(this.loginToken, d)
        .then(function(res) {
          var dd = {}

          _.forEach(res.playModes, function(v1, k1) {
            _.forEach(v1.betAreas, function(v, k) {
              dd[v.limitRate] = dd[v.limitRate] || {
                limitRate: [],
                lowerLimit: v.lowerLimit,
                upperLimit: v.upperLimit,
                rateGroup: ""
              }
              if (dd[v.limitRate].limitRate.indexOf(v.rate) == -1) {
                dd[v.limitRate].limitRate.push(v.rate)
              }
              dd[v.limitRate].rateGroup = dd[v.limitRate].limitRate.join(",")
            })
          })

          _this.$data.D_gameBetArea = _.cloneDeep(dd)

          var a1 = setTimeout(function() {
            _Loading.close()
            _this.$data.LimitMinDisabled = false
            _this.$data.LimitMaxDisabled = false
          }, 500)
        })
        .catch(function(err) {
          _Loading.close()
          _this.$data.LimitMinDisabled = false
          _this.$data.LimitMaxDisabled = false
          console.log(err)
        })
    }
  },
  computed: {
    currentTabComponent() {
      var panel = "",
        tabs = this.$data.d_tabs

      tabs.forEach(function(v, k) {
        if (v.active) {
          panel = v.panel
          return false
        }
      })

      return panel
    },
    currentProperties() {
      var re = {
        prop_loginToken: this.loginToken
      }

      return re
    },
    isSave() {
      var state = true

      _.forEach(this.V_fields, function(v, k) {
        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      return state
    },
    isGetTrial() {
      var state = true

      var _field = ["n_lowerLimit", "n_upperLimit"]
      _.forEach(this.V_fields, function(v, k) {
        if (_field.indexOf(k) == -1) {
          return true
        }

        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      /*
				if((editData.upperLimit == "" ) || (editData.lowerLimit == ""))
				{

				}
				*/
      if (state) {
        var editData = this.$data.editData
        if (parseInt(editData.upperLimit) == 0 || parseInt(editData.lowerLimit) == 0) {
          state = false
        }
      }

      return state
    }
  },
  watch: {
    detail_panel(val) {
      switch (true) {
        case val.view:
          this.$data.d_nav.push({ title: "限紅詳情", islink: false, href: "" })
          break

        case val.add:
          this.$data.d_nav.push({ title: "新增遊戲限紅", islink: false, href: "" })
          break

        case val.edit:
          this.$data.d_nav.push({ title: "編輯遊戲限紅", islink: false, href: "" })
          break
      }
    },
    "mode.edit": function(val) {
      if (val) {
        this.getGameType()
      } else {
        this.resetEdit()

        //nav
        this.$data.d_nav.pop()
      }
    },
    gameSetUid(val) {
      if (val == "") return
      var d = _.cloneDeep(this.$data.D_gameType)

      _.forEach(d, function(v, k) {
        if (v.uid == val) d[k].active = true
        else d[k].active = false
      })

      this.$data.D_gameType = _.cloneDeep(d)

      this.getTrialLimit()
    },
    "editData.lowerLimit": function(val) {
      if (val == "") return

      var reg = /^[\d]+$/

      if (!reg.test(val)) {
        return
      }

      this.$data.LimitMin = parseInt(val) + 1
      var _this = this

      //需要一段時間，讓驗證欄位程序，寫入正確的植

      var a1 = setTimeout(function() {
        _this.getTrialLimit()
      }, 100)
    },
    "editData.upperLimit": function(val) {
      var reg = /^[\d]+$/

      if (this.$data.editData.lowerLimit == "") return

      if (!reg.test(this.$data.editData.lowerLimit)) {
        return
      }

      if (val == "") return
      if (!reg.test(val)) {
        return
      }

      //if(!this.isGetTrial) return ;
      this.$data.LimitMin = parseInt(this.$data.editData.lowerLimit) + 1

      var _this = this
      //需要一段時間，讓驗證欄位程序，寫入正確的植
      var a1 = setTimeout(function() {
        _this.getTrialLimit()
      }, 100)
    }
  },
  created() {}
}
</script>

<style lang="less" scoped>
._c_dialog {
  background-color: transparent;
}

@w: 648px;

.tabBar {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: @w;
  top: 1px;

  ._tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 24px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    background-color: rgba(242, 242, 242, 1);
    cursor: pointer;

    &.active {
      width: 84px;
      height: 30px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-width: 0px;

      cursor: default;
    }
  }
}

.subPanel {
  width: @w;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
}

.subTitle {
  background-color: rgba(102, 102, 102, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 170px;
  padding-left: 10px;
  height: 28px;
}

.subEdit {
  background-color: rgba(228, 228, 228, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  min-height: 71px;
  width: 100%;
  padding: 30px;
  position: relative;
}

._area {
  margin: auto auto 30px auto;
  width: 90%;

  ._op {
    display: flex;
    position: absolute;
    right: 10px;
  }
}

._range {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  height: 30px;
  display: inline-flex;
  align-items: center;
  margin: auto 5px;
  min-width: 140px;

  &.isEdit {
    border-color: rgba(161, 161, 161, 1);
    background-color: #ffffff;
  }

  input[type="text"] {
    border-color: transparent;

    &.v_error {
      border-color: red;
    }
  }

  ._fShow {
    padding-left: 3px;
  }

  ._fTitle {
    padding-left: 5px;
  }
}

._row {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 45px;
}

.v1 {
  height: 30px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

.w1 {
  width: 100px;
}

._fTitle {
  .v1();
}

._fShow {
  .v1();
  .w1();
  padding-left: 3px;
}

input[type="text"] {
  .v1();
  .w1();
}

._editPanel {
  width: @w;
  margin-top: 30px;
  border: 1px solid #cccccc;
  padding-top: 30px;
  background-color: #f2f2f2;
}

.gameType {
  display: inline-flex;
  flex-direction: column;
  width: 120px;

  .gameTypeItem {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 13px;

    &.active {
      background-color: #606060;
      color: #ffffff;
      cursor: default;
    }
  }
}

.gameBetArea {
  display: inline-flex;
  flex-wrap: wrap;
  @w2 : 350px;
  width: @w2;

  .t_f {
    width: @w2;
  }

  .t_d {
    width: @w2;
  }
}

.inputCode {
  border: 1px solid #a1a1a1;
  background-color: #ffffff;
  margin-left: 5px;

  &.v_error {
    border: 2px solid red;
  }
}

.opbar {
  text-align: center;
  margin-bottom: 50px;
}
</style>

