<template lang="pug">
.game-table-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title 桌種設定

    .content(v-show="isDisplayMainPage === true")
      .game-table-manage__button-row
        .action-bar
          .action-bar__button(
            id="btnAddChar"
            @click="displayAddGameTable"
          ) 新增桌種
        
        .action-bar.__button-row(v-if="isSortingGameTableOrder === true")
          .action-bar__button(
            id="btnEditChar"
            @click="saveSortingGameTableOrder"
          ) 儲存編輯

        .action-bar.__button-row(v-else)
          .action-bar__button(
            id="btnEditChar"         
            @click="activeSortingGameTableOrder"
          ) 編輯桌種

      .report-table(
        id="tabAccountListInSubAccount"
        v-if="reportTableRows.length > 0"
      )

        .report-table__row.game-table-manage__table-row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
            :class="x.QA_CSS"
          ) {{ x.label }}

        .report-table__row.game-table-manage__table-row(v-for="(row, index) in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'extra0'"
            ) 
              template(v-if="isSortingGameTableOrder === true")
                input(
                  type="checkbox"
                  :value="value.uid"
                  v-model="gameTableListResult[index].properties"
                )

              template(v-else)
                .check-icon(v-if="getExtraColumnMappingResult(value)")
                p(v-else) &nbsp;

            .report-table__cell(
              v-else-if="key === 'extra1'"
            )
              template(v-if="isSortingGameTableOrder === true")
                input(
                  type="checkbox"
                  :value="value.uid"
                  v-model="gameTableListResult[index].properties"
                )

              template(v-else)  
                .check-icon(v-if="getExtraColumnMappingResult(value)")
                p(v-else) &nbsp;

            .report-table__cell(
              v-else-if="key === 'sortingOrder'"
            )
              template(v-if="isSortingGameTableOrder === true")
                .sorting-icon__up._up(
                  :class="{ 'sorting-icon--disabled': (index === 0) }"
                  @click="sortingOrder('UP', index)"
                )

                .sorting-icon__down.__down(
                  :class="{ 'sorting-icon--disabled': (index === gameTableListResult.length - 1 ) }"
                  @click="sortingOrder('DOWN', index)"
                )

              template(v-if="isSortingGameTableOrder === false")
                .sorting-icon__up.sorting-icon--disabled._up

                .sorting-icon__down.sorting-icon--disabled.__down

            .report-table__cell(
              v-else-if="key === 'operates'"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    :class="{'action-bar--disabled': isTheLastGameTableRecord }"
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else
            ) {{ value }}

  AddGameTable(
    :isDisplay="isDisplayAddGameTable"
    :targetData="gameTableMetaResult"
    @close="closeAddGameTable"
    @requestSuccess="fetchGameTableList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")            
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import Navbar from "@/components/basic/nav.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState, mapGetters } from "vuex"
import { getGameTableList, getGameTableMeta, deleteGameTable, modifyGameTable } from "@/api/Game.js"

import AddGameTable from "@/components/common/GameTableManage/AddGameTable.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `桌種設定 %s`
    }
  },
  components: {
    LoadingLock,
    Navbar,
    AddGameTable
  },
  mixins: [ErrorMessageMixin],
  async mounted() {
    await this.fetchGameTableList()
  },
  data: () => ({
    isLoading: false,
    isDisplayAddGameTable: false,
    isSortingGameTableOrder: false,
    gameTableListResult: [],
    gameTableMetaResult: [],
    isSortingCurrencyOrder: false,
    current: {
      gameTableUid: "",
      gameTableListResult: []
    },
    tempMap: new Map([
      ["ATTR_PEEKTIME", { QA_CSS: "_peekTime", key: "peekTime" }],
      ["ATTR_PAIRTABLESEAT", { QA_CSS: "_pairTableSeat", key: "pairTableSeat" }]
    ])
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if (this.isDisplayAddGameTable === false) {
        return true
      } else {
        return false
      }
    },
    navbarItems() {
      if (this.isDisplayAddGameTable === true) {
        return [
          { title: "基本設定", islink: false, path: "" },
          { title: "桌種設定", islink: true, path: this.$route.path },
          { title: "新增桌種", islink: false, path: "" }
        ]
      } else {
        return [
          { title: "基本設定", islink: false, path: "" },
          { title: "桌種設定", islink: true, path: this.$route.path }
        ]
      }
    },
    reportTableHeaders() {
      const TableHeader = [
        { label: "桌種名稱", name: "gameTable", QA_CSS: "_tableType" },
        { label: "桌種別名", name: "gameTableNickName", QA_CSS: "_tableTypeNickName" },
        { label: "桌種ID", name: "gameTableID", QA_CSS: "_tableTypeID" }
      ]

      const TableHeaderAction = [
        { label: "排序", name: "sortingOrder", QA_CSS: "_arrange" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]

      if (this.gameTableMetaResult.length > 0) {
        const TableHeaderProperties = this.gameTableMetaResult
          .filter(x => this.tempMap.get(x.alias) !== undefined)
          .map(x => {
            const result = this.tempMap.get(x.alias)
            const tempObject = { label: x.title, name: result.key, QA_CSS: result.QA_CSS }

            return tempObject
          })

        return [...TableHeader, ...TableHeaderProperties, ...TableHeaderAction]
      } else {
        return []
      }
    },
    isTheLastGameTableRecord() {
      return this.gameTableListResult.length === 1
    },
    tableActionItems() {
      return [{ name: "DELETE_ACCOUNT", label: "刪除" }]
    },
    reportTableRows() {
      if (this.gameTableListResult.length > 0) {
        return this.gameTableListResult.map(x => {
          const gameTableList = {
            gameTable: x.title,
            gameTableNickName: x.alias,
            gameTableID: x.code
          }

          const gameTableActionList = {
            sortingOrder: "",
            operates: this.tableActionItems
          }

          const extraColumns = this.gameTableMetaResult.map((e, index) => {
            return { ["extra" + index]: { uid: e.uid, target: x.properties } }
          })

          const temp = extraColumns.reduce((acc, a) => {
            return Object.assign({}, acc, a)
          })

          return Object.assign({}, gameTableList, temp, gameTableActionList)
        })
      } else {
        return []
      }
    }
  },
  methods: {
    displayAddGameTable() {
      this.isDisplayAddGameTable = true
    },
    closeAddGameTable() {
      this.isDisplayAddGameTable = false
    },
    sortingOrder(sortingMode, index) {
      switch (sortingMode) {
        case "UP":
          this.sortingUp(index)
          break
        case "DOWN":
          this.sortingDown(index)
          break
      }
    },
    sortingUp(index) {
      const maxIndex = this.gameTableListResult.length - 1
      if (maxIndex > 0 && parseInt(index) > 0) {
        const current = this.gameTableListResult[index]
        const target = this.gameTableListResult[index - 1]

        const sortedRows = this.gameTableListResult.map((x, rowIndex) => {
          if (rowIndex === index - 1) {
            return current
          } else if (rowIndex === index) {
            return target
          } else {
            return x
          }
        })

        this.gameTableListResult = sortedRows
      }
    },
    sortingDown(index) {
      const maxIndex = this.gameTableListResult.length - 1
      if (maxIndex > 0 && index < maxIndex) {
        const current = this.gameTableListResult[index]
        const target = this.gameTableListResult[index + 1]

        const sortedRows = this.gameTableListResult.map((x, rowIndex) => {
          if (rowIndex === index + 1) {
            return current
          } else if (rowIndex === index) {
            return target
          } else {
            return x
          }
        })

        this.gameTableListResult = sortedRows
      }
    },
    getExtraColumnMappingResult(data) {
      const { uid, target } = data
      return target.includes(uid)
    },
    async fetchGameTableList() {
      try {
        const [list, meta] = await Promise.all([getGameTableList(this.loginToken), getGameTableMeta(this.loginToken)])

        if (list.exitCode === true && meta.exitCode === true) {
          this.gameTableListResult = list.data.rows
          this.gameTableMetaResult = meta.data.rows
        } else {
          if (list.exitCode !== true) throw new Error(this.parseErrorMessage(list))
          if (meta.exitCode !== true) throw new Error(this.parseErrorMessage(meta))
        }
      } catch (err) {
        this.resetSearchResult()
        this.showErrorMessage(err)
      }
    },
    resetSearchResult() {
      //reset to default view
      this.gameTableListResult = []
      this.gameTableMetaResult = []
    },
    async saveSortingCurrencyOrder() {},
    actionHandler(key, index) {
      switch (key) {
        case "DELETE_ACCOUNT":
          this.deleteGameTable(index)
          break
      }
    },
    async deitGameTable(index) {
      this.current.gameTableUid = this.gameTableListResult[index].uid
      if (this.isTheLastGameTableRecord === true) return
      try {
        this.isLoading = true
        const res = await deleteGameTable(this.loginToken, this.current.gameTableUid)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        await this.fetchGameTableList()
        this.isLoading = false
      }
    },
    activeSortingGameTableOrder() {
      this.isSortingGameTableOrder = true
    },
    async saveSortingGameTableOrder() {
      try {
        this.isLoading = true
        const payload = this.gameTableListResult.map((x, index) => {
          return {
            uid: x.uid,
            properties: x.properties,
            sortId: index
          }
        })

        const res = await modifyGameTable(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isSortingGameTableOrder = false
        await this.fetchGameTableList()
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.game-table-manage
  &__table-row
    grid-template-columns repeat(7, 150px)

  &__frame
    width 725px

  &__frame-row
    margin-top 1rem

  &__button-row
    display flex
    align-items flex-end
    margin-top 1rem

  &__input-fields
    display flex

  &__input-group
    display flex
    flex-direction column
    flex-wrap wrap
    margin-right 1rem

  &__input-label
    margin-right 0.5rem
    margin-bottom 0.5rem

  &__add-button
    secondaryButton()

  &__sorting-button
    secondaryButton()
</style>