<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <h1 id="labRoomManageTitle">廳館管理</h1>
    <div class="panelList">
      <div class="filter_bar _c_filterbar">
        <div class="_btn_c _add" id="btnAddRoom" v-on:click="dialogAdd = true">新增廳館</div>
        <div class="_btn_c_v1" id="btnDeleteInRoomManage" v-on:click="checkToDo('del')">刪除</div>
        <div class="_btn_c_v1" id="btnOpenInRoomManage" v-on:click="checkToDo('on')">開放</div>
        <div class="_btn_c_v1" id="btnCloseInRoomManage" v-on:click="checkToDo('off')">關閉</div>
      </div>
      <div id="tabRoom">
        <div class="t_f">
          <div class="_col f_a _checkList">勾選</div>
          <div class="_col f_b _roomName">廳館名稱</div>
          <div class="_col f_c _livePlace">現場位置名稱</div>
          <div class="_col f_d _livePlaceID">現場位置代號</div>
          <div class="_col f_e _arrange">
            <div
              v-if="editSortMode == false"
              class="_btn_c btnOrder"
              id="btnEditSortInRoomManage"
              @click="editSortMode = true"
            >
              編輯排序
            </div>
            <div v-else class="_btn_c btnOrder" @click="getHall_orderSet()">儲存排序</div>
          </div>
          <div class="_col f_f _status">狀態</div>
          <div class="_col f_g _operate">操作</div>
        </div>
        <div class="t_d" v-for="(item, index) in C_Halls">
          <div class="_col f_a _checkList">
            <input type="checkbox" v-model="selected_hall" :value="item.uid" />
          </div>
          <div class="_col f_b _roomName">{{ item.title }}</div>
          <div class="_col f_c _livePlace">{{ item.casinoLocationTitle }}</div>
          <div class="_col f_d _livePlaceID">{{ item.casinoLocationCode }}</div>
          <div class="_col f_e _arrange">
            <div
              class="_up"
              :class="{ sortUp: true, _disabled: item.sortUpStatus || !editSortMode }"
              @click="sort(index, 'up')"
            ></div>
            <div
              class="_down"
              :class="{ sortDown: true, _disabled: item.sortDownStatus || !editSortMode }"
              @click="sort(index, 'down')"
            ></div>
          </div>
          <div class="_status" :class="{ _col: true, f_f: true, active: item.locked === '0' }">
            {{ item.locked | stateText1 }}
          </div>
          <div class="_col f_g _operate">
            <div class="_btn_c _edit" v-on:click="doEdit(item.uid)">編輯</div>
          </div>
        </div>
      </div>
    </div>

    <el-dialog
      :visible.sync="dialogAdd"
      v-if="dialogAdd"
      width="600px"
      :show-close="false"
      custom-class="dialogAdd_1536552214157 _c_dialog _noHeader"
      center
    >
      <div id="divAddRoom">
        <div class="d_header">
          <div class="_title">新增廳館</div>
        </div>
        <hr />
        <div class="c_f">
          <div class="input_t">廳館名稱 :</div>
          <div class="input_d">
            <input
              id="iptRoomNameInAddRoom"
              type="text"
              v-model="hall_name"
              maxlength="10"
              v-bind:class="{ _input: true, v_error: V_err.has('hall_name') }"
              v-validate="{ AlphaNumChinese: true, required: true, max: 10, min: 4 }"
              name="hall_name"
            />
          </div>
        </div>
        <div class="c_f">
          <div class="input_t">現場位置名稱 :</div>
          <div class="input_d">
            <select id="selSitePosNameInAddRoom" v-model="casinoLocations.uid">
              <option v-for="(item, index) in C_casinoLocations" :value="item.uid">{{ item.title }}</option>
            </select>
          </div>
        </div>
        <div class="c_f">
          <div class="input_t">現場位置代號 :</div>
          <div class="input_d" id="labSitePosNoInAddRoom">{{ casinoLocations.code }}</div>
        </div>
        <div class="c_f">
          <div class="input_t">是否為手臂廳 :</div>
          <input type="checkbox" v-model="isRobotArm" />
        </div>
        <span slot="footer" class="dialog-footer butBar_c">
          <el-button id="btnCancelInAddRoom" @click="dialogAdd = false">取消</el-button>
          <el-button type="primary" id="btnCreateInAddRoom" @click="getHall_add()">新增</el-button>
        </span>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="dialogEdit"
      v-if="dialogEdit"
      width="600px"
      :show-close="false"
      custom-class="dialogEdit_1536552214157 _c_dialog _noHeader"
      center
    >
      <div id="divEditRoom">
        <div class="d_header">
          <div class="_title">編輯廳館</div>
        </div>
        <hr />
        <div class="c_f">
          <div class="input_t">廳館名稱 :</div>
          <div class="input_d">
            <input
              type="text"
              id="iptRoomNameInEditRoom"
              v-model="EditingItem.title"
              maxlength="10"
              v-bind:class="{ _input: true, v_error: V_err.has('themeName') }"
              v-validate="{ AlphaNumChinese: true, required: true, max: 10, min: 4 }"
              name="themeName"
            />
          </div>
        </div>
        <div class="c_f">
          <div class="input_t">現場位置名稱:</div>
          <div class="input_d" id="labSitePosNameInEditRoom">{{ EditingItem.L_title }}</div>
        </div>
        <div class="c_f">
          <div class="input_t">現場位置代號 :</div>
          <div class="input_d" id="labSitePosNoInEditRoom">{{ EditingItem.L_code }}</div>
        </div>
        <div class="c_f">
          <div class="input_t">是否為手臂廳 :</div>
          <input type="checkbox" v-model="EditingItem.L_isRobotTheme" disabled="disabled" />
        </div>
        <span slot="footer" class="dialog-footer butBar_c">
          <el-button id="btnCancelInEditRoom" @click="dialogEdit = false">取消</el-button>
          <el-button type="primary" id="btnCreateInEditRoom" @click="getHall_modify()">儲存</el-button>
        </span>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="pwdVisible"
      v-if="pwdVisible"
      width="480px"
      custom-class="panelEdit _c_dialog _noHeader"
      :show-close="false"
      :before-close="handleClose"
      center
    >
      <div id="divDeleteRoom" v-show="todo === 'del'">
        <div class="c_note">請確認是否執行，請輸入您的使用者密碼。</div>

        <div class="reCheckPwd">
          <input
            type="password"
            v-model="pwdAgain"
            id="iptPwdInDeleteRoom"
            v-validate="{ requiredAllowSpace: true, required: true, min: 6, max: 12 }"
            v-bind:class="{ _input: true, v_error: V_err.has('reCheckPwd') }"
            name="reCheckPwd"
          />
        </div>
        <span slot="footer" class="dialog-footer butBar_c">
          <el-button @click="cancelOp()" id="btnCancelInDeleteRoom">取消</el-button>
          <el-button type="primary" @click="Hall_update()" id="btnSaveInDeleteRoom">確定</el-button>
        </span>
      </div>

      <div id="divOpenRoom" v-show="todo === 'on'">
        <div class="c_note">請確認是否執行，請輸入您的使用者密碼。</div>

        <div class="reCheckPwd">
          <input
            type="password"
            v-model="pwdAgain"
            id="iptPwdInOpenRoom"
            v-validate="{ requiredAllowSpace: true, required: true, min: 6, max: 12 }"
            v-bind:class="{ _input: true, v_error: V_err.has('reCheckPwd') }"
            name="reCheckPwd"
          />
        </div>
        <span slot="footer" class="dialog-footer butBar_c">
          <el-button @click="cancelOp()" id="btnCancelInOpenRoom">取消</el-button>
          <el-button type="primary" @click="Hall_update()" id="btnSaveInOpenRoom">確定</el-button>
        </span>
      </div>

      <div id="divCloseRoom" v-show="todo === 'off'">
        <div class="c_note">請確認是否執行，請輸入您的使用者密碼。</div>

        <div class="reCheckPwd">
          <input
            type="password"
            v-model="pwdAgain"
            id="iptPwdInCloseRoom"
            v-validate="{ requiredAllowSpace: true, required: true, min: 6, max: 12 }"
            v-bind:class="{ _input: true, v_error: V_err.has('reCheckPwd') }"
            name="reCheckPwd"
          />
        </div>
        <span slot="footer" class="dialog-footer butBar_c">
          <el-button @click="cancelOp()" id="btnCancelInCloseRoom">取消</el-button>
          <el-button type="primary" @click="Hall_update()" id="btnSaveInCloseRoom">確定</el-button>
        </span>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import c_nav from "@/components/basic/nav.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "廳館管理 %s"
    }
  },
  components: {
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "遊戲管理", islink: false, path: "" },
        { title: "廳館管理", islink: false, path: "" }
      ],
      dialogAdd: false,
      dialogEdit: false,
      editSortMode: false,
      loginToken: this.$store.getters["member/loginToken"],
      hall_name: "",
      casinoLocations: {
        uid: "",
        code: "",
        gameVendorTitle: ""
      },
      selected_hall: [],
      todo: "",
      pwdVisible: false,
      pwdAgain: "",
      EditingItem: {
        title: "",
        uid: "",
        L_id: "",
        L_code: "",
        L_gVtitle: "",
        L_title: "",
        L_isRobotTheme: ""
      },
      repassword: "",
      isRobotArm: false
    }
  },
  filters: {
    stateText1: function(value) {
      var t = value === "0" ? "開放" : "關閉"
      return t
    }
  },
  methods: {
    handleClose() {
      this.$data.pwdVisible = false
    },
    init() {
      this.$data.hall_name = ""
      this.getHallList()
      this.getCasinoLocationList()
    },
    doEdit(uid) {
      this.$data.dialogEdit = true
      var _this = this
      var halls = this.$store.getters["game/Get_halls"]

      _.forEach(halls, function(v, k) {
        if (v.uid == uid) {
          const themeTypeId = parseInt(v.themeTypeId)

          var E = {
            title: v.title,
            L_code: v.casinoLocationCode,
            L_gVtitle: v.gameVendorTitle,
            L_title: v.casinoLocationTitle,
            L_id: v.casinoLocationUid,
            uid: uid,
            L_isRobotTheme: themeTypeId === 1 ? true : false
          }

          _this.EditingItem = E

          return false
        }
      })
    },
    cancelOp() {
      this.$data.pwdVisible = false
      this.$data.pwdAgain = ""
    },
    resetData() {
      this.$data.pwdVisible = false
      this.$data.selected_hall = []
      this.$data.pwdAgain = ""
    },
    checkToDo(opItem) {
      var uidList = this.$data.selected_hall
      if (uidList.length < 1) return

      this.$data.pwdVisible = true

      switch (opItem) {
        case "del":
          break

        case "on":
          break

        case "off":
          break
      }

      this.$data.todo = opItem
    },
    Hall_update() {
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }

        var todo = _this.$data.todo

        switch (todo) {
          case "del":
            _this.Hall_del()
            break

          case "on":
            _this.Hall_on()
            break

          case "off":
            _this.Hall_off()
            break
        }
      })
    },
    Hall_del() {
      var _this = this
      var uidList = this.$data.selected_hall

      GameManager.getHall_del(this.loginToken, this.$data.pwdAgain, uidList)
        .then(function(res) {
          _this.getHallList()
          _this.resetData()
          //_this.$data.selected_hall = [];
        })
        .catch(function(error) {})
    },
    Hall_on() {
      var _this = this
      var uidList = this.$data.selected_hall

      GameManager.getHall_unlock(this.loginToken, this.$data.pwdAgain, uidList)
        .then(function(res) {
          _this.getHallList()
          //_this.$data.selected_hall = [];
          _this.resetData()
        })
        .catch(function(error) {})
    },
    Hall_off() {
      var _this = this
      var uidList = this.$data.selected_hall

      GameManager.getHall_lock(this.loginToken, this.$data.pwdAgain, uidList)
        .then(function(res) {
          _this.getHallList()
          //_this.$data.selected_hall = [];
          _this.resetData()
        })
        .catch(function(error) {})
    },
    getHallList() {
      var _this = this
      GameManager.getHallList(this.loginToken)
        .then(function(res) {
          var hallList = _.cloneDeep(res)
          for (var i = 0; i < res.length; i++) {
            hallList[i].sortUpStatus = false
            hallList[i].sortDownStatus = false
            if (res.length == 1) {
              hallList[i].sortUpStatus = true
              hallList[i].sortDownStatus = true
            } else if (i <= 0) {
              hallList[i].sortUpStatus = true
            } else if (i >= res.length - 1) {
              hallList[i].sortDownStatus = true
            }
          }
          _this.$store.dispatch("game/Set_halls", hallList)
        })
        .catch(function(error) {})
    },
    getCasinoLocationList() {
      var _this = this
      GameManager.getBasicItems(this.loginToken, ["casinoLocations"])
        .then(function(res) {
          _this.$store.dispatch("game/Set_casinoLocations", res.casinoLocations)
        })
        .catch(function(error) {})
    },
    getHall_add() {
      var _this = this
      var hallList = _.cloneDeep(_this.$store.getters["game/Get_halls"])
      var hallNum = hallList.length

      if (hallNum > 0) {
        var t = Number(hallList[hallNum - 1].sorting) + 1
      } else {
        var t = 0
      }

      var d = {
        casinoLocationUid: this.$data.casinoLocations.uid,
        title: this.$data.hall_name,
        isRobotArm: this.$data.isRobotArm,
        sorting: t
      }
      _this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        GameManager.getHall_add(this.loginToken, d)
          .then(function(res) {
            _this.$data.dialogAdd = false
            _this.init()
          })
          .catch(function(error) {})
      })
    },
    getHall_modify() {
      var _this = this
      this.$data.dialogEdit = true

      var d = {
        casinoLocationUid: this.$data.EditingItem.L_id,
        title: this.$data.EditingItem.title,
        uid: this.$data.EditingItem.uid
      }
      _this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        GameManager.getHall_modify(this.loginToken, d)
          .then(function(res) {
            _this.$data.dialogEdit = false
            _this.getHallList()
          })
          .catch(function(error) {})
      })
    },
    getHall_orderSet() {
      var _this = this
      var d = []

      for (var i = 0; i < _this.C_Halls.length; i++) {
        d.push({
          sorting: Number(_this.C_Halls[i].sorting),
          uid: _this.C_Halls[i].uid
        })
      }

      GameManager.getHall_orderSet(this.loginToken, d)
        .then(function(res) {
          setTimeout(() => {
            _this.getHallList()
          }, 1000)
          _this.editSortMode = false
        })
        .catch(function(error) {})
    },
    sort(index, todo) {
      var _this = this
      var t = _.cloneDeep(_this.C_Halls[index])

      if (todo == "up") {
        if (index > 0) {
          var r = _.cloneDeep(_this.C_Halls[index - 1])
          _this.C_Halls[index] = _.cloneDeep(r)
          _this.C_Halls[index - 1] = _.cloneDeep(t)
          _this.C_Halls[index].sorting = t.sorting
          _this.C_Halls[index - 1].sorting = r.sorting
          _this.C_Halls[index].sortUpStatus = t.sortUpStatus
          _this.C_Halls[index - 1].sortUpStatus = r.sortUpStatus
          _this.C_Halls[index].sortDownStatus = t.sortDownStatus
          _this.C_Halls[index - 1].sortDownStatus = r.sortDownStatus
        }
      } else {
        if (index < _this.C_Halls.length - 1) {
          var r = _.cloneDeep(_this.C_Halls[index + 1])
          _this.C_Halls[index] = _.cloneDeep(r)
          _this.C_Halls[index + 1] = _.cloneDeep(t)
          _this.C_Halls[index].sorting = t.sorting
          _this.C_Halls[index + 1].sorting = r.sorting
          _this.C_Halls[index].sortUpStatus = t.sortUpStatus
          _this.C_Halls[index + 1].sortUpStatus = r.sortUpStatus
          _this.C_Halls[index].sortDownStatus = t.sortDownStatus
          _this.C_Halls[index + 1].sortDownStatus = r.sortDownStatus
        }
      }

      _this.editSortMode = false
      _this.editSortMode = true
    }
  },
  computed: {
    C_Halls() {
      var re = this.$store.getters["game/Get_halls"]
      return re
    },
    C_casinoLocations() {
      var re = this.$store.getters["game/Get_casinoLocations"]
      var c = this.$data.casinoLocations
      c.uid = re[0].uid
      c.title = re[0].title
      c.gameVendorTitle = re[0].gameVendorTitle
      return re
    }
  },
  created() {
    this.init()
  },
  watch: {
    "casinoLocations.uid": function(uid) {
      var _this = this
      var d = this.$store.getters["game/Get_casinoLocations"]

      _.forEach(d, function(v, k) {
        if (v.uid == uid) {
          _this.$data.casinoLocations.code = v.code
          _this.$data.casinoLocations.gameVendorTitle = v.gameVendorTitle
          return false
        }
      })
    },
    "EditingItem.L_id": function(uid) {
      var _this = this
      var d = this.$store.getters["game/Get_casinoLocations"]

      _.forEach(d, function(v, k) {
        if (v.uid == uid) {
          _this.$data.EditingItem.L_code = v.code
          _this.$data.EditingItem.L_gVtitle = v.gameVendorTitle
          return false
        }
      })
    }
  }
}
</script>

<style lang="less">
.dialogAdd_1536552214157 {
  background-color: #f2f2f2;
}

.dialogEdit_1536552214157 {
  background-color: #f2f2f2;
}
</style>

<style lang="less" scoped>
@w: 850px;

.filter_bar {
  width: @w;
  justify-content: flex-end;
}

._btn_c {
  width: 50px;
  background-color: #ffffff;
  color: #000000;

  &._add {
    width: 90px;
    background-color: #606060;
    color: #ffffff;
  }

  &._edit {
    background-color: #606060;
    color: #ffffff;
  }

  &._doAdd {
    background-color: #606060;
    color: #ffffff;
  }

  &.btnOrder {
    width: 100px;
  }
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;

  ._col {
    height: auto;
    min-height: 35px;
    justify-content: center;
  }
}

.f_a {
  flex: 1 0;
  max-width: 50px;
}
.f_b {
  flex: 2 0;
}
.f_c {
  flex: 2 0;
}
.f_d {
  flex: 2 0;
}
.f_e {
  flex: 2 0;
}
.f_f {
  flex: 2 0;
  max-width: 100px;
}
.f_g {
  flex: 2 0;
  max-width: 100px;
}

._col.active {
  color: #0000ff;
}

._srot() {
  background-image: url("../img/u3262.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 17px;
  display: inline-flex;
  width: 28px;
  height: 25px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
  margin: 0px 3px;
  cursor: pointer;
}

._disabled() {
  background-image: url("../img/u3259.png");
  background-color: rgba(242, 242, 242, 1);
  cursor: not-allowed;
}

.btnDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.sortUp {
  ._srot();
  &._disabled {
    ._disabled();
  }
}

.sortDown {
  ._srot();
  background-position: center 2px;
  transform: rotate(180deg);
  &._disabled {
    ._disabled();
  }
}
._title {
  font-weight: bold;
  font-size: 16px;
}

select {
  width: 200px;
}
</style>
