<template lang="pug">
.login-page.layout-single-form
  .form.login-form(v-if="isDisplayLoginPage === true")
    .form__content(
      v-if="!isForceChangePassword"
      @keypress.enter="login"
    )
      .form__title {{ title.key }}

      ValidationProvider.form__item(
        :rules="{ required: true, regex: /^[a-zA-Z]{1}[0-9a-zA-Z]*$/ }"
        v-slot="{ errors, classes, validate }"
        ref="userAccount"
      )
        input.input.login-form__input(
          type="text"
          v-model="current.userAccount"
          placeholder="帳號"
          :class="classes"
          id="iptAccountInLogin"
        )

      ValidationProvider.form__item(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="userPassword"
      )
        input.input.login-form__input(
          type="password"
          v-model="current.userPassword"
          placeholder="密碼"
          :class="classes"
          id="iptPasswordInLogin"
        )

      #btnLogin.form__button.primary-button.login-form__login-button(
        tabindex="0"
        @click="login"
      ) 登入

      router-link#btnForgetPwd.login-form__forget-password(:to="{ name: 'ForgetPassword' }") 忘記密碼

  ForceResetPassword(
    v-if="isForceChangePassword"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ForceResetPassword from "@/components/common/ForceResetPassword.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { mapState } from "vuex"
import { checkLoginToken } from "@/helpers/routerGuard.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { userLogin } from "@/api/User.js"
import { ValidationProvider } from "vee-validate"

export default {
  components: { ForceResetPassword, ValidationProvider, LoadingLock },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: {
      userAccount: undefined,
      userPassword: ""
    },
    isLoading: false,
    isForceChangePassword: false,
    isDisplayLoginPage: false
  }),
  computed: {
    ...mapState("project", ["title"]),
    ...mapState("member", ["loginToken"])
  },
  async created() {
    const loginToken = this.$store.state.member.loginToken

    if (typeof loginToken === "string" && loginToken.length > 10) {
      const result = await checkLoginToken(loginToken)

      // User already login
      result === true ? this.$router.replace({ name: "index" }) : (this.isDisplayLoginPage = true)
    } else {
      this.isDisplayLoginPage = true
    }
  },
  methods: {
    async validateForm() {
      const result = await Promise.all([this.$refs["userAccount"].validate(), this.$refs["userPassword"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    handleResetPasswordResponse(flag) {
      if (flag === true) {
        this.isForceChangePassword = true
      } else {
        this.$router.replace({ name: "index" })
      }
    },
    async login() {
      const validResult = await this.validateForm()
      if (validResult !== true) return

      this.isLoading = true

      try {
        const payload = {
          id: this.current.userAccount,
          pwd: this.current.userPassword
        }

        const res = await userLogin(payload)

        if (res.exitCode === true) {
          this.isDisplayLoginPage = false
          const { forceChangePassword, loginToken, nickname, id } = res.data
          this.$store.dispatch("member/setUserLoginData", { loginToken, nickname, id })
          this.handleResetPasswordResponse(forceChangePassword)
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
$form-item-width = 70%

.login-form
  width 500px

  &__login-button
    margin-top 2rem
    width $form-item-width

  &__forget-password
    margin-top 0.3rem
    color #666666

  &__input, &__select
    width $form-item-width
</style>
