<template lang="pug">
.page-not-found
  h1 Page Not Found
</template>

<style scoped lang="stylus">
.page-not-found
  display flex
  justify-content center
  align-items center
  margin 0 auto
  height 100vh
  font-weight bold
  font-size 18px
</style>
