<template lang="pug">
.permission-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title(id="labCharPermissionTitle") 角色權限管理

    .content(v-show="isDisplayMainPage === true")
      .action-bar
        .action-bar__button(
          id="btnAddChar"
          @click="displayAddPermissionRole"
        ) 新增角色

      .report-table(
        id="tabCharPermission"
        v-if="resultRows.length > 0"
      )
        .report-table__row.permission-manage__table-row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
            :class="x.QA_CSS"
          ) {{ x.label }}

        .report-table__row.permission-manage__table-row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'permissionRole'"
              :class="getCSSForQA(key, reportTableHeaders)"
            ) {{ value.name }}

            .report-table__cell(
              v-else-if="key === 'operates'"
              :class="getCSSForQA(key, reportTableHeaders)"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else
              :class="getCSSForQA(key, reportTableHeaders)"
            ) {{ value }}

  AddPermissionRole(
    :isDisplay="isDisplayAddPermissionRole"
    @close="closeAddPermissionRole"
    @requestSuccess="fetchPermissionRoleList"
  )

  EditPermissionRole(
    :isDisplay="isDisplayEditPermissionRole"
    :targetData="current"
    @close="closeEditPermissionRole"
    @requestSuccess="fetchPermissionRoleList"
  )

  DeletePermissionRole(
    :isDisplay="isDisplayDeletePermissionRole"
    :targetData="current"
    @close="closeDeletePermissionRole"
    @requestSuccess="fetchPermissionRoleList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import { mapState } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getPermissionRoleList } from "@/api/Permission.js"

import AddPermissionRole from "@/components/common/PermissionManage/AddPermissionRole.vue"
import EditPermissionRole from "@/components/common/PermissionManage/EditPermissionRole.vue"
import DeletePermissionRole from "@/components/common/PermissionManage/DeletePermissionRole.vue"
import { getPermissionRoleDetail } from "@/api/Permission.js"

export default {
  metaInfo() {
    return {
      titleTemplate: "角色權限管理 %s"
    }
  },
  components: {
    Navbar,
    AddPermissionRole,
    EditPermissionRole,
    DeletePermissionRole,
    LoadingLock
  },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  data: () => ({
    pageTitle: "角色權限管理",
    isDisplayAddPermissionRole: false,
    isDisplayEditPermissionRole: false,
    isDisplayDeletePermissionRole: false,
    isLoading: false,
    resultRows: [],
    current: { permissionRoleName: "", permissionRoleUid: "", comment: "", permissions: [] }
  }),
  async mounted() {
    await this.fetchPermissionRoleList()
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if (this.isDisplayAddPermissionRole === false && this.isDisplayEditPermissionRole === false) {
        return true
      } else {
        return false
      }
    },
    navbarItems() {
      if (this.isDisplayAddPermissionRole === true) {
        return [
          { title: "系統管理", islink: false, path: "" },
          { title: this.pageTitle, islink: true, path: this.$route.path },
          { title: "新增角色", islink: false, path: "" }
        ]
      } else if (this.isDisplayEditPermissionRole === true) {
        return [
          { title: "系統管理", islink: false, path: "" },
          { title: this.pageTitle, islink: true, path: this.$route.path },
          { title: "編輯角色", islink: false, path: "" }
        ]
      } else {
        return [
          { title: "系統管理", islink: false, path: "" },
          { title: this.pageTitle, islink: true, path: this.$route.path }
        ]
      }
    },
    tableActionItems() {
      return [{ name: "EDIT_ACCOUNT", label: "編輯" }, { name: "DELETE_ACCOUNT", label: "刪除" }]
    },
    reportTableHeaders() {
      return [
        { label: "角色", name: "permissionRole", QA_CSS: "_role" },
        { label: "備註", name: "comment", QA_CSS: "_remarks" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            permissionRole: { name: x.name, uid: x.uid, endpoint: x.entrance },
            comment: x.remark,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    async fetchPermissionRoleList() {
      try {
        const res = await getPermissionRoleList(this.loginToken)
        if (res.exitCode === true) {
          this.resultRows = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    displayAddPermissionRole() {
      this.isDisplayAddPermissionRole = true
    },
    closeAddPermissionRole() {
      this.isDisplayAddPermissionRole = false
      this.resetCurrentData()
    },
    displayEditPermissionRole() {
      this.isDisplayEditPermissionRole = true
    },
    closeEditPermissionRole() {
      this.isDisplayEditPermissionRole = false
      this.resetCurrentData()
    },
    displayDeletePermissionRole() {
      this.isDisplayDeletePermissionRole = true
    },
    closeDeletePermissionRole() {
      this.isDisplayDeletePermissionRole = false
      this.resetCurrentData()
    },
    resetCurrentData() {
      this.current.permissionRoleName = ""
      this.current.permissionRoleUid = ""
      this.current.comment = ""
      this.current.permissions = []
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_ACCOUNT":
          this.editAccount(index)
          break
        case "DELETE_ACCOUNT":
          this.deleteAccount(index)
          break
      }
    },
    processSpecialPermission(list) {
      const specialPermissions = ["gameVendor", "casinoLocations", "serverSettings"]
      const originLength = list.length

      const result = list.filter(x => {
        if (specialPermissions.includes(x)) {
          return false
        } else {
          return true
        }
      })

      if (result.length !== originLength) {
        result.push("basic")
      }

      return result
    },
    async editAccount(index) {
      try {
        const payload = { permissionRoleUid: this.reportTableRows[index].permissionRole.uid }
        const res = await getPermissionRoleDetail(this.loginToken, payload)

        if (res.exitCode === true) {
          this.current.permissionRoleName = res.data.name
          this.current.permissionRoleUid = res.data.uid
          this.current.comment = res.data.remark
          this.current.permissions = this.processSpecialPermission(res.data.groupList)
          this.displayEditPermissionRole()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    async deleteAccount(index) {
      const target = this.reportTableRows[index].permissionRole
      this.current.permissionRoleName = target.name
      this.current.permissionRoleUid = target.uid

      this.displayDeletePermissionRole()
    }
  }
}
</script>

<style lang="stylus">
.permission-manage
  &__table-row
    grid-template-columns repeat(3, 200px)

  &__permission-list
    padding 0.5rem
    grid-column span 3
</style>
