<template lang="pug">
.reset-password
  .reset-password__invalid-page(v-if="resetPasswordToken.hasError === true")
    .reset-password__invalid-message 此連結已失效

  ResetPasswordByToken(v-else)
</template>

<script>
import ResetPasswordByToken from "@/components/common/ResetPasswordByToken.vue"
import { mapState } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: "忘記密碼 %s"
    }
  },
  components: { ResetPasswordByToken },
  computed: {
    ...mapState("error", ["resetPasswordToken"])
  }
}
</script>

<style lang="stylus">
.reset-password
  height 100vh

  &__invalid-page
    display flex
    justify-content center
    align-items center
    margin 0 auto
    height 100vh

  &__invalid-message
    font-weight bold
    font-size 1.5rem
</style>>
