<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <div>
      <div class="subTitle">
        <h1 id="labTitleInBillAbnormalSearch">結算異常查詢</h1>
        <!-- <div class="additionText" :id="_dom.labCurrency">幣別：人民幣</div> -->
      </div>
      <div class="filterbar _c_filterbar">
        <div class="_item filterType">
          <div
            id="btnTimeInBillAbnormalSearch"
            :class="{'_bItem':true,'active':fType.G1}"
            v-on:click="fType.G1=true;fType.G2=false;"
          >時間</div>
          <div
            id="btnGameNoInBillAbnormalSearch"
            :class="{'_bItem':true,'active':fType.G2}"
            v-on:click="fType.G2=true;fType.G1=false;$validator.reset()"
          >遊戲局號</div>
        </div>

        <div class="_item" v-if="fType.G1">
          <div class="_t">開始日期</div>
          <el-date-picker
            id="btnStartTimeInBillAbnormalSearch"
            v-model="d_search.startTime"
            align="right"
            type="date"
            placeholder="選擇日期"
            :picker-options="pickerOptionsStart"
            popper-class="_c_picker"
            size="small"
            :class="{'_c_datePicker':true,'_input':true,'v_error':V_err.has('g1.n_startTime')}"
            format="yyyy/MM/dd"
            default-time="00:00:00"
            value-format="yyyy-MM-dd 00:00:00"
            v-validate="{required:true}"
            data-vv-scope="g1"
            name="n_startTime"
            @change="changeEnd"
          ></el-date-picker>
        </div>
        <div class="_item" v-if="fType.G1">
          <div class="_t">結束日期</div>
          <el-date-picker
            id="btnEndTimeInBillAbnormalSearch"
            v-model="d_search.endTime"
            align="right"
            type="date"
            placeholder="選擇日期"
            :picker-options="pickerOptionsEnd"
            popper-class="_c_picker"
            size="small"
            :class="{'_c_datePicker':true,'_input':true,'v_error':V_err.has('g1.n_endTime')}"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd 23:59:59"
            default-time="23:59:59"
            v-validate="{required:true}"
            data-vv-scope="g1"
            name="n_endTime"
            @change="changeStart"
          ></el-date-picker>
        </div>

        <div class="_item" v-if="fType.G1">
          <CurrencyAndTopAgentSelect
            topAgentDomId="selTopAgentInBillAbnormalSearch"
            currencyDomId="selCurrencyInBillAbnormalSearch"
            @selectTopAgent="setTopAgent"
            @selectCurrency="setCurrency"
          ></CurrencyAndTopAgentSelect>
        </div>

        <div class="_item" v-if="fType.G2">
          <CurrencyAndTopAgentSelect
            topAgentDomId="selTopAgentInGameNoInBillAbnormalSearch"
            currencyDomId="selCurrencyInGameNoInBillAbnormalSearch"
            @selectTopAgent="setTopAgent"
            @selectCurrency="setCurrency"
          ></CurrencyAndTopAgentSelect>
        </div>

        <div class="_item" v-show="fType.G2">
          <div class="_t">系統桌號*</div>
          <input
            id="iptTableNoInBillAbnormalSearch"
            type="text"
            v-model="d_search.tableId"
            v-bind:class="{'_input':true,'v_error':V_err.has('g2.n_tableId')}"
            v-validate="{required:true,integer:true,min_value:1,max:4}"
            name="n_tableId"
            maxlength="4"
            data-vv-scope="g2"
          />
        </div>

        <div class="_item" v-show="fType.G2">
          <div class="_t">靴號*</div>
          <input
            id="iptBootNoInBillAbnormalSearch"
            type="text"
            v-model="d_search.shoeNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('g2.n_shoeNo')}"
            v-validate="{integer:true,required:true,min_value:1,min:1,max:20}"
            name="n_shoeNo"
            maxlength="20"
            data-vv-scope="g2"
          />
        </div>

        <div class="_item" v-show="fType.G2">
          <div class="_t">局號*</div>
          <input
            id="iptGameNoInBillAbnormalSearch"
            type="text"
            v-model="d_search.roundNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('g2.n_roundNo')}"
            v-validate="{integer:true,required:true,min_value:1,min:1,max:5}"
            name="n_roundNo"
            maxlength="5"
            data-vv-scope="g2"
          />
        </div>

        <div id="btnSearchInBillAbnormalSearch" class="_btn_c" @click="TodoSearch()">搜尋</div>
      </div>

      <div id="tabAbnormalListInBillAbnormalSearch">
        <div class="t_f" v-if="d_list.length > 0">
          <div class="_col _agent">代理帳號</div>
          <div class="_col _agentCode">識別代碼</div>
          <div class="_col _happentime">發生時間</div>
          <div class="_col _status">狀態</div>
          <div class="_col _gameType">遊戲種類</div>
          <div class="_col _tableType">桌種</div>
          <div class="_col _systemId">系統桌號</div>
          <div class="_col _tableId">前台桌號</div>
          <div class="_col _tableName">賭桌名稱</div>
          <div class="_col _gameNo">遊戲局號</div>
          <div class="_col _shoeNo">靴號</div>
          <div class="_col _roundNo">局號</div>
          <div class="_col _gameStartTIme">遊戲局開始時間</div>
          <div class="_col _gameEndTIme">遊戲局結束時間</div>
          <div class="_col _gameResult">遊戲結果</div>
          <div class="_col _detail">詳情</div>
        </div>

        <div class="t_d" v-for="(groups, i) in d_list" v-if="d_list.length > 0">
          <div class="_col _agent">{{groups.agentAccount}}</div>
          <div class="_col _agentCode">{{groups.agentCode}}</div>
          <div class="_col _happentime">{{groups.createTime}}</div>
          <div class="_col _status">{{groups.state | stateText}}</div>
          <div class="_col _gameType">{{groups.gameTypeTitle}}</div>
          <div class="_col _tableType">{{groups.tableTypeTitle}}</div>
          <div class="_col _systemId">{{groups.tableId}}</div>
          <div class="_col _tableId">{{groups.frontCode}}</div>
          <div class="_col _tableName">{{groups.tableName}}</div>
          <div class="_col _gameNo">{{groups.gameRoundNo}}</div>
          <div class="_col _shoeNo">{{groups.shoeNo}}</div>
          <div class="_col _roundNo">{{groups.roundNo}}</div>
          <div class="_col _gameStartTIme">{{groups.gameRoundStartTime}}</div>
          <div class="_col _gameEndTIme">{{groups.gameRoundEndTime}}</div>
          <div class="_col _gameResult">{{groups.gameResult}}</div>
          <div class="_col _detail">
            <div
              v-if="groups.detailStatus == false"
              class="_tableBtn"
              @click="betSettlement(groups,i)"
            >展開</div>
            <div v-else class="_tableBtn" @click="betSettlement(groups,i)">收合</div>
          </div>
          <div
            id="tabsettleListInBillAbnormalSearch"
            class="t_e"
            v-show="groups.detailStatus == true"
          >
            <div class="_title">下注結算資料</div>
            <div class="t_g" v-if="groups.detailList.length > 0">
              <div class="_col _account">會員帳號</div>
              <div class="_col _betNo">訂單號</div>
              <div class="_col _playTypeTitle">玩法</div>
              <div class="_col _betAmount">總投注</div>
              <div class="_col _profit">總贏金</div>
              <div class="_col _winLossAmount">派彩</div>
              <div class="_col _validBetAmount">有效投注</div>
            </div>
            <el-scrollbar
              :class="{'_scrollbar': groups.scrollbarStatus == true,'_scrollbarV2': groups.scrollbarStatus == false}"
              :native="false"
            >
              <div class="t_h" v-for="(item, i) in groups.detailList">
                <div class="_col _account">{{item.playerAccount}}</div>
                <div class="_col _betNo">{{item.betNo}}</div>
                <div class="_col _playTypeTitle">{{item.betAreaTitle}}</div>
                <div class="_col _betAmount">{{item.betAmount | toMoney}}</div>
                <div class="_col _profit">{{item.winAmount | toMoneyV2(2)}}</div>
                <div class="_col _winLossAmount">{{item.winLoss | toMoneyV2(2)}}</div>
                <div class="_col _validBetAmount">{{item.validBet | toMoney}}</div>
              </div>
            </el-scrollbar>
          </div>
          <div
            :class="{'t_i': groups.lastOne == false,'t_j': groups.lastOne == true}"
            v-show="groups.detailStatus == true"
          ></div>
        </div>
      </div>

      <div v-if="d_list.length==0  && isSearched" class="NoResult">查無資料</div>
      <div v-if="!isSearched" class="NoResult">請輸入搜尋條件</div>

      <div v-if="pageNum > 1" class="pagination">
        <pagination
          :domIdList="paginations.domId"
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
        ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import c_nav from "@/components/basic/nav.vue"
import ReportManager from "@/services/ReportManager"
import pagination from "@/components/basic/pagination.vue"
import common from "@/libs/common"
import CurrencyAndTopAgentSelect from "@/components/selects/CurrencyAndTopAgent.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "結算異常查詢 %s"
    }
  },
  components: {
    pagination: pagination,
    c_nav,
    CurrencyAndTopAgentSelect
  },
  data() {
    return {
      d_nav: [
        { title: "報表功能", islink: false, path: "" },
        { title: "結算異常查詢", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      activeItem: "today",
      fType: {
        G1: true,
        G2: false
      },
      mode: {
        view: true,
        edit: false
      },
      d_list: [],
      currentPage: 1,
      pageNum: 0,
      pageSize: 20,
      domId: {
        mainPanel: {
          items: {
            labTitle: "",
            labCurrency: "",
            btnTime: "",
            btnGameNo: "",
            btnStartTime: "",
            btnEndTime: "",
            selTopAgent: "",
            iptTableNo: "",
            iptBootNo: "",
            iptGameNo: "",
            btnSearch: ""
          },
          name: "InBillAbnormalSearch"
        },
        pagination: {
          OtherItems: {},
          name: "InBillAbnormalSearch"
        }
      },
      d_search: {
        currencyId: "",
        startTime: "",
        _startTime: "",
        endTime: "",
        _endTime: "",
        agentAccount: "",
        _agentAccount: "",
        tableId: "",
        _tableId: "",
        shoeNo: "",
        _shoeNo: "",
        roundNo: "",
        _roundNo: ""
      },
      d_agentAccount: {},
      pickerOptionsStart: {},
      pickerOptionsEnd: {},
      isSearched: false
    }
  },
  computed: {
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInBillAbnormalSearch",
          previousPage: "btnPrevPageInBillAbnormalSearch",
          inputPage: "iptPageInBillAbnormalSearch",
          actionButton: "btnSearchPageInBillAbnormalSearch",
          nextPage: "btnNextPageInBillAbnormalSearch",
          lastPage: "btnLastPageInBillAbnormalSearch"
        }
      }
    },
    _dom() {
      var re = {},
        _name = this.domId.mainPanel.name
      _.forEach(this.domId.mainPanel.items, function(v, k) {
        re[k] = k + _name
      })
      return re
    }
  },
  filters: {
    stateText: function(value) {
      var t = value === "1" ? "同步成功" : "同步失敗"
      return t
    }
  },
  methods: {
    setTopAgent(data) {
      this.d_search.agentAccount = data
    },
    setCurrency(data) {
      this.d_search.currencyId = data
    },
    changeStart() {
      var endTime = new Date(this.d_search.endTime).getTime()
      var LimitDate = common.diffDay(new Date(), -3)
      var LimitTime = new Date(LimitDate + " 00:00:00").getTime()
      this.pickerOptionsStart = Object.assign({}, this.pickerOptionsStart, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a > endTime || a < LimitTime
          return re
          //return time.getTime() > endTime;
        }
      })
    },
    changeEnd() {
      var startTime = new Date(this.d_search.startTime).getTime()
      var today = new Date()
      var TodayTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), "23", "59", "59")
      this.pickerOptionsEnd = Object.assign({}, this.pickerOptionsEnd, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a < startTime || a > TodayTime
          return re
          //return time.getTime() < startTime;
        }
      })
    },
    getAgentWallet() {
      var _this = this
      var d = [1]
      ReportManager.getTopAgentWallet(this.loginToken, d)
        .then(function(res) {
          _this.$data.d_agentAccount = _.cloneDeep(res.agentGroup)
        })
        .catch(function(msg) {
          console.log("msg : ", msg)
        })
    },
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.search()
    },
    // setAgentAccount	(val){
    // 	this.$data.d_search.agentAccount = val;
    // },
    setDate(item) {
      this.$data.activeItem = item
      var day = common.setDayV2(item)
      this.$data.d_search.startTime = day.start
      this.$data.d_search.endTime = day.end

      this.changeStart()
      this.changeEnd()
    },
    TodoSearch() {
      this.$data.currentPage = 1
      var _this = this

      if (_this.fType.G2 == true) {
        var ta = "g2"
      } else {
        var ta = "g1"
      }

      this.$validator.validateAll(ta).then(result => {
        if (!result) {
          return
        }

        _this.search()
      })
    },
    search() {
      var t = this.$data
      var _s = this.$data.d_search
      var postData = {}
      var searchItem = ""

      switch (true) {
        case t.fType.G1:
          postData = {
            start: common.timeZoneApply(_s.startTime, true),
            //end : common.timeZoneApply(_s.endTime,true),
            end: common.timeZoneApply(common.LimitNowTme(_s.endTime), true),
            agentGroup: _s.agentAccount == "" ? [] : [_s.agentAccount],
            currencyId: _s.currencyId
          }
          searchItem = "ByTime"

          break

        case t.fType.G2:
          postData = {
            agentGroup: _s.agentAccount == "" ? [] : [_s.agentAccount],
            currencyId: _s.currencyId,
            tableId: _s.tableId,
            shoeNo: _s.shoeNo,
            roundNo: _s.roundNo
          }

          searchItem = "ByRoundNo"

          break
      }

      postData = Object.assign(postData, {
        pageSize: t.pageSize,
        pageIndex: t.currentPage - 1
      })

      var _this = this
      var _Loading = this.$Loading.service({ customClass: "_loading" })

      ReportManager.getSettlementException(this.loginToken, postData, searchItem)
        .then(function(res) {
          _this.$data.d_list = res.rows || []
          for (var i = 0; i < _this.$data.d_list.length; i++) {
            _this.$data.d_list[i].detailStatus = false
            _this.$data.d_list[i].scrollbarStatus = false
            if (i >= _this.$data.d_list.length - 1) {
              _this.$data.d_list[i].lastOne = true
            } else {
              _this.$data.d_list[i].lastOne = false
            }
            _this.$data.d_list[i].detailList = []
            var t = JSON.parse(_this.$data.d_list[i].errorData)
            _this.$data.d_list[i].frontCode = t.tableCode
          }
          _this.$data.currentPage = res.rows ? res.pagination.pageIndex + 1 : 1
          _this.$data.pageNum = res.rows ? res.pagination.pageCount : 0
          _this.$data.isSearched = true

          setTimeout(() => {
            _Loading.close()
          }, 500)
        })
        .catch(function(msg) {
          _Loading.close()
          console.log("msg : ", msg)
        })
    },
    betSettlement(v, k) {
      var _this = this
      if (v.detailStatus == false) {
        var d = v.uid
        ReportManager.getSettlementExceptionBetSettlement(this.loginToken, d)
          .then(function(res) {
            _this.$data.d_list[k].detailList = _.cloneDeep(res.bets) || []
            v.detailStatus = true

            if (_this.$data.d_list[k].detailList.length > 10) {
              v.scrollbarStatus = true
            }

            if (_this.fType.G1 == true) {
              _this.fType.G1 = false
              _this.fType.G1 = true
            } else {
              _this.fType.G1 = true
              _this.fType.G1 = false
            }
          })
          .catch(function(msg) {
            console.log("msg : ", msg)
          })
      } else {
        v.detailStatus = false
        if (_this.fType.G1 == true) {
          _this.fType.G1 = false
          _this.fType.G1 = true
        } else {
          _this.fType.G1 = true
          _this.fType.G1 = false
        }
      }
    }
  },
  created() {
    var _this = this
    this.setDate("today")
    this.getAgentWallet()
  },
  watch: {
    "fType.G1": function(val) {
      if (val) {
        this.$data.domId.active = _.cloneDeep(this.$data.domId.G1)
        this.$data.d_search.agentAccount = this.$data.d_search._agentAccount
        this.$data.d_search.tableId = this.$data.d_search._tableId
        this.$data.d_search.shoeNo = this.$data.d_search._shoeNo
        this.$data.d_search.roundNo = this.$data.d_search._roundNo
      }
    },
    "fType.G2": function(val) {
      if (val) {
        this.$data.domId.active = _.cloneDeep(this.$data.domId.G2)
        this.$data.d_search.agentAccount = this.$data.d_search._agentAccount
        this.setDate("today")
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "../styles/less/report.less";

@w: 1650px;
@b: 1px black solid;
.NoResult {
  width: @w;
}

.pagination {
  width: @w;
  margin-top: 20px;
  text-align: right;
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;
  flex-wrap: wrap;
}

.t_e {
  width: 1620px;
  background-color: rgba(240, 240, 240, 1);
  margin: 0 15px;
  padding: 15px;
  border-left: @b;
  border-right: @b;
  ._title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px;
  }
  .t_g {
    width: 850px;
    display: flex;
    background-color: #606060;
    ._col {
      color: #ffffff;
      border-right: 0px;
      &:last-child {
        border-right: @b;
      }
    }
  }
  .t_h {
    width: 850px;
    display: flex;
    background-color: white;
    ._col {
      border-top: 0px;
      color: #000000;
      border-right: 0px;

      &:last-child {
        border-right: @b;
      }
    }
  }
}

.t_i {
  width: @w;
  border-top: @b;
}

.t_j {
  width: 1620px;
  margin: 0 15px;
  border-top: @b;
}

._btn_c {
  width: 50px;

  &.c_detail {
    color: #000000;
    background-color: #ffffff;
  }
}

._col {
  max-width: 200px;
  flex: 1;
  &._agentCode {
    flex: 0.7;
  }

  &._happentime {
    flex: 1.7;
  }

  &._status {
    flex: 0.7;
  }

  &._gameType {
    flex: 0.7;
  }

  &._tableType {
    flex: 0.7;
  }

  &._systemId {
    flex: 0.7;
  }

  &._tableId {
    flex: 0.7;
  }

  &._gameNo {
    flex: 2;
  }

  &._shoeNo {
    flex: 0.4;
  }

  &._roundNo {
    flex: 0.4;
  }

  &._gameStartTIme {
    flex: 1.7;
  }

  &._gameEndTIme {
    flex: 1.7;
  }

  &._gameResult {
    flex: 2;
  }

  &._detail {
    flex: 0.6;
    border-right: 1px black solid;
  }

  &._betNo {
    flex: 2;
  }

  &._playTypeTitle {
    flex: 0.5;
  }

  &._betAmount {
    flex: 0.8;
  }

  &._profit {
    flex: 0.8;
  }

  &._winLossAmount {
    flex: 0.8;
  }

  &._validBetAmount {
    flex: 0.8;
  }

  &._toright {
    justify-content: flex-end;
  }
}

._tableBtn {
  border: 1px black solid;
  color: white;
  background-color: #606060;
  border-radius: 3px;
  padding: 4px 7px;
  cursor: pointer;
}

.filterbar {
  ._item {
    min-width: 140px;
  }
}

.filterType,
.dateRange {
  display: inline-flex;
}

.filterType {
  ._bItem {
    width: 90px;
  }
}

.dateRange {
  ._bItem {
    width: 50px;
  }
}

input {
  padding-left: 5px;
}

._scrollbar {
  height: 350px;
  width: 870px;
}

._scrollbarV2 {
  height: 100%;
  margin-bottom: 20px;
}
</style>
