<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <h1 id="labTableTypeTitle">桌種設定</h1>
    <div class="panelList" v-if="!addMode">
      <div class="filter_bar _c_filterbar">
        <div class="_btn_c _add" @click="addMode=true;" id="btnAddTableType">新增桌種</div>
        <div
          :class="{_btn_c:true,_add:!editMode,_save:editMode}"
          v-if="!editMode"
          @click="doEdit();"
          id="btnEditTableType"
        >編輯桌種</div>
        <div
          :class="{_btn_c:true,_add:!editMode,_save:editMode}"
          v-if="editMode"
          @click="doEdit();"
          id="btnSaveInTableType"
        >儲存編輯</div>
      </div>
      <div id="tabTableType">
        <div class="t_f">
          <div class="_col f_a _tableType">桌種名稱</div>
          <div class="_col f_b _tableTypeNickName">桌種別名</div>
          <div class="_col f_c _tableTypeID">桌種ID</div>
          <div 
            v-for="(item, index) in D_TableProperty"
            :class="{_col:true,  f_e:true,_miBrand:item.code==='1',_tableAssign:item.code==='2'}" 
            >{{item.title}}</div>
          <div class="_col f_sort _arrange">排序</div>
          <div class="_col f_h _operate">操作</div>
        </div>
        <div class="t_d" v-for="(item, index) in D_TableTypeList">
          <div class="_col f_a _tableType">{{item.title}}</div>
          <div class="_col f_b _tableTypeNickName">{{item.alias}}</div>
          <div class="_col f_c _tableTypeID">{{item.code}}</div>
          <div
            v-for="(Property, uid, index) in item.PropertyState"
            :class="{_col:true,f_e:true,_miBrand:index===0,_tableAssign:index===1,isset:Property && !editMode}"
          >
            <input type="checkbox" v-if="editMode" :value="uid" v-model="item.properties" />
          </div>
          <div class="_col f_sort _arrange">
            <div :class="{sortUp:true,_up:true,_disabled:!item.sort.up || !editMode}" @click="sort(item,-1)"></div>
            <div
              :class="{sortDown:true,_down:true,_disabled:!item.sort.down || !editMode}"
              @click="sort(item,1)"
            ></div>
          </div>
          <div class="_col f_h _operate">
            <div class="_btn_c _edit" v-on:click="doDel(item.uid)">刪除</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panelAdd _c_dialog" v-if="addMode">
      <h2>新增桌種</h2>
      <hr />
      <div class="_row">
        <div class="_title">桌種名稱*：</div>
        <div class="_input">
          <input
            id="iptTableTypeNameInAddTableType"
            type="text"
            v-model="addData.title"
            v-bind:class="{'_input':true,'v_error':V_err.has('tableTitle')}"
            v-validate="{AlphaNumChinese:true,required:true,min:1,max:20}"
            name="tableTitle"
            placeholder="英、數、中，1-20位"
          />
        </div>
      </div>
      <div class="_row">
        <div class="_title">桌種別名*：</div>
        <div class="_input">
          <input
            id="iptTableTypeNickInAddTableType"
            type="text"
            maxlength="20"
            v-model="addData.alias"
            v-bind:class="{'_input':true,'v_error':V_err.has('tableAlias')}"
            v-validate="{bigAlphaUnderline:true,required:true,min:1,max:20}"
            name="tableAlias"
            placeholder="全英文大寫包含_，1-20位"
          />
        </div>
      </div>
      <div class="_row">
        <div class="_title">桌種ID*：</div>
        <div class="_input">
          <input
            id="iptTableTypeIDInAddTableType"
            type="text"
            maxlength="2"
            v-model="addData.code"
            v-bind:class="{'_input':true,'v_error':V_err.has('tableCode')}"
            v-validate="{integer:true,required:true,min:1,max:2,min_value:0}"
            name="tableCode"
            placeholder="數字，2位"
          />
        </div>
      </div>
      <div class="_row">
        <div class="_title">權限：</div>
        <div class="_input" id="tabPermissionInAddTableType">
          <div class="t_f">
            <div class="_col f_a">勾選</div>
            <div class="_col f_b">屬性</div>
            <div class="_col f_c">屬性別名</div>
            <div class="_col f_d">屬性ID</div>
          </div>
          <div class="t_d" v-for="(item, index) in D_TableProperty">
            <div class="_col f_a">
              <input type="checkbox" v-model="addData.properties" :value="item.uid" />
            </div>
            <div class="_col f_b">{{item.title}}</div>
            <div class="_col f_c">{{item.alias}}</div>
            <div class="_col f_d">{{item.code}}</div>
          </div>
        </div>
      </div>
      <div class="opBar">
        <el-button @click="addMode=false;" id="btnCancelInAddTableType">取消</el-button>
        <el-button
          type="primary"
          @click="doAdd();"
          v-if="isfieldValid"
          id="btnConfirmInAddTableType"
        >確認</el-button>
        <el-button
          type="primary"
          class="btnDisabled"
          v-if="!isfieldValid"
          id="btnConfirmInAddTableType"
        >確認</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import TableTypeManager from "@/services/TableTypeManager"
import c_nav from "@/components/basic/nav.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "桌種設定 %s"
    }
  },
  components: {
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "基本設定", islink: false, path: "" },
        { title: "桌種設定", islink: true, path: this.$route.path }
      ], //導覽
      loginToken: this.$store.getters["member/loginToken"],
      D_TableProperty: [],
      D_TableTypeList: [],
      editMode: false,
      addMode: false,
      postd: {},
      _addData: {
        title: "",
        alias: "",
        code: "",
        properties: []
      },
      addData: {}
    }
  },
  filters: {
    stateText1: function(value) {
      var t = value === "0" ? "開放" : "關閉"
      return t
    }
  },
  methods: {
    init() {
      this.get_TableProperty()
    },
    completeAdd() {
      this.get_TableTypeList()
      this.$data.addMode = false
    },
    completeDel() {
      this.get_TableTypeList()
      this.$data.editMode = false
    },
    doAdd() {
      var d = this.$data.addData
      var _this = this
      TableTypeManager.addTableType(this.$data.loginToken, d)
        .then(function(res) {
          _this.completeAdd()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    doDel(uid) {
      var _this = this

      TableTypeManager.delTableType(this.$data.loginToken, uid)
        .then(function(res) {
          _this.completeDel()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    doEdit() {
      if (this.$data.editMode) {
        this.doUpdate()
      }
      this.$data.editMode = !this.$data.editMode
    },
    doUpdate() {
      var _this = this
      var d = []

      _.forEach(this.$data.D_TableTypeList, function(v, k) {
        d.push({
          uid: v.uid,
          properties: v.properties,
          sortId: k
        })
      })

      TableTypeManager.updateTableType(this.$data.loginToken, d)
        .then(function(res) {
          _this.get_TableTypeList()
        })
        .catch(function(err) {
          _this.get_TableTypeList()
          console.log(err)
        })
    },
    sortDtype(d) {
      _.forEach(d, function(v, k) {
        d[k].orderNum = k + 1
        d[k].sort = {
          up: k == 0 ? false : true,
          down: k == d.length - 1 ? false : true
        }
      })
      return d
    },
    sort(item, todo) {
      var state = todo == -1 ? item.sort.up : item.sort.down
      if (!state) return
      if (!this.$data.editMode) return

      var d = _.cloneDeep(this.$data.D_TableTypeList)
      var uid = item.uid
      _.forEach(d, function(v, k) {
        switch (true) {
          case v.uid == uid:
            d[k].orderNum += todo
            d[k + todo].orderNum -= todo
            break
        }
      })

      d = _.orderBy(d, ["orderNum"], ["asc"])
      this.$data.D_TableTypeList = _.cloneDeep(this.sortDtype(d))
    },
    get_TableProperty() {
      var _this = this
      TableTypeManager.getTableProperties(this.loginToken)
        .then(function(res) {
          if (Array.isArray(res.rows) && res.rows.length == 0) {
            throw "error!!"
          }
          _this.$data.D_TableProperty = res.rows
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    get_TableTypeList() {
      var _this = this
      TableTypeManager.getTableTypeList(this.loginToken)
        .then(function(res) {
          _.forEach(res.rows, function(v, k) {
            res.rows[k].PropertyState = {}

            _.forEach(_this.$data.D_TableProperty, function(v1, k1) {
              var state = false
              if (res.rows[k].properties.indexOf(v1.uid) != -1) {
                state = true
              }
              res.rows[k].PropertyState[v1.uid] = state
            })
          })

          _this.$data.D_TableTypeList = _this.sortDtype(res.rows)
        })
        .catch(function(err) {
          console.log(err)
        })
    }
  },
  computed: {
    isfieldValid() {
      var state = true
      _.forEach(this.V_fields, function(v, k) {
        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      return state
    }
  },
  beforeCreate() {},
  created() {
    this.init()
  },
  watch: {
    D_TableProperty: function() {
      var _this = this
      this.get_TableTypeList()
    },
    addMode: function(val) {
      if (val) {
        this.$data.editMode = false
        this.$data.addData = _.cloneDeep(this.$data._addData)
        this.$data.d_nav.push({ title: "新增桌種", islink: false, path: "" })
      } else {
        this.$data.d_nav.pop()
      }
    }
  }
}
</script>

<style lang="less">
</style>



<style lang="less" scoped>
@w : 1000px;

.filter_bar {
  width: @w;
  justify-content: flex-end;
}

._btn_c {
  width: 50px;
  background-color: #ffffff;
  color: #000000;

  &._add {
    width: 90px;
    background-color: #606060;
    color: #ffffff;
  }

  &._save {
    width: 90px;
    background-color: #ffffff;
    color: #000000;
  }

  &._edit {
    background-color: #606060;
    color: #ffffff;
  }

  &._doAdd {
    background-color: #606060;
    color: #ffffff;
  }
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;

  ._col {
    height: auto;
    min-height: 35px;
    justify-content: center;
  }
}

.f_a {
  flex: 1 0;
}
.f_b {
  flex: 1 0;
}
.f_c {
  flex: 1 0;
}
.f_e {
  flex: 1 0;
}
.f_sort {
  flex: 1 0;
}

._srot() {
  background-image: url("../img/u3262.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 17px;
  display: inline-flex;
  width: 28px;
  height: 25px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
  margin: 0px 3px;
  cursor: pointer;
}

._disabled() {
  background-image: url("../img/u3259.png");
  background-color: rgba(242, 242, 242, 1);
  cursor: not-allowed;
}

.btnDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.sortUp {
  ._srot();
  &._disabled {
    ._disabled();
  }
}

.sortDown {
  ._srot();
  background-position: center 2px;
  transform: rotate(180deg);
  &._disabled {
    ._disabled();
  }
}

.f_h {
  flex: 1 0;
}

._col.active {
  color: #0000ff;
}

.isset {
  background-image: url("../img/isset.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.panelAdd {
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(121, 121, 121, 1);
  width: 723px;
  height: 489px;
  padding: 10px 30px;
  text-align: center;

  .opBar {
    margin-top: 50px;
    width: 100%;
  }

  .t_f {
    width: 100%;
  }

  .t_d {
    width: 100%;
    background-color: #ffffff;
  }

  ._col.f_a {
    max-width: 60px;
  }

  ._col.f_d {
    flex: 1 0;
  }
}

h2 {
  text-align: left;
  margin-bottom: 0px;
}

._row {
  width: 90%;
  display: flex;
  margin: 20px auto;
  text-align: left;

  ._title {
    width: 20%;
    font-weight: bold;
    color: #324243;
    display: inline-flex;
    align-items: center;
  }

  ._input {
    width: 80%;

    input[type="text"] {
      width: 200px;
      height: 30px;
      font-weight: 400;
      font-style: normal;
      font-size: 13px;
      text-decoration: none;
      box-sizing: border-box;
    }
  }
}
</style>
