<template lang="pug">
.top-agent-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title(id="labTopAgentManageTitle") 最高代理管理

    .content(v-show="isDisplayMainPage === true")
      .action-bar
        .action-bar__label 幣別 ：

        CurrencySelect.action-bar__input(
          domId="selCurrencyInTopAgentManage"
          @select="setCurrency"
          ref="currencySelect"
        )

        .action-bar__label 代理帳號 ：

        input.action-bar__input(
          id="iptAcctInTopAgentManage"
          v-model="searchTopAgentAccount"
        )

        .action-bar__button(
          id="btnSearchInTopAgentManage"
          @click="fetchTopAgentList()"
        ) 搜尋代理

        .action-bar__button(
          id="btnAddAgentInTopAgentManage"
          @click="displayAddTopAgent"
        ) 新增代理


      .search-result
        .search-result__default-content(
          v-if="isSearchResultEmpty === true"
        ) 查無資料

        .top-agent-manage__result-area(v-if="resultRows.length > 0")

          .report-table(id="tabTopAgent")

            .report-table__row.top-agent-manage__table-row.t_f
              .report-table__header-cell(
                v-for="x in reportTableHeaders"
                :class="x.QA_CSS"
              ) {{ x.label }}

            .report-table__row.top-agent-manage__table-row.t_d(v-for="row, index in reportTableRows")
              template(v-for="(value, key) in row")
                .report-table__cell(
                  v-if="key === 'user'"
                  :class="getCSSForQA(key, reportTableHeaders)"
                ) {{ `${value.account} (${value.nickname})` }}

                .report-table__cell(
                  v-else-if="key === 'walletType'"
                  :class="getCSSForQA(key, reportTableHeaders)"
                ) {{ getWalletTypeText(value) }}

                .report-table__cell(
                  v-else-if="key === 'status'"
                  :class="[getAccountStateCss(row.status.isAccountDisabled, row.status.isAccountLocked), getCSSForQA(key, reportTableHeaders)]"
                ) {{ getAccountStateText(value.isAccountDisabled,value.isAccountLocked) }}

                .report-table__cell(
                  v-else-if="key === 'operates'"
                  :class="getCSSForQA(key, reportTableHeaders)"
                )
                  .action-bar__table-bar

                    template(v-for="x in value")
                      .action-bar__table-alt-button(
                        v-if="row.status.isAccountLocked === true && x.name === 'DISABLE_ACCOUNT' "
                        @click="actionHandler('UNLOCK_ACCOUNT', index)"
                      ) 解鎖

                      .action-bar__table-alt-button(
                        v-else-if="row.status.isAccountDisabled === true && x.name === 'DISABLE_ACCOUNT'"
                        @click="actionHandler('ENABLE_ACCOUNT', index)"
                      ) 啟用

                      .action-bar__table-button(
                        v-else
                        @click="actionHandler(x.name, index)"
                      ) {{ x.label }}

                .report-table__cell(
                  v-else
                  :class="getCSSForQA(key, reportTableHeaders)"
                ) {{ value }}


          Pagination(
            v-if="current.totalPagings > 1"
            :domIdList="paginations.domId"
            :totalPagings="current.totalPagings"
            :pagingIndex="current.pagingIndex"
            @change="searchWithPagingIndex"
          )

  DisableTopAgent(
    :isDisplay="isDisplayDisableTopAgent"
    :targetData="current"
    @close="closeDisableTopAgent"
    @requestSuccess="refreshPageWithCacheSearchConditions"
  )

  EnableTopAgent(
    :isDisplay="isDisplayEnableTopAgent"
    :targetData="current"
    @close="closeEnableTopAgent"
    @requestSuccess="refreshPageWithCacheSearchConditions"
  )

  EditTopAgent(
    :isDisplay="isDisplayEditTopAgent"
    :targetData="current"
    @close="closeEditTopAgent"
    @requestSuccess="refreshPageWithCacheSearchConditions"
  )

  AddTopAgent(
    :isDisplay="isDisplayAddTopAgent"
    @close="closeAddTopAgent"
    @requestSuccess="refreshPageWithCacheSearchConditions"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import { mapState, mapGetters } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import DisableTopAgent from "@/components/common/TopAgentManage/DisableTopAgent.vue"
import EnableTopAgent from "@/components/common/TopAgentManage/EnableTopAgent.vue"
import EditTopAgent from "@/components/common/TopAgentManage/EditTopAgent.vue"
import AddTopAgent from "@/components/common/TopAgentManage/AddTopAgent.vue"
import Pagination from "@/components/basic/Paginations.vue"
import CurrencySelect from "@/components/selects/Currency.vue"
import { getTopAgentDetailList, unlockTopAgent } from "@/api/Agent.js"

export default {
  metaInfo() {
    return {
      titleTemplate: "最高代理管理 %s"
    }
  },
  components: {
    Navbar,
    DisableTopAgent,
    EnableTopAgent,
    EditTopAgent,
    AddTopAgent,
    Pagination,
    LoadingLock,
    CurrencySelect
  },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  data: () => ({
    pageTitle: "最高代理管理",
    isDisplayAddTopAgent: false,
    isDisplayEditTopAgent: false,
    isDisplayDisableTopAgent: false,
    isDisplayEnableTopAgent: false,
    isLoading: false,
    resultRows: [],
    isSearchResultEmpty: true,
    current: {
      currencyId: "",
      topAgentAccount: "",
      nickname: "",
      topAgentGroupUid: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    searchTopAgentAccount:"",
  }),
  async mounted() {
    try {
      await this.$store.dispatch("currency/fetchCurrencyList")
      this.current.currencyId = this.getCurrencyIdList[0]
      await this.fetchTopAgentList()
    } catch (err) {
      console.log(err)
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("currency", ["currencies"]),
    ...mapState("cache", {
      topAgentListSearchConditions: state => {
        return state.searchConditions.topAgent.list
      }
    }),
    ...mapGetters("currency", ["getCurrencyIdList"]),
    isDisplayMainPage() {
      if (this.isDisplayAddTopAgent === false) {
        return true
      } else {
        return false
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTopAgentManage",
          previousPage: "btnPrevPageInTopAgentManage",
          inputPage: "iptPageInTopAgentManage",
          actionButton: "btnSearchPageInTopAgentManage",
          nextPage: "btnNextPageInTopAgentManage",
          lastPage: "btnLastPageInTopAgentManage"
        }
      }
    },
    navbarItems() {
      if (this.isDisplayAddTopAgent === true) {
        return [
          { title: "代理管理", islink: false, path: "" },
          { title: this.pageTitle, islink: true, path: this.$route.path },
          { title: "新增代理", islink: false, path: "" }
        ]
      } else {
        return [
          { title: "代理管理", islink: false, path: "" },
          { title: this.pageTitle, islink: true, path: this.$route.path }
        ]
      }
    },
    tableActionItems() {
      return [
        { name: "EDIT_ACCOUNT", label: "編輯" },
        { name: "DISABLE_ACCOUNT", label: "停用" }
      ]
    },
    reportTableHeaders() {
      return [
        { label: "代理帳號", name: "user", QA_CSS: "_account" },
        { label: "識別代碼", name: "accountCode", QA_CSS: "_agentCode" },
        { label: "錢包類型", name: "walletType", QA_CSS: "_walletType" },
        { label: "幣別", name: "currencyLabel", QA_CSS: "_currency" },
        { label: "狀態", name: "status", QA_CSS: "_status" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            user: { account: x.account, nickname: x.nickname, uid: x.uid, groupUid: x.groupUid },
            accountCode: x.code,
            walletType: parseInt(x.walletId),
            currencyLabel: this.getCurrencyLabel(this.current.currencyId),
            status: { isAccountDisabled: parseInt(x.isEnable) === 0, isAccountLocked: parseInt(x.isLock) !== 0 },
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    },
    isCacheSearchConditionsExist() {
      if (Object.keys(this.topAgentListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    getCurrencyLabel(currencyId) {
      const targetId =
        this.isCacheSearchConditionsExist === true ? this.topAgentListSearchConditions.currencyId : currencyId

      const [{ name, code }] = this.currencies.filter(x => x.currencyId === targetId)
      return `${name} (${code})`
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.topAgentListSearchConditions

        const payload = {
          topAgentAccount: cacheData.topAgentAccount,
          currencyId: cacheData.currencyId,
          itemsPerPage: cacheData.itemsPerPage,
          pagingIndex: pagingIndex
        }

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchTopAgentList({ isSearchWithCacheConditions: true })
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    setCurrency(data) {
      this.current.currencyId = data
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setTopAgentListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeTopAgentListSearchConditions")
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    getFetchTopAgentListPayload({ isFromCacheConditions = false } = {}) {
      this.current.topAgentAccount = this.searchTopAgentAccount

      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        return {
          topAgentAccount: this.topAgentListSearchConditions.topAgentAccount,
          currencyId: this.topAgentListSearchConditions.currencyId,
          itemsPerPage: this.topAgentListSearchConditions.itemsPerPage,
          pagingIndex: this.topAgentListSearchConditions.pagingIndex
        }
      } else {
        return {
          topAgentAccount: this.current.topAgentAccount,
          currencyId: this.current.currencyId,
          itemsPerPage: this.current.itemsPerPage,
          pagingIndex: this.current.pagingIndex
        }
      }
    },
    async fetchTopAgentList({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchTopAgentListPayload(payloadConfig)

        const { exitCode, data } = await getTopAgentDetailList(this.loginToken, payload)

        if (exitCode === true) {
          this.resultRows = data.rows
          this.isSearchResultEmpty = false
          this.setPaginations(data.pagination)
        } else {
          throw new Error("No return data")
        }

        if (isSearchWithCacheConditions === false) {
          this.saveCacheSearchConditions(payload)
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    },
    getAccountStateText(isDisabled, isLocked) {
      if (isLocked === true) {
        return "上鎖"
      } else if (isDisabled === true) {
        return "停用"
      } else {
        return "啟用"
      }
    },
    getAccountStateCss(isDisabled, isLocked) {
      if (isLocked === true || isDisabled === true) {
        return "is-danger"
      }
    },
    getWalletTypeText(walletTypeId) {
      switch (walletTypeId) {
        case 1:
          return "單一錢包"
        case 2:
          return "多錢包"
        default:
          return `Wallet type ${walletTypeId} undefined`
      }
    },
    async refreshPageWithCacheSearchConditions() {
      const pagingIndex = this.current.pagingIndex

      await this.searchWithPagingIndex(pagingIndex)
    },
    displayAddTopAgent() {
      this.isDisplayAddTopAgent = true
    },
    closeAddTopAgent() {
      this.isDisplayAddTopAgent = false
    },
    displayEditTopAgent() {
      this.isDisplayEditTopAgent = true
    },
    closeEditTopAgent() {
      this.isDisplayEditTopAgent = false
    },
    displayDisableTopAgent() {
      this.isDisplayDisableTopAgent = true
    },
    closeDisableTopAgent() {
      this.isDisplayDisableTopAgent = false
    },
    displayEnableTopAgent() {
      this.isDisplayEnableTopAgent = true
    },
    closeEnableTopAgent() {
      this.isDisplayEnableTopAgent = false
    },
    resetCurrentData() {
      this.current.currencyId = ""
      this.current.topAgentAccount = ""
      this.current.itemsPerPage = 20
      this.current.pagingIndex = 0
      this.current.totalPagings = -1
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_ACCOUNT":
          this.editAccount(index)
          break
        case "UNLOCK_ACCOUNT":
          this.unlockAccount(index)
          break
        case "ENABLE_ACCOUNT":
          this.enableAccount(index)
          break
        case "DISABLE_ACCOUNT":
          this.disableAccount(index)
          break
      }
    },
    async editAccount(index) {
      const target = this.reportTableRows[index]
      this.current.topAgentUid = target.user.uid
      this.current.topAgentAccount = target.user.account
      this.current.topAgentGroupUid = target.user.groupUid

      this.displayEditTopAgent()
    },
    async disableAccount(index) {
      const target = this.reportTableRows[index]
      this.current.topAgentUid = target.user.uid
      this.current.topAgentAccount = target.user.account
      this.current.nickname = target.user.nickname

      this.displayDisableTopAgent()
    },
    async enableAccount(index) {
      const target = this.reportTableRows[index]
      this.current.topAgentUid = target.user.uid
      this.current.topAgentAccount = target.user.account
      this.current.nickname = target.user.nickname

      this.current.topAgentUid = target.user.uid

      this.displayEnableTopAgent()
    },
    async unlockAccount(index) {
      try {
        this.isLoading = true

        const target = this.reportTableRows[index]
        this.current.topAgentUid = target.user.uid

        const payload = { topAgentUid: this.current.topAgentUid }

        const res = await unlockTopAgent(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchTopAgentList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.top-agent-manage
  &__table-row
    grid-template-columns 250px 120px 120px 120px 90px 170px

  &__result-area
    width fit-content
    width intrinsic
    width -moz-max-content

  &__api-key-modal
    background #d2d2d2

    .el-dialog__header
      display flex
      justify-content space-between
      padding 0.5rem 1rem
      background #666666
      color #ffffff
      font-size 1rem

    .el-dialog__title
      color #ffffff
      font-weight bold
      font-size 1rem

    .el-dialog__headerbtn
      position initial

      .el-dialog__close
        color #ffffff

        &:hover
          color crimson

  &__country-code-input
    width 50px

  &__query-fields
    position relative
    display flex

  &__query-account-fields
    // Height will be 32px
    display flex
    align-items center
    padding 0.5rem 0
    height 1rem

  &__associate-account-area
    display flex
    flex-direction column
    overflow-y auto
    max-height 320px
    grid-column 2 / span 3

  &__phone-fields
    display flex
    grid-column span 3

  &__phone-icon
    margin 0.5rem

  &__wallet-fields
    display flex
    flex-wrap wrap
    grid-column span 3

  &__wallet-url
    grid-column 2 / span 2

  &__wallet-url-input
    width 100%

  &__wallet-button
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    padding 0.5rem 1rem
    height 2rem
    border 1px solid #000000
    background-color #666666
    color #ffffff
    cursor pointer

  &__wallet-button--active, &__wallet-button--selected
    border 1px solid #cccccc
    background-color #ffffff
    color #000000

  &__wallet-button--selected
    cursor default

  &__wallet-button--disabled
    opacity 0.5
    cursor not-allowed
</style>
