<template lang="pug">
.transfer-records
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInTransferRecord") 轉帳紀錄

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
          :id="domId"
        ) {{ label }}

      .filter-contents

        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 開始日期
            DatePicker2(
              domId="btnStartTimeInTransferRecord"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 結束日期
            DatePicker2(
              domId="btnEndTimeInTransferRecord"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              :isOnlyHoursOfTime="false"
              @select="setEndDate"
              ref="endDate"
            )

          CurrencyAndTopAgentSelect(
            topAgentDomId="selTopAgentAccInTransferRecord"
            currencyDomId="selCurrencyInTransferRecord"
            @selectTopAgent="setTopAgentAccount"
            @selectCurrency="setCurrency"
            :isEnabledSelectAll="true"
          )

          .filter-controllers__group
            label.filter-controllers__label--top 會員帳號
            PlayerAccountInput(
              domId="iptMemberAcctInTransferRecord"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

          .filter-controllers__group
            label.filter-controllers__label--top 交易類型
            TransactionTypeSelect(
              domId="selTransactionTypeInTransferRecord"
              @select="setTransactionType"
              ref="transactionTypeSelect"
            )

        .filter-controllers(v-else-if="current.filterTypeCode === 'TRANSACTION_SN' ")
          .filter-controllers__group
            label.filter-controllers__label--top.is-required 交易單號*
            TransferOrderNumberInput(
              domId="iptOrderNoInTransferRecord"
              @input="setOrderTransactionNumber"
              ref="TRANSACTION_SN"
            )

        .search-bar__search-button(
          id="btnSearchInTransferRecord"
          @click="submitSearch"
        ) 搜尋

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) 查無資料

        .search-result__default-content(v-else) 請輸入搜尋條件

      template(v-else)
        .report-table(id="tabTransferRecordInTransferRecord")

          .report-table__row.transfer-records__table-row.t_f
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.transfer-records__table-row.t_d(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")

              .report-table__cell(
                v-if="key === 'currencyId'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ getCurrencyLabel(value) }}

              .report-table__cell(
                v-else-if="key === 'transactionType'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import TransactionTypeSelect from "@/components/selects/TransactionType.vue"
import PlayerAccountInput from "@/components/inputs/PlayerAccount.vue"
import CurrencyAndTopAgentSelect from "@/components/selects/CurrencyAndTopAgent.vue"
import TransferOrderNumberInput from "@/components/inputs/TransferOrderNumber.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import { getTransferRecordsByTimeRange, getTransferRecordsByTransactionNumber } from "@/api/Report.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import SearchConditionCacheMixin from "@/mixins/SearchConditionCache.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: "轉帳紀錄 %s"
    }
  },
  mixins: [ReportPageMixinComputed, ReportPageMixinMethods, SearchConditionCacheMixin],
  components: {
    Navbar,
    Pagination,
    TransactionTypeSelect,
    DateRangeSwitch,
    PlayerAccountInput,
    CurrencyAndTopAgentSelect,
    TransferOrderNumberInput,
    LoadingLock,
    DatePicker2,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  created() {
    // Set search type to time range
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      topAgentAccount: "",
      currencyId: "",
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      orderTransactionNumber: "",
      transactionType: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("currency", ["currencies"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("cache", {
      searchConditionCache: state => {
        return state.searchConditions.transferRecords.list
      }
    }),
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTransferRecord",
          previousPage: "btnPrevPageInTransferRecord",
          inputPage: "iptPageInTransferRecord",
          actionButton: "btnSearchPageInTransferRecord",
          nextPage: "btnNextPageInTransferRecord",
          lastPage: "btnLastPageInTransferRecord"
        }
      }
    },
    reportTableHeaders() {
      return [
        { label: "最高代理帳號", name: "topAgentAccount", QA_CSS: "_agent" },
        { label: "幣別", name: "currencyId", QA_CSS: "_currency" },
        { label: "會員帳號", name: "playerAccount", QA_CSS: "_account" },
        { label: "交易單號", name: "orderTransactionNumber", QA_CSS: "_transferId" },
        { label: "交易類型", name: "transactionType", QA_CSS: "_transferType" },
        { label: "交易前額度", name: "beforeTransactionCredit", QA_CSS: "_beforeRealCredit" },
        { label: "交易金額", name: "transactionCredit", QA_CSS: "_transCredit" },
        { label: "交易後額度", name: "afterTransactionCredit", QA_CSS: "_afterRealCredit" },
        { label: "交易時間", name: "createDate", QA_CSS: "_createDate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            topAgentAccount: x.agentAccount,
            currencyId: parseInt(x.currencyId),
            playerAccount: x.account,
            orderTransactionNumber: x.transferId,
            transactionType: x.transferType,
            beforeTransactionCredit: parseFloat(x.beforeRealCredit).toFixed(2),
            transactionCredit: Math.abs(parseFloat(x.transCredit)).toFixed(2),
            afterTransactionCredit: parseFloat(x.afterRealCredit).toFixed(2),
            createDate: getLocalTimeString(formatToUTCTimeString(x.createDate))
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: "報表功能", islink: false, path: "" },
        { title: "轉帳紀錄", islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInTransferRecord",
        YESTERDAY: "btnYesterdayInTransferRecord",
        THIS_WEEK: "btnThisWeekInTransferRecord",
        LAST_WEEK: "btnLastWeekInTransferRecord"
      }
    },
    filterTypeList() {
      return [
        { code: "TIME_RANGE", label: "時間", domId: "btnTimeInTransferRecord" },
        { code: "TRANSACTION_SN", label: "交易單號", domId: "btnOrderNoInTransferRecord" }
      ]
    }
  },
  methods: {
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.startDate = result
    },
    setEndDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.endDate = result
    },
    setOrderTransactionNumber(payload) {
      this.current.orderTransactionNumber = payload
    },
    setTopAgentAccount(payload) {
      this.current.topAgentAccount = payload
    },
    setCurrency(payload) {
      this.current.currencyId = payload
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setTransactionType(payload) {
      this.current.transactionType = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setTransferRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeTransferRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterOrderTransaction() {
      const result = await this.$refs["TRANSACTION_SN"].validate()
      return result.valid === true
    },
    async validFilterTimeRange() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "TRANSACTION_SN":
          return await this.validFilterOrderTransaction()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TIME_RANGE":
          return await getTransferRecordsByTimeRange(loginToken, payload)
        case "TRANSACTION_SN":
          return await getTransferRecordsByTransactionNumber(loginToken, payload)
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            const currencyId = parseInt(data.rows[0].currencyId)
            this.saveCacheSearchConditions({ ...payload, currencyId })
          }
        } else {
          throw new Error("No return data")
        }
      } catch {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.transfer-records
  &__table-row
    grid-template-columns repeat(9, 150px)
</style>
