<template lang="pug">
.user-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title(id="labTitleInBackUser") 後台使用者管理

    .content
      .action-bar
        .action-bar__label 搜尋帳號 ：

        input.action-bar__input(
          id="iptSearchAccInBackUser"
          v-model="searchUserAccount"
        )

        .action-bar__button(
          id="btnSearchInBackUser"
          @click="fetchUserList(searchUserAccount)"
        ) 搜尋

        .action-bar__button(
          id="btnAddAccInBackUser"
          @click="displayAddUser"
        ) 新增帳號

      .search-result
        template(v-if="reportTableRows.length === 0")
          .search-result__default-content(
            id="divNoResult"
          ) 查無資料

        .report-table(
          id="tabBackUser"
          v-else
        )
          .report-table__row.user-manage__table-row.t_f
            .report-table__header-cell(
              v-for="x in reportTableHeaders"
              :class="x.QA_CSS"
            ) {{ x.label }}

          .report-table__row.user-manage__table-row.t_d(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'user'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ `${value.account} (${value.nickname})` }}

              .report-table__cell(
                v-else-if="key === 'permissionRoles'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value.label }}

              .report-table__cell(
                v-else-if="key === 'status'"
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ getAccountStateText(value.isAccountDisabled) }}

              .report-table__cell(
                v-else-if="key === 'operates'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                .action-bar__table-bar(
                  :class="{'user-manage__single-operate':isCurrentUserAccount(row.user.account)}"
                )
                  template(v-for="x in value")
                    .action-bar__table-alt-button.user-manage__action-button(
                      v-if="row.status.isAccountDisabled === true && x.name === 'DISABLE_ACCOUNT' && isCurrentUserAccount(row.user.account) === false"
                      @click="actionHandler('ENABLE_ACCOUNT', index)"
                    ) 啟用

                    .action-bar__table-button.user-manage__action-button(
                      v-else-if="x.name ==='EDIT_ACCOUNT'"
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

                    .action-bar__table-button.user-manage__action-button(
                      v-else-if="isCurrentUserAccount(row.user.account) === false"
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

  AddUser(
    :isDisplay="isDisplayAddUser"
    @close="closeAddUser"
    @requestSuccess="fetchUserList"
  )

  EditUser(
    :isDisplay="isDisplayEditUser"
    :targetData="current"
    @close="closeEditUser"
    @requestSuccess="fetchUserList"
  )

  DeleteUser(
    :isDisplay="isDisplayDeleteUser"
    :targetData="current"
    @close="closeDeleteUser"
    @requestSuccess="fetchUserList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import { mapState } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import AddUser from "@/components/common/UserManage/AddUser.vue"
import EditUser from "@/components/common/UserManage/EditUser.vue"
import DeleteUser from "@/components/common/UserManage/DeleteUser.vue"

import { getUserList, disableUser, enableUser } from "@/api/User.js"

export default {
  metaInfo() {
    return {
      titleTemplate: "後台使用者管理 %s"
    }
  },
  components: {
    Navbar,
    AddUser,
    EditUser,
    DeleteUser,
    LoadingLock
  },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  data: () => ({
    pageTitle: "後台使用者管理",
    isDisplayAddUser: false,
    isDisplayEditUser: false,
    isDisplayDeleteUser: false,
    isLoading: false,
    resultRows: [],
    searchUserAccount: "",
    current: { userAccount: "", nickname: "", email: "", permissionRoles: [] }
  }),
  async mounted() {
    await this.fetchUserList()
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("member", { currentLoginUserAccount: state => state.id }),
    navbarItems() {
      return [
        { title: "系統管理", islink: false, path: "" },
        { title: this.pageTitle, islink: true, path: this.$route.path }
      ]
    },
    tableActionItems() {
      return [
        { name: "EDIT_ACCOUNT", label: "編輯" },
        { name: "DISABLE_ACCOUNT", label: "停用" },
        { name: "DELETE_ACCOUNT", label: "刪除" }
      ]
    },
    reportTableHeaders() {
      return [
        { label: "帳號", name: "user", QA_CSS: "_account" },
        { label: "角色", name: "permissionRoles", QA_CSS: "_character" },
        { label: "電子郵件", name: "email", QA_CSS: "_email" },
        { label: "狀態", name: "status", QA_CSS: "_status" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const permisssionRoles = this.mappingPermisssionRoleApiData(x.permissionList)

          return {
            user: { account: x.account, nickname: x.nickname, uid: x.uid },
            permissionRoles: {
              data: permisssionRoles.data,
              label: permisssionRoles.label,
              list: permisssionRoles.list
            },
            email: x.email,
            status: { isAccountDisabled: parseInt(x.locked) > 0 },
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    isCurrentUserAccount(accountName) {
      return this.currentLoginUserAccount === accountName
    },
    mappingPermisssionRoleApiData(data) {
      const target = Object.entries(data).map(([key, value]) => {
        return { uid: key, name: value }
      })

      const label = target.map(x => x.name).join(" , ")
      const list = target.map(x => x.uid)

      return { data: target, label, list }
    },
    async fetchUserList(userAccount) {
      try {
        const payload = { userAccount: userAccount }
        const res = await getUserList(this.loginToken, payload)

        if (res.exitCode === true) {
          this.resultRows = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    getAccountStateText(isDisabled) {
      if (isDisabled === true) {
        return "停用"
      } else {
        return "啟用"
      }
    },
    displayAddUser() {
      this.isDisplayAddUser = true
    },
    closeAddUser() {
      this.isDisplayAddUser = false
      this.resetCurrentData()
    },
    displayEditUser() {
      this.isDisplayEditUser = true
    },
    closeEditUser() {
      this.isDisplayEditUser = false
      this.resetCurrentData()
    },
    displayDeleteUser() {
      this.isDisplayDeleteUser = true
    },
    closeDeleteUser() {
      this.isDisplayDeleteUser = false
      this.resetCurrentData()
    },
    resetCurrentData() {
      this.current.userAccount = ""
      this.current.nickname = ""
      this.current.email = ""
      this.current.permissionRoles = []
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_ACCOUNT":
          this.editAccount(index)
          break
        case "DELETE_ACCOUNT":
          this.deleteAccount(index)
          break
        case "ENABLE_ACCOUNT":
          this.enableAccount(index)
          break
        case "DISABLE_ACCOUNT":
          this.disableAccount(index)
          break
      }
    },
    async editAccount(index) {
      const target = this.reportTableRows[index]

      this.current.userAccount = target.user.account
      this.current.nickname = target.user.nickname
      this.current.email = target.email
      this.current.permissionRoles = target.permissionRoles.list
      this.current.userAccountUid = target.user.uid

      this.displayEditUser()
    },
    async deleteAccount(index) {
      const target = this.reportTableRows[index]

      this.current.userAccount = target.user.account
      this.current.nickname = target.user.nickname
      this.current.userAccountUid = target.user.uid

      this.displayDeleteUser()
    },
    async disableAccount(index) {
      try {
        this.isLoading = true

        const target = this.reportTableRows[index]
        this.current.userAccountUid = target.user.uid

        const payload = { userAccountUid: this.current.userAccountUid }

        const res = await disableUser(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchUserList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async enableAccount(index) {
      try {
        this.isLoading = true

        const target = this.reportTableRows[index]
        this.current.userAccountUid = target.user.uid

        const payload = { userAccountUid: this.current.userAccountUid }

        const res = await enableUser(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchUserList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.user-manage
  &__table-row
    grid-template-columns 250px 200px 200px 100px 250px

  &__permission-list
    padding 0.5rem
    grid-column span 3

  &__single-operate
    justify-content flex-start

  &__action-button
    margin 0.5rem
</style>
