<template lang="pug">
.permission-manage-add
  .frame.frame--general(v-if="isDisplay === true")
    .frame__title(id="labCreatInAddChar") 新增角色

    .frame__row
      .frame__label.is-required(id="labCharInAddChar") 角色* :

      UserNicknameInput(
        domId="iptCharInAddChar"
        @input="setPermissionRoleName"
        :isRequired="true"
        ref="permissionRoleNameInput"
      )

    .frame__row
      .frame__label(id="labPSInAddChar") 備註 :
      input.input(
        id="iptPSInAddChar"
        v-model="current.comment"
      )

    .frame__row
      .frame__label(id="labPermissionInAddChar") 權限* :
      PermissionTable.permission-manage__permission-list(
        :class="[isPermissionTableValid?'':'is-invalid']"
        @change="setPermissionList"
        :domIdList="permissionTableList.domId"
        ref="permissionTable"
      )

    .frame__row
      .frame__action-bar
        .action-bar__alt-button(
          @click="onClose"
          id="btnCancelInAddChar"
        ) 取消

        .action-bar__button(
          @click="submit"
          id="btnOKInAddChar"
        ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"
import PermissionTable from "@/components/common/PermissionTable.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import { addPermissionRole } from "@/api/Permission.js"

export default {
  name: "AddPermissionRole",
  props: { isDisplay: { type: Boolean, default: false } },
  components: { LoadingLock, PermissionTable, UserNicknameInput },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissionRoleName: "", comment: "", permissions: [] },
    isPermissionTableValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    permissionTableList() {
      return {
        domId: {
          clearAll: "btnClearAllInAddChar",
          selectAll: "btnChooseAllInAddUser",
          table: "tabPermissionInAddChar"
        }
      }
    }
  },
  methods: {
    setPermissionList(payload) {
      this.current.permissions = payload

      this.isPermissionTableValid = true
    },
    setPermissionRoleName(payload) {
      this.current.permissionRoleName = payload
    },
    resetToDefault() {
      this.current.permissionRoleName = ""
      this.current.comment = ""
      this.current.permissions = []
      this.$refs["permissionTable"].resetToDefault()
    },
    onClose() {
      this.$emit("close", true)
      this.resetToDefault()
    },
    validatePermissionTable() {
      if (this.current.permissions.length > 0) {
        this.isPermissionTableValid = true
        return true
      } else {
        this.isPermissionTableValid = false
        return false
      }
    },
    async validateInputs() {
      const result = await this.$refs["permissionRoleNameInput"].validate()
      const permissionTableResult = this.validatePermissionTable()
      return result.valid === true && permissionTableResult === true
    },
    async submit() {
      const validResult = await this.validateInputs()

      if (validResult !== true) return

      try {
        this.isLoading = true
        const res = await addPermissionRole(this.loginToken, this.current)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
