<template lang="pug">
.permission-manage-edit
  .frame.frame--general(v-if="isDisplay === true")
    .frame__title 編輯角色

    .frame__row
      .frame__label.is-required(id="labCharInEditChar") 角色* :

      UserNicknameInput(
        domId="iptCharInEditChar"
        @input="setPermissionRoleName"
        :isRequired="true"
        ref="permissionRoleNameInput"
      )

    .frame__row
      .frame__label(id="labPSInEditChar") 備註 :
      input.input(
        id="iptPSInEditChar"
        v-model="current.comment"
        ref="commentInput"
      )

    .frame__row
      .frame__label(id="labPermissionInEditChar") 權限* :
      PermissionTable.permission-manage__permission-list(
        :class="[isPermissionTableValid?'':'is-invalid']"
        @change="setPermissionList"
        :domIdList="permissionTableList.domId"
        ref="permissionTable"
      )

    .frame__row
      .frame__action-bar
        .action-bar__alt-button(
          @click="onClose"
          id="btnCancelInEditChar"
        ) 取消

        .action-bar__button(
          @click="submit"
          id="btnSaveInEditChar"
        ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"
import PermissionTable from "@/components/common/PermissionTable.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import { updatePermissionRole } from "@/api/Permission.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  components: { LoadingLock, PermissionTable, UserNicknameInput },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissionRoleName: "", permissionRoleUid: "", comment: "", permissions: [] },
    isPermissionTableValid: true,
    isLoading: false
  }),
  watch: {
    isDisplay(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.assignDefaultValues()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    permissionTableList() {
      return {
        domId: {
          clearAll: "btnClearAllInEditChar",
          selectAll: "btnChooseAllInEditChar",
          table: "tabPermissionInEditChar"
        }
      }
    }
  },
  methods: {
    assignDefaultValues() {
      this.current.permissionRoleUid = this.targetData.permissionRoleUid
      this.current.comment = this.targetData.comment

      this.$refs["permissionRoleNameInput"].setValue(this.targetData.permissionRoleName)
      this.$refs["permissionTable"].setPermissions(this.targetData.permissions)
    },
    setPermissionList(payload) {
      this.current.permissions = payload

      this.isPermissionTableValid = true
    },
    setPermissionRoleName(payload) {
      this.current.permissionRoleName = payload
    },
    resetToDefault() {
      this.current.permissionRoleName = ""
      this.current.comment = ""
      this.current.permissions = []
      this.$refs["permissionTable"].resetToDefault()
    },
    onClose() {
      this.$emit("close", true)
      this.resetToDefault()
    },
    validatePermissionTable() {
      if (this.current.permissions.length > 0) {
        this.isPermissionTableValid = true
        return true
      } else {
        this.isPermissionTableValid = false
        return false
      }
    },
    async validateInputs() {
      const result = await this.$refs["permissionRoleNameInput"].validate()
      const permissionTableResult = this.validatePermissionTable()
      return result.valid === true && permissionTableResult === true
    },
    async submit() {
      const validResult = await this.validateInputs()

      if (validResult !== true) return
      try {
        this.isLoading = true

        const res = await updatePermissionRole(this.loginToken, this.current)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
