<template>
  <div class="_panel">
    <div class="_area">
      <div class="subTitle">入桌限制</div>
      <div class="subEdit">
        <div class="_row">
          <div class="_fTitle">進座最低限制 (競瞇桌)：</div>
          <div class="_fShow" v-if="!Edit_enterTableLimit">{{enterTableLimit}}</div>
          <input
            type="text"
            v-model="enterTableLimit"
            v-if="Edit_enterTableLimit"
            v-bind:class="{'_input':true,'v_error':V_err.has('enterTableLimit.n_enterTableLimit')}"
            v-validate="{integer:true,required:true,min_value:0,max_value:999999999}"
            name="n_enterTableLimit"
            placeholder="數字"
            data-vv-scope="enterTableLimit"
            id="iptEntryLimit"
          />
          <div class="_fShow">人民幣</div>
          <div class="_op">
            <div
              :class="{_btnV3:true,_primary:true}"
              @click="Edit_enterTableLimit=true"
              v-if="!Edit_enterTableLimit"
              id="btnEditEntryLimit"
            >編輯</div>
            <div
              id="btnCancelEntryLimit"
              :class="{_btnV3:true}"
              @click="cancel_enterTableLimit();"
              v-if="Edit_enterTableLimit"
            >取消</div>
            <div
              :class="{_btnV3:true,_primary:true,_disabled:!isSaveEnterTableLimit}"
              v-if="Edit_enterTableLimit"
              @click="update_enterTableLimit();"
              id="btnSaveEntryLimit"
            >儲存</div>
          </div>
        </div>
      </div>
    </div>

    <div class="_area">
      <div class="subTitle">預設限紅</div>
      <div class="subEdit">
        <div class="_row">
          <div class="_fTitle">範圍：</div>
          <div :class="{_range:true,isEdit:Edit_defaultLimit}">
            <div class="_fTitle">下限：</div>
            <div class="_fShow" v-if="!Edit_defaultLimit">{{defaultLimit.lowerLimit}}</div>
            <input
              type="text"
              v-model="defaultLimit.lowerLimit"
              v-if="Edit_defaultLimit"
              v-bind:class="{'_input':true,'v_error':V_err.has('defaultLimit.n_lowerLimit')}"
              v-validate="{integer:true,required:true,min_value:1,max_value:LimitMax,beginNoZero:true}"
              name="n_lowerLimit"
              placeholder="數字(不含0)"
              data-vv-scope="defaultLimit"
              id="iptMinPresetLimit"
            />
          </div>~
          <div :class="{_range:true,isEdit:Edit_defaultLimit}">
            <div class="_fTitle">上限：</div>
            <div class="_fShow" v-if="!Edit_defaultLimit">{{defaultLimit.upperLimit}}</div>
            <input
              type="text"
              v-model="defaultLimit.upperLimit"
              v-if="Edit_defaultLimit"
              v-bind:class="{'_input':true,'v_error':V_err.has('defaultLimit.n_upperLimit')}"
              v-validate="{integer:true,required:true,min_value:LimitMin,max_value:999999,beginNoZero:true}"
              name="n_upperLimit"
              placeholder="數字(不含0)"
              data-vv-scope="defaultLimit"
              id="iptMaxPresetLimit"
            />
          </div>
          <div class="_op">
            <div
              :class="{_btnV3:true,_primary:true}"
              @click="Edit_defaultLimit=true"
              v-if="!Edit_defaultLimit"
              id="btnEditPresetLimit"
            >編輯</div>
            <div id="btnCancelPresetLimit" :class="{_btnV3:true}" @click="cancel_defaultLimit();" v-if="Edit_defaultLimit">取消</div>
            <div
              :class="{_btnV3:true,_primary:true,_disabled:!isSaveDefaultLimit}"
              v-if="Edit_defaultLimit"
              @click="update_defaultLimit();"
              id="btnSavePresetLimit"
            >儲存</div>
          </div>
        </div>
      </div>
    </div>

    <div class="_area">
      <div class="subTitle">最高代理限紅</div>
      <div class="subEdit">
        <div class="_row">
          <div class="_fTitle">最多組數：</div>
          <div class="_fShow" v-if="!Edit_maxLimitGroupNum">{{maxLimitGroupNum}}</div>
          <input
            type="text"
            v-model="maxLimitGroupNum"
            v-if="Edit_maxLimitGroupNum"
            v-bind:class="{'_input':true,'v_error':V_err.has('maxLimitGroupNum.n_maxLimitGroupNum')}"
            v-validate="{integer:true,required:true,min_value:1,max_value:9}"
            name="n_maxLimitGroupNum"
            placeholder="數字(不含0)"
            data-vv-scope="maxLimitGroupNum"
            id="iptMaxGroups"
          />
          <div class="_op">
            <div
              :class="{_btnV3:true,_primary:true}"
              @click="Edit_maxLimitGroupNum=true"
              v-if="!Edit_maxLimitGroupNum"
              id="btnEditLimitGroup"
            >編輯</div>
            <div
              id="btnCancelLimitGroup"
              :class="{_btnV3:true}"
              @click="cancel_maxLimitGroupNum();"
              v-if="Edit_maxLimitGroupNum"
            >取消</div>
            <div
              :class="{_btnV3:true,_primary:true,_disabled:!isSaveMaxLimitGroupNum}"
              v-if="Edit_maxLimitGroupNum"
              @click="update_maxLimitGroupNum();"
              id="btnSaveLimitGroup"
            >儲存</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameLimitManager from "@/services/GameLimitManager"

export default {
  components: {},
  props: ["prop_loginToken"],
  data() {
    return {
      enterTableLimit: 0,
      _enterTableLimit: 0,
      maxLimitGroupNum: 0,
      _maxLimitGroupNum: 0,
      LimitMin: 0,
      LimitMax: 0,
      defaultLimit: {
        uid: "",
        lowerLimit: 0,
        upperLimit: 100
      },
      _defaultLimit: {
        uid: "",
        lowerLimit: 0,
        upperLimit: 100
      },
      Edit_enterTableLimit: false,
      Edit_defaultLimit: false,
      Edit_maxLimitGroupNum: false
    }
  },
  methods: {
    init() {
      this.getGameGlobalSets()
    },
    setDefaultData(item, v) {
      this.$data[item] = _.cloneDeep(v)
      this.$data["_" + item] = _.cloneDeep(v)
    },
    getGameGlobalSets() {
      var _this = this

      GameLimitManager.getGameGlobalSets(this.prop_loginToken)
        .then(function(res) {
          _this.setDefaultData("enterTableLimit", res.enterTableLimit)
          _this.setDefaultData("maxLimitGroupNum", res.redLimitsMaxEnabledCount)
          _this.setDefaultData("defaultLimit", _.cloneDeep(res.limit))
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    cancel_maxLimitGroupNum() {
      this.$data.maxLimitGroupNum = this.$data._maxLimitGroupNum
      this.$data.Edit_maxLimitGroupNum = false
    },
    cancel_defaultLimit() {
      this.$data.defaultLimit = _.cloneDeep(this.$data._defaultLimit)
      this.$data.Edit_defaultLimit = false
    },
    cancel_enterTableLimit() {
      this.$data.enterTableLimit = this.$data._enterTableLimit
      this.$data.Edit_enterTableLimit = false
    },
    update_maxLimitGroupNum() {
      if (!this.isSaveMaxLimitGroupNum) return

      var _this = this

      var d = {
        v: this.$data.maxLimitGroupNum
      }

      GameLimitManager.updateMaxLimitGroupNum(this.prop_loginToken, d)
        .then(function(res) {
          _this.complete_maxLimitGroupNum()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    update_defaultLimit() {
      if (!this.isSaveDefaultLimit) return

      var _this = this
      var d = _.cloneDeep(this.$data.defaultLimit)
      GameLimitManager.updateDefaultLimit(this.prop_loginToken, d)
        .then(function(res) {
          _this.complete_defaultLimit()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    update_enterTableLimit() {
      if (!this.isSaveEnterTableLimit) return

      var _this = this

      var d = {
        v: this.$data.enterTableLimit
      }

      GameLimitManager.updateEnterTableLimit(this.prop_loginToken, d)
        .then(function(res) {
          _this.complete_enterTableLimit()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    complete_maxLimitGroupNum() {
      var v = this.$data.maxLimitGroupNum
      this.setDefaultData("maxLimitGroupNum", v)
      this.$data.Edit_maxLimitGroupNum = false

      //this.init();
    },
    complete_defaultLimit() {
      var v = _.cloneDeep(this.$data.defaultLimit)
      this.setDefaultData("defaultLimit", v)
      this.$data.Edit_defaultLimit = false

      //this.init();
    },
    complete_enterTableLimit() {
      var v = this.$data.enterTableLimit
      this.setDefaultData("enterTableLimit", v)
      this.$data.Edit_enterTableLimit = false

      //this.init();
    }
  },
  computed: {
    isChangeMaxLimitGroupNum() {
      return !(this.$data.maxLimitGroupNum == this.$data._maxLimitGroupNum)
    },
    isChangeDefaultLimit() {
      var re = !(
        JSON.stringify(_.cloneDeep(this.$data.defaultLimit)) == JSON.stringify(_.cloneDeep(this.$data._defaultLimit))
      )
      return re
    },
    isChangeEnterTableLimit() {
      var re = !(this.$data.enterTableLimit == this.$data._enterTableLimit)
      return re
    },
    isVaildMaxLimitGroupNum() {
      var state = true

      _.forEach(this.V_fields.$maxLimitGroupNum, function(v, k) {
        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      return state
    },
    isVaildDefaultLimit() {
      var state = true

      _.forEach(this.V_fields.$defaultLimit, function(v, k) {
        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      return state
    },
    isVaildEnterTableLimit() {
      var state = true

      _.forEach(this.V_fields.$enterTableLimit, function(v, k) {
        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      return state
    },
    isSaveMaxLimitGroupNum() {
      var re = !this.isChangeMaxLimitGroupNum || !this.isVaildMaxLimitGroupNum
      return !re
    },
    isSaveDefaultLimit() {
      var re = !this.isChangeDefaultLimit || !this.isVaildDefaultLimit
      return !re
    },
    isSaveEnterTableLimit() {
      var re = !this.isChangeEnterTableLimit || !this.isVaildEnterTableLimit
      return !re
    }
  },
  watch: {
    "defaultLimit.lowerLimit": function(val) {
      this.LimitMin = parseInt(val) + 1
    },
    "defaultLimit.upperLimit": function(val) {
      console.log(val)
      this.LimitMax = parseInt(val) - 1
    }
  },
  created() {
    this.init()
  },
  beforeCreate: function() {}
}
</script>

<style lang="less" scoped>
._panel {
  padding-top: 30px;
}

._c_dialog {
  background-color: transparent;
}

._area {
  margin: auto auto 30px auto;
  width: 90%;

  ._op {
    display: flex;
    position: absolute;
    right: 10px;
  }
}

.subTitle {
  background-color: rgba(102, 102, 102, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 170px;
  padding-left: 10px;
  height: 28px;
}

.subEdit {
  background-color: rgba(228, 228, 228, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  min-height: 71px;
  width: 100%;
  padding: 30px;
  position: relative;
}

._range {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  height: 30px;
  display: inline-flex;
  align-items: center;
  margin: auto 5px;

  &.isEdit {
    border-color: rgba(161, 161, 161, 1);
    background-color: #ffffff;
  }

  input[type="text"] {
    border-color: transparent;

    &.v_error {
      border-color: red;
    }
  }

  ._fShow {
    padding-left: 3px;
  }

  ._fTitle {
    padding-left: 5px;
  }
}

._row {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.v1 {
  height: 30px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

.w1 {
  width: 100px;
}

._fTitle {
  .v1();
}

._fShow {
  .v1();
  .w1();
  padding-left: 3px;
}

input[type="text"] {
  .v1();
  .w1();
}
</style>

