<template>
  <div class="_panel">
    <CurrencyAndTopAgent
      class="agentSel"
      :isEnabledSelectAll="false"
      @selectTopAgent="setTopAgentAccount"
      @selectCurrency="setCurrency"
      :parentClassesGroup="['game-limit-v2__group-select']"
      :parentClassesLabel="['game-limit-v2__label-select']"
      currencyDomId="selCurrencyInBetLimit"
      topAgentDomId="selAgentAccInBetLimit"
    ></CurrencyAndTopAgent>

    <div class="_area">
      <div class="subTitle" id="labTableLimitInSet">賭桌限制</div>
      <div class="subEdit">
        <div class="_row">
          <div class="_fTitle">賭桌最高限紅：</div>
          <input
            id="iptTableMaxBetLimitInSet"
            type="text"
            v-model="d_AgentLimits.maxTableLimit"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_maxTableLimit')}"
            v-validate="{integer:true,required:true,min_value:0,max_value:9999999999999}"
            name="n_maxTableLimit"
            placeholder="數字，最大十三位"
            maxlength="13"
          />
          <div class="_op">
            <div
              id="btnCancelInTabelLimit"
              :class="{_btnV3:true,_disabled:!isEditTableLimit}"
              @click="cancelUpdateTableMaxLimit();"
            >取消</div>
            <div
              id="btnSaveInTabelLimit"
              :class="{_btnV3:true,_primary:true,_disabled:!isEditTableLimit}"
              @click="updateTableMaxLimit();"
            >儲存</div>
          </div>
        </div>
      </div>
    </div>

    <div class="_area">
      <div class="subTitle">限紅設定</div>
      <div class="subEdit">
        <div
          id="btnAddBetLimit"
          class="_btnV3 _primary _addLimit"
          @click="$emit('doAdd',d_agentSeled)"
        >新增限紅</div>
        <div id="divBetLimitSet">
          <div class="t_f">
            <div class="_col f_a">編號</div>
            <div class="_col f_b">下限</div>
            <div class="_col f_c">上限</div>
            <div class="_col f_e">狀態</div>
            <div class="_col f_h">操作</div>
          </div>
          <div class="t_d" v-for="(item, index) in d_AgentLimits.Limits">
            <div class="_col f_a">{{(item.code == '0')?'預設':item.code}}</div>
            <div class="_col f_b">{{item.lowerLimit}}</div>
            <div class="_col f_c">{{item.upperLimit}}</div>
            <div class="_col f_e">{{item.used?('使用中'):'-'}}</div>
            <div class="_col f_h" v-if="item.system">
              <div class="_btnV3" @click="$emit('doView',item)">詳情</div>
            </div>
            <div class="_col f_h" v-if="!item.system">
              <div class="_btnV3 _primary" @click="$emit('doEdit',item,d_agentSeled)">編輯</div>
              <div class="_btnV3 _primary" @click="delLimit(item);">刪除</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameLimitManager from "@/services/GameLimitManager"
import AgentManager from "@/services/AgentManager"
import CurrencyAndTopAgent from "@/components/selects/CurrencyAndTopAgent.vue"

export default {
  components: { CurrencyAndTopAgent },
  props: ["prop_loginToken", "prop_assignAgent"],
  data() {
    return {
      d_agent: [
        {
          uid: "1",
          title: "account1",
          nickname: "A"
        },
        {
          uid: "2",
          title: "account2",
          nickname: "B"
        }
      ],
      d_agentSeled: "",
      d_tableLimit: 0,
      _d_tableLimit: 0,
      d_AgentLimits: {
        sets: [],
        maxTableLimit: 0
      },
      _d_AgentLimits: {
        sets: [],
        maxTableLimit: 0
      },
      d_agentSeled: "",
      d_currency: ""
    }
  },
  methods: {
    setTopAgentAccount(data) {
      this.d_agentSeled = data
    },
    setCurrency(data) {
      this.d_currency = data
    },
    init() {
      this.getAgentList()
    },
    getAgentList() {
      var _this = this
      AgentManager.getTopAgentList(this.prop_loginToken)
        .then(function(res) {
          //var testD = _.filter(res, ['code', '0101']);
          var testD = res

          for (var i = 0; i < testD.length; i++) {
            if (testD[i].isEnable == "0") {
              testD.splice(i, 1)
            }
          }
          _this.$data.d_agent = _.cloneDeep(testD)
          _this.$data.d_agentSeled = _.cloneDeep(_this.prop_assignAgent) || _.cloneDeep(testD[0].groupUid)
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    initAgentLimit(d) {
      this.$data.d_AgentLimits = _.cloneDeep(d)
      this.$data._d_AgentLimits = _.cloneDeep(d)
    },
    getAgentLimits() {
      var _this = this

      var d = {
        agentGroupUid: this.$data.d_agentSeled
      }

      GameLimitManager.getAgentLimits(this.prop_loginToken, d)
        .then(function(res) {
          _this.initAgentLimit({
            Limits: res.rows,
            maxTableLimit: res.extra.maxTableLimit
          })
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    /*
			getAgentDetail(){
				var re = 1;
				this.$data._d_tableLimit = re;
				this.$data.d_tableLimit = re;
			},
			*/
    resetTableMaxLimit() {
      this.$data.d_AgentLimits.maxTableLimit = this.$data._d_AgentLimits.maxTableLimit
    },
    updateTableMaxLimit() {
      if (!this.isEditTableLimit) return

      var _this = this
      var d = {
        agentGroupUid: this.$data.d_agentSeled,
        maxTableLimit: this.$data.d_AgentLimits.maxTableLimit
      }

      GameLimitManager.updateTableMaxLimit(this.prop_loginToken, d)
        .then(function(res) {
          _this.getAgentLimits()
        })
        .catch(function(err) {
          console.log(err)
        })

      this.$data._d_tableLimit = this.$data.d_tableLimit
    },
    delLimit(item) {
      var _this = this
      var d = {
        agentGroupUid: this.$data.d_agentSeled,
        redLimitUid: item.uid
      }

      //console.log(d);
      //return;
      GameLimitManager.delTableLimit(this.prop_loginToken, d)
        .then(function(res) {
          _this.getAgentLimits()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    cancelUpdateTableMaxLimit() {
      this.resetTableMaxLimit()
    }
  },
  computed: {
    isEditTableLimit() {
      var state = true

      _.forEach(this.V_fields, function(v, k) {
        if (!v.required && v.untouched) {
          return true
        }

        if (!v.valid) {
          state = false
          return false
        }
      })

      if (state) {
        state = !(this.$data.d_AgentLimits.maxTableLimit == this.$data._d_AgentLimits.maxTableLimit)
      }

      return state
    }
  },
  watch: {
    d_agentSeled(val) {
      this.getAgentLimits()
      this.$emit("setTaAgent", val)
    }
  },
  created() {
    this.init()
  },
  beforeCreate: function() {}
}
</script>

<style lang="stylus">
.game-limit-v2
  &__group-select
    display block
    margin-left 0.5 rem

.game-limit-v2
  &__label-select
    margin-right 0.5 rem
</style>

<style lang="less" scoped>
.subTitle {
  background-color: rgba(102, 102, 102, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 170px;
  padding-left: 10px;
  height: 28px;
}

.subEdit {
  background-color: rgba(228, 228, 228, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  min-height: 71px;
  width: 100%;
  padding: 30px;
  position: relative;
}

.agentSel {
  text-align: right;
  margin: 15px;
  display: flex;
  justify-content: flex-end;
}

._area {
  margin: auto auto 30px auto;
  width: 90%;

  ._op {
    display: flex;
    position: absolute;
    right: 10px;
  }
}

._row {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

._addLimit {
  width: 100px;
  float: right;
  height: 28px;
  margin-bottom: 8px;
}

.t_f {
  width: 100%;
  ._col {
    &.f_h {
      flex: 1.5 1;
      justify-content: center;
    }
  }
}

.t_d {
  width: 100%;
  ._col {
    background-color: #ffffff;
  }
}

._col {
  flex: 1 1;
  &.f_h {
    flex: 1.5 1;
    justify-content: space-between;
  }
}
</style>

