<template>
  <div class="edit_area">
    <div id="labSubTitleInAddTable" v-if="!prop_isEdit">新增賭桌</div>
    <div id="labSubTitleInEditTable" v-if="prop_isEdit">編輯賭桌</div>
    <hr />
    <div class="tagTitle" id="labBaseInfoInInAddTable" v-if="!prop_isEdit">基本資訊</div>
    <div class="tagTitle" id="labBaseInfoInInEditTable" v-if="prop_isEdit">基本資訊</div>
    <div class="basicEdit _c_dialog">
      <div class="c_f">
        <div class="input_t">賭桌名稱(繁)* :</div>
        <div class="input_d">
          <input
            type="text"
            :id="D_dailogDomId.iptTrdTableName"
            v-bind:class="{ _input: true, v_error: V_err.has('tableName_tw') }"
            v-validate="{ AlphaNumChinese: true, required: true, min: 3, max: 16 }"
            name="tableName_tw"
            placeholder="英文、中文、數字3-16位"
            v-model="tableName_tw"
            maxlength="16"
          />
        </div>
      </div>
      <div class="c_f">
        <div class="input_t">賭桌名稱(簡)* :</div>
        <div class="input_d">
          <input
            type="text"
            :id="D_dailogDomId.iptSimpTableName"
            v-bind:class="{ _input: true, v_error: V_err.has('tableName_zh') }"
            v-validate="{ AlphaNumChinese: true, required: true, min: 3, max: 16 }"
            name="tableName_zh"
            placeholder="英文、中文、數字3-16位"
            v-model="tableName_zh"
            maxlength="16"
          />
        </div>
      </div>
      <div class="c_f">
        <div class="input_t">賭桌名稱(英)* :</div>
        <div class="input_d">
          <input
            type="text"
            :id="D_dailogDomId.iptEngTableName"
            v-bind:class="{ _input: true, v_error: V_err.has('tableName_en') }"
            v-validate="{ alpha_num: true, required: true, min: 3, max: 16 }"
            name="tableName_en"
            placeholder="英文、數字3-16位"
            v-model="tableName_en"
            maxlength="16"
          />
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">廳館* :</div>
        <div class="input_d">
          <select v-model="themeId" :id="D_dailogDomId.selRoom" v-if="!prop_isEdit">
            <option v-for="item in props_themes" :value="item.uid">{{ item.title }}</option>
          </select>
          <div v-if="prop_isEdit" :id="D_dailogDomId.labRoomContent">{{ editData.themeTitle }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">遊戲類型* :</div>
        <div class="input_d">
          <select v-model="gameTypeId" :id="D_dailogDomId.selGameType" v-if="!prop_isEdit">
            <option v-for="item in C_gameTypes2" :value="item.uid">{{ item.title }}</option>
          </select>
          <div v-if="prop_isEdit" :id="D_dailogDomId.labGameType">{{ editData.gameSetTitle }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">桌種* :</div>
        <div class="input_d">
          <select v-model="tableTypeId" :id="D_dailogDomId.selTableType" v-if="!prop_isEdit">
            <option v-for="item in C_tableTypes2" :value="item.uid">{{ item.title }}</option>
          </select>
          <div v-if="prop_isEdit" :id="D_dailogDomId.labTableType">{{ editData.tableSpeciesTitle }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">系統桌號* :</div>
        <div class="input_d">
          <input
            type="text"
            v-if="!prop_isEdit"
            :id="D_dailogDomId.iptSystemTableNo"
            v-bind:class="{ _input: true, v_error: V_err.has('N_systemCode') }"
            v-validate="{ integer: true, required: true, max: 4, is_not: '0' }"
            name="N_systemCode"
            placeholder="可輸入4位數字"
            v-model="systemCode"
            maxlength="4"
          />
          <div v-if="prop_isEdit" :id="D_dailogDomId.labSystemTableNo">{{ editData.systemCode }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">前台桌號* :</div>
        <div class="input_d">
          <input
            type="text"
            :id="D_dailogDomId.iptFrontTableNo"
            v-bind:class="{ _input: true, v_error: V_err.has('N_frontCode') }"
            v-validate="{ required: true, alpha_num: true, max: 3 }"
            name="N_frontCode"
            placeholder="英數皆可，最大3位"
            v-model="frontCode"
            maxlength="3"
          />
          <!-- <div v-if="prop_isEdit" :id="D_dailogDomId.labFrontTableNo">{{ editData.frontCode }}</div> -->
        </div>
      </div>

      <div class="c_f" v-if="prop_isEdit">
        <div class="input_t">平台 :</div>
        <div class="input_d">
          <div :id="D_dailogDomId.labPlatformContent">{{ editData.gameVendorTitle }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">現場桌號* :</div>
        <div class="input_d">
          <input
            type="text"
            :id="D_dailogDomId.iptLiveTableNo"
            v-bind:class="{ _input: true, v_error: V_err.has('N_siteCode') }"
            v-validate="{ required: true, alpha_underline: true, min: 1, max: 20 }"
            name="N_siteCode"
            placeholder="英、數、底線"
            v-model="siteCode"
            maxlength="20"
          />
          <!-- <div v-if="prop_isEdit" :id="D_dailogDomId.labLiveTableNo">{{ editData.siteCode }}</div> -->
        </div>
      </div>

      <div class="c_f" v-if="prop_isEdit">
        <div class="input_t">現場位置 :</div>
        <div class="input_d">
          <div :id="D_dailogDomId.labLivePositContent">{{ editData.casinoLocationTitle }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">下注時間* :</div>
        <div class="input_d">
          <input
            type="text"
            v-if="!prop_isEdit"
            :id="D_dailogDomId.iptBetTime"
            v-bind:class="{ _input: true, v_error: V_err.has('BetTime') }"
            v-validate="{ required: true, numeric: true, min_value: 1, max: 2 }"
            name="BetTime"
            placeholder="正整數 (單位是秒)"
            v-model="BetTime"
            maxlength="2"
          />
          <div v-if="prop_isEdit" :id="D_dailogDomId.labBetTime">{{ editData.betTime }}</div>
        </div>
      </div>

      <div class="c_f">
        <div class="input_t">結算時間* :</div>
        <div class="input_d">
          <input
            type="text"
            v-if="!prop_isEdit"
            :id="D_dailogDomId.iptSettleTime"
            v-bind:class="{ _input: true, v_error: V_err.has('SettleTime') }"
            v-validate="{ required: true, numeric: true, min_value: 1, max: 2 }"
            name="SettleTime"
            placeholder="正整數 (單位是秒)"
            v-model="SettleTime"
            maxlength="2"
          />
          <div v-if="prop_isEdit" :id="D_dailogDomId.labSettleTime">{{ editData.settleTime }}</div>
        </div>
      </div>

      <div class="c_f" v-if="editData.enablePeek">
        <div class="input_t">瞇牌時間1* :</div>
        <div class="input_d">
          <input
            type="text"
            v-if="!prop_isEdit"
            :id="D_dailogDomId.iptFirstSeenTime"
            v-bind:class="{ _input: true, v_error: V_err.has('SeenTime_1') }"
            v-validate="{ required: true, numeric: true, min_value: 1, max: 2 }"
            name="SeenTime_1"
            placeholder="正整數 (單位是秒)"
            v-model="SeenTime_1"
            maxlength="2"
          />
          <div v-if="prop_isEdit" :id="D_dailogDomId.labFirstSeenTime">{{ editData.peek1Time }}</div>
        </div>
      </div>

      <div class="c_f" v-if="editData.enablePeek">
        <div class="input_t">瞇牌時間2* :</div>
        <div class="input_d">
          <input
            type="text"
            v-if="!prop_isEdit"
            :id="D_dailogDomId.iptSecondSeenTime"
            v-bind:class="{ _input: true, v_error: V_err.has('SeenTime_2') }"
            v-validate="{ required: true, numeric: true, min_value: 1, max: 2 }"
            name="SeenTime_2"
            placeholder="正整數 (單位是秒)"
            v-model="SeenTime_2"
            maxlength="2"
          />
          <div v-if="prop_isEdit" :id="D_dailogDomId.labSecondSeenTime">{{ editData.peek2Time }}</div>
        </div>
      </div>
    </div>
    <div class="_c_dialog _center">
      <el-button @click="_cancel()" :id="D_dailogDomId.btnCancel">取消</el-button>
      <el-button type="primary" @click="DoAddTable()" :id="D_dailogDomId.btnSave" v-if="!prop_isEdit">新增</el-button>
      <el-button type="primary" @click="DoUpdateTable()" :id="D_dailogDomId.btnSave" v-if="prop_isEdit">儲存</el-button>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import BetTableManager from "@/services/BetTableManager"
export default {
  props: [
    //'props_gameTypes',
    "props_themes",
    //'props_tableTypes',
    "prop_isEdit",
    "prop_editUid",
    "prop_D_gameTypes",
    "prop_D_tableTypes"
  ],
  components: {},
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      tableName_tw: "",
      tableName_zh: "",
      tableName_en: "",
      themeId: "",
      gameTypeId: "",
      tableTypeId: "",
      frontCode: "",
      siteCode: "",
      systemCode: "",
      BetTime: "",
      SettleTime: "",
      SeenTime_1: "",
      SeenTime_2: "",
      peek2Enable: false,
      labIsMatchSeat: "1",
      gameTypeAlias: "",
      casinoLocationUid: "",
      T_Limit: {
        DEFAULT_LIMIT: {
          tableLimitTypeUid: "",
          tableLimitUid: "",
          active: false,
          default_tableLimitUid: ""
        },
        TABLE_LIMIT: {
          tableLimitTypeUid: "",
          tableLimitUid: "",
          active: false,
          default_tableLimitUid: ""
        },
        BESIDE_LIMIT: {
          tableLimitTypeUid: "",
          tableLimitUid: "",
          active: false,
          default_tableLimitUid: ""
        }
      },
      editData: {},
      completeEditInit: false,
      D_dailogDomId: {
        labSubTitle: "",
        iptTrdTableName: "",
        iptSimpTableName: "",
        iptEngTableName: "",
        labRoomContent: "",
        selRoom: "",
        labGameType: "",
        selGameType: "",
        labTableType: "",
        selTableType: "",
        labSystemTableNo: "",
        iptSystemTableNo: "",
        labFrontTableNo: "",
        iptFrontTableNo: "",
        labPlatformContent: "",
        labLiveTableNo: "",
        iptLiveTableNo: "",
        labLivePositContent: "",
        iptDelayTime: "",
        labBetTime: "",
        iptBetTime: "",
        labSettleTime: "",
        iptSettleTime: "",
        labFirstSeenTime: "",
        iptFirstSeenTime: "",
        labSecondSeenTime: "",
        iptSecondSeenTime: "",
        rdoIsMatch: "",
        rdoNotMatch: "",
        selDefaultBetLimit: "",
        selTableBetLimitNo: "",
        selSideBetLimit: "",
        tabBetLimit: "",
        btnCancel: "",
        btnSave: ""
      },
      C_tableLimits: {}
    }
  },
  computed: {
    C_gameTypes2() {
      var re = []
      re = this.prop_D_gameTypes
      return re
    },
    C_tableTypes2() {
      var re = []
      var tableTypes = _.cloneDeep(this.prop_D_tableTypes)
      var gameTypes = this.prop_D_gameTypes
      var ta_tableUid = []
      var uid = this.$data.gameTypeId

      _.forEach(gameTypes, function(v, k) {
        if (v.uid == uid) {
          ta_tableUid = v.tableSpecies
          return false
        }
      })

      _.forEach(tableTypes, function(v, k) {
        if (ta_tableUid.indexOf(v.uid) != -1) {
          re.push(v)
        }
      })

      this.$data.tableTypeId = re[0].uid

      return re
    }
  },
  methods: {
    DoUpdateTable() {
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        _this.UpdateTable()
      })
    },
    UpdateTable() {
      var _this = this
      var _d = this.$data
      var d = {
        uid: this.prop_editUid,
        titles: {
          "ZH-TW": _d.tableName_tw,
          "EN-US": _d.tableName_en,
          "ZH-CN": _d.tableName_zh
        },
        frontCode: _d.frontCode,
        siteCode: _d.siteCode
      }

      BetTableManager.modifyTable(this.loginToken, d)
        .then(function(res) {
          _this.completeEdit()
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    DoAddTable() {
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        _this.AddTable()
      })
    },
    AddTable() {
      var _this = this
      var _d = this.$data
      var d = {
        titles: {
          "EN-US": _d.tableName_en,
          "ZH-CN": _d.tableName_zh,
          "ZH-TW": _d.tableName_tw
        },
        themeUid: _d.themeId,
        casinoLocationUid: _d.casinoLocationUid,
        gameSetUid: _d.gameTypeId,
        tableSpeciesUid: _d.tableTypeId,
        systemCode: _d.systemCode,
        frontCode: _d.frontCode.toUpperCase(),
        siteCode: _d.siteCode,
        betTime: _d.BetTime,
        settleTime: _d.SettleTime,
        peek1Time: _d.SeenTime_1 || "",
        peek2Time: _d.SeenTime_2 || ""
      }

      BetTableManager.addTable(this.loginToken, d)
        .then(function(res) {
          _this.completeAdd()
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    completeAdd() {
      this.$emit("completeAdd")
    },
    completeEdit() {
      this.$emit("completeEdit")
    },
    _cancel() {
      this.$emit("returnPanel")
    },
    init_add() {
      var _this = this
      this.$data.gameTypeId = this.prop_D_gameTypes[0].uid
      this.$data.themeId = this.props_themes[0].uid
      this.$data.gameTypeAlias = this.prop_D_gameTypes[0].alias
    },
    init_edit() {
      var _this = this
      BetTableManager.getTableDetail(this.loginToken, this.prop_editUid)
        .then(function(res) {
          var _d = _this.$data
          _d.editData = _.cloneDeep(res)
          //_d.gameTypeId = _this.editData.gameSetUid;
          //_d.tableTypeId = _this.editData.tableSpeciesUid;
          //_d.themeId = _this.editData.themeUid	;
          _d.tableName_tw = _d.editData.titles["ZH-TW"]
          _d.tableName_zh = _d.editData.titles["ZH-CN"]
          _d.tableName_en = _d.editData.titles["EN-US"]
          // _d.systemCode = _d.editData.systemCode
          _d.frontCode = _d.editData.frontCode
          _d.siteCode = _d.editData.siteCode
          //_d.BetTime = _d.editData.betTime;
          //_d.SettleTime = _d.editData.settleTime;
          //_d.SeenTime_1 = _d.editData.peek1Time;
          //_d.SeenTime_2 = _d.editData.peek2Time;
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  },
  created() {
    var D_dailogDomId = this.$data.D_dailogDomId
    var a = {},
      b = ""

    if (this.prop_isEdit) {
      b = "InEditTable"
      this.init_edit()
    } else {
      b = "InAddTable"
      this.init_add()
    }

    _.forEach(D_dailogDomId, function(v, k) {
      a[k] = k + "" + b
    })

    this.$data.D_dailogDomId = _.cloneDeep(a)
  },
  watch: {
    tableTypeId(val) {
      var a = this.prop_D_tableTypes
      var isPEEKTIME = false
      _.forEach(a, function(v, k) {
        if (val == v.uid) {
          var PEEKTIMEAry = _.filter(v.properties, { alias: "ATTR_PEEKTIME" })
          isPEEKTIME = PEEKTIMEAry.length > 0
          return false
        }
      })

      this.editData.enablePeek = isPEEKTIME
    },
    themeId(val) {
      var uid
      _.forEach(this.props_themes, function(v, k) {
        if (v.uid == val) {
          uid = v.casinoLocationUid
          return false
        }
      })

      this.$data.casinoLocationUid = uid
    }
  }
}
</script>

<style lang="less" scoped>
select {
  width: 100%;
}

._select {
  text-align: center;
}

.edit_area {
  border: 1px solid rgba(121, 121, 121, 1);
  width: 1000px;
  background-color: rgba(242, 242, 242, 1);
  min-height: 800px;
  box-sizing: content-box;
  padding: 20px 30px;
}

.basicEdit {
  font-weight: bold;
  background-color: #e4e4e4;
  overflow: auto;
  margin-bottom: 50px;
}

._c_dialog .c_f {
  margin: 10px auto;
}

.assignTable {
  margin: auto 15px;
  cursor: pointer;
  display: inline-flex;
  input {
    margin-right: 3px;
  }
}

.tagTitle {
  background-color: rgba(153, 153, 153, 1);
  width: 170px;
  color: #ffffff;
  height: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5px;
}

.LimitTable {
  .t_d {
    font-weight: normal;
  }

  ._col {
    flex-wrap: wrap;
    justify-content: flex-start;

    &.f_a {
      flex: 1;
      justify-content: center;
    }

    &.f_b {
      flex: 2;
    }
  }
}

._center {
  text-align: center;
  background-color: transparent;
}
</style>
