<template>
    <div>      
	  <c_nav  :prop_nav="d_nav"></c_nav>
	  <div class="_viewPanel" v-if="mode.list">
		  <h1>遊戲限紅</h1>
		  <div class="_tabBar">
			<div 
				:class="{'_iTab':true,'active':gameTypesActiveUid == item.uid}" 
				v-for="(item, index) in gameTypes"
				v-on:click="gameTypesActiveUid = item.uid"
			>
			{{item.title}}
			</div>			
		  </div>
		  <div class="_editArea" v-for="T_Limit in C_tableLimits" v-if="gameTypesActiveUid == T_Limit.gameTypeUid">
			<div class="t_f" >
				<div class="_col _col_code">限紅編號</div>
				<div  v-for="(item, index) in T_Limit.odds" class="_col">{{item.title}}</div>
				<div class="_col">賭桌最高限紅</div>
				<div class="_col">進桌最低限紅</div>
				<div class="_col _op">操作</div>
			</div>
			<div class="t_d" v-for="(item, index2) in T_Limit.tableLimits">
				<div class="_col _col_code">{{item.id}}</div>
				<div class="_col" v-for="(v, index3) in item.limits">
					<div v-if="v.min">
					min : {{v.min}}<br>
					max : {{v.max}}<br>
					</div>
				</div>
				<div class="_col">{{item.maxTableLimit}}</div>
				<div class="_col">{{item.minTableAmount}}</div>
				<div class="_col _op">
					<div class="_btn_c" @click="doEdit(index2,item.tableLimitUid)" v-if="!(item.stopEdit==true)">編輯</div>
					<div class="_btn_c" @click="todoDel(item.tableLimitUid)" v-if="item.isDel==true">刪除</div>
				</div>
			</div>			
		  </div>
	  </div>
	  
	  <div class="_editPanel" v-if="mode.edit">
			<h1>編輯遊戲限紅( 遊戲類型：百家樂 )</h1>
			<div class="bar">				
				<div class="subTitle">
					<div>注區限紅</div><div class="ps">*請輸入正整數</div>
				</div>
				<div class="_btn_c b_clearData" @click="clearData()" id="btnClearInEditBetLimit">清空</div>
			</div>
			<div class="t_f" >
				<div class="_col"></div>
				<div class="_col">Min (最低限紅)</div>
				<div class="_col">Max (最高限紅)</div>
			</div>
			<div class="t_d" v-for="(item,oddIndex) in TaLimits.odds">
				<div class="_col">{{item.title}}</div>
				<div class="_col">
					<input 
						type="text" 
						v-model="item.limits.min"	
						:name = "item.limits.minName"
						v-bind:class="{'_input':true,'v_error':V_err.has(item.limits.minName)}"
						v-validate="{integer:true,min_value:1,required:true,max_value:item.limits.max-1}"
						maxlength="9"
					>
				</div>
				<div class="_col">
					<input 
						type="text" 
						v-model="item.limits.max"
						:name = "item.limits.maxName"
						v-bind:class="{'_input':true,'v_error':V_err.has(item.limits.maxName)}"
						v-validate="{integer:true,required:true,min_value:item.limits.min}"
						maxlength="9"
					>
				</div>
			</div>
			<div class="tableLimit">
				<div class="subTitle">限紅編號</div>
				<div class="rows">
					<input type="text" 
						v-model="TaLimits.id" 
						:disabled="TaLimits.isEdit"
						v-bind:class="{'_input':true,'v_error':V_err.has('limitId')}"
						v-validate="{integer:true,min_value:1,required:true,max_value:10}"
						name = "limitId"
						maxlength="2"
						>
				</div>
				<div class="subTitle">賭桌限紅</div>
				<div class="rows">
					<div class="f">賭桌最高限紅 : </div>
					<input 
						type="text" 
						v-model="TaLimits.table.max"
						v-bind:class="{'_input':true,'v_error':V_err.has('tableMax')}"
						v-validate="{integer:true,min_value:1,required:true}"
						name = "tableMax"
						maxlength="9"
						id="iptMaxBetLimitInEditBetLimit"
					>
					<div class="ps">* 請輸入正整數</div>
				</div>
				<div class="rows">
					<div class="f">進桌最低限紅 : </div>
					<input 
						type="text" 
						v-model="TaLimits.table.min"
						v-bind:class="{'_input':true,'v_error':V_err.has('tableMin')}"
						v-validate="{integer:true,min_value:0,required:true}"
						name = "tableMin"
						maxlength="9"
						id="iptMinJoinAmountInEditBetLimit"
					>
					<div class="ps">* 請輸入0或正整數</div>
				</div>
			</div>
			
			<div class="_c_dialog">
				<el-button @click="_cancel()" id="btnCancelInEditBetLimit">取消</el-button>
				<el-button type="primary" @click="toDoAdd();" id="btnSaveInEditBetLimit">儲存</el-button>
			</div>	
	  </div>
	  
	  <el-dialog
		  :visible.sync="pwdVisible"	
		  v-if = "pwdVisible"	
		  width="480px"
		  custom-class = "panelEdit _c_dialog _noHeader"
		  :show-close = "false"
		  :before-close="handleClose"		  
		  center>
			<div class="c_note">
				請確認是否執行，請輸入您的使用者密碼。
			</div>
			
			<div class="reCheckPwd">
				<input 
					type="password" 
					v-model="pwdAgain"
					v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}"
					v-bind:class="{'_input':true,'v_error':V_err.has('reCheckPwd')}"
					name = "reCheckPwd"
				>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click="handleClose();" id="btnCancelInEditTopAgent">取消</el-button>
				<el-button type="primary" @click="completeDoAdd();" id="btnSaveInEditTopAgent">確定</el-button>
			</span>			
			
		</el-dialog>
		
		 <el-dialog
		  :visible.sync="pwdVisible2"	
		  v-if = "pwdVisible2"	
		  width="480px"
		  custom-class = "panelEdit _c_dialog _noHeader"
		  :show-close = "false"
		  :before-close="handleClose2"		  
		  center>
			<div class="c_note">
				請確認是否執行，請輸入您的使用者密碼。
			</div>
			
			<div class="reCheckPwd">
				<input 
					type="password" 
					v-model="pwdAgain"
					v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}"
					v-bind:class="{'_input':true,'v_error':V_err.has('reCheckPwd')}"
					name = "reCheckPwd"
				>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click="handleClose2();" id="btnCancelInEditTopAgent">取消</el-button>
				<el-button type="primary" @click="completeDoDel();" id="btnSaveInEditTopAgent">確定</el-button>
			</span>			
			
		</el-dialog>
	  
		
    </div>
</template>

<script>
	import GameManager from '@/services/GameManager';
	import c_nav from'@/components/common/nav.vue';	
	export default {
		components:{
			c_nav
		},
		data(){
			return {
				d_nav : [
						{title:'遊戲管理',islink:false,path:''},
						{title:'遊戲限紅',islink:true,path:this.$route.path}
					],
				loginToken:this.$store.getters["member/loginToken"],
				mode:{
					list:true,
					edit : false
				},
				gameActiveIndex:0,
				gameTypes:[],
				gameTypesActiveUid:'',
				TaLimits : [],
				D_tableLimits:{},
				pwdVisible : false,
				pwdVisible2 : false,
				pwdAgain : '',
				delUid : ''
			}			
		},
		methods:{
			todoDel(delUid){
				var _this = this;
				this.$data.delUid = delUid;
				this.$validator.validate().then(result => {
					
					if (!result) {return;}
					
					_this.clearPwd();
					_this.$data.pwdVisible2 = true;
				  });
			},
			completeDoDel(){
				var _this = this;
				this.$validator.validate().then(result => {
					
					if (!result) {return;}
					
					_this.handleClose2();
					_this.doDel();
				  });
				
			},
			doDel(){
				
				var d = {
					uid : [this.$data.delUid],
					password : this.$data.pwdAgain
				}
				
				var _this = this;
				
				GameManager.DelTableLimits(this.loginToken,d)
					.then(function(res){						
						_this.reFreshLimit();
			
						
					})
					.catch(function(msg){
						console.log("msg : ",msg);
					});			
			},
			handleClose(){
				this.$data.pwdVisible = false;
				
			},
			handleClose2(){
				this.$data.pwdVisible2 = false;
				
			},
			clearPwd(){
				this.$data.pwdAgain = "";
			},
			cancelOp(){
			
			},
			toDoAdd(){
				var _this = this;
				this.$validator.validate().then(result => {
					
					if (!result) {return;}
					_this.clearPwd();
					_this.$data.pwdVisible = true;
				  });
			},
			completeDoAdd(){
				var _this = this;
				this.$validator.validate().then(result => {
					
					if (!result) {return;}
					
					_this.handleClose();
					_this.DoAdd();
				  });
				
			}	,
			DoAdd(){
				
				var t = this.$data.TaLimits,
					mode = "",
					_this = this;
				
				var d = {
					password : this.$data.pwdAgain,
					oddsSettingUid : t.oddsSettingUid,					
					minTableAmount : t.table.min,
					maxTableLimit : t.table.max,
					id : t.id,
					limits : (function(){
						var tmp = [];
						_.forEach(t.odds,function(v,k){
							var a = v.limits;
							_.forEach(v.uid,function(v1,k1){
									tmp.push({
										oddsItemUid : v1,
										min : a.min,
										max : a.max
									})	
							});							
						});
						
						return tmp;
						
					})()
				}
				
				if(t.tableLimitUid == "")
				{
					mode = "add";
					d.gameTypeUid = t.gameTypeUid;
				}				
				else{
					mode = "modify";
					d.uid = t.tableLimitUid;
				}
				
				if(mode == "modify")
				{
					GameManager.updateTableLimits(this.loginToken,d)
					.then(function(res){
						
						
						_this.reFreshLimit();
						_this._ToListPanel();
						_this.clearPwd();
						
					})
					.catch(function(msg){
						console.log("msg : ",msg);
					});
				}
				else
				{
					GameManager.addTableLimits(this.loginToken,d)
					.then(function(res){					
						
						
						_this.reFreshLimit();
						_this._ToListPanel();
						_this.clearPwd();
						
					})
					.catch(function(msg){
						console.log("msg : ",msg);
					});
				
				}				
				
			},			
			_ToListPanel(){
				this.$data.mode.list = true;
				this.$data.mode.edit = false;
				this.clearData();
			},
			_cancel(){
				this._ToListPanel();				
			},
			switchTab(index){
				var g = this.$data.game;
				for(var i in g)
				{	
					g[i].active = (i == index);
				}
			},
			doEdit(id,tableLimitUid=""){
				
				var odds = [];
				
				this.$data.mode.list=false;
				this.$data.mode.edit=true;
				
				
				var re = _.cloneDeep(this.$data.D_tableLimits)[this.$data.gameTypesActiveUid];
				
				var _limit = re.tableLimits[id].limits;				
				
				var table = {
					max : re.tableLimits[id].maxTableLimit,
					min : re.tableLimits[id].minTableAmount
				}
				
				
				
				_.forEach(re.odds,function(v,k){
					var x = _.cloneDeep(v);
					x.limits = _.cloneDeep(_limit[k]);
					
					x.limits.maxName = 'oddsMax_'+k;
					x.limits.minName = 'oddsMin_'+k;
					
					odds.push(x);
				});
				
				this.$data.TaLimits = {
					odds : odds,
					table : table,
					id : re.tableLimits[id].id,
					oddsSettingUid : re.oddsSettingUid,
					tableLimitUid : tableLimitUid,
					gameTypeUid : re.gameTypeUid,
					isEdit :re.tableLimits[id].isEdit
				}
				
				
				
				
				
			},
			clearData(){
				var odds = this.$data.TaLimits.odds;
				var _this = this;
				
				
				_.forEach(odds,function(v,k){
					_this.$data.TaLimits.odds[k].limits.min = "";
					_this.$data.TaLimits.odds[k].limits.max = "";
				});
				
				this.$data.TaLimits.table.max = "";
				this.$data.TaLimits.table.min = "";

			},
			reFreshLimit(){
				var _this = this;
				var gameTypeUid = this.$data.gameTypesActiveUid;
				
				
				GameManager.tableLimitsV3(this.loginToken,[gameTypeUid])
					.then(function(res){					
						
						
						_this.$store.dispatch("game/Set_tableLimits",res);
					})
					.catch(function(msg){
						console.log("msg : ",msg);
					});		
					
			
			}
		},
		computed:{
			C_gameData(){
				var gameActiveIndex = this.$data.gameActiveIndex;
				var g = this.$data.game;				
				return g[gameActiveIndex];
			},
			C_gameTypes(){
				var re = this.$store.getters["game/Get_gameTypes"];
				
				return re;
			},
			C_tableLimits(){			
				var re = this.$store.getters["game/Get_tableLimits"];
				var d = _.cloneDeep(re);
				
				_.forEach(d,function(v,k){
					_.forEach(v.tableLimits,function(v1,k1){
						d[k].tableLimits[k1].isDel = true;
						d[k].tableLimits[k1].isEdit = true;
					});
				});
				
				
				
				_.forEach(re,function(v,k){
					var L = 10 - v.tableLimits.length;
					var stopEdit = false;
					while(L--)
					{
						var _limits = [];
						_.forEach(v.odds,function(v1,k1){
							_limits.push({min:'',max:''});
						});
						d[k].tableLimits.push({
							id: '',// d[k].tableLimits.length+1,
							limits : _limits,
							maxTableLimit : '',
							minTableAmount: '',
							stopEdit : stopEdit,
							isDel : false,
							isEdit : false
						});
						
						stopEdit = true;
					}
				});
				
				
				
				this.$data.D_tableLimits = _.cloneDeep(d);
				
				
				return d;
			}
			
		},
		watch:{
			C_gameTypes(re){
				var _this = this;
				re = _.cloneDeep(re);
				_.forEach(re,function(v,k){
					if(k == 0)
						{
							re[k].active = true;
							_this.$data.gameTypesActiveUid = v.uid;
						}
					else
						{
							re[k].active = false;	
						}	
				});
				this.$data.gameTypes = re;
			},
			gameTypesActiveUid(val)	{
				
				this.reFreshLimit();
			},
			'mode.edit'(val){
				if(val)
				{
					var title = "編輯遊戲限紅";
					
					this.$data.d_nav.push(
						{title:title,islink:false,href:''}
					);
					
				}
				else
				{
					this.$data.d_nav.pop();
				}
			}
		},
		created(){
			var _this = this;
			GameManager.getBasicItems(this.loginToken,["gameTypes"])
				.then(function(res){
					_this.$store.dispatch("game/Set_gameTypes",res.gameTypes);					
				})
				.catch(function(){
					console.log("msg : ",msg);
				});
		}
	
	}
</script>

<style lang="less" scoped>

._tabBar{
	display: flex;
	justify-content: flex-start;
	height:30px;
}

._editPanel{

	@w : 600px;

	.b_clearData{
		width:50px;
		background-color: #ffffff;
		color: #000000;
	}
	
	.bar{
		width:@w;
		display:flex;
		justify-content: space-between;
		align-items: center;	
	}
	
	.t_f{
		width:@w;
	}
	
	.t_d{
		width:@w;
	}
	
	.tableLimit{
		margin-top:20px;		
	}
	
	
	
	.subTitle{
		display:flex;
		margin:20px 0px;
		align-items: center;
		font-weight: bold;
		font-size:16px;
	}
	
	.rows{
		display:flex;
		align-items:center;
		
		width:@w;
		margin-bottom:20px;
		
		
		input[type=text]{
			width:100px;
			margin-left:5px;
		}
		
		.f{
			font-weight: normal;
			font-size: 16px;
		}
		
	}
	
	.ps{
		font-size: 12px;
		color: #008000;
		font-weight: normal;
		margin-left:10px;
	}

}


._editArea{
	width:80%;
	
	._col{
		flex:1 1;
		
		&._op {
			flex:1;
			justify-content:space-evenly;
			._btn_c{
				
			}
			
		}
		
	}
	
	
	._col_code{
		flex:0.5 0.5;
	}
	
	
	
}


._iTab {
    width: 85px;
    height: 100%;
    border: 1px solid rgba(121, 121, 121, 1);
	border-right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #333333;
	background-color:rgba(228, 228, 228, 1);
	cursor:pointer;
	&:last-child {
		border-right:1px solid rgba(121, 121, 121, 1);
	}
	
	&.active{
		background-color:#ffffff;	
		cursor:text;
	}
}

	._c_dialog
	{
		background-color: transparent;
	}
	
</style>

