<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <div v-if="mode.view">
      <h1 id="labGameRecordTitle">遊戲紀錄</h1>
      <div class="filterbar _c_filterbar">
        <div class="_item filterType">
          <div
            :class="{'_bItem':true,'active':fType.G1}"
            v-on:click="fType.G1=true;fType.G2=false;"
            id="btnTimeGameInGameRecord"
          >時間/遊戲</div>
          <div
            :class="{'_bItem':true,'active':fType.G2}"
            v-on:click="fType.G2=true;fType.G1=false;"
            id="btnGameNoInGameRecord"
          >遊戲局號</div>
        </div>
        <div class="_item dateRange" v-if="fType.G1">
          <div
            id="btnTodayInGameRecord"
            :class="{_bItem:true,active:activeItem=='today'}"
            @click="setDate('today')"
          >今天</div>
          <div
            id="btnThisWeekInGameRecord"
            :class="{_bItem:true,active:activeItem=='week'}"
            @click="setDate('week')"
          >本周</div>
          <div
            id="btnThisMonInGameRecord"
            :class="{_bItem:true,active:activeItem=='month'}"
            @click="setDate('month')"
          >本月</div>
          <div
            id="btnLastMonInGameRecord"
            :class="{_bItem:true,active:activeItem=='LastMonth'}"
            @click="setDate('LastMonth')"
          >上月</div>
        </div>

        <div class="_item" v-if="fType.G1">
          <div class="_t">開始日期</div>
          <el-date-picker
            v-model="startTime"
            align="right"
            type="date"
            placeholder="選擇日期"
            :picker-options="pickerOptionsStart"
            popper-class="_c_picker"
            size="small"
            :class="{'_c_datePicker':true}"
            format="yyyy/MM/dd"
            default-time="00:00:00"
            value-format="yyyy-MM-dd 00:00:00"
            id="btnStartTimeInGameRecord"
            @change="changeEnd"
          ></el-date-picker>
        </div>
        <div class="_item" v-if="fType.G1">
          <div class="_t">結束日期</div>
          <el-date-picker
            v-model="endTime"
            align="right"
            type="date"
            placeholder="選擇日期"
            :picker-options="pickerOptionsEnd"
            popper-class="_c_picker"
            size="small"
            :class="{'_c_datePicker':true}"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd 23:59:59"
            default-time="23:59:59"
            id="btnEndTimeInGameRecord"
            @change="changeStart"
          ></el-date-picker>
        </div>

        <div class="_item">
          <div class="_t">廳館</div>
          <select v-model="d_themes" :id="domId.active.themeId">
            <option value>全部</option>
            <option v-for="item in C_themes" :value="item.uid">{{item.title}}</option>
          </select>
        </div>
        <div class="_item" v-if="fType.G1">
          <div class="_t">遊戲類型</div>
          <select v-model="d_gameTypes" id="selGameTypeInGameRecord">
            <option value>全部</option>
            <option v-for="item in C_gameTypes" :value="item.alias">{{item.title}}</option>
          </select>
        </div>
        <div class="_item" v-if="fType.G1">
          <div class="_t">桌種</div>
          <select v-model="d_tableTypes" id="selTableTypeInGameRecord">
            <option value>全部</option>
            <option v-for="item in C_tableTypes" :value="item.alias">{{item.title}}</option>
          </select>
        </div>

        <div class="_item" v-if="fType.G2">
          <div class="_t">桌號*</div>
          <input
            type="text"
            v-model="d_tableId"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_tableId')}"
            v-validate="{required:true,integer:true}"
            name="n_tableId"
            id="iptTableNo"
          />
        </div>

        <div class="_item" v-if="fType.G2">
          <div class="_t">靴號*</div>
          <input
            type="text"
            v-model="d_shoeNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_shoeNo')}"
            v-validate="{required:true,integer:true}"
            name="n_shoeNo"
            id="iptBootNo"
          />
        </div>

        <div class="_item" v-if="fType.G2">
          <div class="_t">局號*</div>
          <input
            type="text"
            v-model="d_roundNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_roundNo')}"
            v-validate="{required:true,integer:true}"
            name="n_roundNo"
            id="iptGameNo"
          />
        </div>
        <div class="_btn_c" @click="TodoSearch()" :id="domId.active.searchBtn">搜尋</div>
      </div>

      <div class="t_f" v-if="d_list.length > 0">
        <div class="_col _theme">廳館</div>
        <div class="_col _gameType">遊戲類型</div>
        <div class="_col _tableType">桌種</div>
        <div class="_col _tableId">桌號</div>
        <div class="_col _shoeNo">靴號</div>
        <div class="_col _roundNo">局號</div>
        <div class="_col _totalBet">總下注</div>
        <div class="_col _RoundTime">開局時間</div>
        <div class="_col _state">狀態</div>
        <div class="_col _op">操作</div>
      </div>
      <div class="t_d" v-for="(item, index2) in d_list" v-if="d_list.length > 0">
        <div class="_col _theme">{{item.themeName}}</div>
        <div class="_col _gameType">{{item.gameTypeTitle}}</div>
        <div class="_col _tableType">{{item.tableTypeTitle}}</div>
        <div class="_col _tableId">{{item.tableId}}</div>
        <div class="_col _shoeNo">{{item.shoeNo}}</div>
        <div class="_col _roundNo">{{item.roundNo}}</div>
        <div class="_col _totalBet">{{item.totalBet | toMoney}}</div>
        <div class="_col _RoundTime">{{item.gameRoundStartTime | utc2local}}</div>
        <div class="_col _state">{{item.stateTitle}}</div>
        <div class="_col _op">
          <div
            :class="{_btn_c:true,c_detail:(item.state == 3) || (item.state==4)}"
            @click="toDoEdit(item)"
            v-if="item.state != '2'"
          >{{item.state | stateText}}</div>
        </div>
      </div>

      <div v-if="d_list.length==0" class="NoResult">查無資料</div>

      <div v-if="pageNum > 1" class="pagination">
        <pagination
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
        ></pagination>
      </div>
    </div>

    <GameRecord_edit
      v-if="mode.edit"
      @toExit="init();"
      @toCancel="switchMode('view');"
      :P_gameTypeUid="editd.gameTypeUid"
      :P_GameRecordUid="editd.GameRecordUid"
      :prop_subTitle="prop_subTitle"
    ></GameRecord_edit>
  </div>
</template>

<script>
import c_nav from "@/components/common/nav.vue"
import GameManager from "@/services/GameManager"
import pagination from "@/components/common/pagination.vue"
import GameRecord_edit from "@/components/GameRecord.edit.vue"
import common from "@/libs/common"

export default {
  components: {
    pagination: pagination,
    GameRecord_edit: GameRecord_edit,
    c_nav
  },
  data() {
    var today = new Date()

    return {
      d_nav: [
        { title: "遊戲管理", islink: false, path: "" },
        { title: "遊戲紀錄", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      activeItem: "today",
      fType: {
        G1: true,
        G2: false
      },
      mode: {
        view: true,
        edit: false
      },
      startTime: "",
      endTime: "",
      d_themes: "",
      d_gameTypes: "",
      d_tableTypes: "",
      d_list: [],
      currentPage: 1,
      pageNum: 0,
      pageSize: 20,
      editd: {
        gameTypeUid: "",
        GameRecordUid: ""
      },
      d_shoeNo: "",
      d_roundNo: "",
      d_tableId: "",
      readonly: false,
      prop_subTitle: "",
      domId: {
        active: {
          themeId: "selRoomInGameRecord",
          searchBtn: "btnSearchInGameRecord"
        },
        G1: {
          themeId: "selRoomInGameRecord",
          searchBtn: "btnSearchInGameRecord"
        },
        G2: {
          themeId: "selRoomInGameNo",
          searchBtn: "btnSearchInGameNo"
        }
      },
      pickerOptionsStart: {},
      pickerOptionsEnd: {}
    }
  },
  computed: {
    C_themes() {
      var re = this.$store.getters["game/Get_halls"]
      return re
    },
    C_gameTypes() {
      var re = this.$store.getters["game/Get_gameTypes"]
      return re
    },
    C_tableTypes() {
      var re = this.$store.getters["game/Get_tableTypes"]
      return re
    },
    C_list() {
      var re = []
      //var re = this.$store.getters["game/Get_tableTypes"];
      return re
    }
  },
  methods: {
    changeStart() {
      var endTime = new Date(this.$data.endTime).getTime()
      var LimitDate = common.diffDay(new Date(), -3)
      var LimitTime = new Date(LimitDate + " 00:00:00").getTime()
      this.pickerOptionsStart = Object.assign({}, this.pickerOptionsStart, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a > endTime || a < LimitTime
          return re
          //return time.getTime() > endTime;
        }
      })
    },
    changeEnd() {
      var startTime = new Date(this.$data.startTime).getTime()
      var today = new Date()
      var TodayTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), "23", "59", "59")
      this.pickerOptionsEnd = Object.assign({}, this.pickerOptionsEnd, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a < startTime || a > TodayTime
          return re
          //return time.getTime() < startTime;
        }
      })
    },
    init() {
      this.switchMode("view")
      this.search()
    },
    toDoEdit(item) {
      this.$data.editd.gameTypeUid = item.gameTypeUid
      this.$data.editd.GameRecordUid = item.uid

      this.$data.readonly = item.state == 3 || item.state == 4

      this.switchMode("edit")
    },
    switchMode(item) {
      var mode = this.$data.mode
      _.forEach(mode, function(v, k) {
        mode[k] = false
      })
      mode[item] = true
    },
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.search()
    },
    setDate(item) {
      /*
				var today = new Date(),start = new Date(),end = new Date();
				this.$data.activeItem = item;
				switch(item){
					case ("today"):
						start = today;
						end = today;
					break;

					case ("week"):
						var w = today.getDay();
						start.setTime(today.getTime()-86400*1000*w);
						end.setTime(today.getTime()+86400*1000*(6-w));

					break;

					case ("month"):

						var year =  today.getFullYear();
						var month =  today.getMonth();
						var ta = new Date(year,month);
						var ta2 = new Date(year,month+1);
						start.setTime(ta.getTime());
						end.setTime(ta2.getTime()-86400);



					break;

					case ("LastMonth"):
						var year =  today.getFullYear();
						var month =  today.getMonth();
						var ta = new Date(year,month-1);
						var ta2 = new Date(year,month);
						start.setTime(ta.getTime());
						end.setTime(ta2.getTime()-86400);

					break;

				}





				var locales = 'zh-CN';
				var dateOptions = {
						year:'numeric',
						month : '2-digit',
						day : '2-digit'
				}
				start = start.toLocaleString(locales,dateOptions).slice(0,10).replace(/\//g,"-")+" 00:00:00";
				end = end.toLocaleString(locales,dateOptions).slice(0,10).replace(/\//g,"-")+" 23:59:59";

				this.$data.startTime = start;
				this.$data.endTime = end;

				*/

      this.$data.activeItem = item
      var day = common.setDay(item)
      this.$data.startTime = day.start
      this.$data.endTime = day.end

      this.changeStart()
      this.changeEnd()

      //.toLocaleString().slice(0,10)
    },
    TodoSearch() {
      this.$data.currentPage = 1
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }

        _this.search()
      })
    },
    search() {
      var t = this.$data
      var locales = "zh-CN"
      var dateOptions = {
        year: "numeric",
        month: "2-digit",
        day: "2-digit"
      }

      var postData = {
        pageSize: t.pageSize,
        pageIndex: t.currentPage - 1,
        themes: t.d_themes == "" ? [] : [t.d_themes]
        //gameTypes :(t.d_gameTypes == "")?([]):[t.d_gameTypes],
        //tableTypes : (t.d_tableTypes == "")?([]):[t.d_tableTypes],
        //start : common.timeZoneApply(t.startTime,true),
        //end : common.timeZoneApply(t.endTime,true)
      }

      var addPostData = {}

      var fType = this.$data.fType
      switch (true) {
        case fType.G1:
          addPostData = {
            gameTypes: t.d_gameTypes == "" ? [] : [t.d_gameTypes],
            tableTypes: t.d_tableTypes == "" ? [] : [t.d_tableTypes],
            roundTime: {
              start: common.timeZoneApply(t.startTime, true),
              end: common.timeZoneApply(t.endTime, true)
            }
          }

          break

        case fType.G2:
          addPostData = {
            tableId: t.d_tableId,
            shoeNo: t.d_shoeNo,
            roundNo: t.d_roundNo
          }

          break
      }

      postData = Object.assign(postData, addPostData)

      //return ;
      var _this = this
      GameManager.gameRecords(this.loginToken, postData)
        .then(function(res) {
          _this.$data.d_list = res.executeInfo.rows
          _this.$data.currentPage = res.executeInfo.pagination.pageIndex + 1
          _this.$data.pageNum = res.executeInfo.pagination.pageCount

          //_this.$data.d_list = res.rows;
          //_this.$data.currentPage = res.pagination.pageIndex+1;
          //_this.$data.pageNum = res.pagination.pageCount;
        })
        .catch(function(msg) {
          console.log("msg : ", msg)
        })
    }
  },
  created() {
    var _this = this
    this.setDate("today")
    GameManager.getBasicItems(this.loginToken, ["gameTypes", "tableTypes", "themes"])
      .then(function(res) {
        _this.$store.dispatch("game/Set_gameTypes", res.gameTypes)
        _this.$store.dispatch("game/Set_tableTypes", res.tableTypes)
        _this.$store.dispatch("game/Set_halls", res.themes)
        _this.search()
      })
      .catch(function() {})
  },
  watch: {
    "fType.G1": function(val) {
      if (val) {
        this.$data.domId.active = _.cloneDeep(this.$data.domId.G1)
        //this.$data.d_themes = "";
        //this.$data.d_gameTypes = "";
        //this.$data.d_tableTypes = "";
        //this.setDate('today');
        //this.init();
      }
    },
    "fType.G2": function(val) {
      if (val) {
        this.$data.d_themes = ""
        this.$data.d_shoeNo = ""
        this.$data.d_roundNo = ""
        this.$data.d_tableId = ""

        this.$data.domId.active = _.cloneDeep(this.$data.domId.G2)
        //this.init();
      }
    },
    "mode.edit": function(val) {
      if (val) {
        var title = ""

        if (this.$data.readonly) {
          title = "檢視遊戲紀錄"
        } else {
          title = "修改遊戲紀錄"
        }

        this.$data.prop_subTitle = title

        this.$data.d_nav.push({ title: title, islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    }
  },
  filters: {
    stateText: function(state) {
      var t = ""
      switch (state) {
        case "2":
          t = "中斷"
          break

        case "1":
          t = "編輯"
          break

        case "3":
        case "4":
          t = "詳情"
          break
      }

      //var t = (value === "1")?'啟用':'上鎖';
      return t
    }
  }
}
</script>

<style lang="less" scoped>
@w: 1200px;

.NoResult {
  width: @w;
}

.pagination {
  width: @w;
  margin-top: 20px;
  text-align: right;
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;
}

._btn_c {
  width: 50px;

  &.c_detail {
    color: #000000;
    background-color: #ffffff;
  }
}

._col {
  max-width: 200px;
  flex: 1;
  &._totalBet {
    justify-content: right;
    flex: 1.5;
  }
  &._RoundTime {
    flex: 2.5;
  }

  &._theme {
    flex: 1.5;
  }

  &._tableId {
    flex: 1.5;
  }

  &._shoeNo {
    flex: 1.5;
  }
}

.filterbar {
  ._item {
    min-width: 140px;
  }
}

.filterType,
.dateRange {
  display: inline-flex;
}

.filterType {
  ._bItem {
    width: 90px;
  }
}

.dateRange {
  ._bItem {
    width: 50px;
  }
}
</style>
