<template>
    <div class="panel _c_dialog">      
		<h1 class="subTitle" :id="domId.d.labTitle">{{prop_subTitle}}</h1>
		<div class="editArea">
			<div class="blockCard">
				<div class="_block">
					<div class="b_title" :id="domId.d.labGameInfo">遊戲資訊</div>
					<div class="b_content">
						<div class="rows">
							<div class="_f">廳館 : </div>
							<div class="_v" :id="domId.d.labRoomName">{{viewData.themeName}}</div>
						</div>
						<div class="rows">
							<div class="_f">遊戲類型 : </div>
							<div class="_v" :id="domId.d.labGameType">{{viewData.tableTypeTitle}}</div>
						</div>
						<div class="rows">
							<div class="_f">桌號 : </div>
							<div class="_v" :id="domId.d.labTableNo">{{viewData.tableId}}</div>
						</div>
						<div class="rows">
							<div class="_f">靴號 : </div>
							<div class="_v" :id="domId.d.labBootNo">{{viewData.shoeNo}}</div>
						</div>
						<div class="rows">
							<div class="_f">局號 : </div>
							<div class="_v" :id="domId.d.labGameNo">{{viewData.roundNo}}</div>
						</div>
						<div class="rows">
							<div class="_f">時間 : </div>
							<div class="_v" :id="domId.d.labTime">{{viewData.gameRoundStartTime}}</div>
						</div>
					</div>
				</div>
				<div class="_block">
					<div class="b_title" :id="domId.d.labGameResult">遊戲結果</div>
					<div class="b_content">
						<div class="Banker">
							<div class="Citem" v-for="(item,index) in viewCard.Banker"> 
								<div class="_note">
									莊家{{index+1}}
								</div>
								<div 
									:class="{_card:true,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}"
									
								>
									<div class="c_title">{{item.title}}</div>
									<div class="c_Board"></div>
								</div>
							</div>
						</div>
						<div class="Player">
							<div class="Citem" v-for="(item,index) in viewCard.Player"> 
								<div class="_note">
									閒家{{index+1}}
								</div>
								<div 
									:class="{_card:true,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}" 									
								>
									<div class="c_title">{{item.title}}</div>
									<div class="c_Board"></div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="_block _modify">
					<div class="b_title" :id="domId.d.labEditGameResult">修改遊戲結果</div>
					<div class="b_content">
						<div class="Banker">
							<div class="Citem" v-for="(item,index) in editCard.Banker"> 
								<div class="_note">
									莊家{{index+1}}
								</div>								
								<div 
									:class="{_card:true,isView:!isEdit,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}"
									@click="setBoard(item);"
								>
									<div class="c_title">{{item.title}}</div>
									<div class="c_Board"></div>
								</div>
							</div>
						</div>
						<div class="Player">
							<div class="Citem" v-for="(item,index) in editCard.Player"> 
								<div class="_note">
									閒家{{index+1}}
								</div>
								<div 
									:class="{_card:true,isView:!isEdit,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}" 
									@click="setBoard(item);"
			
								>
									<div class="c_title">{{item.title}}</div>
									<div class="c_Board"></div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="_block _video">
					<div class="b_title" :id="domId.d.labVideo" >視訊</div>
					<div class="b_content">						 						
						<div class="playIcon" v-if="!initPlay" @click="initPlay=true;"></div>
						<object type="application/x-shockwave-flash" class="playRecordVideo"  data="/media/video.swf" width="300px" height="250px" v-if="initPlay">
							<param name="menu" value="false">							
							<param name="scale" value="showAll">
							<param name="allowFullscreen" value="true">
							<param name="allowScriptAccess" value="always">
							<param name="bgcolor" value="">
							<param name="wmode" value="direct">							
							<param name="flashvars" :value="viewData.videoSource">
						</object>
					</div>
				</div>			
			</div>
			<div class="blockReason">
				<div class="r_title">原因*：</div>
				<textarea 
					v-if="isEdit"
					class="_reason"
					v-bind:class="{'infoTime':true,'_input':true,'v_error':V_err.has('reason')}"
					v-validate="{required:true,max:600}" name="reason"
					v-model="postd.reason"
					:id="domId.d.txtReason"	
				></textarea>
				<textarea
					:id="domId.d.txtReason"	
					v-if="!isEdit"
					class="_reason"
					:value="viewData.reason"
					disabled
				></textarea>
			</div>			
			
			<span slot="footer" class="dialog-footer">
				<el-button @click="toCancel();" :id="domId.d.btnCancel"  v-if="isEdit">取消</el-button>
				<el-button @click="toCancel();" :id="domId.d.btnClose" v-if="!isEdit">關閉</el-button>
				<el-button type="primary" @click="toDoUpdate('modify')" :id="domId.d.btnEdit" v-if="isEdit">修改</el-button>
				<el-button type="primary" @click="toDoUpdate('returnBet')" :id="domId.d.btnRefund" v-if="isEdit">退押注</el-button>
			</span>
			
		</div>
		
		
		<el-dialog		  
		  :visible.sync = "allBoardPanel"
		  v-if = "allBoardPanel"	
		  width="480px"
		  custom-class = "panelEdit _c_dialog"
		  :show-close = "true"
		  :before-close="handleCloseRecheck"
		  center>
		
		<div class="allBoard">
			<div class="suit" v-for="suit in d_Boards">
				<div 
					:class="{_card:true,_N:(item.suit=='N'),_C:(suit.alias=='C'),_D:(suit.alias=='D'),_S:(suit.alias=='S'),_H:(suit.alias=='H')}" 
					v-for="item in suit.Boards"
					v-if="!((TaCard.index!=3) && (item.suit=='N'))"
					@click="selBoard(item)"
					>
					<div class="c_title">{{item.title}}</div>
					<div class="c_Board"></div>
				</div>
			</div>			
		</div>
		</el-dialog>
		
		<el-dialog		  
		  :visible.sync = "reCheckPwd"
		  v-if = "reCheckPwd"	
		  width="480px"
		  custom-class = "panelEdit _c_dialog _noHeader reCheckPwdDialog"
		  :show-close = "false"
		  :before-close="handleCloseRecheck"
		  center>
			
			<div :id="domId.dialog.c">				
				<div class="c_note" v-if="doWhat.modify.active">
					<div>您即將  <span class="_tofocus"> 修改 </span> 此筆遊戲紀錄</div>
					<div>確認完畢，請在下方輸入您的使用者密碼：</div>
				</div>
				
				<div class="c_note" v-if="doWhat.returnBet.active">
					<div>您即將對此筆遊戲紀錄進行  <span class="_tofocus">退押注 </span> 。</div>
					<div>確認完畢，請在下方輸入您的使用者密碼：</div>
				</div>
				
				<div class="reCheckPwd">
					<input 
						type="password" 
						v-model="postd.password"
						name= "opPassword"
						v-bind:class="{'_input':true,'v_error':V_err.has('opPassword')}"
						v-validate="{requiredAllowSpace:true,required:true,min:6,max:12}" 
						:id="domId.dialog.a"
						>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button @click="CheckPwdPanel(false)" :id="domId.dialog.b1">取消</el-button>
					<el-button type="primary" @click="doSubmit()" :id="domId.dialog.b2">確定</el-button>
				</span>					
			</div>
			
		
			
		</el-dialog>
		
    </div>
</template>


<script>
	import GameManager from '@/services/GameManager';
	import common from '@/libs/common';
	
	
	//import videojs from 'video.js/dist/video.js';	
	//import flash from 'videojs-flash/dist/videojs-flash.min.js';
	//import flash from 'videojs-flash';
	//import flash from 'videojs-flash/dist/videojs-flash.min.js';
	//import videojs_hls from 'videojs-contrib-hls';
	//import { videoPlayer } from 'vue-video-player';
    //require('videojs-flash/dist/videojs-flash.js') 	
	//require('video.js/dist/video-js.css');
	
	
	
	export default {
		components:{},
		props : ['P_gameTypeUid','P_GameRecordUid','prop_subTitle'],
		data(){		
			return {				
				loginToken:this.$store.getters["member/loginToken"],
				allBoardPanel:false,
				d_Boards : (function(){
						
						var re = _.cloneDeep(common.cards());						
						return re;	
					}				
				)(),
				editCard:{
					Banker:[],
					Player:[]
				},
				viewCard:{
				
				},
				viewData:{
				
				},
				TaCard:{},
				postd : {
					reason : '',
					password : ''
				},
				doWhat:{
					returnBet : {
						active : false,
						alias : 'returnBet'
					},
					modify : {
						active : false,
						alias : 'modify'
					}
				},
				reCheckPwd:false,				
				doplay : false,				
				videoPlay : {},
				initPlay : false
			}			
		},
		methods:{
/*
			//Fullscreen(){
			//	 if(_.isEmpty(this.$data.videoPlay)) return ;
			//	 this.$data.videoPlay.requestFullscreen();
			//},			
			initVideo(_src){
				
				//var _src = "rtmp://s1sv5gczinth47.cloudfront.net/cfx/st/flv:data/MediaServer/777";
				var _src = "rtmp://s1sv5gczinth47.cloudfront.net:1935/cfx/st/flv:data/MediaServer/Tb6/2018/09/12/TB6_S1_N5_28348039027400785481041256775680";
				//var _src = "rtmp://hk2.hwadzan.com/liveedge/amtb";
				//var _src = "rtmp://s1sv5gczinth47.cloudfront.net/cfx/st/flv:data/MediaServer/Tb1/2018/09/11/TB1_S19_N80_28346358859865104867914469212160.flv";
				
				console.log(_src);
				
				this.$data.videoPlay = videojs("playRecordVideo",{
					techOrder: ['flash'],
					autoplay : false,
					sources: [{
						src: encodeURI(_src),
						type: 'rtmp/mp4'
						}],
					width : '300px',
					controls:true,
					muted : true,
					flash: {
							flashVars: {
								rtmpBufferTime: 20000
							}
							,swf : '/video-js.swf'
						}
					});
				
			},
			pauseVideo(){
				//return;
				 if(_.isEmpty(this.$data.videoPlay)) return ;
				 this.$data.videoPlay.pause();
			},
			playVideo(){
				 if(_.isEmpty(this.$data.videoPlay)) return ;				
				this.$data.videoPlay.play();
			},
*/			
			doSubmit(){
				
				this.CheckPwdPanel(false);
				
				var doWhat = this.$data.doWhat;
				
				switch(true){
				
					case(doWhat.returnBet.active):
						this.DoReturnBet();
					break;
					
					
					case(doWhat.modify.active):
						this.DoUpdate();	
					break;				
				}
				
			},
			CheckPwdPanel(enable){
			
				
				this.$data.reCheckPwd = enable;
				//this.$data.postd.password = '';
			},
			getDetailGameRecords(){
				var d = {
					gameTypeUid : this.P_gameTypeUid,
					uid : this.P_GameRecordUid
				}
				
				//var _data = this.$data;
				var _this = this;
				
				GameManager.getDetailGameRecords(this.loginToken,d)
					.then(function(res){
					
						var b = {Banker:[],Player:[]};
						var tmp = _.cloneDeep(res.executeInfo);
						
						_.forEach(tmp.banker,function(v1,k1){
							var b1 = common.getCard(v1)[0];
							b1.active = false;
							b1.index = k1+1;
							b.Banker.push(b1);
						});
						
						_.forEach(tmp.player,function(v1,k1){
							var b1 = common.getCard(v1)[0];
							b1.active = false;
							b1.index = k1+1;
							b.Player.push(b1);
						});
						
						
						
						_this.$data.viewData = 
							{
								themeName : tmp.themeName,
								tableTypeTitle : tmp.tableTypeTitle,
								tableId : tmp.tableId,
								shoeNo : tmp.shoeNo,
								roundNo : tmp.roundNo,
								gameRoundStartTime : common.timeZoneApply(tmp.gameRoundStartTime,false),
								state : tmp.state,
								reason : tmp.reason,
								streamUrl	 : tmp.streamUrl,
								videoSource : 'source='+tmp.streamUrl
							};
						
						
						
						_this.$data.editCard = _.cloneDeep(b);
						_this.$data.viewCard = _.cloneDeep(b);
						
						
						
						//_this.initVideo(_this.$data.viewData.streamUrl);
					})
					.catch(function(err){
						console.log("err :",err);
					});
				
			},
			setdoWhat(item){
			
				
				var t = this.$data.doWhat;
				_.forEach(t,function(v,k){
					t[k].active = false;
				});
				t[item].active = true;
			},			
			DoReturnBet(){
				
				var _this = this;
				
				var d = {
					gameTypeUid : this.P_gameTypeUid,
					uid : this.P_GameRecordUid,
					reason : this.$data.postd.reason,
					password :  this.$data.postd.password
				};
				
				GameManager.returnBet(this.loginToken,d)
					.then(function(res){						
							
							_this.toExit();
						})
						.catch(function(err){
							console.log("err : ",err);
						});
			},
			toDoUpdate(todo){
				var _this = this;
				 
				
				this.$validator.validate().then(result => {
					
					if (!result) {return;}					
					_this.setdoWhat(todo);
					_this.CheckPwdPanel(true);
					
				});
			},
			DoUpdate(){
				var _this = this;
				var editCard = this.$data.editCard;
				var d = {
					gameTypeUid : this.P_gameTypeUid,
					player : (function(){
						
						var a = [];
						_.forEach(editCard.Player,function(v,k){
							a.push(v.val);
						})
						
						return a;
					})(),
					banker : (function(){
						var a = [];
						_.forEach(editCard.Banker,function(v,k){
							a.push(v.val);
						})
						
						return a;
					})(),
					reason : this.$data.postd.reason,
					password :  this.$data.postd.password,
					uid : this.P_GameRecordUid
				}
				
				GameManager.modifyGameRecords(this.loginToken,d)
					.then(function(res){						
							
							_this.toExit();
						})
						.catch(function(err){
							console.log("err : ",err);
						});
				
			},			
			toExit(){
				this.$emit("toExit");
			},
			toCancel(){
				this.$emit("toCancel");
			},
			selBoard(item){
				
				var ta = {};
				var flag = false;
				var editCard = this.$data.editCard;
				var tmp = _.cloneDeep(editCard);
				_.forEach(editCard,function(v,k){				
					
					if(flag) return false;
					_.forEach(v,function(v1,k1){
						
						if(flag) return false;
						
						if(v1.active)
							{
								tmp[k][k1] = item;
								tmp[k][k1].index = v1.index;
								flag = true;
							}
					});
				});
				
				
				this.$data.editCard = _.cloneDeep(tmp);
				this.$data.allBoardPanel = false;
				
			},
			setBoard(item){
				
				if(!this.$data.d_isEdit) return;
				this.$data.allBoardPanel = true;
				
				_.forEach(this.$data.editCard,function(v,k){				
					_.forEach(v,function(v1,k1){
						v1.active = false;
					});
				});
				item.active = true;				
				this.$data.TaCard = _.cloneDeep(item);				
			}
		},
		computed:{			
			isEdit(){
				var state = this.$data.viewData.state || '';
				
				var re  = (state == '1')?true:false;
				
				
				
				this.$data.d_isEdit = re;
				return re;
			},
			domId(){
				
				//var state = this.$data.viewData.state || '';
				//var re  = (state == '1')?true:false;
				var state = this.$data.viewData.state || '';
				
				state = (state == '1')?true:false;
				
				var t = "";
				if(state)
				{
					t = "InEditGameRecord";
				}
				else
				{
					t = "InViewGameRecord";
				}
				
				var re = {
					d : {},
					dialog : {}
				}
				
				
				var d = {
					labTitle:'',
					labGameInfo : '',
					labRoomName : '',
					labGameType : '',
					labTableNo : '',
					labBootNo : '',
					labGameNo : '',
					labTime : '',
					labGameResult : '',
					labEditGameResult : '',
					labVideo : '',
					txtReason : '',
					btnCancel : '',
					btnEdit: '',
					btnRefund : '',
					btnClose : ''
				};
				var dialog = {
					Refund: {
						a : 'iptPwdInRefund',
						b1 : 'btnCancelInRefund',
						b2 : 'btnConfirmInRefund',
						c : 'divRefund'	
					},
					edit : {
						a : 'iptPwdInEditResult',
						b1 : 'btnCancelInEditResult',
						b2 : 'btnConfirmInEditResult',
						c : 'divEditResult'	
					}
				}
				
				
				_.forEach(d,function(v,k){
					re.d[k] = k + t;
				});
				
				_.forEach(dialog,function(v,k){
					
					_.forEach(v,function(v1,k1){
						re.dialog[k1] = v1 + t;
					});					
				});
				
				
				return re;
				
			}
		},
		watch:{
			
		},
		created(){
			this.getDetailGameRecords();
			
		},
		filters:{
			
		},
		beforeDestroy(){
			//this.$data.videoPlay.dispose();
			//this.dispose();
			//this.$refs.videojs.dispose();
		}
	
	}
</script>

<style lang="less" scoped>
	
	.panel{
		width:90%;
		background: transparent;
	}
	
	
	
	.editArea{
		width:100%;
		background-color: rgba(242, 242, 242, 1);
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		border-color: rgba(153, 153, 153, 1);
		border-radius: 5px;
	}
	
	
	.blockCard{
		
		width:100%;
		display:flex;
		justify-content: space-around;
		margin-top: 30px;
				
		._block{
			width:20%;			
		}
		
		.b_title{
			width:100%;
			height:22px;
			font-size:18px;
			margin-bottom:15px;
		}
		
		.b_content{
			width:100%;
			background-color: rgba(215, 215, 215, 1);
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(121, 121, 121, 1);
			border-radius: 0px;
			height:260px;
			padding:25px;
		}
		
		.rows{
			display:flex;
			width:100%;
			margin:10px 0px;
		}
		
		._f{
			width:30%;
		}
		
		._v{
			width:70%;
		}		
	}
	
	.blockReason{
		
		._reason{
			width:600px;
			height:250px;
		}
		
	}
	
	
	.Banker,.Player{
		display:flex;
		justify-content: space-around;		
	}
	
	.Banker{
		margin-bottom: 20px;
	}
	
	._note{
		margin-bottom:5px;
	}
	
	._modify{
		._card{
			cursor:pointer;
		}
	}
	
	.suit{		
		display:flex;
		._card{
			cursor:pointer;
		}		
	}
	
	.blockReason{
		width: 95%;
		margin: 20px  auto 30px;
		
		.r_title{
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	
	
	.dialog-footer{
		    width: 90%;
			display: flex;
			margin: 30px auto 50px;
			justify-content: center;
	}
	
	
	._block._video{
		.b_content{
			padding : 0px;			
			display: flex;
			justify-content: center;
			align-items: center;
			background-color:#000000;
		}
	}
	

    .isView._card{
		cursor:text;
	}
	
	
	.playIcon{
		width:100px;
		height:100px;
		cursor:pointer;
	}
	
	
	.playRecordVideo{
		background-color:#000000;
	}
	
	
</style>

