<template lang="pug">
.stream-manage-cdn
  .stream-manage-cdn__main(v-if="isDisplayMainPage === true")

    .stream-manage__tab-title-area
      .stream-manage__tab-title CDN管理
      .primary-button(
        @click="addCDN"
      ) 新增

    .stream-manage-cdn__result-area(v-if="resultRows.length > 0")

      .report-table

        .report-table__row.stream-manage-cdn__row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
          ) {{ x.label }}

        .report-table__row.stream-manage-cdn__row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'isDefault'||key === 'isEnabled'"
            ) {{ value === true ? "是" : "否" }}

            .report-table__cell(
              v-else-if="key === 'operates'"
            )
              .action-bar__table-bar

                template(v-for="x in value")
                  template(v-if="row.isDefault === true")
                    .action-bar__table-button(
                      v-if="x.name === 'SET_DEFAULT' "
                      :class="{ 'is-disabled': true }"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else-if="x.name === 'DISABLE' "
                      :class="{ 'is-disabled': true }"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else-if="x.name === 'DELETE' "
                      :class="{ 'is-disabled': true }"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

                  template(v-else-if="row.isDefault !== true")
                    .action-bar__table-button(
                      v-if="row.isEnabled === false & x.name === 'SET_DEFAULT' "
                      :class="{ 'is-disabled': true }"
                    ) {{ x.label }}

                    .action-bar__table-alt-button(
                      v-else-if="row.isEnabled === false & x.name === 'DISABLE' "
                      @click="actionHandler('ENABLE', index)"
                    ) 啟用

                    .action-bar__table-button(
                      v-else
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

            .report-table__cell(
              v-else
            ) {{ value }}

  AddCDN(
    :isDisplay="isDisplayAddCDN"
    :casinoLocationUid="casinoLocationUid"
    @close="closeAddCDN"
    @requestSuccess="fetchCasinoStreamCDNList"
  )

  EditCDN(
    :isDisplay="isDisplayEditCDN"
    :targetData="current"
    @close="closeEditCDN"
    @requestSuccess="fetchCasinoStreamCDNList"
  )

  ConfirmModal(
    :isDisplay="isShowConfirmModal"
    :config="confirmModalConfig"
    @close="closeConfirmModal"
    @requestSuccess="fetchCasinoStreamCDNList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import {
  getCasinoStreamCDNList,
  setCasinoStreamDefaultCDN,
  disableCasinoStreamCDN,
  enableCasinoStreamCDN,
  deleteCasinoStreamCDN
} from "@/api/Casino.js"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import MessageAlert from "@/mixins/MessageAlert.js"
import { methods as ReportPageMethods } from "@/mixins/ReportPage.js"
import AddCDN from "@/components/common/StreamManage/CDN/AddCDN.vue"
import EditCDN from "@/components/common/StreamManage/CDN/EditCDN.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ConfirmModal from "@/components/common/ConfirmModal.vue"

export default {
  props: {
    casinoLocationUid: { type: String, required: true }
  },
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamCDNList()
      this.closeAddCDN()
      this.closeEditCDN()
    }
  },
  components: { LoadingLock, AddCDN, EditCDN, ConfirmModal },
  mixins: [ErrorMessage, ReportPageMethods, MessageAlert],
  data: () => ({
    current: { CDNUid: "", channelId: "", CDNAddress: "", comment: "" },
    resultRows: [],
    confirmModalConfig: {},
    isLoading: false,
    isShowConfirmModal: false,
    isDisplayAddCDN: false,
    isDisplayEditCDN: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if ((this.isDisplayAddCDN === false) & (this.isDisplayEditCDN === false)) {
        return true
      } else {
        return false
      }
    },
    tableActionItems() {
      return [
        { name: "EDIT", label: "編輯" },
        { name: "SET_DEFAULT", label: "設定預設" },
        { name: "DISABLE", label: "停用" },
        { name: "DELETE", label: "刪除" }
      ]
    },
    reportTableHeaders() {
      return [
        { label: "CDN說明" },
        { label: "頻道" },
        { label: "CDN位址" },
        { label: "是否預設" },
        { label: "是否啟用" },
        { label: "操作" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            comment: x.remark,
            channelId: x.channelId,
            CDNAddress: x.address,
            isDefault: x.defaultOption === true,
            isEnabled: x.locked === false,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  async mounted() {
    await this.fetchCasinoStreamCDNList()
  },
  methods: {
    async fetchCasinoStreamCDNList() {
      try {
        this.isLoading = true

        const payload = { casinoLocationUid: this.casinoLocationUid }

        const res = await getCasinoStreamCDNList(this.loginToken, payload)

        if (res.exitCode === true) {
          const result = res.data.length > 0 ? res.data : []
          this.resultRows = result
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.resultRows = []
      } finally {
        this.isLoading = false
      }
    },
    closeConfirmModal() {
      this.confirmModalConfig = {}
      this.isShowConfirmModal = false
    },
    addCDN() {
      this.isDisplayAddCDN = true
    },
    closeAddCDN() {
      this.isDisplayAddCDN = false
    },
    editCDN(index) {
      const target = this.resultRows[index]

      this.current.channelId = target.channelId
      this.current.comment = target.remark
      this.current.CDNAddress = target.address
      this.current.CDNUid = target.uid

      this.isDisplayEditCDN = true
    },
    closeEditCDN() {
      this.isDisplayEditCDN = false
      this.current.channelId = ""
      this.current.comment = ""
      this.current.CDNAddress = ""
      this.current.CDNUid = ""
    },
    async setDefaultCDN(index) {
      try {
        this.isLoading = true

        const target = this.resultRows[index]

        const payload = {
          CDNUid: target.uid
        }

        const res = await setCasinoStreamDefaultCDN(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("設定預設成功")
          await this.fetchCasinoStreamCDNList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async enableCDN(index) {
      const target = this.resultRows[index]
      const payload = {
        CDNUid: target.uid
      }

      this.confirmModalConfig = {
        request: enableCasinoStreamCDN,
        payload: payload,
        message: "是否確定啟用？"
      }

      this.isShowConfirmModal = true
    },
    async disableCDN(index) {
      const target = this.resultRows[index]
      const payload = {
        CDNUid: target.uid
      }

      this.confirmModalConfig = {
        request: disableCasinoStreamCDN,
        payload: payload,
        message: "是否確定停用？"
      }

      this.isShowConfirmModal = true
    },
    deleteCDN(index) {
      const target = this.resultRows[index]
      const payload = {
        CDNUid: target.uid
      }

      this.confirmModalConfig = {
        request: deleteCasinoStreamCDN,
        payload: payload,
        message: "是否確定刪除？"
      }

      this.isShowConfirmModal = true
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT":
          this.editCDN(index)
          break
        case "SET_DEFAULT":
          this.setDefaultCDN(index)
          break
        case "ENABLE":
          this.enableCDN(index)
          break
        case "DISABLE":
          this.disableCDN(index)
          break
        case "DELETE":
          this.deleteCDN(index)
          break
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-manage-cdn
  &__row
    grid-template-columns repeat(5, 150px) 350px
</style>
