<template lang="pug">
.stream-manage-stream-player
  .stream-manage__tab-title 賭桌延遲時間

  .stream-manage__row
    .stream-manage__label.is-required 賭桌延遲時間(毫秒)* ：
    AdvancedInput(
      domId="1"
      :minlength="1"
      :maxlength="5"
      :regex="/^(0|[1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$/"
      @input="setMicroSecondsOfDelay"
      ref="microSecondsOfDelayInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__button(
      @click="submitRequest"
    ) 儲存

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { getCasinoStreamGameTableDelay, setCasinoStreamGameTableDelay } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import MessageAlert from "@/mixins/MessageAlert.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: { casinoLocationUid: { type: String, required: true } },
  components: { AdvancedInput, LoadingLock },
  mixins: [ErrorMessage, MessageAlert],
  data: () => ({
    current: {
      microSecondsOfDelay: 0
    },
    isLoading: false
  }),
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamGameTableDelay()
      this.setDefaultValue()
    }
  },
  async mounted() {
    await this.fetchCasinoStreamGameTableDelay()
    this.setDefaultValue()
  },
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    async fetchCasinoStreamGameTableDelay() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid
        }

        const res = await getCasinoStreamGameTableDelay(this.loginToken, payload)

        if (res.exitCode === true) {
          const [result] = res.data.length > 0 ? res.data : [{ tableVideoDelay: 0 }]

          this.current.microSecondsOfDelay = result.tableVideoDelay
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setMicroSecondsOfDelay(data) {
      this.current.microSecondsOfDelay = data
    },
    setDefaultValue() {
      this.$refs["microSecondsOfDelayInput"].setValue(this.current.microSecondsOfDelay)
    },
    resetToDefault() {
      this.current.microSecondsOfDelay = ""
    },
    async validates() {
      const result = await Promise.all([this.$refs["microSecondsOfDelayInput"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid,
          microSecondsOfDelay: this.current.microSecondsOfDelay
        }

        const res = await setCasinoStreamGameTableDelay(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("設定成功")
          await this.fetchCasinoStreamGameTableDelay()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
