<template lang="pug">
.stream-manage-game-table-stream
  .stream-manage-game-table-stream__main(v-if="isDisplayMainPage === true")
    .stream-manage__tab-title 賭桌視訊管理

    .stream-manage-stream-resolution__result-area
      .report-table(
        v-if="resultRows.length > 0"
      )

        .report-table__row.stream-manage-game-table-stream__row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
          ) {{ x.label }}

        .report-table__row.stream-manage-game-table-stream__row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'operates'"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else
            ) {{ value }}

      Pagination(
        v-if="current.totalPagings > 1"
        :domIdList="paginations.domId"
        :totalPagings="current.totalPagings"
        :pagingIndex="current.pagingIndex"
        @change="searchWithPagingIndex"
      )

  EditGameTableStream(
    :isDisplay="isDisplayEditGameTableStream"
    :casinoLocationUid="casinoLocationUid"
    :targetData="current"
    @close="closeEditGameTableStream"
    @requestSuccess="fetchCasinoStreamGameTableList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import Pagination from "@/components/basic/Paginations.vue"
import { methods as ReportPageMethods } from "@/mixins/ReportPage.js"
import { getCasinoStreamGameTableList } from "@/api/Casino.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import EditGameTableStream from "@/components/common/StreamManage/GameTableStream/EditGameTableStream.vue"

export default {
  props: {
    casinoLocationUid: { type: String, required: true }
  },
  async mounted() {
    await this.fetchCasinoStreamGameTableList()
  },
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamGameTableList()
      this.closeEditGameTableStream()
    }
  },
  components: { LoadingLock, Pagination, EditGameTableStream },
  mixins: [ErrorMessage, ReportPageMethods],
  data: () => ({
    current: {
      itemsPerPage: 20,
      pagingIndex: 0,
      casinoGameTableNumber: "",
      gameTableSystemNumber: "",
      gameTableNumber: "",
      gameType: "",
      gameTableType: "",
      gameTableStreamCDNUrl: "",
      CDNUid: "",
      appName: "",
      streamName: ""
    },
    resultRows: [],
    isLoading: false,
    isDisplayEditGameTableStream: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if (this.isDisplayEditGameTableStream === false) {
        return true
      } else {
        return false
      }
    },
    tableActionItems() {
      return [{ name: "EDIT", label: "編輯" }]
    },
    reportTableHeaders() {
      return [
        { label: "現場桌號" },
        { label: "系統桌號" },
        { label: "前台桌號" },
        { label: "遊戲類型" },
        { label: "桌種" },
        { label: "賭桌CDN地址" },
        { label: "應用名稱" },
        { label: "串流名稱" },
        { label: "操作" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            casinoGameTableNumber: x.casinoTableId,
            gameTableSystemNumber: x.siteCode,
            gameTableNumber: x.tableId,
            gameType: x.gameTypeTitle,
            gameTableType: x.tableTypeTitle,
            gameTableStreamCDNUrl: x.cdnSettingAddress,
            appName: x.appName,
            streamName: x.streamName,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "1",
          previousPage: "2",
          inputPage: "3",
          actionButton: "4",
          nextPage: "5",
          lastPage: "6"
        }
      }
    }
  },
  methods: {
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex
      await this.fetchCasinoStreamGameTableList()
    },
    async fetchCasinoStreamGameTableList() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid,
          itemsPerPage: this.current.itemsPerPage,
          pagingIndex: this.current.pagingIndex
        }

        const res = await getCasinoStreamGameTableList(this.loginToken, payload)

        if (res.exitCode === true && res.data.length > 0) {
          const [result] = res.data
          this.resultRows = result.rows
          this.setPaginations(result.pagination)
        } else {
          this.resetSearchResult()
        }
      } catch {
        this.resetSearchResult()
      } finally {
        this.isLoading = false
      }
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    editGameTableStream(index) {
      const target = this.resultRows[index]

      this.current.casinoGameTableNumber = target.casinoTableId
      this.current.gameTableSystemNumber = target.siteCode
      this.current.gameTableNumber = target.tableId
      this.current.gameType = target.gameTypeTitle
      this.current.gameTableType = target.tableTypeTitle
      this.current.CDNUid = target.cdnSettingUid
      this.current.gameTableStreamUid = target.uid
      this.current.appName = target.appName
      this.current.streamName = target.streamName

      this.isDisplayEditGameTableStream = true
    },
    closeEditGameTableStream() {
      this.isDisplayEditGameTableStream = false
      this.current.casinoGameTableNumber = ""
      this.current.gameTableSystemNumber = ""
      this.current.gameTableNumber = ""
      this.current.gameType = ""
      this.current.gameTableType = ""
      this.current.CDNUid = ""
      this.current.gameTableStreamUid = ""
      this.current.appName = ""
      this.current.streamName = ""
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT":
          this.editGameTableStream(index)
          break
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-manage-game-table-stream
  &__row
    grid-template-columns repeat(3, 100px) repeat(5, 150px) 120px
</style>
