<template lang="pug">
.stream-manage-stream-resolution
  .stream-manage-stream-resolution__main(v-show="isDisplayMainPage === true")
    .stream-manage__tab-title 視訊解析度管理

    .stream-manage-stream-resolution__result-area

      .stream-manage-stream-resolution__type-switch-row
        StreamResolutionTypeSwitch(
          :casinoLocationUid="casinoLocationUid"
          :defaultSelectIndex="streamResolutionTypeMenuIndex"
          @change="setStreamResolutionType"
          ref="streamResolutionTypeSwitch"
        )

      .report-table(
        v-if="resultRows.length > 0"
      )

        .report-table__row.stream-manage-stream-resolution__row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
          ) {{ x.label }}

        .report-table__row.stream-manage-stream-resolution__row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")

            .report-table__cell(
              v-if="key === 'operates'"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else
            ) {{ value }}

  EditResolution(
    :isDisplay="isDisplayEditStreamResolution"
    :targetData="current"
    @close="closeEditStreamResolution"
    @requestSuccess="fetchCasinoStreamResolutionList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import { methods as ReportPageMethods } from "@/mixins/ReportPage.js"
import EditResolution from "@/components/common/StreamManage/StreamResolution/EditResolution.vue"
import StreamResolutionTypeSwitch from "@/components/common/StreamManage/StreamResolution/StreamResolutionTypeSwitch.vue"
import { getCasinoStreamResolutionList } from "@/api/Casino.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: {
    casinoLocationUid: { type: String, required: true }
  },
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamResolutionList()
      this.closeAddStreamResolution()
      this.closeEditStreamResolution()
    }
  },
  components: { LoadingLock, StreamResolutionTypeSwitch, EditResolution },
  mixins: [ErrorMessage, ReportPageMethods],
  data: () => ({
    current: {
      streamResolutionTypeUid: "",
      streamResolutionUid: "",
      streamResolution: "",
      comment: "",
      streamResolutionTypeLabel: ""
    },
    resultRows: [],
    isLoading: false,
    streamResolutionTypeMenuIndex: 0,
    isDisplayEditStreamResolution: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if (this.isDisplayEditStreamResolution === false) {
        return true
      } else {
        return false
      }
    },
    tableActionItems() {
      return [{ name: "EDIT", label: "編輯" }]
    },
    reportTableHeaders() {
      return [{ label: "解析度說明" }, { label: "解析度" }, { label: "操作" }]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            comment: x.remark,
            resolution: x.resolution,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    async setStreamResolutionType(data) {
      this.current.streamResolutionTypeUid = data.streamResolutionTypeUid
      this.streamResolutionTypeMenuIndex = data.menuIndex
      await this.fetchCasinoStreamResolutionList()
    },
    async fetchCasinoStreamResolutionList() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid,
          streamResolutionTypeUid: this.current.streamResolutionTypeUid
        }
        const res = await getCasinoStreamResolutionList(this.loginToken, payload)

        if (res.exitCode === true) {
          const result = res.data.length > 0 ? res.data : []
          this.resultRows = result
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch {
        this.resultRows = []
      } finally {
        this.isLoading = false
      }
    },
    editStreamResolution(index) {
      const target = this.resultRows[index]

      this.current.streamResolution = target.resolution
      this.current.comment = target.remark
      this.current.streamResolutionUid = target.uid
      this.current.streamResolutionTypeLabel = this.$refs["streamResolutionTypeSwitch"].getCurrentMenuLabel()

      this.isDisplayEditStreamResolution = true
    },
    closeEditStreamResolution() {
      this.isDisplayEditStreamResolution = false

      this.current.streamResolution = ""
      this.current.comment = ""
      this.current.streamResolutionUid = ""
      this.current.streamResolutionTypeLabel = ""
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT":
          this.editStreamResolution(index)
          break
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-manage-stream-resolution
  &__row
    grid-template-columns 350px 250px 180px

  &__type-switch-row
    margin 1rem 0

  &__type-list
    display flex

  &__type-item
    display flex
    margin-right -1px
    padding 0.5rem 1rem
    border 1px solid #000000
    background #fff
    color #000
    cursor pointer

    &--is-active
      background #666
      color #fff
</style>
