<template lang="pug">
.stream-manage-record
  .stream-manage-record__main(v-if="isDisplayMainPage === true")
    .stream-manage__tab-title-area
      .stream-manage__tab-title 錄影視訊管理
      .primary-button(
        @click="addStreamRecord"
      ) 新增

    .stream-manage-record__result-area(v-if="resultRows.length > 0")

      .report-table

        .report-table__row.stream-manage-record__row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
          ) {{ x.label }}

        .report-table__row.stream-manage-record__row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'isDefault'||key === 'isEnabled'"
            ) {{ value === true ? "是" : "否" }}

            .report-table__cell(
              v-else-if="key === 'operates'"
            )
              .action-bar__table-bar

                template(v-for="x in value")
                  template(v-if="row.isDefault === true")
                    .action-bar__table-button(
                      v-if="x.name === 'SET_DEFAULT' "
                      :class="{ 'is-disabled': true }"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else-if="x.name === 'DELETE' "
                      :class="{ 'is-disabled': true }"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

                  template(v-else-if="row.isDefault !== true")
                    .action-bar__table-button(
                      v-if="x.name === 'SET_DEFAULT' "
                      @click="actionHandler('SET_DEFAULT', index)"
                    ) {{ x.label }}

                    .action-bar__table-button(
                      v-else-if="row.isEnabled === false & x.name === 'DELETE' "
                      :class="{ 'is-disabled': true }"
                    ) 刪除

                    .action-bar__table-button(
                      v-else
                      @click="actionHandler(x.name, index)"
                    ) {{ x.label }}

            .report-table__cell(
              v-else
            ) {{ value }}

  AddStreamRecord(
    :isDisplay="isDisplayAddStreamRecord"
    :casinoLocationUid="casinoLocationUid"
    @close="closeAddStreamRecord"
    @requestSuccess="fetchCasinoStreamRecordList"
  )

  EditStreamRecord(
    :isDisplay="isDisplayEditStreamRecord"
    :casinoLocationUid="casinoLocationUid"
    :targetData="current"
    @close="closeEditStreamRecord"
    @requestSuccess="fetchCasinoStreamRecordList"
  )

  ConfirmModal(
    :isDisplay="isShowConfirmModal"
    :config="confirmModalConfig"
    @close="closeConfirmModal"
    @requestSuccess="fetchCasinoStreamRecordList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import { getCasinoStreamRecordList, setCasinoStreamDefaultRecord, deleteCasinoStreamRecord } from "@/api/Casino.js"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import MessageAlert from "@/mixins/MessageAlert.js"
import { methods as ReportPageMethods } from "@/mixins/ReportPage.js"
import AddStreamRecord from "@/components/common/StreamManage/StreamRecord/AddStreamRecord.vue"
import EditStreamRecord from "@/components/common/StreamManage/StreamRecord/EditStreamRecord.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ConfirmModal from "@/components/common/ConfirmModal.vue"

export default {
  props: {
    casinoLocationUid: { type: String, required: true }
  },
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamRecordList()
      this.closeAddStreamRecord()
      this.closeEditStreamRecord()
    }
  },
  components: { LoadingLock, AddStreamRecord, EditStreamRecord, ConfirmModal },
  mixins: [ErrorMessage, ReportPageMethods, MessageAlert],
  data: () => ({
    current: { comment: "", url: "", streamRecordUid: "" },
    resultRows: [],
    confirmModalConfig: {},
    isLoading: false,
    isShowConfirmModal: false,
    isDisplayAddStreamRecord: false,
    isDisplayEditStreamRecord: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if ((this.isDisplayAddStreamRecord === false) & (this.isDisplayEditStreamRecord === false)) {
        return true
      } else {
        return false
      }
    },
    tableActionItems() {
      return [
        { name: "EDIT", label: "編輯" },
        { name: "SET_DEFAULT", label: "設定預設" },
        { name: "DELETE", label: "刪除" }
      ]
    },
    reportTableHeaders() {
      return [{ label: "錄影視訊說明" }, { label: "錄影視訊API位址" }, { label: "是否預設" }, { label: "操作" }]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            comment: x.remark,
            url: x.address,
            isDefault: x.defaultOption === true,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  async mounted() {
    await this.fetchCasinoStreamRecordList()
  },
  methods: {
    async fetchCasinoStreamRecordList() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid
        }

        const res = await getCasinoStreamRecordList(this.loginToken, payload)

        if (res.exitCode === true) {
          const result = res.data.length > 0 ? res.data : []
          this.resultRows = result
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.resultRows = []
      } finally {
        this.isLoading = false
      }
    },
    closeConfirmModal() {
      this.confirmModalConfig = {}
      this.isShowConfirmModal = false
    },
    addStreamRecord() {
      this.isDisplayAddStreamRecord = true
    },
    closeAddStreamRecord() {
      this.isDisplayAddStreamRecord = false
    },
    editStreamRecord(index) {
      const target = this.resultRows[index]

      this.current.comment = target.remark
      this.current.url = target.address
      this.current.streamRecordUid = target.uid

      this.isDisplayEditStreamRecord = true
    },
    closeEditStreamRecord() {
      this.isDisplayEditStreamRecord = false

      this.current.comment = ""
      this.current.url = ""
      this.current.streamRecordUid = ""
    },
    async setDefaultStreamRecord(index) {
      try {
        this.isLoading = true

        const target = this.resultRows[index]

        const payload = {
          streamRecordUid: target.uid
        }

        const res = await setCasinoStreamDefaultRecord(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("設定預設成功")
          await this.fetchCasinoStreamRecordList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    deleteStreamRecord(index) {
      const target = this.resultRows[index]
      const payload = {
        streamRecordUid: target.uid
      }

      this.confirmModalConfig = {
        request: deleteCasinoStreamRecord,
        payload: payload,
        message: "是否確定刪除?"
      }

      this.isShowConfirmModal = true
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT":
          this.editStreamRecord(index)
          break
        case "SET_DEFAULT":
          this.setDefaultStreamRecord(index)
          break
        case "DELETE":
          this.deleteStreamRecord(index)
          break
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-manage-record
  &__row
    grid-template-columns repeat(2, 250px) 150px 280px
</style>
