<template lang="pug">
.stream-manage-stream-player
  .stream-manage__tab-title 播放視訊管理

  .stream-manage__row
    .stream-manage__label.is-required 播放錄影位址* ：
    AdvancedInput(
      domId="1"
      :minlength="1"
      :maxlength="100"
      :regex="/^[a-zA-Z0-9-.]{1,100}$/"
      @input="setUrl"
      ref="urlInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 播放錄影應用名稱* :
    AdvancedInput(
      domId="2"
      :minlength="1"
      :maxlength="100"
      :regex="/.{1,100}/"
      @input="setAppName"
      ref="appNameInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 播放錄影檔案格式* :
    AdvancedInput(
      domId="3"
      :minlength="1"
      :maxlength="100"
      :regex="/.{1,100}/"
      @input="setFileExtention"
      ref="fileExtentionInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__button(
      @click="submitRequest"
    ) 儲存

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { getCasinoStreamPlayerData, editCasinoStreamPlayer } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import MessageAlert from "@/mixins/MessageAlert.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: { casinoLocationUid: { type: String, required: true } },
  components: { AdvancedInput, LoadingLock },
  mixins: [ErrorMessage, MessageAlert],
  data: () => ({
    current: {
      appName: "",
      fileExtension: "",
      url: ""
    },
    isLoading: false
  }),
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamPlayerData()
      this.setDefaultValue()
    }
  },
  async mounted() {
    await this.fetchCasinoStreamPlayerData()
    this.setDefaultValue()
  },
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    async fetchCasinoStreamPlayerData() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid,
          url: this.current.url,
          appName: this.current.appName,
          fileExtension: this.current.fileExtension
        }

        const res = await getCasinoStreamPlayerData(this.loginToken, payload)

        if (res.exitCode === true) {
          const [result] = res.data.length > 0 ? res.data : [{}]
          const { address, appName, format } = result
          this.current.appName = appName
          this.current.fileExtension = format
          this.current.url = address
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.resetToDefault()
      } finally {
        this.isLoading = false
      }
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setAppName(data) {
      this.current.appName = data
    },
    setFileExtention(data) {
      this.current.fileExtension = data
    },
    setUrl(data) {
      this.current.url = data
    },
    setDefaultValue() {
      this.$refs["appNameInput"].setValue(this.current.appName)
      this.$refs["fileExtentionInput"].setValue(this.current.fileExtension)
      this.$refs["urlInput"].setValue(this.current.url)
    },
    resetToDefault() {
      this.current.fileExtension = ""
      this.current.appName = ""
      this.current.url = ""
    },
    async validates() {
      const result = await Promise.all([
        this.$refs["urlInput"].validate(),
        this.$refs["appNameInput"].validate(),
        this.$refs["fileExtentionInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid,
          url: this.current.url,
          appName: this.current.appName,
          fileExtension: this.current.fileExtension
        }

        const res = await editCasinoStreamPlayer(this.loginToken, payload)

        if (res.exitCode === true) {
          this.showMessage("編輯成功")
          await this.fetchCasinoStreamPlayerData()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
