<template lang="pug">
.stream-manage-whole-view-stream
  .stream-manage-whole-view-stream__main(v-if="isDisplayMainPage === true")
    .stream-manage__tab-title-area
      .stream-manage__tab-title 全景管理
      .primary-button(
        @click="addStreamWholeView"
      ) 新增

    .stream-manage-whole-view-stream__result-area(v-if="resultRows.length > 0")

      .report-table

        .report-table__row.stream-manage-whole-view-stream__row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
          ) {{ x.label }}

        .report-table__row.stream-manage-whole-view-stream__row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'robotArmGameHallUid'"
            ) {{ value ? getRobotArmGameHallLabel(value) : "-" }}

            .report-table__cell(
              v-else-if="key === 'isEnabled'"
            ) {{ value === true ? "是" : "否" }}

            .report-table__cell(
              v-else-if="key === 'operates'"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-alt-button(
                      v-if="row.isEnabled === false & x.name === 'DISABLE' "
                      @click="actionHandler('ENABLE', index)"
                  ) 啟用

                  .action-bar__table-button(
                    v-else
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else
            ) {{ value }}

  AddWholeViewStream(
    :isDisplay="isDisplayAddStreamWholeView"
    :casinoLocationUid="casinoLocationUid"
    :robotArmGameHallList="robotArmGameHallSelectList"
    @close="closeAddStreamWholeView"
    @requestSuccess="fetchCasinoStreamWholeViewList"
  )

  EditWholeViewStream(
    :isDisplay="isDisplayEditStreamWholeView"
    :targetData="current"
    :robotArmGameHallList="robotArmGameHallSelectList"
    @close="closeEditStreamWholeView"
    @requestSuccess="fetchCasinoStreamWholeViewList"
  )

  ConfirmModal(
    :isDisplay="isShowConfirmModal"
    :config="confirmModalConfig"
    @close="closeConfirmModal"
    @requestSuccess="fetchCasinoStreamWholeViewList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState } from "vuex"
import {
  getCasinoStreamWholeViewList,
  disableCasinoStreamWholeView,
  enableCasinoStreamWholeView,
  deleteCasinoStreamWholeView
} from "@/api/Casino.js"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import { methods as ReportPageMethods } from "@/mixins/ReportPage.js"
import AddWholeViewStream from "@/components/common/StreamManage/WholeViewStream/AddWholeViewStream.vue"
import EditWholeViewStream from "@/components/common/StreamManage/WholeViewStream/EditWholeViewStream.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ConfirmModal from "@/components/common/ConfirmModal.vue"

export default {
  props: {
    casinoLocationUid: { type: String, required: true }
  },
  watch: {
    async casinoLocationUid(value) {
      if (!value) return
      await this.fetchCasinoStreamWholeViewList()
      this.closeAddStreamWholeView()
      this.closeEditStreamWholeView()
    }
  },
  components: { LoadingLock, AddWholeViewStream, EditWholeViewStream, ConfirmModal },
  mixins: [ErrorMessage, ReportPageMethods],
  data: () => ({
    current: {
      wholeViewName: "",
      robotArmGameHallUid: "",
      streamUrl: "",
      appName: "",
      streamName: "",
      streamWholeViewUid: ""
    },
    robotArmGameHallList: [],
    resultRows: [],
    confirmModalConfig: {},
    isShowConfirmModal: false,
    isLoading: false,
    isDisplayAddStreamWholeView: false,
    isDisplayEditStreamWholeView: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    isDisplayMainPage() {
      if ((this.isDisplayAddStreamWholeView === false) & (this.isDisplayEditStreamWholeView === false)) {
        return true
      } else {
        return false
      }
    },
    tableActionItems() {
      return [
        { name: "EDIT", label: "編輯" },
        { name: "DISABLE", label: "停用" },
        { name: "DELETE", label: "刪除" }
      ]
    },
    reportTableHeaders() {
      return [
        { label: "全景名稱" },
        { label: "手臂間" },
        { label: "串流位址" },
        { label: "應用名稱" },
        { label: "串流名稱" },
        { label: "是否啟用" },
        { label: "操作" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            wholeViewName: x.title,
            robotArmGameHallUid: x.robotArmThemeUid ? x.robotArmThemeUid : "",
            streamUrl: x.address,
            appName: x.appName,
            streamName: x.streamName,
            isEnabled: x.locked === false,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    },
    robotArmGameHallSelectList() {
      if (this.robotArmGameHallList.length > 0) {
        const list = this.resultRows.flatMap(x => x.robotArmThemeUid)
        const result = this.robotArmGameHallList.map(x => {
          const isAlreadyAssigned = list.includes(x.uid)
          return { ...x, isAlreadyAssigned }
        })
        return result
      } else {
        return []
      }
    }
  },
  async mounted() {
    await this.fetchCasinoStreamWholeViewList()
  },
  methods: {
    async fetchCasinoStreamWholeViewList() {
      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid
        }

        const res = await getCasinoStreamWholeViewList(this.loginToken, payload)

        if (res.exitCode === true) {
          const [result] = res.data.length > 0 ? res.data : []
          this.resultRows = result.rows
          this.saveRobotArmGameHallList(result.robotArmThemeList)
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.resultRows = []
        this.resetRobotArmGameHallList()
      } finally {
        this.isLoading = false
      }
    },
    closeConfirmModal() {
      this.confirmModalConfig = {}
      this.isShowConfirmModal = false
    },
    saveRobotArmGameHallList(list) {
      this.robotArmGameHallList = list
    },
    resetRobotArmGameHallList() {
      this.robotArmGameHallList = []
    },
    addStreamWholeView() {
      this.isDisplayAddStreamWholeView = true
    },
    closeAddStreamWholeView() {
      this.isDisplayAddStreamWholeView = false
    },
    editStreamWholeView(index) {
      const target = this.resultRows[index]

      this.current.wholeViewName = target.title
      this.current.robotArmGameHallUid = target.robotArmThemeUid
      this.current.streamUrl = target.address
      this.current.appName = target.appName
      this.current.streamName = target.streamName
      this.current.streamWholeViewUid = target.uid

      this.isDisplayEditStreamWholeView = true
    },
    closeEditStreamWholeView() {
      this.isDisplayEditStreamWholeView = false

      this.current.wholeViewName = ""
      this.current.robotArmGameHallUid = ""
      this.current.streamUrl = ""
      this.current.appName = ""
      this.current.streamName = ""
      this.current.streamWholeViewUid = ""
    },
    async enableStreamWholeView(index) {
      const target = this.resultRows[index]
      const payload = { streamWholeViewUid: target.uid }

      this.confirmModalConfig = {
        request: enableCasinoStreamWholeView,
        payload: payload,
        message: "是否確定啟用？"
      }

      this.isShowConfirmModal = true
    },
    async disableStreamWholeView(index) {
      const target = this.resultRows[index]
      const payload = { streamWholeViewUid: target.uid }

      this.confirmModalConfig = {
        request: disableCasinoStreamWholeView,
        payload: payload,
        message: "是否確定停用？"
      }

      this.isShowConfirmModal = true
    },
    deleteStreamWholeView(index) {
      const target = this.resultRows[index]
      const payload = { streamWholeViewUid: target.uid }

      this.confirmModalConfig = {
        request: deleteCasinoStreamWholeView,
        payload: payload,
        message: "是否確定刪除？"
      }

      this.isShowConfirmModal = true
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT":
          this.editStreamWholeView(index)
          break
        case "ENABLE":
          this.enableStreamWholeView(index)
          break
        case "DISABLE":
          this.disableStreamWholeView(index)
          break
        case "DELETE":
          this.deleteStreamWholeView(index)
          break
      }
    },
    getRobotArmGameHallLabel(uid) {
      const [target] = this.robotArmGameHallList.filter(x => x.uid === uid)

      if (target) {
        return target.label
      } else {
        return "-"
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-manage-whole-view-stream
  &__row
    grid-template-columns 200px 120px repeat(3, 200px) 120px 250px
</style>
