.search-result-status
  display flex
  align-items center
  margin 0 0 1rem

  &__bar
    display flex
    align-items center
    margin 0 1rem

  &__title
    margin-right 1.5rem
    font-weight bold
    font-size 1rem

  &__label
    font-weight bold

  &__item
    margin 0 0.5rem

.search-result
  padding-right 1rem
  width min-content

  &__default-content
    display flex
    justify-content center
    align-items center
    min-height 8rem
    width calc(100vw - 15rem)
    background #f2f2f2
    font-weight bold
    font-size 1rem
