<template lang="pug">
.stream-manage-game-table-stream-edit(v-if="isDisplay === true")
  .stream-manage__tab-title 編輯賭桌視訊管理

  .stream-manage__row
    .stream-manage__label.is-required 現場桌號 :
    .stream-manage__label {{ current.casinoGameTableNumber }}

  .stream-manage__row
    .stream-manage__label.is-required 系統桌號 :
    .stream-manage__label {{ current.gameTableSystemNumber }}

  .stream-manage__row
    .stream-manage__label.is-required 前台桌號 :
    .stream-manage__label {{ current.gameTableNumber }}

  .stream-manage__row
    .stream-manage__label.is-required 遊戲類型 :
    .stream-manage__label {{ current.gameType }}

  .stream-manage__row
    .stream-manage__label.is-required 桌種 :
    .stream-manage__label {{ current.gameTableType }}

  .stream-manage__row
    .stream-manage__label.is-required 賭桌CDN位址 :
    CasinoStreamCDNSelect.stream-manage-game-table-stream-edit__form-item(
      domId="1"
      :casinoLocationUid="casinoLocationUid"
      @select="setCDNUrl"
      ref="gameTableCDNSelect"
    )

  .stream-manage__row
    .stream-manage__label.is-required 應用名稱 :
    AdvancedInput(
      domId="2"
      :minlength="1"
      :maxlength="100"
      :regex="/^[a-zA-Z0-9_.\\?#:]{1,100}$/"
      :parentClasses="['stream-manage-game-table-stream-edit__form-item']"
      @input="setAppName"
      ref="appNameInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 串流名稱：
    AdvancedInput(
      domId="3"
      :minlength="1"
      :maxlength="100"
      :regex="/^[a-zA-Z0-9_.\\?#:]{1,100}$/"
      :parentClasses="['stream-manage-game-table-stream-edit__form-item']"
      @input="setStreamName"
      ref="streamNameInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__alt-button(
      @click="onClose"
    ) 取消

    .action-bar__button(
      @click="submitRequest"
    ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { editCasinoStreamGameTable } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import CasinoStreamCDNSelect from "@/components/selects/CasinoStreamCDN.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    casinoLocationUid: { type: String, require: true },
    targetData: { type: Object, required: true }
  },
  components: { AdvancedInput, LoadingLock, CasinoStreamCDNSelect },
  mixins: [ErrorMessage],
  data: () => ({
    current: {
      casinoGameTableNumber: "",
      gameTableSystemNumber: "",
      gameTableNumber: "",
      gameType: "",
      gameTableType: "",
      CDNUid: "",
      appName: "",
      streamName: ""
    },
    isLoading: false
  }),
  watch: {
    isDisplay(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.setDefaultValue()
        })
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    setDefaultValue() {
      this.current.casinoGameTableNumber = this.targetData.casinoGameTableNumber
      this.current.gameTableSystemNumber = this.targetData.gameTableSystemNumber
      this.current.gameTableNumber = this.targetData.gameTableNumber
      this.current.gameType = this.targetData.gameType
      this.current.gameTableType = this.targetData.gameTableType
      this.current.gameTableStreamUid = this.targetData.gameTableStreamUid

      this.$refs["gameTableCDNSelect"].setValue(this.targetData.CDNUid)
      this.$refs["appNameInput"].setValue(this.targetData.appName)
      this.$refs["streamNameInput"].setValue(this.targetData.streamName)
    },
    resetToDefault() {
      this.current.gameTableNumber = ""
      this.current.gameType = ""
      this.current.gameTableType = ""
      this.current.CDNUid = ""
      this.current.gameTableStreamUid = ""
      this.current.appName = ""
      this.current.streamName = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setCDNUrl(data) {
      this.current.CDNUid = data
    },
    setAppName(data) {
      this.current.appName = data
    },
    setStreamName(data) {
      this.current.streamName = data
    },
    async validates() {
      const result = await Promise.all([
        this.$refs["appNameInput"].validate(),
        this.$refs["streamNameInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          gameTableStreamUid: this.current.gameTableStreamUid,
          CDNUid: this.current.CDNUid,
          appName: this.current.appName,
          streamName: this.current.streamName
        }

        const res = await editCasinoStreamGameTable(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.stream-manage-game-table-stream-edit
  &__form-item
    width 50%
</style>
