<template lang="pug">
.add-game-table(v-if="isDisplay === true")
  .frame.frame--general.add-game-table__frame
    .frame__title(id="labCreatInAddChar") 新增桌種

    .frame__row
      .frame__label.is-required(id="labCharInAddChar") 桌種名稱* :

      GameTableNameInput(
        domId="iptCharInAddChar"
        @input="setGameTableName"
        :isRequired="true"
        ref="gameTableNameInput"
      )

    .frame__row
      .frame__label(id="labPSInAddChar") 桌種別名* :

      GameTableNicknameInput(
        domId="iptCharInAddChar"
        @input="setGameTableNickname"
        :isRequired="true"
        ref="gameTableNicknameInput"
      )

    .frame__row
      .frame__label(id="labPSInAddChar") 桌種ID* :

      GameTableCodeInput(
        domId="iptCharInAddChar"
        @input="setGameTableCode"
        :isRequired="true"
        ref="gameTableCodeInput"
      )

    .frame__row
      .frame__label(id="labPermissionInAddChar") 權限 :

      .report-table(
        id="tabAccountListInSubAccount"
        v-if="targetData.length > 0"
      )

        .report-table__row.add-game-table__table-row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
            :class="x.QA_CSS"
          ) {{ x.label }}
        
        .report-table__row.add-game-table__table-row.add-game-table__cell(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'checkInput'"
            )
              input(
                type="checkbox"
                :value="value"
                v-model="current.gameTableProperties"
              )
            
            .report-table__cell(
              v-else
            ) {{ value }}

    .frame__row
      .frame__action-bar
        .action-bar__alt-button(
          @click="onClose"
          id="btnCancelInAddChar"
        ) 取消

        .action-bar__button(
          @click="submit"
          id="btnOKInAddChar"
        ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { ValidationProvider } from "vee-validate"
import { mapState } from "vuex"
import GameTableNameInput from "@/components/inputs/UserNickname.vue"
import GameTableNicknameInput from "@/components/inputs/GameTableNickname.vue"
import GameTableCodeInput from "@/components/inputs/GameTableCode.vue"
import { addGameTable } from "@/api/Game.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Array, required: true } },
  components: { LoadingLock, ValidationProvider, GameTableNameInput, GameTableNicknameInput, GameTableCodeInput },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { gameTableName: "", gameTableNickname: "", gameTableCode: "", gameTableProperties: [] },
    isPermissionTableValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    reportTableHeaders() {
      return [
        { label: "勾選", name: "checkInput", QA_CSS: "_check" },
        { label: "屬性", name: "properties", QA_CSS: "_check" },
        { label: "屬性別名", name: "propertiesNickname", QA_CSS: "_check" },
        { label: "屬性ID", name: "propertiesCode", QA_CSS: "_check" }
      ]
    },
    reportTableRows() {
      if (this.targetData.length > 0) {
        return this.targetData.map(x => {
          return {
            checkInput: x.uid,
            properties: x.title,
            propertiesNickname: x.alias,
            propertiesCode: x.code
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    setGameTableName(payload) {
      this.current.gameTableName = payload
    },
    setGameTableNickname(payload) {
      this.current.gameTableNickname = payload
    },
    setGameTableCode(payload) {
      this.current.gameTableCode = payload
    },
    resetToDefault() {
      this.current.gameTableName = ""
      this.current.gameTableNickname = ""
      this.current.gameTableCode = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["gameTableNameInput"].validate(),
        this.$refs["gameTableNicknameInput"].validate(),
        this.$refs["gameTableCodeInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submit() {
      const validResult = await this.validInputs()

      if (validResult === true) {
        try {
          const res = await addGameTable(this.loginToken, this.current)

          if (res.exitCode === true) {
            this.onClose()
            this.$emit("requestSuccess")
          } else {
            throw new Error(this.parseErrorMessage(res))
          }
        } catch (err) {
          this.showErrorMessage(err)
        }
      }
    }
  }
}
</script>

<style lang="stylus">
.add-game-table
  &__frame
    width 800px

  &__table-row
    grid-template-columns 50px repeat(3, 150px)

  &__cell
    background-color #ffffff
</style>
