<template lang="pug">
.stream-manage-record-add(v-if="isDisplay === true")
  .stream-manage__tab-title 新增錄影視訊

  .stream-manage__row
    .stream-manage__label.is-required 錄影視訊API說明* :
    AdvancedInput(
      domId="1"
      :minlength="1"
      :maxlength="100"
      :regex="/.{1,100}/"
      @input="setComment"
      ref="commentInput"
    )

  .stream-manage__row
    .stream-manage__label.is-required 錄影API位址* ：
    AdvancedInput(
      domId="3"
      :minlength="1"
      :maxlength="100"
      :regex="/^[a-zA-Z0-9-.]{1,100}$/"
      @input="setUrl"
      ref="urlInput"
    )

  .action-bar.stream-manage__action-bar
    .action-bar__alt-button(
      @click="onClose"
    ) 取消

    .action-bar__button(
      @click="submitRequest"
    ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { addCasinoStreamRecord } from "@/api/Casino.js"
import { mapState } from "vuex"
import ErrorMessage from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  props: { isDisplay: { type: Boolean, default: false }, casinoLocationUid: { type: String, required: true } },
  components: { AdvancedInput, LoadingLock },
  mixins: [ErrorMessage],
  data: () => ({
    current: {
      comment: "",
      url: ""
    },
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    setComment(data) {
      this.current.comment = data
    },
    setUrl(data) {
      this.current.url = data
    },
    resetToDefault() {
      this.current.comment = ""
      this.current.url = ""
    },
    async validates() {
      const result = await Promise.all([this.$refs["commentInput"].validate(), this.$refs["urlInput"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async submitRequest() {
      const validResult = await this.validates()

      if (validResult !== true) return

      try {
        this.isLoading = true

        const payload = {
          casinoLocationUid: this.casinoLocationUid,
          url: this.current.url,
          comment: this.current.comment
        }

        const res = await addCasinoStreamRecord(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
