<template lang="pug">
  .add-game-type(v-if="isDisplay === true")
    .frame.frame--general.add-game-type__frame
      .frame__title(id="") 新增遊戲

      .add-game-type__panel-basic
        .add-game-type__sub-title 基本設定

        .add-game-type__basic-set-background

          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 遊戲名稱* :

            AdvancedInput(
              domId="1"
              :minlength="1"
              :maxlength="20"
              :regex="/^[0-9a-zA-Z\u4e00-\u9eff]{1,20}$/"
              @input="setGameTypeName"
              ref="gameTableNameInput"
            )

          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 遊戲別名* :

            AdvancedInput(
              domId="2"
              :minlength="1"
              :maxlength="20"
              :regex="/^[A-Z_]{1,20}/"
              @input="setGameTableNickname"
              ref="gameTableNicknameInput"
            )

          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 遊戲ID* :

            AdvancedInput(
              domId="3"
              :minlength="1"
              :maxlength="4"
              :regex="/^[0-9]{4}$/"
              @input="setGameTableId"
              ref="gameTableIdInput"
            )

          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 桌種權限* :
            
            .add-game-type__checkbox(
              v-for="x in gameTablePermissionList"
            )
              input.add-game-type__checkbox-input(
                type="checkbox"
                :value="x.gameTablePermission.uid"
                v-model="basicSetCurrent.gameTablePermission"
              )
              span {{ x.gameTablePermission.title }}

      .add-game-type__panel-basic
        .add-game-type__sub-title 新增玩法

        .add-game-type__basic-set-background

          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 玩法狀態* :

            p 關閉

            
          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 玩法名稱 :

            AdvancedInput(
              domId="4"
              :minlength="1"
              :maxlength="20"
              @input="setPlayTypeName"
              ref="playTypeNameInput"
            )
            
          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 玩法別名* :

            AdvancedInput(
              domId="iptCharInAddChar"
              @input="setPlayTypeNickname"
              :isRequired="true"
              ref="gameTableNameInput"
            )
            AdvancedInput(
              domId="5"
              :minlength="1"
              :maxlength="20"
              :regex="/^[A-Z_]{1,20}/"
              @input="setPlayTypeNickname"
              ref="playTypeNicknameInput"
            )
            
          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 玩法ID :

            AdvancedInput(
              domId="3"
              :minlength="1"
              :maxlength="5"
              :regex="/^[0-9]{1,5}$/"
              @input="setPlayTypeId"
              ref="playTypeIdInput"
            )

          .frame__row.add-game-type__grid-row
            .frame__label.is-required(id="") 玩法限紅 :

            span 注區名稱
              AdvancedInput(
                domId="3"
                :minlength="1"
                :maxlength="20"
                @input="setBetAreaName"
                ref="betAreaNameInput"
              )
            
            span 注區別名
              AdvancedInput(
                domId="5"
                :minlength="1"
                :maxlength="30"
                :regex="/^[A-Z_]{1,30}/"
                @input="setBetAreaNickname"
                ref="betAreaNicknameInput"
              )

            span 注區ID
              AdvancedInput(
                domId="3"
                :minlength="1"
                :maxlength="5"
                :regex="/^[0-9]{5}$/"
                @input="setBetAreaId"
                ref="betAreaIdInput"
              )

            span 注區賠率
              AdvancedInput(
                domId="3"
                :minlength="1"
                :maxlength="10"
                :regex="/	^[0-9]+(.[0-9]{1,3})?$/"
                @input="setBetAreaRate"
                ref="betAreaRateInput"
              )

            span 限紅賠率        
              AdvancedInput(
                domId="3"
                :minlength="1"
                :maxlength="4"
                :regex="/^[1-9]{4}$/"
                @input="setPlayTypeId"
                ref="playTypeIdInput"
              )

            .add-game-type__add-button(
              id="btnAddChar"
              :class="[ playTypeLimitValidInputs === true ? 'add-game-type__add-button' : 'add-game-type__add-disabled-button' ]"
              @click="addGameTypeLimit"
            ) 新增

</template>

<script>
import AdvancedInput from "@/components/inputs/Advanced.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import { mapState, mapGetters } from "vuex"
import { getGameTableList } from "@/api/Game.js"
import { ValidationProvider } from "vee-validate"
export default {
  props: { isDisplay: { type: Boolean, default: false } },
  components: {
    ValidationProvider,
    AdvancedInput
  },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  async mounted() {
    await this.fetchGameTableList()
  },
  data: () => ({
    resultRows: [],
    basicSetCurrent: {
      gameTypeName: "",
      gameTypeNickname: "",
      gameTypeId: "",
      gameTablePermission: []
    },
    playTypeCurrent: {
      playTypeName: "",
      playTypeNickname: "",
      playTypeId: ""
    },
    playTypeLimit: {
      betAreaName: "",
      betAreaNickname: "",
      betAreaId: "",
      rate: "",
      limitRate: ""
    },
    current: {
      gameTypeLimitList: []
    }
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("member", ["loginToken"]),
    gameTablePermissionList() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            gameTablePermission: {
              title: x.title,
              uid: x.uid
            }
          }
        })
      } else {
        return []
      }
    },
    playTypeLimitTableHeaders() {
      return [
        { label: "注區名稱", name: "betAreaName", QA_CSS: "_countryName" },
        { label: "注區別名", name: "betAreaNickname", QA_CSS: "_currencyName" },
        { label: "注區ID", name: "betAreaId", QA_CSS: "_currencyCode" },
        { label: "注區賠率", name: "rate", QA_CSS: "_currencyCode" },
        { label: "限紅賠率", name: "limitRate", QA_CSS: "_arrange" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    }
  },
  methods: {
    setGameTypeName(payload) {
      this.basicSetCurrent.gameTypeName = payload
    },
    setGameTableNickname(payload) {
      this.basicSetCurrent.gameTypeNickname = payload
    },
    setGameTableId(payload) {
      this.basicSetCurrent.gameTypeId = payload
    },
    setPlayTypeName(payload) {
      this.playTypeCurrent.playTypeName = payload
    },
    setPlayTypeNickname(payload) {
      this.playTypeCurrent.playTypeNickname = payload
    },
    setPlayTypeId(payload) {
      this.playTypeCurrent.playTypeId = payload
    },
    setBetAreaName(payload) {
      this.playTypeLimit.betAreaName = payload
    },
    setBetAreaNickname(payload) {
      this.playTypeLimit.betAreaNickname = payload
    },
    setBetAreaId(payload) {
      this.playTypeLimit.betAreaId = payload
    },
    async playTypeLimitValidInputs() {
      const result = await Promise.all([
        this.$refs["gameTableNameInput"].validate(),
        this.$refs["betAreaNicknameInput"].validate(),
        this.$refs["playTypeIdInput"].validate(),
        this.$refs["rateInput"].validate(),
        this.$refs["limitRateInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    addGameTypeLimit() {},
    async fetchGameTableList() {
      try {
        const res = await getGameTableList(this.loginToken)
        if (res.exitCode === true) {
          this.resultRows = res.data.rows
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    }
  }
}
</script>

<style lang="stylus">
.add-game-type
  &__frame
    width 800px

  &__panel-basic
    margin-top 25px
    text-align left

  &__sub-title
    position relative
    display inline-flex
    justify-content flex-start
    align-items center
    box-sizing border-box
    margin-right 1px
    padding-left 10px
    min-width 150px
    height 25px
    border-width 1px
    border-style solid
    border-color rgba(204, 204, 204, 1)
    background-color rgba(204, 204, 204, 1)
    color #FFFFFF
    text-align left
    cursor pointer

  &__sub-title-active
    border-color rgba(102, 102, 102, 1)
    background-color rgba(102, 102, 102, 1)
    cursor default

  &__basic-set-background
    box-sizing border-box
    border-width 1px
    border-style solid
    border-color rgba(102, 102, 102, 1)
    background-color rgba(228, 228, 228, 1)

  &__game-table-permission
    display grid
    justify-content space-around
    margin-bottom 1rem
    min-height 2rem
    word-break break-all
    grid-gap 0.5rem
    grid-template-columns 1fr 1fr 1fr

  &__checkbox
    display flex
    align-items flex-start

  &__checkbox-input
    margin-right 0.5rem

  &__grid-row
    display grid
    margin-left 0.3rem
    grid-template-columns 1.5fr repeat(6, 1fr)

  &__input
    margin-right 0.3rem
    width 5.5rem
    height 1.5rem

  &__add-button
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    margin-left 0.3rem
    padding 0.3rem 0.5rem
    width 3.5rem
    height 2rem
    border 1px solid #797979
    border-radius 0.2rem
    background-color #606060
    color #ffffff
    cursor pointer

  &__add-disabled-button
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    margin-left 0.3rem
    padding 0.3rem 0.5rem
    width 3.5rem
    height 2rem
    border 1px solid #797979
    border-radius 0.2rem
    background-color #999999
    color #cccccc
    cursor not-allowed
</style>
