<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="450px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  center
)
  .modal(:id="domIdList.frame")
    .modal__list.confirm-modal__list
      .modal__text.modal--text-center {{ config.message }}

    .modal__list.confirm-modal__list(v-if="isRequiredPassword === true")
      AdvancedInput(
        :domId="domIdList.password"
        inputType="password"
        :parentClasses="['modal__input']"
        @input="setPassword"
        @submit="submit"
        ref="passwordInput"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        :id="domIdList.cancel"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        :id="domIdList.confirm"
        @click="submit"
      ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import { mapState } from "vuex"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    config: {
      type: Object,
      default() {
        return {
          message: "",
          request: null,
          payload: null,
          isRequiredPassword: false,
          domIdList: { frame: "frame", password: "password", cancel: "cancel", comfirm: "comfirm" }
        }
      }
    }
  },
  components: { LoadingLock, AdvancedInput },
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapState("member", ["loginToken"]),
    isRequiredPassword() {
      return this.config.isRequiredPassword
    },
    isReady() {
      const { request, payload } = this.config

      return typeof request === "function" && typeof payload === "object"
    },
    domIdList() {
      if (this.config.domIdList) {
        return this.config.domIdList
      } else {
        return { frame: "frame", password: "password", cancel: "cancel", comfirm: "comfirm" }
      }
    }
  },
  data: () => ({
    isLoading: false,
    current: { password: undefined }
  }),
  methods: {
    resetToDefault() {
      this.current.password = undefined
    },
    onClose() {
      this.$emit("close", true)
      this.resetToDefault()
    },
    setPassword(value) {
      this.current.password = value
    },
    async validatePassword() {
      const result = await this.$refs["passwordInput"].validate()
      return result.valid
    },
    async submit() {
      if (this.isReady === false) {
        this.onClose()
      } else if (this.isRequiredPassword === true) {
        this.submitRequestWithPassword()
      } else {
        this.submitRequest()
      }
    },
    async submitRequest() {
      try {
        this.isLoading = true

        const { request, payload } = this.config
        const res = await request(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.onClose()
      }
    },
    async submitRequestWithPassword() {
      try {
        this.isLoading = true

        const isValid = await this.validatePassword()
        if (isValid === false) return

        const { request, payload } = this.config
        const newPayload = Object.assign({}, payload, { password: this.current.password })
        const res = await request(this.loginToken, newPayload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
        this.onClose()
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.confirm-modal
  &__list
    margin 2rem
</style>
