<template lang="pug">
.currency-manage(v-if="isDisplay === true")
  .frame.frame--general.currency-manage__frame
    .frame__title 幣別設定

    .currency-manage__input-row
      .currency-manage__input-fields
        .currency-manage__input-group
          .currency-manage__input-label.is-required 國家名稱*

          ValidationProvider(
            :rules="{ required: true, regex: /^[\u4e00-\u9eff]{1,30}$/ }"
            v-slot="{ errors, classes, validate }"
            ref="countryNameInput"
          )
            input.input(
              id="iptCountryNameInCurrencySetting"
              type="text"
              v-model="current.countryName"
              :class="classes"
            )

        .currency-manage__input-group
          .currency-manage__input-label.is-required 貨幣名稱*

          ValidationProvider(
            :rules="{ required: true, regex: /^[\u4e00-\u9eff]{1,10}$/ }"
            v-slot="{ errors, classes, validate }"
            ref="currencyNameInput"
          )
            input.input(
              id="iptCurrencyNameInCurrencySetting"
              type="text"
              v-model="current.currencyName"
              :class="classes"
            )

        .currency-manage__input-group
          .currency-manage__input-label.is-required 貨幣代碼*

          ValidationProvider(
            :rules="{ required: true, regex: /^[a-zA-Z]{1,5}$/ }"
            v-slot="{ errors, classes, validate }"
            ref="currencyCodeInput"
          )
            input.input(
              id="iptCurrencyCodeInCurrencySetting"
              type="text"
              v-model="current.currencyCode"
              :class="classes"
            )

      .currency-manage__add-button(
        id="btnAddInCurrencySetting"
        @click="submit"
      ) 新增

    .currency-manage__frame-row(v-if="reportTableRows.length > 0")
      .report-table(id="tabCurrency")

        .report-table__row.currency-manage__table-row
          template(v-for="x in reportTableHeaders")

            .report-table__header-cell(
              v-if="x.name === 'sortingOrder'"
              :class="x.QA_CSS"
            )
              .currency-manage__sorting-button(
                id="btnSaveCurrencySort"
                v-if="isSortingCurrencyOrder === true"
                @click="saveSortingCurrencyOrder"
              ) 儲存排序

              .currency-manage__sorting-button(
                id="btnEditSortInCurrencySetting"
                v-else
                @click="activeSortingCurrencyOrder"
              ) 編輯排序

            .report-table__header-cell(
              v-else
              :class="x.QA_CSS"
            ) {{ x.label }}



        .report-table__row.currency-manage__table-row(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")

            .report-table__cell(
              v-if="key === 'operates'"
              :class="getCSSForQA(key, reportTableHeaders)"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    :class="{'action-bar--disabled': isTheLastCurrencyRecord }"
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else-if="key === 'sortingOrder'"
              :class="getCSSForQA(key, reportTableHeaders)"
            )
              template(v-if="isSortingCurrencyOrder === true")
                .sorting-icon__up._up(
                  :class="{ 'sorting-icon--disabled': (index === 0) }"
                  @click="sortingOrder('UP', index)"
                )

                .sorting-icon__down.__down(
                  :class="{ 'sorting-icon--disabled': (index === resultRows.length - 1 ) }"
                  @click="sortingOrder('DOWN', index)"
                )

              template(v-if="isSortingCurrencyOrder === false")
                .sorting-icon__up.sorting-icon--disabled._up

                .sorting-icon__down.sorting-icon--disabled.__down

            .report-table__cell(
              v-else
              :class="getCSSForQA(key, reportTableHeaders)"
            ) {{ value }}

    .frame__row
      .frame__action-bar
        .action-bar__button(
          @click="onClose"
          id="btnBackTopAgent"
        ) 返回最高代理

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import { mapState } from "vuex"
import { ValidationProvider } from "vee-validate"
import { getCurrencyList, addCurrency, sortCurrencyOrder, deleteCurrency } from "@/api/Currency.js"

export default {
  props: { isDisplay: { type: Boolean, default: false } },
  components: { LoadingLock, ValidationProvider },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  data: () => ({
    current: {
      countryName: "",
      currencyName: "",
      currencyCode: "",
      currencyId: "",
      currencyIdList: []
    },
    resultRows: [],
    isLoading: false,
    isSortingCurrencyOrder: false
  }),
  watch: {
    async isDisplay(value) {
      if (value === true) {
        await this.fetchCurrencyList()
      }
    },
    resultRows(value) {
      if (value.length > 0) {
        this.current.currencyIdList = value.map(x => x.currencyId)
      } else {
        this.current.currencyIdList = []
      }
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    reportTableHeaders() {
      return [
        { label: "國家名稱", name: "countryName", QA_CSS: "_countryName" },
        { label: "貨幣名稱", name: "currencyName", QA_CSS: "_currencyName" },
        { label: "貨幣代碼", name: "currencyCode", QA_CSS: "_currencyCode" },
        { label: "排序", name: "sortingOrder", QA_CSS: "_arrange" },
        { label: "操作", name: "operates", QA_CSS: "_operate" }
      ]
    },
    isTheLastCurrencyRecord() {
      return this.resultRows.length === 1
    },
    tableActionItems() {
      return [{ name: "DELETE_ACCOUNT", label: "刪除" }]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            countryName: x.country,
            currencyName: x.name,
            currencyCode: x.code,
            sortingOrder: "",
            operates: this.tableActionItems
          }

          return result
        })
      } else {
        return []
      }
    }
  },
  methods: {
    sortingOrder(sortingMode, index) {
      switch (sortingMode) {
        case "UP":
          this.sortingUp(index)
          break
        case "DOWN":
          this.sortingDown(index)
          break
      }
    },
    sortingUp(index) {
      const maxIndex = this.resultRows.length - 1
      if (maxIndex > 0 && parseInt(index) > 0) {
        const current = this.resultRows[index]
        const target = this.resultRows[index - 1]

        const sortedRows = this.resultRows.map((x, rowIndex) => {
          if (rowIndex === index - 1) {
            return current
          } else if (rowIndex === index) {
            return target
          } else {
            return x
          }
        })

        this.resultRows = sortedRows
      }
    },
    sortingDown(index) {
      const maxIndex = this.resultRows.length - 1
      if (maxIndex > 0 && index < maxIndex) {
        const current = this.resultRows[index]
        const target = this.resultRows[index + 1]

        const sortedRows = this.resultRows.map((x, rowIndex) => {
          if (rowIndex === index + 1) {
            return current
          } else if (rowIndex === index) {
            return target
          } else {
            return x
          }
        })

        this.resultRows = sortedRows
      }
    },
    async fetchCurrencyList() {
      this.isLoading = true

      try {
        const res = await getCurrencyList(this.loginToken)

        if (res.exitCode === true) {
          this.resultRows = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    activeSortingCurrencyOrder() {
      this.isSortingCurrencyOrder = true
    },
    async saveSortingCurrencyOrder() {
      try {
        const payload = { currencyIdList: this.current.currencyIdList }
        const res = await sortCurrencyOrder(this.loginToken, payload)

        if (res.exitCode !== true) {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isSortingCurrencyOrder = false
        await this.fetchCurrencyList()
      }
    },
    actionHandler(key, index) {
      switch (key) {
        case "DELETE_ACCOUNT":
          this.deleteAccount(index)
          break
      }
    },
    async deleteAccount(index) {
      if (this.isTheLastCurrencyRecord === true) return

      try {
        this.current.currencyId = this.resultRows[index].currencyId
        const payload = { currencyId: this.current.currencyId }
        const res = await deleteCurrency(this.loginToken, payload)

        if (res.exitCode !== true) {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        await this.fetchCurrencyList()
      }
    },
    resetToDefault() {
      this.current.countryName = ""
      this.current.currencyName = ""
      this.current.currencyCode = ""
      this.current.currencyId = ""
      this.isSortingCurrencyOrder = false
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    async validateInputs() {
      const result = await Promise.all([
        this.$refs["countryNameInput"].validate(),
        this.$refs["currencyNameInput"].validate(),
        this.$refs["currencyCodeInput"].validate()
      ])

      const isAllValid = result.every(x => x.valid === true)

      return isAllValid
    },
    async resetValidates() {
      await Promise.all([
        this.$refs["countryNameInput"].reset(),
        this.$refs["currencyNameInput"].reset(),
        this.$refs["currencyCodeInput"].reset()
      ])
    },
    async submit() {
      const validResult = await this.validateInputs()

      if (validResult === true) {
        try {
          const res = await addCurrency(this.loginToken, this.current)
          if (res.exitCode !== true) {
            throw new Error(this.parseErrorMessage(res))
          }
        } catch (err) {
          this.showErrorMessage(err)
        } finally {
          this.resetToDefault()
          this.resetValidates()
          this.fetchCurrencyList()
        }
      }
    }
  }
}
</script>

<style lang="stylus">
@import "../../styles/stylus/mixin/button.styl"

.currency-manage
  &__table-row
    grid-template-columns repeat(4, 150px) 90px

  &__frame
    width 725px

  &__frame-row
    margin-top 1rem

  &__input-row
    display flex
    align-items flex-end
    margin-top 1rem

  &__input-fields
    display flex

  &__input-group
    display flex
    flex-direction column
    flex-wrap wrap
    margin-right 1rem

  &__input-label
    margin-right 0.5rem
    margin-bottom 0.5rem

  &__add-button
    secondaryButton()

  &__sorting-button
    secondaryButton()
</style>
