<template lang="pug">
.dice-list-modal
  el-dialog(
    :visible="isDisplay"
    width="450px"
    custom-class="general-modal"
    :close-on-click-modal="true"
    :show-close="false"
    :before-close="onClose"
    :destroy-on-close="true"
    center
  )
    .dice-list-modal__content(id="divDeleteChar")
      .dice-face.dice-list-modal__dice-block(
        v-for="(dice, index) in diceList"
        :class="[dice.class , getStatusCss(index)]"
        @click="setSelected(index)"
        :key="index"
      )
        .dice-face__point(v-for="n in dice.value")
</template>

<script>
export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    selectedTarget: { type: [String, Number], default: "" }
  },
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.current.selected = this.selectedTarget
        })
      }
    }
  },
  data: () => ({
    current: { selected: "" },
    isLoading: false
  }),
  computed: {
    diceList() {
      const arr = [...Array(6).keys()].map(x => x + 1)

      const result = arr.map(x => {
        return { class: `dice-face--${x}`, value: x }
      })
      return result
    }
  },
  methods: {
    setSelected(index) {
      const isAlreadySelected = this.current.selected === index + 1
      if (isAlreadySelected === false) {
        this.current.selected = index + 1
        this.$emit("selected", this.current.selected)
        this.onClose()
      }
    },
    getStatusCss(index) {
      const isSelected = this.current.selected === index + 1
      return { "is-clickable": !isSelected, "dice-list-modal--is-selected": isSelected }
    },
    resetToDefault() {
      this.current.selected = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    }
  }
}
</script>

<style lang="stylus">
.dice-list-modal
  &__content
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-template-rows repeat(2, 1fr)

  &__dice-block
    margin 1rem auto

  &--is-selected
    filter invert(1)
    cursor not-allowed
</style>
