<template lang="pug">
.fantan-list-modal
  el-dialog(
    :visible="isDisplay"
    width="650px"
    custom-class="general-modal"
    :close-on-click-modal="true"
    :show-close="false"
    :before-close="onClose"
    :destroy-on-close="true"
    center
  )
    .fantan-list-modal__content(id="divDeleteChar")
      .fantan-list-modal__fantan-block(
        v-for="(x, index) in fantanList"
        :class="[getStatusCss(index)]"
        @click="setSelected(index)"
        :key="index"
      )
        span {{ x }}
        .fantan-list-modal__point-icon-row
          template(v-for="n in x")
            .fantan-list-modal__point-icon
</template>

<script>
export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    selectTarget: { type: [String, Number], default: "" }
  },
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.current.selected = this.selectTarget
        })
      }
    }
  },
  data: () => ({
    current: { selected: "" }
  }),
  computed: {
    fantanList() {
      const result = [...Array(4).keys()].map(x => x + 1)
      return result
    }
  },
  methods: {
    setSelected(index) {
      const isAlreadySelected = this.current.selected === index + 1
      if (isAlreadySelected === false) {
        this.current.selected = index + 1
        this.$emit("selected", this.current.selected)
        this.onClose()
      }
    },
    getStatusCss(index) {
      const isSelected = this.current.selected === index + 1
      return { "is-clickable": !isSelected, "fantan-list-modal--is-selected": isSelected }
    },
    resetToDefault() {
      this.current.selected = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    }
  }
}
</script>

<style lang="stylus">
.fantan-list-modal
  &__content
    display grid
    grid-template-columns repeat(4, 1fr)
    grid-template-rows 1fr
    grid-gap 16px

  &__fantan-block
    box-sizing border-box
    padding 8px
    width 100%
    border 1px solid #000
    background #f2f2f2
    color #000
    text-align center
    font-weight bold
    font-size 2.5rem

  &__point-icon-row
    display flex
    justify-content space-evenly
    margin-top 1rem
    width 100%

  &__point-icon
    width 1rem
    height 1rem
    border 1px solid #333
    border-radius 50%
    background-color #fff

  &--is-selected
    filter brightness(40%)
    cursor not-allowed
</style>
