<template lang="pug">
.header__title-notice
  | {{ `${i18n.label.TIME_RANGE_SEARCH_WARING_1} ${maxRange} ${i18n.label.TIME_RANGE_SEARCH_WARING_2}` }}
  | {{ `，${i18n.label.TIME_RANGE_SEARCH_WARING_3} ${dateRange} ${i18n.label.TIME_RANGE_SEARCH_WARING_4}` }}
</template>

<script>
import { mapState } from "vuex"

export default {
  props: {
    maxRange: { type: Number, required: true },
    dateRange: { type: Number, required: true }
  },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main })
  }
}
</script>