<template lang="pug">
.permission-role-list(:id="domId")
  .permission-role-list__checkbox(
    v-for="x in permissionRoleList"
  )
    input.permission-role-list__input(
      type="checkbox"
      :value="x.permission.uid"
      v-model="current.permissionRoles"
      @change="onChange"
    )

    span {{ x.permission.name }}
</template>

<script>
import { getPermissionRoleList } from "@/api/Permission.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"

export default {
  props: {
    domId: {
      type: String,
      required: true
    }
  },
  async mounted() {
    await this.fetchPermissionRoleList()
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissionRoles: [] },
    resultRows: []
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    permissionRoleList() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            permission: {
              name: x.name,
              uid: x.uid
            }
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    onChange() {
      this.$emit("change", this.current.permissionRoles)
    },
    setPermissionRoles(permissionRoles) {
      this.current.permissionRoles = permissionRoles
    },
    async fetchPermissionRoleList() {
      try {
        this.resultRows = []

        const res = await getPermissionRoleList(this.loginToken)

        if (res.exitCode === true) {
          this.resultRows = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    }
  }
}
</script>
<style lang="stylus">
.permission-role-list
  display grid
  justify-content space-around
  min-height 2rem
  word-break break-all
  grid-gap 0.5rem
  grid-template-columns 1fr 1fr 1fr

  &__checkbox
    display flex
    align-items flex-start

  &__input
    margin-right 0.5rem
</style>
