<template lang="pug">
.poker-card-list-modal
  el-dialog(
    :visible="isDisplay"
    width="450px"
    custom-class="general-modal"
    :close-on-click-modal="true"
    :show-close="false"
    :before-close="onClose"
    :destroy-on-close="true"
    center
  )
    .poker-card-list-modal__content(id="divDeleteChar")

      .poker-card(
        v-for="(card,index) in pokerCardList"
        :class="getStatusCss(index)"
        @click="setSelected(index)"
        :key="index"
      )
        .poker-card__value(:class="`poker-card__value--${card.suitClass}`") {{ card.value }}
        .poker-card__board(:class="`poker-card__board--${card.suitClass}`")

    LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { getFullCardList, mappingCardItems } from "@/libs/poker.js"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    isEnableBlankCard: { type: Boolean, default: false },
    selectedCardCode: { type: String, default: "" }
  },
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.current.selected = this.selectedCardCode
        })
      }
    }
  },
  data: () => ({
    current: { selected: "" },
    isLoading: false
  }),
  computed: {
    pokerCardList() {
      const target = getFullCardList()
      if (this.isEnableBlankCard === true) {
        // Add blank card
        target.push("")
      }

      const result = target.flat().map(mappingCardItems)
      return result
    }
  },
  methods: {
    setSelected(index) {
      const isAlreadySelected = this.pokerCardList[index].originData === this.current.selected
      if (isAlreadySelected === false) {
        const result = this.pokerCardList[index].originData
        this.current.selected = result
        this.$emit("selected", result)
        this.onClose()
      }
    },
    getStatusCss(index) {
      const isSelected = this.pokerCardList[index].originData === this.current.selected
      return { "is-clickable": !isSelected, "poker-card-list-modal--is-selected": isSelected }
    },
    resetToDefault() {
      this.current.selected = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    }
  }
}
</script>

<style lang="stylus">
.poker-card-list-modal
  &__content
    display grid
    grid-template-columns repeat(13, 1fr)

  &--is-selected
    filter invert(1)
    cursor not-allowed
</style>
