<template lang="pug">
.roulette-list-modal
  el-dialog(
    :visible="isDisplay"
    width="750px"
    custom-class="general-modal"
    :close-on-click-modal="true"
    :show-close="false"
    :before-close="onClose"
    :destroy-on-close="true"
    center
  )
    .roulette-list-modal__content(id="divDeleteChar")
      .roulette-list-modal__roulette-block(
        v-for="(x, index) in rouletteList"
        :class="[getStatusCss(x.value)]"
        @click="setSelected(x.value)"
        :key="index"
      )
        .roulette-list-modal__section-icon(
          :class="`roulette-list-modal--${x.color}`"
        )
          span {{ x.value }}

</template>

<script>
import Roulette from "@/libs/roulette.js"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    selectTarget: { type: [String, Number], default: "" }
  },
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(() => {
          this.current.selected = this.selectTarget
        })
      }
    }
  },
  data: () => ({
    current: { selected: "" }
  }),
  computed: {
    rouletteList() {
      return Roulette.getFullRouletteList()
    }
  },
  methods: {
    setSelected(value) {
      const isAlreadySelected = this.current.selected === value
      if (isAlreadySelected === false) {
        this.current.selected = value
        this.$emit("selected", this.current.selected)
        this.onClose()
      }
    },
    getStatusCss(value) {
      const isSelected = this.current.selected === value
      return { "is-clickable": !isSelected, "fantan-list-modal--is-selected": isSelected }
    },
    resetToDefault() {
      this.current.selected = ""
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    }
  }
}
</script>

<style lang="stylus">
.roulette-list-modal
  &__content
    display grid
    grid-template-columns repeat(10, 1fr)
    grid-template-rows 3fr

  &__roulette-block
    box-sizing border-box
    padding 8px
    width 100%
    background #f2f2f2
    color #000
    text-align center
    font-weight bold
    font-size 2.5rem

  &--is-selected
    filter brightness(40%)
    cursor not-allowed

  &__section-icon
    display inline-flex
    justify-content center
    align-items center
    width 3rem
    height 3rem
    border 1px solid transparent
    border-radius 50%
    color #fff
    font-weight bold
    font-size 1.3rem

  &--red
    background-color red

  &--black
    background-color black

  &--green
    background-color green
</style>
