<template lang="pug">
.single-select-list
  .single-select-list__group(v-for="x in list")
    input.single-select-list__checkbox(
      :id="x.uid"
      type="radio"
      :value="x.uid"
      :checked="selected === x.uid"
      :disabled="x.isAlreadyAssigned"

      @click="toggleSelected($event.target.value)"
    )
    label.single-select-list__label(
      :for="x.uid"
      :class="{'single-select-list__is-disabled':x.isAlreadyAssigned}"
    ) {{ x.label }}
</template>

<script>
export default {
  props: {
    list: { type: Array, required: true }
  },
  data: () => ({
    selected: ""
  }),
  methods: {
    toggleSelected(value) {
      if (this.selected === value) {
        this.selected = ""
      } else {
        this.selected = value
      }

      this.$emit("selected", this.selected)
    },
    setValue(value) {
      this.selected = value
    }
  }
}
</script>

<style lang="stylus">
.single-select-list
  display flex

  &__group
    display flex
    align-items center

  &__checkbox
    display block

  &__label
    margin 0 1rem 0 0.5rem

  &__is-disabled
    cursor not-allowed
</style>
