<template>
  <div>
    <div class="_viewPanel" id="divVideoPlaybackInVideoManage">
      <div class="row">
        <div class="fTitle">播放錄影位址 ：</div>
        <input type="text" id="iptPlaybackAddressInVideoManage" v-model="postd.address" />
      </div>
      <div class="row">
        <div class="fTitle">播放錄影應用名稱 ：</div>
        <input type="text" id="iptPlaybackApplyNameInVideoManage" v-model="postd.appName" />
      </div>
      <div class="row">
        <div class="fTitle">播放錄影檔案格式 ：</div>
        <input type="text" id="iptPlaybackFileFormatInVideoManage" v-model="postd.format" />
      </div>

      <el-button
        type="primary"
        size="mini"
        id="btnSaveVideoPlaybackInVideoManage"
        @click="update()"
      >儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import VideoManager from "@/services/VideoManager"
export default {
  props: ["casinoLocationId"],
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      postd: {
        appName: "",
        format: "",
        address: ""
      }
    }
  },
  methods: {
    clearData() {
      var _this = this
      _.forEach(this.$data.postd, function(v, k) {
        _this.$data.postd[k] = ""
      })
    },
    getVideoPlay() {
      var _this = this

      if (this.casinoLocationId == "") return

      VideoManager.getVideoPlay(this.loginToken, this.casinoLocationId)
        .then(function(res) {
          _this.$data.postd = _.cloneDeep(res.executeInfo)
        })
        .catch(function(err) {})
    },
    update() {
      var _this = this

      if (this.casinoLocationId == "") return

      var d = {
        casinoLocationUid: this.casinoLocationId,
        address: this.$data.postd.address,
        appName: this.$data.postd.appName,
        format: this.$data.postd.format
      }

      VideoManager.updateVideoPlay(this.loginToken, d)
        .then(function(res) {
          _this.clearData()
          _this.getVideoPlay()
        })
        .catch(function(err) {})
    }
  },
  computed: {},
  watch: {
    casinoLocationId(val) {
      this.clearData()
      this.getVideoPlay()
    }
  },
  created() {
    var _this = this
    this.clearData()
    this.getVideoPlay()
  }
}
</script>

<style lang="less" scoped>
@import "../../../../styles/less/videoManager.less";

.row input[type="text"] {
  width: 550px;
  display: inline-flex;
}

.fTitle {
  display: inline-flex;
  width: 130px;
  justify-content: flex-end;
}
</style>

