<template>
  <div>
    <div class="_viewPanel" id="divResolutionManageInVideoManage" v-if="mode.view">
      <div class="subTabs">
        <el-button
          type="success"
          size="small"
          id="btnAddResolutionInVideoManage"
          @click="TodoAdd()"
          class="btnAdd"
        >新增</el-button>
        <div
          :class="{tabItem:true,active:item.uid ==videoReceiverUid}"
          v-for="item in C_videoReceiver"
          :id="item.domId"
          @click="videoReceiverUid = item.uid"
        >{{item.title}}</div>
      </div>

      <div class="List" id="tabResolutionManageInVideoManage">
        <div class="_cf">
          <div class="_col _remark">解析度說明</div>
          <div class="_col _orderNum">解析度優先順序</div>
          <div class="_col _resolution">解析度</div>
          <div class="_col _isDefault">是否為預設</div>
          <div class="_col _isEnable">是否啟用</div>
          <div class="_col _op">動作</div>
        </div>

        <div class="_cd" v-for="(item,index) in dlist">
          <div class="_col _remark">{{item.remark}}</div>
          <div class="_col _orderNum">{{item.sorting}}</div>
          <div class="_col _resolution">{{item.resolution}}</div>
          <div class="_col _isDefault">{{item.defaultOption | showText}}</div>
          <div class="_col _isEnable">{{!item.locked | showText}}</div>
          <div class="_col _op">
            <el-button type="primary" size="mini" @click="TodoEdit(item.uid)">編輯</el-button>
            <el-button
              type="success"
              size="mini"
              @click="ToDefault(item.uid)"
              :disabled="item.defaultOption == 1"
            >設定預設</el-button>
            <el-button
              type="warning"
              size="mini"
              @click="TodoSwitch(item.uid,true)"
              v-if="item.locked == 0"
            >停用</el-button>
            <el-button size="mini" @click="TodoSwitch(item.uid,false)" v-if="item.locked == 1">啟用</el-button>
            <el-button type="danger" size="mini" @click="TodoDel(item.uid)">刪除</el-button>
          </div>
        </div>
      </div>
    </div>

    <div class="_addPanel" v-if="mode.add">
      <div class="row">
        解析度說明 :
        <input type="text" v-model="postd.remark" />
      </div>
      <div class="row">
        解析度優先順序 :
        <input type="text" v-model="postd.sorting" />
      </div>
      <div class="row">
        解析度：
        <input type="text" v-model="postd.resolution" />
      </div>
      <el-button type="danger" size="mini" @click="switchPanel('view')">取消</el-button>
      <el-button type="primary" size="mini" @click="add()">儲存變更</el-button>
    </div>

    <div class="_editPanel" v-if="mode.edit">
      <div class="row">
        解析度說明 :
        <input type="text" v-model="postd.remark" />
      </div>
      <div class="row">
        解析度優先順序 :
        <input type="text" v-model="postd.sorting" />
      </div>
      <div class="row">
        解析度：
        <input type="text" v-model="postd.resolution" />
      </div>

      <el-button type="danger" size="mini" @click="switchPanel('view')">取消</el-button>
      <el-button type="primary" size="mini" @click="update(postd.uid)">儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import VideoManager from "@/services/VideoManager"

export default {
  props: ["casinoLocationId"],
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      dlist: [],
      mode: {
        view: true,
        add: false,
        edit: false
      },
      videoReceiverUid: "",
      postd: {
        uid: "",
        remark: "",
        sorting: "",
        resolution: ""
      }
    }
  },
  methods: {
    TodoAdd() {
      this.switchPanel("add")
      this.clearData()
    },
    clearData() {
      var _this = this
      _.forEach(this.$data.postd, function(v, k) {
        _this.$data.postd[k] = ""
      })
    },
    TodoEdit(uid) {
      this.switchPanel("edit")
      this.clearData()
      var _this = this
      _.forEach(this.$data.dlist, function(v, k) {
        if (v.uid == uid) {
          _this.postd = _.cloneDeep(v)
          return
        }
      })
    },
    add() {
      var _this = this
      var postd = this.$data.postd

      var d = {
        casinoLocationUid: this.casinoLocationId,
        resolution: postd.resolution,
        sorting: postd.sorting,
        remark: postd.remark,
        videoReceiverUid: this.$data.videoReceiverUid
      }

      VideoManager.addResolution(this.$data.loginToken, d)
        .then(function(res) {
          _this.getResolutionList()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    update(uid) {
      var _this = this
      var postd = this.$data.postd

      var d = {
        resolution: postd.resolution,
        sorting: postd.sorting,
        remark: postd.remark,
        uid: uid
      }

      VideoManager.updateResolution(this.$data.loginToken, d)
        .then(function(res) {
          _this.getResolutionList()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    switchPanel(ta) {
      var _this = this
      _.forEach(this.$data.mode, function(v, k) {
        _this.$data.mode[k] = false
      })

      this.$data.mode[ta] = true
    },
    getResolutionList() {
      var _this = this

      switch (true) {
        case this.casinoLocationId == "":
        case this.$data.videoReceiverUid == "":
          return false
          break

        default:
          var casinoLocationUid = [this.casinoLocationId]
          var videoReceiverUid = [this.$data.videoReceiverUid]
          break
      }

      VideoManager.getResolutionList(this.$data.loginToken, casinoLocationUid, videoReceiverUid)
        .then(function(res) {
          _this.$data.dlist = res.executeInfo.rows
        })
        .catch(function(err) {})
    },
    ToDefault(uid) {
      var _this = this
      VideoManager.DefaultResolution(this.$data.loginToken, uid)
        .then(function(res) {
          _this.getResolutionList()
        })
        .catch(function(err) {})
    },
    TodoSwitch(uid, doLock) {
      var _this = this

      if (doLock) {
        VideoManager.DisableResolution(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getResolutionList()
          })
          .catch(function(err) {})
      } else {
        VideoManager.EnableResolution(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getResolutionList()
          })
          .catch(function(err) {})
      }
    },
    TodoDel(uid) {
      var _this = this

      VideoManager.delResolution(this.$data.loginToken, [uid])
        .then(function(res) {
          _this.getResolutionList()
        })
        .catch(function(err) {})
    }
  },
  computed: {
    C_videoReceiver() {
      var re = this.$store.getters["game/Get_videoReceiver"]
      return re
    }
  },
  watch: {
    videoReceiverUid(val) {
      this.getResolutionList()
    },
    casinoLocationId(val) {
      this.getResolutionList()
    }
  },
  created() {
    var _this = this
    GameManager.getBasicItems(this.loginToken, ["videoReceiver"])
      .then(function(res) {
        _this.$data.videoReceiverUid = res.videoReceiver[0].uid
        let videoReceiver = res.videoReceiver
        for (let i = 0; i < videoReceiver.length; i++) {
          if (videoReceiver[i].title === "Mobile") {
            videoReceiver[i].domId = "btnMobileInVideoManage"
          } else if (videoReceiver[i].title === "Web") {
            videoReceiver[i].domId = "btnWebInVideoManage"
          } else if (videoReceiver[i].title === "錄影") {
            videoReceiver[i].domId = "btnRecordingInVideoManage"
          }
        }
        console.log(videoReceiver)
        _this.$store.dispatch("game/Set_videoReceiver", videoReceiver)
        //_this.getResolutionList();
      })
      .catch(function(err) {})
  },
  filters: {
    showText(val) {
      var re = val == 1 ? "是" : "否"
      return re
    }
  }
}
</script>

<style lang="less" scoped>
@import "../../../../styles/less/videoManager.less";

._col {
  &._orderNum {
    min-width: 100px;
  }
  &._resolution {
    min-width: 250px;
  }
}

.btnAdd {
  position: absolute;
  right: 0px;
}

.subTabs {
  width: @w;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .tabItem {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: 1px solid #cccccc;
    border-right: 0px;
    height: 30px;
    justify-content: center;
    cursor: pointer;

    &:last-of-type {
      border-right: 1px solid #cccccc;
      border-radius: 0px 6px 6px 0px;
    }

    &:first-of-type {
      border-radius: 6px 0px 0px 6px;
    }

    &.active {
      background-color: rgba(48, 113, 169, 1);
      color: #ffffff;
    }
  }
}
</style>

