<template>
  <div>
    <div class="_viewPanel" id="divCDNManageInVideoManage" v-if="mode.view">
      <div class="opbar">
        <el-button type="success" size="mini" id="btnAddCDNInVideoManage" @click="TodoAdd()">新增</el-button>
      </div>
      <div class="List" id="tabCDNManageInVideoManage">
        <div class="_cf">
          <div class="_col _remark">CDN管理</div>
          <div class="_col _id">頻道管理</div>
          <div class="_col _address">CDN位址</div>
          <div class="_col _isDefault">是否為預設</div>
          <div class="_col _isEnable">是否啟用</div>
          <div class="_col _op">動作</div>
        </div>

        <div class="_cd" v-for="(item,index) in dlist">
          <div class="_col _remark">{{item.remark}}</div>
          <div class="_col _id">{{item.channelId}}</div>
          <div class="_col _address">{{item.address}}</div>
          <div class="_col _isDefault">{{item.defaultOption | showText}}</div>
          <div class="_col _isEnable">{{!item.locked | showText}}</div>
          <div class="_col _op">
            <el-button type="primary" size="mini" @click="TodoEdit(item.uid)">編輯</el-button>
            <el-button
              type="success"
              size="mini"
              @click="DefaultCdn(item.uid)"
              :disabled="item.defaultOption == 1"
            >設定預設</el-button>

            <el-button
              type="warning"
              size="mini"
              @click="TodoSwitch(item.uid,true)"
              v-if="item.locked == 0"
            >停用</el-button>
            <el-button size="mini" @click="TodoSwitch(item.uid,false)" v-if="item.locked == 1">啟用</el-button>
            <el-button type="danger" size="mini" @click="TodoDel(item.uid)">刪除</el-button>
          </div>
        </div>
      </div>
    </div>
    <div class="_addPanel" v-if="mode.add">
      <div class="row">
        頻道編號 :
        <input type="text" id="iptChannelNoInCreateInVideoManage" v-model="postd.channelId" />
      </div>
      <div class="row">
        CDN說明 :
        <input type="text" id="iptCDNDirectionsInCreateInVideoManage" v-model="postd.remark" />
      </div>
      <div class="row">
        CDN位址：
        <input type="text" id="iptCDNAddressInCreateInVideoManage" v-model="postd.address" />
      </div>
      <el-button
        type="danger"
        size="mini"
        id="btnCancelCDNCreateInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSaveCDNCreateInVideoManage"
        @click="addCdn()"
      >儲存變更</el-button>
    </div>
    <div class="_editPanel" v-if="mode.edit">
      <div class="row">
        頻道編號 :
        <div id="labChannelNoInVideoManage">{{postd.channelId}}</div>
      </div>
      <div class="row">
        CDN說明 :
        <input type="text" id="iptCDNDirectionsInEditInVideoManage" v-model="postd.remark" />
      </div>
      <div class="row">
        CDN位址：
        <input type="text" id="iptCDNAddressInEditInVideoManage" v-model="postd.address" />
      </div>

      <el-button
        type="danger"
        size="mini"
        id="btnCancelCDNEditInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSaveCDNEditInVideoManage"
        @click="updateCdn()"
      >儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import VideoManager from "@/services/VideoManager"

export default {
  props: ["casinoLocationId"],
  data() {
    return {
      _casinoLocationId: this.casinoLocationId,
      loginToken: this.$store.getters["member/loginToken"],
      dlist: [],
      mode: {
        view: true,
        add: false,
        edit: false
      },
      postd: {
        channelId: "",
        remark: "",
        address: "",
        defaultOption: "",
        locked: "",
        uid: ""
      }
    }
  },
  methods: {
    TodoAdd() {
      this.switchPanel("add")
      this.clearData()
    },
    TodoEdit(uid) {
      this.switchPanel("edit")
      this.clearData()
      var _this = this
      _.forEach(this.$data.dlist, function(v, k) {
        if (v.uid == uid) {
          _this.postd = _.cloneDeep(v)
          return
        }
      })
    },
    clearData() {
      var _this = this
      _.forEach(this.$data.postd, function(v, k) {
        _this.$data.postd[k] = ""
      })
    },
    addCdn() {
      var _this = this
      var postd = this.$data.postd

      var d = {
        casinoLocationUid: this.$data._casinoLocationId,
        channelId: postd.channelId,
        address: postd.address,
        remark: postd.remark
      }

      VideoManager.addCdn(this.$data.loginToken, d)
        .then(function(res) {
          _this.getCdnList()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    updateCdn() {
      var _this = this
      var postd = this.$data.postd

      var d = {
        uid: postd.uid,
        address: postd.address,
        remark: postd.remark
      }

      VideoManager.updateCdn(this.$data.loginToken, d)
        .then(function(res) {
          _this.getCdnList()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    switchPanel(ta) {
      var _this = this
      _.forEach(this.$data.mode, function(v, k) {
        _this.$data.mode[k] = false
      })

      this.$data.mode[ta] = true
    },
    getCdnList() {
      var _this = this
      if (this.$data._casinoLocationId == "") return
      var casinoLocationUid = this.$data._casinoLocationId == "" ? [] : [this.$data._casinoLocationId]
      VideoManager.getCdnList(this.$data.loginToken, casinoLocationUid)
        .then(function(res) {
          if (res.executeInfo) {
            _this.$data.dlist = res.executeInfo.rows
          }
          
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    DefaultCdn(uid) {
      var _this = this

      VideoManager.DefaultCdn(this.$data.loginToken, uid)
        .then(function(res) {
          _this.getCdnList()
        })
        .catch(function(err) {})
    },
    TodoSwitch(uid, doLock) {
      var _this = this

      if (doLock) {
        VideoManager.DisableCdn(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getCdnList()
          })
          .catch(function(err) {})
      } else {
        VideoManager.EnableCdn(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getCdnList()
          })
          .catch(function(err) {})
      }
    },
    preCheck(toDo, uid) {
      switch (toDo) {
        case "del":
          this.TodoDel(uid)
          break

        case "lock":
          this.TodoDel(uid)
          break
      }
    },
    TodoDel(uid) {
      var _this = this

      VideoManager.delCdn(this.$data.loginToken, [uid])
        .then(function(res) {
          _this.getCdnList()
        })
        .catch(function(err) {})
    }
  },
  computed: {},
  watch: {
    casinoLocationId(val) {
      this.$data._casinoLocationId = val
      this.getCdnList()
    }
  },
  filters: {
    showText(val) {
      var re = val == 1 ? "是" : "否"
      return re
    }
  },
  created() {
    this.getCdnList()
  }
}
</script>

<style lang="less" scoped>
@w : 1200px;
._cf {
  display: flex;
  width: @w;
}

._cd {
  display: flex;
  width: @w;
}

._col {
  border: 1px solid #cccccc;
  border-right: 0px;
  display: inline-flex;
  align-items: center;

  &:last-child {
    border-right: 1px solid #cccccc;
  }

  &._remark {
    min-width: 267px;
  }
  &._id {
    min-width: 100px;
  }
  &._address {
    min-width: 250px;
  }
  &._isDefault {
    min-width: 100px;
  }
  &._isEnable {
    min-width: 100px;
  }
  &._op {
    min-width: 317px;
  }
}

.opbar {
  width: @w;
  text-align: right;
  margin-bottom: 15px;
}

.row {
  margin: 20px 0px;

  input[type="text"] {
    width: 600px;
  }
}
</style>

