<template>
  <div>
    <div class="_viewPanel">
      <div class="row">
        <div class="fTitle">賭桌延遲時間 ：</div>
        <input type="text" id="iptTableDelayTimeInVideoManage" v-model="postd.delayTime" /> 毫秒
      </div>

      <el-button
        type="primary"
        size="mini"
        id="btnSetTableDelayTimeInVideoManage"
        @click="updateTableVideoDelay()"
      >儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import VideoManager from "@/services/VideoManager"

export default {
  props: ["casinoLocationId"],
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      postd: {
        delayTime: 0
      },
      _postd: {
        delayTime: 0
      }
    }
  },
  methods: {
    clearData() {
      this.$data.postd = _.cloneDeep(this.$data._postd)
    },
    getTableVideoDelay() {
      var _this = this

      if (this.casinoLocationId == "") return

      VideoManager.getTableVideoDelay(this.loginToken, this.casinoLocationId)
        .then(function(res) {
          _this.$data.postd.delayTime = _.cloneDeep(res)
        })
        .catch(function(err) {})
    },
    updateTableVideoDelay() {
      var _this = this

      if (this.casinoLocationId == "") return

      var d = {
        casinoLocationUid: this.casinoLocationId,
        tableVideoDelay: this.$data.postd.delayTime
      }

      VideoManager.updateTableVideoDelay(this.loginToken, d)
        .then(function(res) {
          _this.clearData()
          _this.getTableVideoDelay()
        })
        .catch(function(err) {})
    }
  },
  computed: {},
  watch: {
    casinoLocationId(val) {
      this.clearData()
      this.getTableVideoDelay()
    }
  },
  created() {
    var _this = this
    this.clearData()
    this.getTableVideoDelay()
  }
}
</script>

<style lang="less" scoped>
@import "../../../../styles/less/videoManager.less";

.row input[type="text"] {
  width: 550px;
  display: inline-flex;
}

.fTitle {
  display: inline-flex;
  width: 130px;
  justify-content: flex-end;
}
</style>

