<template>
  <div>
    <div class="_viewPanel" id="divRecordVideoInVideoManage" v-if="mode.view">
      <div class="opbar">
        <el-button
          type="success"
          size="small"
          id="btnAddRecordingInVideoManage"
          @click="TodoAdd()"
        >新增</el-button>
      </div>

      <div class="List" id="tabRecordVideoInVideoManage">
        <div class="_cf">
          <div class="_col _remark">錄影視訊說明</div>
          <div class="_col _Address">錄影視訊API位址</div>
          <div class="_col _isDefault">是否為預設</div>
          <div class="_col _isEnable">是否啟用</div>
          <div class="_col _op">動作</div>
        </div>

        <div class="_cd" v-for="(item,index) in dlist">
          <div class="_col _remark">{{item.remark}}</div>
          <div class="_col _Address">{{item.address}}</div>
          <div class="_col _isDefault">{{item.defaultOption | showText}}</div>
          <div class="_col _isEnable">{{!item.locked | showText}}</div>
          <div class="_col _op">
            <el-button type="primary" size="mini" @click="TodoEdit(item.uid)">編輯</el-button>
            <el-button
              type="success"
              size="mini"
              @click="ToDefault(item.uid)"
              :disabled="item.defaultOption == 1"
            >設定預設</el-button>
            <el-button
              type="warning"
              size="mini"
              @click="TodoSwitch(item.uid,true)"
              v-if="item.locked == 0"
            >停用</el-button>
            <el-button size="mini" @click="TodoSwitch(item.uid,false)" v-if="item.locked == 1">啟用</el-button>
            <el-button type="danger" size="mini" @click="TodoDel(item.uid)">刪除</el-button>
          </div>
        </div>
      </div>

      <div v-if="pageNum > 1" class="pagination">
        <pagination
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
        ></pagination>
      </div>
    </div>

    <div class="_addPanel" v-if="mode.add">
      <div class="row">
        錄影視訊API說明 :
        <input type="text" id="iptAPIDirectionsInCreateInVideoManage" v-model="postd.remark" />
      </div>
      <div class="row">
        錄影API位址：
        <input type="text" id="iptAPIAddressInCreateInVideoManage" v-model="postd.address" />
      </div>
      <el-button
        type="danger"
        size="mini"
        id="btnCancelRecordingCreateInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSaveRecordingCreateInVideoManage"
        @click="add()"
      >儲存變更</el-button>
    </div>

    <div class="_editPanel" v-if="mode.edit">
      <div class="row">
        錄影視訊API說明 :
        <input type="text" id="iptAPIDirectionsInEditInVideoManage" v-model="postd.remark" />
      </div>
      <div class="row">
        錄影API位址：
        <input type="text" id="iptAPIAddressInEditInVideoManage" v-model="postd.address" />
      </div>

      <el-button
        type="danger"
        size="mini"
        id="btnCancelRecordingEditInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSaveRecordingEditInVideoManage"
        @click="update(postd.uid)"
      >儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import pagination from "../../../basic/pagination.vue"
import VideoManager from "@/services/VideoManager"

export default {
  props: ["casinoLocationId"],
  components: {
    pagination: pagination
  },
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      dlist: [],
      pageNum: 0,
      currentPage: 1,
      pageSize: 20,
      mode: {
        view: true,
        add: false,
        edit: false
      },
      postd: {
        uid: "",
        remark: "",
        address: ""
      }
    }
  },
  methods: {
    SetCurrentPage(currentPage) {
      this.$data.currentPage = currentPage
      this.getVideoRecord()
    },
    TodoAdd() {
      this.switchPanel("add")
      this.clearData()
    },
    clearData() {
      var _this = this
      _.forEach(this.$data.postd, function(v, k) {
        _this.$data.postd[k] = ""
      })
      this.$data.currentPage = 1
    },
    TodoEdit(uid) {
      this.switchPanel("edit")
      this.clearData()
      var _this = this
      _.forEach(this.$data.dlist, function(v, k) {
        if (v.uid == uid) {
          _this.postd = _.cloneDeep(v)
          return
        }
      })
    },
    add() {
      var _this = this
      var postd = this.$data.postd

      var d = {
        casinoLocationUid: this.casinoLocationId,
        address: postd.address,
        remark: postd.remark
      }

      VideoManager.addVideoRecord(this.$data.loginToken, d)
        .then(function(res) {
          _this.getVideoRecord()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    update(uid) {
      var _this = this
      var postd = this.$data.postd

      var d = {
        address: postd.address,
        remark: postd.remark,
        uid: uid,
        casinoLocationUid: this.casinoLocationId
      }

      VideoManager.updateVideoRecord(this.$data.loginToken, d)
        .then(function(res) {
          _this.getVideoRecord()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    switchPanel(ta) {
      var _this = this
      _.forEach(this.$data.mode, function(v, k) {
        _this.$data.mode[k] = false
      })

      this.$data.mode[ta] = true
    },
    getVideoRecord() {
      var _this = this

      var d = {
        casinoLocationUid: "",
        pageSize: this.$data.pageSize,
        pageIndex: this.$data.currentPage - 1
      }

      switch (true) {
        case this.casinoLocationId == "":
          return false
          break

        default:
          d.casinoLocationUid = [this.casinoLocationId]

          break
      }

      VideoManager.getVideoRecord(this.$data.loginToken, d)
        .then(function(res) {
          _this.$data.dlist = res.executeInfo.rows
          _this.$data.pageNum = res.executeInfo.pagination.pageCount
        })
        .catch(function(err) {})
    },
    ToDefault(uid) {
      var _this = this
      VideoManager.DefaultVideoRecord(this.$data.loginToken, uid)
        .then(function(res) {
          _this.getVideoRecord()
        })
        .catch(function(err) {})
    },
    TodoSwitch(uid, doLock) {
      var _this = this

      if (doLock) {
        VideoManager.DisableVideoRecord(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getVideoRecord()
          })
          .catch(function(err) {})
      } else {
        VideoManager.EnableVideoRecord(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getVideoRecord()
          })
          .catch(function(err) {})
      }
    },
    TodoDel(uid) {
      var _this = this

      VideoManager.delVideoRecord(this.$data.loginToken, [uid])
        .then(function(res) {
          _this.getVideoRecord()
        })
        .catch(function(err) {})
    }
  },
  computed: {},
  watch: {
    casinoLocationId(val) {
      this.clearData()
      this.getVideoRecord()
    }
  },
  created() {
    var _this = this
    this.clearData()
    this.getVideoRecord()
  },
  beforeCreate: function() {},
  filters: {
    showText(val) {
      var re = val == 1 ? "是" : "否"
      return re
    }
  }
}
</script>

<style lang="less" scoped>
@import "../../../../styles/less/videoManager.less";

._col {
  &._apiAddress {
    min-width: 100px;
  }
  &._resolution {
    min-width: 250px;
  }
}

.btnAdd {
  position: absolute;
  right: 0px;
}

.subTabs {
  width: @w;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .tabItem {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: 1px solid #cccccc;
    border-right: 0px;
    height: 30px;
    justify-content: center;
    cursor: pointer;

    &:last-of-type {
      border-right: 1px solid #cccccc;
      border-radius: 0px 6px 6px 0px;
    }

    &:first-of-type {
      border-radius: 6px 0px 0px 6px;
    }

    &.active {
      background-color: rgba(48, 113, 169, 1);
      color: #ffffff;
    }
  }
}

.pagination {
  width: @w;
  margin: 15px 0px;
  text-align: right;
}
</style>

