<template>
  <div>
    <div class="_viewPanel" v-if="mode.view">
      <div class="List" id="tabTableVideoInVideoManage">
        <div class="_cf">
          <div class="_col _tableId">桌號</div>
          <div class="_col _TableTitle">賭桌名稱</div>
          <div class="_col _gameTypeTitle">遊戲類型</div>
          <div class="_col _tableTypeTitle">桌種</div>
          <div class="_col _cdnSettingAddress">賭桌CDN地址</div>
          <div class="_col _appName">應用名稱</div>
          <div class="_col _streamName">串流名稱</div>
          <div class="_col _op2">動作</div>
        </div>

        <div class="_cd" v-for="(item,index) in dlist">
          <div class="_col _tableId">{{item.tableId}}</div>
          <div class="_col _title">{{item.titles['ZH-TW']}}</div>
          <div class="_col _gameTypeTitle">{{item.gameTypeTitle}}</div>
          <div class="_col _tableTypeTitle">{{item.tableTypeTitle}}</div>
          <div class="_col _cdnSettingAddress">{{item.cdnSettingAddress}}</div>
          <div class="_col _appName">{{item.appName}}</div>
          <div class="_col _streamName">{{item.streamName}}</div>

          <div class="_col _op2">
            <el-button type="primary" size="mini" @click="TodoEdit(item.uid)">編輯</el-button>
          </div>
        </div>
      </div>
      <div v-if="pageNum > 1" class="pagination">
        <pagination
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
        ></pagination>
      </div>
    </div>

    <div class="_editPanel" v-if="mode.edit">
      <div class="row">
        桌號 :
        <div id="labTableNoInVideoManage">{{postd.tableId}}</div>
      </div>
      <div class="row">
        賭桌名稱 :
        <div id="labTableNameInVideoManage">{{postd.titles['ZH-TW']}}</div>
      </div>
      <div class="row">
        遊戲類型 :
        <div id="labGameTypeInVideoManage">{{postd.gameTypeTitle}}</div>
      </div>
      <div class="row">
        桌種 :
        <div id="labTableTypeInVideoManage">{{postd.tableTypeTitle}}</div>
      </div>
      <div class="row">
        賭桌CDN位址 :
        <select v-model="cdnSettingUid" id="selTableCDNInVideoManage">
          <option v-for="item in cdnSetting" :value="item.uid">{{item.address}}</option>
        </select>
      </div>
      <div class="row">
        應用名稱 :
        <input type="text" id="iptApplyNameInVideoManage" v-model="postd.appName" />
      </div>
      <div class="row">
        串流名稱：
        <input type="text" id="iptStreamingNameInVideoManage" v-model="postd.streamName" />
      </div>

      <el-button
        type="danger"
        size="mini"
        id="btnCancelInTableVideoInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSaveInTableVideoInVideoManage"
        @click="update(postd.uid)"
      >儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import VideoManager from "@/services/VideoManager"
import pagination from "../../../basic/pagination.vue"

export default {
  components: {
    pagination: pagination
  },
  props: ["casinoLocationId"],
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      mode: {
        view: true,
        edit: false
      },
      dlist: [],
      pageNum: 0,
      currentPage: 1,
      pageSize: 20,
      postd: {
        appName: "",
        streamName: ""
      },
      cdnSetting: [],
      cdnSettingUid: ""
    }
  },
  methods: {
    init() {
      this.$data.currentPage = 1
      //this.getTableVideoList();
    },
    switchPanel(ta) {
      var _this = this
      _.forEach(this.$data.mode, function(v, k) {
        _this.$data.mode[k] = false
      })

      this.$data.mode[ta] = true
    },
    TodoEdit(uid) {
      var _this = this
      this.switchPanel("edit")
      var s_cdnSettingUid = ""
      var tmp = []
      _.forEach(this.$data.dlist, function(v, k) {
        if (v.uid == uid) {
          _this.$data.postd = _.cloneDeep(v)
          s_cdnSettingUid = v.cdnSettingUid
          return false
        }
      })

      _this.$data.cdnSettingUid = ""
      VideoManager.getCdnList(this.loginToken, [this.casinoLocationId])
        .then(function(res) {
          _.forEach(res.executeInfo.rows, function(v, k) {
            if (v.defaultOption) {
              v.address = " ( 預設 ) " + v.address
            }

            switch (true) {
              case !v.locked:
                tmp.push(v)
                break

              case s_cdnSettingUid == v.uid:
                tmp.push(v)
                break
            }
          })

          var cdnUid = tmp[0].uid
          _.forEach(tmp, function(v, k) {
            switch (true) {
              case v.defaultOption:
                cdnUid = v.uid
                break

              case s_cdnSettingUid == v.uid:
                cdnUid = v.uid
                return false
                break
            }
          })

          _this.$data.cdnSettingUid = cdnUid
          _this.$data.cdnSetting = _.cloneDeep(tmp)
        })
        .catch(function(err) {})
    },
    update(uid) {
      var _this = this
      var d = {
        uid: uid,
        appName: this.$data.postd.appName,
        streamName: this.$data.postd.streamName,
        cdnSettingUid: this.$data.cdnSettingUid
      }

      VideoManager.updateTableVideo(this.loginToken, d)
        .then(function(res) {
          _this.init()
          _this.getTableVideoList()
          _this.switchPanel("view")
          //_this.dlist = res.executeInfo.rows;
          //_.this.$data.pageNum = res.executeInfo.pageCount;
        })
        .catch(function(err) {})
    },
    SetCurrentPage(currentPage) {
      this.$data.currentPage = currentPage
      this.getTableVideoList()
    },
    getTableVideoList() {
      var _this = this
      var d = {
        pageSize: this.$data.pageSize,
        pageIndex: this.$data.currentPage - 1
      }
      if (this.casinoLocationId == "") return
      var uidList = [this.casinoLocationId]
      VideoManager.getTableVideoList(this.loginToken, uidList, d)
        .then(function(res) {
          _this.dlist = res.rows
          _this.$data.pageNum = res.pagination.pageCount

          //console.log(_.cloneDeep(res.rows));

          //_this.dlist = res.executeInfo.rows;
          //_this.$data.pageNum =res.executeInfo.pagination.pageCount;
        })
        .catch(function(err) {
          console.log("err : ", err)
        })
    }
  },
  computed: {},
  watch: {
    casinoLocationId(val) {
      this.init()
      this.getTableVideoList()
    },
    currentPage() {}
  },
  created() {
    this.init()
    this.getTableVideoList()
  }
}
</script>

<style lang="less" scoped>
@import "../../../../styles/less/videoManager.less";

@w: 95%;

._col {
  &._tableId {
    max-width: 100px;
  }
  &._TableTitle {
    min-width: 100px;
  }
  &._gameTypeTitle {
    max-width: 80px;
  }
  &._tableTypeTitle {
    max-width: 100px;
  }
  &._cdnSettingAddress {
    min-width: 80px;
  }
  &._appName {
    max-width: 150px;
  }
  &._streamName {
    max-width: 150px;
  }
  &._op2 {
    max-width: 100px;
  }
}

.pagination {
  width: @w;
  margin: 15px 0px;
  text-align: right;
}
</style>

