<template>
  <div>
    <div class="_viewPanel" id="divPanoramicViewInVideoManage" v-if="mode.view">
      <div class="opbar">
        <el-button
          type="success"
          size="small"
          id="btnAddPanoramicViewInVideoManage"
          @click="TodoAdd()"
        >新增</el-button>
      </div>
      <div class="List" id="tabPanoramicViewInVideoManage">
        <div class="_cf">
          <div class="_col _titles_EN_US">全景名稱(英文)</div>
          <div class="_col _titles_ZH_TW">全景名稱(繁體)</div>
          <div class="_col _titles_ZH_CN">全景名稱(簡體)</div>
          <div class="_col _sorting">優先順序</div>
          <div class="_col _address">串流位址</div>
          <div class="_col _appName">應用名稱</div>
          <div class="_col _streamName">串流名稱</div>
          <div class="_col _isDefault">是否為預設</div>
          <div class="_col _isEnable">是否啟用</div>
          <div class="_col _op">動作</div>
        </div>

        <div class="_cd" v-for="(item,index) in dlist">
          <div class="_col _titles_EN_US">{{item.titles['EN-US']}}</div>
          <div class="_col _titles_ZH_TW">{{item.titles['ZH-TW']}}</div>
          <div class="_col _titles_ZH_CN">{{item.titles['ZH-CN']}}</div>
          <div class="_col _sorting">{{item.sorting}}</div>
          <div class="_col _address">{{item.address}}</div>
          <div class="_col _appName">{{item.appName}}</div>
          <div class="_col _streamName">{{item.streamName}}</div>
          <div class="_col _isDefault">{{item.defaultOption | showText}}</div>
          <div class="_col _isEnable">{{!item.locked | showText}}</div>
          <div class="_col _op">
            <el-button type="primary" size="mini" @click="TodoEdit(item.uid)">編輯</el-button>
            <el-button
              type="success"
              size="mini"
              @click="ToDefault(item.uid)"
              :disabled="item.defaultOption == 1"
            >設定預設</el-button>
            <el-button
              type="warning"
              size="mini"
              @click="TodoSwitch(item.uid,true)"
              v-if="item.locked == 0"
            >停用</el-button>
            <el-button size="mini" @click="TodoSwitch(item.uid,false)" v-if="item.locked == 1">啟用</el-button>
            <el-button type="danger" size="mini" @click="TodoDel(item.uid)">刪除</el-button>
          </div>
        </div>
      </div>
    </div>

    <div class="_addPanel" v-if="mode.add">
      <div class="row">
        全編名稱(英文)：
        <input type="text" id="iptWholeEngNameInVideoManage" v-model="postd.titles_en" />
      </div>
      <div class="row">
        全編名稱(繁體)：
        <input type="text" id="iptWholeTrdNameInVideoManage" v-model="postd.titles_tw" />
      </div>
      <div class="row">
        全編名稱(簡體)：
        <input type="text" id="iptWholeSimpleNameInVideoManage" v-model="postd.titles_cn" />
      </div>
      <div class="row">
        全景優先順序：
        <input type="text" id="iptPriorityInVideoManage" v-model="postd.sorting" />
      </div>
      <div class="row">
        串流位址：
        <input type="text" id="iptStreamingAddressInVideoManage" v-model="postd.address" />
      </div>
      <div class="row">
        應用名稱：
        <input type="text" id="iptApplyNameInCreatePanoramicInVideoManage" v-model="postd.appName" />
      </div>
      <div class="row">
        串流名稱：
        <input
          type="text"
          id="iptStreamingNameInCreatePanoramicInVideoManage"
          v-model="postd.streamName"
        />
      </div>

      <el-button
        type="danger"
        size="mini"
        id="btnCancelPanoramicCreateInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSavePanoramicCreateInVideoManage"
        @click="add()"
      >儲存變更</el-button>
    </div>

    <div class="_editPanel" v-if="mode.edit">
      <div class="row">
        全編名稱(英文) :
        <input type="text" id="iptWholeEngNameInEditInVideoManage" v-model="postd.titles_en" />
      </div>
      <div class="row">
        全編名稱(繁體)： :
        <input type="text" id="iptWholeTrdNameInEditInVideoManage" v-model="postd.titles_tw" />
      </div>
      <div class="row">
        全編名稱(簡體)：
        <input type="text" id="iptWholeSimpleNameInEditInVideoManage" v-model="postd.titles_cn" />
      </div>
      <div class="row">
        全景優先順序：
        <input type="text" id="iptPriorityInEditInVideoManage" v-model="postd.sorting" />
      </div>
      <div class="row">
        串流位址：
        <input type="text" id="iptStreamingAddressInEditInVideoManage" v-model="postd.address" />
      </div>
      <div class="row">
        應用名稱：
        <input type="text" id="iptApplyNameInEditPanoramicInVideoManage" v-model="postd.appName" />
      </div>
      <div class="row">
        串流名稱：
        <input type="text" id="iptStreamingNameInEditInVideoManage" v-model="postd.streamName" />
      </div>

      <el-button
        type="danger"
        size="mini"
        id="btnCancelPanoramicEditInVideoManage"
        @click="switchPanel('view')"
      >取消</el-button>
      <el-button
        type="primary"
        size="mini"
        id="btnSavePanoramicEditInVideoManage"
        @click="update(postd.uid)"
      >儲存變更</el-button>
    </div>
  </div>
</template>

<script>
import VideoManager from "@/services/VideoManager"

export default {
  props: ["casinoLocationId"],
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      dlist: [],
      pageNum: 0,
      currentPage: 1,
      pageSize: 20,
      mode: {
        view: true,
        add: false,
        edit: false
      },
      postd: {}
    }
  },
  methods: {
    TodoAdd() {
      this.switchPanel("add")
      this.clearData()
    },
    clearData() {
      var _this = this
      _.forEach(this.$data.postd, function(v, k) {
        _this.$data.postd[k] = ""
      })
    },
    TodoEdit(uid) {
      this.switchPanel("edit")
      this.clearData()
      var _this = this
      _.forEach(this.$data.dlist, function(v, k) {
        if (v.uid == uid) {
          _this.postd = _.cloneDeep(v)

          _this.postd.titles_en = v.titles["EN-US"]
          _this.postd.titles_tw = v.titles["ZH-TW"]
          _this.postd.titles_cn = v.titles["ZH-CN"]
          return
        }
      })
    },
    add() {
      var _this = this
      var postd = this.$data.postd

      var d = {
        casinoLocationUid: this.casinoLocationId,
        titles: {
          "EN-US": postd.titles_en,
          "ZH-TW": postd.titles_tw,
          "ZH-CN": postd.titles_cn
        },
        address: postd.address,
        appName: postd.appName,
        streamName: postd.streamName,
        sorting: postd.sorting
      }

      VideoManager.addAllView(this.$data.loginToken, d)
        .then(function(res) {
          _this.getAllView()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    update(uid) {
      var _this = this
      var postd = this.$data.postd

      var d = {
        uid: uid,
        casinoLocationUid: this.casinoLocationId,
        titles: {
          "EN-US": postd.titles_en,
          "ZH-TW": postd.titles_tw,
          "ZH-CN": postd.titles_cn
        },
        address: postd.address,
        appName: postd.appName,
        streamName: postd.streamName,
        sorting: postd.sorting
      }

      VideoManager.updateAllView(this.$data.loginToken, d)
        .then(function(res) {
          _this.getAllView()
          _this.switchPanel("view")
        })
        .catch(function(err) {})
    },
    switchPanel(ta) {
      var _this = this
      _.forEach(this.$data.mode, function(v, k) {
        _this.$data.mode[k] = false
      })

      this.$data.mode[ta] = true
    },
    getAllView() {
      var _this = this

      if (this.casinoLocationId == "") return

      var d = {
        casinoLocationUid: [this.casinoLocationId]
      }

      VideoManager.getAllView(this.$data.loginToken, d)
        .then(function(res) {
          _this.$data.dlist = _.cloneDeep(res.executeInfo.rows)
        })
        .catch(function(err) {})
    },
    ToDefault(uid) {
      var _this = this
      VideoManager.DefaultAllView(this.$data.loginToken, uid)
        .then(function(res) {
          _this.getAllView()
        })
        .catch(function(err) {})
    },
    TodoSwitch(uid, doLock) {
      var _this = this

      if (doLock) {
        VideoManager.DisableAllView(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getAllView()
          })
          .catch(function(err) {})
      } else {
        VideoManager.EnableAllView(this.$data.loginToken, [uid])
          .then(function(res) {
            _this.getAllView()
          })
          .catch(function(err) {})
      }
    },
    TodoDel(uid) {
      var _this = this

      VideoManager.delAllView(this.$data.loginToken, [uid])
        .then(function(res) {
          _this.getAllView()
        })
        .catch(function(err) {})
    }
  },
  computed: {},
  watch: {
    casinoLocationId(val) {
      this.clearData()
      this.getAllView()
    }
  },
  created() {
    var _this = this
    this.clearData()
    this.getAllView()
  },
  beforeCreate: function() {},
  filters: {
    showText(val) {
      var re = val == 1 ? "是" : "否"
      return re
    }
  }
}
</script>

<style lang="less" scoped>
@import "../../../../styles/less/videoManager.less";

@w1: 99%;
._col {
  &._titles_EN_US {
  }
  &._titles_ZH_TW {
  }
  &._titles_ZH_CN {
  }
  &._sorting {
    max-width: 80px;
  }
  &._address {
  }
  &._appName {
  }
  &._streamName {
  }
}

.btnAdd {
  position: absolute;
  right: 0px;
}

.opbar {
  width: @w1;
}

._cf {
  width: @w1;
}

._cd {
  width: @w1;
}
</style>
