<template>
    <div class="s_panel">
		<div class="_t">最高代理帳號</div>
		<select v-model="selId" :id="prop_DomId" @change="setVal();">
			<option value="">全部</option>
			<option v-for="(item,key) in d_list" :value="item.groupUid">{{item.account}}</option>
		</select>
	</div>
</template>

<script>	
	import AgentManager from '@/services/AgentManager';	
	export default {
		props : ['prop_agentAccount','prop_DomId','prop_loginToken','prop_initAgent'],
		data(){
				return {
					d_list:[],
					
					selId : this.prop_agentAccount || '',
					stateList : [],
					showStateListPanel : false,
					stateAll : [],
					isSetAll : false,
					selShowText : ''
				};
		},
		computed : {
			
		},
		methods:{
			additionalData(val){				
				this.$emit("additionalData",val);
			},
			setVal(){
				this.$emit("onChange",this.$data.selId);
			},
			getList(){
			
				var _this = this;
				
				
				AgentManager.getTopAgentList(this.prop_loginToken)
					.then(function(res){

						_this.$data.d_list = _.cloneDeep(res);
						_this.additionalData(_.cloneDeep(res));
						//_this.doSetStateAll();
						
					})
					.catch(function(err){
					
					});
				
			}
		},
		created(){
			this.getList();	
		},
		beforeCreate (){
				
			},
		watch:{
			prop_agentAccount(val)
			{
				this.selId = val;
			}
			/*
			stateList(val){
				
				console.log("call me");
				console.log("stateList : ",val);
				var tmp = [],flag = false,selShowText = [],_tD={};				
				_.forEach(this.$data.d_list,function(v,k){
					_tD[v.alias] = v;
					_tD[v.alias].disabled = false;					
					if(val.indexOf(v.alias) != -1)
					{
						selShowText.push(v.title);
					}					
				});
				
				flag = (val.length == this.$data.d_list_L);
				
				if(val.length == 1)
				{					
					_tD[val[0]].disabled = true;
				}
				
				
				
				this.$data.d_list = _.cloneDeep(_tD);				
				this.$data.selShowText = (flag)?'全部':selShowText.join("、");				
				this.$data.isSetAll = flag;
				this.$data.stateAll = flag?([flag]):[];
				
				
				
				
				this.setVal();
			}
			*/
		}	
	}
</script>


<style scoped lang="less">
	.s_panel{
		width : 120px;
		
		.c_select{
			height:30px;	
		}
		
		
		select{
			width:100%;
		}
		
		.selectBox{
			width:100%;
			box-sizing: border-box;
			padding: 10px;
			border: 1px solid #cccccc;
			hr {
				color:#dddddd;
			}
			background-color:#ffffff;		
		}
		
		label{
			display: flex;
			width: 100%;
			align-items: center;
			cursor:pointer;
			input{
				display:inline-block;
				margin-right:5px;
			}
		}		
	}
	
	.selectBar{
		
		display: flex;
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		justify-content: space-between;
		cursor: pointer;
		border: 1px solid #cccccc;
		height: 30px;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;

		.sel_arrow{
			
		}
		
		&.v_error{
			border:2px solid red;
		}
		
	}
	
	
</style>

