<template>
    <div class="s_panel">
		<div class="_t">遊戲類型</div>
		<select v-model="selId" :id="prop_DomId" @change="setVal();">
			<option value="">全部</option>
			<option v-for="item in d_list" :value="item.uid">{{item.title}}</option>
		</select>
	</div>
</template>

<script>	
	import BasicItemManager from '@/services/BasicItemManager';	
	export default {
		props : ['prop_gameTypeId','prop_DomId','prop_loginToken'],
		data(){
				return {
					d_list:[],
					selId : this.prop_gameTypeId
				};
		},
		computed : {
			
		},
		methods:{
			setVal(){				
				this.$emit("onChange",this.$data.selId);
			},
			getList(){
			
				var _this = this;
				var dataType = 'gameSets';
				BasicItemManager.gameBasicSetting(this.prop_loginToken,[dataType])
					.then(function(res){
					
						_this.$data.d_list = res[dataType];
						
					})
					.catch(function(err){
					
					});
				
			}
		},
		created(){
			this.getList();	
		},
		beforeCreate (){
				
			},
		watch:{
			
		}	
	}
</script>


<style scoped lang="less">
	.s_panel{
		select{
			min-width : 100px;
		}
	}
	
</style>

