<template>
    <div class="s_panel" >
		<div class="_t">注單狀態</div>
		<div class="c_select">			
			<div :class="{selectBar:true,v_error:(d_list.length != 0) && (stateList.length==0)}" @click.stop="showStateListPanel=!showStateListPanel;">
				<div class="sel_text">{{selShowText}}</div>
				<div class="sel_arrow">
					<div class="el-icon-caret-bottom"></div>
				</div>
			</div>			
			<div class="selectBox" v-if="showStateListPanel" :id="domid.divBetOrderStatus" @click.stop="stopEvent();">
				<label>
					<input type="checkbox" value="true" v-model="stateAll" @click="isSetAll=!isSetAll;setStateAll()"> 全部
				</label>
				<hr>
				<label v-for="item in d_list">
					<input type="checkbox" :value="item.alias" :disabled="item.disabled" v-model="stateList" > {{item.title}}
				</label>
			</div>
		</div>
	</div>
</template>

<script>	
	import BasicItemManager from '@/services/BasicItemManager';	
	export default {
		props : ['prop_GameResultState','prop_DomId','prop_loginToken','prop_domid'],
		data(){
				
				var _this = this;
				var _domItem = {
					divBetOrderStatus : ''
				};
				return {
					d_list:[],
					d_list_L : 0,					
					stateList : this.prop_GameResultState,					
					showStateListPanel : false,
					stateAll : [],
					isSetAll : false,
					selShowText : '',
					loaded : false,
					domid : (function(){
						var re = {},_name = _this.prop_domid.name;
						_.forEach(_domItem,function(v,k){
							re[k] = k+_name;
						})
						return re;
					})()
				};
		},
		computed : {
			
		},
		methods:{
			stopEvent(){
				
			},
			closeStateListPanel(){
				this.$data.showStateListPanel = false;
				//console.log("yes");
			},
			doSetStateAll(){
				
				this.$data.isSetAll = true;
				this.$data.stateAll = [true];
				this.setStateAll();
			},
			setStateAll(){
				
				
				var tmp = [];
				var stateList = this.$data.stateList;
				if(this.$data.isSetAll)
				{					
					_.forEach(this.$data.d_list,function(v,k){
						tmp.push(v.alias);
					})
				}
				
				
				this.$data.stateList = _.cloneDeep(tmp);
			},
			setVal(){
				this.$emit("onChange",this.$data.stateList);
			},
			getGameResultState(){
			
				var _this = this;
				var d = [BasicItemManager.basicItem.GRS];
				
				BasicItemManager.gameBasicSetting(this.prop_loginToken,d)
					.then(function(res){
					
						res = _.cloneDeep(res[BasicItemManager.basicItem.GRS]);
						var tmp = {},i=0;
						_.forEach(res,function(v,k){
							tmp[k] = v;
							tmp[k]["disabled"] = false;
							i++;
						});
						_this.d_list_L = i;
						_this.$data.d_list = _.cloneDeep(tmp);
						_this.doSetStateAll();
						_this.$data.loaded = true;
						
					})
					.catch(function(err){
						
					});
				
			}
		},
		created(){
			this.getGameResultState();	
		},
		beforeCreate (){
				
			},
		watch:{			
			stateList(val){
				
				
				
				var tmp = [],flag = false,selShowText = [],_tD={};				
				_.forEach(this.$data.d_list,function(v,k){
					_tD[v.alias] = v;
					_tD[v.alias].disabled = false;					
					if(val.indexOf(v.alias) != -1)
					{
						selShowText.push(v.title);
					}					
				});
				
				flag = (val.length == this.$data.d_list_L);
				
				if(val.length == 1)
				{					
					_tD[val[0]].disabled = true;
				}
				
				
				
				this.$data.d_list = _.cloneDeep(_tD);				
				this.$data.selShowText = (flag)?'(全部)':selShowText.join("、");				
				this.$data.isSetAll = flag;
				this.$data.stateAll = flag?([flag]):[];				
				this.setVal();
			},			
			showStateListPanel(val){
				
				//this.$emit("onExpandChange",val);
				
				if(val)
					{
						document.addEventListener("click",this.closeStateListPanel);
					}
				else
					{
						document.removeEventListener("click",this.closeStateListPanel);
					}				
				
				
				
				
			},
			prop_GameResultState(val)
			{
				this.stateList = val;
				
			},
			loaded(val){
				this.$emit("onLoaded",true);
			}
		}	
	}
</script>


<style scoped lang="less">
	.s_panel{
		width : 150px;
		
		.c_select{
			height:30px;	
		}
		
		
		select{
			width:100%;
		}
		
		.selectBox{
			width:100%;
			box-sizing: border-box;
			padding: 10px;
			border: 1px solid #cccccc;
			hr {
				color:#dddddd;
			}
			background-color:#ffffff;		
		}
		
		label{
			display: flex;
			width: 100%;
			align-items: center;
			cursor:pointer;
			input{
				display:inline-block;
				margin-right:5px;
			}
		}		
	}
	
	.selectBar{
		
		display: flex;
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		justify-content: space-between;
		cursor: pointer;
		border: 1px solid #cccccc;
		height: 30px;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;

		.sel_arrow{
			
		}
		
		&.v_error {
			border:2px solid red;
		}
		
	}
	
	
</style>

