<template lang="pug">
.s_panel
  ._filterItem
    ._t 遊戲類型
    select(
      v-model="GameTypeId"
      :id="DomId.GameTypeId"
      @change="setGameTypeId"
    )
      option(
        v-if="enabledSelectAll === true"
        value=""
      ) 全部
      option(
        v-for="item in C_gameTypes"
        :value="item.uid"
      ) {{item.title}}

  ._filterItem
    ._t 桌種
    select(
      v-model="TableTypeId"
      :id="DomId.TableTypeId"
      @change="setTableTypeId"
    )
      option(
        v-if="enabledSelectAll === true"
        value=""
      ) 全部
      option(
        v-for="item in C_tableTypes"
        :value="item.uid"
      ) {{item.title}}
</template>

<script>
import { mapState } from "vuex"
import GameTypeManager from "@/services/GameTypeManager"

export default {
  props: { prop_DomId: {}, enabledSelectAll: { type: Boolean, default: true } },
  data() {
    return {
      GameTypeId: "",
      TableTypeId: "",
      DomId: this.prop_DomId,
      D_gameTypes: [],
      D_tableTypes: []
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    C_gameTypes() {
      return this.D_gameTypes
    },
    C_tableTypes() {
      if (this.enabledSelectAll === true) {
        return this.D_tableTypes
      } else {
        const target = this.D_gameTypes.filter(x => x.uid === this.GameTypeId)
        const targetGameTables = target.map(x => x.tableSpecies).flat()

        const result = this.D_tableTypes.filter(x => targetGameTables.includes(x.uid))
        return result
      }
    }
  },
  methods: {
    onSelect() {
      this.setGameTypeId()
      this.setTableTypeId()
    },
    setGameTypeId(event, changeTableId = true) {
      this.$emit("ChangeGameTypeId", this.GameTypeId)

      if (changeTableId === true) {
        if (this.enabledSelectAll === false){
          this.TableTypeId = this.C_tableTypes[0].uid
        }else{
          this.TableTypeId = ''
        }
      }
    },
    setTableTypeId() {
      this.$emit("ChangeTableTypeId", this.TableTypeId)
    },
    async getList() {
      const res = await GameTypeManager.getGameTableRelation(this.loginToken)
      this.D_gameTypes = res.master
      this.D_tableTypes = res.relations.tableSpecies
    }
  },
  async mounted() {
    await this.getList()

    if (this.enabledSelectAll === false) {
      // Select first option
      this.GameTypeId = this.D_gameTypes[0].uid
      this.TableTypeId = this.C_tableTypes[0].uid
      this.onSelect()
    } else {
      this.TableTypeId = ""
      this.setGameTypeId(undefined, false)
      this.setTableTypeId()
    }
  }
}
</script>

<style scoped lang="less">
.s_panel {
  display: flex;
  width: 320px;
  justify-content: space-around;
  select {
    min-width: 150px;
  }
}
</style>

