<template>
    <div class="s_panel">
		<div class="_t">廳館</div>
		<select v-model="selId" :id="prop_DomId" @change="setVal();">
			<option value="">全部</option>
			<option v-for="item in d_list" :value="item.uid">{{item.title}}</option>
		</select>
	</div>
</template>

<script>	
	import GameManager from '@/services/GameManager';	
	export default {
		props : ['prop_themeId','prop_DomId','prop_loginToken','prop_domid'],
		data(){
				
				return {
					d_list:[],
					selId : this.prop_themeId	
				};
		},
		computed : {
			
		},
		methods:{
			setVal(){				
				this.$emit("onChange",this.$data.selId);
			},
			getTheme(){
			
				var _this = this;
				var dataType = "themes";
				GameManager.getBasicItems(this.prop_loginToken,[dataType])
					.then(function(res){
					
						_this.$data.d_list = res[dataType];
						
					})
					.catch(function(err){
					
					});
				
			}
		},
		created(){
			this.getTheme();	
		},
		beforeCreate (){
				
			},
		watch:{
			
		}	
	}
</script>


<style scoped lang="less">
	.s_panel{
		select{
			min-width : 100px;
		}
	}
	
</style>

