<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="680px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  center
)
  .user-manage-add(id="divAddAccInBackUser")
    .modal__title 新增帳號

    .modal__row
      .modal__label 帳號* :
      UserAccountInput(
        domId="iptAccInAddBackUser"
        :isRequired="true"
        @input="setUserAccount"
        placeholder="英、數字6-20位，英文開頭"
        ref="userAccountInput"
      )

    .modal__row
      .modal__label 暱稱* :
      UserNicknameInput(
        domId="iptNickInAddBackUser"
        :isRequired="true"
        @input="setUserNickname"
        placeholder="中、英、數字1-20位"
        ref="userNicknameInput"
      )

    .modal__row.user-manage-add__password-row
      .modal__label 密碼* :
      UserPasswordInput(
        domId="iptPwdInAddBackUser"
        :isReadonly="true"
        :isRequired="true"
        inputType="text"
        @input="setPassword"
        ref="newRandomPasswordInput"
      )

      .primary-button.modal__item(
        id="btnGeneratePwdInAddBackUser"
        @click="getNewRandomPassword"
      ) 生成密碼

      .primary-button.modal__item(
        id="btnCopyPwdInAddBackUser"
        @click="copyNewRandomPassword"
      ) 複製密碼

    .modal__row
      .modal__label 角色* :
      PermissionRoleList.user-manage__permission-list(
        domId="divCharInAddBackUser"
        :class="[isPermissionRoleListValid?'':'is-invalid']"
        @change="setPermissionRoleList"
        ref="permissionRoleList"
      )

    .modal__row
      .modal__label 電子郵件* :
      EmailInput(
        domId="iptEmailInAddBackUser"
        :isRequired="true"
        @input="setEmail"
        ref="emailInput"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInAddBackUser"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnOKInAddBackUser"
        @click="submitRequest"
      ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { randomPassword } from "@/libs/random.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { ValidationProvider } from "vee-validate"

import EmailInput from "@/components/inputs/Email.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import UserAccountInput from "@/components/inputs/UserAccount.vue"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"
import PermissionRoleList from "@/components/common/PermissionRoleList.vue"
import { mapState } from "vuex"
import { addUser } from "@/api/User.js"

export default {
  props: { isDisplay: { type: Boolean, default: false } },
  components: {
    LoadingLock,
    ValidationProvider,
    EmailInput,
    UserNicknameInput,
    UserAccountInput,
    UserPasswordInput,
    PermissionRoleList
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: {
      newRandomPassword: "",
      userAccount: "",
      email: "",
      nickname: "",
      permissionRoles: []
    },
    isPermissionRoleListValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  methods: {
    setPermissionRoleList(payload) {
      this.current.permissionRoles = payload

      this.isPermissionRoleListValid = true
    },
    setUserAccount(data) {
      this.current.userAccount = data
    },
    setUserNickname(data) {
      this.current.nickname = data
    },
    setEmail(data) {
      this.current.email = data
    },
    setPassword(data) {
      this.current.newRandomPassword = data
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    resetToDefault() {
      this.current.newRandomPassword = ""
      this.current.userAccount = ""
      this.current.email = ""
      this.current.nickname = ""
      this.current.permissionRoles = []
      this.isPermissionRoleListValid = true
    },
    validatePermissionRoleList() {
      if (this.current.permissionRoles.length > 0) {
        this.isPermissionRoleListValid = true
        return true
      } else {
        this.isPermissionRoleListValid = false
        return false
      }
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userAccountInput"].validate(),
        this.$refs["userNicknameInput"].validate(),
        this.$refs["newRandomPasswordInput"].validate(),
        this.$refs["emailInput"].validate()
      ])

      const isAllValid = result.every(x => x.valid === true)
      const isValid = this.validatePermissionRoleList()

      return isAllValid && isValid
    },
    async submitRequest() {
      const isValid = await this.validInputs()
      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          userAccount: this.current.userAccount,
          nickname: this.current.nickname,
          password: this.current.newRandomPassword,
          email: this.current.email,
          permissionRoles: this.current.permissionRoles
        }

        const res = await addUser(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    getNewRandomPassword() {
      const password = randomPassword()
      this.$refs.newRandomPasswordInput.setValue(password)
    },
    copyNewRandomPassword() {
      this.$refs.newRandomPasswordInput.copyValue()
    }
  }
}
</script>

<style lang="stylus">
.user-manage-add
  &__password-row
    grid-template-columns 25% repeat(3, 1fr)
</style>
