<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="450px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  @opened="assignDefaultValues"
  center
)
  .user-manage-delete(id="divDelectAccInBackUser")
    .modal__list
      .modal__text
        .modal__word 您即將
        .modal__word.is-danger 刪除
        .modal__word.is-ok 帳號 {{ displayAccountLabel }}

    .modal__list
      .modal__text 確認完畢，請在下方輸入您的使用者密碼：

    .modal__list
      ValidationProvider(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="userPasswordInput"
      )
        input.modal__input(
          id="iptPwdInDelectAcc"
          type="password"
          placeholder="請輸入您的使用者密碼"
          v-model="current.password"
          :class="classes"
          @blur="validate"
        )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInDelectAcc"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnOKInDelectAcc"
        @click="submitRequest"
      ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { mapState } from "vuex"
import { deleteUser } from "@/api/User.js"
import { ValidationProvider } from "vee-validate"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  data: () => ({
    current: { password: "", userAccountUid: "" },
    isLoading: false
  }),
  components: { LoadingLock, ValidationProvider },
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapState("member", ["loginToken"]),
    displayAccountLabel() {
      return `${this.targetData.userAccount} (${this.targetData.nickname})`
    }
  },
  methods: {
    onClose() {
      this.$emit("close", true)
      this.resetToDefault()
    },
    assignDefaultValues() {
      this.current.userAccountUid = this.targetData.userAccountUid
    },
    resetToDefault() {
      this.current.password = ""
      this.current.userAccountUid = ""
    },
    async validate() {
      const result = await this.$refs["userPasswordInput"].validate()
      return result.valid
    },
    async submitRequest() {
      const isValid = await this.validate()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          userAccountUid: this.current.userAccountUid,
          password: this.current.password
        }

        const res = await deleteUser(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
