<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="600px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  @opened="assignDefaultValues"
  center
)
  .permission-manage-edit(id="divEditAccInBackUser")
    .modal__title 編輯帳號

    .modal__row
      .modal__label 帳號* :
      .modal__text(id="labAccInEditBackUser") {{ this.targetData.userAccount }}

    .modal__row
      .modal__label 暱稱* :
      UserNicknameInput(
        domId="iptNickInEditBackUser"
        :isRequired="true"
        @input="setUserNickname"
        ref="userNicknameInput"
      )

    .modal__row
      .modal__label 角色* :
      PermissionRoleList.user-manage__permission-list(
        domId="divCharInEditBackUser"
        :class="[isPermissionRoleListValid?'':'is-invalid']"
        @change="setPermissionRoleList"
        ref="permissionRoleList"
      )

    .modal__row
      .modal__label 電子郵件* :
      EmailInput(
        domId="iptEmailInEditBackUser"
        :isRequired="true"
        @input="setEmail"
        ref="emailInput"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInEditBackUser"
        @click="onClose"
      ) 取消

      .primary-button.modal__item(
        id="btnSaveInEditBackUser"
        @click="submitRequest"
      ) 確認

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import EmailInput from "@/components/inputs/Email.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import PermissionRoleList from "@/components/common/PermissionRoleList.vue"
import { mapState } from "vuex"
import { updateUser } from "@/api/User.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  data: () => ({
    current: {
      userAccountUid: "",
      nickname: "",
      email: "",
      permissionRoles: []
    },
    isPermissionRoleListValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"])
  },
  components: { LoadingLock, EmailInput, UserNicknameInput, PermissionRoleList },
  mixins: [ErrorMessageMixin],
  methods: {
    setPermissionRoleList(payload) {
      this.current.permissionRoles = payload
      this.isPermissionRoleListValid = true
    },
    assignDefaultValues() {
      this.$refs["userNicknameInput"].setValue(this.targetData.nickname)
      this.$refs["emailInput"].setValue(this.targetData.email)
      this.$refs["permissionRoleList"].setPermissionRoles(this.targetData.permissionRoles)
      this.current.userAccountUid = this.targetData.userAccountUid
      this.current.permissionRoles = this.targetData.permissionRoles
    },
    setUserNickname(data) {
      this.current.nickname = data
    },
    setEmail(data) {
      this.current.email = data
    },
    onClose() {
      this.$emit("close", true)
      this.resetToDefault()
    },
    resetToDefault() {
      this.current.email = ""
      this.current.nickname = ""
      this.userAccountUid = ""
      this.permissionRoles = []
      this.isPermissionRoleListValid = true
    },
    validatePermissionRoleList() {
      if (this.current.permissionRoles.length > 0) {
        this.isPermissionRoleListValid = true
        return true
      } else {
        this.isPermissionRoleListValid = false
        return false
      }
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userNicknameInput"].validate(),
        this.$refs["emailInput"].validate()
      ])

      const isAllValid = result.every(x => x.valid === true)
      const isValid = this.validatePermissionRoleList()

      return isAllValid && isValid
    },
    async submitRequest() {
      const isValid = await this.validInputs()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          userAccountUid: this.current.userAccountUid,
          nickname: this.current.nickname,
          email: this.current.email,
          permissionRoles: this.current.permissionRoles
        }

        const res = await updateUser(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
          this.onClose()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
