<template lang="pug">
GameRecordsReport(
  :reportTableHeaders="reportTableHeaders"
)
</template>

<script>
import GameRecordsReport from "@/components/common/GameRecords/Report.vue"

export default {
  components: {
    GameRecordsReport
  },
  data: () => ({
    reportTableHeaders: [
      { label: "廳館", name: "gameHall", QA_CSS: "_roomName" },
      { label: "遊戲類型", name: "gameType", QA_CSS: "_gameType" },
      { label: "桌種", name: "gameTable", QA_CSS: "_tableType" },
      { label: "系統桌號", name: "gameSystemTableCode", QA_CSS: "_tableId" },
      { label: "前台桌號", name: "gameTableCode", QA_CSS: "_systemId" },
      { label: "靴號", name: "gameShoeNumber", QA_CSS: "_shoeNo" },
      { label: "局號", name: "gameRoundNumber", QA_CSS: "_roundNo" },
      { label: "開局時間", name: "gameRoundStartTime", QA_CSS: "_gameRoundStartTime" },
      { label: "狀態", name: "gameState", QA_CSS: "_status" },
      { label: "操作", name: "operates", QA_CSS: "_operate" }
    ]
  })
}
</script>

<style lang="stylus">
.game-records
  &__row
    grid-template-columns repeat(3, 140px) repeat(3, 110px) 100px 165px 100px 100px
</style>
