<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <div v-if="mode.view">
      <h1 id="labGameRecordTitle">遊戲紀錄</h1>
      <div class="filterbar _c_filterbar">
        <div class="_item filterType">
          <div
            v-for="item in searchItem"
            :class="{'_bItem':true,'active':item.active}"
            :id="item._id"
            @click="changeSearchItem(item);"
          >{{item.title}}</div>
        </div>
        <div class="_item dateRange" v-if="searchItem.ByDateTime.active">
          <div
            id="btnTodayInGameRecord"
            :class="{_bItem:true,active:activeItem=='today'}"
            @click="setDate('today')"
          >今天</div>
          <div
            id="btnThisWeekInGameRecord"
            :class="{_bItem:true,active:activeItem=='week'}"
            @click="setDate('week')"
          >本周</div>
          <div
            id="btnThisMonInGameRecord"
            :class="{_bItem:true,active:activeItem=='month'}"
            @click="setDate('month')"
          >本月</div>
          <div
            id="btnLastMonInGameRecord"
            :class="{_bItem:true,active:activeItem=='LastMonth'}"
            @click="setDate('LastMonth')"
          >上月</div>
        </div>

        <div class="_item" v-if="searchItem.ByDateTime.active">
          <div class="_t">開始日期</div>
          <el-date-picker
            id="btnStartTimeInGameRecord"
            v-model="startTime"
            align="right"
            type="datetime"
            placeholder="選擇日期"
            :picker-options="pickerOptionsStart"
            popper-class="_c_picker"
            size="small"
            :class="{'game-record__date-picker':true,'_input':true,'v_error':V_err.has('n_startTime')}"
            default-time="00:00:00"
            format="yyyy/MM/dd HH:mm:ss"
            value-format="yyyy-MM-dd HH:mm:ss"
            v-validate="{required:true}"
            name="n_startTime"
            @change="changeEnd"
          ></el-date-picker>
        </div>
        <div class="_item" v-if="searchItem.ByDateTime.active">
          <div class="_t">結束日期</div>
          <el-date-picker
            id="btnEndTimeInGameRecord"
            v-model="endTime"
            align="right"
            type="datetime"
            placeholder="選擇日期"
            :picker-options="pickerOptionsEnd"
            popper-class="_c_picker"
            size="small"
            :class="{'game-record__date-picker':true,'_input':true,'v_error':V_err.has('n_endTime')}"
            value-format="yyyy-MM-dd HH:mm:ss"
            format="yyyy/MM/dd HH:mm:ss"
            default-time="23:59:59"
            v-validate="{required:true}"
            name="n_endTime"
            @change="changeStart"
          ></el-date-picker>
        </div>

        <div class="_item" v-if="searchItem.ByDateTime.active">
          <div class="_t">廳館</div>
          <select id="selRoomInGameRecord" v-model="d_themes">
            <option v-for="item in C_themes" :value="item.uid" :key="item.uid">{{item.title}}</option>
          </select>
        </div>

        <div class="_item" v-if="searchItem.ByRound.active">
          <div class="_t">廳館</div>
          <select id="selRoomInGameNo" v-model="d_themes">
            <option v-for="item in C_themes" :value="item.uid" :key="item.uid">{{item.title}}</option>
          </select>
        </div>

        <div class="_item" v-if="searchItem.ByDateTime.active">
          <GameTypeWithTableType
            @ChangeGameTypeId="setGameTypeId"
            @ChangeTableTypeId="setTableTypeId"
            :prop_DomId="{GameTypeId:'selGameTypeInGameRecord',TableTypeId:'selTableTypeInGameRecord'}"
            :enabledSelectAll="false"
          ></GameTypeWithTableType>
        </div>
        <div class="_item" v-if="searchItem.ByRound.active">
          <div class="_t">前台桌號*</div>
          <input
            id="iptTableNo"
            type="text"
            v-model="d_frontCode"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_systemCode')}"
            v-validate="{required:true,alpha_num:true,max:3}"
            name="n_systemCode"
            maxlength="3"
          />
        </div>

        <div class="_item" v-if="searchItem.ByRound.active">
          <div class="_t">靴號*</div>
          <input
            id="iptBootNo"
            type="text"
            v-model="d_shoeNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_shoeNo')}"
            v-validate="{required:true,integer:true,min:1,max:20}"
            name="n_shoeNo"
          />
        </div>

        <div class="_item" v-if="searchItem.ByRound.active">
          <div class="_t">局號*</div>
          <input
            id="iptGameNo"
            type="text"
            v-model="d_roundNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_roundNo')}"
            v-validate="{required:true,integer:true,min:1,max:5}"
            name="n_roundNo"
          />
        </div>
        <div
          id="btnSearchInGameRecord"
          class="_btn_c"
          @click="TodoSearch()"
          v-if="searchItem.ByDateTime.active"
        >搜尋</div>
        <div
          id="btnSearchInGameNo"
          class="_btn_c"
          @click="TodoSearch()"
          v-if="searchItem.ByRound.active"
        >搜尋</div>
      </div>

      <div id="tabGameRecord">
        <div class="t_f" v-if="d_list.length > 0">
          <div class="_col _roomName">廳館</div>
          <div class="_col _gameType">遊戲類型</div>
          <div class="_col _tableType">桌種</div>
          <div class="_col _systemId">系統桌號</div>
          <div class="_col _tableId">前台桌號</div>
          <div class="_col _shoeNo">靴號</div>
          <div class="_col _roundNo">局號</div>
          <div class="_col _betAmount">總投注</div>
          <div class="_col _gameRoundStartTime">開局時間</div>
          <div class="_col _status">狀態</div>
          <div class="_col _operate">操作</div>
        </div>
        <div class="t_d" v-for="(item, index2) in d_list" v-if="d_list.length > 0">
          <div class="_col _roomName">{{item.themeTitle['ZH-TW']}}</div>
          <div class="_col _gameType">{{item.gameSetTitle}}</div>
          <div class="_col _tableType">{{item.tableSpeciesTitle}}</div>
          <div class="_col _systemId">{{item.tableId}}</div>
          <div class="_col _tableId">{{item.tableFrontId}}</div>
          <div class="_col _shoeNo">{{item.shoeNo}}</div>
          <div class="_col _roundNo">{{item.roundNo}}</div>
          <div class="_col _betAmount">{{item.totalBet | toMoney}}</div>
          <div class="_col _gameRoundStartTime">{{item.gameRoundStartTime}}</div>
          <div class="_col _status">{{item.stateTitle}}</div>
          <div class="_col _operate">
            <div
              :class="{_btn_c:true,c_detail:(item.state == 3) || (item.state==4)}"
              @click="toDoEdit(item)"
              v-if="item.state != '2'"
            >{{item.state | stateText}}</div>
          </div>
        </div>
      </div>

      <div id="divNoResult" v-if="d_list.length==0  && isSearched" class="NoResult">查無資料</div>
      <div v-if="!isSearched" class="NoResult">請輸入搜尋條件</div>

      <div v-if="pageNum > 1" class="pagination">
        <pagination
          :domIdList="paginations.domId"
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
        ></pagination>
      </div>
    </div>

    <GameRecord_edit
      v-if="mode.edit"
      @toExit="init();"
      @toCancel="switchMode('view');"
      :P_GameRecordUid="editd.GameRecordUid"
      :P_state="editd.state"
      :prop_subTitle="prop_subTitle"
      :prop_loginToken="loginToken"
      :prop_ReturnBetDisable="(editd.state == 1) && (editd.totalBet == 0)"
    ></GameRecord_edit>
  </div>
</template>

<script>
import c_nav from "@/components/basic/nav.vue"
import GameManager from "@/services/GameManager"
import pagination from "@/components/basic/pagination.vue"
import GameRecord_edit from "@/components/projects/ele/GameRecord.editELE.vue"
import common from "@/libs/common"
import GameTypeWithTableType from "@/components/filters/GameTypeWithTableType.vue"

import { mapState } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: "遊戲記錄 %s"
    }
  },
  components: {
    pagination: pagination,
    GameRecord_edit: GameRecord_edit,
    c_nav,
    GameTypeWithTableType: GameTypeWithTableType
  },
  data() {
    return {
      d_nav: [
        { title: "遊戲管理", islink: false, path: "" },
        { title: "遊戲紀錄", islink: true, path: this.$route.path }
      ],
      activeItem: "today",
      fType: {
        G1: true,
        G2: false
      },
      mode: {
        view: true,
        edit: false
      },
      startTime: "",
      endTime: "",
      d_themes: "",
      d_gameTypes: "",
      d_tableTypes: "",
      d_list: [],
      currentPage: 1,
      pageNum: 0,
      pageSize: 20,
      editd: {
        gameTypeUid: "",
        GameRecordUid: "",
        state: "",
        totalBet: 0
      },
      d_shoeNo: "",
      d_roundNo: "",
      d_systemCode: "",
      d_frontCode: "",
      d_tableId: "",
      readonly: false,
      prop_subTitle: "",
      domId: {
        active: {
          themeId: "selRoomInGameRecord",
          searchBtn: "btnSearchInGameRecord"
        },
        G1: {
          themeId: "selRoomInGameRecord",
          searchBtn: "btnSearchInGameRecord"
        },
        G2: {
          themeId: "selRoomInGameNo",
          searchBtn: "btnSearchInGameNo"
        }
      },
      pickerOptionsStart: {},
      pickerOptionsEnd: {},
      searchItem: {
        ByDateTime: {
          title: "時間/遊戲",
          _id: "btnTimeGameInGameRecord",
          active: true,
          paramKey: "gameResultByDateTime"
        },
        ByRound: {
          title: "遊戲局號",
          _id: "btnGameNoInGameRecord",
          active: false,
          paramKey: "gameResultByRound"
        }
      },
      isSearched: false
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInGameRecord",
          previousPage: "btnPrevPageInGameRecord",
          inputPage: "iptPageInGameRecord",
          actionButton: "btnSearchPageInGameRecord",
          nextPage: "btnNextPageInGameRecord",
          lastPage: "btnLastPageInGameRecord"
        }
      }
    },
    C_themes() {
      var re = this.$store.getters["game/Get_halls"]
      return re
    },
    C_searchItemActive() {
      var re
      _.forEach(this.searchItem, function(v, k) {
        if (v.active) {
          re = _.cloneDeep(v)
          return false
        }
      })
      return re
    }
  },
  methods: {
    setGameTypeId(val) {
      this.$data.d_gameTypes = val
    },
    setTableTypeId(val) {
      this.$data.d_tableTypes = val
    },
    changeSearchItem(item) {
      if (item.active) return
      var a = _.cloneDeep(this.$data.searchItem)
      _.forEach(a, function(v, k) {
        if (JSON.stringify(v) == JSON.stringify(item)) {
          a[k].active = true
        } else {
          a[k].active = false
        }
      })

      this.$data.searchItem = _.cloneDeep(a)
    },
    changeStart() {
      var endTime = new Date(this.$data.endTime).getTime()
      var LimitDate = common.diffDay(new Date(), -2)
      var LimitTime = new Date(LimitDate + " 00:00:00").getTime()
      this.pickerOptionsStart = Object.assign({}, this.pickerOptionsStart, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a > endTime || a < LimitTime
          return re
          //return time.getTime() > endTime;
        }
      })
    },
    changeEnd() {
      var startTime = new Date(this.$data.startTime).getTime()
      var today = new Date()
      var TodayTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), "23", "59", "59")
      this.pickerOptionsEnd = Object.assign({}, this.pickerOptionsEnd, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a < startTime || a > TodayTime
          return re
          //return time.getTime() < startTime;
        }
      })
    },
    init() {
      this.switchMode("view")
      this.search()
    },
    toDoEdit(item) {
      //this.$data.editd.gameTypeUid = item.gameTypeUid;
      this.$data.editd.GameRecordUid = item.uid
      this.$data.editd.state = item.state
      this.$data.editd.totalBet = item.totalBet

      this.$data.readonly = item.state == 3 || item.state == 4

      this.switchMode("edit")
    },
    switchMode(item) {
      var mode = this.$data.mode
      _.forEach(mode, function(v, k) {
        mode[k] = false
      })
      mode[item] = true
    },
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.search()
    },
    setDate(item) {
      this.$data.activeItem = item
      var day = common.setDayV2(item)
      this.$data.startTime = day.start
      this.$data.endTime = day.end

      this.changeStart()
      this.changeEnd()
    },
    TodoSearch() {
      this.$data.currentPage = 1
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }

        _this.search()
      })
    },
    search() {
      var t = this.$data

      var postData = {
        pageSize: t.pageSize,
        pageIndex: t.currentPage - 1,
        themes: t.d_themes == "" ? [] : [t.d_themes]
      }

      var addPostData = {}

      var searchItem = this.$data.searchItem
      switch (true) {
        case searchItem.ByDateTime.active:
          addPostData = {
            gameSets: t.d_gameTypes == "" ? [] : [t.d_gameTypes],
            tableSpecies: t.d_tableTypes == "" ? [] : [t.d_tableTypes],
            roundTime: {
              start: common.timeZoneApply(t.startTime, true),
              end: common.timeZoneApply(t.endTime, true)
              // end: common.timeZoneApply(common.LimitNowTme(t.endTime), true)
            }
          }

          break

        case searchItem.ByRound.active:
          addPostData = {
            frontCode: t.d_frontCode,
            shoeNo: t.d_shoeNo,
            roundNo: t.d_roundNo
          }

          break
      }

      postData = Object.assign(postData, addPostData)

      var a = this.C_searchItemActive
      var _Loading = this.$Loading.service({ customClass: "_loading" })

      var _this = this
      GameManager.gameRecordsV2(this.loginToken, postData, a.paramKey)
        .then(function(res) {
          if (res.length == 0) {
            _this.$data.d_list = []
            _this.$data.currentPage = 1
            _this.$data.pageNum = 0
            _this.$data.isSearched = true
            _Loading.close()
            return
          }

          var rows = _.cloneDeep(res.rows)
          _.forEach(rows, function(v, k) {
            rows[k].gameRoundStartTime = common.timeZoneApply(rows[k].gameRoundStartTime, false)
          })

          _this.$data.d_list = _.cloneDeep(rows)
          _this.$data.currentPage = res.pagination.pageIndex + 1
          _this.$data.pageNum = res.pagination.pageCount

          _this.$data.isSearched = true
          setTimeout(function() {
            _Loading.close()
          }, 500)
        })
        .catch(function(msg) {
          _Loading.close()
          console.log("msg : ", msg)
        })
    }
  },
  async mounted() {
    this.setDate("today")
    const result = await GameManager.getBasicItems(this.loginToken, ["themes"])
    this.$store.dispatch("game/Set_halls", result.themes)
    this.d_themes = result.themes[0].uid
  },
  watch: {
    "searchItem.ByDateTime.active": function(val) {
      if (val) {
        this.d_themes = this.C_themes[0].uid
        this.domId.active = { ...this.domId.G1 }
      }
    },
    "searchItem.ByRound.active": function(val) {
      if (val) {
        this.d_themes = this.C_themes[0].uid
        this.d_shoeNo = ""
        this.d_roundNo = ""
        this.d_tableId = ""

        this.domId.active = { ...this.domId.G2 }
      }
    },
    "mode.edit": function(val) {
      if (val) {
        var title = ""

        if (this.$data.readonly) {
          title = "檢視遊戲紀錄"
        } else {
          title = "修改遊戲紀錄"
        }

        this.$data.prop_subTitle = title

        this.$data.d_nav.push({ title: title, islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    }
  },
  filters: {
    stateText: function(state) {
      var t = ""
      switch (state) {
        case "2":
          t = "中斷"
          break

        case "1":
          t = "編輯"
          break

        case "3":
        case "4":
          t = "詳情"
          break
      }

      //var t = (value === "1")?'啟用':'上鎖';
      return t
    }
  }
}
</script>

<style lang="less" scoped>
@w: 1200px;

.game-record {
  &__date-picker {
    width: 185px;
  }
}

.NoResult {
  width: @w;
}

.pagination {
  width: @w;
  margin-top: 20px;
  text-align: right;
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;
}

._btn_c {
  width: 50px;

  &.c_detail {
    color: #000000;
    background-color: #ffffff;
  }
}

._col {
  max-width: 200px;
  flex: 1;
  &._betAmount {
    justify-content: right;
    flex: 1.5;
  }
  &._gameRoundStartTime {
    flex: 2.5;
  }

  &._roomName {
    flex: 1.5;
  }

  &._tableId {
    flex: 1.5;
  }

  &._shoeNo {
    flex: 1.5;
  }
}

.filterbar {
  ._item {
    min-width: 140px;
  }
}

.filterType,
.dateRange {
  display: inline-flex;
}

.filterType {
  ._bItem {
    width: 90px;
  }
}

.dateRange {
  ._bItem {
    width: 50px;
  }
}
</style>
