<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <h1>系統維護</h1>
    <div class="_viewPanel" v-if="mode.view">
      <div class="tabs">
        <div class="_btn_c _apply" @click="switchMode('add')" id="btnCreateMaintainInMaintain">維護申請</div>
        <div
          v-for="(item,key) in tabs"
          :class="{tab:true,active:item.active}"
          @click="changeTab(key)"
          :id="item.id"
        >{{item.title}}</div>
      </div>
      <div class="tabArea">
        <c_ing v-if="tabs.ing.active"></c_ing>
        <c_record v-if="tabs.record.active"></c_record>
      </div>
    </div>
    <c_apply v-if="mode.add" @toExit="switchMode('view')"></c_apply>
  </div>
</template>

<script>
import c_nav from "@/components/basic/nav.vue"
import c_record from "@/components/projects/ele/MaintainManage/MaintainManage.record.vue"
import c_ing from "@/components/projects/ele/MaintainManage/MaintainManage.ing.vue"
import c_apply from "@/components/projects/ele/MaintainManage/MaintainManage.apply.vue"


export default {
  metaInfo() {
    return {
      titleTemplate: "維護管理 %s"
    }
  },
  components: {
    c_ing: c_ing,
    c_record: c_record,
    c_apply: c_apply,
    c_nav
  },
  data() {
    return {
      d_nav: [
        { title: "維護管理", islink: false, path: "" },
        { title: "系統維護", islink: true, path: this.$route.path }
      ],
      loginToken: this.$store.getters["member/loginToken"],
      casinoLocationId: "",
      tabs: {
        ing: {
          active: true,
          title: "系統維護",
          id: "btnSysMaintain"
        },
        record: {
          active: false,
          title: "維護紀錄",
          id: "btnMaintainRecord"
        }
      },
      mode: {
        view: true,
        add: false
      }
    }
  },
  methods: {
    changeTab(item) {
      _.forEach(this.$data.tabs, function(v, k) {
        v.active = false
      })
      this.$data.tabs[item].active = true
    },
    switchMode(item) {
      var mode = this.$data.mode
      _.forEach(this.$data.mode, function(v, k) {
        mode[k] = false
      })

      mode[item] = true
    }
  },
  computed: {
    casinoLocation() {
      var re = this.$store.getters["game/Get_casinoLocations"]
      if (re.length > 0) this.$data.casinoLocationId = re[0].uid

      return re
    }
  },
  watch: {
    "mode.add"(val) {
      if (val) {
        var title = "維護申請"

        this.$data.d_nav.push({ title: title, islink: false, href: "" })
      } else {
        this.$data.d_nav.pop()
      }
    }
  },
  created() {
    var _this = this
  }
}
</script>

<style lang="less" scoped>
@w1 : 70%;
.tabs {
  display: flex;
  height: 30px;
  position: relative;
  margin: 20px 0px 0px 0px;
  width: @w1;

  .tab {
    height: 100%;
    position: relative;
    min-width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #e4e4e4;

    font-size: 13px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;

    &:last-child {
      border-right: 1px solid #000000;
    }

    &.active {
      background-color: #ffffff;
    }
  }
}

.tabArea {
  width: @w1;
  border: 1px solid #000000;
  padding: 15px;
  box-sizing: border-box;
}

._btn_c._apply {
  position: absolute;
  min-width: 80px;
  right: 0px;
  top: -10px;
  height: 28px;
}
</style>

