<template lang="pug">
MemberBetRecordsReport(
  :reportTableHeaders="reportTableHeaders"
)
</template>

<script>
import MemberBetRecordsReport from "@/components/common/MemberBetRecords/Report.vue"

export default {
  components: {
    MemberBetRecordsReport
  },
  data: () => ({
    reportTableHeaders: [
      { label: "最高代理帳號", name: "topAgentAccount", QA_CSS: "_agent" },
      { label: "幣別", name: "currencyId", QA_CSS: "_currency" },
      { label: "會員帳號", name: "playerAccount", QA_CSS: "_account" },
      { label: "訂單號", name: "transactionNumber", QA_CSS: "_betNo" },
      { label: "廳館", name: "gameHall", QA_CSS: "_Room" },
      { label: "遊戲類型", name: "gameType", QA_CSS: "_gameType" },
      { label: "系統桌號", name: "gameTableSystemCode", QA_CSS: "_systemId" },
      { label: "前台桌號", name: "gameTableCode", QA_CSS: "_tableId" },
      { label: "靴號", name: "gameShoeNumber", QA_CSS: "_shoeNo" },
      { label: "局號", name: "gameRoundNumber", QA_CSS: "_roundNo" },
      { label: "開牌", name: "gameResult", QA_CSS: "_gameResult" },
      { label: "注區", name: "betArea", QA_CSS: "_playTypeTitle" },
      { label: "總投注", name: "totalBets", QA_CSS: "_betAmount" },
      { label: "有效投注", name: "validBets", QA_CSS: "_validBetAmount" },
      { label: "派彩", name: "payout", QA_CSS: "_winLossAmount" },
      { label: "盈虧", name: "winLossAmount", QA_CSS: "temp" },
      { label: "下注時間", name: "gameBetTime", QA_CSS: "_betTime" },
      { label: "狀態", name: "gameStateText", QA_CSS: "_status" },
      { label: "交易序號", name: "transaction", QA_CSS: "_transactionNumber" }
    ]
  })
}
</script>

<style lang="stylus">
.member-bet-records
  &__row
    grid-template-columns repeat(4, 110px) 80px repeat(5, 75px) 120px 70px repeat(4, 100px) 120px 70px 80px
</style>
