<template>
    <div class="s_panel">

			<div class="b_content" v-if="isView">
				<div class="Banker">
					<div class="Citem" v-for="(item,index) in D_gameResult.Dragon.view">
						<div class="_note">
							龍
						</div>
						<div
							:class="{_card:true,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}"
						>
							<div class="c_title">{{item.title}}</div>
							<div class="c_Board"></div>
						</div>
					</div>
				</div>
				<div class="Player">
					<div class="Citem" v-for="(item,index) in D_gameResult.Tiger.view">
						<div class="_note">
							虎
						</div>
						<div
							:class="{_card:true,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}"
						>
							<div class="c_title">{{item.title}}</div>
							<div class="c_Board"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="b_content" v-if="isEdit">
				<div class="Banker">
					<div class="Citem" v-for="(item,index) in D_gameResult.Dragon.view">
						<div class="_note">
							龍
						</div>
						<div
							:class="{_card:true,isView:!isEdit,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}"
							@click="setBoard_V2(item,D_gameResult.Dragon.result[index]);"
						>
							<div class="c_title">{{item.title}}</div>
							<div class="c_Board"></div>
						</div>
					</div>
				</div>
				<div class="Player">
					<div class="Citem" v-for="(item,index) in D_gameResult.Tiger.view">
						<div class="_note">
							虎
						</div>
						<div
							:class="{_card:true,isView:!isEdit,_N:(item.suit=='N'),_C:(item.suit=='C'),_D:(item.suit=='D'),_S:(item.suit=='S'),_H:(item.suit=='H')}"
							@click="setBoard_V2(item,D_gameResult.Tiger.result[index]);"

						>
							<div class="c_title">{{item.title}}</div>
							<div class="c_Board"></div>
						</div>
					</div>
				</div>
			</div>


		<el-dialog
		  :visible.sync = "allBoardPanel"
		  v-if = "allBoardPanel"
		  width="480px"
		  custom-class = "panelEdit _c_dialog"
		  :show-close = "true"
		  center>

		<div class="allBoard">
			<div class="suit" v-for="suit in d_Boards">
				<div
					:class="{_card:true,_N:(item.suit=='N'),_C:(suit.alias=='C'),_D:(suit.alias=='D'),_S:(suit.alias=='S'),_H:(suit.alias=='H'),_disabled:item.disabled}"
					v-for="item in suit.Boards"
					v-if="!((TaCard.index!=3) && (item.suit=='N'))"
					@click="selBoard(item)"
					>
					<div class="c_title">{{item.title}}</div>
					<div class="c_Board"></div>
				</div>
			</div>
		</div>
		</el-dialog>


	</div>
</template>

<script>
	import common from '@/libs/common';
	export default {
		props : ['prop_DomId','prop_loginToken','prop_isEdit','prop_isView','prop_data'],
		data(){

				var gameResult = this.prop_data || {};
				return {
					d_list : [],
					isView : this.prop_isView || false,
					isEdit : this.prop_isEdit || false,
					D_gameResult  : (function(){
							var re = {
								Dragon :
									{
										result : gameResult.slice(0,1),
										view : [],
										title : '龍'
									},
								Tiger :
									{
										result : gameResult.slice(1,2),
										view : [],
										title : '虎'
									}
								}




							_.forEach(re,function(v,k){

								_.forEach(v.result,function(v1,k1){

									var a = common.getCard(v1)[0];
									re[k].view.push({
										classBoard : '_'+a.suit,
										title : a.title,
										suit : a.suit,
										val : a.val,
										index : k1+1
									});
								});

							});

						return _.cloneDeep(re);
					})(),
					TaCard : {},
					d_Boards : (function(){
						var re = _.cloneDeep(common.cards());
						return re;
					})(),
					allBoardPanel : false
				};
		},
		computed : {

		},
		methods:{
			setVal(){

				var d ;
				var a = this.$data.D_gameResult;



				d = [
						a.Dragon.view[0].val,
						a.Tiger.view[0].val
					];

				this.$emit("setResult",d);
			},
			setOriginVal(){
				this.$emit("setOriginResult",this.prop_data.slice(0,2));
			},
			set_d_Boards(val){

				var tmp = _.cloneDeep(this.$data.d_Boards);

				_.forEach(tmp,function(v,k){
					_.forEach(v.Boards,function(v1,k1){
						if(v1.val == val)
						{
							v1.disabled = true;
						}
						else
						{
							v1.disabled = false;
						}
					});
				});


				this.$data.d_Boards = _.cloneDeep(tmp);

			},
			setBoard_V2(item,val){


				this.set_d_Boards(val);
				this.setBoard(item);
			},
			setBoard(item){


				if(!this.$data.isEdit) return;
				this.$data.allBoardPanel = true;

				_.forEach(this.$data.D_gameResult,function(v,k){
					_.forEach(v.view,function(v1,k1){
						v1.active = false;
					});
				});
				item.active = true;
				this.$data.TaCard = _.cloneDeep(item);
			},
			selBoard(item){


				if(item.disabled) return ;
				var ta = {};
				var flag = false;
				var editCard = this.$data.D_gameResult;
				var tmp = _.cloneDeep(editCard);
				_.forEach(editCard,function(v,k){

					if(flag) return false;
					_.forEach(v.view,function(v1,k1){

						if(flag) return false;

						if(v1.active)
							{
								tmp[k].view[k1] = item;
								tmp[k].view[k1].index = v1.index;
								flag = true;
							}
					});
				});


				this.$data.D_gameResult = _.cloneDeep(tmp);
				this.$data.allBoardPanel = false;

				this.setVal();

			},
			getList(){

			}
		},
		created(){
			this.setVal();
			this.setOriginVal();
		},
		beforeCreate (){

			},
		watch:{

		}
	}
</script>


<style scoped lang="less">
	.s_panel{

		display:flex;
		width: 320px;
		justify-content: space-around;
		select{
			min-width : 150px;
		}
	}

	.Banker,.Player{
		display:flex;
		justify-content: space-around;
		margin:auto 15px;
	}

	.Banker{

	}

	._note{
		margin-bottom:5px;
		text-align:center;
	}

	._modify{
		._card{
			cursor:pointer;
		}
	}

	.suit{
		display:flex;
		._card{
			cursor:pointer;
		}
	}

	.b_content{
			width:100%;
			background-color: rgba(215, 215, 215, 1);
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(121, 121, 121, 1);
			border-radius: 0px;
			height:260px;
			padding:25px;
			display: flex;
			justify-content:center;
			align-items:center;
		}
	.suit ._card._disabled{
		opacity : 0.5;
		background-color:#cccccc;
		cursor:not-allowed;
	}

</style>

