<template>
    <div class="s_panel">

			<div class="b_content" v-if="isView">
				<div class="Banker">
					<div class="_board">
						<div class="pointNum">{{D_gameResult.title}}</div>
						<div class="points">
							<div class="point"
								 v-for="n in D_gameResult.val"
							>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="b_content _modify" v-if="isEdit">
				<div class="Banker">
					<div class="_board" @click="setBoard_V2(D_gameResult._val)">
						<div class="pointNum">{{D_gameResult.title}}</div>
						<div class="points">
							<div class="point"
								 v-for="n in D_gameResult.val"
							>
							</div>
						</div>
					</div>
				</div>
			</div>


		<el-dialog
		  :visible.sync = "allBoardPanel"
		  v-if = "allBoardPanel"
		  width="500px"
		  custom-class = "panelEdit _c_dialog"
		  :show-close = "true"
		  center>

		<div class="allBoard">
			<div class="_board"
				:class="{_disabled:item._disabled}"
				v-for="item in d_Boards"
				@click="selBoard(item);">

				<div class="pointNum">{{item.title}}</div>
					<div class="points">
						<div class="point"
							 v-for="n in item.val"
						>
						</div>
					</div>
			</div>
		</div>
		</el-dialog>


	</div>
</template>

<script>
	import common from '@/libs/common';
	export default {
		props : ['prop_DomId','prop_loginToken','prop_isEdit','prop_isView','prop_data'],
		data(){

				var gameResult = this.prop_data || {};

				return {
					d_list : [],
					isView : this.prop_isView || false,
					isEdit : this.prop_isEdit || false,
					D_gameResult  : (function(){
						var a = gameResult.slice(0,1)[0];
						var re = {};

						re = {
								val : a,
								_val : 	a,
								title : a
							};

						return _.cloneDeep(re);
					})(),
					TaCard : {},
					d_Boards : (function(){

							var all = [1,2,3,4],re=[];
							_.forEach(all,function(v,k){
								re.push({
									val : v,
									_val : v,
									title : v
								})
							});

							return re;
					})(),
					allBoardPanel : false
				};
		},
		computed : {

		},
		methods:{
			setVal(){

				var d ;
				var a = this.$data.D_gameResult;

				d = [a.val];

				this.$emit("setResult",d);
			},
			setOriginVal(){
				this.$emit("setOriginResult",this.prop_data.slice(0,1));
			},
			set_d_Boards(val){

				var tmp = _.cloneDeep(this.$data.d_Boards);

				_.forEach(tmp,function(v,k){

						if(v.val == val)
						{
							v._disabled = true;
						}
						else
						{
							v._disabled = false;
						}
				});

				this.$data.d_Boards = _.cloneDeep(tmp);

			},
			setBoard_V2(val){


				this.set_d_Boards(val);
				this.setBoard();
			},
			setBoard(){

				if(!this.$data.isEdit) return;
				this.$data.allBoardPanel = true;


			},
			selBoard(item){

				if(item._disabled) return ;

				var ta = {};
				var flag = false;
				var tmp = _.cloneDeep(this.$data.D_gameResult);

				tmp.val = item.val;
				tmp.title = item.val;


				this.$data.D_gameResult = _.cloneDeep(tmp);
				this.$data.allBoardPanel = false;

				this.setVal();

			},
			getList(){

			}
		},
		created(){
			//this.getList();
			this.setVal();
			this.setOriginVal();
		},
		beforeCreate (){

			},
		watch:{

		}
	}
</script>


<style scoped lang="less">
	.s_panel{

		display:flex;
		width: 320px;
		justify-content: space-around;
		select{
			min-width : 150px;
		}
	}



	.Banker{
		margin-bottom: 20px;
		flex-direction: column;
	}




	._note{
		margin-bottom:5px;
	}

	._modify{
		._board{
			cursor:pointer;
		}
	}

	._board
		{

			display:flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			flex-wrap: wrap;
			width:95px;
			height:80px;
		}




	.b_content {
			width:100%;
			background-color: rgba(215, 215, 215, 1);
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(121, 121, 121, 1);
			border-radius: 0px;
			height:260px;
			padding:25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	.allBoard{
			width: 450px;
			display: flex;
			justify-content: space-evenly;

			._board{
				cursor:pointer;
				border: 1px solid #333333;
				background-color: #f2f2f2;

				&._disabled
				{
					opacity : 0.5;
					background-color:#cccccc;
					cursor:not-allowed;
				}

			}
		}

	.pointNum{
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 36px;
		color:#000000;
	}


	.points{
		display: flex;
		justify-content: space-evenly;
		width: 100%;

		.point{
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid #333333;
			background-color: #ffffff;
		}

	}


</style>

