<template>
    <div class="s_panel">

			<div class="b_content" v-if="isView">
				<div class="Banker">
					<div class="_board">
						<div class="point"
							:class="D_gameResult.color"
							>{{D_gameResult.val}}</div>
					</div>
				</div>
			</div>

			<div class="b_content _modify" v-if="isEdit">
				<div class="Banker">
					<div class="_board" @click="setBoard_V2(D_gameResult._val)">
						<div class="point"
							:class="D_gameResult.color"
							>{{D_gameResult.val}}</div>
					</div>
				</div>
			</div>


		<el-dialog
		  :visible.sync = "allBoardPanel"
		  v-if = "allBoardPanel"
		  width="500px"
		  custom-class = "panelEdit _c_dialog"
		  :show-close = "true"
		  center>

		<div class="allBoard">
			<div class="_board"
				:class="{_disabled:item._disabled}"
				v-for="item in d_Boards"
				@click="selBoard(item);">
				<div class="point"
					:class="item.color"
				>{{item.val}}</div>
			</div>
		</div>
		</el-dialog>


	</div>
</template>

<script>
	import common from '@/libs/common';
	export default {
		props : ['prop_DomId','prop_loginToken','prop_isEdit','prop_isView','prop_data'],
		data(){

				var gameResult = this.prop_data || {};
				var colorTable = {
						_red : [1,3,5,7,9,12,14,16,18,19,21,23,25,27,30,32,34,36],
						_black : [2,4,6,8,10,11,13,15,17,20,22,24,26,28,29,31,33,35],
						_green : [0]
				};
				return {
					d_list : [],
					isView : this.prop_isView || false,
					isEdit : this.prop_isEdit || false,
					D_gameResult  : (function(){
						var a = gameResult.slice(0,1)[0];
						var re = {};
						_.forEach(colorTable,function(v,k){
								if(v.indexOf(a) != -1)
								{
									re = {
											val : a,
											_val : 	a,
											title : a,
											color : k
										};

									return false;
								}
							});


						return _.cloneDeep(re);
					})(),
					TaCard : {},
					d_Boards : (function(){

							var all = 37;
							var point = 1;
							var re = [];
							var card = {};
							while(point < all)
							{

								_.forEach(colorTable,function(v,k){
									if(v.indexOf(point) != -1)
									{
										card = {val:point,color:k,title:all};
										re.push(card);
										return false;
									}
								});

								point++;

							}

							re.push({val:0,color:"_green",title:0});

							//console.log("re : ",_.cloneDeep(re));

							return re;
					})(),
					allBoardPanel : false,
					colorTable:colorTable
				};
		},
		computed : {

		},
		methods:{
			setVal(){

				var d ;
				var a = this.$data.D_gameResult;

				d = [a.val];

				this.$emit("setResult",d);
			},
			setOriginVal(){
				this.$emit("setOriginResult",this.prop_data.slice(0,1));
			},
			set_d_Boards(val){

				var tmp = _.cloneDeep(this.$data.d_Boards);

				_.forEach(tmp,function(v,k){

						if(v.val == val)
						{
							v._disabled = true;
						}
						else
						{
							v._disabled = false;
						}
				});

				this.$data.d_Boards = _.cloneDeep(tmp);

			},
			setBoard_V2(val){


				this.set_d_Boards(val);
				this.setBoard();
			},
			setBoard(){

				if(!this.$data.isEdit) return;
				this.$data.allBoardPanel = true;


			},
			selBoard(item){

				if(item._disabled) return ;

				var ta = {};
				var flag = false;
				var tmp = _.cloneDeep(this.$data.D_gameResult);

				tmp.val = item.val;
				tmp.title = item.val;
				tmp.color = item.color;

				this.$data.D_gameResult = _.cloneDeep(tmp);
				this.$data.allBoardPanel = false;

				this.setVal();

			},
			getList(){

			}
		},
		created(){
			//this.getList();
			this.setVal();
			this.setOriginVal();
		},
		beforeCreate (){

			},
		watch:{

		}
	}
</script>


<style scoped lang="less">
	.s_panel{

		display:flex;
		width: 320px;
		justify-content: space-around;
		select{
			min-width : 150px;
		}
	}



	.Banker{
		margin-bottom: 20px;
		flex-direction: column;
	}




	._note{
		margin-bottom:5px;
	}

	._modify{
		._board{
			cursor:pointer;
		}
	}

	._board
		{

			display:flex;
			justify-content: center;
			align-items: center;
		}


	.suit{
		display:flex;
		._card{
			cursor:pointer;
		}
	}

	.b_content {
			width:100%;
			background-color: rgba(215, 215, 215, 1);
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(121, 121, 121, 1);
			border-radius: 0px;
			height:260px;
			padding:25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	.allBoard{
			width: 450px;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			._board{
				cursor:pointer;
				margin:6px;

				&._disabled > .point
				{
					opacity : 0.5;
					background-color:#333333;
					cursor:not-allowed;
				}

			}
		}

	.pointNum{
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 36px;
		color:#000000;
	}


	.point{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid transparent;
		color: #ffffff;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		font-weight: bold;

		&._red {
			background-color: red;
		}


		&._black {
			background-color: #000000;
		}

		&._green {
			background-color: green;
		}

	}


</style>

