<template>
    <div class="s_panel">

			<div class="b_content" v-if="isView">
				<div class="Banker">
					<div class="_dice" :class="item.classBoard" v-for="item in D_gameResult.Dice.view">
						<div class="point is1"></div>
						<div class="point is2"></div>
						<div class="point is3"></div>
						<div class="point is4"></div>
						<div class="point is5"></div>
						<div class="point is6"></div>
					</div>
				</div>
			</div>

			<div class="b_content" v-if="isEdit">
				<div class="Banker">
					<div class="_dice EditMode" :class="item.classBoard" v-for="(item,index) in D_gameResult.Dice.view"
					@click="setBoard_V2(item,D_gameResult.Dice.result[index]);">
						<div class="point is1"></div>
						<div class="point is2"></div>
						<div class="point is3"></div>
						<div class="point is4"></div>
						<div class="point is5"></div>
						<div class="point is6"></div>
					</div>
				</div>
			</div>


		<el-dialog
		  :visible.sync = "allBoardPanel"
		  v-if = "allBoardPanel"
		  width="200px"
		  custom-class = "panelEdit _c_dialog"
		  :show-close = "true"
		  center>

		<div class="allBoard">
			<div class="_dice EditMode" :class="item.classBoard"  v-for="item in d_Boards" @click="selBoard(item);">
				<div class="point is1"></div>
				<div class="point is2"></div>
				<div class="point is3"></div>
				<div class="point is4"></div>
				<div class="point is5"></div>
				<div class="point is6"></div>
			</div>
		</div>
		</el-dialog>


	</div>
</template>

<script>
	import common from '@/libs/common';
	export default {
		props : ['prop_DomId','prop_loginToken','prop_isEdit','prop_isView','prop_data'],
		data(){

				var gameResult = this.prop_data || {};
				return {
					d_list : [],
					isView : this.prop_isView || false,
					isEdit : this.prop_isEdit || false,
					D_gameResult  : (function(){
							var re = {
								Dice :
									{
										result : gameResult.slice(0,3),
										view : [],
										title : ''
									},
								}




							_.forEach(re,function(v,k){

								_.forEach(v.result,function(v1,k1){
									let _class = 'point'+v1;
									let a = {classBoard:{}};
									a.classBoard[_class] = true;
									a['val'] = v1;
									re[k].view.push(a);
								});

							});



						return _.cloneDeep({Dice:re.Dice});
					})(),
					TaCard : {},
					d_Boards : (function(){

							var a = [1,2,3,4,5,6],re = [];
							_.forEach(a,function(v1,k1){

									let _class = 'point'+v1;
									let a = {classBoard:{}};
									a.classBoard[_class] = true;
									a['val'] = v1;

									re.push(a);
								});

						return re;
					})(),
					allBoardPanel : false
				};
		},
		computed : {

		},
		methods:{
			setVal(){

				var d ;
				var a = this.$data.D_gameResult;



				d = [
						a.Dice.view[0].val,
						a.Dice.view[1].val,
						a.Dice.view[2].val
					];

				this.$emit("setResult",d.sort());
			},
			setOriginVal(){
				this.$emit("setOriginResult",this.prop_data.slice(0,3).sort());
			},
			set_d_Boards(val){

				var tmp = _.cloneDeep(this.$data.d_Boards);

				_.forEach(tmp,function(v,k){

						if(v.val == val)
						{
							v.classBoard._disabled = true;
						}
						else
						{
							v.classBoard._disabled = false;
						}
				});





				this.$data.d_Boards = _.cloneDeep(tmp);

			},
			setBoard_V2(item,val){


				this.set_d_Boards(val);
				this.setBoard(item);
			},
			setBoard(item){


				if(!this.$data.isEdit) return;
				this.$data.allBoardPanel = true;

				_.forEach(this.$data.D_gameResult,function(v,k){
					_.forEach(v.view,function(v1,k1){
						v1.active = false;
					});
				});
				item.active = true;
				this.$data.TaCard = _.cloneDeep(item);
			},
			selBoard(item){

				if(item.classBoard._disabled) return ;

				var ta = {};
				var flag = false;
				var editCard = this.$data.D_gameResult;
				var tmp = _.cloneDeep(editCard);
				_.forEach(editCard,function(v,k){

					if(flag) return false;
					_.forEach(v.view,function(v1,k1){

						if(flag) return false;

						if(v1.active)
							{
								tmp[k].view[k1] = item;
								tmp[k].view[k1].index = v1.index;
								flag = true;
							}
					});
				});


				this.$data.D_gameResult = _.cloneDeep(tmp);
				this.$data.allBoardPanel = false;

				this.setVal();

			},
			getList(){

			}
		},
		created(){
			//this.getList();
			this.setVal();
			this.setOriginVal();
		},
		beforeCreate (){

			},
		watch:{

		}
	}
</script>


<style scoped lang="less">
	.s_panel{

		display:flex;
		width: 320px;
		justify-content: space-around;
		select{
			min-width : 150px;
		}
	}

	.Banker,.Player{
		display:flex;
		justify-content: space-around;
	}

	.Banker{
		margin-bottom: 20px;
	}

	._note{
		margin-bottom:5px;
	}

	._modify{
		._card{
			cursor:pointer;
		}
	}

	.suit{
		display:flex;
		._card{
			cursor:pointer;
		}
	}

	.b_content {
			width:100%;
			background-color: rgba(215, 215, 215, 1);
			box-sizing: border-box;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(121, 121, 121, 1);
			border-radius: 0px;
			height:260px;
			padding:25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}



	._dice{
			position:relative;
			width:42px;
			height:42px;
			border-radius : 8px;
			border:1px solid #000000;
			background-color:#ffffff;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin:auto 3px;

			&.EditMode {
				cursor:pointer;
			}


			&._disabled{
				opacity : 0.5;
				background-color:#cccccc;
				cursor:not-allowed;
			}


			.point{
				@size : 8px;
				background-color:#000000;
				width:@size;
				height:@size;
				border-radius : 50%;
				position:absolute;
				display:none;
			}

			&.point1 {
				.is1{
					background-color:red;
					width:12px;
					height:12px;
					border-radius : 50%;
					display:block;
				}
			}

			&.point2 {

				@p : 7px;
				.is1{
					top : @p;
					left : @p;
					display:block;
				}

				.is2{
					bottom : @p;
					right : @p;
					display:block;
				}
			}


			&.point3 {

				@p : 7px;
				.is1{
					top : @p;
					left : @p;
					display:block;
				}

				.is2{
					bottom : @p;
					right : @p;
					display:block;
				}

				.is3{
					display:block;
				}


			}

			&.point4 {

				@p : 7px;
				.is1{
					top : @p;
					left : @p;
					display:block;
				}

				.is2{
					bottom : @p;
					right : @p;
					display:block;
				}

				.is3{
					bottom : @p;
					left : @p;
					display:block;
				}

				.is4{
					top : @p;
					right : @p;
					display:block;
				}


			}


			&.point5 {

				@p : 7px;
				.is1{
					top : @p;
					left : @p;
					display:block;
				}

				.is2{
					bottom : @p;
					right : @p;
					display:block;
				}

				.is3{
					bottom : @p;
					left : @p;
					display:block;
				}

				.is4{
					top : @p;
					right : @p;
					display:block;
				}

				.is5{
					display:block;
				}


			}

			&.point6 {

				@p : 7px;
				.is1{
					top : @p;
					left : @p;
					display:block;
				}

				.is2{
					bottom : @p;
					right : @p;
					display:block;
				}

				.is3{
					bottom : @p;
					left : @p;
					display:block;
				}

				.is4{
					top : @p;
					right : @p;
					display:block;
				}

				.is5{

					left : @p;
					display:block;
				}

				.is6{
					right : @p;
					display:block;
				}

			}

		}

		.allBoard{
			width :150px;
		}


</style>

