select,input{
		height:30px;
		box-sizing: border-box;
		min-width:100px;
	}
	
.container{
		background-color:#f2f2f2;
		width:70%;
		box-sizing: border-box;
		padding:30px;
	}

._btn_c{
			width:50px;
			height:30px;
			background-color:#ffffff;
			color:#000000;
			
			&.b_del
			{
				background-color:rgba(102, 102, 102, 1);
				color:#ffffff;
				height:25px;
			}			
	}
	
	.eleTitle{
		background-color: rgba(153, 153, 153, 1);
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		border-color: rgba(204, 204, 204, 1);
		width:150px;
		color:#ffffff;
		font-family: 'Arial Normal', 'Arial';
		font-weight: 400;
		font-style: normal;
		font-size: 13px;
		display:flex;
		height:25px;
		align-items:center;
		padding-left:5px;
	}
	
	.eleContent{
		width:100%;
		background-color: rgba(228, 228, 228, 1);
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		border-color: rgba(204, 204, 204, 1);
		min-height:300px;
		padding:30px;
	}
	
	
	.filterbar{
		display:flex;		
		align-items: flex-end;
		margin-bottom:20px;
		
		._item{
			margin-right:15px;
		}
		
		._t{
			margin:auto auto 3px 2px;
		}
		
	}
	
	
	.t_f{
		
		
		._col {
			height:34px;			
		}
		
	}
	
	
	.t_d{
		
		background-color:#ffffff;
		
		._col{			
			
		}		
	}
	
	._col{
		
		box-sizing:border-box;
		&._del{
			width:30%;
			
		}		
	}
	
	.t2{
	
		.t_f ._col{
			padding:10px;
		}
		
		.t_d ._col{
			flex-direction: row;
			align-items:center;
			min-height: 40px;
			justify-content: flex-start;
			padding:10px;
			height: auto;
		}
	
	}
	
	
	
	
	