body{
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size:14px;
}

._warning{
	border:2px solid rgba(255, 0, 0, 1);
}
.v_error{
		border:1px solid crimson;
	}
._btn_c{
		display:flex;
		justify-content:center;
		align-items:center;
		box-sizing: border-box;
		border-radius: 3px;
		border: 1px solid rgb(0,0,0,1);
		background-color:#666666;
		height: 30px;
		color: #ffffff;
		cursor:pointer;
		font-size:13px;
		min-width:60px;
	}

._btnV3{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid rgb(0,0,0,1);
	background-color:#ffffff;
	height: 25px;
	color: #606266;
	cursor:pointer;
	font-size:13px;
	min-width:50px;
	margin:3px;

	&._primary{
		background-color: #606060;
		color: #ffffff;
	}

	&._disabled{
		opacity: 0.3;
		cursor: not-allowed;
	}

}


._col{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:35px;
	border:1px solid #000000;
	width:100%;
	font-size:14px;
	box-sizing:border-box;
	padding:8px;
	word-wrap: break-word;
	word-break: break-all;
	}

.t_f{
	display:flex;
	background-color:#606060;
	._col{
			color:#ffffff;
			border-right:0px;
			&:last-child{
				border-right:1px solid #000000;
			}
		}
	}

.t_d{
	display:flex;

	._col{
			border-top:0px;
			color:#000000;
			border-right:0px;

			&:last-child{
				border-right:1px solid #000000;
			}

		}

  }

.icon_del{
			background-image:url('../../img/del.png');
			position:relative;
			width:12px;
			height:12px;
			cursor:pointer;
		}
.icon_del2{
			background-image:url('../../img/del2.png');
			position:relative;
			width:7px;
			height:7px;
			cursor:pointer;
		}

@height_v1:30px;

.selectV1{
	height:@height_v1;
	width:100%;
}

.inputV1{
	height:@height_v1 - 1;
	padding:0px;
}

.btnV1{
	width:80px;
	height:@height_v1;
	margin:0px 5px;
}

.btnV2{
	.btnV1();
	height:@height_v1 - 3;
	background-color:#ffffff;
	color:#000000;
}


._c_filterbar{
		display:flex;
		align-items: flex-end;
		margin-bottom:20px;

		._item{
			min-width:100px;
			margin-right:10px;
		}

		._t{
			margin:auto auto 3px 2px;
		}

		select{
			.selectV1();
		}

		input{
			// .inputV1();
		}

		._btn_c{
			.btnV1();

			&_v1{
				._btn_c();
				.btnV2();
				width:50px;
			}

		}

		._bItem{
		cursor:pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		border: 1px solid rgba(204, 204, 204, 1);
		border-right:0px;
		height:@height_v1;
		width:50px;
		font-size:13px;
		&.active {
			background-color: rgba(102, 102, 102, 1);
			color:#ffffff;
		}

		&:last-child {
			border-right:1px solid rgba(204, 204, 204, 1);
		}

	}



}


._c_datePicker{


	&._c_size_large&.el-date-editor.el-input{
		width:250px;
	}

	&.el-date-editor.el-input{
		width:150px;
	}

	.el-input__inner{
		height:@height_v1;
		line-height:@height_v1;
	}
}

._c_MsgBox{

	&.err1{
		background-color:#f2f2f2;
	}

	.el-button{
		background-color:#666666;
		border: 1px solid rgb(0,0,0,1);
		background-color:#666666;
	}
}


._c_dialog{
	background-color: rgba(204, 204, 204, 1);
	.c_f{
		display:flex;
		align-items:center;
		min-height:35px;
		width:75%;
		box-sizing: border-box;
		//padding-left:40px;
		margin:3px auto;
		font-family: 'Arial Negreta', 'Arial';



		.input_t{
			width:30%;
			display:inline-flex;
			justify-content:flex-start;
			font-size: 14px;;
		}

		.input_d{

			@h : 25px;

			display:inline-flex;
			font-size:13px;
			width:200px;
			position:relative;
			input[type=text],input[type=password]{
				height:@h;
				width:100%;
				padding:0px;
				padding-left:5px;
			}

			select{
				height:@h+1;
			}

			align-items:center;
		}

	}

	hr{
			margin : 10px auto 20px auto;
		}


	&._noHeader .el-dialog__header{
		display:none;
	}

	.opbar{
		display: flex;
		justify-content: center;
		margin-top:30px;
	}


	.el-button{
		padding: 8px 15px;
		background: #fff;
		border: 1px solid #dcdfe6;
		color: #606266;

		&--primary{
			background-color:#606060;
			color:#ffffff;
		}
		//._btn_c();
	}

	.reCheckPwd{
		width:100%;
		display:flex;
		justify-content:center;
		margin-top:20px;
		input{
			padding:5px;
			width:80%;
		}
	}

	.c_note{
		text-align: center;
		margin-top:20px;
		font-size:16px;

		.isImportant{
			color:red;
		}
	}


}

.NoResult{
	width: 600px;
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-color:#f2f2f2;

}


._card {

	border:1px solid #cccccc;
	box-shadow: 1px 1px 2px #797979;
	background-color: #ffffff;
	width:28px;
	.c_Board{
		width:25px;
		height:25px;
		background-image:url('../../img/card_100100.png');
		background-size: 50px 50px;
		margin:auto;
	}

	&._S {
		color:#000000;
		.c_Board{background-position: 2px 0px;background-size: 55px 50px;}
		}

	&._H {
		color:#d40000;
		.c_Board{background-position: -25px 0px;}
		}

	&._D {
		color:#d40000;
		.c_Board{background-position: 1px 25px;background-size: 60px 50px;}

		}

	&._C {
		color:#000000;
		.c_Board{background-position: -25px 25px;}
		}

	&._N {
		border:1px solid #cccccc;
		.c_Board{
			background-image:none;
		}
	}


	.c_title {
		text-align: center;
		font-weight:bold;
		display:flex;
		justify-content:center;
		align-items:center;
		height:24px;
	}
}

.el-dialog__wrapper  .reCheckPwdDialog{
		background-color:#f2f2f2;
		font-weight: 700;
	}

.el-scrollbar__wrap{
		overflow-x:hidden;
	}

.el-scrollbar__bar{
		opacity: 1;
	}

.el-scrollbar__thumb{
		background-color: rgba(144,147,153,0.6);
	}

.butBar{
		margin-top: 30px;
		display: block;
		text-align: right;
	}

.butBar_c{
		margin-top: 30px;
		display: block;
		text-align: center;
	}

.playIcon{
	background-image:url('../../img/play.png');
	 background-repeat: none;
	 background-size : contain;
}
._loading{
	background-color : rgba(0,0,0,0.8);
}
.el-dialog__header,.el-dialog__body{
	padding: 0;
}

.el-popover{
	border: 1px darkgray solid;
}

.el-popover--plain{
	padding:10px;
}

.el-popover[x-placement^=bottom] .popper__arrow{
	border-bottom-color: darkgray;
}
