	@w : 1200px;
	._cf{
		display:flex;
		width:@w;
	}
	
	._cd{
		display:flex;
		width:@w;
	}
	
	._col{
	
		border: 1px solid #cccccc;
		border-right:0px;
		display:inline-flex;
		align-items:center;
		word-wrap: break-word;
		word-break: break-all;
		
		&:last-child {
				border-right:1px solid #cccccc;
			}
		
		
		&._remark{ min-width:267px;}
		&._id{ min-width:100px;}
		&._address{ min-width:250px;}
		&._isDefault{ min-width:100px;}
		&._isEnable{ min-width:100px;}
		&._op{ min-width:317px;}
		
	}
	
	.opbar{
		width:@w;
		text-align:right;
		margin-bottom:15px;
	}
	
	
	.row{
		margin:20px 0px;
		
		input[type=text]{
			width :600px;
		}
	}