<template>
  <div class="c_panel">
    <div class="filterbar _c_filterbar">
      <div class="_item">
        <DateRangeSwitch
          :domIdMap="dateRangeSwitchDomIdList"
          :isOnlyHours="true"
          :timeMenu="timeMenu"
          @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
          @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
        ></DateRangeSwitch>
      </div>

      <div class="_item">
        <div class="_t">開始時間</div>
        <DatePicker2
          domId=""
          :isOnlyHoursOfTime="true"
          :defaultDate="startTimeOfToday"
          :enabledRange="startDateEnabledRange"
          @select="setStartDate"
          ref="startDate"
        ></DatePicker2>
      </div>

      <div class="_item">
        <div class="_t">結束時間</div>
        <DatePicker2
          domId=""
          :isOnlyHoursOfTime="true"
          :enabledRange="endDateEnabledRangeMaintain"
          @select="setEndDate"
          ref="endDate"
        ></DatePicker2>
      </div>

      <div class="_item">
        <div class="_t">維護類型</div>
        <select v-model="d_typeId" id="selMaintainType">
          <option value>全部</option>
          <option v-for="item in d_mainTainType" :value="item.id">{{ item.title }}</option>
        </select>
      </div>
      <div class="_btn_c" @click="TodoSearch()" id="btnSearch">搜尋</div>
    </div>

    <div class="t_f" v-if="d_list.length > 0">
      <div class="_col _type">維護類型</div>
      <div class="_col _time">維護時間</div>
      <div class="_col _range">維護範圍</div>
      <div class="_col _reason">維護原因</div>
      <div class="_col _infoTime">前台通知</div>
    </div>
    <div class="t_d" v-for="(item, index2) in d_list" v-if="d_list.length > 0" id="tabMaintainRecord">
      <div class="_col _type">{{ item.mainTainTypeTitle }}</div>
      <div class="_col _time">{{ item.maintainTime }}</div>
      <div class="_col _range">{{ item.range }}</div>
      <div class="_col _reason">{{ item.reason }}</div>
      <div class="_col _infoTime">{{ item.noticeTime }}分鐘</div>
    </div>

    <div v-if="d_list.length == 0 && isSearched" class="NoResult">查無資料</div>
    <div v-if="!isSearched" class="NoResult">請輸入搜尋條件</div>

    <div v-if="pageNum > 1" class="pagination">
      <pagination :pageNum="pageNum" :currentPage="currentPage" @update-currentPage="SetCurrentPage"></pagination>
    </div>
  </div>
</template>

<script>
import MaintainManager from "@/services/MaintainManager"
import pagination from "@/components/basic/pagination.vue"
import common from "@/libs/common"
import { methods as ReportPageMixinMethods, computed as ReportPageMixinComputed } from "@/mixins/ReportPage.js"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import { getDateWithStartTime, getDateWithEndTime, getPreviousDateByDays } from "@/libs/time.js"
export default {
  mixins: [ReportPageMixinMethods, ReportPageMixinComputed],
  components: {
    pagination,
    DatePicker2,
    DateRangeSwitch
  },
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      d_typeId: "",
      d_list: [],
      currentPage: 1,
      pageNum: 0,
      pageSize: 20,
      d_mainTainType: {},
      isSearched: false,
      current: {
        startDate: undefined,
        endDate: undefined
      },
      dateRangeSwitchDomIdList: {},
      timeMenu: [
        { code: "TODAY", label: "今天" },
        { code: "THIS_WEEK", label: "本周" },
        { code: "THIS_MONTH", label: "本月" },
        { code: "LAST_MONTH", label: "上月" }
      ]
    }
  },
  methods: {
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.search()
    },
    TodoSearch() {
      this.$data.currentPage = 1
      this.search()
    },
    search() {
      var t = this.$data
      var postData = {
        pageSize: t.pageSize,
        pageIndex: t.currentPage - 1,
        typeId: t.d_typeId == "" ? [] : [t.d_typeId],
        start: t.current.startDate,
        end: t.current.endDate
      }

      var _this = this
      var _Loading = this.$Loading.service({ customClass: "_loading" })

      MaintainManager.getRecord(this.loginToken, postData, "MaintainsBySystem")
        .then(function(res) {
          if (res.length == 0) {
            _this.$data.d_list = []
            _this.$data.currentPage = 1
            _this.$data.pageNum = 0
            _this.$data.isSearched = true
            _Loading.close()
            return
          }

          var rows = []
          var a = _.cloneDeep(_this.$data.d_mainTainType)
          _.forEach(res.rows, function(v, k) {
            var t = JSON.parse(v.rangeData)
            v.mainTainTypeTitle = _.filter(a, { id: v.typeId })[0].title + "維護"
            v.startTime = common.timeZoneApply(v.startTime, false)
            v.endTime = common.timeZoneApply(v.endTime, false)
            v.maintainTime = v.startTime + " - " + v.endTime

            if (v.typeId === "1") {
              v.range = t.range
            } else if (v.typeId === "3") {
              v.range = t.range[0].themeTitle + " 賭桌" + t.range[0].tableId
            }

            rows.push(v)
          })

          _this.$data.d_list = _.cloneDeep(rows)
          _this.$data.currentPage = res.pagination.pageIndex + 1
          _this.$data.pageNum = res.pagination.pageCount

          _this.$data.isSearched = true
          setTimeout(function() {
            _Loading.close()
          }, 500)
        })
        .catch(function(msg) {
          console.log("msg : ", msg)
          _Loading.close()
        })
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.startDate = result
    },
    setEndDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.current.endDate = result
    },
    endDateEnabledRangeMaintain() {
      const maxPreviousDate = getPreviousDateByDays(90)

      if (this.current.startDate > 0) {
        const rangeLimitDays = 90

        const startDate = new Date(this.current.startDate)
        startDate.setTime(getDateWithStartTime(startDate).getTime())

        const endDate = new Date(this.current.startDate)
        endDate.setDate(endDate.getDate() + rangeLimitDays)

        const today = getDateWithEndTime()
        const result = endDate.getTime() > today.getTime() ? today : endDate

        return [{ from: startDate, to: result }]
      } else {
        const endOfToday = getDateWithEndTime()

        return [{ from: maxPreviousDate, to: endOfToday }]
      }
    }
  },
  created() {
    var _this = this
    MaintainManager.getTypeList(this.loginToken)
      .then(function(res) {
        _this.$data.d_mainTainType = res
        // _this.search();
      })
      .catch(function() {})
  }
}
</script>

<style lang="less" scoped>
@w: 100%;

.c_panel {
  margin-bottom: 50px;
}

.NoResult {
  width: @w;
}

.pagination {
  width: @w;
  margin-top: 20px;
  text-align: right;
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;
}

._btn_c {
  width: 50px;
}

._col {
  // max-width: 20%;
  flex: 1;
  &._time {
    flex: 2;
  }

  &._range {
    flex: 2;
  }
}

.filterbar {
  ._item {
    min-width: 140px;
  }
}
</style>
