<template>
  <div class="panel _c_dialog">
    <div class="subTitle">維護申請</div>
    <hr />
    <div class="row">
      <div class="f_t">維護種類*</div>
      <div class="f_v">
        <div :class="{ mType: true, active: item.active }" v-for="(item, key) in mType" @click="switchMType(item, key)">
          {{ item.title }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="f_t">前台通知：</div>
      <div class="f_v">
        <input
          type="text"
          v-bind:class="{ infoTime: true, _input: true, v_error: V_err.has('infoTime') }"
          v-validate="{ integer: true, required: true, min_value: 1, max_value: 30 }"
          name="infoTime"
          v-model="postd.infoTime"
          id="iptInfoMinuteInMaintain"
        />
        分鐘
      </div>
    </div>

    <div class="row">
      <div class="f_t">維護時間：</div>
      <div class="f_v">
        <DatePicker2
          domId=""
          :isOnlyHoursOfTime="false"
          :enabledRange="startDateEnabledRange"
          @select="setStartDate"
          ref="startDate"
        ></DatePicker2>
      </div>
    </div>

    <!-- <div class="row _top theme_sel" v-if="mType.THEME.active">
			<div class="f_t">選擇廳館：</div>
			<div class="f_v">
				<el-button type="primary" @click="showThemeSel=!showThemeSel" id="btnChooseRoom">選擇廳館</el-button>
				<div :class="{themeContainer:true}" v-if="showThemeSel" id="divChooseRoom">

					<label class="c_list" v-for="item in C_themes">
						<input type="checkbox" :value="item.uid" v-model="themeIdSelected">{{item.title}}
					</label>
				</div>
				<textarea class="themeList" rows="4" cols="50" readonly v-model="themeTitleSelected.title"></textarea>
			</div>
    </div>-->

    <div class="row _top table_sel" v-if="mTypeShow">
      <div class="f_t">選擇賭桌：</div>
      <div class="f_v">
        <el-button type="primary" @click="showTableSel = !showTableSel" id="btnChooseTable">選擇賭桌</el-button>
        <div class="TablesSeledShow">
          <div class="_rows" v-for="item in TablesSeledShow">
            <div class="themeName">{{ item.themeName }}</div>
            <div class="tablesNo">
              <div class="tableNo" v-for="(tableNo, key) in item.tablesNo">
                <div class="_no">{{ tableNo.tableId }}</div>
                <div class="icon_del2" @click="removetableIdSelected(tableNo.uid)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row _top">
      <div class="f_t _reason">維護原因：</div>
      <div class="f_v">
        <textarea
          rows="4"
          cols="50"
          v-bind:class="{ reasonTextarea: true, _input: true, v_error: V_err.has('reason') }"
          v-validate="{ required: true, max: 600 }"
          name="reason"
          v-model="postd.reason"
          id="txtMaintainReasonInMaintain"
        ></textarea>
      </div>
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button @click="cancel()" id="btnCancel">取消</el-button>
      <el-button type="primary" @click="toDoApply()" id="btnSave">確定</el-button>
    </span>

    <el-dialog
      :visible.sync="showTableSel"
      v-if="showTableSel"
      width="600px"
      custom-class="panelEdit_1536559459123 _c_dialog"
      :show-close="true"
      id="divChooseTable"
      center
    >
      <select v-model="selThemeIdFromTable" class="selThemeIdFromTable" id="selRoomList">
        <option v-for="item in C_themes" :value="item.uid">{{ item.title }}</option>
      </select>

      <div class="t_f">
        <div class="_col _sel">
          <input type="checkbox" @click="selAllTableId()" value="true" v-model="selAllTable" />
        </div>
        <div class="_col _tableiId">桌號</div>
        <div class="_col _gameType">遊戲類型</div>
        <div class="_col _tableType">桌種</div>
      </div>

      <div class="t_d" v-for="(item, index) in d_tableList" id="tabTableList" v-if="item.isShow != false">
        <div class="_col _sel">
          <input type="checkbox" v-model="tableIdSelected" :value="item.uid" />
        </div>
        <div class="_col _tableiId">{{ item.systemCode }}</div>
        <div class="_col _gameType">{{ item.gameSetTitle }}</div>
        <div class="_col _tableType">{{ item.tableSpeciesTitle }}</div>
      </div>

      <div v-if="pageNum > 1" class="pagination">
        <pagination :pageNum="pageNum" :currentPage="currentPage" @update-currentPage="SetCurrentPage"></pagination>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import GameManager from "@/services/GameManager"
import pagination from "@/components/basic/pagination.vue"
import MaintainManager from "@/services/MaintainManager"
import common from "@/libs/common"
import DatePicker2 from "@/components/selects/DatePicker2.vue"

export default {
  components: {
    pagination,
    DatePicker2
  },
  data() {
    return {
      loginToken: this.$store.getters["member/loginToken"],
      postd: {
        uid: "",
        infoTime: "",
        reason: "",
        startTime: ""
      },
      mTypeActiveId: "",
      mTypeActiveAlias: "",
      mType: {},
      showThemeSel: false,
      showTableSel: false,
      d_tableList: [],
      selThemeIdFromTable: "",
      pageNum: 0,
      currentPage: 1,
      pageSize: 20,
      d_theme: [],
      tableIdSelected: [],
      themeIdSelected: [],
      themeTitleSelected: {},
      selAllTable: false,
      TablesSeledShow: {},
      mTypeShow: false
    }
  },
  computed: {
    C_themes() {
      var re = this.$store.getters["game/Get_halls"]
      return re
    },
    startDateEnabledRange() {
      const specificDate = new Date()
      const oneDay = 1000 * 60 * 60 * 24
      const DateRange = specificDate.getTime() - oneDay
      return [
        function(date) {
          // return true to enable
          return date.getTime() >= DateRange
        }
      ]
    }
  },
  methods: {
    toDoApply() {
      var _this = this

      this.$validator.validate().then(result => {
        if (!result) {
          return
        }
        _this.doApply()
      })
    },
    doApply() {
      var _d = this.$data

      var _this = this
      var postd = _d.postd
      var typeId = _d.mTypeActiveId
      var TypeAlias = _d.mTypeActiveAlias

      var d = {
        typeId: typeId,
        noticeTime: postd.infoTime,
        startTime: postd.startTime,
        //startTime: common.timeZoneApply(postd.startTime, true),
        reason: postd.reason,
        targetData: (function() {
          var re = []
          switch (TypeAlias) {
            case "ALL":
              re = []
              break

            case "THEME":
              _.forEach(_d.themeTitleSelected.theme, function(v, k) {
                re.push({ uid: v.uid, themeTitle: v.title })
              })

              break

            case "TABLE":
              _.forEach(_d.TablesSeledShow, function(v, k) {
                _.forEach(v.tablesNo, function(v1, k1) {
                  re.push({
                    uid: v1.uid,
                    themeUid: v.uid,
                    tableId: v1.tableId,
                    themeTitle: v.themeName
                  })
                })
              })

            // break;
          }

          return re
        })()
      }

      MaintainManager.toApply(this.loginToken, d)
        .then(function(res) {
          _this.toExit()
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    toExit() {
      this.$emit("toExit")
    },
    cancel() {
      this.toExit()
    },
    removetableIdSelected(uid) {
      var index = this.$data.tableIdSelected.indexOf(uid)

      if (index != -1) {
        this.$data.tableIdSelected.splice(index, 1)
        var themeId = ""
        _.forEach(this.$data.TablesSeledShow, function(v, k) {
          if (typeof v.tablesNo[uid] != "undefined") {
            themeId = k
            return false
          }
        })

        var a = _.cloneDeep(this.$data.TablesSeledShow)

        delete a[themeId].tablesNo[uid]
        if (_.isEmpty(a[themeId].tablesNo)) {
          delete a[themeId]
        }
        this.$data.TablesSeledShow = a
      }
    },
    selAllTableId() {
      var themeId = this.$data.selThemeIdFromTable
      var t = this.$data.tableIdSelected

      if (this.$data.selAllTable) {
        var tt = this.$data.TablesSeledShow[themeId]
        _.forEach(this.$data.d_tableList, function(v, k) {
          if (t.indexOf(v.uid) != -1) {
            t.splice(t.indexOf(v.uid), 1)
            delete tt.tablesNo[v.uid]
          }
        })

        this.$data.selAllTable = false
      } else {
        this.$data.selAllTable = true
        _.forEach(this.$data.d_tableList, function(v, k) {
          if (t.indexOf(v.uid) == -1) {
            t.push(v.uid)
          }
        })
      }
    },
    SetCurrentPage(currentPage) {
      this.$data.currentPage = currentPage
      this.getTable()
    },
    switchMType(item, key) {
      if (item.alias == "TABLE") {
        this.mTypeShow = true
      } else {
        this.mTypeShow = false
      }
      var mType = this.$data.mType
      _.forEach(mType, function(v, k) {
        mType[k].active = false
      })
      mType[key].active = true
      this.$data.mTypeActiveId = mType[key].id
      this.$data.mTypeActiveAlias = mType[key].alias

      this.$data.showTableSel = true
      this.$data.showTableSel = false
    },
    getTheme() {
      var _this = this
      GameManager.getBasicItems(this.loginToken, ["themes"])
        .then(function(res) {
          _this.$data.d_theme = res.themes
          _this.$data.selThemeIdFromTable = res.themes[0].uid
          _this.$store.dispatch("game/Set_halls", res.themes)
        })
        .catch(function() {})
    },
    getTable() {
      var _this = this

      var d = {
        themes: [this.$data.selThemeIdFromTable],
        pageSize: this.$data.pageSize,
        pageIndex: this.$data.currentPage - 1
      }
      GameManager.betTable_list(this.loginToken, d)
        .then(function(res) {
          _this.$data.d_tableList = res.rows
          _this.$data.pageNum = res.pagination.pageCount

          _.forEach(_this.$data.d_tableList, function(v, k) {
            if (v.maintain == 1) {
              v.isShow = false
            }
          })
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    refreshSelAllTab() {
      var selAllTable = true
      var tableIdSelected = this.$data.tableIdSelected
      var d_tableList = this.$data.d_tableList
      _.forEach(d_tableList, function(v, k) {
        if (tableIdSelected.indexOf(v.uid) == -1) {
          selAllTable = false
        }
      })

      if (selAllTable) {
        selAllTable = !(d_tableList.length == 0)
      }

      this.$data.selAllTable = selAllTable
    },
    getTypeList() {
      var _this = this

      MaintainManager.getTypeList(this.loginToken)
        .then(function(res) {
          var a = _.cloneDeep(res)
          _this.$data.mType = a
          _.forEach(a, function(v, k) {
            v.active = k == 0
            _this.$data.mTypeActiveId = v.active ? v.id : _this.$data.mTypeActiveId
            _this.$data.mTypeActiveAlias = v.active ? v.alias : _this.$data.mTypeActiveAlias
            v.title = v.title + "維護"
          })
        })
        .catch(function(err) {
          console.log(err)
        })
    },
    setStartDate(payload) {
      const result = payload ? payload.getTime() : payload
      this.postd.startTime = result
    }
  },
  watch: {
    "mType.THEME.active": function(val) {
      if (val) {
        this.getTheme()
      } else {
        this.$data.themeIdSelected = []
        this.$data.showThemeSel = false
      }
    },
    mTypeShow: function(val) {
      if (val) {
        this.$data.currentPage = 1
        this.getTheme()
      } else {
        this.$data.tableIdSelected = []
        this.$data.TablesSeledShow = {}
        this.$data.selAllTable = false
      }
    },
    themeIdSelected(val) {
      var d_theme = this.$data.d_theme
      var t = { title: [], theme: [] }

      _.forEach(d_theme, function(v, k) {
        if (val.indexOf(v.uid) != -1) {
          t.title.push(v.title)
          t.theme.push(v)
        }
      })

      this.$data.themeTitleSelected = {
        title: t.title.join(" "),
        theme: t.theme
      }
    },
    themeIdSelected2(val) {
      var d_theme = this.$data.d_theme
      var t = []

      _.forEach(d_theme, function(v, k) {
        if (val.indexOf(v.uid) != -1) {
          t.push(v.title)
        }
      })

      this.$data.themeTitleSelected = t.join(" ")
    },
    tableIdSelected(val) {
      //為了效能，前端不會儲存所有廳館，所有賭桌的資料，
      //只會儲存用到的賭桌，因此選擇的table資料，必須
      //從列表的賭桌取的完整資訊

      //非選擇的狀態下
      if (!this.$data.showTableSel) {
        return
      }

      var a = { tablesNo: {}, title: "" }
      var selThemeIdFromTable = this.$data.selThemeIdFromTable
      var d_theme = this.$data.d_theme
      var d_tableList = this.$data.d_tableList

      a = this.$data.TablesSeledShow[selThemeIdFromTable] || a

      _.forEach(d_tableList, function(v, k) {
        if (val.indexOf(v.uid) != -1) {
          a.tablesNo[v.uid] = {
            uid: v.uid,
            tableId: parseInt(v.systemCode) //純數字的排序
          }
        }
      })

      _.forEach(a.tablesNo, function(v, k) {
        if (val.indexOf(v.uid) == -1) {
          delete a.tablesNo[k]
        }
      })

      _.forEach(d_theme, function(v, k) {
        if (v.uid == selThemeIdFromTable) {
          a.themeName = v.title
          a.uid = v.uid
          return false
        }
      })

      var tmpA,
        tmpA1 = {}

      tmpA = _.orderBy(a.tablesNo, ["tableId"], ["asc"])
      _.forEach(tmpA, function(v, k) {
        tmpA1[v.uid] = v
      })

      a.tablesNo = tmpA1

      this.$data.TablesSeledShow[selThemeIdFromTable] = a

      if (_.isEmpty(this.$data.TablesSeledShow[selThemeIdFromTable].tablesNo)) {
        delete this.$data.TablesSeledShow[selThemeIdFromTable]
      }

      this.refreshSelAllTab()

      var tmpB,
        tmpB1 = {}

      tmpB = _.orderBy(this.$data.TablesSeledShow, ["themeName"], ["asc"])

      _.forEach(tmpB, function(v, k) {
        tmpB1[v.uid] = v
      })

      this.$data.TablesSeledShow = tmpB1
    },
    selThemeIdFromTable(val) {
      this.$data.currentPage = 1
      this.getTable()
    },
    showTableSel(val) {
      if (!val) {
        this.$data.selThemeIdFromTable = this.$data.d_theme[0].uid
      }
    },
    showThemeSel(val) {
      if (!val) {
        this.$data.selThemeIdFromTable = this.$data.d_theme[0].uid
      }
    },
    d_tableList(val) {
      this.refreshSelAllTab()
    }
  },
  created() {
    this.getTypeList()
  }
}
</script>

<style>
.panelEdit_1536559459123 {
  background-color: #f2f2f2;
}
</style>

<style lang="less" scoped>
textarea {
  width: 90%;
  display: flex;
}

.themeList,
.tableList {
  margin-top: 5px;
}

.row {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin: 15px 0px;
  position: relative;

  .f_t {
    width: 100px;
    color: #324243;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;

    ._reason {
      display: flex;
      align-items: flex-start;
    }
  }

  .f_v {
    width: 500px;
  }

  &._top {
    align-items: flex-start;
  }
}

.subTitle {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.panel {
  width: 50%;
  border: 1px solid #000000;
  padding: 60px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #333333;
}

.mType {
  border: 1px solid rgba(121, 121, 121, 1);
  padding: 8px 20px;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  // border-right:0px;
  border-radius: 3px;

  &.active {
    background-color: #797979;
    color: #ffffff;
  }
}

.infoTime {
  height: 28px;
  width: 80px;
  padding: 0px;
  text-align: center;
  padding-right: 5px;
  box-sizing: border-box;
}

.dialog-footer {
  display: flex;
  justify-content: center;
}

.table_sel,
.theme_sel {
  position: relative;
  z-index: 10;
}

.themeContainer {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;

  .c_list {
    margin: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
}

._col._sel {
  max-width: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.selThemeIdFromTable {
  margin-bottom: 10px;
}

.TablesSeledShow {
  width: 90%;
  margin-top: 0px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 15px;

  ._rows {
    display: flex;
    margin: 10px 0px;
  }
}

.themeName {
  width: 30%;
}
.tablesNo {
  width: 70%;
}

.tableNo {
  display: inline-flex;
  padding: 5px;
  padding-top: 0px;
  align-items: center;
  margin-righ: 5px;
  ._no {
    text-decoration: underline;
    margin-right: 5px;
  }
}
</style>
